@model ERPMVC.Models.Alert
@addTagHelper *, Kendo.Mvc

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
    {"required","Requerido" }
};
    // var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    //function customFunction(input) {

    //    if (input.attr('name') === "BranchId" && input.val() === "0") {
    //        return false;
    //    }

    //}

    //$('#btnprueba').val("");
</script>

<div id="ModalAlert" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Alertas</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmAlert" kendo-validator="true" asp-action="SaveAlert" asp-controller="Alert" 
									  data-ajax="true"
									  data-ajax-method="post" enctype="multipart/form-data"
                                      data-ajax-begin="onBegin" data-ajax-complete="onComplete"
                                     data-ajax-failure="onFailed" data-ajax-success="onSuccess"

									  class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="AlertId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="AlertId" id="AlertId" class="form-control" readonly style="min-width:100%" />
                                                    <span asp-validation-for="AlertId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Code" class=" control-label" style="min-width:100%">Código</label>
                                                    <input type="text" asp-for="Code" name="Code" id="Code" class="form-control" autocomplete="off" style="min-width:100%" maxlength="100" readonly />
                                                    <span asp-validation-for="Code" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="CloseDate" class=" control-label" style="min-width:100%">Fecha de Cierre</label>
                                                    <input type="text" asp-for="CloseDate" name="CloseDate" id="CloseDate" class="form-control" autocomplete="off" style="min-width:100%" maxlength="100" readonly />
                                                    <span asp-validation-for="CloseDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Type" class=" control-label" style="min-width:100%">Tipo</label>
                                                    <input type="text" asp-for="Type" name="Type" id="Type" class="form-control" autocomplete="off" style="min-width:100%" maxlength="100" readonly />
                                                    <span asp-validation-for="Type" class="text-danger"></span>
                                                </div>
                                            </div>




                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="AlertName" class=" control-label" style="min-width:100%">Alerta</label>
                                                    <input type="text" asp-for="AlertName" name="AlertName" class="form-control" autocomplete="off" style="min-width:100%" maxlength="50" readonly />
                                                    <span asp-validation-for="AlertName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="DocumentName" class=" control-label" style="min-width:100%">Origen</label>
                                                    <input type="text" asp-for="DocumentName" name="DocumentName" id="DocumentName" class="form-control" autocomplete="off" style="min-width:100%" maxlength="100" readonly />
                                                    <span asp-validation-for="DocumentName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Description" class=" control-label" style="min-width:100%">Descripcion</label>
                                                    <input type="text" asp-for="Description" name="Description" id="Description" class="form-control" autocomplete="off" style="min-width:100%" maxlength="100" readonly />
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="AlertType" class=" control-label" style="min-width:100%">Persona/Producto</label>
                                                    <input type="text" asp-for="AlertType" name="AlertType" id="AlertType" class="form-control" autocomplete="off" style="min-width:100%" maxlength="100" readonly />
                                                    <span asp-validation-for="AlertType" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="SujetaARos" class=" control-label" style="min-width:100%">Sujeta a Reporte ROS</label>
                                                    @(Html.Kendo().SwitchFor(m => m.SujetaARos)


                                                                                           .Name("SujetaARos").Messages(m => m.Checked("Si"))//.Readonly(true)
                                                                                                                                             //.Events(ev => ev.Change("onChange"))


                                                    )
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="FalsoPositivo" class=" control-label" style="min-width:100%">Falso Positivo</label>
                                                    @(Html.Kendo().SwitchFor(m => m.FalsoPositivo)


                                                                                           .Name("FalsoPositivo").Messages(m => m.Checked("Si"))

                                                            //.Events(ev => ev.Change("onChange"))

                                                    )
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Estado" class=" control-label" style="min-width:100%">Estado</label>
                                                    <input asp-for="Estado" hidden  />
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                         on-change="SetEstado"
                                                                        on-data-bound="deshabilitar"
                                                                        data-val-required="Valor requerido" style="min-width:100%">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetporGrupoEstado", "Estados",new { GrupoId = 4 })" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="IdEstado" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="ActionTakenId" class=" control-label" style="min-width:100%">Accion Tomada</label>
                                                    <input asp-for="ActionTakenName" hidden  />
                                                    <kendo-dropdownlist name="ActionTakenId"
                                                                        for="@Model.ActionTakenId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        on-change="SetAccion"
                                                                        
                                                                        data-val-required="Valor requerido" style="min-width:100%">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetporGrupoEstado", "Estados",new { GrupoId = 5 })" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="ActionTakenId" class="text-danger"></span>

                                                </div>
                                            </div>




                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="Observacion">Observacion</label>
                                                    <textarea required rows="4" maxlength="500" asp-for="Observacion" class="form-control" name="Observacion" id="Observacion" style="min-width:100%"></textarea>
                                                    <span asp-validation-for="Observacion" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnGuardar" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SetAccion() { $('#ActionTakenName').val($('#ActionTakenId').data('kendoDropDownList').text()) }

    function SetEstado() { $('#Estado').val($('#IdEstado').data('kendoDropDownList').text()) }

   function deshabilitar() {
        debugger;
        var accion = $('#IdEstado').data("kendoDropDownList").text();
        //var estado = $('#Estado').val();
        if (accion == 'Cerrada' ) {
       // if (estado == 'Cerrado') {
            $('#FalsoPositivo').attr('readonly', true);
            $('#SujetaARos').attr('readonly', true);
            $('#AlertType').attr('readonly', true);
            $('#Observacion').attr('readonly', true);
            $('#ActionTakenName').attr('readonly', true);
            $("#btnGuardar").attr("disabled", true);
                    }


    }

    var onBegin = function () {
        //alert("Begin");
        $("#btnGuardar").attr("disabled", true);
    };

    var onComplete = function () {
        var grid = $("#gridAlert").getKendoGrid();
        grid.dataSource.read();
    };

    var onSuccess = function (context) {
        console.log(context);
        $.toast({
            heading: 'Satisfactorio',
            text: '<br/><br/> Datos guardados correctamente.',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'success',
            hideAfter: 30000,
            stack: 6
        });
        $('#ModalAlert').modal('hide');
    };

    var onFailed = function (context) {
        console.log(context);
        $.toast({
            heading: 'Error',
            text: '<br/><br/> Error al Crear Empleado',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'error',
            hideAfter: 30000,
            stack: 6
        });
    };


    
</script>
