@model ERPMVC.DTO.CountryDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
           // {"required","Valor requerido" }
        };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

    }

    //$('#btnprueba').val("");
</script>



<div id="ModalCountry" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Países de alto riesgo segun GAFI</h4>
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmCountry" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveCountry"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Id" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Id" name="Id" class="form-control" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="Id" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="SortName" class=" control-label" style="width:100%">Nombre de clasificación</label>
                                                    <input type="text" asp-for="SortName" name="SortName" class="form-control" required data-required-msg="El Nombre de clasificación es requerido." maxlength="150" autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="SortName" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Name" class=" control-label" style="width:100%">País</label>
                                                    <input type="text" asp-for="Name" name="Name" class="form-control" required data-required-msg="El nombre es requerido." maxlength="150" autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="Name" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">


                                                    <script>
                                                        function GrupoConfiguracionLista() {
                                                            return { Id: 13 };
                                                        }
                                                    </script>

                                                    <label asp-for="ListaId" class="  control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="ListaId"
                                                                        for="ListaId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione busqueda de lista"
                                                                        datatextfield="Nombre"
                                                                        required data-required-msg="La lista es requerida requerida."
                                                                        datavaluefield="Id"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GrupoConfiguracionLista" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="ListaId" class="text-danger"></span>


                                                </div>
                                            </div>






                                            <div class="col-md-4">
                                                <div class="form-group">


                                                    <script>
                                                        function GrupoConfiguracionTipoAlerta() {
                                                            return { Id: 15 };
                                                        }
                                                    </script>

                                                    <label asp-for="TipoAlertaId" class="  control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="TipoAlertaId"
                                                                        for="TipoAlertaId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Tipo alerta "
                                                                        datatextfield="Nombre"
                                                                        required data-required-msg="El tipo de Alerta es requerido."
                                                                        datavaluefield="Id"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GrupoConfiguracionTipoAlerta" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="TipoAlertaId" class="text-danger"></span>

                                                </div>


                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">

                                                    <script>
                                                        function GrupoConfiguracionAccion() {
                                                            return { Id: 16 };
                                                        }
                                                    </script>

                                                    <label asp-for="AccionId" class="  control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="AccionId"
                                                                        for="AccionId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Acción"
                                                                        datatextfield="Nombre"
                                                                        required data-required-msg="La Acción es requerida."
                                                                        datavaluefield="Id"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GrupoConfiguracionAccion" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="AccionId" class="text-danger"></span>



                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">


                                                    <script>
                                                        function GrupoConfiguracionSeguimiento() {
                                                            return { Id: 17 };
                                                        }
                                                    </script>

                                                    <label asp-for="SeguimientoId" class="  control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="SeguimientoId"
                                                                        for="SeguimientoId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Seguimiento"
                                                                        datatextfield="Nombre"
                                                                        required data-required-msg="El seguimineto o monitoreo es requerido."
                                                                        datavaluefield="Id"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GrupoConfiguracionSeguimiento" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="SeguimientoId" class="text-danger"></span>



                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Actualizacion" class=" control-label" style="width: 100%;"></label>
                                                    <kendo-datetimepicker name="Actualizacion"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.Actualizacion"></kendo-datetimepicker>
                                                    <span asp-validation-for="Actualizacion" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <script>
                                                    function GrupoConfiguracionRiesgo() {
                                                        return { Id: 14 };
                                                    }
                                                </script>
                                                <div class="form-group">
                                                    <label asp-for="NivelRiesgo" class="  control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="NivelRiesgo"
                                                                        for="NivelRiesgo"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Nivel de Riesgo"
                                                                        datatextfield="Nombre"
                                                                        required data-required-msg="El nivel de riesgo es requerido."
                                                                        datavaluefield="Id"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GrupoConfiguracionRiesgo" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="NivelRiesgo" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdEstado" class="control-label">Estado</label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        required data-required-msg="El estado es requerido."
                                                                        datavaluefield="IdEstado"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="IdEstado" class="text-danger"></span>
                                                </div>
                                            </div>





                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label asp-for="Comments" class=" control-label" style="width:100%"></label>
                                                    @*<input type="text" asp-for="Comments" name="Comments" class="form-control" autocomplete="off" style="min-width:100%" />*@
                                                    <textarea asp-for="Comments" class="form-control " maxlength="200" rows="5" style="min-width: 100% !important;"></textarea>
                                                    <span asp-validation-for="Comments" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnCountry" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
        function SaveCountry(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnCountry").hide();
            $("#btnCountry").prop("disabled", true);

           // var displayedData = $("#gridCountry").data().kendoGrid.dataSource.view();

            var dataObject = {  'Id': $("#Id").val()===""?"0":$("#Id").val(),
                           'SortName': $("#SortName").val(),
                           'Name': $("#Name").val(),
                           'PhoneCode': $("#PhoneCode").val(),
                           'GAFI': true,
                           'AccionId': $("#AccionId").val(),
                           'AccionName': $("#AccionId").data("kendoDropDownList").text(),
                           'Actualizacion': $("#Actualizacion").getKendoDateTimePicker().value().toJSON(),
                           'ListaId': $("#ListaId").val(),
                           'ListaName': $("#ListaId").data("kendoDropDownList").text(),
                           'NivelRiesgo': $("#NivelRiesgo").val(),
                           'NivelRiesgoName': $("#NivelRiesgo").data("kendoDropDownList").text(),
                           'SeguimientoId': $("#SeguimientoId").val(),
                           'SeguimientoName': $("#SeguimientoId").data("kendoDropDownList").text(),
                           'TipoAlertaId': $("#TipoAlertaId").val(),
                           'TipoAlertaName': $("#TipoAlertaId").data("kendoDropDownList").text(),
                           'Comments': $("#Comments").val(),
                           'IdEstado': $("#IdEstado").val(),
                           'Estado': $("#IdEstado").data("kendoDropDownList").text(),
                           //'FechaCreacion': $("#FechaCreacion").val(),
                           //'FechaModificacion':$("#FechaModificacion").val(),
                           //'Usuariocreacion':$("#Usuariocreacion").val(),
                           //'Usuariomodificacion': $("#Usuariomodificacion").val(),                 
                          //'_Country': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

            var validator = $("#frmCountry").data("kendoValidator");
                 var status = $(".status");

                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveCountry", "Country")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                            RefrescarGrid();

                            $('#ModalCountry').modal('hide');


                            


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validación",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    notification.show({
                        title: "Validación",
                        message: "Datos no validos en el formulario"
                    }, "error");
                }
            

            $("#btnCountry").show();
            $("#btnCountry").prop("disabled", false);
    }
</script>
