@model ERPMVC.DTO.AccountManagementDTO
@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
{"required","Campo requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

    }

</script>



<div id="ModalAccountManagement" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal" >&times;</button>
                <h4 class="modal-title">Bancos</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmAccountManagement" kendo-validator="true" kendo-messages="messages"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveAccountManagement"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Tipos de Cuentas</h3>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="AccountManagementId" class=" control-label" style="width:100%">Id Tipo Cuenta</label>
                                                    <input type="text" asp-for="AccountManagementId" name="AccountManagementId" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="AccountManagementId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="OpeningDate" class=" control-label" style="width:100%">Fecha de Apertura</label>
                                                    <kendo-datepicker name="OpeningDate"
                                                                      value="Model.OpeningDate"
                                                                      format="dd/MM/yyyy"
                                                                      style="width:100%;"
                                                                      data-val-required="La fecha es requerida" />
                                                    <span asp-validation-for="OpeningDate" class="text-danger"></span>
                                                </div>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#dateinput").kendoDateInput();
                                                    });
                                                </script>
                                                @*<div class="form-group">
                    <label asp-for="OpeningDate" class="control-label" style="width:100%">Fecha Apertura</label>
                    <kendo-datepicker name="OpeningDate"
                                      format="dd/MM/yyyy"
                                      style="width:100%;"
                                      value="Model.OpeningDate"
                                      data-val-required="La fecha es requerida" />
                </div>*@
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="BankId" class="control-label">Institucion Financiera</label>
                                                    <kendo-dropdownlist name="BankId"
                                                                        for="@Model.BankId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el banco"
                                                                        datatextfield="BankName"
                                                                        datavaluefield="BankId"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetBank", "Bank")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <script>
                                                    function GetTipoCuenta() {
                                                        return {'Id': 38}
                                                    }
                                                </script>
                                                <div class="form-group">
                                                    <label asp-for="AccountType" class="control-label">Tipo de Cuenta</label>
                                                    <kendo-dropdownlist name="AccountType"
                                                                        for="@Model.AccountType"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el Tipo de Cuenta"
                                                                        datatextfield="Nombre"
                                                                        datavaluefield="Nombre"
                                                                        data-val-required="El Tipo de Cuenta es requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GetTipoCuenta" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="AccountNumber" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="AccountNumber" name="AccountNumber" data-val-required="El Numero de Cuenta es requerido" class="form-control" autocomplete="off" maxlength="50" style="width:100%" onKeyPress="return soloNumeros(event)" />
                                                    <span asp-validation-for="AccountNumber" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-sm-4 col-md-4">
                                            <div class="form-group">
                                                <label asp-for="CurrencyId" class=" control-label" style="width:100%">Moneda</label>
                                                <kendo-dropdownlist name="IdCurrency"
                                                                    for="@Model.CurrencyId"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccionar Moneda"
                                                                    datatextfield="CurrencyName"
                                                                    datavaluefield="CurrencyId"
                                                                    data-val-required="La Moneda es requerida"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                        <transport>
                                                            <read url="@Url.Action("GetCurrency", "Currency")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="CurrencyId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Description" class=" control-label" style="width:100%">Descripción</label>
                                                <input type="text" asp-for="Description" name="Description" data-val-required="La Descripcion es requerida" class="form-control" autocomplete="off" style="min-width:100%" />
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Status" class="control-label">Estado</label>
                                                    <kendo-dropdownlist name="Status"
                                                                        for="@Model.Status"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="NombreEstado"
                                                                       data-val-required="El Estado es requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnAccountManagement" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                        </div>
                                </form>
                                
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return (key >= 48 && key <= 57)
    }
    function RefrescarGrid() {
        var grid = $("#gridAccountManagement").getKendoGrid();
        grid.dataSource.read();
    }
    function SaveAccountManagement(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnAccountManagement").hide();
            $("#btnAccountManagement").prop("disabled", true);

        var displayedData = $("#gridAccountManagement").data().kendoGrid.dataSource.view();
        var _OpeningDate = $("#OpeningDate").getKendoDatePicker().value().toJSON()

        var dataObject = {
            'AccountManagementId': $("#AccountManagementId").val() === "" ? "0" : $("#AccountManagementId").val(),
            'OpeningDate': _OpeningDate,
            'AccountType': $("#AccountType").val(),
            'AccountNumber': $("#AccountNumber").val(),
            'BankId': $("#BankId").val(),
            'BankName': $("#BankId").data("kendoDropDownList").text(),
            'CurrencyId': $("#CurrencyId").val(),
            'CurrencyName': $("#CurrencyId").data("kendoDropDownList").text(),
            'Description': $("#Description").val(),   
            'Status': $("#Status").val(),
            '_AccountManagement': displayedData
            };

            console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

            var validator = $("#frmAccountManagement").data("kendoValidator");
                 var status = $(".status");


                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveAccountManagement", "AccountManagement")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 10000,
                                stack: 6
                            });

                           RefrescarGrid();

                            $('#ModalAccountManagement').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }


        $("#btnAccountManagement").show();
        $("#btnAccountManagement").prop("disabled", false);
    }
</script>