@model ERPMVC.Models.Customer




<script>

    //console.log($.fn.jquery);

    function GetCustomerId() {
        return { CustomerId: $("#CustomerId").val() }
    }
</script>


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        <h1 class="my-0 font-weight-normal" style="color:white">Cliente</h1>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4 ">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label", style = "min-width:100%" })
                    @(Html.Kendo().NumericTextBoxFor(model => model.CustomerId)
                                                                            .Enable(false)
                                                                            .Decimals(0)
                                                                            .HtmlAttributes(new { style = "min-width:100%" })
                    )*@
                                <label asp-for="CustomerId" class="control-label" style="width: 100%;"></label>
                                <input type="text" id="CustomerId" required class="form-control" style="min-width:100%;" asp-for="CustomerId" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label", style = "min-width:100%" })*@
                                <label asp-for="CustomerName" class="control-label" style="width: 100%;"></label>
                                <input type="text" id="CustomerName" required class="form-control" style="min-width:100%;" asp-for="CustomerName" />
                                @*@(Html.Kendo().TextBoxFor(model => model.CustomerName)
                    .HtmlAttributes(new { style = "min-width:100%" })
                        .Enable(true)
                     )*@
                            </div>
                        </div>
                        <div class=" col-md-4">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.RTN, htmlAttributes: new { @class = "control-label", style = "width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.RTN)
                                                                                        //.HtmlAttributes(new { style = "min-width:100%" })
                                                                                        .Enable(true)
                    )*@
                                <label asp-for="RTN" class="control-label" style="width: 100%;"></label>
                                <input type="text" id="RTN" required class="form-control" style="min-width:100%;" asp-for="RTN" />
                            </div>
                        </div>
                    </div>



                    <div class="row">

                        <div class=" col-md-4">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label", style = "min-width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.Address)
                                                                      // .HtmlAttributes(new { style = "min-width:100%" })
                                                                       .Enable(true)
                    )*@
                                <label asp-for="Address" class="control-label" style="width: 100%;"></label>
                                <input type="text" id="Address" required class="form-control" style="min-width:100%;" asp-for="Address" />
                            </div>
                        </div>

                        <div class=" col-md-4">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label", style = "min-width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.City)
                      // .HtmlAttributes(new {  style = "min-width:100%" })
                         .Enable(true)
                    )*@
                                <label asp-for="City" class="control-label" style="width: 100%;"></label>
                                <input type="text" id="City" required class="form-control" style="min-width:100%;" asp-for="City" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label", style = "min-width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.State)
                                                // .HtmlAttributes(new {  style = "min-width:100%" })
                                                  .Enable(true)
                    )*@
                                <label asp-for="State" class="control-label" style="width: 100%;"></label>
                                <input type="text" id="State" required class="form-control" style="min-width:100%;" asp-for="State" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class=" col-md-4">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label", style = "min-width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.ZipCode)
                                                                // .HtmlAttributes(new { style = "min-width:100%" })
                                                                .Enable(true)
                    )*@
                                <label asp-for="ZipCode" class="control-label" style="width: 100%;"></label>
                                <input type="text" id="ZipCode" required class="form-control" style="min-width:100%;" asp-for="ZipCode" />
                            </div>
                        </div>
                        <div class=" col-md-4">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label", style = "width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.Phone)
                                      //  .HtmlAttributes(new { style = "min-width:100%" })
                                        .Enable(true)
                    )*@
                                <label asp-for="Phone" class="control-label" style="width: 100%;"></label>
                                <input type="text" id="Phone" required class="form-control" style="min-width:100%;" asp-for="Phone" />
                            </div>
                        </div>
                        <div class=" col-md-4">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.Identidad, htmlAttributes: new { @class = "control-label", style = "min-width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.Identidad)
                                                                             //  .HtmlAttributes(new { style = "min-width:100%" })
                                                                               .Enable(true)
                    )*@
                                <label asp-for="Identidad" class="control-label" style="width: 100%;"></label>
                                <input type="text" id="Identidad" required class="form-control" style="min-width:100%;" asp-for="Identidad" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.ContactPerson, htmlAttributes: new { @class = "control-label", style = "width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.ContactPerson)
                                                                      //  .HtmlAttributes(new { style = "min-width:100%" })
                                                                        .Enable(true)
                    )*@
                                <label asp-for="ContactPerson" class="control-label" style="width: 100%;"></label>
                                <input type="text" id="ContactPerson" required class="form-control" style="min-width:100%;" asp-for="ContactPerson" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label", style = "width:100%" })
                @(Html.Kendo().TextBoxFor(model => model.Email)
                                                               //     .HtmlAttributes(new { style = "min-width:100%" })
                                                                    .Enable(true)
                )*@
                            <label asp-for="Email" class="control-label" style="width: 100%;"></label>
                            <input type="text" id="Email" required class="form-control" style="min-width:100%;" asp-for="Email" />
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="IdEstado" class="control-label"></label>
                                <kendo-dropdownlist name="IdEstadoCliente" style="width:100%;"
                                                    for="IdEstado"
                                                    id="IdEstadoCliente"
                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                    datatextfield="NombreEstado"
                                                    datavaluefield="IdEstado">
                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                        <transport>
                                            <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                        </transport>
                                    </datasource>
                                </kendo-dropdownlist>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class=" col-md-4">
                            <div class="form-group">
                                <label asp-for="DireccionEnvio" class="control-label" style="width: 100%;"></label>
                                <textarea  id="DireccionEnvio" required class="form-control" style="min-width:100%;" asp-for="DireccionEnvio" ></textarea>
                            </div>
                        </div>

                        <div class=" col-md-4">
                            <div class="form-group">
                                <label asp-for="GrupoEconomico" class="control-label" style="width: 100%;"></label>
                                <input type="text" id="GrupoEconomico" required class="form-control" style="min-width:100%;" asp-for="GrupoEconomico" />
                            </div>
                        </div>

                        <div class=" col-md-4">
                            <div class="form-group">
                                <label asp-for="MontoActivos" class="control-label" style="width: 100%;"></label>
                                <input type="number" id="MontoActivos" required class="form-control" style="min-width:100%;" asp-for="MontoActivos" />
                            </div>
                        </div>

                    </div>


                    <div class="row">

                        <div class=" col-md-4">
                            <div class="form-group">
                                <label asp-for="MontoIngresosAnuales" class="control-label" style="width: 100%;"></label>
                                <input type="number" id="MontoIngresosAnuales" required class="form-control"  style="min-width:100%;" asp-for="MontoIngresosAnuales" />
                            </div>
                        </div>

                        <div class=" col-md-4">
                            <div class="form-group">
                                <label asp-for="Proveedor1" class="control-label" style="width: 100%;"></label>
                                <input type="text" id="Proveedor1" required class="form-control" style="min-width:100%;" asp-for="Proveedor1" />
                            </div>
                        </div>

                        <div class=" col-md-4">
                            <div class="form-group">
                                <label asp-for="Proveedor2" class="control-label" style="width: 100%;"></label>
                                <input type="text" id="Proveedor2" required class="form-control" style="min-width:100%;" asp-for="Proveedor2" />
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">

                            <label asp-for="ClienteRecoger" class="control-label" style="width: 100%;"></label>

                            @(Html.Kendo().SwitchFor(m=>m.ClienteRecoger)
                             .Name("ClienteRecoger")
                             //.Events(ev => ev.Change("onChange"))
                            )

                        </div>
                        <div class=" col-md-4">
                            <div class="form-group">
                                <label asp-for="EnviarlaMensajero" class="control-label" style="width: 100%;"></label>
                                @(Html.Kendo().SwitchFor(m => m.EnviarlaMensajero)
                                          .Name("EnviarlaMensajero")
                                         // .Events(ev => ev.Change("onChange"))
                                )
                            </div>
                        </div>
                
                        <div class=" col-md-4">
                            <div class="form-group">
                                <label asp-for="ConfirmacionCorreo" class="control-label" style="width: 100%;"></label>
                                @(Html.Kendo().SwitchFor(m => m.ConfirmacionCorreo)
                                                 .Name("ConfirmacionCorreo")
                                       // .Events(ev => ev.Change("onChange"))
                                )
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="PerteneceEmpresa" class="control-label" style="width: 100%;"></label>
                                <input type="text" id="PerteneceEmpresa" required class="form-control" style="min-width:100%;" asp-for="PerteneceEmpresa" />
                            </div>
                        </div>
                        
                    </div>



                    <div class="row">
                        <div class="col-md-12">
                            <button id="btnGuardarCliente" type="submit" onclick="SaveCustomer();" class="form-control  btn-miboton">Guardar</button>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>

  <script>
      function SaveCustomer() {

          console.log($("#ClienteRecoger").val());
          console.log($("#EnviarlaMensajero").val());

          var dataObject = {
              'CustomerId': $("#CustomerId").val(),
              'CustomerName': $("#CustomerName").val(),
              'RTN': $("#RTN").val(),
              'CustomerTypeId': $("#CustomerTypeId").val() == null ? 0 : $("#CustomerTypeId").val(),
              'Address': $("#Address").val(),
              'City': $("#City").val(),
              'State': $("#State").val(),
              'ZipCode': $("#ZipCode").val() == null ? 0 : $("#ZipCode").val(),
              'Phone': $("#Phone").val(),
              'Identidad': $("#Identidad").val(),
              'Email': $("#Email").val(),
              'ContactPerson': $("#ContactPerson").val(),
              'IdEstado': $("#IdEstadoCliente").val(),
              'Estado': $("#IdEstadoCliente").data("kendoDropDownList").text(),
              'GrupoEconomico': $("#GrupoEconomico").val(),
              'MontoActivos': $("#MontoActivos").val(),
              'MontoIngresosAnuales': $("#MontoIngresosAnuales").val(),
              'Proveedor1': $("#Proveedor1").val(),
              'Proveedor2': $("#Proveedor2").val(),
              'ClienteRecoger': $("#ClienteRecoger").is(':checked'),
              'EnviarlaMensajero': $("#EnviarlaMensajero").is(':checked'),    
              'ConfirmacionCorreo': $("#ConfirmacionCorreo").is(':checked'),
              'DireccionEnvio': $("#DireccionEnvio").val(),
              'PerteneceEmpresa': $("#PerteneceEmpresa").val(),
            

          };

          console.log(dataObject);

           $.ajax({
                url: '@Url.Action("SaveCustomer", "Customer")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (data) {

                    $.toast({
                        heading: 'Satisfactorio',
                        text: 'Datos guardados correctamente.',
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 3000,
                        stack: 6
                    });

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(textStatus + ": " + XMLHttpRequest.responseText);
                    //  $("#btngenerarfactura").show();
                    notification.show({
                        title: "Validacion",
                        message: textStatus + ": " + XMLHttpRequest.responseText
                    }, "error");

                }
            });



      }
  </script>


        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            @(Html.Kendo().TabStrip()

                                                               .Name("tabDetalleCliente")
                                                               .Items(tabstrip =>
                                                               {
                                                                   tabstrip.Add().Text("Referencias")
                                                                   //Pueden ser bancarias , comerciales y otros.
                                                                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                                                   .LoadContentFrom("", "CustomerOfCustomer");

                                                                   tabstrip.Add().Text("Socios")
                                                                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                                                   .LoadContentFrom("", "CustomerOfCustomer");

                                                                   tabstrip.Add().Text("Firmas Autorizadas")
                                                                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                                                   .LoadContentFrom("Index", "CustomerAuthorizedSignature", new { CustomerId = Model.CustomerId });

                                                                   tabstrip.Add().Text("Cotización")
                                                                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                                                   .LoadContentFrom(@Url.Action("SalesOrderCustomer", "Customer"));

                                                                   tabstrip.Add().Text("Contratos")
                                                                //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                                                .LoadContentFrom(@Url.Action("Index", "CustomerContract"));

                                                                   tabstrip.Add().Text("Productos")
                                                                //Productos que se van a almacenar , hay un listado de productos que no se pueden almacenar           //
                                                                //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                                                .LoadContentFrom(@Url.Action("Index", "CustomerProduct"));

                                                                   tabstrip.Add().Text("Documentos")
                                                                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                                                    .LoadContentFrom("CustomerDocument", "CustomerDocument");

                                                                   tabstrip.Add().Text("Certificado de deposito")
                                                                //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                                                .LoadContentFrom("CertificadoDepositoCustomer", "Customer");

                                                                   tabstrip.Add().Text("F. PROFORMA")
                                                                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                                                   .LoadContentFrom(@Url.Action("ProformaInvoiceCustomer", "Customer"));

                                                                   tabstrip.Add().Text("Volumen de Mercaderias")
                                                                   //Generar alertas cuando este al limite de bodega habilitada
                                                                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                                                   .LoadContentFrom(@Url.Action("", "Customer"));


                                                                   tabstrip.Add().Text("Telefonos")
                                                                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                                                   .LoadContentFrom(@Url.Action("Vendor", "Vendor"));

                                                                   tabstrip.Add().Text("Facturas")
                                                                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                                                   .LoadContentFrom(@Url.Action("", "Customer"));

                                                                   tabstrip.Add().Text("Avisos de cobros")
                                                                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                                                   .LoadContentFrom(@Url.Action("", "Customer"));

                                                               })
                                                               .SelectedIndex(0)
                            )
                        </div>
                        </div>
                </div>
            </div>
        </div>
