@model ERPMVC.Models.Customer
@{
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                               { "required","Valor requerido" }};

    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}



<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

    }


    function GetCustomerId() {
        return { CustomerId: $("#CustomerId").val() }
    }

    function BackIndex() {
        window.location.href = '@Url.Action("Index","Customer")'
    }
</script>

<div id="divPEPSFind">
    @await Html.PartialAsync("~/Views/PEPS/PEPSFind.cshtml")
</div>

<div id="divBlackListFind">
    @await Html.PartialAsync("~/Views/BlackListCustomers/BlackListFind.cshtml")
</div>

<div id="divONULISTFind">
    @await Html.PartialAsync("~/Views/ONU/ONULISTFind.cshtml")
</div>

<div id="divOFACFind">
    @await Html.PartialAsync("~/Views/OFAC/Index.cshtml")
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <button id="btnRegresar" onclick="BackIndex()"><i class="fa fa-backward"></i></button>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="card-header">
                        <h1 class="my-0 font-weight-normal" style="color:white">Cliente</h1>
                    </div>
                    <br />

                    <form id="frmCustomer" kendo-validator="true"
                            data-ajax="true"
                           data-ajax-method="post"
                     >

                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="CustomerTypeId" class="control-label" style="width: 100%;"></label>
                                <kendo-dropdownlist name="CustomerTypeId"
                                                    for="@Model.CustomerTypeId"
                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                    option-label="Seleccionar el tipo de cliente"
                                                    deshabilitar="Cliente"
                                                    datatextfield="CustomerTypeName"
                                                    datavaluefield="CustomerTypeId"
                                                    required
                                                    auto-bind="true"
                                                    style="width: 100%;">
                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                        <transport>
                                            <read url="@Url.Action("Get", "CustomerType")" />
                                        </transport>
                                    </datasource>
                                </kendo-dropdownlist>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 ">
                                    <div class="form-group">
                 
                                        <label asp-for="CustomerId" class="control-label" style="width: 100%;"></label>
                                        <input type="text" id="CustomerId" disabled required class="form-control" style="min-width:100%;" asp-for="CustomerId" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label", style = "min-width:100%" })*@
                                        <label asp-for="CustomerName" class="control-label" style="width: 100%;"></label>
                                        <input type="text" id="CustomerName" deshabilitar="Cliente" required class="form-control" style="min-width:100%;" asp-for="CustomerName" />
                   
                                    </div>
                                </div>
                                <div class=" col-md-4">
                                    <div class="form-group">
                 
                                        <label asp-for="RTN" class="control-label" style="width: 100%;"></label>
                                        <input type="text" id="RTN" required readonly class="form-control" style="min-width:100%;" asp-for="RTN" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class=" col-md-4">
                                    <div class="form-group">
                                        <label asp-for="NombreApoderado" class="control-label" style="width: 100%;"></label>
                                        <input type="text" id="SalesOrderName" deshabilitar="Cliente" required class="form-control" style="min-width:100%;" asp-for="NombreApoderado" />
                                        <button type="button" id="btnApoderado" onclick="return RefreshOFAC();" class="k-button k-primary"><i class="fa fa-search"></i>LISTADOS</button>
                                    </div>
                                </div>
                                <div class=" col-md-4">
                                    <div class="form-group">
                                        <label asp-for="IdentidadApoderado" class="control-label" style="width: 100%;"></label>
                                        <input type="text" id="IdentidadApoderado" deshabilitar="Cliente" required class="form-control" style="min-width:100%;" asp-for="IdentidadApoderado" />
                                    </div>
                                </div>
                                <div class=" col-md-4">
                                    <div class="form-group">
                                        <label asp-for="CustomerRefNumber" class="control-label" style="width: 100%;"></label>
                                        <input type="text" id="CustomerRefNumber" deshabilitar="Cliente" required class="form-control" style="min-width:100%;" asp-for="CustomerRefNumber" />

                                    </div>
                                </div>


                            </div>



                            <div class="row">

                                <div class="col-md-4">
                                    <script>
                                        function refreshdepartamento() {
                                            $("#StateId").data("kendoDropDownList").dataSource.read();
                                        }
                                    </script>
                                    <div class="form-group">

                                        <label asp-for="CountryId" class="control-label"></label>
                                        <kendo-dropdownlist name="CountryId"
                                                            for="@Model.CountryId"
                                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            option-label="Seleccionar País"
                                                            datatextfield="Name"
                                                            deshabilitar="Cliente"
                                                            onchange="refreshdepartamento();"
                                                            datavaluefield="Id"
                                                            required
                                                            auto-bind="true"
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                <transport>
                                                    <read url="@Url.Action("Get", "Country")" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                    </div>
                                </div>




                                <div class="col-md-4">
                                    <script>
                                        function GetCountryId() {

                                            return { 'CountryId': $("#CountryId").val() }
                                        }

                                        function refreshmunicipio() {
                                            $("#CityId").data("kendoDropDownList").dataSource.read();
                                        }
                                    </script>
                                    <div class="form-group">
                                        <label asp-for="StateId" class=" control-label" style="width:100%"></label>
                                        @*<input type="text" asp-for="State" name="State" class="form-control" autocomplete="off" style="width:100%" />*@
                                        <kendo-dropdownlist name="StateId"
                                                            for="@Model.StateId"
                                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            option-label="Seleccionar Departamento"
                                                            auto-bind="true"
                                                            deshabilitar="Cliente"
                                                            onchange="refreshmunicipio();"
                                                            required
                                                            datatextfield="Name"
                                                            datavaluefield="Id"
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                <transport>
                                                    <read url="@Url.Action("GetJson", "State")" data="GetCountryId" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                        <span asp-validation-for="StateId" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <script>
                                        function GetStateId() {

                                            return { 'StateId': $("#StateId").val() }
                                        }
                                    </script>
                                    <div class="form-group">
                                        <label asp-for="CityId" class=" control-label" style="width:100%"></label>
                                        <kendo-dropdownlist name="CityId"
                                                            for="@Model.CityId"
                                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            option-label="Seleccionar Ciudad"
                                                            auto-bind="true"
                                                            deshabilitar="Cliente"
                                                            required
                                                            datatextfield="Name"
                                                            datavaluefield="Id"
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                <transport>
                                                    <read url="@Url.Action("GetCityJson", "City")" data="GetStateId" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                        @*<input type="text" asp-for="City" name="City" class="form-control" autocomplete="off" style="width:100%" />*@
                                        <span asp-validation-for="CityId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class=" col-md-4">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label", style = "min-width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.ZipCode)
                                                                // .HtmlAttributes(new { style = "min-width:100%" })
                                                                .Enable(true)
                    )*@
                                        <label asp-for="ZipCode" class="control-label" style="width: 100%;"></label>
                                        <input type="text" id="ZipCode" deshabilitar="Cliente" required class="form-control" style="min-width:100%;" asp-for="ZipCode" />
                                    </div>
                                </div>
                                <div class=" col-md-4">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label", style = "width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.Phone)
                                      //  .HtmlAttributes(new { style = "min-width:100%" })
                                        .Enable(true)
                    )*@
                                        <label asp-for="Phone" class="control-label" style="width: 100%;"></label>
                                        <input type="text" id="Phone" deshabilitar="Cliente" required class="form-control" style="min-width:100%;" asp-for="Phone" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">

                                        <label asp-for="ContactPerson" class="control-label" style="width: 100%;"></label>
                                        <input type="text" id="ContactPerson" deshabilitar="Cliente" required class="form-control" style="min-width:100%;" asp-for="ContactPerson" />
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class=" col-md-4">
                                    <div class="form-group">

                                        <label asp-for="Identidad" class="control-label" style="width: 100%;"></label>
                                        <input type="text" id="Identidad" deshabilitar="Cliente" required class="form-control" style="min-width:100%;" asp-for="Identidad" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label asp-for="Email" class="control-label" style="width: 100%;"></label>
                                    <input type="text" id="Email" deshabilitar="Cliente" required class="form-control" style="min-width:100%;" asp-for="Email" />
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="IdEstado" class="control-label"></label>
                                        <kendo-dropdownlist name="IdEstadoCliente" style="width:100%;"
                                                            deshabilitar="Cliente"
                                                            for="IdEstado"
                                                            id="IdEstadoCliente"
                                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            datatextfield="NombreEstado"
                                                            datavaluefield="IdEstado">
                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                <transport>
                                                    <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class=" col-md-4">
                                    <div class="form-group">
                                        <label asp-for="DireccionEnvio" class="control-label" style="width: 100%;"></label>
                                        <textarea id="DireccionEnvio" deshabilitar="Cliente" required class="form-control" style="min-width:100%;" asp-for="DireccionEnvio"></textarea>
                                    </div>
                                </div>

                                <div class=" col-md-4">
                                    <div class="form-group">
                                        <label asp-for="GrupoEconomico" class="control-label" style="width: 100%;"></label>
                                        <input type="text" id="GrupoEconomico" deshabilitar="Cliente" required class="form-control" style="min-width:100%;" asp-for="GrupoEconomico" />
                                    </div>
                                </div>

                                <div class=" col-md-4">
                                    <div class="form-group">
                                        <label asp-for="MontoActivos" class="control-label" style="width: 100%;"></label>
                                        @*<input type="number" id="MontoActivos" deshabilitar="Cliente" required class="form-control" style="min-width:100%;" asp-for="MontoActivos" />*@
                                        <kendo-numerictextbox name="MontoActivos"
                                                              format="n2"
                                                              min="0"
                                                              max="99999999"
                                                              step="1"
                                                              style="width: 100%;"
                                                              for="MontoActivos"></kendo-numerictextbox>
                                        <span asp-validation-for="MontoActivos" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>


                            <div class="row">

                                <div class=" col-md-4">
                                    <div class="form-group">
                                        <label asp-for="MontoIngresosAnuales" class="control-label" style="width: 100%;"></label>
                                        @*<input type="number" id="MontoIngresosAnuales" deshabilitar="Cliente" required class="form-control" style="min-width:100%;" asp-for="MontoIngresosAnuales" />*@
                                        <kendo-numerictextbox name="MontoIngresosAnuales"
                                                              format="n2"
                                                              min="0"
                                                              max="99999999"
                                                              step="1"
                                                              style="width: 100%;"
                                                              value="Model.MontoIngresosAnuales"></kendo-numerictextbox>
                                        <span asp-validation-for="MontoIngresosAnuales" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class=" col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Proveedor1" class="control-label" style="width: 100%;"></label>
                                        <input type="text" id="Proveedor1" deshabilitar="Cliente" required class="form-control" style="min-width:100%;" asp-for="Proveedor1" />
                                    </div>
                                </div>

                                <div class=" col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Proveedor2" class="control-label" style="width: 100%;"></label>
                                        <input type="text" id="Proveedor2" deshabilitar="Cliente" required class="form-control" style="min-width:100%;" asp-for="Proveedor2" />
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">

                                    <label asp-for="ClienteRecoger" class="control-label" style="width: 100%;"></label>

                                    @(Html.Kendo().SwitchFor(m => m.ClienteRecoger)
                                                                                                                                     .Name("ClienteRecoger")
                                            //.Events(ev => ev.Change("onChange"))
                                    )

                                </div>
                                <div class=" col-md-4">
                                    <div class="form-group">
                                        <label asp-for="EnviarlaMensajero" class="control-label" style="width: 100%;"></label>
                                        @(Html.Kendo().SwitchFor(m => m.EnviarlaMensajero)
                                                                                                                                                  .Name("EnviarlaMensajero")
                                                // .Events(ev => ev.Change("onChange"))
                                        )
                                    </div>
                                </div>

                                <div class=" col-md-4">
                                    <div class="form-group">
                                        <label asp-for="ConfirmacionCorreo" class="control-label" style="width: 100%;"></label>
                                        @(Html.Kendo().SwitchFor(m => m.ConfirmacionCorreo)
                                                                                                                                                         .Name("ConfirmacionCorreo")
                                                // .Events(ev => ev.Change("onChange"))
                                        )
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="PerteneceEmpresa" class="control-label" style="width: 100%;"></label>
                                        <input type="text" id="PerteneceEmpresa" deshabilitar="Cliente" required class="form-control" style="min-width:100%;" asp-for="PerteneceEmpresa" />
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <diqv class=" col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Address" class="control-label" style="width: 100%;"></label>
                                        <input type="text" id="Address" deshabilitar="Cliente" required class="form-control" style="min-width:100%;" asp-for="Address" />
                                    </div>
                                </diqv>
                            </div>



                            <div class="row">
                                <div class="col-md-12">
                                    <button id="btnGuardarCliente" type="submit" deshabilitar="Cliente" onclick="SaveCustomer();" class="form-control  btn-miboton">Guardar</button>
                                </div>
                            </div>
</form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
      function SaveCustomer() {


          var notification = $("#notification").data("kendoNotification");

          $("#btnGuardarCliente").hide();
          $("#btnGuardarCliente").prop("disabled", true);

          var dataObject = {
              'CustomerId': $("#CustomerId").val(),
              'CustomerName': $("#CustomerName").val(),
              'RTN': $("#RTN").val(),
              'CustomerTypeId': $("#CustomerTypeId").val() == null ? 0 : $("#CustomerTypeId").val(),
              'Address': $("#Address").val(),
              'City': $("#City").val(),
              'ZipCode': $("#ZipCode").val() == null ? 0 : $("#ZipCode").val(),
              'Phone': $("#Phone").val(),
              'Identidad': $("#Identidad").val(),
              'Email': $("#Email").val(),
              'ContactPerson': $("#ContactPerson").val(),
              'IdEstado': $("#IdEstadoCliente").val(),
              'Estado': $("#IdEstadoCliente").data("kendoDropDownList").text(),
              'GrupoEconomico': $("#GrupoEconomico").val(),
              'MontoActivos': $("#MontoActivos").val(),
              'MontoIngresosAnuales': $("#MontoIngresosAnuales").val(),
              'Proveedor1': $("#Proveedor1").val(),
              'Proveedor2': $("#Proveedor2").val(),
              'ClienteRecoger': $("#ClienteRecoger").is(':checked'),
              'EnviarlaMensajero': $("#EnviarlaMensajero").is(':checked'),
              'ConfirmacionCorreo': $("#ConfirmacionCorreo").is(':checked'),
              'DireccionEnvio': $("#DireccionEnvio").val(),
              'PerteneceEmpresa': $("#PerteneceEmpresa").val(),
              'IdentidadApoderado': $("#IdentidadApoderado").val(),
              'NombreApoderado': $("#SalesOrderName").val(),
              'CustomerRefNumber': $("#CustomerRefNumber").val(),
              'CityId': $("#CityId").val(),
              'CityName': $("#CityId").data("kendoDropDownList").text(),
              'CountryId': $("#CountryId").val(),
              'CountryName': $("#CountryId").data("kendoDropDownList").text(),
              'StateId': $("#StateId").val(),
              'StateName': $("#StateId").data("kendoDropDownList").text()
          };

      //    console.log(dataObject);
          var validator = $("#frmCustomer").data("kendoValidator");
          if (validator.validate()) {

              $.ajax({
                  url: '@Url.Action("SaveCustomer", "Customer")',
                  method: 'POST',
                  datatype: "json",
                  contentType: 'application/json',
                  async: false,
                  data: JSON.stringify(dataObject),
                  success: function (data) {
                      $("#CustomerId").val(data.CustomerId);

                      $.toast({
                          heading: 'Satisfactorio',
                          text: '<br/><br/> Datos guardados correctamente.',
                          position: 'top-right',
                          loaderBg: '#ff6849',
                          icon: 'success',
                          showHideTransition: 'slide',
                          hideAfter: 3000,
                          stack: 6
                      });

                      $("#btnGuardarCliente").show();
                      $("#btnGuardarCliente").prop("disabled", false);

                  },
                  error: function (XMLHttpRequest, textStatus, errorThrown) {
                      console.log(textStatus + ": " + XMLHttpRequest.responseText);
                      $("#btnGuardarCliente").show();
                      $("#btnGuardarCliente").prop("disabled", false);
                      //  $("#btngenerarfactura").show();
                      notification.show({
                          title: "Validación",
                          message: textStatus + ": " + XMLHttpRequest.responseText
                      }, "error");

                  }
              });
          }
          else {
              $("#btnGuardarCliente").show();
              $("#btnGuardarCliente").prop("disabled", false);
              notification.show({
                  title: "Validación",
                  message: "Debe agregar los campos obligatorios!"
              }, "error");

          }



      }
</script>

<style>
    /*.modal-backdrop {

            display: none;
        }

        .modal-dialog {
            margin: 2px auto;
            z-index: 1100 !important;
        }

        .modal-open .modal {
            overflow: hidden;
        }

        .modal-body {
            overflow: auto;
            min-height:1700;
        }

        .fixed-div {
            width: 100%;
            position: fixed;
            z-index: 1051;
            background: #fff;
            box-shadow: 0 5px 20px 4px rgba(0,0,0,.1);
        }*/

    /*#tabFirmasAutorizadas .k-tabstrip ul li.k-item {
            width: 190px;
        }*/

    /*.k-tabstrip ul li.k-item, li.k-tabstrip-items {
            width: 140px;
        }


        .k-link {
            width: 185px;
        }*/
</style>



<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    @(Html.Kendo().TabStrip()

                    .Name("tabDetalleCliente")
                    .Items(tabstrip =>
                    {

                        tabstrip.Add().Text("Socios").HtmlAttributes(new { @id = "tabSocios" })
                       //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                       .LoadContentFrom("Index", "CustomerPartners");


                            //tabstrip.Add().Text("Referencias")
                            ////Pueden ser bancarias , comerciales y otros.
                            ////.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                            //.LoadContentFrom("", "CustomerOfCustomer");

                            tabstrip.Add().Text("Firmas Autorizadas").HtmlAttributes(new { @id = "tabFirmasAutorizadas" })
                    //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                    .LoadContentFrom("Index", "CustomerAuthorizedSignature", new { CustomerId = Model.CustomerId });

                        tabstrip.Add().Text("Cotización").HtmlAttributes(new { @id = "tabCotizacion" })
                        //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                        .LoadContentFrom(@Url.Action("SalesOrderCustomer", "Customer"));

                        tabstrip.Add().Text("Contratos")
                        //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                        .LoadContentFrom(@Url.Action("Index", "CustomerContract"));

                        tabstrip.Add().Text("Telefonos")
                       //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                       .LoadContentFrom(@Url.Action("Index", "CustomerPhones"));

                        tabstrip.Add().Text("Productos")
                        //Productos que se van a almacenar , hay un listado de productos que no se pueden almacenar           //
                        //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                        .LoadContentFrom(@Url.Action("Index", "CustomerProduct"));

                        tabstrip.Add().Text("Documentos")
                         //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                         .LoadContentFrom("CustomerDocument", "CustomerDocument");

                        tabstrip.Add().Text("Certificado de deposito")
                        //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                        .LoadContentFrom("CertificadoDepositoCustomer", "Customer");

                        tabstrip.Add().Text("F. PROFORMA")
                        //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                        .LoadContentFrom(@Url.Action("ProformaInvoiceCustomer", "Customer"));

                            //tabstrip.Add().Text("Volumen de Mercaderias")
                            ////Generar alertas cuando este al limite de bodega habilitada
                            ////.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                            //.LoadContentFrom(@Url.Action("", "Customer"));


                            tabstrip.Add().Text("Facturas")
                    //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                    .LoadContentFrom(@Url.Action("", "Customer"));

                        tabstrip.Add().Text("Avisos de cobros")
                        //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                        .LoadContentFrom(@Url.Action("", "Customer"));

                    })
                    .SelectedIndex(0)
                    )
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $("#tabDetalleCliente").kendoTabStrip({
        collapsible: true
    });

    $("#tabDetalleCliente").width($("#tabDetalleCliente").innerWidth());

    console.log($("#tabDetalleCliente").innerWidth());
</script>
