@model ERPMVC.Models.Customer


<div class="card-header">
    <h1 class="my-0 font-weight-normal" style="color:white">Cliente</h1>
</div>

<script>
    function GetCustomerId() {
        return { CustomerId: $("#CustomerId").val() }
    }
</script>


<div class="row" id="validation">
    <div class="col-lg-12">
        <div class="card-body">


            <div class="row">
                <div class="col-md-3 ">

                    @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label", style = "min-width:100%" })
                    @(Html.Kendo().NumericTextBoxFor(model => model.CustomerId)
                                                    .Enable(false)
                                                    .Decimals(0)
                                                    .HtmlAttributes(new { style = "min-width:100%" })
                    )

                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label", style = "min-width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.CustomerName)
                                                                                              .HtmlAttributes(new { style = "min-width:100%" })
                                                                                                  .Enable(true)
                    )

                </div>
                <div class=" form-group col-md-3">
                    @Html.LabelFor(model => model.RTN, htmlAttributes: new { @class = "control-label", style = "width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.RTN)
                                                .HtmlAttributes(new { style = "min-width:100%" })
                                                .Enable(true)
                    )
                </div>
            </div>



            <div class="row">

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label", style = "min-width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.Address)
                                               .HtmlAttributes(new {  style = "min-width:100%" })
                                               .Enable(true)
                    )
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label", style = "min-width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.City)
                                                                                                .HtmlAttributes(new { clas = "form-control", style = "min-width:100%" })
                                                                                                  .Enable(true)
                    )
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label", style = "min-width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.State)
                                                                                                 .HtmlAttributes(new { clas = "form-control", style = "min-width:100%" })
                                                                                                  .Enable(true)
                    )

                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label", style = "min-width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.ZipCode)
                                         .HtmlAttributes(new {style = "min-width:100%" })
                                        .Enable(true)
                    )

                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label", style = "width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.Phone)
                                                                                        .HtmlAttributes(new { style = "min-width:100%" })
                                                                                          .Enable(true)
                    )

                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Identidad, htmlAttributes: new { @class = "control-label", style = "min-width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.Identidad)
                                       .HtmlAttributes(new { style = "min-width:100%" })
                                       .Enable(true)
                    )
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.ContactPerson, htmlAttributes: new { @class = "control-label", style = "width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.ContactPerson)
                                                .HtmlAttributes(new { style = "min-width:100%" })
                                                .Enable(true)
                    )

                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label", style = "width:100%" })
                    @(Html.Kendo().TextBoxFor(model => model.Email)
                                                .HtmlAttributes(new {  style = "min-width:100%" })
                                                .Enable(true)
                    )

                </div>

                <div class="form-group col-md-3">
                    <div class="form-group">
                        <label asp-for="IdEstado" class="control-label"></label>
                        <kendo-dropdownlist name="IdEstado"
                                            for="@Model.IdEstado"
                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                            option-label="Seleccionar Estado"
                                            datatextfield="NombreEstado"
                                            datavaluefield="IdEstado"
                                            style="width: 100%;">
                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                <transport>
                                    <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                </transport>
                            </datasource>
                        </kendo-dropdownlist>
                    </div>
                </div>
                </div>
            </div>



            <button type="submit" class="btn form-control">Guardar</button>

        </div>
        </div>
    </div>

        <br />


        <div class="panel panel-default">

            @(Html.Kendo().TabStrip()
                               .Name("tabDetalleCliente")
                               .Items(tabstrip =>
                               {
                                   tabstrip.Add().Text("Referencias")
                                   //Pueden ser bancarias , comerciales y otros.
                                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                   .LoadContentFrom("CustomersOfCustomer", "CustomerOfCustomer");

                                   tabstrip.Add().Text("Socios")
                      //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                      .LoadContentFrom("CustomersOfCustomer", "CustomerOfCustomer");

                                   tabstrip.Add().Text("Firmas Autorizadas")
                      //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                      .LoadContentFrom("CustomersOfCustomer", "CustomerOfCustomer");

             tabstrip.Add().Text("Productos")
           //Productos que se van a almacenar , hay un listado de productos que no se pueden almacenar           //
           //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
           .LoadContentFrom(@Url.Action("Index", "CustomerProduct"));


                                   tabstrip.Add().Text("Volumen de Mercaderias")
                                   //Generar alertas cuando este al limite de bodega habilitada
                                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                   .LoadContentFrom(@Url.Action("", "Customer"));


                                   tabstrip.Add().Text("Telefonos")
                                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                   .LoadContentFrom(@Url.Action("Vendor", "Vendor"));

                                   tabstrip.Add().Text("Cotización")
                                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                   .LoadContentFrom(@Url.Action("SalesOrderCustomer", "Customer"));

                                   tabstrip.Add().Text("Contratos")
                      //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                      .LoadContentFrom(@Url.Action("", "Customer"));

                                   tabstrip.Add().Text("Certificado de deposito")
                                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                   .LoadContentFrom(@Url.Action("", "Customer"));

                                   tabstrip.Add().Text("F. PROFORMA")
                                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                   .LoadContentFrom(@Url.Action("", "Customer"));

                                   tabstrip.Add().Text("Facturas")
                                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                   .LoadContentFrom(@Url.Action("", "Customer"));



                                   tabstrip.Add().Text("Avisos de cobros")
                                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                                   .LoadContentFrom(@Url.Action("", "Customer"));

                               })
                               .SelectedIndex(0)
            )
        </div>
