@model ERPMVC.DTO.SalesOrderDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                                {"required","Valor requerido" }
                                            };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}





<script>



    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }



        return true;
    }
</script>

<div id="myModalSalesOrder" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Información Cotización</h4>
            </div>
            <div class="modal-body">


                @if (!Convert.ToBoolean(Model.editar))
                {
                    <div class="box demo-description wide">
                        <div class="row">
                            <h4>Enviar a:</h4>
                            <kendo-combobox name="IdEstado" for="@Model.IdEstado" filter="FilterType.Contains"
                                            placeholder="Select Estado"
                                            datatextfield="NombreEstado"
                                            datavaluefield="IdEstado"
                                            required
                                            style="width: 100%;">
                                <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                    <transport>
                                        <read url="@Url.Action("GetEnviosCotizacion", "Estados")" />
                                    </transport>
                                </datasource>
                            </kendo-combobox>
                        </div>
                        <div class="row">
                            <button id="btnEnviarA" type="submit" class="form-control btn-miboton" onclick="EnviarCotizacionA(this);">Enviar</button>
                        </div>
                        <br />
                    </div>
                }


                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">


                            <div class="card-body">
                                <form id="frmSalesOrder" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                      method="post" class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        @*<h3 class="card-title">Información SalesOrder</h3>*@
                                        <hr>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="SalesOrderId" class="col-md-2 control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="SalesOrderId"
                                                                          format="n"
                                                                          min="0"
                                                                          disabled
                                                                          max="99999999"
                                                                          step="1"
                                                                          style="width: 100%;"
                                                                          value="Model.SalesOrderId"></kendo-numerictextbox>
                                                    <span asp-validation-for="SalesOrderId" class="text-danger"></span>
                                                </div>

                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="SalesOrderName" class="col-md-2 control-label" style="width:100%"></label>
                                                    <input asp-for="SalesOrderName" class="form-control" style="width:100%" />
                                                    @*<textarea asp-for="SalesOrderName" class="form-control required " style="width: 100%;"></textarea>*@
                                                    <span asp-validation-for="SalesOrderName" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Correo" class="col-md-2 control-label" style="width:100%"></label>
                                                    <input type="email" asp-for="Correo" class="form-control required " style="width:100%" />
                                                    <span asp-validation-for="Correo" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Direccion" class="col-md-2 control-label" style="width:100%"></label>
                                                    <textarea asp-for="Direccion" required class="form-control required " style="width:100%"></textarea>
                                                    <span asp-validation-for="Direccion" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="RTN" class="col-md-2 control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="RTN" required class="form-control required " style="width:100%" />
                                                    <span asp-validation-for="RTN" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Tefono" class="col-md-2 control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Tefono" class="form-control required " style="width:100%" />
                                                    <span asp-validation-for="Tefono" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CustomerId" class="col-md-2 control-label"></label>

                                                    <kendo-combobox name="CustomerId" for="@Model.CustomerId" filter="FilterType.Contains"
                                                                    placeholder="Select CustomerId"
                                                                    datatextfield="CustomerName"
                                                                    datavaluefield="CustomerId"
                                                                    required
                                                                    style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetCustomer", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-combobox>
                                                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CustomerRefNumber" class="col-md-2 control-label" style="width:100%"></label>
                                                    <input asp-for="CustomerRefNumber" class="form-control" style="width:100%" />
                                                    <span asp-validation-for="CustomerRefNumber" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="BranchId" class="col-md-2 control-label"></label>
                                                    <kendo-combobox name="BranchId" for="BranchId" filter="FilterType.Contains"
                                                                    placeholder="Select BranchId"
                                                                    datatextfield="BranchName"
                                                                    datavaluefield="BranchId"
                                                                    style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Branch")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-combobox>
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>




                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CurrencyId" class="col-md-2 control-label"></label>
                                                    <kendo-combobox name="CurrencyId" for="CurrencyId" filter="FilterType.Contains"
                                                                    placeholder="Select CurrencyId"
                                                                    datatextfield="CurrencyName"
                                                                    datavaluefield="CurrencyId"
                                                                    style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetCurrency", "Currency")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-combobox>
                                                    <span asp-validation-for="CurrencyId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="SalesTypeId" class="col-md-2 control-label" style="width:100%"></label>
                                                    <kendo-combobox name="SalesTypeId" filter="FilterType.Contains"
                                                                    for="SalesTypeId"
                                                                    placeholder="Select SalesTypeId"
                                                                    datatextfield="SalesTypeName"
                                                                    datavaluefield="SalesTypeId"
                                                                    style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "SalesType")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-combobox>
                                                    <span asp-validation-for="SalesTypeId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ProductId" class="col-md-2 control-label" style="width:100%"></label>

                                                    <kendo-combobox name="ProductId" filter="FilterType.Contains"
                                                            for="ProductId"
                                                                    placeholder="Select ProductId"
                                                                    datatextfield="ProductName"
                                                                    datavaluefield="ProductId"
                                                                    required
                                                                    style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetProduct", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-combobox>
                                                    <span asp-validation-for="ProductId" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="OrderDate" class="col-md-2 control-label" style="width: 100%;"></label>
                                                    <kendo-datetimepicker name="OrderDate"
                                                                          style="width: 100%;"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.OrderDate"></kendo-datetimepicker>
                                                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DeliveryDate" class="col-md-2 control-label" style="width: 100%;"></label>
                                                    <kendo-datetimepicker name="DeliveryDate"
                                                                          style="width: 100%;"
                                                                          value="Model.DeliveryDate"></kendo-datetimepicker>
                                                    <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ExpirationDate" class="col-md-2 control-label" style="width: 100%;"></label>
                                                    <kendo-datetimepicker name="ExpirationDate"
                                                                          style="width: 100%;"
                                                                          value="Model.ExpirationDate">
                                                    </kendo-datetimepicker>
                                                    <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                                                </div>
                                            </div>


                                        </div>



                                    </div>

                                </form>


                                <div id="salesorderdetail">
                                    @await Html.PartialAsync("pvwSalesOrderDetail", Model)
                                </div>

                                <div id="SalesOrderLineMant">
                                    @await Html.PartialAsync("pvwSalesOrderDetailMant", new ERPMVC.Models.SalesOrderLine { SalesOrderLineId = 0, SalesOrderId = Model.SalesOrderId })
                                </div>





                                <form id="TotalesDocumento" kendo-validator="true" kendo-messages="messages" kendo-rules="rules">
                                    <div class="box" id="TotalesDocumento">
                                        <div class="box-body">
                                            <div class="content-container-fluid">
                                                <div class="row">
                                                    <div class="col-lg-8">

                                                    </div>
                                                    <div class="col-lg-4">
                                                        <dl class="dl-horizontal">
                                                            <dt>
                                                                <label asp-for="Amount" class="col-md-2 control-label"></label>
                                                            </dt>
                                                            <dd>
                                                                <kendo-numerictextbox name="Amount"
                                                                                      format="n2"
                                                                                      style="width: 100%;"
                                                                                      min="0" disabled
                                                                                      max="999999999"
                                                                                      step="1"
                                                                                      value="Model.Amount"></kendo-numerictextbox>
                                                                <span asp-validation-for="Amount" class="text-danger"></span>
                                                            </dd>


                                                            <dt>
                                                                <label asp-for="Discount" class="col-md-2 control-label"></label>
                                                            </dt>
                                                            <dd>
                                                                <kendo-numerictextbox name="Discount"
                                                                                      format="n2"
                                                                                      min="0"
                                                                                      style="width: 100%;"
                                                                                      max="999999999"
                                                                                      step="1"
                                                                                      disabled
                                                                                      value="Model.Discount"></kendo-numerictextbox>
                                                                <span asp-validation-for="Discount" class="text-danger"></span>
                                                            </dd>

                                                            <dt>
                                                                <label asp-for="SubTotal" class="col-md-2 control-label"></label>
                                                            </dt>
                                                            <dd>
                                                                <kendo-numerictextbox name="SubTotal"
                                                                                      format="n2"
                                                                                      min="0"
                                                                                      required
                                                                                      disabled
                                                                                      spinners="false"
                                                                                      style="width: 100%;"
                                                                                      max="999999999"
                                                                                      step="1"
                                                                                      value="Model.SubTotal"></kendo-numerictextbox>
                                                                <span asp-validation-for="SubTotal" class="text-danger"></span>
                                                            </dd>

                                                            <dt>
                                                                <label asp-for="Tax" class="col-md-2 control-label"></label>
                                                            </dt>
                                                            <dd>
                                                                <kendo-numerictextbox name="Tax"
                                                                                      format="n2"
                                                                                      min="0"
                                                                                      disabled
                                                                                      style="width: 100%;"
                                                                                      max="999999999"
                                                                                      step="1"
                                                                                      value="Model.Tax"></kendo-numerictextbox>
                                                                <span asp-validation-for="Tax" class="text-danger"></span>
                                                            </dd>



                                                            <dt>
                                                                <label asp-for="Tax18" class="col-md-2 control-label"></label>
                                                            </dt>
                                                            <dd>
                                                                <kendo-numerictextbox name="Tax18"
                                                                                      format="n2"
                                                                                      min="0"
                                                                                      disabled
                                                                                      style="width: 100%;"
                                                                                      max="999999999"
                                                                                      step="1"
                                                                                      value="Model.Tax18"></kendo-numerictextbox>
                                                                <span asp-validation-for="Tax18" class="text-danger"></span>
                                                            </dd>



                                                            <dt>
                                                                <label asp-for="Freight" class="col-md-2 control-label"></label>
                                                            </dt>
                                                            <dd>
                                                                <kendo-numerictextbox name="Freight"
                                                                                      format="n2"
                                                                                      style="width: 100%;"
                                                                                      min="0"
                                                                                      required
                                                                                      onchange="CalcularTotalDocumento();"
                                                                                      max="999999999"
                                                                                      step="1"
                                                                                      value="Model.Freight"></kendo-numerictextbox>
                                                                <span asp-validation-for="Freight" class="text-danger"></span>
                                                            </dd>

                                                            <dt>
                                                                <label asp-for="Remarks" class="col-md-2 control-label"></label>
                                                            </dt>
                                                            <dd>
                                                                <textarea asp-for="Remarks" class="form-control required " style="width: 100%;"></textarea>
                                                                <span asp-validation-for="Remarks" class="text-danger"></span>
                                                            </dd>

                                                            <dt>
                                                                <label asp-for="TotalExento" class="col-md-2 control-label"></label>
                                                            </dt>

                                                            <dd>
                                                                <kendo-numerictextbox name="TotalExento"
                                                                                      format="n2"
                                                                                      min="0"
                                                                                      disabled
                                                                                      required
                                                                                      style="width: 100%;"
                                                                                      max="999999999"
                                                                                      step="1"
                                                                                      value="Model.TotalExento"></kendo-numerictextbox>
                                                                <span asp-validation-for="TotalExento" class="text-danger"></span>
                                                            </dd>


                                                            <dt>
                                                                <label asp-for="TotalExonerado" class="col-md-2 control-label"></label>
                                                            </dt>

                                                            <dd>
                                                                <kendo-numerictextbox name="TotalExonerado"
                                                                                      format="n2"
                                                                                      min="0"
                                                                                      disabled
                                                                                      required
                                                                                      style="width: 100%;"
                                                                                      max="999999999"
                                                                                      step="1"
                                                                                      value="Model.TotalExonerado"></kendo-numerictextbox>
                                                                <span asp-validation-for="TotalExonerado" class="text-danger"></span>
                                                            </dd>

                                                            <dt>
                                                                <label asp-for="TotalGravado" class="col-md-2 control-label"></label>
                                                            </dt>

                                                            <dd>
                                                                <kendo-numerictextbox name="TotalGravado"
                                                                                      format="n2"
                                                                                      min="0"
                                                                                      disabled
                                                                                      required
                                                                                      style="width: 100%;"
                                                                                      max="999999999"
                                                                                      step="1"
                                                                                      value="Model.TotalGravado"></kendo-numerictextbox>
                                                                <span asp-validation-for="TotalGravado" class="text-danger"></span>
                                                            </dd>

                                                            <dt>
                                                                <label asp-for="TotalGravado18" class="col-md-2 control-label"></label>
                                                            </dt>

                                                            <dd>
                                                                <kendo-numerictextbox name="TotalGravado18"
                                                                                      format="n2"
                                                                                      min="0"
                                                                                      disabled
                                                                                      required
                                                                                      style="width: 100%;"
                                                                                      max="999999999"
                                                                                      step="1"
                                                                                      value="Model.TotalGravado18"></kendo-numerictextbox>
                                                                <span asp-validation-for="TotalGravado18" class="text-danger"></span>
                                                            </dd>



                                                            <dt>
                                                                <label asp-for="Total" class="col-md-2 control-label"></label>
                                                            </dt>

                                                            <dd>
                                                                <kendo-numerictextbox name="Total"
                                                                                      format="n2"
                                                                                      min="0"
                                                                                      disabled
                                                                                      required
                                                                                      style="width: 100%;"
                                                                                      max="999999999"
                                                                                      step="1"
                                                                                      value="Model.Total"></kendo-numerictextbox>
                                                                <span asp-validation-for="Total" class="text-danger"></span>
                                                            </dd>

                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div class="row">
                                    <button id="btnSaveCotizacion" type="submit" class="form-control btn-miboton " onclick="SaveCotizacion(this);">Guardar</button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>

    function GetProductIdS() {
        return { 'ProductId': $("#ProductId").val() }
    }


    function RefreshCotizaciones() {
        var grid = $("#gridCotizaciones").getKendoGrid();
        grid.dataSource.read();
    }

    function SaveCotizacion(e) {

        var notification = $("#notification").data("kendoNotification");
       // e.preventDefault();
        $("#btnSaveCotizacion").hide();
        $("#btnSaveCotizacion").prop("disabled", true);

        var displayedData = $("#gridCotizacionesDetail").data().kendoGrid.dataSource.view();

        var dataObject = {  'SalesOrderId': $("#SalesOrderId").val()===""?"0":$("#SalesOrderId").val(),
			           'SalesOrderName':$("#SalesOrderName").val(),
                       'BranchId': $("#BranchId").val(),
                       'BranchName': $("#BranchId").data("kendoComboBox").text(),
                       'CustomerId': $("#CustomerId").val(),
                       'CustomerName': $("#CustomerId").data("kendoComboBox").text(),
                       'ProductId': $("#ProductId").val(),
                       'ProductName': $("#ProductId").data("kendoComboBox").text(),
			           'OrderDate':$("#OrderDate").val(),
                       'DeliveryDate': $("#DeliveryDate").val(),
                       'ExpirationDate': $("#ExpirationDate").val(),            
                       'CurrencyId': $("#CurrencyId").val(),
			           'CustomerRefNumber':$("#CustomerRefNumber").val(),
			           'SalesTypeId':$("#SalesTypeId").val(),
			           'Remarks':$("#Remarks").val(),
			           'Amount':$("#Amount").val(),
			           'SubTotal':$("#SubTotal").val(),
			           'Discount':$("#Discount").val(),
			           'Tax':$("#Tax").val(),
			           'Freight':$("#Freight").val(),
                       'Total': $("#Total").val(),
                       'Correo':$("#Correo").val(),
			           'Direccion':$("#Direccion").val(),
			           'RTN':$("#RTN").val(),
			           'Tefono':$("#Tefono").val(),
			           'TotalExento':$("#TotalExento").val(),
			           'TotalExonerado':$("#TotalExonerado").val(),
			           'TotalGravado':$("#TotalGravado").val() ,
                       '_SalesOrderLine': displayedData
        };

       // console.log(JSON.stringify(dataObject));
       // var form = $("#frmSalesOrder");
        //form.validate();

        var validator = $("#frmSalesOrder").data("kendoValidator");
        var validator2 = $("#TotalesDocumento").data("kendoValidator");
             var status = $(".status");

        if (displayedData.length > 0) {
            if (validator.validate() && validator2.validate()) {

                $.ajax({
                    url: '@Url.Action("SaveSalesOrder", "SalesOrder")',
                    method: 'POST',
                    datatype: "json",
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify(dataObject),
                    success: function (data) {

                        notification.show({
                            message: "Guardado correctamente!"
                        }, "upload-success");

                        RefreshCotizaciones();
                        
                        $('#myModalSalesOrder').modal('hide');


                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                        $("#btngenerarfactura").show();
                        notification.show({
                            title: "Validacion",
                            message: textStatus + ": " + XMLHttpRequest.responseText
                        }, "error");

                    }
                });

            }
            else {
                status.text("Oops! There is invalid data in the form.")
                    .removeClass("valid")
                    .addClass("invalid");
            }
        }
        else {
            notification.show({
                title: "Validacion",
                message: "Debe agregar los productos!"
            }, "error");
           // notification.show("New E-mail","Debe agregar los productos", "info");
            //alert('Debe agregar los productos!!');
        }

        $("#btnSaveCotizacion").show();
        $("#btnSaveCotizacion").prop("disabled", false);
    }
</script>