@model ERPMVC.DTO.SalesOrderDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                {"required","Valor requerido" }
            };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}





<script>




    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        //if (input.attr('name') === "SubProductId" && input.val() === "0") {
        //    return false;
        //}

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }



        return true;
    }
</script>

@await Html.PartialAsync("~/Views/OFAC/Index.cshtml")

@await Html.PartialAsync("~/Views/PEPS/PEPSFind.cshtml")

@await Html.PartialAsync("~/Views/BlackListCustomers/BlackListFind.cshtml")

@await Html.PartialAsync("~/Views/ONU/ONULISTFind.cshtml")

<div id="myModalSalesOrder" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Información Cotización</h4>
            </div>
            <div class="modal-body">

                @*@if (!Convert.ToBoolean(Model.editar))
                    {
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="box demo-description wide">
                                                <h4>Enviar a:</h4>
                                                <div class="row">
                                                    <div class="col-md-8">

                                                        <kendo-dropdownlist name="IdEstado" for="@Model.IdEstado" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Select Estado"
                                                                            datatextfield="NombreEstado"
                                                                            datavaluefield="IdEstado"
                                                                            required
                                                                            style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                                <transport>
                                                                    <read url="@Url.Action("GetEnviosCotizacion", "Estados")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button id="btnEnviarA" type="submit" class="k-button k-primary"  onclick="EnviarCotizacionA(this);">Enviar</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }*@


                @*<hr class="style18">*@
                @*<hr class="style13">*@
                @*<hr class="style14">*@

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <form id="frmSalesOrder" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                          data-ajax="true"
                                          data-ajax-method="post"
                                          method="post" class="validation-wizard wizard-circle">
                                        @*<div class="form-body">*@



                                        <div class="row">
                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="SalesOrderId" class="control-label"></label>
                                                    @*<label for="recipient-name" class="control-label">Recipient:</label>*@
                                                    <kendo-numerictextbox name="SalesOrderId"
                                                                          format="n"
                                                                          min="0"
                                                                          disabled
                                                                          max="99999999"
                                                                          step="1"
                                                                          style="width: 100%;"
                                                                          value="Model.SalesOrderId"></kendo-numerictextbox>
                                                    <span asp-validation-for="SalesOrderId" class="text-danger"></span>
                                                </div>

                                            </div>

                                            <div class="col-sm-4 col-md-4">
                                                <script>
                                                    @*function buscarofacNombre() {
                                                        var dataObject = {
                                                            firstName: $("#SalesOrderName").val(),
                                                            lastName: $("#SalesOrderName").val()
                                                        };

                                                        var notification = $("#notification").data("kendoNotification");
                                                        $.ajax({
                                                            url: '@Url.Action("GetPersonByName", "OFAC")',
                                                            method: 'POST',
                                                            datatype: "json",
                                                            contentType: 'application/json',
                                                            async: false,
                                                            data: JSON.stringify(dataObject),
                                                            success: function (result) {


                                                                notification.show({
                                                                    title: "Validacion",
                                                                    message: "Se encuentra en los listados de ofac"
                                                                }, "error");


                                                                //console.log(result);
                                                                //setearvalor("TaxPercentage", result.TaxPercentage);
                                                                //$("#RTN").val(result.RTN);
                                                                //$("#Correo").val(result.Email);
                                                                //$("#Tefono").val(result.Phone);

                                                            },
                                                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                                alert(textStatus + ": " + XMLHttpRequest.responseText);
                                                            }
                                                        });
                                                    }*@

                                               
                                                </script>
                                                <div class="form-group">
                                                    <label asp-for="SalesOrderName" class="control-label" style="width:100%"></label>
                                                    <span>
                                                        <input asp-for="SalesOrderName" required class="form-control form-control-line" onchange="RefreshOFAC();" style="min-width: 80%" />
                                                        <button type="button" onclick="return RefreshOFAC();" class="k-button k-primary"><i class="fa fa-search"></i>LISTADOS</button>
                                                    </span>
                                                    <span asp-validation-for="SalesOrderName" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Correo" class="control-label" style="width:100%"></label>
                                                    @*<input type="email" asp-for="Correo" data-val-regex="Correo invalido" class="form-control required " style="min-width: 100%" />*@
                                                    <input type="text" asp-for="Correo" class="form-control" style="min-width: 100%" />
                                                    <span asp-validation-for="Correo" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">

                                                    <script>
                                                        function GrupoConfiguracionTipoContrato() {
                                                            return { 'Id': 1 };
                                                        }
                                                    </script>

                                                    <label asp-for="TypeContractId" class="control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="TypeContractId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        for="TypeContractId"
                                                                        option-label="Seleccione el tipo de contrato"
                                                                        datatextfield="Nombre"
                                                                        datavaluefield="Id"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GrupoConfiguracionTipoContrato" />

                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="TypeContractId" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="RTN" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="RTN" required class="form-control required " style="min-width: 100%" />
                                                    <span asp-validation-for="RTN" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Tefono" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Tefono" class="form-control required " style="min-width: 100%" />
                                                    <span asp-validation-for="Tefono" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <script>
                                                        function SetCustomerName(e) {
                                                           // console.log(e);
                                                            if ($("#CustomerId").val() > 0) {
                                                                $("#SalesOrderName").prop('disabled', true);
                                                                $("#SalesOrderName").val($("#CustomerId").data("kendoDropDownList").text());
                                                                var dataObject = { CustomerId: $("#CustomerId").val()};
                                                                  $.ajax({
                                                                     url: '@Url.Action("GetCustomerById", "Customer")',
                                                                     method: 'GET',
                                                                     datatype: "json",
                                                                     contentType: 'application/json',
                                                                     async: false,
                                                                     data: dataObject,
                                                                      success: function (result) {
                                                                          //console.log(result);
                                                                          // setearvalor("TaxPercentage", result.TaxPercentage);
                                                                          $("#RTN").val(result.RTN);
                                                                          $("#Correo").val(result.Email);
                                                                          $("#Tefono").val(result.Phone);

                                                                     },
                                                                      error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                                             alert(textStatus + ": " + XMLHttpRequest.responseText);
                                                                       }
                                                                  });
                                                            }
                                                            else {
                                                                $("#SalesOrderName").prop('disabled', false);
                                                            }
                                                        }
                                                    </script>
                                                    <label asp-for="CustomerId" class="control-label"></label>

                                                    <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el cliente"
                                                                        datatextfield="CustomerName"
                                                                        datavaluefield="CustomerId"
                                                                        class="form-control-line"
                                                                        onchange="SetCustomerName();"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="3000" >
                                                            <transport>
                                                                <read url="@Url.Action("GetCustomer", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CustomerRefNumber" class="control-label" style="width:100%"></label>
                                                    <input asp-for="CustomerRefNumber" class="form-control" style="min-width: 100%" />
                                                    <span asp-validation-for="CustomerRefNumber" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="BranchId" class="control-label"></label>
                                                    <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione la sucursal"
                                                                        datatextfield="BranchName"
                                                                        enable="false"
                                                                        datavaluefield="BranchId"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Branch")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CurrencyId" class="control-label"></label>
                                                    <kendo-dropdownlist name="CurrencyId" for="CurrencyId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione la moneda"
                                                                        datatextfield="CurrencyName"
                                                                        datavaluefield="CurrencyId"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetCurrency", "Currency")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CurrencyId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="SalesTypeId" class="control-label" style="width:100%"></label>
                                                    <kendo-dropdownlist name="SalesTypeId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        for="SalesTypeId"
                                                                        option-label="Seleccione el tipo de ventas"
                                                                        datatextfield="SalesTypeName"
                                                                        datavaluefield="SalesTypeId"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "SalesType")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="SalesTypeId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ProductId" class="control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="ProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        for="ProductId"
                                                                        option-label="Seleccione el  producto"
                                                                        datatextfield="ProductName"
                                                                        datavaluefield="ProductId"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetProduct", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="ProductId" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="OrderDate" class="control-label" style="width: 100%;"></label>
                                                    <kendo-datetimepicker name="OrderDate"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.OrderDate"></kendo-datetimepicker>
                                                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                                                </div>
                                            </div>

                                            @*<div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DeliveryDate" class="control-label" style="width: 100%;"></label>
                                                    <kendo-datetimepicker name="DeliveryDate"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          value="Model.DeliveryDate"></kendo-datetimepicker>
                                                    <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                                                </div>
                                            </div>*@

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ExpirationDate" class="control-label" style="width: 100%;"></label>
                                                    <kendo-datetimepicker name="ExpirationDate"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          required
                                                                          time-format="hh:mm:ss"
                                                                          value="Model.ExpirationDate"></kendo-datetimepicker>
                                                    <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">

                                            <div class=" col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="Direccion" class="control-label" style="width:100%"></label>
                                                    <textarea asp-for="Direccion" required class="form-control required " style="min-width: 100% !important;"></textarea>
                                                    <span asp-validation-for="Direccion" class="text-danger"></span>
                                                </div>
                                            </div>


                                        </div>



                                        @*</div>*@

                                    </form>
                                </div>

                                <div class="card">
                                    <div class="card-body">
                                        <div id="salesorderdetail">
                                            @await Html.PartialAsync("pvwSalesOrderDetail", Model)
                                        </div>

                                        <div id="SalesOrderLineMant">
                                            @await Html.PartialAsync("pvwSalesOrderDetailMant", new ERPMVC.Models.SalesOrderLine { SalesOrderLineId = 0, SalesOrderId = Model.SalesOrderId })
                                        </div>



                                        <div class="clearfix">&nbsp;</div>
                                        <div class="clearfix">&nbsp;</div>

                                        <form id="TotalesDocumento" kendo-validator="true" kendo-messages="messages" kendo-rules="rules">
                                            <div class="box" id="TotalesDocumento">
                                                <div class="box-body">
                                                    <div class="content-container-fluid">
                                                        <div class="row">
                                                            <div class="col-lg-8">

                                                            </div>
                                                            <div class="col-lg-4">
                                                                <dl class="dl-horizontal">
                                                                    <dt>
                                                                        <label asp-for="Amount" class="control-label"></label>
                                                                    </dt>
                                                                    <dd>
                                                                        <kendo-numerictextbox name="Amount"
                                                                                              format="n2"
                                                                                              spinners="false"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                              min="0" disabled class="control-label right bold"
                                                                                              max="999999999"
                                                                                              value="Model.Amount"></kendo-numerictextbox>
                                                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                                                    </dd>


                                                                    <dt>
                                                                        <label asp-for="Discount" class="control-label"></label>
                                                                    </dt>
                                                                    <dd>
                                                                        <kendo-numerictextbox name="Discount"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                              max="999999999"
                                                                                              disabled class=" control-label right bold"
                                                                                              value="Model.Discount"></kendo-numerictextbox>
                                                                        <span asp-validation-for="Discount" class="text-danger"></span>
                                                                    </dd>

                                                                    <dt>
                                                                        <label asp-for="SubTotal" class="control-label"></label>
                                                                    </dt>
                                                                    <dd>
                                                                        <kendo-numerictextbox name="SubTotal"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              required
                                                                                              disabled class="control-label right bold"
                                                                                              style="width: 100%;text-align:right;"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.SubTotal"></kendo-numerictextbox>
                                                                        <span asp-validation-for="SubTotal" class="text-danger"></span>
                                                                    </dd>

                                                                    <dt>
                                                                        <label asp-for="Tax" class="control-label"></label>
                                                                    </dt>
                                                                    <dd>
                                                                        <kendo-numerictextbox name="Tax"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled class="control-label right bold"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.Tax"></kendo-numerictextbox>
                                                                        <span asp-validation-for="Tax" class="text-danger"></span>
                                                                    </dd>



                                                                    <dt>
                                                                        <label asp-for="Tax18" class="control-label"></label>
                                                                    </dt>
                                                                    <dd>
                                                                        <kendo-numerictextbox name="Tax18"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled
                                                                                              class="control-label right bold"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.Tax18"></kendo-numerictextbox>
                                                                        <span asp-validation-for="Tax18" class="text-danger"></span>
                                                                    </dd>



                                                                    <dt>
                                                                        <label asp-for="Freight" class="control-label"></label>
                                                                    </dt>
                                                                    <dd>
                                                                        <kendo-numerictextbox name="Freight"
                                                                                              format="n2" spinners="false"
                                                                                              style="width: 100%;text-align:right;padding-right:3px"
                                                                                              min="0"
                                                                                              required class="control-label right bold"
                                                                                              onchange="CalcularTotalDocumento();"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.Freight"></kendo-numerictextbox>
                                                                        <span asp-validation-for="Freight" class="text-danger"></span>
                                                                    </dd>

                                                                    <dt>
                                                                        <label asp-for="Remarks" class="control-label"></label>
                                                                    </dt>
                                                                    <dd>
                                                                        <textarea asp-for="Remarks" class="form-control required " style="min-width: 100%;"></textarea>
                                                                        <span asp-validation-for="Remarks" class="text-danger"></span>
                                                                    </dd>

                                                                    <dt>
                                                                        <label asp-for="TotalExento" class="control-label"></label>
                                                                    </dt>

                                                                    <dd>
                                                                        <kendo-numerictextbox name="TotalExento"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled
                                                                                              required class="control-label right bold"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.TotalExento"></kendo-numerictextbox>
                                                                        <span asp-validation-for="TotalExento" class="text-danger"></span>
                                                                    </dd>


                                                                    <dt>
                                                                        <label asp-for="TotalExonerado" class="control-label"></label>
                                                                    </dt>

                                                                    <dd>
                                                                        <kendo-numerictextbox name="TotalExonerado"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled
                                                                                              required class="control-label right bold"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.TotalExonerado"></kendo-numerictextbox>
                                                                        <span asp-validation-for="TotalExonerado" class="text-danger"></span>
                                                                    </dd>

                                                                    <dt>
                                                                        <label asp-for="TotalGravado" class="control-label"></label>
                                                                    </dt>

                                                                    <dd>
                                                                        <kendo-numerictextbox name="TotalGravado"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled
                                                                                              required class="control-label right bold"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.TotalGravado"></kendo-numerictextbox>
                                                                        <span asp-validation-for="TotalGravado" class="text-danger"></span>
                                                                    </dd>

                                                                    <dt>
                                                                        <label asp-for="TotalGravado18" class="control-label"></label>
                                                                    </dt>

                                                                    <dd>
                                                                        <kendo-numerictextbox name="TotalGravado18"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled
                                                                                              required class="control-label right bold"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.TotalGravado18"></kendo-numerictextbox>
                                                                        <span asp-validation-for="TotalGravado18" class="text-danger"></span>
                                                                    </dd>



                                                                    <dt>
                                                                        <label asp-for="Total" class="control-label"></label>
                                                                    </dt>

                                                                    <dd>
                                                                        <kendo-numerictextbox name="Total"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled
                                                                                              required class="control-label right bold"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.Total"></kendo-numerictextbox>
                                                                        <span asp-validation-for="Total" class="text-danger"></span>
                                                                    </dd>

                                                                </dl>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <div class="row">
                                            @if (Convert.ToBoolean(Model.editar))
                                            {
                                                <button id="btnSaveCotizacion" type="submit" class="form-control btn-miboton " onclick="SaveCotizacion(this);">Guardar</button>
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

                    function GetProductIdS() {
                        return { 'ProductId': $("#ProductId").val() }
                    }


                    function RefreshCotizaciones() {
                        var grid = $("#gridCotizaciones").getKendoGrid();
                        grid.dataSource.read();
                    }

                    function SaveCotizacion(e) {

                        var notification = $("#notification").data("kendoNotification");
                        // e.preventDefault();
                        $("#btnSaveCotizacion").hide();
                        $("#btnSaveCotizacion").prop("disabled", true);
                        RefreshOFAC();
                        var validadetalle = true;
                        var displayedData = $("#gridCotizacionesDetail").data().kendoGrid.dataSource.data();
                        for (var i = 0; i < displayedData.length; i++) {
                            displayedData[i].SalesOrderLineId = 0;
                            if (
                                displayedData[i].Quantity === 0
                                || displayedData[i].Price === 0
                                || displayedData[i].Amount === 0
                                || displayedData[i].SubProductId === null || displayedData[i].SubProductId === 0) {
                                notification.show({
                                    title: "Validación",
                                    message: "Ingrese al detalle todos los datos requeridos"
                                }, "error");
                                validadetalle = false;
                            }
                        }

                        RefreshOFAC();                        
                        RefreshOFAC();
                       
                        var listadoenqueaparece = "";
                        var gridListaOFAC = $("#gridListaOFAC").data().kendoGrid.dataSource.data();
                        var gridListaPEPS = $("#gridListaPEPS").data().kendoGrid.dataSource.data();
                        var gridListaNegra = $("#gridListaNegra").data().kendoGrid.dataSource.data();
                        var gridListaONU = $("#gridListaONU").data().kendoGrid.dataSource.data();
                        debugger;

                        var confirmaexpecion = false;
                        var idEstado = 6;
                        var Estado = 'Aprobado';
                        if ($("#IdEstado").val() != null) {
                            Estado = $("#IdEstado").data("kendoDropDownList").text();
                        }

                        if (
                            gridListaPEPS.length > 0

                        ) {

                            // notification.show({
                            //    title: "Validación",
                            //    message: "No puede guardar una cotización para este cliente ya que aparece en los listados!"
                            //}, "error");


                            if (confirm("¿Desea crear una excepción para este cliente y enviar a aprobación?, esto notificara a Gerencia")) {
                                validadetalle = true;
                                confirmaexpecion = true;
                                idEstado = 5;
                                Estado = 'Enviada a Aprobacion'
                                listadoenqueaparece += gridListaOFAC.length > 0 ? "PEPS" : "";
                            }
                            else {
                                validadetalle = false;
                                notification.show({
                                    title: "Validación",
                                    message: "No puede guardar una cotización para este cliente ya que aparece en los listados!"
                                }, "error");
                            }

                        }
                        else if (gridListaOFAC.length > 0
                            || gridListaNegra.length > 0
                            || gridListaONU.length > 0
                        )

                        {
                            listadoenqueaparece += gridListaOFAC.length > 0 ? "OFAC" : "";
                            listadoenqueaparece += gridListaNegra.length > 0 ? "ListaNegra" : "";
                            listadoenqueaparece += gridListaONU.length > 0 ? "ListadoONU" : "";


                            validadetalle = true;
                            idEstado = 7;
                            Estado = 'Rechazado';

                            notification.show({
                                title: "Validación",
                                message: "Esta cotización se muestra como estado rechazado!"
                            }, "error");

                        }


                       // debugger;

                        if (validadetalle) {

                            var dataObject = {
                                'SalesOrderId': $("#SalesOrderId").val() === "" ? "0" : $("#SalesOrderId").val(),
                                'SalesOrderName': $("#SalesOrderName").val(),
                                'BranchId': $("#BranchId").val(),
                                'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                                'CustomerId': $("#CustomerId").val(),
                                'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
                                'ProductId': $("#ProductId").val(),
                                'ProductName': $("#ProductId").data("kendoDropDownList").text(),
                                'OrderDate': $("#OrderDate").getKendoDateTimePicker().value().toJSON(),
                              //  'DeliveryDate': $("#DeliveryDate").getKendoDateTimePicker().value().toJSON(),
                                'ExpirationDate': $("#ExpirationDate").getKendoDateTimePicker().value().toJSON(),
                                'CurrencyId': Number($("#CurrencyId").val()),
                                'CustomerRefNumber': $("#CustomerRefNumber").val(),
                                'SalesTypeId': $("#SalesTypeId").val(),
                                'TypeContractId': Number($("#TypeContractId").val()),
                                'NameContract': $("#TypeContractId").data("kendoDropDownList").text(),
                                'Remarks': $("#Remarks").val(),
                                'Amount': $("#Amount").val(),
                                'SubTotal': $("#SubTotal").val(),
                                'Discount': $("#Discount").val(),
                                'Tax': $("#Tax").val(),
                                'Freight': $("#Freight").val(),
                                'Total': $("#Total").val(),
                                'Correo': $("#Correo").val(),
                                'Direccion': $("#Direccion").val(),
                                'RTN': $("#RTN").val(),
                                'Tefono': $("#Tefono").val(),
                                'TotalExento': $("#TotalExento").val(),
                                'TotalExonerado': $("#TotalExonerado").val(),
                                'TotalGravado': $("#TotalGravado").val(),
                                'SalesOrderLines': displayedData,
                                'IdEstado': idEstado,
                                'Estado': Estado,
                                'listadossancionados': listadoenqueaparece
                            };

                            //console.log(JSON.stringify(dataObject));
                            //var form = $("#frmSalesOrder");
                            //form.validate();
                            //console.log(JSON.stringify(dataObject));
                            //console.log(dataObject);

                            var validator = $("#frmSalesOrder").data("kendoValidator");
                            var validator2 = $("#TotalesDocumento").data("kendoValidator");
                            var status = $(".status");



                            if (displayedData.length > 0) {
                                if (validator.validate() && validator2.validate()) {

                                    $.ajax({
                                        url: '@Url.Action("SaveSalesOrder", "SalesOrder")',
                                        method: 'POST',
                                        datatype: "json",
                                        //  contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                        contentType: 'application/json',
                                        async: false,
                                        data: JSON.stringify(dataObject),
                                        success: function (data) {

                                            $("#SalesOrderId").data("kendoNumericTextBox").value(data.SalesOrderId);

                                            $.toast({
                                                heading: 'Satisfactorio',
                                                text: 'Datos guardados correctamente.',
                                                position: 'top-right',
                                                loaderBg: '#ff6849',
                                                icon: 'success',
                                                hideAfter: 3000,
                                                stack: 6
                                            });
                                            //notification.show({
                                            //    message: "Guardado correctamente!"
                                            //}, "upload-success");

                                            RefreshCotizaciones();
                                            $('#myModalSalesOrder').modal('hide');

                                        },
                                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                                          //  $("#btnSaveCotizacion").show();
                                           // $("#btnSaveCotizacion").prop("disabled", false);
                                            notification.show({
                                                title: "Validación",
                                                message: textStatus + ": " + XMLHttpRequest.responseText
                                            }, "error");

                                        }
                                    });

                                }
                                else {
                                    $("#btnSaveCotizacion").show();
                                    $("#btnSaveCotizacion").prop("disabled", false);
                                    notification.show({
                                        title: "Validación",
                                        message: "Hay datos invalidos en el formulario!"
                                    }, "error");
                                }
                            }
                            else {
                                notification.show({
                                    title: "Validación",
                                    message: "Debe agregar los productos!"
                                }, "error");
                                $("#btnSaveCotizacion").show();
                                $("#btnSaveCotizacion").prop("disabled", false);
                            }
                        }

                        else
                            {
                               $("#btnSaveCotizacion").show();
                               $("#btnSaveCotizacion").prop("disabled", false);
                         }



                    }
</script>
