@model ERPMVC.DTO.SalesOrderDTO
@using System.Security.Claims
@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
{"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];
}


<script>


    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        //if (input.attr('name') === "SubProductId" && input.val() === "0") {
        //    return false;
        //}

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        //if (input.attr('name') === "Price" && input.val() == 0) {
        //    return false;
        //}

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }



        return true;
    }


    var tmrReady = setInterval(isPageFullyLoaded, 100);

    function isPageFullyLoaded() {
        if (document.readyState == "loaded" || document.readyState == "complete") {
            subclassForms();
            clearInterval(tmrReady);

        }

    }

    function submitDisabled(_form, currSubmit) {
        return function () {
            var mustSubmit = true;
            if (currSubmit != null)
                mustSubmit = currSubmit();

            var els = _form.elements;
            for (var i = 0; i < els.length; i++) {
                if (els[i].type == "submit")
                    if (mustSubmit)
                        els[i].disabled = true;

            }
            return mustSubmit;

        }

    }



    function subclassForms() {
        for (var f = 0; f < document.forms.length; f++) {
            var frm = document.forms[f];
            frm.onsubmit = submitDisabled(frm, frm.onsubmit);

        }

    }


</script>

<div id="divPEPSFind">
    @await Html.PartialAsync("~/Views/PEPS/PEPSFind.cshtml")
</div>

<div id="divBlackListFind">
    @await Html.PartialAsync("~/Views/BlackListCustomers/BlackListFind.cshtml")
</div>

<div id="divONULISTFind">
    @await Html.PartialAsync("~/Views/ONU/ONULISTFind.cshtml")
</div>

<div id="divOFACFind">
    @await Html.PartialAsync("~/Views/OFAC/Index.cshtml")
</div>


<div id="ModalAnular" style="padding-left:50%; padding-bottom:50%;" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Observaciones</h4>
                <button type="button"  class="modal-close" id="CloseModal">&times;</button>
            </div>
            <div class="modal-body">

                <div class="col-md-12">
                    <div class="form-group">
                        <form id="frmObservacion" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                              data-ajax="true"
                              data-ajax-method="post"
                              data-ajax-begin="AnularCotizacion"
                              class="validation-wizard wizard-circle">
                            <label asp-for="Observacion" class="control-label" style="width:100%"></label>
                            <input type="text" id="ObservacionAnular" required class="form-control required " style="min-width: 100%" />
                            <input type="text" id="AnularCotizacion" hidden />
                            <span asp-validation-for="Observacion" class="text-danger"></span>

                            <button id="btnobservacion" type="submit" class="form-control btn-miboton">Guardar</button>
                
                        </form>
                        <script>
                            $('#CloseModal').click(function () { $('#ModalAnular').modal('hide'); $('#ObservacionAnular').val(''); location.reload(); });

                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div id="myModalSalesOrder" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Información Cotización</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">            

                <div class="container-fluid"><div class="card">
        

    <div class="card">
        <div class="card-body">
            <form id="frmSalesOrder" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                  data-ajax="true"
                  data-ajax-method="post"
                  method="post" class="validation-wizard wizard-circle">


                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="SalesOrderId" class="control-label">No Cotización</label>
                            <input type="text" asp-for="SalesOrderId" class="k-textbox" style="min-width: 100%" disabled />
                            <span asp-validation-for="SalesOrderId" class="text-danger"></span>
                        </div>

                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="OrderDate" class="control-label" style="min-width: 100%;">Fecha Cotización</label>
                            <kendo-datetimepicker name="OrderDate"
                                                  style="min-width: 93%;"
                                                  format="dd/MM/yyyy hh:mm:ss"
                                                  time-format="hh:mm:ss"
                                                  data-val-required="La Fecha de Cotización es requerida."
                                                  value="Model.OrderDate" />
                            <span asp-validation-for="OrderDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="ExpirationDate" class="control-label" style="min-width: 100%;">Fecha de Vencimiento</label>
                            <kendo-datetimepicker name="ExpirationDate"
                                                  style="min-width: 93%;    "
                                                  format="dd/MM/yyyy hh:mm:ss"
                                                  required data-required-msg="La Fecha de Vencimiento es requerida."
                                                  time-format="hh:mm:ss"
                                                  value="Model.ExpirationDate" />
                            <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="IdEstado" class=" control-label" style="width:100%">Estado</label>
                            <kendo-dropdownlist name="IdEstado" readonly
                                                for="@Model.IdEstado"
                                                filter="Kendo.Mvc.UI.FilterType.Contains"
                                                option-label="Seleccionar Estado"
                                                datatextfield="NombreEstado"
                                                datavaluefield="IdEstado"
                                                style="width: 100%;">
                                <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="999999">
                                    <sorts>
                                        <sort field="NombreEstado" direction="asc" />
                                    </sorts>
                                    <transport>
                                        <read url="@Url.Action("Get", "Estados")" />
                                    </transport>
                                </datasource>
                            </kendo-dropdownlist>
                            <span asp-validation-for="IdEstado" class="text-danger"></span>
                        </div>
                    </div>







                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <script>
                                                        function SetCustomerName(e) {
                                                           // console.log(e);
                                                            $("#CustomerContractId_Source").data("kendoDropDownList").dataSource.read();
                                                            if ($("#CustomerId").val() > 0) {
                                                                //$("#SalesOrderName").prop('disabled', true);
                                                                $("#SalesOrderName").val($("#CustomerId").data("kendoDropDownList").text());
                                                                var dataObject = { CustomerId: $("#CustomerId").val()};
                                                                  $.ajax({
                                                                     url: '@Url.Action("GetCustomerById", "Customer")',
                                                                     method: 'GET',
                                                                     datatype: "json",
                                                                     contentType: 'application/json',
                                                                     async: false,
                                                                     data: dataObject,
                                                                      success: function (result) {
                                                                          //console.log(result);
                                                                          // setearvalor("TaxPercentage", result.TaxPercentage);
                                                                          $("#RTN").val(result.RTN);
                                                                          $("#Correo").val(result.Email);
                                                                          $("#Tefono").val(result.Phone);
                                                                          var maskedtextbox = $("#Tefono").data("kendoMaskedTextBox");
                                                                          maskedtextbox.value($("#Tefono").val());
                                                                          //$("#CustomerRefNumber").val(result.CustomerRefNumber);
                                                                          $("#Direccion").val(result.Address);
                                                                     },
                                                                      error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                                             //alert(textStatus + ": " + XMLHttpRequest.responseText);
                                                                           MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Validación", 6000);
                                                                       }
                                                                  });
                                                            }
                                                            else {
                                                                $("#SalesOrderName").prop('disabled', false);
                                                                $("#RTN").val(null);
                                                                $("#Correo").val(null);
                                                                $("#Tefono").val(null);
                                                                var maskedtextbox = $("#Tefono").data("kendoMaskedTextBox");
                                                                maskedtextbox.value($("#Tefono").val());
                                                                $("#SalesOrderName").val(null);
                                                                //$("#CustomerRefNumber").val(null);
                                                                $("#Direccion").val(null);
                                                            }
                                                            var validator = $("#frmSalesOrder").data("kendoValidator");
                                                            validator.validate();
                                                            validator.hideMessages();
                                                            
                                                        }
                            </script>
                            <label asp-for="CustomerId" class="control-label">Cliente</label>
                            <kendo-dropdownlist name="CustomerId" for="CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains" 
                                                option-label="Nuevo Cliente"
                                                datatextfield="CustomerName"
                                                datavaluefield="CustomerId"
                                                class="form-control-line"
                                                onchange="SetCustomerName();"
                                                value="@Model.CustomerId"
                                                style="width: 100%;">

                                <datasource type="DataSourceTagHelperType.WebApi" page-size="5000">
                                    <transport>
                                        <read url="@Url.Action("GetCustomerActivos", "Common")" />
                                    </transport>
                                </datasource>
                            </kendo-dropdownlist>
                            <span asp-validation-for="CustomerId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label asp-for="SalesOrderName" class="control-label" style="width:100%">Nombre del Cliente</label>
                            <span>
                                <input asp-for="SalesOrderName" required class="k-textbox" data-required-msg="El Nombre Cliente es requerido." style="min-width: 75%" />
                                <button type="button" onclick="Validarlista(); return ClienteListas();" class="k-button k-primary"><i class="fa fa-search"></i>  LISTADOS</button>
                            </span>
                            <span asp-validation-for="SalesOrderName" class="text-danger"></span>

                            <input type="text" id="busca" hidden class="form-control" style="min-width:95%;" />

                            <script>
                                var AlertaBuscaSocio = $("#busca").val('0');
                                function Validarlista() {
                                    if ($("#SalesOrderName").val() == '') {
                                        //alert("LLenar el campo Nombre Cliente para ver el listado")
                                         MostrarMensaje("Debe llenar el campo Nombre Cliente para ver el listado", "Error", "Validación", 6000);
                                    } else {
                                        $("#busca").val('1');
                                    }
                                }



                            </script>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="RTN" class="control-label" style="width:100%"></label>
                            <input type="text" asp-for="RTN" required class="k-textbox" data-required-msg="El RTN es requerido." maxlength="20" style="min-width: 100%" />
                            <span asp-validation-for="RTN" class="text-danger"></span>
                        </div>
                    </div>


                </div>


                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Tefono" class="control-label" style="width:100%"></label>
                            @*<input type="text" asp-for="Tefono" class="form-control required " style="min-width: 100%" />*@
                            <input type="text" asp-for="Tefono" name="Tefono" data-val-required="El Telefono es requerido."  style="min-width:100%;" onchange="validarTefono()" />
                            <span asp-validation-for="Tefono" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Correo" class="control-label" style="width:100%"></label>
                            @*<input type="email" asp-for="Correo" data-val-regex="Correo invalido" class="form-control required " style="min-width: 100%" />*@
                            <input type="text" asp-for="Correo" placeholder="nombre@ejemplo.com" required maxlength="150" data-email-msg="Formato del Correo no valido"  data-val-required="Correo es Requerido" class="k-textbox" style="min-width: 100%" />
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="CargoContactoRepresentante" class="control-label" style="width:100%">Cargo Contacto del Cliente</label>
                            <input type="text" id="CargoContactoRepresentante" asp-for="CargoContactoRepresentante" data-val-required="El Cargo del Contacto del Cliente es requerido." class="k-textbox" style="min-width:100%" />
                            <span asp-validation-for="CargoContactoRepresentante" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Representante" class="control-label" style="width:100%">Contacto del Cliente</label>
                            <input type="text" id="Representante" asp-for="Representante" data-val-required="El Representante Legal es requerida." class="k-textbox" style="min-width:100%" />
                            <span asp-validation-for="Representante" class="text-danger"></span>
                        </div>
                    </div>






                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Direccion" class="control-label" style="width:100%">Dirección</label>
                            <textarea asp-for="Direccion" required class="form-control required " data-required-msg="La Dirección es requerida." style="min-width: 100% !important;">@Model.Direccion</textarea>
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="FirmaAlmacafeCargo" class="control-label" style="width:100%">Cargo Representante Almacafe</label>
                            <input type="text" id="FirmaAlmacafeCargo" asp-for="FirmaAlmacafeCargo" data-val-required="El Cargo del representante de Almacafe es requerido" class="k-textbox" style="min-width:100%" />
                            <span asp-validation-for="FirmaAlmacafeCargo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="FirmaAlmacafe" class="control-label" style="width:100%">Representante Almacafe</label>
                            <input type="text" id="FirmaAlmacafe" asp-for="FirmaAlmacafe" data-val-required="El Representante Legal es requerida." class="k-textbox" style="min-width:100%" />
                            <span asp-validation-for="FirmaAlmacafe" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Plazo (Meses)</label>
                            <kendo-numerictextbox name="PlazoMeses" for="PlazoMeses"
                                                  format="n2"
                                                  min="0"
                                                  step="1"
                                                  max="60"
                                                  decimals="1"
                                                  restrict-decimals="false"
                                                  data-val-required="El Plazo es requerido"
                                                  style="min-width: 100%"
                                                  spinners="false"
                                                  value="@Model.PlazoMeses" />
                            <span asp-validation-for="PlazoMeses" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">

                            <label asp-for="TypeContractId" class="control-label" style="width:100%">Tipo de Contrato</label>
                            <kendo-dropdownlist name="TypeContractId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                for="TypeContractId" data-required-msg="El Tipo de Contrato es requerido."
                                                datatextfield="Nombre"
                                                datavaluefield="Id"
                                                option-label="Seleccione el Tipo de Contrato"
                                                value="@Model.TypeContractId"
                                                onchange="ContractType()"
                                                required
                                                style="width: 100%;">
                                <datasource type="DataSourceTagHelperType.WebApi">
                                    <transport>
                                        <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion", new { Id= 1})" />

                                    </transport>
                                </datasource>
                            </kendo-dropdownlist>
                            <span asp-validation-for="TypeContractId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="CustomerContractId_Source" class="control-label" style="width:100%">Contrato</label>
                            <kendo-dropdownlist name="CustomerContractId_Source" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                for="CustomerContractId_Source"
                                                option-label="Seleccione en caso de Adendum"
                                                datatextfield="CustomerContractId"
                                                datavaluefield="CustomerContractId"
                                                enable="false"
                                                on-change="SetServicio"
                                                onchange="SetServicio()"
                                                auto-bind="true"
                                                style="width: 100%;">
                                <datasource type="DataSourceTagHelperType.WebApi">
                                    <transport>
                                        <read url="@Url.Action("GetCustomerContractActiveByCustomerId", "CustomerContract")" data="GetCustomerId" />
                                    </transport>
                                </datasource>
                            </kendo-dropdownlist>
                            <span asp-validation-for="CustomerContractId_Source" class="text-danger"></span>
                        </div>
                    </div>
                    <script>
                        function SetServicio(e) {
                            ////debugger;
                            var contrato = $("#CustomerContractId_Source").val();
                            dataObject = {
                                ContractId: contrato,
                            };
                            var dataSource = $("#ProductId").data("kendoDropDownList");
                            $.ajax({
                                url: '@Url.Action("GetCustomerContractById", "CustomerContract")' ,
                                method: 'GET',
                                datatype: "json",
                                contentType: 'application/json',
                                async: false,
                                data: dataObject,
                                success: function (result) {
                                    //console.log(result);
                                    // setearvalor("TaxPercentage", result.TaxPercentage);
                                    dataSource.value(result.ProductId);
                                    dataSource.enable(false);


                                },
                                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                                     $("#ProductId").val(null);
                                     dataSource.enable(true);                  
                                }
                            });
                        }
                        function bloquearservicio() {
                            var tipo = $("#TypeContractId").val();                            
                            var dataSource = $("#ProductId").data("kendoDropDownList");
                            if (tipo == 2) {
                                dataSource.enable(false);
                            }
                        }
                    </script>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="ProductId" class="control-label" style="width:100%">Servicio</label>

                            <kendo-dropdownlist name="ProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                for="ProductId" data-required-msg="El Servicio es requerido."
                                                option-label="Seleccione el servicio"
                                                datatextfield="ProductName"
                                                datavaluefield="ProductId"
                                                on-change="limpiardetalle"
                                                on-data-bound="bloquearservicio"
                                                auto-bind="true"
                                                required
                                                style="width: 100%;">
                                <datasource type="DataSourceTagHelperType.WebApi">
                                    <transport>
                                        <read url="@Url.Action("GetProductActivos", "Common")" />
                                    </transport>
                                </datasource>
                            </kendo-dropdownlist>
                            <span asp-validation-for="ProductId" class="text-danger"></span>
                        </div>
                    </div>
                    <script>
                        function GetCustomerId() {
                            ////debugger;
                            var customerid = $("#CustomerId").val();
                            return {
                                'CustomerId': customerid
                            };
                        }
                        function ContractType() {
                            var type = $("#TypeContractId").data("kendoDropDownList").text()
                            if (type == 'Adendum') {
                                $("#CustomerContractId_Source").data("kendoDropDownList").enable(true);
                            }
                            else
                            {
                                $("#CustomerContractId_Source").data("kendoDropDownList").enable(false);
                                $("#CustomerContractId_Source").data("kendoDropDownList").value(null);
                            }
                        }
                    </script>


                    <div class="col-md-3">
                        <div class="form-group">

                            <label asp-for="TypeInvoiceId" class="control-label" style="width:100%">Tipo de Facturación</label>

                            <kendo-dropdownlist name="TypeInvoiceId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                for="TypeInvoiceId" data-required-msg="El Tipo de Facturación es requerido."
                                                datatextfield="Nombre"
                                                datavaluefield="Id"
                                                required
                                                option-label="Seleccione el tipo de Facturación"
                                                value="@Model.TypeInvoiceId"
                                                on-data-bound="tipoFacturacion"
                                                on-change="tipoFacturacion"
                                                style="width: 100%;">
                                <datasource type="DataSourceTagHelperType.WebApi">
                                    <transport>
                                        <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion" , new { Id= 32 })" />

                                    </transport>
                                </datasource>
                            </kendo-dropdownlist>
                            <span asp-validation-for="TypeInvoiceId" class="text-danger"></span>
                        </div>
                    </div>

                    <script>
                        function limpiardetalle() {
                            $("#gridCotizacionesDetail").data("kendoGrid").dataSource.data([]);
                        }
                    </script>

                    <script>
                        function tipoFacturacion() {
                            let tipo = $("#TypeInvoiceId").val();
                            if (tipo == 84) {
                                $("#ComMax").show();
                                $("#ComMin").show();
                                $("#Preciobase").show();
                                $("#incrementoanual").hide();
                            } else if (tipo == 184) {
                                $("#ComMax").hide();
                                $("#ComMin").hide();
                                $("#Preciobase").hide();
                                $("#incrementoanual").show();
                                limpiarvalores();
                            } else {
                                $("#ComMax").hide();
                                $("#ComMin").hide();
                                $("#Preciobase").hide();
                                $("#incrementoanual").hide();
                                setearvalor("PrecioBaseProducto", null);
                                setearvalor("ComisionMax", null);
                                setearvalor("ComisionMin", null);
                                limpiarvalores();
                            }
                        }


                        function limpiarvalores() {
                            setearvalor("PrecioBaseProducto", 0);
                            setearvalor("ComisionMax", 0);
                            setearvalor("ComisionMin", 0);
                            setearvalor("IncrementoAnual", 0);
                        }

                    </script>


                    
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="BranchId" class="control-label">Sucursal</label>
                            <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                option-label="Seleccione la sucursal" data-required-msg="La Sucursal es requerida."
                                                datatextfield="BranchName"
                                                enable="false"
                                                datavaluefield="BranchId"
                                                value="@Model.BranchId"
                                                required
                                                style="width: 100%;">
                                <datasource type="DataSourceTagHelperType.WebApi" page-size="999999999">
                                    <transport>
                                        <read url="@Url.Action("GetActivos", "Branch")" />
                                    </transport>
                                </datasource>
                            </kendo-dropdownlist>
                            <span asp-validation-for="BranchId" class="text-danger"></span>
                        </div>
                    </div>

                    
                    <div class="col-md-3" id="Preciobase">
                        <div class="form-group">
                            <label class="control-label">Precio Base Producto</label>
                            <kendo-numerictextbox name="PrecioBaseProducto" for="PrecioBaseProducto"
                                                  format="c2"
                                                  min="0"
                                                  step="1"
                                                  max="10000"
                                                  decimals="2"
                                                  restrict-decimals="true"
                                                  style="min-width: 100%"
                                                  spinners="false"
                                                  value="@Model.PrecioBaseProducto" />
                            <span asp-validation-for="PrecioBaseProducto" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3" id="ComMin">
                        <div class="form-group">
                            <label class="control-label">Comision % Min</label>
                            <kendo-numerictextbox name="ComisionMin" for="ComisionMin"
                                                  format="n2"
                                                  min="0"
                                                  step="1"
                                                  max="100"
                                                  decimals="2"
                                                  spinners="false"
                                                  restrict-decimals="true"
                                                  style="min-width: 100%"
                                                  value="@Model.ComisionMin" />
                            <span asp-validation-for="ComisionMin" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3" id="ComMax">
                        <div class="form-group">
                            <label class="control-label">Comision % Max</label>
                            <kendo-numerictextbox name="ComisionMax" for="ComisionMax"
                                                  format="n2"
                                                  min="0"
                                                  step="1"
                                                  max="100"
                                                  decimals="2"
                                                  restrict-decimals="true"
                                                  style="min-width:100%"
                                                  spinners="false"
                                                  value="@Model.ComisionMax" />
                            <span asp-validation-for="ComisionMax" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3" id="incrementoanual">
                        <div class="form-group">
                            <label class="control-label">% Incremento Anual</label>
                            <kendo-numerictextbox name="IncrementoAnual" for="IncrementoAnual"
                                                  format="n2"
                                                  min="0"
                                                  step="1"
                                                  max="100"
                                                  decimals="2"
                                                  restrict-decimals="true"
                                                  style="min-width:100%"
                                                  spinners="false"
                                                  value="@Model.IncrementoAnual" />
                            <span asp-validation-for="IncrementoAnual" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Observacion" class="control-label" style="width:100%"></label>
                            <textarea asp-for="Observacion" class="k-textarea" style="min-width: 100%;"></textarea>
                            <span asp-validation-for="Observacion" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </form>
            <div id="salesorderdetail">
                @await Html.PartialAsync("pvwSalesOrderDetail", Model, new ViewDataDictionary(ViewData) { { "permisosSalesOrder", permisos } })
            </div>

            <div id="SalesOrderLineMant">
                @await Html.PartialAsync("pvwSalesOrderDetailMant", new ERPMVC.Models.SalesOrderLine { SalesOrderLineId = 0, SalesOrderId = Model.SalesOrderId })
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Remarks" class="control-label">Comentarios</label>
                        <textarea asp-for="Remarks" class="form-control required " style="min-width: 100%;"></textarea>
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <form id="TotalesDocumento" kendo-validator="true" kendo-messages="messages" kendo-rules="rules">
            </form>
        </div>
    </div>
    <div class="row">
        @if (Model.IdEstado == 8)
        {
            <button id="btnSaveCotizacion" type="submit" class="form-control btn-miboton " onclick="SaveCotizacion(this);">Guardar</button>
        }
    </div>

</div>
                    </div>
                </div>
        </div>
    </div>
</div>

<script>
                    $(document).ready(function () {
                        $("#TefonoAlert").hide();

                    });

                    function validarTefono() {
                        var cadena = $("#Tefono").val();
                        if (cadena.indexOf("_") > -1 == true) {
                            $("#TefonoAlert").show();
                        }
                        else {
                            $("#TefonoAlert").hide();
                        }
                    }

                    function GetProductIdS() {
                        return { 'ProductId': $("#ProductId").val() }
                    }
                    $(this).removeData('ModalAnular');

                    function RefreshCotizaciones() {
                        var grid = $("#gridCotizaciones").getKendoGrid();
                        grid.dataSource.read();
                    }

          function SaveCotizacion(e) {
            try {
                ////////Validaciones////////////
                var type = $("#TypeContractId").data("kendoDropDownList").text()
                var contrato = $("#CustomerContractId_Source").val();
                if (type == 'Adendum' && contrato == null) {
                    //$.toast({
                    //    heading: 'Validación',
                    //    text: "Seleccione el Contrato al que se le va a realizar el Adendum",
                    //    position: 'top-right',
                    //    loaderBg: '#ff6849',
                    //    icon: 'error',
                    //    hideAfter: 30000,
                    //    stack: 6
                    //});

                     MostrarMensaje("Seleccione el Contrato al que se le va a realizar el Adendum", "Error", "Validación", 6000);
                    return;
                    
                }
                $("#btnSaveCotizacion").prop("disabled", false);
                var displayedData = $("#gridCotizacionesDetail").data().kendoGrid.dataSource.data();
                for (var i = 0; i < displayedData.length; i++) {
                    break;
                    displayedData[i].SalesOrderLineId = 0;
                    if (displayedData[i].Price === 0
                        || displayedData[i].SubProductId === null || displayedData[i].SubProductId === 0) {
                        //$.toast({
                        //    heading: 'Validación',
                        //    text: "Ingrese al detalle todos los datos requeridos",
                        //    position: 'top-right',
                        //    loaderBg: '#ff6849',
                        //    icon: 'error',
                        //    hideAfter: 30000,
                        //    stack: 6
                        //});
                         MostrarMensaje("Ingrese al detalle todos los datos requeridos", "Error", "Validación", 6000);
                        validadetalle = false;
                        return;
                    }
                }

                var validator = $("#frmSalesOrder").data("kendoValidator");
                console.log(validator)

                if (!validator.validate()) {
                    //$.toast({
                    //    heading: 'Validación',
                    //    text: "Ingrese los valores de los campos requeridos",
                    //    position: 'top-right',
                    //    loaderBg: '#ff6849',
                    //    icon: 'error',
                    //    hideAfter: 30000,
                    //    stack: 6
                    //});
                     MostrarMensaje("Ingrese los valores de los campos requeridos", "Error", "Validación", 6000);
                    return;
                }


                ///////////Validaciones/////////////


                ClienteListas();
                //RefreshOFAC();
                //RefreshOFAC();
                ClienteListas()

                var listadoenqueaparece = "";
                var gridListaOFAC = $("#gridListaOFAC").data().kendoGrid.dataSource.data();
                var gridListaPEPS = $("#gridListaPEPS").data().kendoGrid.dataSource.data();
                var gridListaNegra = $("#gridListaNegra").data().kendoGrid.dataSource.data();
                var gridListaONU = $("#gridListaONU").data().kendoGrid.dataSource.data();
                ////debugger;

                var confirmaexpecion = false;
                var idEstado = 8;
                var Estado = 'Pendiente';

                if (
                       gridListaPEPS.length > 0
                    ||  gridListaOFAC.length > 0
                    || gridListaNegra.length > 0
                    || gridListaONU.length > 0

                ) {


                    if (confirm("¿Desea crear una excepción para este cliente y enviar a aprobación?, esto notificara a Gerencia y a cumplimiento")) {
                        validadetalle = true;
                        confirmaexpecion = true;
                        idEstado = 5;
                        Estado = 'Enviada a Aprobacion'
                        listadoenqueaparece += gridListaPEPS.length > 0 ? "PEPS" : "";
                    }
                    else {
                        validadetalle = false;
                        //$.toast({
                        //    heading: 'Validación',
                        //    text: "No puede guardar una cotización para este cliente ya que aparece en los listados!",
                        //    position: 'top-right',
                        //    loaderBg: '#ff6849',
                        //    icon: 'error',
                        //    hideAfter: 30000,
                        //    stack: 6
                        //});
                         MostrarMensaje("No puede guardar una cotización para este cliente ya que aparece en los listados!", "Error", "Validación", 6000);
                    }

                }
                else if (gridListaOFAC.length > 0
                    || gridListaNegra.length > 0
                    || gridListaONU.length > 0
                ) {
                    listadoenqueaparece += gridListaOFAC.length > 0 ? "OFAC" : "";
                    listadoenqueaparece += gridListaNegra.length > 0 ? "ListaNegra" : "";
                    listadoenqueaparece += gridListaONU.length > 0 ? "ListadoONU" : "";


                    validadetalle = true;
                    idEstado = 7;
                    Estado = 'Rechazado';
                    //$.toast({
                    //    heading: 'Validación',
                    //    text: "Esta cotización se muestra como estado rechazado!",
                    //    position: 'top-right',
                    //    loaderBg: '#ff6849',
                    //    icon: 'error',
                    //    hideAfter: 30000,
                    //    stack: 6
                    //});
                     MostrarMensaje("Esta cotización se muestra como estado rechazado!", "Error", "Validación", 6000);

                }

                var dataObject = {
                        'SalesOrderId': $("#SalesOrderId").val() === "" ? "0" : $("#SalesOrderId").val(),
                        'SalesOrderName': $("#SalesOrderName").val(),
                        'BranchId': $("#BranchId").val(),
                        'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                        'CustomerId': $("#CustomerId").val(),
                        'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
                        'ProductId': $("#ProductId").val(), 
                        'FirmaAlmacafe': $("#FirmaAlmacafe").val(),
                        'FirmaAlmacafeCargo': $("#FirmaAlmacafeCargo").val(),
                        'ProductName': $("#ProductId").data("kendoDropDownList").text(),
                        'OrderDate': $("#OrderDate").getKendoDateTimePicker().value().toJSON(),
                        'ExpirationDate': $("#ExpirationDate").getKendoDateTimePicker().value().toJSON(),
                        'SalesTypeId': $("#SalesTypeId").val(),
                        'TypeContractId': Number($("#TypeContractId").val()),
                        'NameContract': $("#TypeContractId").data("kendoDropDownList").text(),
                        'Remarks': $("#Remarks").val(),
                        'Correo': $("#Correo").val(),
                        'Direccion': $("#Direccion").val(),
                        'Observacion': $("#Observacion").val(),
                        'RTN': $("#RTN").val(),
                        'Tefono': $("#Tefono").val(),
                        'PlazoMeses': $("#PlazoMeses").val(),
                        'ComisionMax': $("#ComisionMax").val(),
                        'ComisionMin': $("#ComisionMin").val(),
                        'PrecioBaseProducto': $("#PrecioBaseProducto").val(), 
                        'CustomerContractId_Source': $("#CustomerContractId_Source").val(),
                        'SalesOrderLines': displayedData,
                        'IdEstado': idEstado,
                        'Estado': Estado,
                        'CargoContactoRepresentante': $('#CargoContactoRepresentante').val(),
                        'Representante': $('#Representante').val(),
                        'TypeInvoiceId': $("#TypeInvoiceId").val(),
                        'TypeInvoiceName': $("#TypeInvoiceId").data("kendoDropDownList").text(),
                        'listadossancionados': listadoenqueaparece
                    };

                    $.ajax({
                    url: '@Url.Action("SaveSalesOrder", "SalesOrder")',
                    method: 'POST',
                    datatype: "json",
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify(dataObject),
                    success: function (data) {
                        ////debugger;
                        $("#SalesOrderId").val(data.SalesOrderId);

                        //$.toast({
                        //    heading: 'Satisfactorio',
                        //    text: 'Datos guardados correctamente.',
                        //    position: 'top-right',
                        //    loaderBg: '#ff6849',
                        //    icon: 'success',
                        //    hideAfter: 3000,
                        //    stack: 6
                        //});

                        MostrarMensaje('Datos guardados correctamente.', "success", "Satisfactorio", 6000);
                        RefreshCotizaciones();
                        $('#myModalSalesOrder').modal('hide');

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#btnSaveCotizacion").show();
                        $("#btnSaveCotizacion").prop("disabled", false);
                        let geterror = XMLHttpRequest.responseText;
                        if (XMLHttpRequest.responseText > 500) {
                            geterror = 'Error de Sesión';
                        }

                        //$.toast({
                        //    heading: 'Validación',
                        //    text: textStatus + ": " + geterror,
                        //    position: 'top-right',
                        //    loaderBg: '#ff6849',
                        //    icon: 'error',
                        //    hideAfter: 30000,
                        //    stack: 6
                        //});
                         MostrarMensaje( textStatus + ": " + geterror, "Error", "Validación", 6000);
                    }
                });

            } catch (e) {
                console.log(e);
                $("#btnSaveCotizacion").show();
                $("#btnSaveCotizacion").prop("disabled", false);
            }

    }

</script>


<script>
    //Buscar en las listas

        function SociosDataONUListilicitas(nombre) {


        ////debugger;
            var mfirstname = $("#SalesOrderName").val();
            var mlastName = $("#SalesOrderName").val();
            var thirtname = $("#SalesOrderName").val();


        return {
            FIRST_NAME: mfirstname,
            SECOND_NAME: mlastName,
            THIRD_NAME: thirtname,
    };

    }


    function SociosDataPEPSlist(nombre) {

        ////debugger;
        var mfirstname = $("#SalesOrderName").val();


        return {
            Funcionario: mfirstname,
        };

    }


    function SociosDataBlackListilicitas(nombre) {
        var mfirstname = $("#SalesOrderName").val();
        return {
            CustomerName: mfirstname
        };

    }

    function SociosDataOFAClist(nombre) {
        ////debugger;
        var mfirstname = $("#SalesOrderName").val();
        var mlastName = $("#SalesOrderName").val();


        return {
            firstName: mfirstname,
            lastName: mlastName
        };

    }


    function ClienteListas(nombre) {

        var generar_alertas = false;

        $.ajax({
            url: '@Url.Action("GetBlackListByParams", "BlackListCustomers")',
            method: 'GET',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: SociosDataBlackListilicitas(nombre),
            success: function (GetBlackListByParams) {
                //////debugger;
                //$("#divBlackListFind").html('');
                //$("#divBlackListFind").html(data);


               var gridListaNegra = $("#gridListaNegra").getKendoGrid();
                var datasource = gridListaNegra.dataSource;

               var raw = datasource._data;
                for (i = datasource._data.length - 1; i >= 0; i--) {
                   var item = raw[i];
                    datasource.remove(item);
                }


               // console.log(GetBlackListByParams);
                for (var i = 0; i < GetBlackListByParams.Data.length; i++) {
                    datasource.insert(GetBlackListByParams.Data[i]);
                }
                    //d.async = false;
                    //d.read();

                    //  gridListaNegra.refresh();
                    var gridListalengthNegra = $("#gridListaNegra").data().kendoGrid.dataSource.data();
                 //   console.log('Lista Negra:' + gridListalengthNegra.length);
                    if (gridListalengthNegra.length > 0) {
                        $("#myModalListaNegra").modal('show');

                        generar_alertas = true;
                    }
                    else {
                        $("#myModalListaNegra").modal('hide');

                        if (AlertaBuscaSocio.val() == '1') {
                            //$.toast({
                            //    heading: 'En la Busqueda',
                            //    text: ' No se encuentran resultados en la Lista Negra.',
                            //    position: 'top-right',
                            //    loaderBg: '#ff6849',
                            //    icon: 'success',
                            //    showHideTransition: 'slide',
                            //    hideAfter: 6000,
                            //    stack: 6
                            //});

                             MostrarMensaje("No se encuentran resultados en la Lista Negra.", "success", "En la búsqueda", 6000);
                        }


                    }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

                //notification.show({
                //    title: "Validación",
                //    message: textStatus + ": " + XMLHttpRequest.responseText
                //}, "error");
                 MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Validación", 6000);
            }
        });


        $.ajax({
            url: '@Url.Action("GetPersonByName", "OFAC")',
            method: 'GET',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: SociosDataOFAClist(nombre),
            success: function (data) {

                var grid = $("#gridListaOFAC").getKendoGrid();
                var datasource = grid.dataSource;
                var raw = datasource._data;
                for (i = datasource._data.length - 1; i >= 0; i--) {
                    var item = raw[i];
                    datasource.remove(item);
                }

                for (var i = 0; i < data.Data.length; i++) {
                    datasource.insert(data.Data[i]);
                    generar_alertas = true;
                }

                    var gridListaOFAClen = $("#gridListaOFAC").data().kendoGrid.dataSource.data();

                    if (gridListaOFAClen.length > 0) {
                        $("#myModalOFAC").modal('show');
                    }
                    else {
                        $("#myModalOFAC").modal('hide');


                        if (AlertaBuscaSocio.val() == '1') {
                            //$.toast({
                            //    heading: 'En la Busqueda',
                            //    text: ' No se encuentran resultados en OFAC.',
                            //    position: 'top-right',
                            //    loaderBg: '#ff6849',
                            //    icon: 'success',
                            //    showHideTransition: 'slide',
                            //    hideAfter: 6000,
                            //    stack: 6
                            //});
                             MostrarMensaje(' No se encuentran resultados en OFAC.', "success", "En la búsqueda", 6000);
                        }
                    }


            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                //notification.show({
                //    title: "Validación",
                //    message: textStatus + ": " + XMLHttpRequest.responseText
                //}, "error");

                 MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Validación", 6000);
            }
        });


        $.ajax({
            url: '@Url.Action("GetByParams", "PEPS")',
            method: 'GET',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: SociosDataPEPSlist(nombre),
            success: function (data) {


                var gridListaPEPS = $("#gridListaPEPS").getKendoGrid();
                var datasource = gridListaPEPS.dataSource;

                var raw = datasource._data;
                for (i = datasource._data.length - 1; i >= 0; i--) {
                    var item = raw[i];
                    datasource.remove(item);
                }

                for (var i = 0; i < data.Data.length; i++) {
                    datasource.insert(data.Data[i]);
                }

                var gridListalengthpeps = $("#gridListaPEPS").data().kendoGrid.dataSource.data();


                if (gridListalengthpeps.length > 0) {
                    $("#myModalPEPS").modal('show');
                    generar_alertas = true;
                }
                else {
                    $("#myModalPEPS").modal('hide');
                    if (AlertaBuscaSocio.val() == '1') {
                        //$.toast({
                        //    heading: 'En la Busqueda',
                        //    text: ' No se encuentran resultados en PEPS.',
                        //    position: 'top-right',
                        //    loaderBg: '#ff6849',
                        //    icon: 'success',
                        //    showHideTransition: 'slide',
                        //    hideAfter: 6000,
                        //    stack: 6
                        //});
                         MostrarMensaje("No se encuentran resultados en PEPS.", "success", "En la búsqueda", 6000);
                    }
                        
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                //notification.show({
                //    title: "Validación",
                //    message: textStatus + ": " + XMLHttpRequest.responseText
                //}, "error");
                 MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Validación", 6000);
            }
        });

        $.ajax({
            url: '@Url.Action("GetONUPersonByName", "ONU")',
            method: 'GET',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: SociosDataONUListilicitas(nombre),
            success: function (data) {

                var gridListaONU = $("#gridListaONU").getKendoGrid();
                var datasource = gridListaONU.dataSource;

                var raw = datasource._data;
                for (i = datasource._data.length - 1; i >= 0; i--) {
                    var item = raw[i];
                    datasource.remove(item);
                }

                for (var i = 0; i < data.Data.length; i++) {
                    datasource.insert(data.Data[i]);
                }


                var gridListalengthONU = $("#gridListaONU").data().kendoGrid.dataSource.data();

                if (gridListalengthONU.length > 0) {
                    $("#myModalListaONU").modal('show');
                    generar_alertas = true;
                }
                else {
                    $("#myModalListaONU").modal('hide');

                    if (AlertaBuscaSocio.val() == '1') {
                        //$.toast({
                        //    heading: 'En la Busqueda',
                        //    text: ' No se encuentran resultados en ONU.',
                        //    position: 'top-right',
                        //    loaderBg: '#ff6849',
                        //    icon: 'success',
                        //    showHideTransition: 'slide',
                        //    hideAfter: 6000,
                        //    stack: 6
                        //});
                         MostrarMensaje(' No se encuentran resultados en ONU.', "success", "En la búsqueda", 6000);
                    }


                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                //notification.show({
                //    title: "Validación",
                //    message: textStatus + ": " + XMLHttpRequest.responseText
                //}, "error");
                 MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Validación", 6000);
            }
        });



        if (generar_alertas == true && AlertaBuscaSocio.val() == '1') {

        var dataAlerta = {

            'DocumentId': 1,
            'DocumentName': 'Cliente',
            'Code': 'PERSON002',
            'PersonName': nombre,
            'DesciptionAlert' : '@Model.CustomerId',
            'CloseDate': '0001-01-01',

        };

        $.ajax({
        url: '@Url.Action("GenerarAlerta", "Alert")',
        method: 'POST',
        datatype: "json",
        contentType: "application/json",
        async: false,
        data: JSON.stringify(dataAlerta),
        success: function (data) {

        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {

            //notification.show({
            //    title: "Validación",
            //    message: textStatus + ": " + XMLHttpRequest.responseText
            //}, "error");
             MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Validación", 6000);
        }
    });



        }

    }




</script>


