@model ERPMVC.Models.SalesOrder
@using Syncfusion.JavaScript

@{
    string reporte = "/ReportsTemplate/Cotizacion.rdl";

    if (Model.TypeInvoiceId==84)
    {
        reporte = "/ReportsTemplate/CotizacionComision.rdl";
    }
    if (Model.TypeInvoiceId == 184)
    {
        reporte = "/ReportsTemplate/CotizacionIncrementoAnual.rdl";
    }
 }

<div style=" align-items:center; height:825px;width: 100%;">
    <ej-report-viewer id="reportviewer1" rendering-begin="renderingBegin" locale="es-ES" report-print="onPrintReport" processing-mode="Remote" ajax-before-load="ajaxBeforeLoad" report-service-url="/ReportViewer"  report-loaded="onReportLoaded" report-path="@reporte" />
    @*<ej-report-viewer id="reportviewer1" report-service-url="https://localhost:44329/Home" report-server-url="https://localhost:44329/" report-path="/ReportsTemplate/Sales Order Detail.rdl" />*@
</div>


<script type="text/javascript">

    //function onReportLoaded(sender) {
    //    var reportObj = $('#reportviewer1').data("ejReportViewer");
    //    console.log('Llega al ReportLoaded');
    //    reportObj.model.parameters = [{
    //        name: 'SalesOrderNumber',
    //        labels: ['SO50752'],
    //        values: ['SO50752'],
    //        nullable: false
    //    }];
    //}

    function ajaxBeforeLoad(event) {
        var parameters = [{
            name: 'id',
            labels: ['@Model.SalesOrderId'],
            values: [@Model.SalesOrderId],
            nullable: false
        }
        ];
        event.data = parameters;
    }; 

    function onReportLoaded(sender) {
    //  $("#reportviewer1_Param_101 select").val("@Model.SalesOrderId").change();;
     // $("#reportviewer1_Param_101_input").val('@Model.SalesOrderId');
      //$("#reportviewer1_Param_101_hidden").val('@Model.SalesOrderId');
   // $("#reportviewer1_viewReportClick").click();
        $("#reportviewer1_viewReportClick").val("Ver Reporte");
        var reportObj = $('#reportviewer1').data("ejReportViewer");
        console.log('Llega al ReportLoaded');
        reportObj.model.parameters = [{
            name: 'id',
            labels: ['@Model.SalesOrderId'],
            values: ['@Model.SalesOrderId'],
            nullable: false
        }
        ];
    }

      function onPrintReport(args) {
        args.isStyleLoad = false;
        var data = $("#reportviewer1").data('ejReportViewer');
        if (data._browserInfo.name != "msie") {
            args.printWind.printDelay = 2000 * data._pageModel.TotalPages;
        }
    }

</script>


<ej-script-manager></ej-script-manager>