@model ERPMVC.Models.Insurances

<script>
    $(document).ready(function () {
        //$("#DocumentTypeId").val(@Model.DocumentTypeId);
    });
    //SaveInsurancesDocument
    function SaveInsurancesDocument(e) {


        //var formdata = new FormData($('#CustomerDocument').get(0));

        var dataObject = {
            'InsurancesId': $("#InsurancesId").val(),
            'InsurancesName': $("#InsurancesName").val(),
            'DocumentTypeId': $("#DocumentTypeId").val(),
            'DocumentTypeName': $("#DocumentTypeId").data("kendoDropDownList").text(),
            //'DocumentName': $("#DocumentName").val(),
            // 'Path': $("#Path").val(),
            //'FechaCreacion': $("#FechaCreacion").val(),
            //'FechaModificacion': $("#FechaModificacion").val(),
            //'UsuarioCreacion': $("#UsuarioCreacion").val(),
            //'UsuarioModificacion': $("#UsuarioModificacion").val()
        };

        e.data = dataObject;

           @*$.ajax({
            url: '@Url.Action("SaveCustomerDocument", "CustomerDocument")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
               async: false,
               data: formdata,
               success: function (result) {
                   //console.log(result);
                   //debugger;
                   $("#ConditionView").html('');
                   $("#ConditionView").html(result);

            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
              }
         });*@
    }
    function RefrescarGrid() {

        var grid = $("#gridInsurancesDocument").getKendoGrid();
        grid.dataSource.read();
    }

    function closeInsurancesDocument() {
        //$('#myModalCustomerAuthorizedSignature').find(':input').not(':submit').val('0');
        //   RefreshGridCustomerAuthorizedSignature();
        RefrescarGrid();
        $("#myModalInsurancesDocumentUpload").modal('hide');
       

        
    }
    function disabledUpload() {
        if ($("#DocumentTypeId").data("kendoDropDownList").value() == 0 || $("#InsurancesName").val() == "") {
            $("#files").data("kendoUpload").disable();
        }
        else {
            $("#files").data("kendoUpload").enable();
        }
    }
    $("#InsurancesName").keyup(function (e) {
        if ($("#DocumentTypeId").data("kendoDropDownList").value() == 0 || $("#InsurancesName").val() == "") {
            $("#files").data("kendoUpload").disable();
        }
        else {
            $("#files").data("kendoUpload").enable();
        }
    });
</script>


<div id="myModalInsurancesDocumentUpload" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeInsurancesDocument();">&times;</button>
                <h4 class="modal-title">Aseguradora</h4>
            </div>
            <div class="modal-body">
                <div class="box">
                    Extensiones Permitidas: .pdf, .jpeg, .png y .txt
                </div>

                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">

                            @*data-ajax-method="post"
                                method="post"
                                data-ajax-begin="return SaveCustomerDocument();"
                                data-ajax="true"*@

                            <div class="card-body">
                                <form id="InsuracesDocument"
                                      data-ajax="true">


                                    <div class="row">
                                        <div class="col-md-5">
                                            <script>
                                                function GetDocumentos() {
                                                    return { 'Id': 19 }
                                                }
                                            </script>
                                            <label asp-for="DocumentTypeId" class="control-label" style="width:100%"></label>
                                            <kendo-dropdownlist name="DocumentTypeId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                option-label="Seleccion el tipo de documento"
                                                                for="DocumentTypeId"
                                                                datatextfield="Nombre"
                                                                datavaluefield="Id"
                                                                auto-bind="false"
                                                                onchange="disabledUpload();"
                                                                required
                                                                style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi" server-filtering="true">
                                                    <transport>
                                                        <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GetDocumentos" />
                                                    </transport>
                                                </datasource>

                                            </kendo-dropdownlist>
                                            <span asp-validation-for="DocumentTypeId" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-5">
                                            <label asp-for="InsurancesName" class="control-label" style="width:100%"></label>
                                            <input type="text" name="InsurancesName" class="form-control" style="min-width:100%" asp-for="InsurancesName" />
                                        </div>


                                    </div>
                                    <div class="row">

                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            @*<div class="demo-section k-content" width:100%;>
                                            <kendo-upload drop-zone="drop-zone1" uploadSelectedFiles="Seleccionar Archivos" title="Seleccionar Archivos" name="files" on-upload="SaveInsurancesDocument">
                                                <async save-url="@Url.Action("SaveInsurancesDocument","Insurances")" />
                                                <validation allowed-extensions='@new string[] { ".pdf",".jpg",".png",".txt" }' max-file-size="10485760" />
                                            </kendo-upload>
                                            </div>*@

                                            <script>
                                                function GetDocumentName(dataName) {
                                                    var fileName = "@Model.DocumentName";
                                                    return fileName
                                                }
                                                function GetDocumentExtension(dataExtension) {
                                                    var fileName = "@Model.DocumentName";
                                                    var fileExtension = fileName.substring(fileName.lastIndexOf('.') + 1);
                                                    return fileExtension
                                                }
                                            </script>
                                            @*@(Html.Kendo().Upload()
                                                    //.Files(files =>
                                                    //{
                                                    //    if (Model.DocumentName != "")
                                                    //    {
                                                    //        files.Add().Name(Model.DocumentName).Extension(".jpg");
                                                    //    }
                                                    //})
                                                    .Name("files")
                                                    .Async(a => a
                                                    .Save("SaveInsurancesDocument", "Insurances")
                                                    .Remove("QuitarFoto", "Insurances")
                                                    .AutoUpload(true))
                                                    .Messages(msgs => msgs
                                                        .Select("Seleccionar Archivos")
                                                        .DropFilesHere("")
                                                    )
                                                    )*@
                                            <input type="file" id="files"/>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label asp-for="DocumentName" hidden class="control-label" style="width:100%">Notas</label>
                                                <div class="col-md-12">
                                                    <textarea asp-for="DocumentName" hidden name="Notas" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="DocumentName" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>