@model ERPMVC.DTO.SubProductDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
   // {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

    }


</script>



<div id="ModalSubProduct" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Model.TituloVentana </h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmSubProduct" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveSubProduct"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">@Model.TituloVentana</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="SubproductId" class=" control-label" style="width:100%">Id</label>
                                                    <input type="text" asp-for="SubproductId" name="IdSubProduct" class="form-control" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="SubproductId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ProductName" class=" control-label" style="width:100%">Nombre</label>
                                                    <input type="text" asp-for="ProductName" name="NombreSubProduct" data-val-required="El campo Nombre es requerido" class="form-control" style="min-width:100%" onkeypress="return soloLetras(event)" onkeyup = "this.value=this.value.toUpperCase()"/>
                                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ProductCode" class=" control-label" style="width:100%">Código</label>
                                                    <input type="number" asp-for="ProductCode" name="DescripcionSubProduct" data-val-required="El campo Código es requerido" class="form-control" min="1" onkeypress="return SoloNumeros(event)" autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            @if (Model.TituloVentana != "Productos prohibidos" && Model.TituloVentana != "SubServicios")
                                            {
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Barcode" class=" control-label" style="width:100%">Barcode</label>
                                                        <input type="text" asp-for="Barcode" name="Barcode" data-val-required="El campo Barcode es requerido" class="form-control" autocomplete="off" style="min-width:100%" />
                                                        <span asp-validation-for="Barcode" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            }


                                            @if (Model.TituloVentana != "Productos prohibidos" && Model.TituloVentana != "SubServicios")
                                            {
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="UnitOfMeasureId"  class="control-label">Unidad de medida</label>
                                                        <kendo-dropdownlist name="UnitOfMeasureId"
                                                                            for="@Model.UnitOfMeasureId"
                                                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Seleccionar UOM"
                                                                            datatextfield="UnitOfMeasureName"
                                                                            datavaluefield="UnitOfMeasureId"
                                                                            data-val-required="El campo unidad de medida es requerido"
                                                                            style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="99999999" server-operation="true">
                                                                <transport>
                                                                    <read url="@Url.Action("GetUnitOfMeasureJson", "UnitOfMeasure")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    </div>
                                                </div>
                                            }

                                        </div>

                                        <div class="row">

                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label asp-for="Description" class=" control-label" style="width:100%">Descripción</label>
                                                    <textarea id="Description" data-val-required="El campo Descripción es requerido" class="form-control" style="min-width:100%;" asp-for="Description"></textarea>
                                                    @*<input type="text" asp-for="Description" name="Description" class="form-control" autocomplete="off" style="min-width:100%" />*@
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>

                                            @if (Model.TituloVentana == "Productos prohibidos")
                                            {

                                                <div class="col-md-4">
                                                    <script>
                                                        function GrupoConfiguracionProhibido() {
                                                            return { Id: 23 };
                                                        }
                                                    </script>
                                                    <div class="form-group">
                                                        <label asp-for="TipoProhibidoId" class="control-label"></label>
                                                        <kendo-dropdownlist name="TipoProhibidoId"
                                                                            for="@Model.TipoProhibidoId"
                                                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Seleccionar tipo de prohibición"
                                                                            datatextfield="Nombre"
                                                                            datavaluefield="Id"
                                                                            style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="99999999">
                                                                <transport>
                                                                    <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GrupoConfiguracionProhibido" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                        @if (Model.TituloVentana != "SubServicios" && Model.TituloVentana != "Productos prohibidos")
                                        {
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Merma" class=" control-label" style="width:100%">Merma</label>
                                                        <input type="number" asp-for="Merma" name="Merma" class="form-control" min="1" data-min-msg="Merma debe ser mayor o igual que 1" onkeypress="return SoloNumeros(event)" autocomplete="off" style="min-width:100%" />
                                                        <span asp-validation-for="Merma" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="BagBalance" class=" control-label" style="width:100%">Bag Balance</label>
                                                        <input type="number" asp-for="BagBalance" name="BagBalance" class="form-control" min="1" data-min-msg="BagBalance debe ser mayor o igual que 1" onkeypress="return SoloNumeros(event)" autocomplete="off" style="min-width:100%" />
                                                        <span asp-validation-for="BagBalance" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Balance" class=" control-label" style="width:100%">Balance</label>
                                                        <input type="number" asp-for="Balance" name="Balance" class="form-control" min="1" data-min-msg="Balance debe ser mayor o igual que 1" onkeypress="return SoloNumeros(event)" autocomplete="off" style="min-width:100%" />
                                                        <span asp-validation-for="Balance" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                            <div class="form-group" hidden>
                                                <input  type="text" asp-for="ProductTypeId" name="ProductTypeId" class="form-control" disabled="disabled" style="min-width:100%" value="@Model.ProductTypeId" />
                                                <input type="text" asp-for="ProductTypeName" name="ProductTypeName" class="form-control" disabled="disabled" style="min-width:100%" value="@Model.TipoProducto" />
                                            </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="IdEstado" class="control-label">Estado</label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"   
                                                                        data-val-required="El campo Estado es requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnSubProduct" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function SoloNumeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "1234567890";
        especiales = "8-37-39-46";

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }

    function soloLetras(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
        especiales = "8-37-39-46";



        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }



        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }

    function RefreshCotizaciones() {
       // $("#myModalGoodsDelivered").modal('hide');
        var grid = $("#gridSubProduct").getKendoGrid();
        grid.dataSource.read();
    }

        function SaveSubProduct(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnSubProduct").hide();
            $("#btnSubProduct").prop("disabled", true);

            var UnitOfMeasureId = 0;
            var UnitOfMeasureName = "";
            if ($("#UnitOfMeasureId").data("kendoDropDownList")!=null) {
                UnitOfMeasureId = $("#UnitOfMeasureId").data("kendoDropDownList").value();
                UnitOfMeasureName = $("#UnitOfMeasureId").data("kendoDropDownList").text();
            }

            var tipoprohibido = "";
            if ($("#TipoProhibidoId").data("kendoDropDownList")!=null) {
                tipoprohibido = $("#TipoProhibidoId").data("kendoDropDownList").text();
            }

            //var displayedData = $("#gridSubProduct").data().kendoGrid.dataSource.view();

            var dataObject = {
                'SubproductId': $("#SubproductId").val() === "" ? "0" : $("#SubproductId").val(),
                'ProductName': $("#ProductName").val(),
                'ProductCode': $("#ProductCode").val(),
                'Barcode': $("#Barcode").val(),
                'UnitOfMeasureId': UnitOfMeasureId ,
                'UnitOfMeasureName': UnitOfMeasureName ,
                'Description': $("#Description").val(),
                'ProductTypeId': $("#ProductTypeId").val(),
                'ProductTypeName': $("#ProductTypeName").val(),
                'Merma': $("#Merma").val(),
                'BagBalance': $("#BagBalance").val(),
                'Balance': $("#Balance").val(),
                'TipoProhibidoId': $("#TipoProhibidoId").val(),
                'TipoProhibidoName': tipoprohibido,
                'IdEstado': $("#IdEstado").val(),
                'Estado': $("#IdEstado").data("kendoDropDownList").text(),
                  //'FechaCreacion': $("#FechaCreacion").val(),
                  //'FechaModificacion':$("#FechaModificacion").val(),
                  //'UsuarioCreacion':$("#UsuarioCreacion").val(),
                  //'UsuarioModificacion':$("#UsuarioModificacion").val(),
                 // '_SubProduct': displayedData
            };

            //console.log('OBJETO', dataObject);
             //console.log(JSON.stringify(dataObject));
             //var form = $("#frmNumeracion");
             //form.validate();
            //console.log(dataObject);
            var validator = $("#frmSubProduct").data("kendoValidator");
               //  var status = $(".status");
           // console.log(validator)
            //console.log('VERIFICAR',displayedData.length)

                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveSubProduct", "SubProduct")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: '</br></br>Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 7000,
                                stack: 6
                            });

                            RefreshCotizaciones();

                            $('#ModalSubProduct').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log('VERIFICAR')

                            notification.show({
                                title: "Validación",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    notification.show({
                        title: "Validación",
                        message: "Hay datos invalidos en el formulario!"
                    }, "error");
                }


            $("#btnSubProduct").show();
            $("#btnSubProduct").prop("disabled", false);
    }
</script>
