@model ERPMVC.DTO.GoodsDeliveredDTO
@using System.Security.Claims

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                {"required","Valor requerido" }
                            };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];
}

<div id="myModalGoodsDelivered" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Entrega de Mercadería</h4>
                <button type="button" class="close" onclick="closeGoodsDelivered();">&times;</button>
            </div>
            <div class="modal-body">


                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">


                            <div class="card-body">
                                <form id="frmGoodsDelivered" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                      method="post" class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="GoodsDeliveredId" class="control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="SalesOrderId"
                                                                          format="n"
                                                                          min="0"
                                                                          decimals="0"
                                                                          readonly
                                                                          max="99999999"
                                                                          spinners="false"
                                                                          style="width: 100%;"
                                                                          value="Model.GoodsDeliveredId" />
                                                    <span asp-validation-for="GoodsDeliveredId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="DocumentDate" class=" control-label" style="width: 100%;"></label>
                                                    <kendo-datetimepicker name="DocumentDate"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.DocumentDate" />
                                                    <span asp-validation-for="DocumentDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="ExpirationDate" class=" control-label" style="width: 100%;"></label>
                                                    <kendo-datetimepicker name="v"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.ExpirationDate" />
                                                    <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                                                </div>
                                            </div>



                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="ExitTicket" class="control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="ExitTicket"
                                                                          format="n"
                                                                          min="0"
                                                                          enable="false"
                                                                          max="99999999"
                                                                          spinners="false"
                                                                          step="1"
                                                                          style="width: 100%;"
                                                                          value="Model.ExitTicket" />
                                                    <span asp-validation-for="ExitTicket" class="text-danger"></span>
                                                </div>

                                            </div>



                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <script>
                                                    function FillWareHouse(e) {
                                                        //var WarehouseId = $("#WarehouseId").getkendoDropDownList();
                                                        //WarehouseId.dataSource.read();
                                                        var dataItem = e.dataItem;
                                                        $("#warehousesetid").val(dataItem.BranchId);
                                                        $("#WarehouseId").data("kendoDropDownList").dataSource.read();
                                                        //$("#SubProductId").data("kendoDropDownList").dataSource.read();
                                                    }


                                                </script>
                                                @*on-select="FillWareHouse"*@
                                                <input type="hidden" id="warehousesetid" />
                                                <label asp-for="BranchId" class="control-label"></label>
                                                <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione Sucursal"
                                                                    datatextfield="BranchName"
                                                                    datavaluefield="BranchId"
                                                                    on-change="RefrescarOpciones"
                                                                    required
                                                                    auto-bind="true"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" page-size="99999999">
                                                        <transport>
                                                            <read url="@Url.Action("GetBranch", "Branch")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="BranchId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="CustomerId" class="control-label">Cliente</label>
                                                <kendo-dropdownlist name="CustomerId" for="CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione el cliente"
                                                                    required data-required-msg="Cliente es requerido"
                                                                    datatextfield="CustomerName"
                                                                    datavaluefield="CustomerId"
                                                                    on-change="RefrescarOpciones"
                                                                    style="min-width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                        <transport>
                                                            <read url="@Url.Action("GetCustomer", "Common")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                            </div>
                                        </div>


                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <script>
                                                </script>
                                                <label asp-for="ProductId" class="control-label" style="width:100%">Servicio</label>
                                                <kendo-dropdownlist name="ProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    for="ProductId"
                                                                    option-label="Seleccione el Servicio"
                                                                    datatextfield="ProductName"
                                                                    datavaluefield="ProductId"
                                                                    on-change="RefrescarOpciones"
                                                                    required data-required-msg="Servicio es requerido"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" page-size="999999999">
                                                        <transport>
                                                            <read url="@Url.Action("GetProduct", "Common")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="ProductId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="ControlId" class="control-label" style="width: 100%;">Asociar Control de Salida</label>
                                                <kendo-dropdownlist name="ControlId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    for="ControlId"
                                                                    option-label="Seleccione Control de Salidas"
                                                                    datatextfield="CustomerName"
                                                                    datavaluefield="ControlPalletsId"
                                                                    required data-required-msg="Control de Salidas es requerido"
                                                                    style="min-width:100%">
                                                    <datasource type="DataSourceTagHelperType.WebApi" page-size="999999999">
                                                        <transport>
                                                            <read url="@Url.Action("GetControlesByCustomer", "ControlPallets")" data="GetformDetils" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="cbxBuscar" class="control-label" style="width:100%">Autorizacion de Retiro</label>
                                                <input type="hidden" id="singuardar" value="0" />
                                                <kendo-multiselect name="AsociarAutorizaciones" id="AsociarAutorizaciones" style="min-width:100%"
                                                                   no-data-template="No se encontraron Autorizaciones para el cliente y el servicio seleccionado" on-change="refrescarDetalle"
                                                                   datatextfield="Comments" datavaluefield="GoodsDeliveryAuthorizationId" placeholder="Seleccione las Autorizaciones">
                                                    <datasource page-size="999" type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                        <transport>
                                                            <read url="@Url.Action("AutorizacionesPendientes","GoodsDeliveryAuthorization")" data="GetformDetils" />
                                                        </transport>
                                                    </datasource>

                                                </kendo-multiselect>

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Reference" class="control-label" style="width: 100%;"></label>
                                                <input type="text" id="Reference" required class="k-textbox" style="min-width: 100%;" asp-for="Reference" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Name" class="control-label" style="width: 100%;"></label>
                                                <input type="text" id="test" required class="k-textbox" style="min-width:100%;" asp-for="Name" />
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">

<script>
    function GetARBoleta() {
        debugger;

        var ARBoletaSelect = $("#AsociarAutorizaciones").data("kendoMultiSelect");
        var ARBoletas = ARBoletaSelect == undefined ? [] : ARBoletaSelect.value();
        var dataobject = {
            'ARBoletas': ARBoletas,
            'Id': $('#GoodsDeliveredId').val(),
            'ControlId': $('#ControlId').val(),
        };

        console.log(dataobject);
        return dataobject;

    }

    function RefrescarOpciones(e) {
        $("#ControlId").data("kendoDropDownList").dataSource.read();
        RefrescarAR();
        refrescarDetalle();
    }

    function refrescarDetalle() {
        var grid = $("#gridGoodsDeliveredDetail").getKendoGrid();
        grid.dataSource.read();
    }

</script>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Placa" class="control-label" style="width: 100%;"></label>
                                                <input type="text" id="Placa" required class="k-textbox" style="min-width:100%;" asp-for="Placa" />
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Marca" class="control-label" style="width: 100%;"></label>
                                                <input type="text" id="Marca" required class="k-textbox" style="min-width: 100%;" asp-for="Marca" />
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Comments" class="control-label" style="width: 100%;"></label>
                                                <textarea id="Comments" required class="k-textarea" style="min-width: 100%;" asp-for="Comments">@Model.Comments</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>


                                <div id="salesorderdetail">
                                    @await Html.PartialAsync("pvwGoodsDeliveredDetail", Model, new ViewDataDictionary(ViewData) { { "permisosGoodsDelivered", permisos } })
                                </div>

                                <div class="row">
                                    @if (Model.GoodsDeliveredId == 0)
                                    {
                                        <button id="btnSaveControlEstiba" type="submit" class="form-control btn-miboton" onclick="SaveGoodsDelivered(this);">Guardar</button>
                                    }
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<script>


   

    function RefrescarAR() {
        var multiselect = $("#AsociarAutorizaciones").data("kendoMultiSelect");
        if (multiselect) {
            multiselect.dataSource.read();
        }
    }

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "ControlPalletsId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }





        return true;
    }

    function closeGoodsDelivered() {
        $("#myModalGoodsDelivered").modal('hide');
        var grid = $("#gridGoodsDelivered").getKendoGrid();
        grid.dataSource.read();
    }

    function GetformDetils() {
        return {
            CustomerId: $("#CustomerId").val(),
            esIngreso: 0,
            ServicioId: $("#ProductId").val(),
            BranchId: $("#BranchId").val()
        }
    }

    function onbound() {
        kendo.ui.progress($("#myModalControlPallets"), false);
    }







</script>


<script>


    function RefreshGridGoodsDelivered() {
        var grid = $("#gridGoodsDelivered").getKendoGrid();
        grid.dataSource.read();
    }

    function SaveGoodsDelivered(e) {
         // e.preventDefault();
        $("#btnSaveControlEstiba").hide();
        $("#btnSaveControlEstiba").prop("disabled", true);
        debugger;

        var validadetalle = true;
        var displayedData = $("#gridGoodsDeliveredDetail").data().kendoGrid.dataSource.data();
        for (var i = 0; i < displayedData.length; i++) {
            displayedData[i].GoodsDeliveredLinedId = 0;
            if (
                displayedData[i].WareHouseId === '' || displayedData[i].Quantity === 0
                || displayedData[i].WareHouseId === null || displayedData[i].WareHouseId === 0) {
                notification.show({
                    title: "Validación",
                    message: "Ingrese al detalle todos los datos requeridos"
                }, "error");
                validadetalle = false;

            }
        }
        if (!validadetalle) {
            $.toast({
                heading: 'Error',
                text: 'Debe Agregar los productos',
                position: 'top-right',
                loaderBg: '#ff6849',
                icon: 'error',
                hideAfter: 7000,
                stack: 6
            });
            return;
        }

        var validator = $("#frmGoodsDelivered").data("kendoValidator");
        var validator2 = $("#TotalesDocumento").data("kendoValidator");
        var status = $(".status");

        if (validator.validate() && validator2.validate()) {
            $.toast({
                heading: 'Error',
                text: 'Debe Agregar los productos',
                position: 'top-right',
                loaderBg: '#ff6849',
                icon: 'error',
                hideAfter: 7000,
                stack: 6
            });
            HabilitarBotones();
            return;
        }

        if (displayedData.length < 0) {
            HabilitarBotones();
            $.toast({
                heading: 'Error',
                text: 'Debe Agregar los productos',
                position: 'top-right',
                loaderBg: '#ff6849',
                icon: 'error',
                hideAfter: 7000,
                stack: 6
            });
            return;
        }

        var dataObject = {
                    'GoodsDeliveredId': $("#GoodsDeliveredId").val(),
                    'CustomerId': $("#CustomerId").val(),
                    'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
                    'BranchId': $("#BranchId").val(),
                    'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                    'Placa': $("#Placa").val(),
                    'Marca': $("#Marca").val(),
                    'ProductId': $("#ProductId").val(),
                    'ProductName': $("#ProductId").data("kendoDropDownList").text(),
                    'OrderDate': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),
                    'DocumentDate': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),
                    'Name': $("#Name").val(),
                    'Reference': $("#Reference").val(),
                    'ExitTicket': $("#ExitTicket").val(),
                    'Comments': $("#Comments").val(),
                   // 'GoodsDeliveryAuthorizationId': ($("#cbxBuscar").val()),
                    'WeightBallot': $("#WeightBallot").val(),
                    '_GoodsDeliveredLine': displayedData

        };


        $.ajax({
                            url: '@Url.Action("SaveGoodsDelivered", "GoodsDelivered")',
                            method: 'POST',
                            datatype: "json",
                            //contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                            contentType: 'application/json',
                            async: false,
                            data: JSON.stringify(dataObject),
                            success: function (data) {

                                $.toast({
                                    heading: 'Satisfactorio',
                                    text: 'Datos guardados correctamente.',
                                    position: 'top-right',
                                    loaderBg: '#ff6849',
                                    icon: 'success',
                                    hideAfter: 7000,
                                    stack: 6
                                });

                                RefreshGridGoodsDelivered();
                                $('#myModalGoodsDelivered').modal('hide');

                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                $("#btnSaveControlEstiba").show();
                                $("#btnSaveControlEstiba").prop("disabled", false);
                                $("#btngenerarfactura").show();
                                var error = textStatus + ": " + XMLHttpRequest.responseText;
                                $.toast({
                                    heading: 'Error',
                                    text: error.length > 100 ? 'Error de servidor' : textStatus + ": " + XMLHttpRequest.responseText,
                                    position: 'top-right',
                                    loaderBg: '#ff6849',
                                    icon: 'error',
                                    hideAfter: 7000,
                                    stack: 6
                                });
                            }
                        });


     }



    function HabilitarBotones() {
        $("#btnSaveControlEstiba").show();
        $("#btnSaveControlEstiba").prop("disabled", false);
    }
</script>