@model ERPMVC.Models.CustomerDocument
@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
{"required","Requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}
<script>

    function cliente() {
        var cliente = $("#CustomerId").val()
        
        return CustomerId = cliente;

    }
   


    function closeDocument() {
        RefreshCustomerDocument();
       $("#myModalCustomerDocumentUpload").modal('hide');
    }

    function SaveCustomerDocument(e) {

     

        var dataObject = {
            'CustomerDocumentId': $("#CustomerDocumentId").val(),                          
            'CustomerId': cliente(),
            'DocumentTypeId': $("#DocumentTypeId").val(),
            'DocumentTypeName': $("#DocumentTypeId").data("kendoDropDownList").text(),
            'DocumentName': $("#DocumentName").val(),
            

        };

        console.log(SaveCustomerDocument)


        e.data = dataObject;
        //RefrescarGrid();

    }
    

    var onComplete = function () {
        var grid = $("#gridCustomerDocument").getKendoGrid();
        grid.dataSource.read();
    };

</script>


<div id="myModalCustomerDocumentUpload" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Información de documentos del cliente</h4>
                <button type="button" class="close" onclick="closeDocument();">&times;</button>
            </div>
            <div class="modal-body">
                <div class="box">
                    Extensiones Permitidas: .pdf, .jpeg, .png y .txt                   
                </div>
                <div class="row" id="validation">

                  



                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="CustomerDocument" kendo-validator="true" kendo-messages="messages" asp-action="SaveCustomerDocument" asp-controller="CustomerDocument"
                                      data-ajax="true"
                                      data-ajax-method="post" enctype="multipart/form-data"
                                      data-ajax-begin="onBegin" data-ajax-complete="onComplete"
                                      data-ajax-failure="onFailed" data-ajax-success="onSuccess">


                                    <div class="row">
                                        <div class="col-md-5">
                                            <script>
                                                function GetDocumentos() {
                                                    return { 'Id': 9 }
                                                }
                                            </script>
                                            <input id="CustomerDocumentId" name="CustomerDocumentId" asp-for="CustomerDocumentId" hidden />
                                            <label asp-for="DocumentTypeId" class="control-label" style="width:100%"></label>
                                            <kendo-dropdownlist name="DocumentTypeId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                option-label="Seleccion el tipo de documento"
                                                                for="DocumentTypeId"
                                                                datatextfield="Nombre"
                                                                datavaluefield="Id"
                                                                required data-required-msg="El tipo de documento ses requerido."
                                                                auto-bind="false"
                                                                onchange="NombreTipoDocumento();"
                                                                style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi" server-filtering="true">
                                                    <transport>
                                                        <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GetDocumentos" />
                                                    </transport>
                                                </datasource>

                                            </kendo-dropdownlist>
                                            <span asp-validation-for="DocumentTypeId" class="text-danger"></span>
                                        </div>

                                    </div>


                                    <script>

                                        $(document).ready(function () {
                                            customer = $("#CustomerId").val();

                                            $("#CustomerParametrosave").val(customer);

                                        });

                                        function NombreTipoDocumento() {

                                            var Documentos = $("#DocumentTypeId").data("kendoDropDownList").text()
                                            $("#DocumentTypeName").val(Documentos);
                                        }


                                    </script>


                                    <input type="text" hidden asp-for="CustomerParametrosave" />
                                    <input type="text" hidden asp-for="DocumentTypeName" />


                                    <div class="row">

                                        <div class="col-md-5">
                                            <kendo-upload drop-zone="drop-zone1" name="files" on-upload="SaveCustomerDocument" multiple="false" accept=".pdf,.jpeg,.png,.txt">
                                                <localization select="Adjuntar Archivo" cancel="Cancelar" drop-files-here="Soltar Archivo aquí" invalid-file-extension="Extensión de Archivo Invalido" retry="Reintentar" />
                                                <files />
                                                <validation max-file-size="52428800" />
                                            </kendo-upload>
                                        </div>
                                        @if (Model.DocumentName != null)
                                        {
                                            <div class="col-md-8">
                                                <label class="control-label" asp-for="DocumentName">Archivo Adjunto</label>
                                                <input type="text" asp-for="DocumentName" class="form-control" readonly />
                                                @*<button type="button" onclick="DescargarAdjunto()" class="btn btn-success">Descargar Adjunto</button>*@
                                            </div>

                                        }

                                        <input type="text" asp-for="Path" hidden />
                                    </div>

                                    <div class="modal-footer">
                                        <div class="col-md-12">
                                            <button id="btnDocumentCustomer" class="form-control btn-miboton" type="submit"> Guardar </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function DescargarAdjunto() {
         var dataObject = {
             'tpath': '@Model.Path'
        };


        console.log(dataObject.Path);
        debugger;
          var ajax = new XMLHttpRequest();
         ajax.open("Post", '@Url.Action("DownloadFile", "Download")' , true);
          ajax.responseType = "blob";
          ajax.setRequestHeader("Content-Type", "application/json");
                            ajax.onreadystatechange = function () {
                                if (this.readyState == 4) {
                                    //debugger;
                                   // var blob = new Blob([this.response]);
                                    var blob = new Blob([this.response], { type: "application/octet-stream" });
                                    //var fileName = dataItem.DocumentName;
                                    var fileName = '@Model.DocumentName';
                                    saveAs(blob, fileName);
                                    //application/octet-stream
                                }
        };
        ajax.send(JSON.stringify(dataObject));




    }

    function ReemplazarArchivo() {
        debugger;
        var archivo = '@Model.Path';

        if ($("#DocumentName").val() != null) {
            alert("Esta accion reemplazara su archivo anterior");

        }
    }


    var onBegin = function () {
       
        $("#btnDocumentCustomer").attr("disabled", true);
    };

    


    var onSuccess = function (context) {
        console.log(context);


        if (context > 0) {
            $("#btnDocumentCustomer").attr("disabled", false);

            $.toast({
                heading: 'Error',
                text: 'Ya exite un Docuemnto con este mismo nombre para este tipo de Docuemnto de cliente.',
                position: 'top-right',
                loaderBg: '#ff6849',
                icon: 'error',
                hideAfter: 30000,
                stack: 6
            });

        }


        else if (context == "TipoDocumentoRequerido") {
            $("#btnDocumentCustomer").attr("disabled", false);
            $.toast({
                heading: 'Error',
                text: 'Debe de seleccionar el tipo de documento.',
                position: 'top-right',
                loaderBg: '#ff6849',
                icon: 'error',
                hideAfter: 30000,
                stack: 6
            });
            return false;
        } 

       else if (context == 'ImagenRequerida') {
            $("#btnDocumentCustomer").attr("disabled", false);

            $.toast({
                heading: 'Error',
                text: 'El Documento es requerido.',
                position: 'top-right',
                loaderBg: '#ff6849',
                icon: 'error',
                hideAfter: 30000,
                stack: 6
            });

        }       
        else {
            $.toast({
                heading: 'Satisfactorio',
                text: ' Datos guardados correctamente.',
                position: 'top-right',
                loaderBg: '#ff6849',
                icon: 'success',
                hideAfter: 30000,
                stack: 6
            });
            $('#myModalCustomerDocumentUpload').modal('hide');

        }

       
    };

    var onFailed = function (context) {
        console.log(context);
        $.toast({
            heading: 'Error',
            text: ' Error al Crear Documento',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'error',
            hideAfter: 30000,
            stack: 6
        });
        $("#btnDocumentCustomer").attr("disabled", false);
    };
</script>