@model ERPMVC.DTO.JournalEntryDTO



@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
   // {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>
    function customFunction(input) {

        if (input.attr('name') === "JournalEntryId" && input.val() === "0") {
            return false;
        }

    }
    //$('#btnprueba').val("");
    function GrupoConfiguracionTipoAjuste() {
        return { Id: 22 };
    } 
</script>



<div id="ModalJournalEntry" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Movimiento Financiero</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" id="divimprimir">
                                    <div class="col-md-2">
                                        <button class="btnmitoolbar" onclick="Imprimir(null,'@Model.JournalEntryId')"><i class="fa fa-print"></i></button>
                                    </div>
                                    <style>
                                        #divimprimir {
                                            float: right;
                                        }
                                    </style>
                                </div>
                                <form id="frmJournalEntry" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveJournalEntry"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Ajuste Extraordinario Contable</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="JournalEntryId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="JournalEntryId" name="JournalEntryId" disabled="disabled" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="JournalEntryId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4" hidden="hidden">
                                                <div class="form-group">
                                                    <label asp-for="DocumentId" style="width:100%"></label>
                                                    <input type="text" asp-for="DocumentId" name="DocumentId" class="form-control" style="min-width:100%" disabled="disabled" />
                                                </div>
                                            </div>
                                            @*<div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="ReferenceNo" style="width:100%"></label>
                            <input type="text" asp-for="ReferenceNo" name="ReferenceNo" class="form-control" style="min-width:100%" />
                            <span asp-validation-for="ReferenceNo" class="text-danger k-invalid-msg" data-for="ReferenceNo"></span>
                        </div>
                    </div>*@
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DatePosted" style="width:100%"></label>
                                                    <kendo-datepicker name="DatePosted" style="width: 100%;"
                                                                      format="dd/MM/yyyy"
                                                                      data-val-required="La fecha es requerida"
                                                                      id="DatePosted"
                                                                      value="Model.DatePosted"></kendo-datepicker>
                                                    <span asp-validation-for="DatePosted" id="IdDatePosted" class="text-danger k-invalid-msg" data-for="DatePosted"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Date" style="width:100%"></label>
                                                <kendo-datetimepicker name="Date" style="width: 100%;"
                                                                      format="dd/MM/yyyy hh:mm:ss"
                                                                      time-format="hh:mm:ss"
                                                                      disabled="disabled"
                                                                      data-val-required="La fecha es requerida"
                                                                      value="Model.Date"></kendo-datetimepicker>
                                                <span asp-validation-for="Date" class="text-danger k-invalid-msg" data-for="Date"></span>

                                            </div>
                                        </div>
                                        @*<div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="GeneralLedgerHeaderId" style="width:100%"></label>
                        <input type="text" asp-for="GeneralLedgerHeaderId" name="GeneralLedgerHeaderId" class="form-control" style="min-width:100%" />
                        <span asp-validation-for="GeneralLedgerHeaderId" class="text-danger k-invalid-msg" data-for="GeneralLedgerHeaderId"></span>
                    </div>
                </div>*@
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="VoucherType" class=" control-label" style="width:100%"></label>
                                                <kendo-dropdownlist name="VoucheType"
                                                                    for="@Model.VoucherType"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccionar Tipo Voucher"
                                                                    datatextfield="TypeJournalName"
                                                                    datavaluefield="TypeJournalId"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                        <transport>
                                                            <read url="@Url.Action("GetTypeJournal", "TypeJournal")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="VoucherType" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="EstadoId" class=" control-label" style="width:100%"></label>
                                                <kendo-dropdownlist name="EstadoId" readonly
                                                                    for="@Model.EstadoId"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccionar Estado"
                                                                    datatextfield="NombreEstado"
                                                                    datavaluefield="IdEstado"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                        <transport>
                                                            <read url="@Url.Action("Get", "Estados")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="EstadoId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        @*<div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IdTypeofPayment" class=" control-label" style="width:100%"></label>
                        <input type="text" asp-for="IdTypeofPayment" name="IdTypeofPayment" autocomplete="off" class="form-control" style="min-width:100%" />
                    </div>
                </div>*@
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="TypeOfAdjustmentId" class="  control-label" style="width:100%"></label>
                                                <kendo-dropdownlist name="TypeOfAdjustmentId" readonly
                                                                    for="TypeOfAdjustmentId"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione el tipo de ajuste"
                                                                    datatextfield="Nombre"
                                                                    datavaluefield="Id"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi">
                                                        <transport>
                                                            <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GrupoConfiguracionTipoAjuste" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="TypeOfAdjustmentId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="PartyTypeId" class="  control-label" style="width:100%"></label>
                                                <kendo-dropdownlist name="PartyTypeId"
                                                                    for="PartyTypeId"
                                                                    id="IdPartyType"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    style="width: 100%;">
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="PartyTypeId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" id="party">
                                                <label asp-for="PartyId" class="  control-label" style="width:100%"></label>
                                                <kendo-dropdownlist name="PartyId"
                                                                    for="PartyId"
                                                                    id="IdParty"
                                                                    enable: false,
                                                                    option-label="Seleccionar socio de negocio"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    style="width: 100%;">
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="PartyId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group" id="employe">
                                                <label asp-for="PartyId" class=" control-label" style="width:100%"></label>
                                                <kendo-dropdownlist name="PartyId"
                                                                    for="@Model.PartyId"
                                                                    id="idemploye"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccionar Empleado"
                                                                    datatextfield="NombreEmpleado"
                                                                    datavaluefield="IdEmpleado"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                        <transport>
                                                            <read url="@Url.Action("Get", "Employees")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="PartyId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group" id="vendor">
                                                <label asp-for="PartyId" class=" control-label" style="width:100%"></label>
                                                <kendo-dropdownlist name="PartyId"
                                                                    for="@Model.PartyId"
                                                                    id="IdVendor"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccionar Proveedor"
                                                                    datatextfield="VendorName"
                                                                    datavaluefield="VendorId"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                        <transport>
                                                            <read url="@Url.Action("GetVendor", "Vendor")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="PartyId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group" id="customer">
                                                <label asp-for="PartyId" class=" control-label" style="width:100%"></label>
                                                <kendo-dropdownlist name="VoucheType"
                                                                    id="IdCustomer"
                                                                    for="@Model.PartyId"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccionar Cliente"
                                                                    datatextfield="CustomerName"
                                                                    datavaluefield="CustomerId"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                        <transport>
                                                            <read url="@Url.Action("Get", "Customer")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="PartyId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Memo" style="width:100%"></label>
                                                <textarea asp-for="Memo" name="Memo" required class="form-control required " style="min-width: 100% !important;" maxlength="150"></textarea>
                                                <span asp-validation-for="Memo" class="text-danger k-invalid-msg" data-for="Memo"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4" hidden>
                                            <div class="form-group">
                                                <label asp-for="TotalDebit" style="width:100%"></label>
                                                <input type="text" asp-for="TotalDebit" name="TotalDebit" autocomplete="off" class="form-control" style="min-width:100%" readonly />
                                                <span asp-validation-for="TotalDebit" class="text-danger k-invalid-msg" data-for="TotalDebit"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" hidden>
                                                <label asp-for="TotalCredit" style="width:100%"></label>
                                                <input type="text" asp-for="TotalCredit" name="TotalCredit" autocomplete="off" class="form-control" style="min-width:100%" readonly />
                                                <span asp-validation-for="TotalCredit" class="text-danger k-invalid-msg" data-for="TotalCredit"></span>
                                            </div>
                                        </div>
                                        <input id="PartyId" type="text" class="form-control" style="min-width:100%" hidden />
                                        <input id="PartyName" type="text" class="form-control" style="min-width:100%" hidden />
                                    </div>
                                </form>
                            </div>


                            <div id="divJournalEntryLine">
                                @await Html.PartialAsync("JournalEntryLineAjuste", Model)
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    @if (Model.JournalEntryId == 0)
                                    {
                                        <button id="btnJournalEntry" class="form-control btn-miboton" onclick="SaveJournalEntry(this);" type="button"> Guardar </button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $("#DatePosted").change(function () {
        var FechaLimiteEmision = $("#Date").getKendoDateTimePicker().value().toJSON();
        var FechaRecepcion = $("#DatePosted").getKendoDatePicker().value().toJSON();
        if (Date.parse(FechaRecepcion) >= Date.parse(FechaLimiteEmision)) {
            alert("Fecha de Transacción no puede ser mayor que la fecha de hoy.")
            $("#DatePosted").val('');
        }
    });

    $(document).ready(function () {
        $("#customer").hide();
        $("#party").show();
        $("#vendor").hide();
        $("#employe").hide();
        $("#IdPartyType").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            optionLabel: "Seleccione tipo socio de negocio",
            dataSource: [
                { text: "Cliente", value: 1 },
                { text: "Empleado", value: 2 },
                { text: "Proveedor", value: 3 },
            ],
            filter: "contains",
            suggest: true,
        });
        $("#IdParty").kendoDropDownList({
            optionLabel: "Seleccione socio de negocio",
            enable: false
        });

        $('#IdPartyType').on("change", function () {
            var party = $("#IdPartyType").data("kendoDropDownList").text();
            var Id = $("#IdPartyType").data("kendoDropDownList").value();
            if (Id == 1) {
                if ($("#customer").is(':hidden')) {
                    $("#IdCustomer").data("kendoDropDownList").value(0);
                }
                $("#customer").show();
                $("#party").hide();
                $("#vendor").hide();
                $("#employe").hide();
            }
            else if (Id == 2) {
                $("#customer").hide();
                $("#party").hide();
                $("#vendor").hide();
                if ($("#employe").is(':hidden')) {
                    $("#idemploye").data("kendoDropDownList").value(0);
                }
                $("#employe").show();
            }
            else if (Id == 3) {
                $("#customer").hide();
                $("#party").hide();
                if ($("#vendor").is(':hidden')) {
                    $("#IdVendor").data("kendoDropDownList").value(0);
                }
                $("#vendor").show();
                $("#employe").hide();
            }
            else {
                $("#customer").hide();
                $("#party").show();
                $("#vendor").hide();
                $("#employe").hide();
            }
        });
    });

    $('#IdCustomer').on("change", function () {
        $('#PartyId').val($('#IdCustomer').val());
        $('#PartyName').val($('#IdCustomer').data("kendoDropDownList").text());
    })
    $('#IdVendor').on("change", function () {
        $('#PartyId').val($('#IdVendor').val());
        $('#PartyName').val($('#IdVendor').data("kendoDropDownList").text());
    })
    $('#idemploye').on("change", function () {
        $('#PartyId').val($('#idemploye').val());
        $('#PartyName').val($("#idemploye").data("kendoDropDownList").text());
    })
   
    function RefrescarGrid() {

        var grid = $("#gridNumeracionJournalEntry").getKendoGrid();
        grid.dataSource.read();
    }
    function SaveJournalEntry(e) {
        var Debito = $("#TotalDebit").val();
        var Credito = $("#TotalCredit").val();
        if (Number(Credito) != Number(Debito)) {
            alert("La partida contable no esta cuadrada");
            return
        } 
        else if (Number(Credito) == 0 && Number(Debito) == 0) {
            alert("No se puede  guardar la partida contable sin  las líneas contables");
            return
        };

        var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
        $("#btnJournalEntry").hide();
        $("#btnJournalEntry").prop("disabled", true);
        var displayedData = $("#gridNumeracionJournalEntryLine").data().kendoGrid.dataSource.data();
        for (var i = 0; i < displayedData.length; i++) {
            displayedData[i].JournalEntryLineId = 0;
        }
        var dataObject = {
            'JournalEntryId': $("#JournalEntryId").val() === "" ? 0 : $("#JournalEntryId").val(),
            'GeneralLedgerHeaderId':0, 
            'PartyId': $("#PartyId").val(),
            'VoucherType': $("#VoucherType").val(),
            'TypeJournalName': $("#VoucherType").data("kendoDropDownList").text(),
            'Date': $("#Date").getKendoDateTimePicker().value().toJSON(),
            'DatePosted': $("#DatePosted").getKendoDatePicker().value().toJSON(),
            'Memo': $("#Memo").val(),
            'ReferenceNo': 0,            
            'TotalCredit': $("#TotalCredit").val(), 
            'TotalDebit': $("#TotalDebit").val(), 
            'TypeOfAdjustmentId': $("#TypeOfAdjustmentId").val(),
            'TypeOfAdjustmentName': $("#TypeOfAdjustmentId").data("kendoDropDownList").text(),
            'PartyTypeId': $("#IdPartyType").val(),
            'PartyTypeName': $("#IdPartyType").data("kendoDropDownList").text(),
            'PartyId': $("#PartyId").val(),
            'PartyName': $("#PartyName").val(),
            'EstadoName': $("#EstadoId").data("kendoDropDownList").text(),
            'EstadoId': $("#EstadoId").val(),
             //'IdPaymentCode': $("#IdPaymentCode").val(),
            //'IdTypeofPayment': $("#IdTypeofPayment").val(),
            //'CreatedDate': $("#CreatedDate").val(),
            //'ModifiedDate': $("#ModifiedDate").val(),
            //'CreatedUser': $("#CreatedUser").val(),
            //'ModifiedUser': $("#ModifiedUser").val(),           
            'JournalEntryLines': displayedData
            };

           console.log(displayedData);
           console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

        var validator = $("#frmJournalEntry").data("kendoValidator");
                 var status = $(".status");
                if (validator.validate()) {
                    $.ajax({
                        url: '@Url.Action("SaveJournalEntry", "JournalEntry")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {
                            $("#JournalEntryId").val(data.JournalEntryId);
                            //Imprimir(null, data.JournalEntryId);
                            $.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/>Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });
                            RefrescarGrid();
                            $('#ModalJournalEntry').modal('hide');
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");
                        }
                    });
                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }
        $("#btnJournalEntry").show();
        $("#btnJournalEntry").prop("disabled", false);
        //$("#btnJournalEntry").hide();
        //$("#btnJournalEntry").prop("disabled", true);
    }    
</script>

