@model ERPMVC.DTO.BranchDTO
@using System.Security.Claims
@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
             {"required","Valor requerido" }
        };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

    }

    //$('#btnprueba').val("");
</script>



<div id="ModalBranch" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Centro de Costo</h4>
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmBranch" kendo-validator="true" kendo-messages="messages"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveBranch"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <script>
                                                        function CustomerAuthorizedSignature() {

                                                            hcustom = $("#CustomerId").val();
                                                            $("#CustomerAuthorizedSignatureProduct").data("kendoMultiSelect").dataSource.read();

                                                        }
                                                    </script>
                                                    <label asp-for="CustomerId" class="control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist for="@Model.CustomerId"
                                                                        id="CustomerIdBranch"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el Cliente"
                                                                        enable="false"
                                                                        required
                                                                        datatextfield="CustomerName"
                                                                        datavaluefield="CustomerId"
                                                                        onchange="CustomerAuthorizedSignature()"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="10000">
                                                            <transport>
                                                                <read url="@Url.Action("GetCustomer", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="BranchName" class=" control-label" style="width:100%">Centro de Costo</label>
                                                    <input type="text" asp-for="BranchName" required data-required-msg="El nombre de sucursal es requerido." name="BranchName" class="k-textbox"  style="min-width:100%" maxlength="100" />
                                                    <span asp-validation-for="BranchName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Description" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Description" required data-required-msg="La descripción es requerida." name="Description" class="k-textbox"  autocomplete="off" style="min-width:100%" maxlength="100" />
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <script>
                                                    function refreshdepartamentoBR() {
                                                        $("#StateIdBR").data("kendoDropDownList").dataSource.read();
                                                    }
                                                </script>
                                                <div class="form-group">

                                                    <label asp-for="CountryId" class="control-label"></label>
                                                    <kendo-dropdownlist name="CountryId"
                                                                        id="CountryIdBR"
                                                                        for="@Model.CountryId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar País"
                                                                        datatextfield="Name"
                                                                        on-change="refreshdepartamentoBR"
                                                                        datavaluefield="Id"
                                                                        required data-required-msg="El país es requerido."
                                                                        auto-bind="true"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Country")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CountryId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <script>
                                                    function GetCountryIdBR() {

                                                        return { 'CountryId': $("#CountryIdBR").val() }
                                                    }

                                                    function refreshmunicipioBR() {
                                                        $("#CityIdBR").data("kendoDropDownList").dataSource.read();
                                                    }
                                                </script>
                                                <div class="form-group">
                                                    <label asp-for="StateId" class=" control-label" style="width:100%"></label>
                                                    @*<input type="text" asp-for="State" name="State" class="form-control" autocomplete="off" style="width:100%" />*@
                                                    <kendo-dropdownlist name="StateId"
                                                                        id="StateIdBR"
                                                                        for="@Model.StateId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Departamento"
                                                                        auto-bind="true"
                                                                        onchange="refreshmunicipioBR();"
                                                                        required data-required-msg="El departamento es requerido."
                                                                        datatextfield="Name"
                                                                        datavaluefield="Id"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetJson", "State")" data="GetCountryIdBR" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="StateId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <script>
                                                    function GetStateIdBR() {

                                                        return { 'StateId': $("#StateIdBR").val() }
                                                    }
                                                </script>
                                                <div class="form-group">
                                                    <label asp-for="City" class=" control-label" style="width:100%"></label>
                                                    <kendo-dropdownlist name="CityId"
                                                                        id="CityIdBR"
                                                                        for="@Model.CityId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Ciudad"
                                                                        auto-bind="true"
                                                                        required data-required-msg="La Ciudad es requerida."
                                                                        datatextfield="Name"
                                                                        datavaluefield="Id"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetCityJson", "City")" data="GetStateIdBR" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CityId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ZipCode" class=" control-label" style="width:100%"></label>
                                                    <input type="text" required data-required-msg="El ZipCode es requerido." id="ZipCodeBR" asp-for="ZipCode" name="ZipCode" class="k-textbox" autocomplete="off" onkeypress="return SoloNumeros(event)" style="min-width:100%" maxlength="5" />
                                                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Phone" class=" control-label" style="width:100%"></label>
                                                    <input type="text" id="PhoneBR" asp-for="Phone" name="Phone" class="k-textbox" required data-required-msg="El teléfono es requerido." autocomplete="off" onchange="validar()" style="min-width:100%" />
                                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                                    <span id="telefono" class="text-danger">Complete el número de teléfono!</span>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Email" class=" control-label" style="width:100%"></label>
                                                    <input type="email" asp-for="Email" name="Email" id="gmail" class="k-textbox" required data-required-msg="El correo es requerido." autocomplete="off" style="min-width:100%" maxlength="80" />
                                                    <span asp-validation-for="Email" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ContactPerson" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="ContactPerson" name="ContactPerson" id="PeronaReferencia" required data-required-msg="El La persona de contacto es reuqerida." class="k-textbox" autocomplete="off" style="min-width: 100%" maxlength="80" />
                                                    <span asp-validation-for="ContactPerson" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Address" class=" control-label" style="width:100%"></label>
                                                    <textarea asp-for="Address" name="Address" id="Dirrecion" required data-required-msg="La dirección es requerida." class="k-textbox  " style="min-width: 100% !important;"></textarea>
                                                    <span asp-validation-for="Address" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Estado" class="control-label"></label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        id="IdEstadoBR"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        required data-required-msg="El estado es requerido."
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="IdEstado" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnBranch" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                        <input type="number" asp-for="BranchId" name="BranchId" value="@Model.BranchId" hidden />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="divWarehouses">
                            <h3>Bodegas</h3>
                            @await Html.PartialAsync("Warehouse.cshtml", Model, new ViewDataDictionary(ViewData) { { "permisosWarehouse", permisos } })
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function validar() {

        var cadena = $("#PhoneBR").val();
        console.log(cadena.indexOf("_"));
        if (cadena.indexOf("_") > -1 == true) {
            $("#telefono").show();
        }
        else {
            $("#telefono").hide();
        }
    }
</script>
<script>
    $(document).ready(function () {
        $("#PhoneBR").kendoMaskedTextBox({
            mask: "(999) 0000-0000"
        });
        $("#ZipCodeBR").on('paste', function (e) {
            e.preventDefault();
        })
        $("#telefono").hide();
    });
    function SoloNumeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "1234567890.";
        especiales = "8-37-39-46";
        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }
        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }

    function RefrescarGrid() {

        var grid = $("#gridNumeracionBranch").getKendoGrid();
        grid.dataSource.read();
    }
    function SaveBranch(e) {
            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnBranch").hide();
            $("#btnBranch").prop("disabled", true);

        var displayedData = $("#gridNumeracionBranch").data().kendoGrid.dataSource.view();

        var dataObject = { 'BranchId': $("#BranchId").val()===""?"0":$("#BranchId").val(),
                           'BranchName': $("#BranchName").val(),
                           'BranchCode': $("#BranchCode").val(),
                           'Description': $("#Description").val(),
                           'CurrencyId': 1,
                           'CurrencyName': 'Lempiras',
                           'Address': $("#Dirrecion").val(),
                           'CityId':$("#CityIdBR").val(),
                           'City': $("#CityIdBR").data("kendoDropDownList").text(),
                           'CustomerId': $("#CustomerIdBranch").val(),
                           'CustomerName': $("#CustomerIdBranch").data("kendoDropDownList").text(),
                           'CountryId': $("#CountryIdBR").val(),
                           'CountryName': $("#CountryIdBR").data("kendoDropDownList").text(),
                           'StateId': $("#StateIdBR").data("kendoDropDownList").value(),
                           'State': $("#StateIdBR").data("kendoDropDownList").text(),
                           'ZipCode': $("#ZipCodeBR").val(),
                           'Phone': $("#PhoneBR").val(),
                           'Email': $("#gmail").val(),
                           'ContactPerson': $("#PeronaReferencia").val(),
                           'IdEstado': $("#IdEstadoBR").val(),
                           'Estado': $("#IdEstadoBR").data("kendoDropDownList").text(),
                           'LimitCNBS': 0,
                           '_Brach': displayedData
        };
        if ($('#telefono').is(':hidden')) {


            var validator = $("#frmBranch").data("kendoValidator");
            var status = $(".status");

            console.log(dataObject)

            if (validator.validate()) {

                $.ajax({
                    url: '@Url.Action("SaveBranch", "Branch")',
                    method: 'POST',
                    datatype: "json",
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify(dataObject),
                    success: function (data) {

                        //notification.show({
                        //    message: "Guardado correctamente!"
                        //}, "upload-success");
                        $.toast({
                            heading: 'Satisfactorio',
                            text: 'Datos guardados correctamente.',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'success',
                            hideAfter: 30000,
                            stack: 6
                        });

                        RefrescarGrid();

                        $('#ModalBranch').modal('hide');


                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                        $.toast({
                            heading: 'Error',
                            text: errorThrown,
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'error',
                            hideAfter: 30000,
                            stack: 6
                        });

                    }
                });

            }
            else {
                notification.show({
                    title: "Validación",
                    message: "Datos invalidos"
                }, "error");
            }

        }
            $("#btnBranch").show();
            $("#btnBranch").prop("disabled", false);

    }
</script>
