@model ERPMVC.DTO.BranchDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                   // {"required","Valor requerido" }
                };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

        function customFunction(input) {

            if (input.attr('name') === "BranchId" && input.val() === "0") {
                return false;
            }

        }

        //$('#btnprueba').val("");
</script>



<div id="ModalBranch" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sucursales</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmBranch" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveBranch"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Sucursales</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="BranchId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="BranchId" name="BranchId" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="BranchName" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="BranchName" name="BranchName" class="form-control" style="width:100%" />
                                                    <span asp-validation-for="BranchName" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Description" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Description" name="Description" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CurrencyId" class="control-label"></label>
                                                    <kendo-dropdownlist name="CurrencyId"
                                                                        for="@Model.CurrencyId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Moneda"
                                                                        datatextfield="CurrencyName"
                                                                        datavaluefield="CurrencyId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetCurrencyP", "Currency")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Address" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Address" name="Address" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Address" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="City" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="City" name="City" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="City" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="State" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="State" name="State" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="State" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ZipCode" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="ZipCode" name="ZipCode" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Phone" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Phone" name="Phone" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Email" class=" control-label" style="width:100%"></label>
                                                    <input type="email" asp-for="Email" name="Email" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Email" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ContactPerson" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="ContactPerson" name="ContactPerson" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="ContactPerson" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Estado" class="control-label"></label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnBranch" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SaveBranch(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnBranch").hide();
            $("#btnBranch").prop("disabled", true);

        var displayedData = $("#gridNumeracionBranch").data().kendoGrid.dataSource.view();

        var dataObject = {  'BranchId': $("#BranchId").val()===""?"0":$("#BranchId").val(),
                           'BranchName': $("#BranchName").val(),
                           'Description': $("#Description").val(),
                           'CurrencyId': $("#CurrencyId").val(),
                           'Address': $("#Address").val(),
                           'City': $("#City").val(),
                           'Description': $("#Description").val(),
                           'State': $("#State").val(),
                           'ZipCode': $("#ZipCode").val(),
                           'Phone': $("#Phone").val(),
                           'Email': $("#Email").val(),
                           'ContactPerson': $("#ContactPerson").val(),
                           'IdEstado': $("#IdEstado").val(),
                           'Estado': $("#IdEstado").data("kendoDropDownList").text(),
                           'FechaCreacion': $("#FechaCreacion").val(),
                           'FechaModificacion':$("#FechaModificacion").val(),
                           'UsuarioCreacion':$("#UsuarioCreacion").val(),
                           'UsuarioModificacion':$("#UsuarioModificacion").val(),
                           '_Brach': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

        var validator = $("#frmBranch").data("kendoValidator");
                 var status = $(".status");

            if (displayedData.length > 0) {
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveBranch", "Branch")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                            RefreshCotizaciones();

                            $('#ModalBranch').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }
            }
            else {
                notification.show({
                    title: "Validacion",
                    message: "Debe agregar los productos!"
                }, "error");
               // notification.show("New E-mail","Debe agregar los productos", "info");
                //alert('Debe agregar los productos!!');
            }

            $("#btnBranch").show();
            $("#btnBranch").prop("disabled", false);
    }
</script>
