@model ERPMVC.Models.Warehouse
@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
             {"required","Valor requerido" }
        };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}
<script>
    $(function () {
        var dateFormat = "dd/MM/yyyy",
            from = $("#FechaEmisionPoliza")
                .kendoDateTimePicker({
                    defaultDate: "+1w",
                })
                .on("change", function () {
                    to.kendoDateTimePicker("min", getDate(this));
                }),
            to = $("#FechaVencimientoPoliza").kendoDateTimePicker({
                defaultDate: "+1w",
            })
                .on("change", function () {
                    from.kendoDateTimePicker("max", getDate(this));
                });

        function getDate(element) {
            var date;
            try {
                date = element.value;
            } catch (error) {
                date = null;
            }

            return date;
        }
    });

    function SaveWareHouse(e) {

        var notification = $("#notification").data("kendoNotification");
        // e.preventDefault();
        $("#btnWareHouse").hide();
        $("#btnWareHouse").prop("disabled", true);
        var customername = '';
        if ($("#CustomerIdBranch") != null) {
            if ($("#CustomerIdBranch").data("kendoDropDownList") != null) {
                customername = $("#CustomerIdBranch").data("kendoDropDownList").text();
            }
        }
       // var displayedData = $("#gridNumeracionBranch").data().kendoGrid.dataSource.view();
        var idmoneda = $("#IdMoneda").val();
      //  console.log(idmoneda)
        var nombremoneda = $("#IdMoneda").data("kendoDropDownList").text();
      //  console.log(nombremoneda)
        var dataObject = {
            'WarehouseId': $("#WarehouseId").val(),
            'WarehouseName': $("#WarehouseName").val(),
            'Description': $("#IdDescription").val(),
            'IdEstado' : $("#IdEstadowarehouse").val(),
            'Estado': $("#IdEstadowarehouse").data("kendoDropDownList").text(),
            'BranchId': $("#BranchIdWareHouse").val(),
            'UnitOfMeasureId': $("#UnitOfMeasureId").val(),
            'UnitOfMeasureName': $("#UnitOfMeasureId").data("kendoDropDownList").text(),
            'CustomerId': $("#CustomerIdBranch").val(),
            'CustomerName': customername,
            'CapacidadBodega': $("#CapacidadBodega").val(),
            'NoPoliza': $("#NoPoliza").val(),
            'CurrencyId': (idmoneda),
            'CurrencyName': (nombremoneda),
            'CantidadPoliza': $("#CantidadPoliza").val(),
            'FechaEmisionPoliza': $("#FechaEmisionPoliza").getKendoDateTimePicker().value().toJSON(),
            'FechaVencimientoPoliza': $("#FechaVencimientoPoliza").getKendoDateTimePicker().value().toJSON(),

        }


        var validator = $("#frmWareHouse").data("kendoValidator");
         var status = $(".status");


        if (validator.validate()) {

            $.ajax({
                url: '@Url.Action("SaveWarehouse", "WareHouse")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (data) {

                    //notification.show({
                    //    message: "Guardado correctamente!"
                    //}, "upload-success");
                    $.toast({
                        heading: 'Satisfactorio',
                        text: '<br/><br/>Datos guardados correctamente.',
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 7000,
                        stack: 6
                    });

                    RefrescarGridWareHouse();

                    $('#ModalWareHouse').modal('hide');


                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#btnWareHouse").show();
                    $("#btnWareHouse").prop("disabled", false);
                    notification.show({
                        title: "Validación",
                        message: textStatus + ": " + XMLHttpRequest.responseText
                    }, "error");

                }
            });

        }
        else {
            $("#btnWareHouse").hide();
            $("#btnWareHouse").prop("disabled", true);
            notification.show({
                title: "Validación",
                message: "Datos invalidos en el formulario"
            }, "error");
        }



    }
</script>


<div id="ModalWareHouse" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bodegas</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmWareHouse" kendo-validator="true" kendo-messages="messages"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveWareHouse"
                                      class="validation-wizard wizard-circle">

                                    <div class="form-body">
                                        <h3 class="card-title">Sucursales</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="WarehouseId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="WarehouseId" name="WarehouseId" disabled class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="WarehouseId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="BranchId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="BranchId" id="BranchIdWareHouse" name="BranchId" class="form-control" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="WarehouseName" class=" control-label" style="width:100%">Nombre del Almacén</label>
                                                    <input type="text" asp-for="WarehouseName" name="WarehouseName" required data-val-required="Valor requerido" class="form-control" style="min-width:100%" maxlength="100" />
                                                    @*<input type="hidden" asp-for="WarehouseId" />*@
                                                    <span asp-validation-for="WarehouseName" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Description" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Description" name="Description" required id="IdDescription" class="form-control" data-val-required="Valor requerido" style="min-width:100%" maxlength="150" />
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="CapacidadBodega" class=" control-label" style="width:100%"></label>
                                                    @*<input type="text" asp-for="CapacidadBodega" name="CapacidadBodega" class="form-control" style="min-width:100%" />*@
                                                    <kendo-numerictextbox name="CapacidadBodega"
                                                                          format="n2" spinners="false"
                                                                          min="0.00"
                                                                          maxlength="20"
                                                                          required class="control-label right bold"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          data-val-required="Valor requerido"
                                                                          max="999999999.99"
                                                                          step="1"
                                                                          value="Model.CapacidadBodega" />
                                                    <span asp-validation-for="CapacidadBodega" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="UnitOfMeasureId" class="control-label">Unidad de medida</label>
                                                    <kendo-dropdownlist name="UnitOfMeasureId"
                                                                        for="@Model.UnitOfMeasureId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar UOM"
                                                                        datatextfield="UnitOfMeasureName"
                                                                        datavaluefield="UnitOfMeasureId"
                                                                        data-val-required="Valor requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetUnitOfMeasureJson", "UnitOfMeasure")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="IdEstado" class=" control-label" style="width:100%"></label>
                                                    <kendo-dropdownlist name="IdEstadowarehouse"
                                                                        id="IdEstadowarehouse"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        required
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        data-val-required="Valor requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>

                                                    <span asp-validation-for="IdEstado" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="NoPoliza" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="NoPoliza" name="NoPoliza" required data-val-required="Valor requerido" class="form-control" style="min-width:100%" maxlength="30" />
                                                    <span asp-validation-for="NoPoliza" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="CurrencyId" class="control-label"></label>
                                                    <kendo-dropdownlist name="CurrencyId"
                                                                        id="IdMoneda"
                                                                        for="@Model.CurrencyId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Moneda"
                                                                        datatextfield="CurrencyName"
                                                                        datavaluefield="CurrencyId"
                                                                        data-val-required="Valor requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetCurrencyP", "Currency")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CurrencyId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="CantidadPoliza" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="CantidadPoliza"
                                                                          format="n2" spinners="false"
                                                                          min="0.00"
                                                                          maxlength="20"
                                                                          required class="control-label right bold"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999.99"
                                                                          step="1"
                                                                          data-val-required="Valor requerido"
                                                                          value="Model.CantidadPoliza" />
                                                    <span asp-validation-for="CantidadPoliza" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="FechaEmisionPoliza" class=" control-label" style="width:100%"></label>
                                                    @*<kendo-datetimepicker name="FechaEmisionPoliza"
                                                        id="FechaEmisionPoliza"
                                                        style="width: 100%;"
                                                        format="dd/MM/yyyy hh:mm:ss"
                                                        time-format="hh:mm:ss"
                                                        data-val-required="La fecha es requerida"
                                                        value="Model.FechaEmisionPoliza"></kendo-datetimepicker>*@
                                                    <input asp-for="FechaEmisionPoliza" name="FechaEmisionPoliza" autocomplete="off" style="width:100%" data-val-required="Valor requerido" />
                                                    <span asp-validation-for="FechaEmisionPoliza" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="FechaVencimientoPoliza" class=" control-label" style="width:100%"></label>
                                                    @*<kendo-datetimepicker name="FechaVencimientoPoliza"
                                                        id="FechaVencimientoPoliza"
                                                        style="width: 100%;"
                                                        format="dd/MM/yyyy hh:mm:ss"
                                                        time-format="hh:mm:ss"
                                                        data-val-required="La fecha es requerida"
                                                        value="Model.FechaVencimientoPoliza"></kendo-datetimepicker>*@
                                                    <input asp-for="FechaVencimientoPoliza" name="FechaVencimientoPoliza" autocomplete="off" style="width:100%" data-val-required="Valor requerido"/>
                                                    <span asp-validation-for="FechaVencimientoPoliza" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnWareHouse" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>