@model ERPMVC.Models.Employees


<div class="card-header">
    <h3 class="my-0 text-white">Detalles del Empleado</h3>
</div>

<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div class="col-md-3 mt-4">
                <img class="img-thumbnail pull-right" src="~/images/emp/@Model.Foto" alt="imagenUsuario" style="width:128px;height:128px;" />

            </div>
            <div class="col-md-6 mt-3">
                <h4>@Model.NombreEmpleado</h4>
                <h6>@Model.NombrePuesto</h6>
                <small><i class="fa fa-building"></i>  Departamento |   @Model.NombreDepartamento</small><br />
                <small><i class="fa fa-map-marker-alt"></i>  Sucursal |   @Model.NombreSucursal</small><br />
                <small><i class="fa fa-calendar-check"></i>  Empleado desde @Convert.ToDateTime(Model.FechaIngreso).ToString("dd/MMM/yyyy")</small><br />

            </div>
            <div class="col-md-3 mt-3">
                <a class="k-button pull-right mr-3" href="javascript:history.back();">Regresar</a>
            </div>
        </div>
        <!--  -->
        <hr class="mx-3" />
        <div class="row mx-3">
            <div class="col-md-6">
                <p class="text-uppercase">Contacto</p>
                <hr />
                <p><i class="fa fa-envelope"></i>  Correo: @Model.Correo</p>
                <p><i class="fa fa-phone"></i>  Teléfono: @Model.Telefono</p>
                <p><i class="fa fa-envelope"></i>  Extensión: @Model.Extension</p>
                <p><i class="fa fa-user-alt"></i>  Usuario: @Model.Userid</p>
            </div>
            <div class="col-md-6">
                <p class="text-uppercase">Información Adicional</p>
                <hr />
                <p><i class="fa fa-birthday-cake"></i>  Cumpleaños: @Convert.ToDateTime(Model.FechaNacimiento).ToString("dd/MMMM")</p>
                <p><i class="fa fa-map-marked-alt"></i>  Dirección: @Model.Direccion , @Model.NombreCiudad</p>
                <p><i class="fa fa-sticky-note"></i>  Observaciones: @Model.Notas</p>
            </div>
        </div>
        <hr class="mx-3" />
    </div>
</div>




<div class="panel panel-default">

    @(Html.Kendo().TabStrip()
               .Name("tabDetalleEmpleado")
               .Items(tabstrip =>
               {
                   tabstrip.Add().Text("Horas Trabajadas").LoadContentFrom("CustomersOfCustomer", "CustomerOfCustomer")
                   .HtmlAttributes(new { style = "width: auto;" });

                   tabstrip.Add().Text("Vacaciones").LoadContentFrom(@Url.Action("SalesOrderCustomer", "Customer"))
                   .HtmlAttributes(new { style = "width: auto;" });

                   tabstrip.Add().Text("Entrenamientos").LoadContentFrom(@Url.Action("Index", "CustomerProduct"))
                   .HtmlAttributes(new { style = "width: auto;" });

                   tabstrip.Add().Text("Prestaciones y Liquidaciones")
                   //.ImageUrl(Url.Content("~/shared/icons/sports/baseball.png"))
                   .LoadContentFrom("CustomersOfCustomer", "CustomerOfCustomer")
                   .HtmlAttributes(new { style = "width: auto;" });

               })
               .SelectedIndex(0)
    )
</div>