@model ERPMVC.DTO.EmployeesDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
           // {"required","Valor requerido" }
        };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

    }


</script>



<div id="ModalEmployees" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Employees</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmEmployees" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveEmployees"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Employees</h3>
                                        <hr>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdEmpleado" class=" control-label" style="width:100%">Id Employees</label>
                                                    <input type="text" asp-for="IdEmpleado" name="IdEmpleado" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="IdEmpleado" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="NombreEmpleado" class=" control-label" style="width:100%">Nombre de empleado</label>
                                                    <input type="text" asp-for="NombreEmpleado" name="NombreEmpleado" class="form-control" style="width:100%" />
                                                    <span asp-validation-for="NombreEmpleado" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Correo" class=" control-label" style="width:100%">Correo</label>
                                                    <input type="text" asp-for="Correo" name="Correo" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Correo" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Puesto" class=" control-label" style="width:100%">Puesto</label>
                                                    <input type="text" asp-for="Puesto" name="Puesto" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Puesto" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                           
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaNacimiento" class=" control-label" style="width:100%">Fecha de nacimiento</label>
                                                    <kendo-datetimepicker name="FechaRecepcion" style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.FechaNacimiento"></kendo-datetimepicker>
                                                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaIngreso" class=" control-label" style="width:100%">Fecha de ingreso</label>
                                                    <kendo-datetimepicker name="FechaRecepcion" style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.FechaIngreso"></kendo-datetimepicker>
                                                    <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Salario" class=" control-label" style="width:100%">Salario</label>
                                                    <input type="text" asp-for="Salario" name="Salario" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Salario" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Estado" class="control-label">Estado</label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Identidad" class=" control-label" style="width:100%">Identidad</label>
                                                    <input type="text" asp-for="Identidad" name="Identidad" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Identidad" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaEgreso" class=" control-label" style="width:100%">FechaEgreso</label>
                                                    <input type="text" asp-for="FechaEgreso" name="FechaEgreso" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="FechaEgreso" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Direccion" class=" control-label" style="width:100%">Dirección</label>
                                                    <input type="text" asp-for="Direccion" name="Direccion" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Direccion" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Genero" class=" control-label" style="width:100%">Género</label>
                                                    <input type="text" asp-for="Genero" name="Genero" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Genero" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Ciudad" class=" control-label" style="width:100%">Ciudad</label>
                                                    <input type="text" asp-for="Ciudad" name="Ciudad" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Ciudad" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdPais" class="control-label">País</label>
                                                    <kendo-dropdownlist name="IdPais"
                                                                        for="@Model.IdPais"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar País"
                                                                        datatextfield="Name"
                                                                        datavaluefield="IdPais"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Country")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdCiudad" class="control-label">Ciudad</label>
                                                    <kendo-dropdownlist name="IdPais"
                                                                        for="@Model.IdCiudad"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Ciudad"
                                                                        datatextfield="Name"
                                                                        datavaluefield="Id"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "City")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="MonedaSalario" class=" control-label" style="width:100%">Salario</label>
                                                    <input type="text" asp-for="MonedaSalario" name="MonedaSalario" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="MonedaSalario" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Idsescalas" class="control-label">Escalas</label>
                                                    <kendo-dropdownlist name="IdPais"
                                                                        for="@Model.Idsescalas"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Escala"
                                                                        datatextfield="NombreEscala"
                                                                        datavaluefield="Id"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Escala")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdBanco" class="control-label">Banco</label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        for="@Model.IdBanco"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Banco"
                                                                        datatextfield="BankName"
                                                                        datavaluefield="BankId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetBank", "Bank")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CuentaBanco" class=" control-label" style="width:100%">Cuenta de banco</label>
                                                    <input type="text" asp-for="CuentaBanco" name="CuentaBanco" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="CuentaBanco" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Extension" class=" control-label" style="width:100%">Extensión</label>
                                                    <input type="text" asp-for="Extension" name="Extension" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Extension" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaFinContrato" class=" control-label" style="width:100%">Fecha fin del contrato</label>
                                                    <input type="text" asp-for="FechaFinContrato" name="FechaFinContrato" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="FechaFinContrato" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdDepartamento" class="control-label">Departamento</label>
                                                    <kendo-dropdownlist name="IdDepartamento"
                                                                        for="@Model.IdDepartamento"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Departamento"
                                                                        datatextfield="NombreDepartamento"
                                                                        datavaluefield="IdDepartamento"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Departamento")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>

                                        


                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdPuesto" class="control-label">Puesto</label>
                                                    <kendo-dropdownlist name="IdPuesto"
                                                                        for="@Model.IdPuesto"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Puesto"
                                                                        datatextfield="NombrePuesto"
                                                                        datavaluefield="IdPuesto"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Puesto")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdSucursal" class="control-label">Sucursal</label>
                                                    <kendo-dropdownlist name="IdSucursal"
                                                                        for="@Model.IdSucursal"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Sucursal"
                                                                        datatextfield="BranchName"
                                                                        datavaluefield="BranchId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetBranch", "Branch")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdTipoContrato" class="control-label">Tipo de Contrato</label>
                                                    <kendo-dropdownlist name="IdPuesto"
                                                                        for="@Model.IdTipoContrato"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar tipo de contrato"
                                                                        datatextfield="NombreTipoContrato"
                                                                        datavaluefield="IdTipoContrato"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "TipoContrato")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Notas" class=" control-label" style="width:100%">Notas</label>
                                                    <input type="text" asp-for="Notas" name="Notas" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Notas" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Telefono" class=" control-label" style="width:100%">Teléfono</label>
                                                    <input type="text" asp-for="Telefono" name="Telefono" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Telefono" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnEmployees" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
        function SaveEmployees(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnEmployees").hide();
            $("#btnEmployees").prop("disabled", true);

            var displayedData = $("#gridEmployees").data().kendoGrid.dataSource.view();

            var dataObject = {
                'IdEmployees': $("#IdEmployees").val() === "" ? "0" : $("#IdEmployees").val(),
                           'NombreEmployees': $("#NombreEmployees").val(),
                           'DescripcionEmployees': $("#DescripcionEmployees").val(),
                           'IdEstado': $("#IdEstado").val(),
                           'Estado': $("#IdEstado").data("kendoDropDownList").text(),

                'ValorInicial': $("#ValorInicial").val(),
                'ValorFinal': $("#ValorFinal").val(),
                'Porcentaje': $("#Porcentaje").val(),
                'ValorCalculo': $("#ValorCalculo").val(),

                           //'FechaCreacion': $("#FechaCreacion").val(),
                           //'FechaModificacion':$("#FechaModificacion").val(),
                           //'UsuarioCreacion':$("#UsuarioCreacion").val(),
                           //'UsuarioModificacion':$("#UsuarioModificacion").val(),
                           '_Employees': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

            var validator = $("#frmEmployees").data("kendoValidator");
                 var status = $(".status");
            console.log(validator)
            console.log('VERIFICAR',displayedData.length)
            //if (displayedData.length > 0) {
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveEmployees", "Employees")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                            RefrescarGrid();

                            $('#ModalEmployees').modal('hide');



                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log('VERIFICAR')

                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }
            //}
            //else {
            //    notification.show({
            //        title: "Validacion",
            //        message: "Debe agregar los productos!"
            //    }, "error");
            //   // notification.show("New E-mail","Debe agregar los productos", "info");
            //    //alert('Debe agregar los productos!!');
            //}

            $("#btnEmployees").show();
            $("#btnEmployees").prop("disabled", false);
    }
</script>
