@model ERPMVC.DTO.EmployeesDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
   // {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

    }


</script>



<div id="ModalEmployees" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Empleados</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmEmployees" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveEmployees"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Empleados</h3>
                                        <hr>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdEmpleado" class=" control-label" style="width:100%">Id Empleado</label>
                                                    <input type="text" asp-for="IdEmpleado" name="IdEmployees" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="IdEmpleado" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="NombreEmpleado" class=" control-label" style="width:100%">Nombre de empleado</label>
                                                    <input type="text" asp-for="NombreEmpleado" name="NombreEmpleado" class="form-control" style="width:100%" />
                                                    <span asp-validation-for="NombreEmpleado" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Correo" class=" control-label" style="width:100%">Correo</label>
                                                    <input type="text" asp-for="Correo" name="Correo" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Correo" class="text-danger"></span>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaNacimiento" class=" control-label" style="width:100%">Fecha nacimiento</label>
                                                    <kendo-datetimepicker name="FechaNacimiento" style="width: 100%;"
                                                                          format="dd/MM/yyyy"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.FechaNacimiento"></kendo-datetimepicker>
                                                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaIngreso" class=" control-label" style="width:100%">Fecha Ingreso</label>
                                                    <kendo-datetimepicker name="FechaIngreso" style="width: 100%;"
                                                                          format="dd/MM/yyyy"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.FechaIngreso"></kendo-datetimepicker>
                                                    <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Salario" class=" control-label" style="width:100%">Salario</label>
                                                    <input type="text" asp-for="Salario" name="Salario" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Salario" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Identidad" class=" control-label" style="width:100%">Identidad</label>
                                                    <input type="text" asp-for="Identidad" name="Identidad" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Identidad" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaEgreso" class=" control-label" style="width:100%">Fecha egreso</label>
                                                    <kendo-datetimepicker name="FechaEgreso" style="width: 100%;"
                                                                          format="dd/MM/yyyy"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.FechaEgreso"></kendo-datetimepicker>
                                                    <span asp-validation-for="FechaEgreso" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Direccion" class=" control-label" style="width:100%">Dirección</label>
                                                    <input type="text" asp-for="Direccion" name="Direccion" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Direccion" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Genero" class=" control-label" style="width:100%">Género</label>
                                                    <input type="text" asp-for="Genero" name="Genero" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Genero" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdEstado" class="control-label"></label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdPais" class="control-label">País</label>
                                                    <kendo-dropdownlist name="IdPais"
                                                                        for="@Model.IdPais"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar País"
                                                                        datatextfield="Name"
                                                                        datavaluefield="Id"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Country")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdCiudad" class="control-label">Ciudad</label>
                                                    <kendo-dropdownlist name="IdCiudad"
                                                                        for="@Model.IdCiudad"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Ciudad"
                                                                        datatextfield="Name"
                                                                        datavaluefield="Id"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "City")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="MonedaSalario" class=" control-label" style="width:100%">Moneda salario</label>
                                                    <kendo-dropdownlist name="Moneda"
                                                                        for="@Model.MonedaSalario"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Moneda"
                                                                        datatextfield="CurrencyName"
                                                                        datavaluefield="CurrencyId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetCurrency", "Currency")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="MonedaSalario" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Idsescalas" class="control-label">Escala</label>
                                                    <kendo-dropdownlist name="Idsescalas"
                                                                        for="@Model.Idsescalas"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar escala"
                                                                        datatextfield="NombreEscala"
                                                                        datavaluefield="IdEscala"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Escala")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdBanco" class="control-label">Banco</label>
                                                    <kendo-dropdownlist name="IdBanco"
                                                                        for="@Model.IdBanco"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar banco"
                                                                        datatextfield="BankName"
                                                                        datavaluefield="BankId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetBank", "Bank")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CuentaBanco" class=" control-label" style="width:100%">Cuenta de banco</label>
                                                    <input type="text" asp-for="CuentaBanco" name="CuentaBanco" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="CuentaBanco" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Extension" class=" control-label" style="width:100%">Extensión</label>
                                                    <input type="text" asp-for="Extension" name="Extension" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Extension" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaFinContrato" class=" control-label" style="width:100%">Fecha fin del contrato</label>
                                                    <kendo-datetimepicker name="FechaFinContrato" style="width: 100%;"
                                                                          format="dd/MM/yyyy"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.FechaFinContrato"></kendo-datetimepicker>
                                                    <span asp-validation-for="FechaFinContrato" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdPuesto" class="control-label">Puesto</label>
                                                    <kendo-dropdownlist name="IdPuesto"
                                                                        for="@Model.IdPuesto"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar puesto"
                                                                        datatextfield="NombrePuesto"
                                                                        datavaluefield="IdPuesto"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Puesto")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdSucursal" class="control-label">Sucursal</label>
                                                    <kendo-dropdownlist name="IdSucursal"
                                                                        for="@Model.IdSucursal"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Sucursal"
                                                                        datatextfield="BranchName"
                                                                        datavaluefield="BranchId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetBranch", "Branch")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdTipoContrato" class="control-label">Tipo contrato</label>
                                                    <kendo-dropdownlist name="IdSucursal"
                                                                        for="@Model.IdTipoContrato"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar tipo contrato"
                                                                        datatextfield="NombreTipoContrato"
                                                                        datavaluefield="IdTipoContrato"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "TipoContrato")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Telefono" class=" control-label" style="width:100%">Teléfono</label>
                                                    <input type="text" asp-for="Telefono" name="Telefono" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Telefono" class="text-danger"></span>
                                                </div>
                                            </div>
                                           
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdDepartamento" class="control-label">Departamento</label>
                                                    <kendo-dropdownlist name="IdDepartamento"
                                                                        for="@Model.IdDepartamento"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Departamento"
                                                                        datatextfield="NombreDepartamento"
                                                                        datavaluefield="IdDepartamento"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Departamento")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                        </div>
                                                                                
                                        <div class="row">


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Notas" class=" control-label" style="width:100%">Notas</label>
                                                    <textarea asp-for="Notas" name="Notas" class="form-control" autocomplete="off" style="width:100%" />

                                                    <span asp-validation-for="Notas" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnEmployees" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
        function SaveEmployees(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnEmployees").hide();
            $("#btnEmployees").prop("disabled", true);

            var displayedData = $("#gridEmployees").data().kendoGrid.dataSource.view();

            var dataObject = {
                

                'IdEmpleado': $("#IdEmpleado").val() === "" ? "0" : $("#IdEmpleado").val(),

                'NombreEmpleado': $("#NombreEmpleado").val(),
                'Correo': $("#Correo").val(),
                'FechaNacimiento': $("#FechaNacimiento").getKendoDateTimePicker().value().toJSON(),

                'FechaIngreso': $("#FechaIngreso").getKendoDateTimePicker().value().toJSON(),
                'Salario': $("#Salario").val(),
                'Estado': $("#IdEstado").data("kendoDropDownList").text(),
                'Identidad': $("#Identidad").val(),
                'FechaEgreso': $("#FechaEgreso").getKendoDateTimePicker().value().toJSON(),
                'Direccion': $("#Direccion").val(),
                'Genero': $("#Genero").val(),
                'IdEstado': $("#IdEstado").val(),
                'NombreEstado': $("#IdEstado").data("kendoDropDownList").text(),

                'Ciudad': $("#IdCiudad").data("kendoDropDownList").text(),
                'IdPais': $("#IdPais").val(),
                'NombrePais': $("#IdPais").data("kendoDropDownList").text(),
                'IdCiudad': $("#IdCiudad").val(),
                'NombreCiudad': $("#IdCiudad").data("kendoDropDownList").text(),
                'MonedaSalario': $("#MonedaSalario").val(),
                'Idsescalas': $("#Idsescalas").val(),
                'IdActivoinactivo': $("#IdEstado").val(),
                'IdBanco': $("#IdBanco").val(),
                'CuentaBanco': $("#CuentaBanco").val(),
                'FechaFinContrato': $("#FechaFinContrato").getKendoDateTimePicker().value().toJSON(),
                'Telefono': $("#Telefono").val(),
                'Extension': $("#Extension").val(),
                'IdPuesto': $("#IdPuesto").val(),
                'NombrePuesto': $("#IdPuesto").data("kendoDropDownList").text(),
                'IdSucursal': $("#IdSucursal").val(),
                'NombreSucursal': $("#IdSucursal").data("kendoDropDownList").text(),
                'IdTipoContrato': $("#IdTipoContrato").val(),
                'IdDepartamento': $("#IdDepartamento").val(),
                'Notas': $("#Notas").val(),
                'Foto':'',
                'NombreDepartamento': $("#IdDepartamento").data("kendoDropDownList").text(),


            };
            console.log(dataObject.IdPuesto)
           

            var validator = $("#frmEmployees").data("kendoValidator");
                 var status = $(".status");
               if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveEmployees", "Employees")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/>Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 4000,
                                stack: 6
                            });

                            RefrescarGrid();

                            $('#ModalEmployees').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            

                            notification.show({
                                title: "Validación",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    notification.show({
                        title: "Validación",
                        message: "Ingrese todos los datos en el formulario"
                    }, "error");
                }


            $("#btnEmployees").show();
            $("#btnEmployees").prop("disabled", false);
    }
</script>
