@model ERPMVC.DTO.CompanyInfoDTO

@{ 
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
{"required","Valor requerido" }
};
    ViewData["Title"] = "Informacion de la Empresa";
}

<script src="~/admp/assets/plugins/dropify/dist/js/dropify.min.js"></script>

<link rel="stylesheet" href="~/admp/assets/plugins/dropify/dist/css/dropify.min.css">



<script>


    var onBegin = function () {
        //alert("Begin");
        $("#btnCompanyInfo").attr("disabled", true);
    };

    var onComplete = function () {
        //alert("Complete");
        //$('#ModalEmployees').modal('hide');
        $("#btnCompanyInfo").attr("disabled", false);
    };

    var onSuccess = function (context) {
        //alert(context);
        console.log(context);
        $.toast({
            heading: 'Satisfactorio',
            text: 'Datos guardados correctamente.',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'success',
            hideAfter: 30000,
            stack: 6
        });

        //location.reload();
        //RefreshCotizaciones();
    };

    var onFailed = function (context) {
        // alert(context);
        console.log(context);
            $.toast({
                heading: 'Validación',
                text: context.responseText,
                position: 'top-right',
                loaderBg: '#ff6849',
                icon: 'error',
                hideAfter: 30000,
                stack: 6
            });
        
        
        $("#btnCompanyInfo").attr("disabled", false);
    };
</script>

<div class="card ">
    <div class="card-header">
        <a  class="close" asp-action="Index"  asp-controller="Home">&times;</a>
        <h3 class="my-0 font-weight-normal" style="color:white">Información de la Empresa</h3>
    </div>
    <div class="card-body">

        <form id="frmCompanyInfo" kendo-validator="true" kendo-messages="messages" asp-action="SaveCompanyInfo" asp-controller="CompanyInfo"
              data-ajax="true"
              data-ajax-method="post" enctype="multipart/form-data"
              data-ajax-begin="onBegin" data-ajax-complete="onComplete"
              data-ajax-failure="onFailed" data-ajax-success="onSuccess">
            <div class="card-body">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-4" hidden>
                            <div class="form-group">
                                <label asp-for="CompanyInfoId" class=" control-label" style="width:100%">Id Empresa</label>
                                <input asp-for="CompanyInfoId" type="text" name="CompanyInfoId" class="k-textbox" readonly style="min-width:100%" />
                                <span asp-validation-for="CompanyInfoId" class="text-danger"></span>
                                <input asp-for="image" hidden />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Company_Name" class=" control-label" style="width:100%">Nombre de la empresa</label>
                                <input type="text" asp-for="Company_Name" name="Company_Name" class="k-textbox" style="min-width:100%" required maxlength="60" data-required-msg="Nombre de la empresa es requerido" />
                                <span asp-validation-for="Company_Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Tax_Id" class="control-label">RTN</label>
                                <input type="text" asp-for="Tax_Id" name="Tax_Id" class="k-textbox" autocomplete="off" style="min-width:100%" maxlength="30" onKeyPress="return Numeros(event)" required data-required-msg="RTN es requerido" />
                                <span asp-validation-for="Tax_Id" class="text-danger"></span>

                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="PostalCode" class=" control-label" style="width:100%">Código Postal</label>
                                <input asp-for="PostalCode" hidden="hidden" />
                                <input type="text" asp-for="PostalCode" name="PostalCode" id="IdPostalCode" class="k-textbox" autocomplete="off" style="min-width:100%" maxlength="30" />
                                <span asp-validation-for="PostalCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Phone" class=" control-label" style="width:100%">Teléfono fijo</label>
                                <input type="text" asp-for="Phone" name="Phone" class="k-textbox" autocomplete="off" onchange="validar(this)" style="min-width:100%" required data-required-msg="Teléfono Fijo es requerido" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                                <span id="telefono" class="text-danger">Complete el número de teléfono móvil!</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="MobilePhone" class=" control-label" style="width:100%">Teléfono Móvil</label>
                                <input type="text" asp-for="MobilePhone" name="MobilePhone" class="k-textbox" autocomplete="off" n onchange="validar(this)" style="min-width:100%" required data-required-msg="Teléfono móvil es requerido" />
                                <span asp-validation-for="MobilePhone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Fax" class=" control-label" style="width:100%">Fax</label>
                                <input type="text" asp-for="Fax" name="Fax" class="k-textbox" autocomplete="off" style="min-width:100%" maxlength="30" />
                                <span asp-validation-for="Fax" class="text-danger"></span>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="CountryId" class="control-label" style="width:100%">País</label>
                                <input asp-for="CountryName" hidden />
                                <kendo-dropdownlist name="CountryId"
                                                    for="@Model.CountryId"
                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                    option-label="Seleccionar País"
                                                    datatextfield="Name"
                                                    datavaluefield="Id"
                                                    data-val-required="País es requerido"
                                                    style="min-width: 100%;">
                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="1000">
                                        <transport >
                                            <read url="@Url.Action("Get", "Country")" />
                                        </transport>
                                    </datasource>
                                </kendo-dropdownlist>
                                <span asp-validation-for="CountryId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Manager" class=" control-label" style="width:100%">Gerente General</label>
                                <input type="text" asp-for="Manager" name="Manager" class="k-textbox" autocomplete="off" style="min-width:100%" maxlength="50" required data-required-msg="Director General" />
                                <span asp-validation-for="Manager" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="RTNMANAGER" class=" control-label" style="width:100%">RTN Gerente General</label>
                                <input type="text" asp-for="RTNMANAGER" name="RTNMANAGER" class="k-textbox" autocomplete="off" style="min-width:100%" maxlength="30" onKeyPress="return Numeros(event)" required data-required-msg="RTN Director General es requerido" />
                                <span asp-validation-for="RTNMANAGER" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">                       

                        <div class="col-md-4" hidden>
                            <div class="form-group">
                                <input asp-for="Estado" hidden />
                                <label asp-for="IdEstado" class="control-label" style="width:100%">Estado</label>
                                <kendo-dropdownlist name="IdEstado"
                                                    for="@Model.IdEstado"
                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                    option-label="Seleccionar Estado"
                                                    datatextfield="NombreEstado"
                                                    datavaluefield="IdEstado"
                                                    required data-required-msg="Estado es requerido" style="min-width:100%">
                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                        <transport>
                                            <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                        </transport>
                                    </datasource>
                                </kendo-dropdownlist>
                                <span asp-validation-for="IdEstado" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="WebPage" class=" control-label" style="width:100%"></label>
                                <input type="text" asp-for="WebPage" name="WebPage" class="k-textbox" autocomplete="off" style="min-width:100%" maxlength="50" required data-required-msg="Pagina Web es requerido" />
                                <span asp-validation-for="WebPage" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Email" class=" control-label" style="width:100%">Correo</label>
                                <input type="text" asp-for="Email" name="Email" class="k-textbox" required autocomplete="off" style="min-width:100%" maxlength="50" placeholder="e.g.myname@example.net" data-required-msg="Correo es requerido" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="SocialNetworks" class=" control-label" style="min-width:100%"></label>
                                @*<input type="text" asp-for="Descripcion" required data-required-msg="La Descripción es Requerida." data-max-msg="La Descripcion debe ser Menor o Igual a 100." name="Descripcion" class="form-control" autocomplete="off" style="width:100%" />*@
                                <textarea type="text" id="SocialNetworks" class="k-textbox" maxlength="150" required data-required-msg="Redes Sociales es requerido." style="min-width:100%;" rows="4" cols="40" asp-for="SocialNetworks"></textarea>
                                <span asp-validation-for="SocialNetworks" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">


                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="Address" class=" control-label" style="width:100%">Dirección</label>                                
                                <textarea asp-for="Address" class="k-textarea" style="min-width:100%" autocomplete="off" maxlength="360"   required data-required-msg="Dirección es requerido" rows="3"></textarea>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        

                        <div class="col-md-5" hidden>
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4 class="card-title">Imagen de Empresa</h4>
                            <div class="card">
                                <div class="card-body">

                                    @if (Model.image != null)
                                    {
                                        <input type="file" id="files" name="files" class="dropify" data-max-file-size="2M" accept=".jpg,.jpeg,.png,.gif" data-default-file="../CompanyImages/@Model.image" />
                                    }
                                    else
                                    {
                                        <input type="file" id="files" name="files" class="dropify" data-max-file-size="2M" accept=".jpg,.jpeg,.png,.gif" />
                                    }

                                </div>
                            </div>
                        </div>
                        <input type="text" asp-for="imageDir" name="imageDir" hidden />


                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="TipoInstitucion" class=" control-label" style="width:100%">Tipo Institucion(CNBS)</label>
                                <input type="text" asp-for="TipoInstitucion" name="TipoInstitucion" class="k-textbox" autocomplete="off" style="min-width:100%" maxlength="5"   />
                                <span asp-validation-for="TipoInstitucion" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="CodigoInstitucion" class=" control-label" style="width:100%">Codigo Institucion (CNBS)</label>
                                <input type="text" asp-for="CodigoInstitucion" name="CodigoInstitucion" class="k-textbox" required autocomplete="off" style="min-width:100%" maxlength="5" />
                                <span asp-validation-for="CodigoInstitucion" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button id="btnCompanyInfo" class="form-control btn-miboton" type="submit"> Guardar </button>
                </div>
            </div>
        </form>

    </div>
</div>


<script>
    $('#CountryId').on("change", function () { $('#CountryName').val($('#CountryId').data('kendoDropDownList').text()); })
    $('#IdEstado').on("change", function () { $('#Estado').val($('#IdEstado').data('kendoDropDownList').text()); })
    $('#IdPostalCode').on("change", function () { $('#PostalCode').val($('#IdPostalCode').val()); })

    function validar(e) {
        //var cadena = $("#Phone").val();
        console.log(e.value);
        var cadena = e.value;
        if (cadena.indexOf("_") > -1 == true) {
            $("#telefono").show();
            $("#btnCompanyInfo").prop("disabled", true);
        }
        else {
            $("#telefono").hide();
            $("#btnCompanyInfo").prop("disabled", false);
        }
    }

    document.getElementById("btnCompanyInfo").onclick = function () {
        var txtObj = document.getElementById("Company_Name");
        var txtObj2 = document.getElementById("Address");
        var txtObj3 = document.getElementById("Manager");
        var txtObj4 = document.getElementById("WebPage");
        var txtObj5 = document.getElementById("SocialNetworks");

        txtObj.value = txtObj.value.replace(/^\s+/, ""); //Left trim
        txtObj.value = txtObj.value.replace(/\s+$/, ""); //Right trim

        txtObj2.value = txtObj2.value.replace(/^\s+/, ""); //Left trim
        txtObj2.value = txtObj2.value.replace(/\s+$/, ""); //Right trim

        txtObj3.value = txtObj3.value.replace(/^\s+/, ""); //Left trim
        txtObj3.value = txtObj3.value.replace(/\s+$/, ""); //Right trim

        txtObj4.value = txtObj4.value.replace(/^\s+/, ""); //Left trim
        txtObj4.value = txtObj4.value.replace(/\s+$/, ""); //Right trim

        txtObj5.value = txtObj5.value.replace(/^\s+/, ""); //Left trim
        txtObj5.value = txtObj5.value.replace(/\s+$/, ""); //Right trim
    };
</script>

<script>
    function Numeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return (key >= 48 && key <= 57)
    }

    $(document).ready(function () {
        $("#Phone").kendoMaskedTextBox({
            mask: "(999) 0000-0000"
        });
        $("#MobilePhone").kendoMaskedTextBox({
            mask: "(999) 0000-0000"
        });
        $("#Fax").kendoMaskedTextBox({
            mask: "(999) 0000-0000"
        });
        $("#PostalCode").on('paste', function (e) {
            e.preventDefault();
        })
        $("#telefono").hide();
    });
    function SoloNumeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "1234567890.";
        especiales = "8-37-39-46";
        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }
        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }

    $("#Tax_Id").on("change", function () {
        var RTN1 = $("#Tax_Id").val();
        if (RTN1 != "") {
            debugger;
            var dataObjectConfiguration = {
                Tax_Id: RTN1
            };
               $.ajax({
                          url: '@Url.Action("GetCompanyByRTN", "CompanyInfo")',
                          method: 'POST',
                          datatype: "json",
                          contentType: 'application/json',
                          async: false,
                          data: JSON.stringify(dataObjectConfiguration),
                          success: function (result) {
                          if (result.CompanyInfoId != 0) {
                          $("#Tax_Id").val('');
                          $.toast({
                          heading: 'Error',
                          text: '' + ' El RTN ingresado ya existe.',
                          position: 'top-right',
                          showHideTransition: 'fade',
                          loaderBg: '#ff6849',
                          icon: 'error',
                          hideAfter: 30000,
                          stack: 6
                          });
                        }
                      },
                      error: function (XMLHttpRequest, textStatus, errorThrown) {
                      notification.show({
                      title: "Validación",
                      message: textStatus + ": " + XMLHttpRequest.responseText
                     }, "error");
                  }
               });
        }
    });
    

    function SoloNumeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "1234567890-";
        especiales = "8-37-39-46";

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }
        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }

    function RefreshCotizaciones() {
       // $("#myModalGoodsDelivered").modal('hide');
        var grid = $("#gridCompanyInfo").getKendoGrid();
        grid.dataSource.read();
    }


</script>

<script>
    $(document).ready(function () {
        // Basic
        $('.dropify-std').dropify();

        // Translated
        $('.dropify').dropify({
            messages: {
                default: 'Arrastre un archivo de Imagen o click para cagar archivo',
                replace: 'Click para Reemplazar',
                remove: 'Quitar',
                error: 'Error'
            }
        });

        // Used events
        var drEvent = $('#input-file-events').dropify();

        drEvent.on('dropify.beforeClear', function (event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });

        drEvent.on('dropify.afterClear', function (event, element) {
            alert('File deleted');
        });

        drEvent.on('dropify.errors', function (event, element) {
            console.log('Has Errors');
        });

        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function (e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })

        var imagen= '@Model.image';
        if (imagen!='') {
            $('.dropify-preview').css("display", "block");
        }
    });
</script>