@model ERPMVC.DTO.CompanyInfoDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
    {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>
    function customFunction(input) {
        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }
    }
</script>

<div id="ModalCompanyInfo" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Información de la Empresa</h4>
                <button type="button" name="btnprueba" class="close" onclick="Salir()" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmCompanyInfo" kendo-validator="true" kendo-messages="messages"
                                    data-ajax="true"
                                    data-ajax-method="post"
                                    data-ajax-begin="SaveCompanyInfo"
                                    class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Información de la Empresa</h3>
                                        <hr>
                                        @if (Model.CompanyInfoId != 0)
                                        {                                                                             
                                        <div id="divimprimir" style="width:200px;height:200px">
                                            <img src="@Url.Content(Model.image)" width="200" height="200" />
                                        </div>
                                        }
                                        <style>
                                            #divimprimir {
                                                float: right;
                                            }
                                        </style>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CompanyInfoId" class=" control-label" style="width:100%">Id Empresa</label>
                                                    <input type="text" asp-for="CompanyInfoId" name="IdCompanyInfo" class="form-control" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="CompanyInfoId" class="text-danger"></span>
                                                    <input type="text" id="url" value="@Model.image"  hidden/>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Company_Name" class=" control-label" style="width:100%">Nombre de la empresa</label>
                                                    <input type="text" asp-for="Company_Name" name="Company_Name" class="form-control" style="min-width:100%" required maxlength="60" />
                                                    <span asp-validation-for="Company_Name" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Address" class=" control-label" style="width:100%">Dirección</label>
                                                    <input type="text" asp-for="Address" name="Address" class="form-control" autocomplete="off" style="min-width:100%" maxlength="100" />
                                                    <span asp-validation-for="Address" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Phone" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Phone" name="Phone" class="form-control" required autocomplete="off" onchange="validar()" style="min-width:100%" />
                                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                                    <span id="telefono" class="text-danger">Complete el número de teléfono!</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Fax" class=" control-label" style="width:100%">Fax</label>
                                                    <input type="text" asp-for="Fax" name="Fax" class="form-control" autocomplete="off" style="min-width:100%" maxlength="30" />
                                                    <span asp-validation-for="Fax" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Tax_Id" class="control-label">RTN</label>
                                                    <input type="text" asp-for="Tax_Id" name="Tax_Id" class="form-control" autocomplete="off" style="min-width:100%" maxlength="30" />
                                                    <span asp-validation-for="Tax_Id" class="text-danger"></span>
                                                    @*<kendo-dropdownlist name="Tax_Id"
                                    for="@Model.Tax_Id"
                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                    option-label="Seleccionar Impuesto"
                                    datatextfield="Description"
                                    datavaluefield="TaxId"
                                    style="width: 100%;">
                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                        <transport>
                            <read url="@Url.Action("GetTaxes", "Tax")" />
                        </transport>
                    </datasource>
                </kendo-dropdownlist>*@
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CountryId" class="control-label">País</label>
                                                    <kendo-dropdownlist name="CountryId"
                                                                        for="@Model.CountryId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar País"
                                                                        datatextfield="Name"
                                                                        datavaluefield="Id"
                                                                        data-val-required="Valor requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Country")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Manager" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Manager" name="Manager" class="form-control" autocomplete="off" style="min-width:100%" maxlength="30" />
                                                    <span asp-validation-for="Manager" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="PostalCode" class=" control-label" style="width:100%">Código Postal</label>
                                                    <input type="text" asp-for="PostalCode" name="Manager" class="form-control" autocomplete="off" style="min-width:100%" maxlength="30" />
                                                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="PrintHeader" class=" control-label" style="width:100%">Encabezado de impresión</label>
                                                    <input type="text" asp-for="PrintHeader" name="PrintHeader" class="form-control" autocomplete="off" style="min-width:100%" maxlength="30" />
                                                    <span asp-validation-for="PrintHeader" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="RTNMANAGER" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="RTNMANAGER" name="RTNMANAGER" class="form-control" autocomplete="off" style="min-width:100%" maxlength="60" />
                                                    <span asp-validation-for="RTNMANAGER" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="RevOffice" class=" control-label" style="width:100%">Hacienda</label>
                                                    <input type="text" asp-for="RevOffice" name="RevOffice" class="form-control" autocomplete="off" style="min-width:100%" maxlength="50" />
                                                    <span asp-validation-for="RevOffice" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Estado" class="control-label" style="width:100%"></label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        data-val-required="Valor requerido" style="min-width:100%">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Email" class=" control-label" style="width:100%">Correo</label>
                                                    <input type="text" asp-for="Email" name="Email" class="form-control" required autocomplete="off" style="min-width:100%" maxlength="50" placeholder="e.g.myname@example.net" />
                                                    <span asp-validation-for="Email" class="text-danger"></span>
                                                </div>
                                            </div>
                                            @*<div class="col-md-4">
                <div class="demo-section k-content">
                    <input name="image" id="image" type="file" aria-label="files" />
                </div>
            </div>*@
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @if (Model.CompanyInfoId != 0)
                                                    {
                                                        <label class="control-label">Actualizar Imagen</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="control-label">Subir Imagen</label>
                                                    }
                                                    <div class="demo-section k-content">

                                                        <kendo-upload drop-zone="drop-zone1" name="files" on-upload="SaveCompanyImages" multiple="false">
                                                            <localization select="Seleccionar Imagen" cancel="Cancelar" drop-files-here="Soltar Archivo aquí" invalid-file-extension="Extensión de Archivo Invalido" retry="Reintentar" header-status-uploaded="Listo" header-status-uploading="Cargando" />
                                                            <async save-url="@Url.Action("SaveImage","CompanyInfo")" auto-upload="true" />
                                                            <validation allowed-extensions='@new string[] {".jpg",".png",".jpeg" }' max-file-size="10485760" />

                                                            @if (Model.CompanyInfoId != 0)
                                                            {
                                                                if (Model.image != null)
                                                                {
                                                                    <files><file name="@ViewData["Nombreimg"]" extension="@ViewData["Extensionimg"]" size="10" /></files>

                                                                }

                                                            }
                                                        </kendo-upload>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnCompanyInfo" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                 </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function validar() {
        var cadena = $("#Phone").val();
        if (cadena.indexOf("_") > -1 == true) {
            $("#telefono").show();
        }
        else {
            $("#telefono").hide();
        }
    }
</script>

<script>
    $(document).ready(function () {
        $("#Phone").kendoMaskedTextBox({
            mask: "(999) 0000-0000"
        });
        $("#PostalCode").on('paste', function (e) {
            e.preventDefault();
        })
        $("#telefono").hide();



    });
    function SoloNumeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "1234567890.";
        especiales = "8-37-39-46";
        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }
        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }

    $("#Tax_Id").on("change", function () {
        var RTN1 = $("#Tax_Id").val();
        if (RTN1 != "") {
            debugger;
            var dataObjectConfiguration = {
                Tax_Id: RTN1
            };
               $.ajax({
                          url: '@Url.Action("GetCompanyByRTN", "CompanyInfo")',
                          method: 'POST',
                          datatype: "json",
                          contentType: 'application/json',
                          async: false,
                          data: JSON.stringify(dataObjectConfiguration),
                          success: function (result) {
                          if (result.CompanyInfoId != 0) { 
                          $("#Tax_Id").val('');
                          $.toast({
                          heading: 'Error',
                          text: '<br/><br/>' + ' El RTN ingresado ya existe.',
                          position: 'top-right',
                          showHideTransition: 'fade',
                          loaderBg: '#ff6849',
                          icon: 'error',
                          hideAfter: 30000,
                          stack: 6
                          });
                        }
                      },
                      error: function (XMLHttpRequest, textStatus, errorThrown) {
                      notification.show({
                      title: "Validación",
                      message: textStatus + ": " + XMLHttpRequest.responseText
                     }, "error");
                  }
               });
        }      
    });


    $(document).ready(function () {
        if ($("#Company_Name").val() == "") {
            $("#files").data("kendoUpload").disable();
        }
        else {
            $("#files").data("kendoUpload").enable();
        }
        @*debugger
        var id = $('#CompanyInfoId').val();
        if (id != 0) {
            var archivo = $('#url').val();
            if (archivo != ""){
            var res = archivo.split("/");
            console.log(res)
            var image = "/" + res[1] + "/"+res[2];
            var fileName = res[2];
            var fileExtension = fileName.substring(fileName.lastIndexOf('.') + 1);
            var files = [
                { name: fileName, extension: "." + fileExtension },
            ];
            $("#files").kendoUpload({
                async: {
                    saveUrl: "@Url.Action("SaveImage","CompanyInfo")",
                    removeUrl: "@Url.Action("", "")",
                    autoUpload: true,
                },
                upload: SaveCompanyImages,
                multiple: false,
                localization: {
                    select: "Seleccionar Imagen",
                    cancel: "Cancelar",
                    dropFilesHere: "Soltar Archivo aquí",
                    invalidFileExtension: "Extensión de Archivo Invalido",
                    retry: "Reintentar",
                },
                files: files,
            });
             }
        }*@
    });
   
    $("#Company_Name").keyup(function (e) {
        if ($("#Company_Name").val() == "") {
            $("#files").data("kendoUpload").disable();
        }
        else {
            $("#files").data("kendoUpload").enable();
        }
    });


    function Salir() {
        debugger
        if ($("#CompanyInfoId").val() == 0 || $("#CompanyInfoId").val() == "") {
            if ($("#url").val() == 'Imagen') {
                var dataObject = {
                'CompanyInfoId': $("#CompanyInfoId").val() === "" ? "0" : $("#CompanyInfoId").val(),
                'Company_Name': $("#Company_Name").val(),
                'Tax_Id': $("#Tax_Id").val(),
                'Address': $("#Address").val(),
                'Phone': $("#Phone").val(),
                'Email': $("#Email").val(),
                'CountryId': $("#CountryId").val(),
                'CountryName': $("#CountryId").data("kendoDropDownList").text(),
                'Manager': $("#Manager").val(),
                'PostalCode': $("#PostalCode").val(),
                'PrintHeader': $("#PrintHeader").val(),
                'RTNMANAGER': $("#RTNMANAGER").val(),
                'Fax': $("#Fax").val(),
                'IdEstado': $("#IdEstado").val(),
                'Estado': $("#IdEstado").data("kendoDropDownList").text(),
                'image':$("#url").val(),
            };

            $.ajax({
                url: '@Url.Action("DeleteImage", "CompanyInfo")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (result) {
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
            });
            }           
        }
    }

    function SaveCompanyImages(e) {
        var dataObject = {
            'CompanyInfoId': $("#CompanyInfoId").val() === "" ? "0" : $("#CompanyInfoId").val(),
            'Company_Name': $("#Company_Name").val(),
            'Tax_Id': $("#Tax_Id").val(),
            'Address': $("#Address").val(),
            'Phone': $("#Phone").val(),
            'Email': $("#Email").val(),
            'CountryId': $("#CountryId").val(),
            'CountryName': $("#CountryId").data("kendoDropDownList").text(),
            'Manager': $("#Manager").val(),
            'PostalCode': $("#PostalCode").val(),
            'PrintHeader': $("#PrintHeader").val(),
            'RTNMANAGER': $("#RTNMANAGER").val(),
            'Fax': $("#Fax").val(),
            'IdEstado': $("#IdEstado").val(),
            'Estado': $("#IdEstado").data("kendoDropDownList").text(),
            'image': $("#url").val(),
        };
        e.data = dataObject;
        if ($("#url").val() == "" && $("#CompanyInfoId").val() == 0) {
            $("#url").val('Imagen');
        }
    }


    //$(document).ready(function () {
    //    $("#files").closest(".k-upload-button")
    //        .find("span")
    //        .text("Seleccionar imagen");
    //});

    function SoloNumeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "1234567890-";
        especiales = "8-37-39-46";

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }

    function RefreshCotizaciones() {
       // $("#myModalGoodsDelivered").modal('hide');
        var grid = $("#gridCompanyInfo").getKendoGrid();
        grid.dataSource.read();     
    }

        function SaveCompanyInfo(e) {
            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnCompanyInfo").hide();
            $("#btnCompanyInfo").prop("disabled", true);
            var displayedData = $("#gridCompanyInfo").data().kendoGrid.dataSource.view();

            var dataObject = {
                'CompanyInfoId': $("#CompanyInfoId").val() === "" ? "0" : $("#CompanyInfoId").val(),
                'Company_Name': $("#Company_Name").val(),
                'Address': $("#Address").val(),
                'Phone': $("#Phone").val(),
                'Fax': $("#Fax").val(),
                'Email': $("#Email").val(),
                'Tax_Id': $("#Tax_Id").val(),
                //'image': $("#image").val(),
                'CountryId': $("#CountryId").val(),
                'CountryName': $("#CountryId").data("kendoDropDownList").text(),
                'Manager': $("#Manager").val(),
                'PostalCode': $("#PostalCode").val(),
                'PrintHeader': $("#PrintHeader").val(),
                'RTNMANAGER': $("#RTNMANAGER").val(),
                'RevOffice': $("#RevOffice").val(),
                'Estado': $("#IdEstado").data("kendoDropDownList").text(),
                'IdEstado': $("#IdEstado").val(),
                //'image': $("#image").val(),

                  //'FechaCreacion': $("#FechaCreacion").val(),
                  //'FechaModificacion':$("#FechaModificacion").val(),
                  //'UsuarioCreacion':$("#UsuarioCreacion").val(),
                  //'UsuarioModificacion':$("#UsuarioModificacion").val(),
                 // '_CompanyInfo': displayedData
            };

             //console.log(JSON.stringify(dataObject));
             //var form = $("#frmNumeracion");
             //form.validate();
            //console.log(dataObject);
            var validator = $("#frmCompanyInfo").data("kendoValidator");
                 var status = $(".status");
           // console.log(validator)
            //console.log('VERIFICAR',displayedData.length)
           // if (displayedData.length > 0) {
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveCompanyInfo", "CompanyInfo")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            $.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/>Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                            RefreshCotizaciones();

                            $('#ModalCompanyInfo').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log('VERIFICAR')

                            notification.show({
                                title: "Validación",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    notification.show({
                        title: "Validación",
                        message: "Datos inválidos en el formulario"
                    }, "error");
                }
            //}
            //else {
            //    notification.show({
            //        title: "Validacion",
            //        message: "Debe agregar los productos!"
            //    }, "error");
            //   // notification.show("New E-mail","Debe agregar los productos", "info");
            //    //alert('Debe agregar los productos!!');
            //}

            $("#btnCompanyInfo").show();
            $("#btnCompanyInfo").prop("disabled", false);
    }
</script>
