@model ERPMVC.DTO.CreditNoteDTO
@using System.Security.Claims
@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                        {"required","Valor requerido" }
                    };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];
    bool editable = Model.CreditNoteId == 0;

}





<script>



    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        //if (input.attr('name') === "SubProductId" && input.val() === "0") {
        //    return false;
        //}

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }



        return true;
    }
</script>

@await Html.PartialAsync("~/Views/OFAC/Index.cshtml")


<script>
    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return (key >= 48 && key <= 57)
    }

    function onChange(e) {
        
    }

</script>
<div id="myModalSalesOrder" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Notas de Crédito </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <form id="frmSalesOrder" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                          data-ajax="true"
                                          data-ajax-method="post"
                                          method="post" class="validation-wizard wizard-circle">
                                        <div class="row">

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="CreditNoteId" class="control-label">No Ref.</label>
                                                    <input type="text" asp-for="CreditNoteId" class="k-textbox" style="min-width: 100%" readonly />
                                                    <span asp-validation-for="CreditNoteId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                    <div class="form-group">
                                                    <label asp-for="NumeroDEI" class="control-label">Número</label>
                                                    <input type="text" asp-for="NumeroDEI" disabled class="k-textbox" style="min-width: 100%;color:black;font-weight:500" />
                                                    </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="CreditNoteDate" class="control-label" style="width: 100%;">Fecha</label>
                                                    
                                                        <kendo-datetimepicker name="CreditNoteDate"
                                                                              style="min-width: 86%;color:black;font-weight:600" 
                                                                              format="dd/MM/yyyy hh:mm:ss" disabled
                                                                              time-format="hh:mm:ss"
                                                                              data-val-required="La Fecha de pedido es requerida."
                                                                          value="Model.CreditNoteDate"></kendo-datetimepicker>
                                                    
                                                    <span asp-validation-for="CreditNoteDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="BranchId" class="control-label"></label>
                                                    <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Seleccione la sucursal"
                                                                            datatextfield="BranchName"
                                                                            enable="editable"
                                                                            datavaluefield="BranchId"
                                                                            data-val-required="La Sucursal es requerida."
                                                                            style="width: 100%;"
                                                                            auto-bind="true">
                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                                <sorts>
                                                                    <sort field="BranchName" direction="asc" />
                                                                </sorts>
                                                                <transport>
                                                                    <read url="@Url.Action("GetBranchActivos", "Branch")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                          <script>
                                                        function SetCustomerName(e) {
                                                           // console.log(e);
                                                            if ($("#CustomerId").val() > 0) {
                                                                $("#SalesOrderName").prop('disabled', true);
                                                                $("#SalesOrderName").val($("#CustomerId").data("kendoDropDownList").text());
                                                                var dataObject = { CustomerId: $("#CustomerId").val()};
                                                                  $.ajax({
                                                                     url: '@Url.Action("GetCustomerById", "Customer")',
                                                                     method: 'GET',
                                                                     datatype: "json",
                                                                     contentType: 'application/json',
                                                                     async: false,
                                                                     data: dataObject,
                                                                      success: function (result) {
                                                                          //console.log(result);
                                                                          // setearvalor("TaxPercentage", result.TaxPercentage);
                                                                          $("#CreditNoteName").val(result.CustomerName);
                                                                          $("#Direccion").val(result.Address);
                                                                          $("#RTN").val(result.RTN);
                                                                          $("#Correo").val(result.Email);
                                                                          $("#Tefono").val(result.Phone);
                                                                          var maskedtextbox = $("#Tefono").data("kendoMaskedTextBox");
                                                                          maskedtextbox.value($("#Tefono").val());
                                                                          $("#CustomerRefNumber").val(result.CustomerRefNumber);

                                                                     },
                                                                      error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                                          //alert(textStatus + ": " + XMLHttpRequest.responseText);
                                                                           MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 6000);
                                                                       }
                                                                  });
                                                            }
                                                            else {
                                                                $("#SalesOrderName").prop('disabled', false);
                                                            }
                                                        }

                                                        function GetCustomerId(){
                                                            return {
                                                                CustomerId:$("#CustomerId").val(),
                                                            
                                                            }
                                                        
                                                        }
                                                    </script>

                                        <div class="row">

                                                

                                            <div class="col-md-6">
                                                <div class="form-group">                                                  
                                                    <label asp-for="CustomerId" class="control-label">Cliente</label>
                                                        <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Seleccione el cliente"
                                                                            datatextfield="CustomerName"
                                                                            datavaluefield="CustomerId"
                                                                        enable="editable"
                                                                            class="form-control-line"
                                                                            onchange="SetCustomerName();"
                                                                            style="min-width: 100%;" data-val-required="El Cliente es requerido.">
                                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                                <sorts>
                                                                    <sort field="CustomerName" direction="asc" />
                                                                </sorts>
                                                                <transport>
                                                                    <read url="@Url.Action("GetCustomerActivos", "Common")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                                                </div>
                                                
                                            
                                            </div>
                                            <div class="col-md-6" id="FacturaFiscal">
                                                
                                                    <div class="form-group">
                                                        <label asp-for="InvoiceId" class="control-label" style="width:100%"></label>
                                                        @if (Model.CreditNoteId == 0)
                                                        {
                                                        <kendo-dropdownlist name="InvoiceId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            for="InvoiceId"
                                                                            data-val-required="La Factura es requerida"
                                                                            option-label="Sin Factura"
                                                                            datatextfield="NumeroDEI"
                                                                            datavaluefield="InvoiceId"
                                                                            cascade-from="CustomerId"
                                                                            enable="editable"
                                                                            on-change="RefreshInvoiceDetail"
                                                                            style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                                <sorts>
                                                                    <sort field="NumeroDEI" direction="asc" />
                                                                </sorts>
                                                                <transport>
                                                                    <read url="@Url.Action("GetFacturasPendientesVigentesByCustomer", "Invoice")" data="GetCustomerId" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                        }else{
                                                        <input type="text" asp-for="NumeroDEIDocumentoAsociado" disabled class="k-textbox" style="min-width: 100%;color:black;font-weight:500" />
                                                        }
                                                        <span asp-validation-for="InvoiceId" class="text-danger"></span>

                                                    </div>
                                                
                                            </div>
                                            

                                            <div class="col-md-3" hidden >
                                                <script>
                                                    function SubProductPrincipal() {
                                                        $("#SubProductPrincipal").data("kendoDropDownList").dataSource.read();
                                                    };
                                                </script>
                                                <div class="form-group">
                                                    <label asp-for="ProductId" class="control-label" style="width:100%">Servicios</label>                                                   
                                                        <input type="text" asp-for="ProductId" hidden readonly />
                                                    <input type="text" asp-for="ProductName" hidden class="k-textbox"  readonly />
                                                    <span asp-validation-for="ProductId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            

                                            
                                        </div>

                                        <div class="row" hidden >
                                            <div class="col-md-3" >

                                                <div class="form-group">
                                                    <label asp-for="CreditNoteName" class="control-label" style="width:100%"></label>
                                                    <span>
                                                        
                                                            <input asp-for="CreditNoteName" data-val-required="El Nombre Nota de Crédito es requerido." class="form-control form-control-line" style="min-width:100%" maxlength="50" />

                                                        
                                                    </span>
                                                    <span asp-validation-for="CreditNoteName" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-3" >
                                                <div class="form-group">
                                                    <label asp-for="Correo" class="control-label" style="width:100%"></label>
                                                    
                                                        <input type="email" disabled asp-for="Correo" class="form-control" data-email-msg="Formato del Correo no valido." placeholder="nombre@ejemplo.com" style="min-width: 100%;color:black;font-weight:500" maxlength="80" />
                                                    
                                                    <span asp-validation-for="Correo" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-sm-4 col-md-4" >
                                                <div class="form-group">
                                                    <label asp-for="RTN" class="control-label" style="width:100%"></label>
                                                   
                                                        <input type="text" asp-for="RTN" disabled data-val-required="El RTN es requerido." class="form-control required " onKeyPress="return soloNumeros(event)" style="min-width: 100%;color:black;font-weight:500" maxlength="20" />
                                                    
                                                    <span asp-validation-for="RTN" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 col-md-4" >
                                                <div class="form-group">
                                                    <label asp-for="Tefono" class="control-label" style="width:100%"></label>
                                                    
                                                        <input type="text" asp-for="Tefono" class="form-control required " data-val-required="El Teléfono es requerido." style="min-width: 100%" onchange="validarTefono()" />

                                                   
                                                    <span asp-validation-for="Tefono" class="text-danger"></span>
                                                    <span id="TefonoAlert" class="text-danger"><span role="alert" class="k-icon k-i-warning"></span> Complete el número de teléfono.</span>
                                                </div>
                                            </div>


                                            <div class=" col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="Direccion" class="control-label" style="width:100%"></label>
                                                    
                                                        <textarea asp-for="Direccion" data-val-required="La Dirección es requerida." class="form-control required " style="min-width: 100% !important;"></textarea>

                                                    
                                                    <span asp-validation-for="Direccion" class="text-danger"></span>
                                                </div>
                                            </div>


                                        </div>
                                   


                                        <div class="row">
                                            <div class="col-md-12">
                                                                <label asp-for="Remarks" class="control-label"></label>
                                                                        
                                                                            <textarea asp-for="Remarks" class="form-control required " style="min-width: 100%;"></textarea>

                                                                        
                                                                        <span asp-validation-for="Remarks" class="text-danger"></span>
                                                            </div>

                                        </div>






                                    </form>
                                </div>

                                <div class="card">
                                    <div class="card-body">
                                        <div id="salesorderdetail">
                                            @await Html.PartialAsync("pvwCreditNoteDetail", Model, new ViewDataDictionary(ViewData) { { "permisosCreditNote", permisos } })
                                        </div>

                                        


                                        <div class="clearfix">&nbsp;</div>
                                        <div class="clearfix">&nbsp;</div>




                                        @if (Convert.ToBoolean(Model.editar))
                                        {<div class="row">
                                                <button id="btnSaveCreditNote" type="submit" class="form-control btn-miboton " onclick="SaveCotizacion(this);">Guardar</button>
                                            </div>
                                        }


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function validarTefono() {
        var cadena = $("#Tefono").val();
        if (cadena.indexOf("_") > -1 == true) {
            $("#TefonoAlert").show();
        }
        else {
            $("#TefonoAlert").hide();
        }
    }


    $("#RTN").on("change", function () {
        ////debugger;;
        var notification = $("#notification").data("kendoNotification");
        var dataObject = {
            RTN: $("#RTN").val(),
            CreditNoteId: $("#CreditNoteId").val()
        };
        if ($("#RTN").val() != "") {
            $.ajax({
                url: '@Url.Action("ValidacionRTN", "CreditNote")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (data) {
                    ////
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ////debugger;;
                    if (XMLHttpRequest.responseText == 'Ya exíste una Nota de Crédito creada con el mismo RTN') {
                         MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Validación", 6000);
                        //$("#RTN").val(null);
                    }
                    else {
                         MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 6000);
                    }
                }
            });
        }
        else {
            //$("#RTNAlert").prop("hidden", true);
        }
    })

    $("#CreditNoteName").on("change", function () {
        ////debugger;;
        var notification = $("#notification").data("kendoNotification");
        var dataObject = {
            CreditNoteName: $("#CreditNoteName").val(),
            CreditNoteId: $("#CreditNoteId").val()
        };
        if ($("#CreditNoteName").val() != "") {
            $.ajax({
                url: '@Url.Action("ValidacionCreditNoteName", "CreditNote")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (data) {

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ////debugger;;
                    if (XMLHttpRequest.responseText == 'Ya exíste una Nota de Credito creada con el mismo Nombre') {
                         MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Validación", 6000);
                        //$("#RTN").val(null);
                    }
                    else {
                         MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 6000);
                    }
                }
            });
        }
    })
</script>
<script>
    function GetProductIdS() {
        return { 'ProductId': $("#ProductId").val() }
    }


    function RefreshCotizaciones() {
        var grid = $("#gridCreditNotes").getKendoGrid();
        grid.dataSource.read();
    }


   


    function SaveCotizacion(e) {

        try{
            debugger;
             $("#btnSaveCreditNote").prop("disabled", true);    
            var validadetalle = true;
            var displayedData = $("#gridCreditNoteDetail").data().kendoGrid.dataSource.view();
            for (var i = 0; i < displayedData.length; i++) {
                displayedData[i].CreditNoteLineId = 0;
                    if (displayedData[i].CreditValue == 0) {
                     MostrarMensaje( "Debe ingresar Ingresar el valor del credito en el detalle", "Error", "Validación", 6000);
                     return;
                    validadetalle = false;
                }
            
            }



        var validator = $("#frmSalesOrder").data("kendoValidator");
            var validator2 = $("#TotalesDocumento").data("kendoValidator");
            var status = $(".status");
            //debugger;
            if (displayedData.length <= 0) {
                 MostrarMensaje("Debe agregar los productos!","Error", "Validación", 6000);
                 return;

            }


            if (!validator.validate() ) {
                     MostrarMensaje("Datos incorrectos en el formulario!", "Error", "Validación", 6000);
                     return;
                }


          var dataObject = {
                'CreditNoteId': $("#CreditNoteId").val() === "" ? "0" : $("#CreditNoteId").val(),
                'CreditNoteName': $("#CreditNoteName").val(),
                'BranchId': $("#BranchId").val(),
                'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                'CustomerId': $("#CustomerId").val(),
                'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
                'ProductId': $("#ProductId").val() == null ? 0 : $("#ProductId").val(),
                'ProductName': $("#ProductIdName").val(),
                'CreditNoteDate': $("#CreditNoteDate").getKendoDateTimePicker().value().toJSON(),
                'SalesTypeId': $("#SalesTypeId").val(),
                'Remarks': $("#Remarks").val(),
                'NumeroDEI': $("#NumeroDEI").val(),
                'NumeroDEIDocumentoAsociado': $("#InvoiceId").data("kendoDropDownList").text(),
                'InvoiceId': $("#InvoiceId").val(),
                'Correo': $("#Correo").val(),
                'Direccion': $("#Direccion").val(),
                'RTN': $("#RTN").val(),
                'Tefono': $("#Tefono").val(),
                'CreditNoteLine': displayedData,

            };

        $.ajax({
                url: '@Url.Action("SaveCreditNote", "CreditNote")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (data) {

                    MostrarMensaje('Datos guardados correctamente.', "success", "Satisfactorio", 6000);
                    $('#myModalSalesOrder').modal('hide');

                    RefreshCotizaciones();

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 6000);
                    
                }
            });
        
        
        }catch (ex) {
            console.log(ex);
        } finally {
            $("#btnSaveCreditNote").show();
            $("#btnSaveCreditNote").prop("disabled", false);
        }
        
               

    }


</script>

