@model ERPMVC.DTO.CreditNoteDTO
@using System.Security.Claims
@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                        {"required","Valor requerido" }
                    };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];
}





<script>



    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        //if (input.attr('name') === "SubProductId" && input.val() === "0") {
        //    return false;
        //}

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }



        return true;
    }
</script>

@await Html.PartialAsync("~/Views/OFAC/Index.cshtml")


<script>
    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return (key >= 48 && key <= 57)
    }

    function onChange(e) {
        
    }

</script>
<div id="myModalSalesOrder" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Notas de Crédito </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <form id="frmSalesOrder" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                          data-ajax="true"
                                          data-ajax-method="post"
                                          method="post" class="validation-wizard wizard-circle">
                                        <div class="row">

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="CreditNoteId" class="control-label">No Ref.</label>
                                                    <input type="text" asp-for="CreditNoteId" class="k-textbox" style="min-width: 100%" readonly />
                                                    <span asp-validation-for="CreditNoteId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label asp-for="NumeroDEIString" class="control-label">Número</label>
                                                        <input type="text" asp-for="NumeroDEIString" disabled class="k-textbox" style="min-width: 100%;color:black;font-weight:500" />
                                                    </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="CreditNoteDate" class="control-label" style="width: 100%;">Fecha</label>
                                                    
                                                        <kendo-datetimepicker name="CreditNoteDate"
                                                                              style="min-width: 86%;color:black;font-weight:600" 
                                                                              format="dd/MM/yyyy hh:mm:ss" disabled
                                                                              time-format="hh:mm:ss"
                                                                              data-val-required="La Fecha de pedido es requerida."
                                                                          value="Model.CreditNoteDate"></kendo-datetimepicker>
                                                    
                                                    <span asp-validation-for="CreditNoteDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="BranchId" class="control-label"></label>
                                                    <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Seleccione la sucursal"
                                                                            datatextfield="BranchName"
                                                                            datavaluefield="BranchId"
                                                                            data-val-required="La Sucursal es requerida."
                                                                            style="width: 100%;"
                                                                            auto-bind="true">
                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                                <sorts>
                                                                    <sort field="BranchName" direction="asc" />
                                                                </sorts>
                                                                <transport>
                                                                    <read url="@Url.Action("GetBranchActivos", "Branch")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                          <script>
                                                        function SetCustomerName(e) {
                                                           // console.log(e);
                                                            if ($("#CustomerId").val() > 0) {
                                                                $("#SalesOrderName").prop('disabled', true);
                                                                $("#SalesOrderName").val($("#CustomerId").data("kendoDropDownList").text());
                                                                var dataObject = { CustomerId: $("#CustomerId").val()};
                                                                  $.ajax({
                                                                     url: '@Url.Action("GetCustomerById", "Customer")',
                                                                     method: 'GET',
                                                                     datatype: "json",
                                                                     contentType: 'application/json',
                                                                     async: false,
                                                                     data: dataObject,
                                                                      success: function (result) {
                                                                          //console.log(result);
                                                                          // setearvalor("TaxPercentage", result.TaxPercentage);
                                                                          $("#CreditNoteName").val(result.CustomerName);
                                                                          $("#Direccion").val(result.Address);
                                                                          $("#RTN").val(result.RTN);
                                                                          $("#Correo").val(result.Email);
                                                                          $("#Tefono").val(result.Phone);
                                                                          var maskedtextbox = $("#Tefono").data("kendoMaskedTextBox");
                                                                          maskedtextbox.value($("#Tefono").val());
                                                                          $("#CustomerRefNumber").val(result.CustomerRefNumber);

                                                                     },
                                                                      error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                                          //alert(textStatus + ": " + XMLHttpRequest.responseText);
                                                                           MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 6000);
                                                                       }
                                                                  });
                                                            }
                                                            else {
                                                                $("#SalesOrderName").prop('disabled', false);
                                                            }
                                                        }

                                                        function GetCustomerId(){
                                                            return {
                                                                CustomerId:$("#CustomerId").val(),
                                                            
                                                            }
                                                        
                                                        }
                                                    </script>

                                        <div class="row">

                                                

                                            <div class="col-md-3">
                                                <div class="form-group">                                                  
                                                    <label asp-for="CustomerId" class="control-label"></label>
                                                        <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Seleccione el cliente"
                                                                            datatextfield="CustomerName"
                                                                            datavaluefield="CustomerId"
                                                                            class="form-control-line"
                                                                            onchange="SetCustomerName();"
                                                                            style="min-width: 100%;" data-val-required="El Cliente es requerido.">
                                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                                <sorts>
                                                                    <sort field="CustomerName" direction="asc" />
                                                                </sorts>
                                                                <transport>
                                                                    <read url="@Url.Action("GetCustomerActivos", "Common")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                                                </div>
                                                
                                            
                                            </div>
                                            <div class="col-md-3" id="FacturaFiscal">
                                                    <div class="form-group">
                                                        <label asp-for="InvoiceId" class="control-label" style="width:100%"></label>                                                    
                                                        <kendo-dropdownlist name="InvoiceId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            for="InvoiceId"
                                                                            option-label="Seleccione la Factura"
                                                                            datatextfield="NumeroDEI"
                                                                            datavaluefield="InvoiceId"
                                                                            cascade-from="CustomerId"
                                                                            on-change="RefreshInvoiceDetail"
                                                                            data-val-required="La Factura es requerida"
                                                                            style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                                <sorts>
                                                                    <sort field="NumeroDEI" direction="asc" />
                                                                </sorts>
                                                                <transport>
                                                                    <read url="@Url.Action("GetFacturasByCustomer", "Invoice")" data="GetCustomerId" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    
                                                    <span asp-validation-for="InvoiceId" class="text-danger"></span>
                                                        
                                                    </div>
                                                </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="SalesTypeId" class="control-label" style="width:100%"></label>                                                    
                                                        <kendo-dropdownlist name="SalesTypeId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            for="SalesTypeId"
                                                                            option-label="Seleccione el tipo de ventas"
                                                                            datatextfield="SalesTypeName"
                                                                            datavaluefield="SalesTypeId"
                                                                            data-val-required="El Tipo de Venta es requerido."
                                                                            style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                                <sorts>
                                                                    <sort field="SalesTypeName" direction="asc" />
                                                                </sorts>
                                                                <transport>
                                                                    <read url="@Url.Action("Get", "SalesType")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    
                                                    <span asp-validation-for="SalesTypeId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <script>
                                                    function SubProductPrincipal() {
                                                        $("#SubProductPrincipal").data("kendoDropDownList").dataSource.read();
                                                    };
                                                </script>
                                                <div class="form-group">
                                                    <label asp-for="ProductId" class="control-label" style="width:100%">Servicios</label>                                                   
                                                        <kendo-dropdownlist name="ProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            for="ProductId"
                                                                            option-label="Seleccione el Servicio"
                                                                            datatextfield="ProductName"
                                                                            datavaluefield="ProductId"
                                                                            data-val-required="El Servicio es requerido."
                                                                            style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                                <sorts>
                                                                    <sort field="ProductName" direction="asc" />
                                                                </sorts>
                                                                <transport>
                                                                    <read url="@Url.Action("GetProductActivos", "Common")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>                                                    
                                                    <span asp-validation-for="ProductId" class="text-danger"></span>
                                                </div>
                                            </div>



                                            
                                        </div>

                                        <div class="row" hidden >
                                            <div class="col-md-3" >

                                                <div class="form-group">
                                                    <label asp-for="CreditNoteName" class="control-label" style="width:100%"></label>
                                                    <span>
                                                        
                                                            <input asp-for="CreditNoteName" data-val-required="El Nombre Nota de Crédito es requerido." class="form-control form-control-line" style="min-width:100%" maxlength="50" />

                                                        
                                                    </span>
                                                    <span asp-validation-for="CreditNoteName" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-3" >
                                                <div class="form-group">
                                                    <label asp-for="Correo" class="control-label" style="width:100%"></label>
                                                    
                                                        <input type="email" disabled asp-for="Correo" class="form-control" data-email-msg="Formato del Correo no valido." placeholder="nombre@ejemplo.com" style="min-width: 100%;color:black;font-weight:500" maxlength="80" />
                                                    
                                                    <span asp-validation-for="Correo" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-sm-4 col-md-4" >
                                                <div class="form-group">
                                                    <label asp-for="RTN" class="control-label" style="width:100%"></label>
                                                   
                                                        <input type="text" asp-for="RTN" disabled data-val-required="El RTN es requerido." class="form-control required " onKeyPress="return soloNumeros(event)" style="min-width: 100%;color:black;font-weight:500" maxlength="20" />
                                                    
                                                    <span asp-validation-for="RTN" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 col-md-4" >
                                                <div class="form-group">
                                                    <label asp-for="Tefono" class="control-label" style="width:100%"></label>
                                                    
                                                        <input type="text" asp-for="Tefono" class="form-control required " data-val-required="El Teléfono es requerido." style="min-width: 100%" onchange="validarTefono()" />

                                                   
                                                    <span asp-validation-for="Tefono" class="text-danger"></span>
                                                    <span id="TefonoAlert" class="text-danger"><span role="alert" class="k-icon k-i-warning"></span> Complete el número de teléfono.</span>
                                                </div>
                                            </div>


                                            <div class=" col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="Direccion" class="control-label" style="width:100%"></label>
                                                    
                                                        <textarea asp-for="Direccion" data-val-required="La Dirección es requerida." class="form-control required " style="min-width: 100% !important;"></textarea>

                                                    
                                                    <span asp-validation-for="Direccion" class="text-danger"></span>
                                                </div>
                                            </div>


                                        </div>
                                   


                                        <div class="row">
                                            <div class="col-md-12">
                                                                <label asp-for="Remarks" class="control-label"></label>
                                                                        
                                                                            <textarea asp-for="Remarks" class="form-control required " style="min-width: 100%;"></textarea>

                                                                        
                                                                        <span asp-validation-for="Remarks" class="text-danger"></span>
                                                            </div>

                                        </div>






                                    </form>
                                </div>

                                <div class="card">
                                    <div class="card-body">
                                        <div id="salesorderdetail">
                                            @await Html.PartialAsync("pvwCreditNoteDetail", Model, new ViewDataDictionary(ViewData) { { "permisosCreditNote", permisos } })
                                        </div>

                                        


                                        <div class="clearfix">&nbsp;</div>
                                        <div class="clearfix">&nbsp;</div>

                                        <form id="TotalesDocumento" kendo-validator="true" kendo-messages="messages" kendo-rules="rules" hidden>
                                            <div class="box" id="TotalesDocumento">
                                                <div class="box-body">
                                                    <div class="content-container-fluid">
                                                        <div class="row">
                                                            
                                                            <div class="col-md-4">
                                                                <label asp-for="Amount" class="control-label"></label>
                                                                        <kendo-numerictextbox name="Amount"
                                                                                              format="n2"
                                                                                              spinners="false"
                                                                                              style="min-width: 100%;text-align:right;padding-right: 3px;color:black;font-weight:500"
                                                                                              min="0" disabled class="control-label right bold"
                                                                                              max="999999999"
                                                                                              value="Model.Amount"></kendo-numerictextbox>
                                                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label asp-for="Discount" class="control-label"></label>
                                                                        <kendo-numerictextbox name="Discount"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              style="min-width: 100%;text-align:right;padding-right: 3px;color:black;font-weight:500"
                                                                                              max="999999999"
                                                                                              disabled class=" control-label right bold"
                                                                                              value="Model.Discount"></kendo-numerictextbox>
                                                                        <span asp-validation-for="Discount" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label asp-for="SubTotal" class="control-label"></label>
                                                                        <kendo-numerictextbox name="SubTotal"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              required
                                                                                              disabled class="control-label right bold"
                                                                                              style="min-width: 100%;text-align:right;color:black;font-weight:500"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.SubTotal"></kendo-numerictextbox>
                                                                        <span asp-validation-for="SubTotal" class="text-danger"></span>
                                                            </div>
                                                            
                                                            <div class="col-md-4">
                                                                <label asp-for="Tax" class="control-label"></label>
                                                                        <kendo-numerictextbox name="Tax"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled class="control-label right bold"
                                                                                              style="min-width: 100%;text-align:right;padding-right: 3px;color:black;font-weight:500"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.Tax"></kendo-numerictextbox>
                                                                        <span asp-validation-for="Tax" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label asp-for="Tax18" class="control-label"></label>
                                                                        <kendo-numerictextbox name="Tax18"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled
                                                                                              class="control-label right bold"
                                                                                              style="min-width: 100%;text-align:right;padding-right: 3px;color:black;font-weight:500"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.Tax18"></kendo-numerictextbox>
                                                                        <span asp-validation-for="Tax18" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-4">
                                                                 <label asp-for="Freight" class="control-label"></label>
                                                                        
                                                                            <kendo-numerictextbox name="Freight"
                                                                                                  format="n2" spinners="false"
                                                                                                  style="min-width: 100%;text-align:right;padding-right:3px"
                                                                                                  min="0"
                                                                                                  data-val-required="El Flete es requerido." class="control-label right bold"
                                                                                                  onchange="CalcularTotalDocumento();"
                                                                                                  max="999999999"
                                                                                                  step="1"
                                                                                                  value="Model.Freight"></kendo-numerictextbox>
                                                                        
                                                                        <span asp-validation-for="Freight" class="text-danger"></span>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <label asp-for="TotalExento" class="control-label"></label>
                                                                        <kendo-numerictextbox name="TotalExento"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled
                                                                                              required class="control-label right bold"
                                                                                              style="min-width: 100%;text-align:right;padding-right: 3px;color:black;font-weight:500"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.TotalExento"></kendo-numerictextbox>
                                                                        <span asp-validation-for="TotalExento" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label asp-for="TotalExonerado" class="control-label"></label>
                                                                        <kendo-numerictextbox name="TotalExonerado"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled
                                                                                              required class="control-label right bold"
                                                                                              style="min-width: 100%;text-align:right;padding-right: 3px;color:black;font-weight:500"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.TotalExonerado"></kendo-numerictextbox>
                                                                        <span asp-validation-for="TotalExonerado" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label asp-for="TotalGravado" class="control-label"></label>
                                                                        <kendo-numerictextbox name="TotalGravado"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled
                                                                                              required class="control-label right bold"
                                                                                              style="min-width: 100%;text-align:right;padding-right: 3px;color:black;font-weight:500"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.TotalGravado"></kendo-numerictextbox>
                                                                        <span asp-validation-for="TotalGravado" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-4">
                                                                 <label asp-for="TotalGravado18" class="control-label"></label>
                                                                        <kendo-numerictextbox name="TotalGravado18"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled
                                                                                              required class="control-label right bold"
                                                                                              style="min-width: 100%;text-align:right;padding-right: 3px;color:black;font-weight:500"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.TotalGravado18"></kendo-numerictextbox>
                                                                        <span asp-validation-for="TotalGravado18" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-4">
                                                                 <label asp-for="Total" class="control-label"></label>
                                                                        <kendo-numerictextbox name="Total"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled
                                                                                              required class="control-label right bold"
                                                                                              style="min-width: 100%;text-align:right;padding-right: 3px;color:black;font-weight:500"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.Total"></kendo-numerictextbox>
                                                                        <span asp-validation-for="Total" class="text-danger"></span>
                                                            </div>
                                                            
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>


                                        @if (Convert.ToBoolean(Model.editar))
                                        {<div class="row">
                                                <button id="btnSaveCreditNote" type="submit" class="form-control btn-miboton " onclick="SaveCotizacion(this);">Guardar</button>
                                            </div>
                                        }


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function validarTefono() {
        var cadena = $("#Tefono").val();
        if (cadena.indexOf("_") > -1 == true) {
            $("#TefonoAlert").show();
        }
        else {
            $("#TefonoAlert").hide();
        }
    }

    $("#ProductId").on("change", function () {
        llenarsubproductprincipal();
    })

    $("#RTN").on("change", function () {
        ////debugger;;
        var notification = $("#notification").data("kendoNotification");
        var dataObject = {
            RTN: $("#RTN").val(),
            CreditNoteId: $("#CreditNoteId").val()
        };
        if ($("#RTN").val() != "") {
            $.ajax({
                url: '@Url.Action("ValidacionRTN", "CreditNote")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (data) {
                    ////
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ////debugger;;
                    if (XMLHttpRequest.responseText == 'Ya exíste una Nota de Crédito creada con el mismo RTN') {
                         MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Validación", 6000);
                        //$("#RTN").val(null);
                    }
                    else {
                         MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 6000);
                    }
                }
            });
        }
        else {
            //$("#RTNAlert").prop("hidden", true);
        }
    })

    $("#CreditNoteName").on("change", function () {
        ////debugger;;
        var notification = $("#notification").data("kendoNotification");
        var dataObject = {
            CreditNoteName: $("#CreditNoteName").val(),
            CreditNoteId: $("#CreditNoteId").val()
        };
        if ($("#CreditNoteName").val() != "") {
            $.ajax({
                url: '@Url.Action("ValidacionCreditNoteName", "CreditNote")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (data) {

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ////debugger;;
                    if (XMLHttpRequest.responseText == 'Ya exíste una Nota de Credito creada con el mismo Nombre') {
                         MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Validación", 6000);
                        //$("#RTN").val(null);
                    }
                    else {
                         MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 6000);
                    }
                }
            });
        }
    })
</script>
<script>
    $(document).ready(function () {
        llenarsubproductprincipal();
        $("#TefonoAlert").hide();
    });
    function GetProductIdS() {
        return { 'ProductId': $("#ProductId").val() }
    }


    function RefreshCotizaciones() {
        var grid = $("#gridCreditNotes").getKendoGrid();
        grid.dataSource.read();
    }


   


    function SaveCotizacion(e) {

        try{
            debugger;
         $("#btnSaveCreditNote").prop("disabled", true);    
        var validadetalle = true;
        var displayedData = $("#gridCreditNoteDetail").data().kendoGrid.dataSource.view();
        for (var i = 0; i < displayedData.length; i++) {
            displayedData[i].CreditNoteLineId = 0;
            if ( displayedData[i].Total === 0) {
                 MostrarMensaje( "Debe ingresar terminar los campos del detalle", "Error", "Validación", 6000);
                validadetalle = false;
            }
            
        }

        var validator = $("#frmSalesOrder").data("kendoValidator");
            var validator2 = $("#TotalesDocumento").data("kendoValidator");
            var status = $(".status");
            //debugger;
            if (displayedData.length <= 0) {
                 MostrarMensaje("Debe agregar los productos!","Error", "Validación", 6000);
                 return;

            }


            if (!validator.validate() ) {
                     MostrarMensaje("Datos incorrectos en el formulario!", "Error", "Validación", 6000);
                     return;
                }


          var dataObject = {
                'CreditNoteId': $("#CreditNoteId").val() === "" ? "0" : $("#CreditNoteId").val(),
                'CreditNoteName': $("#CreditNoteName").val(),
                'BranchId': $("#BranchId").val(),
                'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                'CustomerId': $("#CustomerId").val(),
                'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
                'ProductId': $("#ProductId").val(),
                'ProductName': $("#ProductId").data("kendoDropDownList").text(),
                //'SubProductId': $("#SubProductPrincipal").val(),
                //'SubProductName': $("#SubProductPrincipal").data("kendoDropDownList").text(),
                'CreditNoteDate': $("#OrderDate").getKendoDateTimePicker().value().toJSON(),
                //'CurrencyId': Number($("#CurrencyId").val()),
                //'CurrencyName': $("#CurrencyId").data("kendoDropDownList").text(),
                'SalesTypeId': $("#SalesTypeId").val(),
                'NoOCExenta': $("#NoOCExenta").val(),
                'NoSAG': $("#NoSAG").val(),
                'NoConstanciadeRegistro': $("#NoConstanciadeRegistro").val(),
                'Remarks': $("#Remarks").val(),
                'NumeroSAR': $("#NumeroSAR").val(),
                'Amount': $("#Amount").val(),
                'SubTotal': $("#SubTotal").val(),
                'Discount': $("#Discount").val(),
                'InvoiceId': $("#IdFactura").val(),
                'Tax': $("#Tax").val(),
                'Tax18': $("#Tax18").val(),
                'Freight': $("#Freight").val(),
                'Total': $("#Total").val(),
                'Correo': $("#Correo").val(),
                'Direccion': $("#Direccion").val(),
                'RTN': $("#RTN").val(),
                'Tefono': $("#Tefono").val(),
                'TotalExento': $("#TotalExento").val(),
                'TotalExonerado': $("#TotalExonerado").val(),
                'TotalGravado': $("#TotalGravado").val(),
                'TotalGravado18': $("#TotalGravado18").val(),
                'CreditNoteLine': displayedData,

            };

        $.ajax({
                url: '@Url.Action("SaveCreditNote", "CreditNote")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (data) {

                    MostrarMensaje('Datos guardados correctamente.', "success", "Satisfactorio", 6000);
                    $('#myModalSalesOrder').modal('hide');

                    RefreshCotizaciones();

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 6000);
                    
                }
            });
        
        
        }catch (ex) {
            console.log(ex);
        } finally {
            $("#btnSaveCreditNote").show();
            $("#btnSaveCreditNote").prop("disabled", false);
        }
        
               

    }


</script>

