@model ERPMVC.Models.CreditNoteLine



<script>
    $(document).ready(function () {
            //$("#SubProductId").data("kendoDropDownList").value(@Model.SubProductId);
    });

    completedorderlinemant = function (xhr) {

        $('#myModalInvoiceLine').find(':input').not('#SalesOrderId :submit').val('0');
        //$('#UnitOfMeasureId').data("kendoDropDownList").value(0);
        $('#SubProductId').data("kendoDropDownList").value(0);
        $('#TaxId').data("kendoDropDownList").value(0);
        $('#TaxAmount').data("kendoNumericTextBox").value(0);
        $('#TotalLine').data("kendoNumericTextBox").value(0);
        $('#Description').val('');
        CalcularTotalDocumento();
        $("#btnActualizarCotizacionLinea").prop("disabled", false);
       closesaleorderline();
    };


    function closesaleorderline() {
        $('#SubProductId').data("kendoDropDownList").value(0);
        $('#AccountId').data("kendoDropDownList").value(0);
        $("#myModalInvoiceLine").modal('hide');

    }


    function CalcularTotalDocumento() {
        var freight = $("#Freight").val() === "" ? 0 : $("#Freight").val();
        debugger;
        var displayedData = $("#gridCreditNoteDetail").data().kendoGrid.dataSource.view();
        var subtotal = 0,total = 0, totaldescuento = 0, totalimpuesto = 0,totalimpuesto18=0, totalmonto = 0;
        var TotalExento = 0, TotalExonerado = 0, TotalGravado = 0,TotalGravado18=0;

        $(displayedData).each(function (index, element) {
            var t = JSON.parse(JSON.stringify(element));

            total = total + t["Total"];
            subtotal = subtotal + t["SubTotal"];
            totaldescuento = totaldescuento  + t["DiscountAmount"];
            totalmonto = totalmonto + t["Amount"];

            if (t["TaxCode"] == "I.S.V" ) {
                TotalGravado = TotalGravado + (t["Total"] - t["TaxAmount"]);
                totalimpuesto = totalimpuesto + t["TaxAmount"];
            }

            if (t["TaxCode"] == "I.S.C") {
                TotalGravado = TotalGravado + (t["Total"] - t["TaxAmount"]);
                totalimpuesto = totalimpuesto + t["TaxAmount"];
            }

            if (t["TaxCode"] == "I.V.A") {
                TotalGravado18 = TotalGravado18 + (t["Total"] - t["TaxAmount"]);
                totalimpuesto18 = totalimpuesto18 + t["TaxAmount"];
            }

            if (t["TaxCode"] == "EXE") {
                 TotalExento = TotalExento + t["Total"];
            }

            if (t["TaxCode"] == "EXO") {
                TotalExonerado = TotalExonerado + t["Total"];
            }

        });

        //console.log(TotalGravado); console.log(TotalGravado18); console.log(TotalExento);
        //console.log(TotalExonerado); console.log(totalimpuesto18); console.log(totalimpuesto); console.log(Number(freight));
        //console.log(total, TotalExento, TotalExonerado, TotalGravado);
        var sumatotal = Number(TotalGravado) + Number(TotalGravado18) + Number(TotalExento) + Number(TotalExonerado) + Number(totalimpuesto18)+  Number(totalimpuesto) + Number(freight);

        setearvalor('Amount', totalmonto);
        setearvalor('TotalExento', TotalExento);
        setearvalor('TotalExonerado', TotalExonerado);
        setearvalor('TotalGravado', TotalGravado);
        setearvalor('TotalGravado18', TotalGravado18);

        setearvalor('Discount', totaldescuento);
        setearvalor('Tax', totalimpuesto);
        setearvalor('Tax18', totalimpuesto18);
        setearvalor('SubTotal', subtotal);
        setearvalor('Total', sumatotal);    

    }

    function AddConceptoCotizacion(e) {
       // e.preventDefault();
        var notification = $("#notification").data("kendoNotification");
        if ($("#SubProductId").val() > 0) {
            try {
                $("#btnActualizarCotizacionLinea").prop("disabled", true);
                $('#myModalInvoiceLine').modal('hide');
                RefreshInvoiceDetail();

            } catch (e) {
                $("#btnActualizarCotizacionLinea").prop("disabled", false);
            }
        }
        else {
            //notification.show({
            //    title: "Validación",
            //    message: "Seleccione el Servicio!"
            //}, "error");
            $.toast({
                heading: 'Validación',
                text: "Seleccione el Servicio!",
                position: 'top-right',
                loaderBg: '#ff6849',
                icon: 'error',
                hideAfter: 30000,
                stack: 6
            });
            return;
        }


    }

    function setearvalor(nombrenumerico,valor) {
        var numeric = $("#" + nombrenumerico).data("kendoNumericTextBox");
        numeric.value(valor);
        numeric.trigger('change');
        numeric = null;
    }



    function GetPercentage()
    {
        if ($("#TaxId").val() != null) {
            var dataObject = { TaxId: $("#TaxId").val() };
            $.ajax({
                url: '@Url.Action("GetTaxById","Tax")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: dataObject,
                success: function (result) {
                    setearvalor("TaxPercentage", result.TaxPercentage);
                    CalcularTotal();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
            });
        }

    }

    function CalcularTotal() {
        //debugger;
        var quantity = $("#Quantity").val();
        var price = $("#Price").val();
        var amount = quantity * price;
        setearvalor("AmountLine", amount);
        var DiscountAmount = amount * ($("#DiscountPercentage").val() / 100);
        setearvalor("DiscountAmount", DiscountAmount);
        var subtotal = amount - DiscountAmount;
        var taxamount = subtotal * ($("#TaxPercentage").val() / 100) ;
        setearvalor("TaxAmount", taxamount);
        setearvalor("SubTotalLine", subtotal);
        var Total = Number(subtotal) + Number(taxamount);
        setearvalor("TotalLine", Total);
    }

    function cargarloader() {
       $("#btnActualizarCotizacionLinea").prop("disabled", true);
    }

    function agregarcondicionpopup() {
        var dataObject = { 'ConditionId': 0 };

           $.ajax({
            url: '@Url.Action("pvwConditions","Conditions")',
            method: 'GET',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: dataObject,
               success: function (result) {
                   //console.log(result);
                   //debugger;
                   $("#ConditionView").html('');
                   $("#ConditionView").html(result);

            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
              }
         });

        $('#myModalConditions').modal('show');

    }

    function AgregarCustomerCondition() {
        var notification = $("#notification").data("kendoNotification");


        if ($("#SalesOrderId").val() > 0) {
            $('#myModalCustomerConditions').modal('show');
        }
        else {
            notification.show({
                title: "Validación",
                message: "Para agregar una condición debe generar el documento!"
            }, "info");
        }
    }

</script>




@*@await Html.PartialAsync("~/Views/CustomerConditions/Index.cshtml")*@

<span id="spinner" style="display:none;"><i class="fas fa-spinner fa-spin"></i></span>
<div id="loading"></div>

<div id="myModalInvoiceLine" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalle de Notas de Crédito</h4>
                <button type="button" class="close" onclick="closesaleorderline();">&times;</button>
                
            </div>
            <div class="modal-body">

                @{
                    var messages1 = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                                                                    {"required","Valor requerido" }
                                                                                 };
                    var rules1 = new Dictionary<string, string>() { { "custom", "customFunction" } };
                }


                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">

                            @*asp-controller="SalesOrderLine"  asp-action="SaveSalesOrderLine"*@
                            <div class="card-body">
                                <form id="frmSalesOrderLine"
                                      kendo-validator="true" kendo-messages="messages1" kendo-rules="rules1"
                                      data-ajax-method="post"
                                      data-ajax-loading="#loading"
                                      data-ajax-complete="completedorderlinemant"
                                      data-ajax-begin="AddConceptoCotizacion"
                                      data-ajax="true"
                                      method="post" class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <hr>
                                        
                                        <div id="InvoiceDetail" style="display:none">
                                            @*@await Html.PartialAsync("pvwInvoiceDetail")*@
                                            <div class="box">
                                                <div class="box-body">
                                                    <h3 class="text-themecolor">Seleccionar ítem de Factura</h3>
                                                    @(Html.Kendo().Grid<ERPMVC.Models.CreditNoteLine>()
                                                                            .Name("gridInvoiceDetail")
                                                                            .Columns(columns =>
                                                                            {
                                                                                columns.Command(command =>
                                                                                {
                                                                                    command.Custom("Seleccionar").Text(" ").IconClass("fal fa-hand-pointer").Click("SeleccionarInvoiceItem");

                                                                                }).Width(150).Title("Acciones");

                                                                                columns.Bound(p => p.CreditNoteLineId).Title("Id Línea").Width(150).Visible(false);
                                                                                columns.Bound(p => p.CreditNoteId).Title("Id Maestro").Width(150).Visible(false);
                                                                                columns.Bound(p => p.AccountId).Title("Id Cuenta").Width(150);
                                                                                columns.Bound(p => p.AccountName).Title("Cuenta").Width(150);
                                                                                columns.Bound(p => p.SubProductId).Title("IdProducto").Width(200).Title("Id Producto");
                                                                                columns.Bound(p => p.SubProductName).Title("Producto").Width(150);
                                                                                columns.Bound(p => p.Description).Title("Descripción").Width(150).Width(200);
                                                                                                                    //columns.Bound(p => p.UnitOfMeasureId).Title("Unidad de medida").Width(150);
                                                                                                                    columns.Bound(p => p.Quantity).Format("{0:n2}").Title("Cantidad").Width(150);
                                                                                columns.Bound(p => p.Price).Format("{0:n2}").Title("Precio").Format("{0:n2}").Width(150);
                                                                                columns.Bound(p => p.Amount).Format("{0:n2}").Title("Monto").Width(150);
                                                                                columns.Bound(p => p.DiscountPercentage).Format("{0:n2}").Title("Porcentaje Descuento").Width(275);
                                                                                columns.Bound(p => p.DiscountAmount).Format("{0:n2}").Title("Descuentos").Width(200);
                                                                                columns.Bound(p => p.SubTotal).Format("{0:n2}").Title("Sub Total").Width(150);
                                                                                columns.Bound(p => p.TaxId).Title("Impuesto").Width(150);
                                                                                columns.Bound(p => p.TaxCode).Title("Tipo Impuesto").Width(200);
                                                                                columns.Bound(p => p.TaxPercentage).Format("{0:n2}").Title("Porcentaje Impuesto").Width(225);
                                                                                columns.Bound(p => p.TaxAmount).Format("{0:n2}").Title("Impuestos").Width(150);

                                                                                columns.Bound(p => p.Total).Format("{0:n2}").Title("Total").Width(150);

                                                                            })
                                                                                .Filterable(f => f.Operators(o => o.ForString(s => s
                                                                        .Clear()
                                                                        .Contains("Contiene")
                                                                        .DoesNotContain("No contiene")
                                                                        .EndsWith("Termina con")
                                                                        .IsEqualTo("Es igual a")
                                                                        .IsNotEqualTo("No es igual a")
                                                                        .IsNull("Es nulo")
                                                                        .StartsWith("Inicia con")


                                                                    )
                                                                    .ForNumber(n => n
                                                                    .Clear()
                                                                    .IsEqualTo("Es igual a")
                                                                    .IsGreaterThan("Es mayor que")
                                                                    .IsLessThan("Es menor que")
                                                                    .IsNull("Es nulo")
                                                                    .IsLessThanOrEqualTo("Es menor o igual que")
                                                                    .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                                                    )
                                                                    .ForDate(d => d
                                                                    .Clear()
                                                                    .IsEqualTo("Es igual que")
                                                                    .IsGreaterThan("Es mayor que")
                                                                    .IsLessThan("Es menor que")
                                                                    .IsLessThanOrEqualTo("Es menor o igual que")
                                                                    .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                                                    .IsNotEqualTo("No es igual que")
                                                                    )
                                                                ))
                                                                            .ToolBar(tools =>
                                                                            {
                                                                                tools.Custom().Text("Seleccionar Todos").IconClass("k-icon k-i-plus")
                                                                                .HtmlAttributes(new { @class = "k-i-plus-sm", onclick = "AddInvoiceDetalle();" });
                                                                            })
                                                                            .Editable(e => e.Mode(GridEditMode.PopUp))
                                                                            .Sortable()
                                                                            .AutoBind(true)
                                                                            .Pageable(s => s
                                                                            .Messages(m => m.Display("Elementos mostrados {0} - {1} de {2}")
                                                                            .Empty(" "))
                                                                            )
                                                                            .Filterable()
                                                                            .Scrollable()
                                                                            // .ClientDetailTemplateId("template")
                                                                            .Pdf(pdf => pdf.FileName("FacturaDetalleReport" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                                                                            + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".pdf")
                                                                            .ProxyURL(Url.Action("Export", "Home")).AllPages())
                                                                                .Excel(excel => excel.FileName("FacturaDetalleReport_" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                                                                            + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".xlsx").Filterable(true)
                                                                            .ProxyURL(Url.Action("Export", "Home")).AllPages(true))
                                                                            //.Events(e=>e.Save("onsave"))
                                                                            .DataSource(dataSource =>

                                                                            dataSource
                                                                            //.Ajax()
                                                                            .WebApi()

                                                                            .ServerOperation(true)
                                                                            .Model(model =>
                                                                            {
                                                                                model.Id(p => p.CreditNoteLineId);
                                                                                model.Field(p => p.CreditNoteLineId).Editable(false);
                                                                                model.Field(p => p.CreditNoteId).Editable(false);

                                                                            })
                                                                            .Events(events =>
                                                                            {
                                                                                events.Error("error_handler");
                                                                                                                    //events.upda("EditHandler");

                                                                                                                })
                                                                        )
                                                    )
                                                    <script>
                                                        function setToolbarTooltip(btn_cl, btn_tooltip) {
                                                            $("#gridInvoiceDetail").kendoTooltip({
                                                                filter: btn_cl,
                                                                content: btn_tooltip
                                                            });
                                                        }

                                                        function setRowButtonTooltip(btn_cl, btn_tooltip) {
                                                            $("#gridInvoiceDetail").kendoTooltip({
                                                                filter: btn_cl,
                                                                content: btn_tooltip
                                                            });
                                                        }

                                                        setToolbarTooltip(".k-grid-SeleccionarTodos", "Seleccionar todos los registros");
                                                        
                                                        setRowButtonTooltip(".k-grid-Seleccionar", "Seleccionar registro");
                                                    </script>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CreditNoteLineId" class="control-label" style="width:100%"></label>
                                                    <input type="number" asp-for="CreditNoteLineId" class="form-control" style="min-width:100%" disabled readonly />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CreditNoteId" class="control-label" style="min-width:100%"></label>
                                                    <input type="number" asp-for="CreditNoteId" style="min-width:100%" class="form-control" readonly disabled />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="AccountId" class="control-label" style="width:100%"></label>
                                                    @if (Model.CreditNoteId > 0)
                                                    {
                                                        <kendo-dropdownlist name="AccountId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            for="AccountId"
                                                                            option-label="Seleccione la Cuenta"
                                                                            datatextfield="AccountName"
                                                                            datavaluefield="AccountId" enable="false"
                                                                            style="width: 100%;color:black;font-weight:600" data-val-required="La Cuenta es requerida.">

                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                                <transport>
                                                                    <read url="@Url.Action("GetAccountingDiary", "Accounting")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    }
                                                    else
                                                    {
                                                        <kendo-dropdownlist name="AccountId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            for="AccountId"
                                                                            option-label="Seleccione la Cuenta"
                                                                            datatextfield="AccountName"
                                                                            datavaluefield="AccountId"
                                                                            style="width: 100%;" data-val-required="La Cuenta es requerida.">

                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                                <sorts>
                                                                    <sort field="AccountName" direction="asc" />
                                                                </sorts>
                                                                <transport>
                                                                    <read url="@Url.Action("GetAccountingDiary", "Accounting")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    }
                                                    <span asp-validation-for="AccountId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">

                                                <div class="form-group">
                                                    <script>
                                                        function setsubproductname(e) {
                                                            // console.log(e);
                                                            var dataItem = e.dataItem;
                                                            if (dataItem != null)
                                                                $("#subproductname").val(dataItem.ProductName);
                                                        }

                                                        //  var hcustom = 0;
                                                        //function GetProductTypeIdS() {
                                                        //    //debugger;
                                                        //    // console.log($("#hcustomerid").val());
                                                        //    hcustom = $("#CustomerId").val();
                                                        //    return {
                                                        //        'CustomerId': hcustom
                                                        //        // 'CustomerId': $("#CustomerId").val(),
                                                        //        // 'ProductTypeId': 2

                                                        //    }
                                                        //}
                                                    </script>
                                                    <input type="hidden" id="subproductname" />
                                                    <script>
                                                        function ProductoId() {
                                                            return {
                                                                'ProductId': $("#ProductId").data("kendoDropDownList").value()
                                                            }
                                                        }
                                                    </script>
                                                    <div id="productrelacion">
                                                        <label asp-for="SubProductId" class="control-label" style="width:100%"></label>
                                                        @if (Model.CreditNoteId > 0)
                                                        {
                                                            <kendo-dropdownlist name="SubProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                                option-label="Seleccione el subproducto"
                                                                                for="SubProductId"
                                                                                datatextfield="ProductName"
                                                                                datavaluefield="SubproductId"
                                                                                on-select="setsubproductname" enable="false"
                                                                                data-val-required="El Sub Producto es requerido."
                                                                                style="width: 100%;color:black;font-weight:600">
                                                                <datasource type="DataSourceTagHelperType.WebApi">
                                                                    <transport>
                                                                        <read url="@Url.Action("GetSubProductByProductId", "ProductRelation")" data="ProductoId" />
                                                                    </transport>
                                                                </datasource>

                                                            </kendo-dropdownlist>
                                                        }
                                                        else
                                                        {
                                                            <kendo-dropdownlist name="SubProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                                option-label="Seleccione el subproducto"
                                                                                for="SubProductId"
                                                                                datatextfield="ProductName"
                                                                                datavaluefield="SubproductId"
                                                                                on-select="setsubproductname"
                                                                                data-val-required="El Sub Producto es requerido."
                                                                                style="width: 100%;">
                                                                <datasource type="DataSourceTagHelperType.WebApi">
                                                                    <sorts>
                                                                        @*<sort field="ProductName" direction="asc" />*@
                                                                    </sorts>
                                                                    <transport>
                                                                        <read url="@Url.Action("GetSubProductByProductId", "ProductRelation")" data="ProductoId" />
                                                                    </transport>
                                                                </datasource>

                                                            </kendo-dropdownlist>
                                                        }
                                                    </div>


                                                    <span asp-validation-for="SubProductId" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Description" class="control-label" style="width:100%"></label>
                                                    @if (Model.CreditNoteId > 0)
                                                    {
                                                        <input type="text"disabled id="DescriptionDetail" asp-for="Description" class="form-control" style="min-width:100%;color:black;font-weight:500" />
                                                    }
                                                    else
                                                    {
                                                        <input type="text" id="DescriptionDetail" asp-for="Description" class="form-control" style="min-width:100%" />

                                                    }

                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            @*<div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="UnitOfMeasureId" class="control-label" style="width:100%"></label>
                                                    <kendo-dropdownlist name="UnitOfMeasureId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione la unidad de medida"
                                                                        for="UnitOfMeasureId"
                                                                        dzzAatatextfield="UnitOfMeasureName"
                                                                        datavaluefield="UnitOfMeasureId"
                                                                        auto-bind="true"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetUnitOfMeasure", "UnitOfMeasure")" />
                                                            </transport>
                                                        </datasource>

                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="UnitOfMeasureId" class="text-danger"></span>
                                                </div>
                                            </div>*@
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Quantity" class="control-label" style="width:100%"></label>
                                                    @if (Model.CreditNoteId > 0)
                                                    {
                                                        <kendo-numerictextbox name="Quantity"
                                                                              format="n2"
                                                                              min="0"
                                                                              step="1"
                                                                              data-val-required="La Cantidad es requerida." disabled
                                                                              onchange="CalcularTotal();"
                                                                              style="min-width: 93%;color:black;font-weight:500" class="form-control"
                                                                              value="Model.Quantity"></kendo-numerictextbox>
                                                    }
                                                    else
                                                    {
                                                        <kendo-numerictextbox name="Quantity"
                                                                              format="n2"
                                                                              min="0"
                                                                              step="1" 
                                                                              data-val-required="La Cantidad es requerida."
                                                                              onchange="CalcularTotal();"
                                                                              style="min-width:93%" class="form-control"
                                                                              value="Model.Quantity"></kendo-numerictextbox>
                                                    }
                                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Price" class="control-label" style="width:100%"></label>
                                                    @if (Model.CreditNoteId > 0)
                                                    {
                                                    <kendo-numerictextbox name="Price"
                                                                          format="n2"
                                                                          min="0"
                                                                          step="1"
                                                                          data-val-required="El Precio es requerido."
                                                                          onchange="CalcularTotal();" disabled
                                                                          style="min-width:93%;color:black;font-weight:500" class="form-control"
                                                                          value="Model.Price"></kendo-numerictextbox>
                                                    }
                                                    else
                                                    {
                                                    <kendo-numerictextbox name="Price"
                                                                          format="n2"
                                                                          min="0"
                                                                          step="1"
                                                                          data-val-required="El Precio es requerido."
                                                                          onchange="CalcularTotal();"
                                                                          style="min-width:93%" class="form-control"
                                                                          value="Model.Price"></kendo-numerictextbox>
                                                    }
                                                    <span asp-validation-for="Price" class="text-danger"></span>
                                                </div>
                                            </div>



                                        </div>


                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Amount" class="control-label" style="width:100%"></label>
                                                    @*<input type="number" asp-for="Amount" readonly value="@Model.Amount" class="form-control" />*@
                                                    <kendo-numerictextbox name="Amount"
                                                                          format="n2"
                                                                          id="AmountLine"
                                                                          spinners="false"
                                                                          min="0"
                                                                          data-val-required="El Monto es requerido."
                                                                          disabled
                                                                          step="1"
                                                                          style="width:100%;color:black;font-weight:500"
                                                                          value="Model.Amount"></kendo-numerictextbox>

                                                    <span asp-validation-for="Amount" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DiscountPercentage" class="control-label" style="width:100%"></label>
                                                    @if (Model.CreditNoteId > 0)
                                                    {
                                                        <kendo-numerictextbox name="DiscountPercentage"
                                                                              format="#.## '%'"
                                                                              min="0"
                                                                              decimals="2"
                                                                              max="100"
                                                                              maxlength="3" data-val-required="El Porcentaje Descuento es requerido."
                                                                              onchange="CalcularTotal();" disabled
                                                                              style="min-width:93%;color:black;font-weight:500" class="form-control"
                                                                              value="Model.DiscountPercentage"></kendo-numerictextbox>
                                                    }
                                                    else
                                                    {
                                                        <kendo-numerictextbox name="DiscountPercentage"
                                                                              format="#.## '%'"
                                                                              min="0"
                                                                              decimals="2"
                                                                              max="100"
                                                                              maxlength="3" data-val-required="El Porcentaje Descuento es requerido."
                                                                              onchange="CalcularTotal();"
                                                                              style="min-width:93%" class="form-control"
                                                                              value="Model.DiscountPercentage"></kendo-numerictextbox>
                                                    }
                                                    <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DiscountAmount" class="control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="DiscountAmount"
                                                                          format="n2"
                                                                          spinners="false"
                                                                          min="0"
                                                                          max="999999999"
                                                                          step="1"
                                                                          readonly data-val-required="El Monto Descuento es requerido."
                                                                          disabled
                                                                          style="width:100%;color:black;font-weight:500"
                                                                          value="Model.DiscountAmount"></kendo-numerictextbox>
                                                    <span asp-validation-for="DiscountAmount" class="text-danger"></span>
                                                </div>
                                            </div>



                                        </div>


                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="SubTotal" class="control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="SubTotal"
                                                                          id="SubTotalLine"
                                                                          format="n2"
                                                                          spinners="false"
                                                                          step="1"
                                                                          data-val-required="El Sub Total es requerido."
                                                                          disabled
                                                                          style="min-width:100%;color:black;font-weight:500"
                                                                          value="Model.SubTotal"></kendo-numerictextbox>
                                                    <span asp-validation-for="SubTotal" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="TaxId" class="control-label" style="width:100%"></label>
                                                    @if (Model.CreditNoteId > 0)
                                                    {
                                                        <kendo-dropdownlist name="TaxId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            for="TaxId"
                                                                            option-label="Seleccione el Impuestos"
                                                                            datatextfield="TaxCode"
                                                                            datavaluefield="TaxId" enable="false"
                                                                            onchange="GetPercentage();" data-val-required="El Impuesto es requerido."
                                                                            style="width: 100%;color:black;font-weight:600">
                                                            <datasource type="DataSourceTagHelperType.WebApi">
                                                                <transport>
                                                                    <read url="@Url.Action("GetTaxes", "Tax")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    }
                                                    else
                                                    {
                                                        <kendo-dropdownlist name="TaxId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            for="TaxId"
                                                                            option-label="Seleccione el Impuestos"
                                                                            datatextfield="TaxCode"
                                                                            datavaluefield="TaxId"
                                                                            onchange="GetPercentage();" data-val-required="El Impuesto es requerido."
                                                                            style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi">
                                                                <sorts>
                                                                    <sort field="TaxCode" direction="asc" />
                                                                </sorts>
                                                                <transport>
                                                                    <read url="@Url.Action("GetTaxes", "Tax")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    }
                                                    <span asp-validation-for="TaxId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="TaxPercentage" class="control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="TaxPercentage"
                                                                          format="#.## '%'"
                                                                          min="0"
                                                                          spinners="false"
                                                                          decimals="2"
                                                                          data-val-required="El Porcentaje Impuesto es requerido."
                                                                          disabled
                                                                          max="100"
                                                                          maxlength="3"
                                                                          step="0.01"
                                                                          onchange="CalcularTotal();"
                                                                          style="width:100%;color:black;font-weight:500"
                                                                          value="Model.TaxPercentage"></kendo-numerictextbox>
                                                    <span asp-validation-for="TaxPercentage" class="text-danger"></span>
                                                </div>
                                            </div>






                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="TaxAmount" class="control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="TaxAmount"
                                                                          format="n2"
                                                                          min="0"
                                                                          step="1"
                                                                          spinners="false"
                                                                          disabled data-val-required="El Monto Impuesto es requerido."
                                                                          style="width:100%;color:black;font-weight:500"
                                                                          value="Model.TaxAmount"></kendo-numerictextbox>
                                                    <span asp-validation-for="TaxAmount" class="text-danger" style="width:100%"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Total" class="control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="Total"
                                                                          format="n2"
                                                                          spinners="false"
                                                                          min="0"
                                                                          disabled
                                                                          data-val-required="El Total es requerido."
                                                                          id="TotalLine"
                                                                          step="1"
                                                                          style="width:100%;color:black;font-weight:500"
                                                                          value="Model.Total"></kendo-numerictextbox>
                                                    <span asp-validation-for="Total" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    @if (Model.CreditNoteId == 0)
                                    {
                                    <div class="row">
                                        <button id="btnActualizarCotizacionLinea" type="submit" class="form-control btn-miboton ">Guardar</button>
                                    </div>
                                     }
                                        
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<script>

    function AddInvoiceDetalle() {
        debugger
        var displayedData = $("#gridInvoiceDetail").data().kendoGrid.dataSource.view();
        var grid = $("#gridCreditNoteDetail").data("kendoGrid");
        var datasource = grid.dataSource;
        //var raw = datasource._data;
        //for (i = datasource._data.length - 1; i >= 0; i--) {
        //    item = raw[i];
        //    datasource.remove(item);
        //}

        for (i = 0; i < displayedData.length; i++) {
        //for (i = displayedData.length; i > 0 ; i--) {
            var displayedData1 = $("#gridCreditNoteDetail").data().kendoGrid.dataSource.view();
            var midataObject = {
                CreditNoteLineId: displayedData1.length+1, CreditNoteId: displayedData[i].CreditNoteId
                , AccountId: displayedData[i].AccountId, AccountName: displayedData[i].AccountName
                , SubProductId: displayedData[i].SubProductId, SubProductName: displayedData[i].SubProductName
                , Description: displayedData[i].Description
                , Quantity: displayedData[i].Quantity, Price: displayedData[i].Price
                , Amount: displayedData[i].Amount, DiscountPercentage: displayedData[i].DiscountPercentage
                , DiscountAmount: displayedData[i].DiscountAmount, SubTotal: displayedData[i].SubTotal
                , TaxId: displayedData[i].TaxId, TaxCode: displayedData[i].TaxCode
                , TaxPercentage: displayedData[i].TaxPercentage
                , TaxAmount: displayedData[i].TaxAmount, Total: displayedData[i].Total
            };
            $.ajax({
            url: '@Url.Action("SetLinesInSession", "CreditNoteLine")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(midataObject),
            success: function (result) {
                // console.log(data);
                // data = result;

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus + ": " + XMLHttpRequest.responseText);
            }
        });
            datasource.insert(midataObject);
            //$("#gridCreditNoteDetail").data("kendoGrid").dataSource.sync();
        };
        ////CalcularTotal()
        //var grid1 = $("#gridCreditNoteDetail").data("kendoGrid");
        //grid1.dataSource.refresh();


        CalcularTotalDocumento();
        document.getElementById('InvoiceDetail').style.display = 'none';
        $('#myModalInvoiceLine').modal('hide');


    }

    $("#SubProductId").change(function () {
        var subproduct = $("#SubProductId").data("kendoDropDownList").text();
        var displayedData = $("#gridCreditNoteDetail").data().kendoGrid.dataSource.view();

        for (i = 0; i < displayedData.length; i++) {
            if (displayedData[i].SubProductName == subproduct) {
                alert("Este item ya fue agregado a la nota de crédito");
                $("#SubProductId").data("kendoDropDownList").value('');
                return;
            }

        };
    });
    function SeleccionarInvoiceItem(e) {
        var notification = $("#notification").data("kendoNotification");
        e.preventDefault();
        debugger
        var notification = $("#notification").data("kendoNotification");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var displayedData = $("#gridCreditNoteDetail").data().kendoGrid.dataSource.view();

        for (i = 0; i < displayedData.length; i++) {
            if (displayedData[i].Description == dataItem.Description) {
                alert("Este item ya fue agregado a la nota de crédito");
                return;
            }
            
        };
        //$("#SubProductId").data("kendoDropDownList").dataSource.read();
        $("#SubProductId").data("kendoDropDownList").value(dataItem.SubProductId);
        $("#AccountId").data("kendoDropDownList").value(dataItem.AccountId);
        $("#DescriptionDetail").val(dataItem.Description);
        //$("#UnitOfMeasureId").data("kendoDropDownList").value(dataItem.UnitOfMeasureId);
        $("#Quantity").data("kendoNumericTextBox").value(dataItem.Quantity);
        $("#Price").data("kendoNumericTextBox").value(dataItem.Price);
        $("#AmountLine").data("kendoNumericTextBox").value(dataItem.Amount);
        $("#DiscountPercentage").data("kendoNumericTextBox").value(dataItem.DiscountPercentage);
        $("#DiscountAmount").data("kendoNumericTextBox").value(dataItem.DiscountAmount);
        $("#SubTotalLine").data("kendoNumericTextBox").value(dataItem.SubTotal);
        $("#TaxId").data("kendoDropDownList").value(dataItem.TaxId);
        $("#TaxPercentage").data("kendoNumericTextBox").value(dataItem.TaxPercentage);
        $("#TaxAmount").data("kendoNumericTextBox").value(dataItem.TaxAmount);
        $("#TotalLine").data("kendoNumericTextBox").value(dataItem.Total);

    }


</script>