@using Microsoft.AspNetCore.Http
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ERPMVC</title>

    <link href="~/css/kendo/2019.1.220/kendo.common-material.min.css" rel="stylesheet" />
    <link href="~/css/kendo/2019.1.220/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/css/kendo/2019.1.220/kendo.material.min.css" rel="stylesheet" />
    <link href="~/css/kendo/2019.1.220/kendo.rtl.min.css" rel="stylesheet" />

    <link href="~/css/ej.web.all.min.css" rel="stylesheet" />
    <link href="~/css/ej.widgets.core.office-365.min.css" rel="stylesheet" />
    <link href="~/css/material.css" rel="stylesheet" />

    <link rel="icon" type="image/png" sizes="16x16" href="~/admp/assets/images/favicon.png">

    <!-- Bootstrap Core CSS -->
    <link href="~/admp/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admp/assets/plugins/wizard/steps.css" rel="stylesheet">
    @*<link href="~/admp/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">*@
    <!-- chartist CSS -->
    <link href="~/admp/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="~/admp/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="~/admp/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="~/admp/assets/plugins/morrisjs/morris.css" rel="stylesheet">
    <!-- Vector CSS -->
    <!--  <link href="~/admp/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" /> -->
    <link href="~/admp/assets/plugins/vectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/admp/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="~/admp/css/colors/blue.css" id="theme" rel="stylesheet">


    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/admp/assets/plugins/toast-master/css/jquery.toast.css" rel="stylesheet">

    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/GrapeCity.ActiveReports.Viewer.Html.css" rel="stylesheet" />
    <link href="~/css/fontawesome/css/all.css" rel="stylesheet" />


    <link href="~/css/style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Medula+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>

    <script src="~/js/jquery.js"></script>
    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
    @*<script src="~/js/kendo/2019.1.220/jquery.min.js"></script>*@

    @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
    <script src="~/js/adminlte.js"></script>
    <script src="~/js/knockout-2.3.0.js"></script>
    <script src="~/js/GrapeCity.ActiveReports.Viewer.Html.js"></script>
    <script src="~/scripts/jquery.easing.1.3.min.js"></script>
    <script src="~/scripts/jsrender.min.js"></script>
    <script src="~/scripts/ej.web.all.min.js"></script>


    <script src="~/css/fontawesome/js/all.js"></script>


    <!--  JavaScript -->
    <script src="~/admp/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/admp/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/admp/js/jquery.slimscroll.js"></script>
    <script src="~/admp/assets/plugins/blockUI/jquery.blockUI.js"></script>
    <!--Wave Effects -->
    <script src="~/admp/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/admp/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/admp/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/admp/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--stickey kit -->
    <script src="~/admp/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/admp/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/admp/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart -->
    <script src="~/admp/assets/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="~/admp/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!--morris JavaScript -->
    <script src="~/admp/assets/plugins/raphael/raphael-min.js"></script>
    <script src="~/admp/assets/plugins/morrisjs/morris.min.js"></script>
    <!-- Vector map JavaScript -->
    @*<script src="~/admp/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>*@
    <script src="~/admp/assets/plugins/vectormap/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="~/admp/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>

    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="~/admp/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.js"></script>


    <script src="~/js/kendo/2019.1.220/jszip.min.js"></script>
    <script src="~/js/kendo/2019.1.220/kendo.all.min.js"></script>
    <script src="~/js/kendo/2019.1.220/kendo.aspnetmvc.min.js"></script>
    <script src="~/js/kendo.culture.es-HN.min.js"></script>


    <script src="~/admp/assets/plugins/moment/min/moment.min.js"></script>
    <script src="~/admp/assets/plugins/wizard/jquery.steps.min.js"></script>
    <script src="~/admp/assets/plugins/wizard/jquery.validate.min.js"></script>
    <script src="~/admp/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <script src="~/admp/assets/plugins/toast-master/js/jquery.toast.js"></script>

    <script src="~/admp/js/typeahead.js"></script>
    <script src="~/js/FileSaver.min.js"></script>



    @*<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>*@

    @*<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@

    <script>
        function error_handler(e) {
            var notification = $("#notification").data("kendoNotification");
            //  console.log(e);
            if (e.status == "customerror") {
                //alert(e.errors);
                notification.show({
                    title: "Validacion",
                    message: e.errors
                }, "error");
            }
            else {
                notification.show({
                    title: "Validacion",
                    message: "Generic server error."
                }, "error");
                //  alert("Generic server error.");
            }

            //var errors = $.parseJSON(e.xhr.responseText);
            //console.log(errors);
            //if (errors) {
            //    alert("Errors:\n" + errors.join("\n"));
            //}
        }



        kendo.culture("es-HN");

    </script>





    @*<environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        </environment>*@


</head>


<body class="fix-header fix-sidebar card-no-border" >

    <kendo-notification name="notification"
                        stacking="NotificationStackingSettings.Down"
                        auto-hide-after="10000" width="360" height="180">

        <position pinned="true" top="30" right="30" />

        <templates>
            <notification-template type="info" template-id="emailTemplate" />
            <notification-template type="error" template-id="errorTemplate" />
            <notification-template type="upload-success" template-id="successTemplate" />
        </templates>

        <popup-animation>
            <open duration="500" />
            <close duration="0" />
        </popup-animation>
    </kendo-notification>

    <script id="emailTemplate" type="text/x-kendo-template">
        <div class="new-mail">
            <img src="@Url.Content("~/images/envelope.png")" />
            <h3>#= title #</h3>
            <p>#= message #</p>
        </div>
    </script>

    <script id="errorTemplate" type="text/x-kendo-template">
        <div class="wrong-pass">
            <img src="@Url.Content("~/images/error-icon.png")" />
            <h3>#= title #</h3>
            <p>#= message #</p>
        </div>
    </script>

    <script id="successTemplate" type="text/x-kendo-template">
        <div class="upload-success">
            <img src="@Url.Content("~/images/success-icon.png")" />
            <h3>#= message #</h3>
        </div>
    </script>

    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
        </svg>
    </div>
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="~/admp/assets/images/logo-icon.jpg" alt="homepage" class="dark-logo" />
                            @*<img src="~/admp/assets/images/logo-icon1.png" alt="homepage" class="dark-logo" />*@
                            <!-- Light Logo icon -->
                            <img src="~/admp/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                            <!-- dark Logo text -->
                            <img src="~/admp/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo text -->
                            <img src="~/admp/assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                        </span>
                    </a>
                </div>


                <div class="navbar-collapse">

                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                        @*<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-message"></i>
                                    <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                                </a>
                                <div class="dropdown-menu mailbox animated slideInUp">
                                    <ul>
                                        <li>
                                            <div class="drop-title">Notifications</div>
                                        </li>
                                        <li>
                                            <div class="message-center">
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                                                    <div class="mail-contnet">
                                                        <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                                    </div>
                                                </a>
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                                                    <div class="mail-contnet">
                                                        <h5>Event today</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span>
                                                    </div>
                                                </a>
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                                                    <div class="mail-contnet">
                                                        <h5>Settings</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span>
                                                    </div>
                                                </a>
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                                                    <div class="mail-contnet">
                                                        <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>*@
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        @*<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-email"></i>
                                    <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                                </a>
                                <div class="dropdown-menu mailbox animated slideInUp" aria-labelledby="2">
                                    <ul>
                                        <li>
                                            <div class="drop-title">You have 4 new messages</div>
                                        </li>
                                        <li>
                                            <div class="message-center">
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="user-img"> <img src="~/admp/assets/images/users/1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                                    <div class="mail-contnet">
                                                        <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span>
                                                    </div>
                                                </a>
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="user-img"> <img src="~/admp/assets/images/users/2.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                                    <div class="mail-contnet">
                                                        <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span>
                                                    </div>
                                                </a>
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="user-img"> <img src="~/admp/assets/images/users/3.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                                                    <div class="mail-contnet">
                                                        <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span>
                                                    </div>
                                                </a>
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="user-img"> <img src="~/admp/assets/images/users/4.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                                    <div class="mail-contnet">
                                                        <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>*@


                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        @*<li class="nav-item dropdown mega-dropdown">
                                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-view-grid"></i></a>
                                <div class="dropdown-menu animated slideInUp">
                                    <ul class="mega-dropdown-menu row">
                                        <li class="col-lg-3 col-xlg-2 m-b-30">
                                            <h4 class="m-b-20">CAROUSEL</h4>
                                            <!-- CAROUSEL -->
                                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                                <div class="carousel-inner" role="listbox">
                                                    <div class="carousel-item active">
                                                        <div class="container"> <img class="d-block img-fluid" src="~/admp/assets/images/big/img1.jpg" alt="First slide"></div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="container"><img class="d-block img-fluid" src="~/admp/assets/images/big/img2.jpg" alt="Second slide"></div>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <div class="container"><img class="d-block img-fluid" src="~/admp/assets/images/big/img3.jpg" alt="Third slide"></div>
                                                    </div>
                                                </div>
                                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
                                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                                            </div>
                                            <!-- End CAROUSEL -->
                                        </li>
                                        <li class="col-lg-3 m-b-30">
                                            <h4 class="m-b-20">ACCORDION</h4>
                                            <!-- Accordian -->
                                            <div id="accordion" class="nav-accordion" role="tablist" aria-multiselectable="true">
                                                <div class="card">
                                                    <div class="card-header" role="tab" id="headingOne">
                                                        <h5 class="mb-0">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                Collapsible Group Item #1
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high. </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" role="tab" id="headingTwo">
                                                        <h5 class="mb-0">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                Collapsible Group Item #2
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" role="tab" id="headingThree">
                                                        <h5 class="mb-0">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                Collapsible Group Item #3
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                        <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-lg-3  m-b-30">
                                            <h4 class="m-b-20">CONTACT US</h4>
                                            <!-- Contact -->
                                            <form>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="exampleInputname1" placeholder="Enter Name">
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" class="form-control" placeholder="Enter email">
                                                </div>
                                                <div class="form-group">
                                                    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Message"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-info">Submit</button>
                                            </form>
                                        </li>
                                        <li class="col-lg-3 col-xlg-4 m-b-30">
                                            <h4 class="m-b-20">List style</h4>
                                            <!-- List style -->
                                            <ul class="list-style-none">
                                                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> You can give link</a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Give link</a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Another Give link</a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Forth link</a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Another fifth link</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>*@
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                    </ul>
                    <!-- ============================================================== -->


                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item hidden-sm-down search-box">
                            <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                        <!-- ============================================================== -->
                        <!-- Language -->
                        <!-- ============================================================== -->
                        @*<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="flag-icon flag-icon-us"></i></a>
                                <div class="dropdown-menu dropdown-menu-right scale-up"> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-in"></i> India</a> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-fr"></i> French</a> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-cn"></i> China</a> <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-de"></i> Dutch</a> </div>
                            </li>*@
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/admp/assets/images/users/1.jpg" alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right scale-up">
                                <ul class="dropdown-user">
                                    <li>
                                        <script>
                                            $(document).ready(function () {
                                                $.ajax({
                                                    url: '@Url.Action("GetUserByEmail", "Common")',
                                                    method: 'GET',
                                                    datatype: "json",
                                                    contentType: 'application/json',
                                                    async: false,
                                                    // data: dataObject,
                                                    success: function (result) {
                                                       // console.log(result);
                                                        $("#miemail").text(result.Email);
                                                        $("#miNombre").text(result.UserName);


                                                    },
                                                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                        alert(textStatus + ": " + XMLHttpRequest.responseText);
                                                    }
                                                });
                                            })
                                        </script>
                                        <div class="dw-user-box">
                                            <div class="u-img"><img src="~/admp/assets/images/users/1.jpg" alt="user"></div>
                                            <div class="u-text">
                                                <h4 id="miNombre"> </h4>
                                                <p class="text-muted" id="miemail"> </p> @*<a href="pages-profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a>*@
                                            </div>
                                        </div>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                               @*<li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                                              <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                                              <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                                              <li role="separator" class="divider"></li>
                                              <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                                              <li role="separator" class="divider"></li>*@
                                    <li><a href="@Url.Action("ChangePassword","Account")"><i class="fa fa-repeat-alt "></i> Cambiar Contraseña</a></li>
                                    <li><a href="@Url.Action("Logout","Account")"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        @await Html.PartialAsync("_Sidebar")

        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">ALMACAFE</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
                @*<div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                    </div>*@
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <script>
                function MiZoom() {
                    var scale = 'scale(1)';
                    document.body.style.webkitTransform =  // Chrome, Opera, Safari
                    document.body.style.msTransform =      // IE 9
                        document.body.style.transform = scale;
                   // alert('hace el zoom');
                }
            </script>

            <div class="container-fluid" >
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->

                @RenderBody()


            </div>

            <footer class="footer">
                ©@DateTime.Now.Year BI-DSS
            </footer>

        </div>

    </div>



    @*<div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.Description</small>
                </h1>
            </section>

            <section class="content">
                @RenderBody()
            </section>


        </div>*@

    @*@await Html.PartialAsync("_ControlSidebar")*@





    @RenderSection("scripts", required: false)
    <ejs-scripts></ejs-scripts>
    <script>

        //$(function () {
        //    $('a').each(function () {
        //        $(this).attr('href', 'javascript:void(0)');
        //    });
        //});

       
        $(document).ready(function () {
            //$("#responsive-panel").kendoResponsivePanel({
            //    breakpoint: 768,
            //    autoClose: false,
            //    orientation: "top"
            //});

            //jQuery(window).bind('resize load', function () {
            //    contentWidth = 2000;
            //    jQuery('body').css('zoom', jQuery(window).width() / contentWidth);
            //});

            

            //SOLUCION PROVISIONAL PARA ELIMINAR EL # DE LA URL
            $('.k-button').attr('href', 'javascript:void(0)');

           // $('.k-button').attr('href', '');
            //$("a").attr("href", $("a").attr("href").replace(/#/, "")); 
           // $(".k-button").attr("href", $("a").attr("href").replace(/#/, "")); 

            //$(":button").click(function (e) {
            //    /* some statements */
            //    e.preventDefault();
            //    document.location.href = String(document.location.href).replace(/#/, "");
            //    console.log('press button');
            //});

            $(".k-button").click(function (e) {
                /* some statements */
                e.preventDefault();
               // document.location.href = String(document.location.href).replace(/#/, "");
                //console.log('press a');
            });



        });

        //function onclick(e) {
        //    $("#responsive-panel").getKendoResponsivePanel().toggle();
        //}
    </script>
</body>
</html>