<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ERPMVC</title>
    @*<link href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.common-material.min.css" rel="stylesheet" type="text/css" />*@
    @*<link href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />*@
    @*<link href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.material.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/css/kendo/2019.1.220/kendo.common-material.min.css" rel="stylesheet" />
    <link href="~/css/kendo/2019.1.220/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/css/kendo/2019.1.220/kendo.material.min.css" rel="stylesheet" />
    <link href="~/css/kendo/2019.1.220/kendo.rtl.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/css/skins/skin-blue.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/GrapeCity.ActiveReports.Viewer.Html.css" rel="stylesheet" />


    <script src="~/lib/jquery/dist/jquery.js"></script>
    @*<script src="~/js/kendo/2019.1.220/jquery.min.js"></script>*@
    <script src="~/js/kendo/2019.1.220/jszip.min.js"></script>
    <script src="~/js/kendo/2019.1.220/kendo.all.min.js"></script>
    <script src="~/js/kendo/2019.1.220/kendo.aspnetmvc.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/adminlte.js"></script>

   
    <script src="~/js/knockout-2.3.0.js"></script>
    <script src="~/js/GrapeCity.ActiveReports.Viewer.Html.js"></script>



    <script src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    @*<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@

    <script>
        function error_handler(e) {
            var errors = $.parseJSON(e.xhr.responseText);

            if (errors) {
                alert("Errors:\n" + errors.join("\n"));
            }
        }



    </script>



    @*<script src="https://kendo.cdn.telerik.com/2019.1.220/js/jquery.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2019.1.220/js/jszip.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2019.1.220/js/kendo.all.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2019.1.220/js/kendo.aspnetmvc.min.js"></script>*@

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>


</head>
<body class="hold-transition skin-blue  sidebar-mini">
    @*<div class="k-header">
            <div class="container">
                <div class="row">

                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        <img alt="image" class="img-fluid" src="@Url.Content("~/images/bi.jpg")" height="50">
                        @*<h4 class="heading container-fluid">Sistema SEBE</h4>
                        <h1><a asp-controller="Home" asp-action="Index">ERP - BI</a></h1>
                    </a>

                </div>
            </div>
        </div>*@

    <kendo-notification name="notification"
                        stacking="NotificationStackingSettings.Down"
                        auto-hide-after="0">

        <position pinned="true" top="30" right="30" />

        <templates>
            <notification-template type="info" template-id="emailTemplate" />
            <notification-template type="error" template-id="errorTemplate" />
            <notification-template type="upload-success" template-id="successTemplate" />
        </templates>

        <popup-animation>
            <open duration="500" />
            <close duration="0" />
        </popup-animation>
    </kendo-notification>

    <script id="emailTemplate" type="text/x-kendo-template">
        <div class="new-mail">
            <img src="@Url.Content("~/images/envelope.png")" />
            <h3>#= title #</h3>
            <p>#= message #</p>
        </div>
    </script>

    <script id="errorTemplate" type="text/x-kendo-template">
        <div class="wrong-pass">
            <img src="@Url.Content("~/images/error-icon.png")" />
            <h3>#= title #</h3>
            <p>#= message #</p>
        </div>
    </script>

    <script id="successTemplate" type="text/x-kendo-template">
        <div class="upload-success">
            <img src="@Url.Content("~/images/success-icon.png")" />
            <h3>#= message #</h3>
        </div>
    </script>

    <div class="wrapper">
        @await Html.PartialAsync("_Header")
        @await Html.PartialAsync("_Sidebar")


        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.Description</small>
                </h1>
            </section>

            <section class="content">
                @RenderBody()
            </section>


        </div>

        @await Html.PartialAsync("_ControlSidebar")

        @*<div class="container menu-content">
                <div id="responsive-panel">
                    @(Html.Kendo().Menu()
                         .Direction(MenuDirection.Left)
                         .Orientation(MenuOrientation.Horizontal)
                        .Name("Menu")
                        .Items(items =>
                        {
                            items.Add()
                                .Text("Home")
                                .Action("Index", "Home");
                            items.Add()
                                .Text("About")
                                .Action("About", "Home");
                            items.Add()
                                .Text("Contact")
                                .Action("Contact", "Home");
                        })
                    )

                </div>
                <button id="configure" class="k-rpanel-toggle k-button k-primary btn-toggle"><span class="k-icon k-i-hbars"></span></button>
            </div>*@

        @*<div class="container body-content">
                @RenderBody()
                <footer class="footer">
                    <span class="text-muted">Copyright © @DateTime.Now.Year BI Technology.</span>
                    <span class="text-muted">All rights reserved.</span>
                </footer>
            </div>*@
    </div>


    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            //$("#responsive-panel").kendoResponsivePanel({
            //    breakpoint: 768,
            //    autoClose: false,
            //    orientation: "top"
            //});
        });
        function onclick(e) {
            $("#responsive-panel").getKendoResponsivePanel().toggle();
        }
    </script>
</body>
</html>