
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Home</span></a>
            </li>
            <li class="treeview" policy="Admin">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Administración</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a asp-action="Usuarios" asp-controller="Usuario" policy="Admin">Usuarios</a></li>               
                    <li><a asp-action="Roles" asp-controller="Roles" policy="Admin">Roles</a></li>                      
                    <li><a asp-action="UserRol" asp-controller="UserRol" policy="Admin">Roles por usuario</a></li>
                    <li><a asp-action="Policies" asp-controller="Policies" policy="Admin">Politicas</a></li>
                    <li><a asp-action="UserClaims" asp-controller="Policies" policy="Admin">User Claims</a></li>
                    <li><a asp-action="Estados" asp-controller="Estados" policy="EscrituraAdmon">Estados</a></li>


                     @*<li deshabilitar="Admin" >  @Html.ActionLink("Usuarios", "Usuarios", "Usuario")</li>*@
                     @*<li><a href="#">Roles</a></li>*@
                     @*<li>@Html.ActionLink("Roles", "Roles", "Roles")</li>*@
                     @*<li><a href="#">Roles por Usuario</a></li>*@
                     @*<li>@Html.ActionLink("Roles por usuario", "UserRol", "UserRol")</li>*@
                     @*<li><a href="#">Roles por Pantalla</a></li>*@                   

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Configuración Sistema</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Configuraciones Generales</a></li>
                    <li><a href="#">Parámetros</a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Contabilidad</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>@Html.ActionLink("Cuentas Contables", "Index", "Cuentas")</li>
                    <li>@Html.ActionLink("Partidas Contables", "Index", "Partidasencabezado")</li>
                    <li>@Html.ActionLink("Login", "login", "Cuenta")</li>
                    <li><a href="#">Balance de Saldos</a></li>
                    <li><a href="#">Balance General</a></li>
                    <li><a href="#">Estado de Resultados</a></li>
                    <li><a href="#">Libro Mayor Auxiliar</a></li>
                    <li><a href="#">Cierre Contable</a></li>
                    <li>@Html.ActionLink("Catálogos", "Index", "CataCuentas")</li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Bancos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>@Html.ActionLink("Cheques", "Index", "Cheques")</li>
                    <li><a href="#">Depósitos</a></li>
                    <li><a href="#">Notas de Débito</a></li>
                    <li><a href="#">Notas de Crédito</a></li>
                    <li><a href="#">Listado de Cheques</a></li>
                    <li><a href="#">Cambiar No. de Cheque</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Clientes</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>@Html.ActionLink("Datos de Clientes", "Index", "Customer")</li>
                    
                    <li><a href="#">Punto de Venta</a></li>
                    <li><a href="#">Otras Facturas</a></li>
                    <li><a href="#">Notas de Crédito</a></li>
                    <li><a href="#">Notas de Débito</a></li>
                    <li><a href="#">Pagos y Recibos</a></li>
                    <li><a href="#">Estado de Cuenta</a></li>
                    <li><a href="#">Saldo Cuentas por Cobrar</a></li>
                    <li><a href="#">Saldo de Antigüedad</a></li>
                    <li>@Html.ActionLink("Catálogos", "Index", "CataClientes")</li>
                    <li>@Html.ActionLink("Reportes", "Index", "ReportesClientes")</li>
                </ul>

            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Proveedores</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>@Html.ActionLink("Datos de Proveedores", "Index", "Proveedores")</li>
                    <li><a href="#">Compras</a></li>
                    <li><a href="#">Otras Facturas</a></li>
                    <li><a href="#">Notas de Crédito</a></li>
                    <li><a href="#">Notas de Débito</a></li>
                    <li><a href="#">Pagos y Recibos</a></li>
                    <li><a href="#">Estado de Cuenta</a></li>
                    <li><a href="#">Saldo Cuentas por Pagas</a></li>
                    <li><a href="#">Saldo de Antigüedad</a></li>
                    <li>@Html.ActionLink("Catálogos", "Index", "CataProve")</li>
                    <li>@Html.ActionLink("Reportes", "Index", "ReportesProveedores")</li>
                </ul>

            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Ventas - Inventarios</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>@Html.ActionLink("Datos de Productos", "Index", "Productos")</li>
                    <li>@Html.ActionLink("Ventas-Facturación", "Index", "FACTURAENCABEZADO")</li>
                    <li>@Html.ActionLink("Compra de Productos", "Index", "COMPRAENCABEZADO")</li>
                    <li><a href="#">Otras E/S de Productos</a></li>
                    <li><a href="#">Traslados enttre Bodegas</a></li>
                    <li><a href="#">Cotizaciones</a></li>
                    <li><a href="#">Orden de Compra</a></li>
                    <li><a href="#">Backorder</a></li>
                    <li><a href="#">Kardex</a></li>
                    <li><a href="#">Proveedores</a></li>
                    <li><a href="#">Clientes</a></li>
                    <li>@Html.ActionLink("Catálogos", "Index", "CataInventa")</li>
                    <li>@Html.ActionLink("Reportes", "Index", "ReportesInventa")</li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Presupuesto</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Asignación Presupuestaria</a></li>
                    <li><a href="#">Reservaciones Presupuestarias</a></li>
                    <li><a href="#">Transferencias Presupuestarias</a></li>
                    <li><a href="#">Ejecución Presupuestaria</a></li>
                    <li><a href="#">Consulta al Presupuesto</a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Recursos Humanos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>@Html.ActionLink("Datos de Empleados", "Index", "Empleados")</li>
                    <li><a href="#">Planilla de Sueldos</a></li>
                    <li><a href="#">Deducciones</a></li>
                    <li><a href="#">Deptos. de Empleados</a></li>
                    <li><a href="#">Libros Sueldos y Salarios</a></li>
                    <li><a href="#">Boleta de Pagos</a></li>
                    <li><a href="#">Imprimir Planilla</a></li>
                    <li>@Html.ActionLink("Catálogos", "Index", "CataPersonal")</li>
                    <li><a href="#">Reportes</a></li>

                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Activos Fijos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Datos de Activos</a></li>
                    <li><a href="#">Depreciasiones</a></li>
                    <li><a href="#">Departamentos</a></li>
                    <li><a href="#">Sucursales</a></li>


                </ul>
            </li>

        </ul>
        @* END Menu *@
    </section>
</aside>