@model ERPMVC.DTO.GoodsReceivedDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                                {"required","Valor requerido" }
                                            };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}



<script>


    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "WeightBallot" && input.val() == 0) {
            return false;
        }

        



        return true;
    }

   
    function closesGoodsReceived() {
        $("#myModalGoodsReceived").modal('hide');
        var grid = $("#gridGoodsReceived").getKendoGrid();
        grid.dataSource.read();
    }


</script>

<div id="myModalGoodsReceived" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closesGoodsReceived();">&times;</button>
                <h4 class="modal-title">Información Recibo de mercadería</h4>
            </div>
            <div class="modal-body">


                @*@if (!Convert.ToBoolean(Model.editar))
                {
                    <div class="box demo-description wide">
                        <div class="row">
                            <h4>Enviar a:</h4>
                            <kendo-combobox name="IdEstado" for="@Model.IdEstado" filter="Kendo.Mvc.UI.FilterType.Contains"
                                            placeholder="Select Estado"
                                            datatextfield="NombreEstado"
                                            datavaluefield="IdEstado"
                                            required
                                            style="width: 100%;">
                                <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                    <transport>
                                        <read url="@Url.Action("GetEnviosCotizacion", "Estados")" />
                                    </transport>
                                </datasource>
                            </kendo-combobox>
                        </div>
                        <div class="row">
                            <button id="btnEnviarA" type="submit" class="form-control btn-miboton" onclick="EnviarCotizacionA(this);">Enviar</button>
                        </div>
                        <br />
                    </div>
                }*@


                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">


                            <div class="card-body">
                                <form id="frmGoodsReceived" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                      method="post" class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <input type="hidden" id="hcustomerid" value="0" asp-for="CustomerId" />
                                        <hr>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @*<label for="cbxBuscar" class="control-label" style="width:100%">Asociar control de estiba</label>*@
                                                    <label for="cbxBuscar" class="control-label" style="width:100%">Asociar control de ingresos</label>
                                                    <script>
                                                        function valueMapper(options) {
                                                            $.ajax({
                                                                url: "@Url.Action("Orders_ValueMapper", "ControlPallets")",
                                                                data: convertValues(options.value),
                                                                success: function (data) {
                                                                    options.success(data);
                                                                }
                                                            });
                                                        }

                                                        function convertValues(value) {
                                                            var data = {};
                                                            value = $.isArray(value) ? value : [value];

                                                            for (var idx = 0; idx < value.length; idx++) {
                                                                data["values[" + idx + "]"] = value[idx];
                                                            }

                                                            return data;
                                                        }
                                                        function changesetearvalues() {
                                                            var dataObject = { 'Id': $("#cbxBuscar").val() };

                                                               $.ajax({
                                                                     url: '@Url.Action("GetControlPalletsById", "ControlPallets")',
                                                                     method: 'GET',
                                                                     datatype: "json",
                                                                     contentType: 'application/json',
                                                                     async: false,
                                                                     data: dataObject,
                                                                     success: function (data) {
                                                                    //   console.log(data);

                                                                         $("#CustomerId").data("kendoDropDownList").value(data.CustomerId);
                                                                         $("#CustomerId").data("kendoDropDownList").select(data.CustomerId);
                                                                         $("#CustomerId").data("kendoDropDownList").trigger('change');
                                                                         $("#BranchId").data("kendoDropDownList").value(data.BranchId);                                                                     
                                                                         $("#ProductId").data("kendoDropDownList").value(data.ProductId);
                                                                         hcustom = data.CustomerId;
                                                                         GetProductTypeIdS();
                                                                         $("#SubProductId").data("kendoDropDownList").dataSource.read();
                                                                         $("#SubProductId").data("kendoDropDownList").value(data.SubProductId);
                                                                         $("#Name").val(data.Motorista);
                                                                         $("#Placa").val(data.Placa);
                                                                         $("#Marca").val(data.Marca);
                                                                         // $("#BranchId").data("kendoDropDownList").trigger('change');
                                                                        // $("#WarehouseId").data("kendoDropDownList").value(data.WarehouseId);
                                                                        // $("#WarehouseId").data("kendoDropDownList").value(data.WarehouseId);
                                                                        //  $("#WarehouseId").data("kendoDropDownList").trigger('change');

                                                                         $("#WeightBallot").data("kendoNumericTextBox").value(data.WeightBallot);

                                                                         var grid = $("#gridGoodsReceivedDetail").data("kendoGrid");
                                                                         var datasource = grid.dataSource;                                                                        
                                                                         var raw = datasource._data;                                                                      
                                                                         for (i = datasource._data.length - 1; i >= 0; i--) {                                                                           
                                                                             item = raw[i];                                                                           
                                                                             datasource.remove(item);                                                                          
                                                                         }

                                                              
                                                                         datasource.insert({
                                                                             GoodsReceiveLinedId: 0, GoodsReceivedId: 0
                                                                             , UnitOfMeasureName: '', UnitOfMeasureId: 1
                                                                             , SubProductId: data.SubProductId, SubProductName: data.SubProductName
                                                                             , Quantity : data.QQPesoNeto
                                                                             , QuantitySacos: data.TotalSacos, WareHouseId: data.WarehouseId
                                                                             , ControlPalletsId: $("#cbxBuscar").val()
                                                                         });

                                                                          //$("#singuardar").val(1);
                                                                         //var numeric = $("#ValueDecimal").data("kendoNumericTextBox");
                                                                        //numeric.value(data.ValueDecimal);
                                                                        //numeric.trigger('change');

                                                                     },
                                                                     error: function (XMLHttpRequest, textStatus, errorThrown) {

                                                                       //  $("#btngenerarfactura").show();
                                                                         notification.show({
                                                                             title: "Validacion",
                                                                             message: textStatus + ": " + XMLHttpRequest.responseText
                                                                         }, "error");

                                                                     }
                                                                 });
                                                        }

                                                        function applyFilterCustomer(e) {
                                                            e.preventDefault();
                                                            $("#cbxBuscar").data("kendoDropDownList").dataSource.read();
                                                            var newFilter = {
                                                                logic: "or",
                                                                filters: [
                                                                    { field: "ControlPalletsId", operator: "contains", value: $("#cbxBuscar").data("kendoDropDownList").filterInput[0].value },
                                                                    { field: "CustomerName", operator: "contains", value: $("#cbxBuscar").data("kendoDropDownList").filterInput[0].value }
                                                                  //  { field: "Motorista", operator: "contains", value: $("#cbxBuscar").data("kendoDropDownList").filterInput[0].value }
                                                                ]
                                                            };
                                                            $("#cbxBuscar").data("kendoDropDownList").dataSource.filter(newFilter);

                                                            //});
                                                        }

                                                    </script>
                                                    <input type="hidden" id="singuardar" value="0" />
                                                    @(Html.Kendo().DropDownList()
                                                                       .Name("cbxBuscar")
                                                                       .Filter(Kendo.Mvc.UI.FilterType.Contains)
                                                                       .OptionLabel("Buscar")
                                                                       .DataTextField("CustomerName")
                                                                       .DataValueField("ControlPalletsId")
                                                                       .HtmlAttributes(new { style = "width:100%" })
                                                                      // .Template("#: data.CustomerName # || Estiba No.: <b>#: data.ControlPalletsId #</b>")
                                                                       // .Template("#= data.ControlPalletsId   # | Cliente: #= CustomerName # | #= DescriptionProduct # | #=Motorista#")
                                                                     //  .ValueTemplate("<span>#:data.CustomerName#</span>")
                                                                       .Height(290)
                                                                       .Events(e =>
                                                                       {
                                                                           e.Change("changesetearvalues");
                                                                                                               // e.Filtering("applyFilterCustomer");
                                                                                                           })
                                                                       .AutoBind(true)
                                                                       .DataSource(source =>
                                                                       {
                                                                           source.Ajax()
                                                                           .PageSize(80)

                                                                           .Read("Virtualization_Read", "ControlPallets");
                                                                       })
                                                                       .Virtual(v => v.ItemHeight(26).ValueMapper("valueMapper"))
                                                    )


                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="GoodsReceivedId" class="control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="SalesOrderId"
                                                                          format="n"
                                                                          min="0"
                                                                          disabled
                                                                          max="99999999"
                                                                          step="1"
                                                                          style="width: 100%;"
                                                                          value="Model.GoodsReceivedId"></kendo-numerictextbox>
                                                    <span asp-validation-for="GoodsReceivedId" class="text-danger"></span>
                                                </div>

                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <script>
                                                       
                                                        function GetSubProduct(e) {
                                                            var dataItem = e.dataItem;
                                                            $("#hcustomerid").val(dataItem.CustomerId);
                                                            hcustom = dataItem.CustomerId;
                                                           $("#SubProductId").data("kendoDropDownList").dataSource.read();

                                                        }
                                                     
                                                    </script>


                                                    <label asp-for="CustomerId" class="control-label"></label>
                                                    @*onchange="SetCustomerName();"
                                                              on-select="GetSubProduct"
                                                    *@
                                                    <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Select CustomerId"
                                                                        required
                                                                        datatextfield="CustomerName"
                                                                        datavaluefield="CustomerId"
                                                                on-select="GetSubProduct"                                      
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetCustomer", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    @*<span asp-validation-for="CustomerId" class="text-danger"></span>*@
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <script>

                                                        function FillWareHouse(e) {
                                                            //var WarehouseId = $("#WarehouseId").getkendoDropDownList();
                                                            //WarehouseId.dataSource.read();
                                                            var dataItem = e.dataItem;
                                                            $("#warehousesetid").val(dataItem.BranchId);
                                                            $("#WarehouseId").data("kendoDropDownList").dataSource.read();
                                                            //$("#SubProductId").data("kendoDropDownList").dataSource.read();
                                                        }


                                                    </script>
                                                    @*on-select="FillWareHouse"*@
                                                    <input type="hidden" id="warehousesetid" />
                                                    <label asp-for="BranchId" class="control-label"></label>
                                                    <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Sucursal"
                                                                        datatextfield="BranchName"
                                                                        datavaluefield="BranchId"
                                                                        required
                                                                        auto-bind="true"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" >
                                                            <transport>
                                                                <read url="@Url.Action("GetBranch", "Branch")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                    <div class="row">
                                       

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="CurrencyId" class="control-label"></label>
                                                <kendo-dropdownlist name="CurrencyId" for="CurrencyId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione la moneda"
                                                                        required
                                                                    datatextfield="CurrencyName"
                                                                    datavaluefield="CurrencyId"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi">
                                                        <transport>
                                                            <read url="@Url.Action("GetCurrency", "Currency")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="CurrencyId" class="text-danger"></span>
                                            </div>
                                        </div>



                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <script>

                                                </script>
                                                <label asp-for="ProductId" class="control-label" style="width:100%"></label>

                                                <kendo-dropdownlist name="ProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    for="ProductId"
                                                                    option-label="Seleccione el Producto"
                                                                    datatextfield="ProductName"
                                                                    datavaluefield="ProductId"
                                                                    required
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi">
                                                        <transport>
                                                            <read url="@Url.Action("GetProduct", "Common")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="ProductId" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <label asp-for="SubProductId" class="control-label" style="width:100%"></label>
                                                <script>
                                                    function setsubproductname(e) {
                                                        // console.log(e);
                                                        var dataItem = e.dataItem;
                                                        if (dataItem != null)
                                                            $("#subproductname").val(dataItem.ProductName);
                                                    }

                                                    var hcustom = 0;
                                                    function GetProductTypeIdS() {
                                                        debugger;
                                                        // console.log($("#hcustomerid").val());
                                                        return {
                                                            'CustomerId': hcustom,
                                                            // 'CustomerId': $("#CustomerId").val(),
                                                            // 'ProductTypeId': 2

                                                        }
                                                    }

                                                </script>

                                                <input type="hidden" id="subproductname" />
                                                <kendo-dropdownlist name="SubProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Select SubProductId"
                                                                    for="SubProductId"
                                                                    datatextfield="ProductName"
                                                                    datavaluefield="SubproductId"
                                                                    auto-bind="false"
                                                                    required
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi">
                                                        <transport>
                                                            <read url="@Url.Action("GetSubProductoByTipoByCustomer", "SubProduct")" data="GetProductTypeIdS" />
                                                        </transport>
                                                    </datasource>

                                                </kendo-dropdownlist>
                                                <span asp-validation-for="SubProductId" class="text-danger"></span>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="DocumentDate" class=" control-label" style="width: 100%;"></label>
                                                <kendo-datetimepicker name="DocumentDate"
                                                                      style="width: 100%;"
                                                                      format="dd/MM/yyyy hh:mm:ss"
                                                                      time-format="hh:mm:ss"
                                                                      data-val-required="La fecha es requerida"
                                                                      value="Model.DocumentDate"></kendo-datetimepicker>
                                                <span asp-validation-for="DocumentDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="ExpirationDate" class=" control-label" style="width: 100%;"></label>
                                                <kendo-datetimepicker name="v"
                                                                      style="width: 100%;"
                                                                      format="dd/MM/yyyy hh:mm:ss"
                                                                      time-format="hh:mm:ss"
                                                                      data-val-required="La fecha es requerida"
                                                                      value="Model.ExpirationDate"></kendo-datetimepicker>
                                                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                                            </div>
                                        </div>


                                       
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="ExitTicket" class="control-label" style="width:100%"></label>
                                                <kendo-numerictextbox name="ExitTicket"
                                                                      format="n"
                                                                      min="0"
                                                                      max="99999999"
                                                                      step="1"
                                                                      style="width: 100%;"
                                                                      value="Model.ExitTicket"></kendo-numerictextbox>
                                                <span asp-validation-for="ExitTicket" class="text-danger"></span>
                                            </div>

                                        </div>



                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Name" class="control-label" style="width: 100%;"></label>
                                                <input type="text" id="Name" required class="form-control" style="min-width:100%;" asp-for="Name" />
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="WeightBallot" class="control-label" style="width:100%"></label>
                                                <kendo-numerictextbox name="WeightBallot"
                                                                      format="n"
                                                                     required
                                                                      min="0"
                                                                      spinners="false"
                                                                      max="99999999"
                                                                      step="1"
                                                                      style="width: 100%;"
                                                                      value="Model.WeightBallot"></kendo-numerictextbox>
                                                <span asp-validation-for="WeightBallot" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Placa" class="control-label" style="width: 100%;"></label>
                                                <input type="text" id="Placa" required class="form-control" style="min-width:100%;" asp-for="Placa" />
                                            </div>
                                        </div>

                                    </div>
                                    

                                    <div class="row">
                                       
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Marca" class="control-label" style="width: 100%;"></label>
                                                <input type="text" id="Marca" required class="form-control" style="min-width: 100%;" asp-for="Marca" />
                                            </div>
                                        </div>

                                    </div>


                                        @*
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="PalletId" class="control-label" style="width: 100%;"></label>
                    <kendo-numerictextbox name="PalletId"
                                          format="n"
                                          min="0"
                                          max="99999999"
                                          step="1"
                                          style="width: 100%;"
                                          value="Model.PalletId"></kendo-numerictextbox>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="EsIngreso" class="control-label" style="width: 100%;"></label>
                    <kendo-numerictextbox name="EsIngreso"
                                          format="n"
                                          min="0"
                                          disabled
                                          max="99999999"
                                          step="1"
                                          style="width: 100%;"
                                          value="Model.EsIngreso"></kendo-numerictextbox>
                </div>
            </div>
        </div>*@

</form>


                                <div id="salesorderdetail">
                                    @await Html.PartialAsync("pvwGoodsReceivedDetail", Model)
                                </div>

                                <div id="GoodsReceivedLineMant">
                                    @await Html.PartialAsync("pvwGoodsReceivedDetailMant", new ERPMVC.Models.GoodsReceivedLine {  GoodsReceiveLinedId = 0, GoodsReceivedId = Model.GoodsReceivedId })
                                </div>


                                <form id="TotalesDocumento" kendo-validator="true" kendo-messages="messages" kendo-rules="rules">
                                    <div class="box" id="TotalesDocumento">
                                        <div class="box-body">
                                            <div class="content-container-fluid">
                                                <div class="row">
                                                    <div class="col-lg-8">

                                                    </div>
                                                    <div class="col-lg-4">
                                                        <dl class="dl-horizontal">
                                                            @*<dt>
                                                                <label asp-for="SubTotal" class="col-md-2 control-label"></label>
                                                            </dt>
                                                            <dd>
                                                                <kendo-numerictextbox name="SubTotal"
                                                                                      format="n2"
                                                                                      style="width: 100%;"
                                                                                      min="0" disabled
                                                                                      max="999999999"
                                                                                      step="1"
                                                                                      value="Model.SubTotal"></kendo-numerictextbox>
                                                                <span asp-validation-for="SubTotal" class="text-danger"></span>
                                                            </dd>*@

                                                            @*<dt>
                                                                <label asp-for="tot" class="control-label"></label>
                                                            </dt>

                                                            <dd>
                                                                <kendo-numerictextbox name="TotalSacos"
                                                                                      format="n2"
                                                                                      min="0"
                                                                                      disabled
                                                                                      required
                                                                                      style="width: 100%;"
                                                                                      max="999999999"
                                                                                      step="1"
                                                                                      value="Model.TotalSacos"></kendo-numerictextbox>
                                                                <span asp-validation-for="TotalSacos" class="text-danger"></span>
                                                            </dd>*@

                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div class="row">
                                    @if (Model.editar==1)
                                    {
                                        <button id="btnSaveControlEstiba" type="submit" class="form-control btn-miboton" onclick="SaveGoodsReceived(this);">Guardar</button>
                                    }
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
  

    function RefreshGridGoodsReceived() {
        var grid = $("#gridGoodsReceived").getKendoGrid();
        grid.dataSource.read();
    }

    function SaveGoodsReceived(e) {

        var notification = $("#notification").data("kendoNotification");
       // e.preventDefault();
        $("#btnSaveControlEstiba").hide();
        $("#btnSaveControlEstiba").prop("disabled", true);

        var displayedData = $("#gridGoodsReceivedDetail").data().kendoGrid.dataSource.view();

        var dataObject = {                    
            'GoodsReceivedId': $("#GoodsReceivedId").val(),
            'CustomerId': $("#CustomerId").val(),
            'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
            'BranchId': $("#BranchId").val(),          
            'BranchName': $("#BranchId").data("kendoDropDownList").text(),
            'WeightBallot': $("#WeightBallot").val(),
            'CurrencyId': $("#CurrencyId").val(),
            'CurrencyName': $("#CurrencyId").data("kendoDropDownList").text(),
            'Placa': $("#Placa").val(),
            'Marca': $("#Marca").val(),
            'ProductId': $("#ProductId").val(),
            'ProductName': $("#ProductId").data("kendoDropDownList").text(),
            'SubProductId': $("#SubProductId").val(),
            'SubProductName': $("#SubProductId").data("kendoDropDownList").text(),
            'OrderDate': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),
            'DocumentDate': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),
            'Name': $("#Name").val(),
            'Reference': $("#Reference").val(),
            'ExitTicket': $("#ExitTicket").val(),
            'Comments': $("#Comments").val(),
            '_GoodsReceivedLine': displayedData
            //'WarehouseId': $("#WarehouseId").val(),
            //'WarehouseName': $("#WarehouseId").data("kendoDropDownList").text(),         
            //'WarehouseId': $("#WarehouseId").val(),
           // 'WarehouseName': $("#WarehouseId").data("kendoDropDownList").text(),
                // 'OrderDate': $("#OrderDate").getKendoDateTimePicker().value().toJSON(),
           
        }; 

        var validator = $("#frmGoodsReceived").data("kendoValidator");
        var validator2 = $("#TotalesDocumento").data("kendoValidator");
        var status = $(".status");

        if (displayedData.length > 0) {
            if (validator.validate() && validator2.validate()) {

                $.ajax({
                    url: '@Url.Action("SaveGoodsReceived", "GoodsReceived")',
                    method: 'POST',
                    datatype: "json",
                    //contentType: "application/x-www-form-urlencoded; charset=UTF-8", 
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify(dataObject),
                    success: function (data) {

                        $.toast({
                            heading: 'Satisfactorio',
                            text: 'Datos guardados correctamente.',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'success',
                            hideAfter: 30000,
                            stack: 6
                        });

                        //notification.show({
                        //    message: "Guardado correctamente!"
                        //}, "upload-success");

                        RefreshGridGoodsReceived();                        
                        $('#myModalGoodsReceived').modal('hide');

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#btnSaveControlEstiba").show();
                        $("#btnSaveControlEstiba").prop("disabled", false);
                        $("#btngenerarfactura").show();
                        notification.show({
                            title: "Validacion",
                            message: textStatus + ": " + XMLHttpRequest.responseText
                        }, "error");

                    }
                });

            }
            else {
                $("#btnSaveControlEstiba").show();
                $("#btnSaveControlEstiba").prop("disabled", false);
                //status.text("Oops! There is invalid data in the form.")
                //    .removeClass("valid")
                //    .addClass("invalid");
            }
        }
        else {
            $("#btnSaveControlEstiba").show();
            $("#btnSaveControlEstiba").prop("disabled", false);
            notification.show({
                title: "Validacion",
                message: "Debe agregar los productos!"
            }, "error");
   
        }

      //  $("#btnSaveControlEstiba").show();
       
    }
</script>