@model ERPMVC.DTO.GoodsReceivedDTO
@using System.Security.Claims
@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                {"required","Valor requerido" }
                            };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];
}



<script>

    var hcustom = 0;
    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "UnitOfMeasureId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "WeightBallot" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "ExitTicket" && input.val() == 0) {
            return false;
        }




        return true;
    }


    function closesGoodsReceived() {
        //habilitarcampos();
        $("#myModalGoodsReceived").modal('hide');
        var grid = $("#gridGoodsReceived").getKendoGrid();
        grid.dataSource.read();
    }


</script>

<div id="myModalGoodsReceived" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Información Recibo de mercadería
                    @if (Model.GoodsReceivedId != 0)
                    {
                        <button class="btnmitoolbar" onclick="ImprimirGoodsReceived(null,'@Model.GoodsReceivedId')"><i class="fa fa-print"></i> Imprimir Recibo </button>
                        <button class="btnmitoolbar" onclick="ImprimirBoletaDeSalida(null,'@Model.ExitTicket')"><i class="mdi mdi-printer"></i> Boleta Salida </button>
                    }

                </h4>

                <button type="button" class="close" onclick="closesGoodsReceived();">&times;</button>
            </div>
            <div class="modal-body" id="validation">
                <div class="card">
                    <div class="card-body">
                        <form id="frmGoodsReceived" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                              method="post" class="validation-wizard wizard-circle">
                            <div class="form-body">
                                <input type="hidden" id="hcustomerid" value="0" asp-for="CustomerId" />

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">

                                            <script>
                                                        function valueMapper(options) {
                                                            $.ajax({
                                                                url: "@Url.Action("Orders_ValueMapper", "ControlPallets")",
                                                                data: convertValues(options.value),
                                                                success: function (data) {
                                                                    options.success(data);
                                                                }
                                                            });
                                                        }

                                                        function convertValues(value) {
                                                            var data = {};
                                                            value = $.isArray(value) ? value : [value];

                                                            for (var idx = 0; idx < value.length; idx++) {
                                                                data["values[" + idx + "]"] = value[idx];
                                                            }

                                                            return data;
                                                        }

                                                        function changesetearvalues() {

                                                            var notification = $("#notification").data("kendoNotification");
                                                            var dataObject = { 'Id': $("#cbxBuscar").val() };
                                                            if (Number($("#cbxBuscar").val()) > 0) {
                                                                $.ajax({
                                                                    url: '@Url.Action("GetControlPalletsByIdCalculo", "ControlPallets")',
                                                                    method: 'GET',
                                                                    datatype: "json",
                                                                    contentType: 'application/json',
                                                                    async: false,
                                                                    data: dataObject,
                                                                    success: function (data) {
                                                                        debugger;
                                                                        $("#CustomerId").data("kendoDropDownList").value(data.CustomerId);
                                                                        $("#CustomerId").data("kendoDropDownList").trigger('change');
                                                                        $("#BranchId").data("kendoDropDownList").value(data.BranchId);
                                                                        hcustom = data.CustomerId;
                                                                        GetProductTypeIdS();
                                                                        //$("#SubProductId").data("kendoDropDownList").dataSource.read();
                                                                        //$("#SubProductId").data("kendoDropDownList").value(data.SubProductId);

                                                                        $("#ProductId").data("kendoDropDownList").value(data.ProductId);
                                                                        $("#ControlId").data("kendoNumericTextBox").value(data.ControlPalletsId);
                                                                        record = 0;

                                                                        $("#Name").val(data.Motorista);
                                                                        $("#Placa").val(data.Placa);
                                                                        $("#Marca").val(data.Marca);
                                                                        var grid = $("#gridGoodsReceivedDetail").data("kendoGrid");
                                                                        var datasource = grid.dataSource;
                                                                        if (data._Boleto_Ent != null) {
                                                                            $("#Comments").val(data._Boleto_Ent.Boleto_Sal.observa_s);
                                                                            $("#TaraCamion").data("kendoNumericTextBox").value(data.taracamion);
                                                                            $("#TaraUnidadMedida").data("kendoNumericTextBox").value(data.Tara);
                                                                            $("#PesoBruto").data("kendoNumericTextBox").value(data.pesobruto);
                                                                            $("#PesoNeto").data("kendoNumericTextBox").value(data.pesoneto);
                                                                            $("#PesoNeto2").data("kendoNumericTextBox").value(data.pesoneto2);
                                                                            $("#WeightBallot").data("kendoNumericTextBox").value(data.WeightBallot);
                                                                            
                                                                            var raw = datasource._data;
                                                                            for (i = datasource._data.length - 1; i >= 0; i--) {
                                                                                item = raw[i];
                                                                                datasource.remove(item);
                                                                            }
                                                                            console.log(data);
                                                                            datasource.insert({
                                                                                GoodsReceiveLinedId: 1, GoodsReceivedId: 0
                                                                                , UnitOfMeasureName: data.UnitOfMeasureName
                                                                                , UnitOfMeasureId: data.UnitOfMeasureId
                                                                                , SubProductId: data.SubProductId
                                                                                , SubProductName: data.SubProductName
                                                                                , Quantity: data.pesoneto2
                                                                                , QuantitySacos: data.TotalSacos
                                                                                , WareHouseId: data.WarehouseId
                                                                                , WareHouseName: data.WarehouseName
                                                                                , ControlPalletsId: data.PalletId

                                                                            });
                                                                            GetBoletaPeso();
                                                                        } else {
                                                                            console.log(data);
                                                                            let lineas = data._ControlPalletsLine.map((item) => {
                                                                                return {
                                                                                    GoodsReceiveLinedId: 1, GoodsReceivedId: 0
                                                                                    , UnitOfMeasureName: item.UnitofMeasureName
                                                                                    , UnitOfMeasureId: item.UnitofMeasureId
                                                                                    , SubProductId: item.SubProductId
                                                                                    , SubProductName: item.SubProductName
                                                                                    , Quantity: item.Qty
                                                                                    , QuantitySacos: 0
                                                                                    , WareHouseId: item.WarehouseId
                                                                                    , WareHouseName: item.WarehouseName
                                                                                    , ControlPalletsId: item.PalletId
                                                                                }
                                                                            })
                                                                            $("#WeightBallot").data("kendoNumericTextBox").value(0);
                                                                            $("#TaraCamion").data("kendoNumericTextBox").value(0);
                                                                            $("#TaraUnidadMedida").data("kendoNumericTextBox").value(0);
                                                                            $("#PesoBruto").data("kendoNumericTextBox").value(0);
                                                                            $("#PesoNeto").data("kendoNumericTextBox").value(0);
                                                                            $("#PesoNeto2").data("kendoNumericTextBox").value(0);
                                                                            //$.merge(data._ControlPalletsLine, datasource._data);
                                                                            datasource.data(lineas);
                                                                            
                                                                        }

                                                                       
                                                                        Deshabilitarcampos();


                                                                },
                                                                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                                                                        //  $("#btngenerarfactura").show();
                                                                        $.toast({
                                                                            heading: 'Validación',
                                                                            text: textStatus + ": " + XMLHttpRequest.responseText,
                                                                            position: 'top-right',
                                                                            loaderBg: '#ff6849',
                                                                            icon: 'error',
                                                                            hideAfter: 3000,
                                                                            stack: 6
                                                                        });

                                                                    }
                                                                 });
                                                            }

                                                            else {
                                                                var grid = $("#gridGoodsReceivedDetail").data("kendoGrid");
                                                                var datasource = grid.dataSource;
                                                                var raw = datasource._data;
                                                                for (i = datasource._data.length - 1; i >= 0; i--) {
                                                                    item = raw[i];
                                                                    datasource.remove(item);
                                                                }
                                                                habilitarcampos();
                                                            }
                                                        }



                                                        function Deshabilitarcampos() {
                                                           // $("#CustomerId").prop("disabled", "disabled");
                                                            var dropdownlist = $("#CustomerId").data("kendoDropDownList");
                                                            dropdownlist.enable(false);
                                                            $("#ProductId").prop("disabled", "disabled");
                                                            var dropdownlist2 = $("#ProductId").data("kendoDropDownList");
                                                            dropdownlist2.enable(false);
                                                            //$("#ProductId").prop("disabled", "disabled");
                                                            $("#Name").prop("disabled", "disabled");
                                                            $("#Placa").prop("disabled", "disabled");
                                                            $("#Marca").prop("disabled", "disabled");
                                                            $("#Comments").prop("disabled", "disabled");
                                                            $("#TaraCamion").prop("disabled", "disabled");
                                                            $("#PesoBruto").prop("disabled", "disabled");
                                                            $("#PesoNeto").prop("disabled", "disabled");
                                                            $("#PesoNeto2").prop("disabled", "disabled");
                                                            $("#WeightBallot").prop("disabled", "disabled");

                                                            $("#WeightBallot").prop("required", "required");
                                                            //$(".k-button k-button-icontext k-grid-Agregar k-i-plus-sm").prop("disabled", "disabled");
                                                            $("#gridGoodsReceivedDetail .k-grid-Agregar")
                                                                .removeClass("k-grid-Agregar")
                                                                .addClass("k-state-disabled")
                                                                .removeAttr("href");
                                                            var rows = $('#gridGoodsReceivedDetail tbody tr');
                                                            $.map(rows, function (row) {
                                                                //cell buttons index
                                                                row.cells[0].innerHTML = "";

                                                            });
                                                        }


                                                        function habilitarcampos() {
                                                            AddGoodsReceived();
                                                        }

                                                        function applyFilterCustomer(e) {
                                                            e.preventDefault();
                                                            $("#cbxBuscar").data("kendoDropDownList").dataSource.read();
                                                            var newFilter = {
                                                                logic: "or",
                                                                filters: [
                                                                    { field: "ControlPalletsId", operator: "contains", value: $("#cbxBuscar").data("kendoDropDownList").filterInput[0].value },
                                                                    { field: "CustomerName", operator: "contains", value: $("#cbxBuscar").data("kendoDropDownList").filterInput[0].value }
                                                                  //  { field: "Motorista", operator: "contains", value: $("#cbxBuscar").data("kendoDropDownList").filterInput[0].value }
                                                                ]
                                                            };
                                                            $("#cbxBuscar").data("kendoDropDownList").dataSource.filter(newFilter);

                                                            //});
                                                        }

                                            </script>
                                            <input type="hidden" id="singuardar" value="0" />

                                            @if (Model.editar == 1)
                                            {
                                                <label for="cbxBuscar" class="control-label" style="width:100%">Asociar control de ingresos</label>
                                                @(Html.Kendo().DropDownList()
                                                                                 .Name("cbxBuscar")
                                                                                 .Filter(Kendo.Mvc.UI.FilterType.Contains)
                                                                                 .OptionLabel("Buscar")
                                                                                 .DataTextField("CustomerName")
                                                                                 .DataValueField("ControlPalletsId")
                                                                                 .HtmlAttributes(new { style = "width:100%" })
                                                                                 // .Template("#: data.CustomerName # || Estiba No.: <b>#: data.ControlPalletsId #</b>")
                                                                                 // .Template("#= data.ControlPalletsId   # | Cliente: #= CustomerName # | #= DescriptionProduct # | #=Motorista#")
                                                                                 //  .ValueTemplate("<span>#:data.CustomerName#</span>")
                                                                                 .Height(290)
                                                                                 .Events(e =>
                                                                                 {
                                                                                     e.Change("changesetearvalues");

                                                                                 })
                                                                                 .AutoBind(true)
                                                                                 .DataSource(source =>
                                                                                 {
                                                                                     source.Ajax()
                                                                                     .PageSize(80)

                                                                                     .Read("Virtualization_Read", "ControlPallets");
                                                                                 })
                                                                                 .Virtual(v => v.ItemHeight(26).ValueMapper("valueMapper"))
                                                        )

                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="GoodsReceivedId" class="control-label" style="width:100%">Recibo de Mercaderías No.</label>
                                            <kendo-numerictextbox name="GoodsReceivedId"
                                                                  min="0"
                                                                  decimals="0"
                                                                  readonly
                                                                  format="d"
                                                                  spinners="false"
                                                                  max="99999999"
                                                                  step="1"
                                                                  style="width: 100%;"
                                                                  value="Model.GoodsReceivedId" />
                                            <span asp-validation-for="GoodsReceivedId" class="text-danger"></span>
                                        </div>

                                    </div>


                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="ControlId" class="control-label" style="width:100%">Control Ingresos No.</label>
                                            <kendo-numerictextbox name="ControlId"
                                                                  min="0"
                                                                  decimals="0"
                                                                  format="d"
                                                                  readonly
                                                                  spinners="false"
                                                                  max="99999999"
                                                                  step="1"
                                                                  style="width: 100%;"
                                                                  value="Model.ControlId" />
                                            <span asp-validation-for="ControlId" class="text-danger"></span>
                                        </div>

                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <script>

                                                function GetSubProduct(e) {
                                                    var dataItem = e.dataItem;
                                                    $("#hcustomerid").val(dataItem.CustomerId);
                                                    //console.log(dataItem.CustomerId);
                                                    hcustom = dataItem.CustomerId;
                                                    //   $("#SubProductId").data("kendoDropDownList").dataSource.read();

                                                }

                                            </script>


                                            <label asp-for="CustomerId" class="control-label"></label>
                                            <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                option-label="Seleccione el cliente"
                                                                required
                                                                datatextfield="CustomerName"
                                                                datavaluefield="CustomerId"
                                                                on-select="GetSubProduct"
                                                                style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi" page-size="99999999">
                                                    <transport>
                                                        <read url="@Url.Action("GetCustomer", "Common")" />
                                                    </transport>
                                                </datasource>
                                            </kendo-dropdownlist>
                                            @*<span asp-validation-for="CustomerId" class="text-danger"></span>*@
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <script>

                                                function FillWareHouse(e) {
                                                    //var WarehouseId = $("#WarehouseId").getkendoDropDownList();
                                                    //WarehouseId.dataSource.read();
                                                    //$("#SubProductId").data("kendoDropDownList").dataSource.read();
                                                    var dataItem = e.dataItem;
                                                    $("#warehousesetid").val(dataItem.BranchId);
                                                    $("#WarehouseId").data("kendoDropDownList").dataSource.read();

                                                }


                                            </script>
                                            @*on-select="FillWareHouse"*@
                                            <input type="hidden" id="warehousesetid" />
                                            <label asp-for="BranchId" class="control-label"></label>
                                            <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                option-label="Seleccione Sucursal"
                                                                datatextfield="BranchName"
                                                                datavaluefield="BranchId"
                                                                enable="false"
                                                                required
                                                                auto-bind="true"
                                                                style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi">
                                                    <transport>
                                                        <read url="@Url.Action("GetBranch", "Branch")" />
                                                    </transport>
                                                </datasource>
                                            </kendo-dropdownlist>
                                            <span asp-validation-for="BranchId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="DocumentDate" class=" control-label" style="width: 100%;"></label>
                                            <kendo-datetimepicker name="DocumentDate"
                                                                  style="width: 100%;"
                                                                  format="dd/MM/yyyy hh:mm:ss"
                                                                  time-format="hh:mm:ss"
                                                                  readonly
                                                                  data-val-required="La fecha es requerida"
                                                                  value="Model.DocumentDate" />
                                            <span asp-validation-for="DocumentDate" class="text-danger"></span>
                                        </div>
                                    </div>

                                   


                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <script>
                                                    function GetBoletaPeso() {

                                                        var notification = $("#notification").data("kendoNotification");
                                                        var dataObject = { 'clave_e': $("#WeightBallot").val()};
                                                        $.ajax({
                                                            url: '@Url.Action("GetBoleto_EntById", "Boleto_Ent")',
                                                            method: 'GET',
                                                            datatype: "json",
                                                            contentType: 'application/json',
                                                            async: false,
                                                            data: dataObject,
                                                            success: function (result) {

                                                                var resultados = result;
                                                                var tarapolietileno = ($("#TotalSacosPolietileno").val() * 0.5) / 100;
                                                                var tarayute = ($("#TotalSacosYute").val() * 1) / 100;
                                                                var ts = tarapolietileno + tarayute;
                                                             //   setearvalor("Tara", ts);

                                                                var pesobruto = (result.Boleto_Sal.peso_n / 100);
                                                              //  setearvalor("PesoBruto", pesobruto);
                                                               // setearvalor("PesoNeto", pesobruto - ts);



                                                                if (result.clave_e == 0) {

                                                                    var urlbase = "http://localhost:9200/api/code"
                                                                    var dataObject2 = { 'id': $("#WeightBallot").val() };

                                                                    $.get(urlbase + '/' + $("#WeightBallot").val(), function (responseText) {
                                                                        //  alert(responseText);
                                                                        resultados = responseText;
                                                                        $.ajax({
                                                                                url: '@Url.Action("SaveBoleto_Ent", "Boleto_Ent")',
                                                                                type: 'POST',
                                                                                method: 'POST',
                                                                                dataType: 'json',
                                                                                // contentType: 'application/json',
                                                                                data: JSON.stringify(resultados),
                                                                                async: false,
                                                                                success: function (json) {
                                                                                    //  console.log(json);
                                                                                    //resultados = json;

                                                                                },
                                                                                error: function (parsedjson, textStatus, errorThrown) {

                                                                                    $('body').append(
                                                                                        "parsedJson status: " + parsedjson.status + '</br>' +
                                                                                        "errorStatus: " + textStatus + '</br>' +
                                                                                        "errorThrown: " + errorThrown);

                                                                                }
                                                                            });
                                                                    });

                                                                }


                                                                $("#Name").val(resultados.conductor);
                                                                $("#Placa").val(resultados.placas);

                                                                //console.log(resultados.Boleto_Sal.peso_s);
                                                                if (resultados.Boleto_Sal.peso_s > resultados.peso_e) {
                                                                    $.toast({
                                                                        heading: 'Validación',
                                                                        text: "La boleta de peso es una salida de mercancía",
                                                                        position: 'top-right',
                                                                        loaderBg: '#ff6849',
                                                                        icon: 'error',
                                                                        hideAfter: 3000,
                                                                        stack: 6
                                                                    });

                                                                    return false;
                                                                }



                                                            },
                                                             error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                                                              }
                                                         });
                                                    }
                                            </script>
                                            <label asp-for="WeightBallot" class="control-label" style="width:100%">Boleta Peso No.</label>
                                            <kendo-numerictextbox name="WeightBallot"
                                                                  format="d"
                                                                  enable="false"
                                                                  min="0"
                                                                  onchange="return GetBoletaPeso();"
                                                                  spinners="false"
                                                                  max="99999999"
                                                                  step="1"
                                                                  style="width: 100%;"
                                                                  value="Model.WeightBallot" />
                                            <span asp-validation-for="WeightBallot" class="text-danger"></span>
                                        </div>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <script>
                                                function ValidarBodegaHabilitada() {
                                                    debugger;
                                                    var servicio = $("#ProductId").val();
                                                    if (servicio != 3) {
                                                        $.toast({
                                                            heading: 'Error',
                                                            text: 'Esta accion solo es permitida en bodega hbailitada',
                                                            position: 'top-right',
                                                            loaderBg: '#ff6849',
                                                            icon: 'error',
                                                            hideAfter: 3000,
                                                            stack: 6
                                                        });
                                                        return false;
                                                    } else {
                                                        return true;
                                                    }
                                                }
                                            </script>
                                            <label asp-for="ProductId" class="control-label" style="width:100%"></label>

                                            <kendo-dropdownlist name="ProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                for="ProductId"
                                                                option-label="Seleccione el Servicio"
                                                                datatextfield="ProductName"
                                                                datavaluefield="ProductId"
                                                                required
                                                                style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi">
                                                    <transport>
                                                        <read url="@Url.Action("GetProduct", "Common")" />
                                                    </transport>
                                                </datasource>
                                            </kendo-dropdownlist>
                                            <span asp-validation-for="ProductId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="Name" class="control-label" style="width: 100%;"></label>
                                            <input type="text" id="Name" required class="k-textbox" style="min-width:100%;" asp-for="Name" />
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="Placa" class="control-label" style="width: 100%;"></label>
                                            <input type="text" id="Placa" required class="k-textbox" style="min-width:100%;" asp-for="Placa" />
                                        </div>
                                    </div>


                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="Marca" class="control-label" style="width: 100%;"></label>
                                            <input type="text" id="Marca" required class="k-textbox" style="min-width: 100%;" asp-for="Marca" />
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <label asp-for="CountryId" class="control-label" style="width: 100%;"></label>
                                        <kendo-dropdownlist name="CountryId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            id="CountryId"
                                                            option-label="Seleccione el país del producto"
                                                            for="CountryId"
                                                            datatextfield="SortName"
                                                            datavaluefield="Id"
                                                            auto-bind="true"
                                                            required
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" server-filtering="true" page-size="90000">
                                                <transport>
                                                    <read url="@Url.Action("Get", "Country")" />
                                                </transport>
                                            </datasource>

                                        </kendo-dropdownlist>
                                        <span asp-validation-for="CountryId" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label asp-for="ExitTicket" class="control-label" style="width:100%">Boleta de Salida No.</label>
                                            <kendo-numerictextbox name="ExitTicket"
                                                                  format="d"
                                                                  min="0"
                                                                  enable="false"
                                                                  max="99999999"
                                                                  step="1"
                                                                  spinners="false"
                                                                  style="width: 100%;"
                                                                  value="Model.ExitTicket" />
                                            <span asp-validation-for="ExitTicket" class="text-danger"></span>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <script>
                                        function GrupoConfiguracionCargado() {
                                            return { Id: 18 };
                                        }
                                    </script>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="VigilanteId" class="  control-label" style="width:100%"></label>

                                            <kendo-dropdownlist name="VigilanteId"
                                                                for="VigilanteId"
                                                                filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                option-label="Seleccione Vigilante"
                                                                datatextfield="Nombre"
                                                                datavaluefield="Id"
                                                                style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi">
                                                    <transport>
                                                        <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GrupoConfiguracionCargado" />
                                                    </transport>
                                                </datasource>
                                            </kendo-dropdownlist>
                                            <span asp-validation-for="VigilanteId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="Comments" class="control-label" style="width: 100%;"></label>
                                            <textarea asp-for="Comments" class="k-textarea" rows="2" style="min-width:100%"></textarea>
                                            @*<input type="text" id="Comments" required class="form-control" style="min-width: 100%;" asp-for="Comments" />*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>


                        <div id="salesorderdetail">
                            @await Html.PartialAsync("pvwGoodsReceivedDetail", Model, new ViewDataDictionary(ViewData) { { "permisosGoodsReceived", permisos } })
                        </div>

                        <div id="GoodsReceivedLineMant">
                            @await Html.PartialAsync("pvwGoodsReceivedDetailMant", new ERPMVC.Models.GoodsReceivedLine { GoodsReceiveLinedId = 0, GoodsReceivedId = Model.GoodsReceivedId })
                        </div>


                        <form id="TotalesDocumento" kendo-validator="true" kendo-messages="messages" kendo-rules="rules">
                            <div class="box" id="TotalesDocumento">
                                <div class="box-body">
                                    <div class="content-container-fluid">
                                        <div class="row">
                                            <div class="col-lg-10">

                                            </div>
                                            <div class="col-lg-2">
                                                <dl class="dl-horizontal">
                                                    <dt>
                                                        <label asp-for="PesoBruto" class="control-label"></label>
                                                    </dt>
                                                    <dd>
                                                        <kendo-numerictextbox name="PesoBruto"
                                                                              format="n2"
                                                                              style="width: 100%;"
                                                                              min="0" disabled
                                                                              readonly
                                                                              spinners="false"
                                                                              max="999999999"
                                                                              step="1"
                                                                              value="Model.PesoBruto" />
                                                        <span asp-validation-for="PesoBruto" class="text-danger"></span>
                                                    </dd>

                                                    <dt>
                                                        <label asp-for="TaraCamion" class="control-label">Tara de Sacos</label>
                                                    </dt>

                                                    <dd>
                                                        <kendo-numerictextbox name="TaraCamion"
                                                                              format="n2"
                                                                              min="0"
                                                                              readonly
                                                                               spinners="false"
                                                                              required
                                                                              style="width: 100%;"
                                                                              max="999999999"
                                                                              step="1"
                                                                              value="Model.TaraCamion" />
                                                        <span asp-validation-for="TaraCamion" class="text-danger"></span>
                                                    </dd>


                                                    <dt>
                                                        <label asp-for="PesoNeto" class="control-label"></label>
                                                    </dt>

                                                    <dd>
                                                        <kendo-numerictextbox name="PesoNeto"
                                                                              format="n2"
                                                                              min="0"
                                                                              readonly
                                                                               spinners="false"
                                                                              required
                                                                              style="width: 100%;"
                                                                              max="999999999"
                                                                              step="1"
                                                                              value="Model.PesoNeto" />
                                                        <span asp-validation-for="PesoNeto" class="text-danger"></span>
                                                    </dd>


                                                    <dt>
                                                        <label asp-for="TaraUnidadMedida" class="control-label"></label>
                                                    </dt>

                                                    <dd>
                                                        <kendo-numerictextbox name="TaraUnidadMedida"
                                                                              format="n2"
                                                                              min="0"
                                                                              readonly
                                                                               spinners="false"
                                                                              required
                                                                              style="width: 100%;"
                                                                              max="999999999"
                                                                              step="1"
                                                                              value="Model.TaraUnidadMedida" />
                                                        <span asp-validation-for="TaraUnidadMedida" class="text-danger"></span>
                                                    </dd>





                                                    <dt>
                                                        <label asp-for="PesoNeto2" class="control-label"></label>
                                                    </dt>

                                                    <dd>
                                                        <kendo-numerictextbox name="PesoNeto2"
                                                                              format="n2"
                                                                              min="0"
                                                                              readonly
                                                                               spinners="false"
                                                                              required
                                                                              style="width: 100%;"
                                                                              max="999999999"
                                                                              step="1"
                                                                              value="Model.PesoNeto2" />
                                                        <span asp-validation-for="PesoNeto2" class="text-danger"></span>
                                                    </dd>

                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="row">
                            @if (Model.editar == 1)
                            {
                                <button id="btnSaveControlEstiba" type="submit" class="form-control btn-miboton" onclick="SaveGoodsReceived(this);">Guardar</button>
                            }
                        </div>


                    </div>
                </div>      
            </div>
        </div>
    </div>
</div>


<script>


    function RefreshGridGoodsReceived() {
        var grid = $("#gridGoodsReceived").getKendoGrid();
        grid.dataSource.read();
    }

    function SaveGoodsReceived(e) {

        var notification = $("#notification").data("kendoNotification");
       // e.preventDefault();
        $("#btnSaveControlEstiba").hide();
        $("#btnSaveControlEstiba").prop("disabled", true);


        var validadetalle = true;
        var displayedData = $("#gridGoodsReceivedDetail").data().kendoGrid.dataSource.data();
        for (var i = 0; i < displayedData.length; i++) {
            displayedData[i].GoodsReceiveLinedId = 0;
            displayedData[i].QuantitySacos == null ? 0 : displayedData[i].QuantitySacos ;
            displayedData[i].ControlPalletsId == null ? 1 : displayedData[i].ControlPalletsId;

            if (
                displayedData[i].WarehouseId === '' || displayedData[i].Quantity === 0
                || displayedData[i].WareHouseId === null || displayedData[i].WareHouseId === 0) {
                
                $.toast({
                    heading: 'Error',
                    text: 'Ingrese al detalle todos los datos requeridos',
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'error',
                    hideAfter: 3000,
                    stack: 6
                });
                validadetalle = false;

            }
        }

        if (validadetalle) {
            var dataObject = {
                'GoodsReceivedId': $("#GoodsReceivedId").val(),
                'CustomerId': $("#CustomerId").val(),
                'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
                'BranchId': $("#BranchId").val(),
                'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                'WeightBallot': $("#WeightBallot").val(),
                'CurrencyId': $("#CurrencyId").val(),
                'Placa': $("#Placa").val(),
                'Marca': $("#Marca").val(),
                'ProductId': $("#ProductId").val(),
                'ProductName': $("#ProductId").data("kendoDropDownList").text(),
                'SubProductId': $("#SubProductId").val(),
                'OrderDate': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),
                'DocumentDate': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),
                'Name': $("#Name").val(),
                'Reference': $("#Reference").val(),
                'ExitTicket': $("#ExitTicket").val(),
                'Comments': $("#Comments").val(),
                'CountryId': $("#CountryId").val(),
                'CountryName': $("#CountryId").data("kendoDropDownList").text(),
                'VigilanteId': $("#VigilanteId").data("kendoDropDownList").value(),
                'VigilanteName': $("#VigilanteId").data("kendoDropDownList").text(),
                'PesoBruto': $("#PesoBruto").val(),
                'PesoNeto': $("#PesoNeto").val(),
                'PesoNeto2': $("#PesoNeto2").val(),
                '_GoodsReceivedLine': displayedData,
                'TaraCamion': $("#TaraCamion").val(),
                'ControlId': $("#ControlId").val(),
                //'CurrencyName': $("#CurrencyId").data("kendoDropDownList").text(),
                //'SubProductName': $("#SubProductId").data("kendoDropDownList").text(),
                //'WarehouseId': $("#WarehouseId").val(),
                //'WarehouseName': $("#WarehouseId").data("kendoDropDownList").text(),
                //'WarehouseId': $("#WarehouseId").val(),
                // 'WarehouseName': $("#WarehouseId").data("kendoDropDownList").text(),
                // 'OrderDate': $("#OrderDate").getKendoDateTimePicker().value().toJSON(),

            };

            var validator = $("#frmGoodsReceived").data("kendoValidator");
            var validator2 = $("#TotalesDocumento").data("kendoValidator");
            var status = $(".status");

            // console.log(validator);
            //console.log(validator2);

            if (displayedData.length > 0) {
                if (validator.validate() && validator2.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveGoodsReceived", "GoodsReceived")',
                        method: 'POST',
                        datatype: "json",
                        //contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            $("#GoodsReceivedId").data("kendoNumericTextBox").value(data.GoodsReceivedId);
                            $("#ExitTicket").data("kendoNumericTextBox").value(data.ExitTicket);
                            ImprimirGoodsReceived(null, data.GoodsReceivedId);
                            ImprimirBoletaDeSalida(null, data.ExitTicket);

                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 3000,
                                stack: 6
                            });

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");

                            RefreshGridGoodsReceived();
                            //   $('#myModalGoodsReceived').modal('hide');

                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $("#btnSaveControlEstiba").show();
                            $("#btnSaveControlEstiba").prop("disabled", false);
                            $("#btngenerarfactura").show();
                            
                            $.toast({
                                heading: 'Error',
                                text: textStatus + ": " + XMLHttpRequest.responseText,
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'error',
                                hideAfter: 3000,
                                stack: 6
                            });

                        }
                    });

                }
                else {


                    $("#btnSaveControlEstiba").show();
                    $("#btnSaveControlEstiba").prop("disabled", false);

                    $.toast({
                        heading: 'Error',
                        text: "Datos incompletos en el formulario",
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 3000,
                        stack: 6
                    });


                    //status.text("Oops! There is invalid data in the form.")
                    //    .removeClass("valid")
                    //    .addClass("invalid");
                }
            }
            else {
                $("#btnSaveControlEstiba").show();
                $("#btnSaveControlEstiba").prop("disabled", false);
                $.toast({
                    heading: 'Error',
                    text: "Debe agregar los productos!",
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'error',
                    hideAfter: 3000,
                    stack: 6
                });

            }
        }
        else {
            $("#btnSaveControlEstiba").show();
            $("#btnSaveControlEstiba").prop("disabled", false);
        }

      //  $("#btnSaveControlEstiba").show();

    }
</script>