@model ERPMVC.DTO.SubServicesWareHouseDTO

@{
    Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
    // {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };

    bool permisoCalculoManual = User.HasClaim("Inventarios.Servicios Utilizados.Calculo Manual", "true");
}

<script>

	function customFunction(input) {

		if (input.attr('name') === "IdEmpleado" && input.val() === "0") {
			return false;
		}

	}
</script>




<div id="ModalScheduleSubservice" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Subservicios Bodegas</h4>
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmScheduleSubservices" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="SubServicesWareHouseId" class=" control-label" style="width:100%">No</label>
                                                    <input type="text" asp-for="SubServicesWareHouseId" name="ScheduleSubservicesId" class="k-textbox" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="SubServicesWareHouseId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="DocumentDate" class=" control-label" style="width:100%"></label>
                                                    <kendo-datetimepicker name="WorkDate" for="DocumentDate"
                                                                          value="Model.DocumentDate"
                                                                          format="dd/MM/yyyy"
                                                                          style="width:100%;"
                                                                          data-val-required="La fecha es requerida" />
                                                    <span asp-validation-for="DocumentDate" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 col-md-3">
                                                <label asp-for="BranchId" class="control-label"></label>
                                                <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione Sucursal"
                                                                    datatextfield="BranchName"
                                                                    datavaluefield="BranchId"
                                                                    required
                                                                    auto-bind="true"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" page-size="99999999">
                                                        <transport>
                                                            <read url="@Url.Action("GetBranchActivos", "Branch")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="BranchId" class="text-danger"></span>
                                            </div>    
                                            
                                            <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label asp-for="IdEstado" class="control-label"></label>
                                                    <kendo-dropdownlist name="IdEstado" for="IdEstado" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                        option-label="Seleccionar Estado"
                                                        datatextfield="NombreEstado"
                                                        datavaluefield="IdEstado"
                                                        required 
                                                        style="width: 100%;"
                                                        >
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                        <span asp-validation-for="IdEstado" class="text-danger"></span>
                                                    </div>
                                                    <script>
                                                        $(document).ready(function () {
                                                        var estate = $("#IdEstado").data("kendoDropDownList");
                                                        if ($("#SubServicesWareHouseId").val()==0) {
                                                            estate.enable(false);
                                                        }
                                                        });
                                                    </script>
                                             </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class=" control-label" style="width:100%">Cliente</label>
                                                <kendo-dropdownlist name="CustomerIdSeleccion"
                                                                    for="CustomerId"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione el cliente"
                                                                    datatextfield="CustomerName"
                                                                    datavaluefield="CustomerId"
                                                                    data-val-required="El cliente es requerido"
                                                                    class="form-control-line"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                        <transport>
                                                            <read url="@Url.Action("GetCustomerActivos", "Common")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="CustomerId" class="text-danger"></span>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <script>
                                                        function GetSubProducts() {

                                                            $("#SubServiceId").data("kendoDropDownList").dataSource.read();
                                                        }

                                                        function GetProductIdS() {
                                                            return { 'ProductId': $("#ServiceId").val() }
                                                        }

                                                        function GetDepartament() {
                                                            return {DepartamentId:7}
                                                        }
                                                    </script>
                                                    <label asp-for="ServiceId" class="control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="ServiceId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        for="ServiceId"
                                                                        onchange="GetSubProducts()"
                                                                        option-label="Seleccione el Servicio"
                                                                        datatextfield="ProductName"
                                                                        datavaluefield="ProductId"
                                                                        data-val-required="El servicio es requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="999999999">
                                                            <transport>
                                                                <read url="@Url.Action("GetProductActivos", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="ServiceId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="SubServiceId" class=" control-label" style="width:100%">SubServicio</label>
                                                    <div class="form-group">
                                                        <kendo-dropdownlist name="SubServiceId"
                                                                            for="SubServiceId"
                                                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Seleccione el sub servicio"
                                                                            data-val-required="El sub servicio es requerido"
                                                                            auto-bind="false"
                                                                            datatextfield="ProductName"
                                                                            datavaluefield="SubproductId"
                                                                            on-change="VerificarSubservicio"
                                                                            style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="99999999">
                                                                <transport>
                                                                    <read url="@Url.Action("GetSubProductByProductIdRelationActivos", "ProductRelation")" data="GetProductIdS" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>

                                                        <span asp-validation-for="SubServiceId" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label" style="min-width:100%">Cobro Por Tiempo</label>
                                                    <kendo-switch name="CobroPorTiempo" for="CobroPorTiempo" checked="@Model.CobroPorTiempo" enabled="permisoCalculoManual" on-change="calculateTotalHours">
                                                        <messages checked="Si" unchecked="No"  />
                                                    </kendo-switch>
                                                </div>
                                            </div>
                                            
                                        </div>

                                            <div class="row">
                                            <div class=" col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="Solicitante" class="control-label" style="width: 100%;"></label>
                                                    <input id="Solicitante" required class="k-textbox" style="min-width:100%;" asp-for="Solicitante" />
                                                </div>
                                            </div>

                                                <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="EmployeeId" class="control-label"></label>
                                                    <kendo-dropdownlist name="EmployeeId"
                                                                        for="EmployeeId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Empleado"
                                                                        datatextfield="NombreEmpleado"
                                                                        datavaluefield="IdEmpleado"
                                                                        value="@Model.EmployeeId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetEmployeesByDepartamentActivos", "Employees")" data="GetDepartament" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                                </div>
                                            </div>
                                                
                                                
                                                

                                            </div>

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label asp-for="StartTime" class=" control-label" style="width:100%"></label>
                                                   
                                                         <kendo-datetimepicker name="StartTime" for="StartTime"
                                                                          value="Model.StartTime"
                                                                          format="HH:mm:ss"
                                                                          style="width:100%;"
                                                                          on-change="calculateTotalHours"
                                                                          data-val-required="La hora inicio es requerida" />
                                                    <span asp-validation-for="DocumentDate" class="text-danger"></span>
                                                        <span asp-validation-for="StartTime" class="text-danger"></span>
                                                    </div>
                                                    <script>
                                                        $(document).ready(function () {
                                                        var timepickerstart = $("#StartTime").data("kendoTimePicker");
                                                        var timepickerend = $("#EndTime").data("kendoTimePicker");
                                                        if ($("#SubServicesWareHouseId").val() == 0) {
                                                            //timepickerstart.enable(false);
                                                            //timepickerend.enable(false);
                                                        }
                                                        });
                                                    </script>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label asp-for="EndTime" class=" control-label" style="width:100%"></label>
                                                        

                                                         <kendo-datetimepicker name="EndTime" for="EndTime"
                                                                          value="Model.EndTime"
                                                                          format="HH:mm:ss"
                                                                          on-change="calculateTotalHours"
                                                                          style="width:100%;"
                                                                          data-val-required="La hora fin es requerida" />
                                                        <span asp-validation-for="EndTime" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class=" col-md-3">
                                                    <div class="form-group">
                                                        <label asp-for="QuantityHours" class="control-label" style="width: 100%;" readonly>Cantidad</label>
                                                    <input id="QuantityHours" required class="k-textbox" style="min-width:100%;" asp-for="QuantityHours" min="0"/>
                                                </div>
                                                </div>
                                            </div>
                                       
                                            <div class="row">

                                                <div class=" col-md-12">
                                                    <div class="form-group">
                                                        <label asp-for="Motivo" class="control-label" style="width: 100%;"></label>
                                                        <textarea id="Motivo" class="form-control" style="min-width:100%;" asp-for="Motivo"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    @if (Model.IdEstado!=6 )
                                    
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnEmployees" class="form-control btn-miboton" onclick="SaveSubServicesWareHouse(this);"> Guardar </button>
                                            </div>
                                        </div>
                                    
                                    }
                                    
</form>

                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>




    function validarGenero() {
        var Genero = $("#Genero").val();
       // console.log("Valor Genero", Genero);
        if (Genero == 0 || $("#Genero").data("kendoDropDownList").text() == "Seleccionar Género") {
            $("#GeneroAlert").show();
        }
        else {
            $("#GeneroAlert").hide();
        }
    }

    function VerificarSubservicio(){
        var subservicio = $("#SubServiceId").val();
        if(subservicio == null){
            MostrarMensaje("Error: Seleccione un subservicio", "Error", "Error", 60000);
            return;
        }

        var dataObject = {
            SubProductId: subservicio,
        }

        var cobro = $("#CobroPorTiempo").data("kendoSwitch");
        var cobroportiempo = cobro.check();

        $.ajax({
            url: '@Url.Action("GetProductoById", "SubProduct")',
            method: 'GET',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: dataObject,
            success: function (subproducto) {
                cobro.check(subproducto.CobroPorTiempo);
                
                debugger;
                if(subproducto.CobroPorTiempo){
                    $("#QuantityHours").attr("readonly", true);
                    calculateTotalHours();
                    //CalcularTiempo();


                }else{
                    $("#QuantityHours").attr("readonly", false);
                    $("#QuantityHours").value(0);
                
                }      
             
            },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 6000);
            }
        });
    
    }


    function calculateTotalHours() {

       
            

        
        var cobro = $("#CobroPorTiempo").data("kendoSwitch");
        var cobroportiempo = cobro.check();
        $("#QuantityHours").attr("readonly", cobroportiempo);
        if(!cobroportiempo){
            
            return;
        }
        var startTimePicker = $("#StartTime").data("kendoDateTimePicker");
        var endTimePicker = $("#EndTime").data("kendoDateTimePicker");


        var startTime = startTimePicker.value();
        var endTime = endTimePicker.value();

        if (startTime && endTime) {
            var timeDiff = endTime - startTime;
            var hours = timeDiff / (1000 * 60 * 60);

            $("#QuantityHours").val(hours.toFixed(2));
        }
    }



    //Validaciones
    function SoloLetras(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
        especiales = "8-37-39-46";

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }

    function SoloNumeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "1234567890";
        especiales = "8-37-39-46";

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }

    function SaveSubServicesWareHouse(e) {
          var notification = $("#notification").data("kendoNotification");
        //  console.log($("#StartTime").getKendoTimePicker().value().toJSON());
          var today = new Date();
          let fechaactual = String(today.getDate()).padStart(2, '0') + "/" + String(today.getMonth() + 1).padStart(2, '0') + "/" + today.getFullYear();
        let sttime = $("#StartTime").getKendoDateTimePicker().value().toJSON();  // fechaactual + " "+$("#StartTime").getKendoTimePicker().value().toJSON();
        let ettime = $("#EndTime").getKendoDateTimePicker().value().toJSON();    // fechaactual + " " + $("#EndTime").getKendoTimePicker().value().toJSON();
        let hours = $("#QuantityHours").val();
        var cobro = $("#CobroPorTiempo").data("kendoSwitch");
        var cobroportiempo = cobro.check();
        var serviciobrindadoid = $("#SubServicesWareHouseId").val();
        if (hours <= 0 && serviciobrindadoid !=0) {
            MostrarMensaje( "Error: La cantidad no puede ser menor o igual a cero " , "Error", "Error", 600000);
            return;
        }
        

				var dataObject = {
                    'SubServicesWareHouseId': $("#SubServicesWareHouseId").val(),
                    'CustomerId': $("#CustomerId").val(),
                    'CustomerName':$("#CustomerId").data("kendoDropDownList").text(),
                    'BranchId': $("#BranchId").val(),
                    'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                    'ServiceId': $("#ServiceId").val(),
                    'ServiceName': $("#ServiceId").data("kendoDropDownList").text(),
                    'SubServiceId': $("#SubServiceId").val(),
                    'SubServiceName': $("#SubServiceId").data("kendoDropDownList").text(),
                    'StartTime': sttime,
                    'EndTime': ettime,
                    'QuantityHours': hours,
                    'EmployeeId': $("#EmployeeId").val(), 
                    'IdEstado': $("#IdEstado").val(),
                    'Estado': $("#IdEstado").data("kendoDropDownList").text(),
                    'DocumentDate': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),
                    'Solicitante' : $("#Solicitante").val(),
                    'EmployeeId' : $("#EmployeeId").val(),
                    'EmployeeName': $("#EmployeeId").data("kendoDropDownList").text(), 
                    'Motivo' : $("#Motivo").val(),
                    'CobroPorTiempo':cobroportiempo,
            


				};

               var validator = $("#frmScheduleSubservices").data("kendoValidator");
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveSubServicesWareHouse", "SubServicesWareHouse")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {
                             MostrarMensaje('"Datos guardados correctamente.', "success", "Satisfactorio", 6000);
							RefrescarGrid();

                            $('#ModalScheduleSubservice').modal('hide');

                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                             MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 6000);
                        }
                    });

                }
                else {
                    $("#btnEmployees").prop("disabled", false);
                }



    }
</script>


