@model ERPMVC.DTO.SubServicesWareHouseDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
    // {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

	function customFunction(input) {

		if (input.attr('name') === "IdEmpleado" && input.val() === "0") {
			return false;
		}

	}
</script>




<div id="ModalScheduleSubservice" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Subservicios Bodegas</h4>
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmScheduleSubservices" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title"> Cobros de SubServicios por Horarios</h3>
                                        <hr>

                                        <div class="row">
                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="SubServicesWareHouseId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="SubServicesWareHouseId" name="ScheduleSubservicesId" class="form-control form-control-line" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="SubServicesWareHouseId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DocumentDate" class=" control-label" style="width:100%"></label>
                                                    <kendo-datetimepicker name="WorkDate"
                                                                          value="Model.DocumentDate"
                                                                          format="dd/MM/yyyy"
                                                                          style="width:100%;"
                                                                          data-val-required="La fecha es requerida" />
                                                    <span asp-validation-for="DocumentDate" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 col-md-4">
                                                <label asp-for="BranchId" class="control-label"></label>
                                                <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione Sucursal"
                                                                    datatextfield="BranchName"
                                                                    datavaluefield="BranchId"
                                                                    enable="false"
                                                                    required
                                                                    auto-bind="true"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" page-size="99999999">
                                                        <transport>
                                                            <read url="@Url.Action("GetBranchActivos", "Branch")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="BranchId" class="text-danger"></span>
                                            </div>                                                                                       
                                        </div>

                                        <div class="row">



                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <script>
                                                        function GetSubProducts() {

                                                            $("#SubServiceId").data("kendoDropDownList").dataSource.read();
                                                        }


                                                    </script>
                                                    <label asp-for="ServiceId" class="control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="ServiceId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        for="ServiceId"
                                                                        onchange="GetSubProducts()"
                                                                        option-label="Seleccione el Producto"
                                                                        datatextfield="ProductName"
                                                                        datavaluefield="ProductId"
                                                                        data-val-required="El servicio es requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="999999999">
                                                            <transport>
                                                                <read url="@Url.Action("GetProductActivos", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="ServiceId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="SubServiceId" class=" control-label" style="width:100%">SubServicio</label>
                                                    <div class="form-group">
                                                        <script>

                                                            
                                                            function GetProductIdS() {
                                                                return { 'ProductId': $("#ServiceId").val() }
                                                            }
                                                        </script>

                                                        <kendo-dropdownlist name="SubServiceId"
                                                                            for="SubServiceId"
                                                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Seleccione el sub servicio"
                                                                            data-val-required="El sub servicio es requerido"
                                                                            auto-bind="false"
                                                                            datatextfield="ProductName"
                                                                            datavaluefield="SubproductId"
                                                                            style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="99999999">
                                                                <transport>
                                                                    <read url="@Url.Action("GetSubProductByProductIdRelationActivos", "ProductRelation")" data="GetProductIdS" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>

                                                        <span asp-validation-for="SubServiceId" class="text-danger"></span>
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class=" control-label" style="width:100%">Cliente</label>
                                                <kendo-dropdownlist name="CustomerIdSeleccion"
                                                                    for="CustomerId"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione el cliente"
                                                                    datatextfield="CustomerName"
                                                                    datavaluefield="CustomerId"
                                                                    data-val-required="El cliente es requerido"
                                                                    class="form-control-line"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                        <transport>
                                                            <read url="@Url.Action("GetCustomerActivos", "Common")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="CustomerId" class="text-danger"></span>
                                            </div>

                                        </div>

                                            <div class="row">
                                                <div class="col-md-4">

                                                    @*<label asp-for="Transport" class="control-label" style="width: 100%;"></label>
                                                    @(Html.Kendo().SwitchFor(m => m.Transport).Name("Transport")

                                                    )*@

                                                </div>
                                                <div class="col-md-4">
                                                    <script>
                                                        function GrupoConfiguracionCondicionLogica() {
                                                            return { Id: 10 };
                                                        }
                                                    </script>
                                                    @*<div class="form-group">
                                                        <label asp-for="LogicalConditionId" class="  control-label" style="width:100%"></label>

                                                        <kendo-dropdownlist name="LogicalConditionId"
                                                                            for="LogicalConditionId"
                                                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Seleccione la condición logica"
                                                                            datatextfield="Nombre"
                                                                            datavaluefield="Id"
                                                                            style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999999">
                                                                <transport>
                                                                    <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GrupoConfiguracionCondicionLogica" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                        <span asp-validation-for="LogicalConditionId" class="text-danger"></span>
                                                    </div>*@
                                                </div>

                                                @*<div class="col-sm-4 col-md-4">
                                                    <div class="form-group">
                                                     
                                                    </div>
                                                </div>*@

                                            </div>


                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="StartTime" class=" control-label" style="width:100%"></label>
                                                        <kendo-timepicker name="StartTime"
                                                                          value="Model.StartTime"
                                                                          format="HH:mm:ss"
                                                                          style="width:100%;"
                                                                          data-val-required="La hora inicio es requerida" />
                                                        <span asp-validation-for="StartTime" class="text-danger"></span>
                                                    </div>
                                                    <script>
                                                        $(document).ready(function () {
                                                            $("#dateinput").kendoDateInput();
                                                        });
                                                    </script>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="EndTime" class=" control-label" style="width:100%"></label>
                                                        <kendo-timepicker name="EndTime"
                                                                          value="Model.EndTime"
                                                                          format="HH:mm:ss"
                                                                          style="width:100%;"
                                                                          data-val-required="La hora fin es requerida" />
                                                        <span asp-validation-for="EndTime" class="text-danger"></span>
                                                    </div>
                                                    <script>
                                                        $(document).ready(function () {
                                                            $("#dateinput").kendoDateInput();
                                                        });
                                                    </script>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="IdEstado" class="control-label"></label>
                                                        <kendo-dropdownlist name="IdEstado" style="width:100%;"
                                                                             required data-required-msg="El estado es requerido"                
                                                                            for="IdEstado"
                                                                            option-label="Seleccionar Estado"
                                                                            id="IdEstado"                                                                           
                                                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            datatextfield="NombreEstado"
                                                                            datavaluefield="IdEstado">
                                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                                <transport>
                                                                    <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                        <span asp-validation-for="IdEstado" class="text-danger"></span>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                @*<div class=" col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="FactorHora" class="control-label" style="width: 100%;"></label>
                                                        <kendo-numerictextbox name="FactorHora"
                                                                              format="n2"
                                                                              min="0"
                                                                              max="99999999"
                                                                              step="1"
                                                                              style="width: 100%;"
                                                                              for="FactorHora"></kendo-numerictextbox>
                                                        <span asp-validation-for="FactorHora" class="text-danger"></span>
                                                    </div>
                                                </div>*@
                                                
                                            </div>
                                       
                                            @*<div class="row">

                                                <div class=" col-md-12">
                                                    <div class="form-group">
                                                        <label asp-for="Description" class="control-label" style="width: 100%;"></label>
                                                        <textarea id="Description" required class="form-control" style="min-width:100%;" asp-for="Description"></textarea>
                                                    </div>
                                                </div>
                                            </div>*@

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnEmployees" class="form-control btn-miboton" onclick="SaveSubServicesWareHouse(this);"> Guardar </button>
                                            </div>
                                        </div>
</form>

                                @*<div id="numEmployeesExtraHoursDetail">
                                    @await Html.PartialAsync("pvwAddScheduleSubServicesDetail", new ERPMVC.DTO.PaymentScheduleRulesByCustomerDTO { PaymentScheduleRulesByCustomerId = 0 })
                                </div>*@


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>




    function validarGenero() {
        var Genero = $("#Genero").val();
       // console.log("Valor Genero", Genero);
        if (Genero == 0 || $("#Genero").data("kendoDropDownList").text() == "Seleccionar Género") {
            $("#GeneroAlert").show();
        }
        else {
            $("#GeneroAlert").hide();
        }
    }



    //Validaciones
    function SoloLetras(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
        especiales = "8-37-39-46";

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }

    function SoloNumeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "1234567890";
        especiales = "8-37-39-46";

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }

    function SaveSubServicesWareHouse(e) {
          var notification = $("#notification").data("kendoNotification");
        //  console.log($("#StartTime").getKendoTimePicker().value().toJSON());
          var today = new Date();
          let fechaactual = String(today.getDate()).padStart(2, '0') + "/" + String(today.getMonth() + 1).padStart(2, '0') + "/" + today.getFullYear();
        let sttime = $("#StartTime").getKendoTimePicker().value().toJSON();  // fechaactual + " "+$("#StartTime").getKendoTimePicker().value().toJSON();
        let ettime = $("#EndTime").getKendoTimePicker().value().toJSON();    // fechaactual + " " + $("#EndTime").getKendoTimePicker().value().toJSON();

				var dataObject = {
                    'SubServicesWareHouseId': $("#SubServicesWareHouseId").val(),
                    'CustomerId': $("#CustomerId").val(),
                    'CustomerName': $("#CustomerName").val(),
                    'BranchId': $("#BranchId").val(),
                    'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                   // 'WareHouseId': $("#WareHouseId").val(),
                   // 'WareHouseName': $("#WareHouseId").data("kendoDropDownList").text(),
                    'ServiceId': $("#ServiceId").val(),
                    'ServiceName': $("#ServiceId").data("kendoDropDownList").text(),
                    'SubServiceId': $("#SubServiceId").val(),
                    'SubServiceName': $("#SubServiceId").data("kendoDropDownList").text(),
                    'StartTime': $("#StartTime").val(),
                    'EndTime': $("#EndTime").val(),
                    'QuantityHours': $("#QuantityHours").val(),
                    'EmployeeId': $("#EmployeeId").val(),
                   // 'EmployeeName': $("#EmployeeId").data("kendoDropDownList").text(), 
                    'IdEstado': $("#IdEstado").val(),
                    'Estado': $("#IdEstado").data("kendoDropDownList").text(), 
                    'DocumentDate': $("#DocumentDate").val(),
				};

               var validator = $("#frmScheduleSubservices").data("kendoValidator");
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveSubServicesWareHouse", "SubServicesWareHouse")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {
							//$.toast({
       //                         heading: 'Satisfactorio',
       //                         text: ' Datos guardados correctamente.',
       //                         position: 'top-right',
       //                         loaderBg: '#ff6849',
       //                         icon: 'success',
       //                         hideAfter: 30000,
       //                         stack: 6
       //                     });
                             MostrarMensaje('"Datos guardados correctamente.', "success", "Satisfactorio", 6000);
							RefrescarGrid();

                            $('#ModalScheduleSubservice').modal('hide');

                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            //notification.show({
                            //    title: "Validación",
                            //    message: textStatus + ": " + XMLHttpRequest.responseText
                            //}, "error");
                             MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 6000);
                        }
                    });

                }
                else {
                    $("#btnEmployees").prop("disabled", false);
                }



    }
</script>


