
@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "Control de Asistencias";

    var ElementoConfiguracion = ViewData["ElementoConfiguracion"] as IEnumerable<ERPMVC.Models.ElementoConfiguracion>;
    var today = DateTime.Now.ToString("dd/MM/yyyy 00:00", new System.Globalization.CultureInfo("es-ES"));
}





<script>

    


    $('document').ready(function () {

        var meses = [
            "Enero", "Febrero", "Marzo",
            "Abril", "Mayo", "Junio", "Julio",
            "Agosto", "Septiembre", "Octubre",
            "Noviembre", "Diciembre"
        ]

        var date = new Date();
        var mes = date.getMonth();
        console.log(mes)
        var yyy = date.getFullYear();
        var fecha_formateada = ' de ' + meses[mes] + ' de ' + yyy;

        $("#TituloControl").html("Control de Asistencias" + fecha_formateada);
    });



    function AsistenciasGet() {
        var meses = ["",
            "Enero", "Febrero", "Marzo",
            "Abril", "Mayo", "Junio", "Julio",
            "Agosto", "Septiembre", "Octubre",
            "Noviembre", "Diciembre"
        ]

        var titulo = $("#monthpicker").getKendoDatePicker().value().toJSON()
        var encabezado = titulo.split("-");
        var teyearPiker = encabezado[0];
        var temonthpiker = encabezado[1];
        var tmes = parseInt(temonthpiker);

        $("#TituloControl").html("Control de Asistencias de "  + meses[tmes] + " de " + teyearPiker);

        LLenarTabla()


    }


    

     function LLenarTabla() {
         var datepikerselect = $("#monthpicker").getKendoDatePicker().value().toJSON()
         var datePikerarray = datepikerselect.split("-");
         //console.log(datePikerarray + " Piker")
         var yearPiker = datePikerarray[0];
         var monthpiker = datePikerarray[1];
         var daypiker = datePikerarray[2].substring(0, 2); // datepiker
         var primero = ("01" + "-" + monthpiker + "-" + yearPiker)
         var fechadatepiker = parseFloat(yearPiker + monthpiker + daypiker)
         console.log(fechadatepiker)


         //--------------------------------- INPUT FECHA ACTUAL--------------------------------------------------

         var inputToday = $("#FechaActual").val();
         var inputrarray = inputToday.split("/");
         //console.log(inputrarray + " inputToday")
         var yearInput = inputrarray[2].substring(0, 4);
         var monthInput = inputrarray[1];
         var dayInput = inputrarray[0];
         var actual = (yearInput + "-" + monthInput + "-" + dayInput)
         var fechainput = parseFloat(yearInput + monthInput + dayInput)
         console.log(fechainput)

         //var _UltimoMes = new Date(p1h, p2h, 0).getDate();

         var columndisable = daypiker;
         //columndisable = 14;

         if (parseInt(fechadatepiker) > parseInt(fechainput)) {

             alert("Mes aun no disponible")
             return false;
         }

         else {

            $.ajax({
            url: '@Url.Action("GetGetControlAsistencias", "ControlAsistencias")',
            method: 'GET',
            datatype: "json",
            contentType: 'application/json',
            async: false,
                data: { 'datepikerselect': datepikerselect},
                                success: function (data) {
                                    var grid = $("#gridControlAsistencia").getKendoGrid();
                                    var datasource = grid.dataSource;
                                    var raw = datasource._data;
                                    for (i = datasource._data.length - 1; i >= 0; i--) {
                                        var item = raw[i];
                                        datasource.remove(item);
                                    }
                                    for (var i = 0; i < data.Data.length; i++) {
                                       // data.sort({ field: "NombreEmpleado", dir: "asc" });
                                        datasource.insert(data.Data[i]);



                                        

                                    }


                                   


                                    var gridControlAsistencias = $("#gridControlAsistencia").data().kendoGrid.dataSource.data();
                                    if (gridControlAsistencias.length > 0) {

                                    //--------------------Llamar funcion----------Title Letra por dia ejempl  "V-1" ------------------------------------
                                        InicialesLetras()
                                    //-------------------------------------------------------------------------------------------------------------------
                                        enables()


                                    }





                                    else {

                                    }
                                },
                                //error: function (XMLHttpRequest, textStatus, errorThrown) {

                                //    notification.show({
                                //        title: "Validación",
                                //        message: textStatus + ": " + XMLHttpRequest.responseText
                                //    }, "error");

                                //}
         });


         }


    }


    function InicialesLetras() {
        var grids = $("#gridControlAsistencia").data("kendoGrid");

        var datas = grids.dataItem("tr:eq(0)");
        $("#gridControlAsistencia thead [data-field=Dia1TA] .k-link").html(datas.LetraD1 + "<br />" + " 1")
        $("#gridControlAsistencia thead [data-field=Dia2TA] .k-link").html(datas.LetraD2 + "<br />" + " 2")
        $("#gridControlAsistencia thead [data-field=Dia3TA] .k-link").html(datas.LetraD3 + "<br />" + " 3")
        $("#gridControlAsistencia thead [data-field=Dia4TA] .k-link").html(datas.LetraD4 + "<br />" + " 4")
        $("#gridControlAsistencia thead [data-field=Dia5TA] .k-link").html(datas.LetraD5 + "<br />" + " 5")
        $("#gridControlAsistencia thead [data-field=Dia6TA] .k-link").html(datas.LetraD6 + "<br />" + " 6")
        $("#gridControlAsistencia thead [data-field=Dia7TA] .k-link").html(datas.LetraD7 + "<br />" + " 7")
        $("#gridControlAsistencia thead [data-field=Dia8TA] .k-link").html(datas.LetraD8 + "<br />" + " 8")
        $("#gridControlAsistencia thead [data-field=Dia9TA] .k-link").html(datas.LetraD9 + "<br />" + " 9")
        $("#gridControlAsistencia thead [data-field=Dia10TA] .k-link").html(datas.LetraD10 + "<br />" + " 10")
        $("#gridControlAsistencia thead [data-field=Dia11TA] .k-link").html(datas.LetraD11 + "<br />" + " 11")
        $("#gridControlAsistencia thead [data-field=Dia12TA] .k-link").html(datas.LetraD12 + "<br />" + " 12")
        $("#gridControlAsistencia thead [data-field=Dia13TA] .k-link").html(datas.LetraD13 + "<br />" + " 13")
        $("#gridControlAsistencia thead [data-field=Dia14TA] .k-link").html(datas.LetraD14 + "<br />" + " 14")
        $("#gridControlAsistencia thead [data-field=Dia15TA] .k-link").html(datas.LetraD15 + "<br />" + " 15")
        $("#gridControlAsistencia thead [data-field=Dia16TA] .k-link").html(datas.LetraD16 + "<br />" + " 16")
        $("#gridControlAsistencia thead [data-field=Dia17TA] .k-link").html(datas.LetraD17 + "<br />" + " 17")
        $("#gridControlAsistencia thead [data-field=Dia18TA] .k-link").html(datas.LetraD18 + "<br />" + " 18")
        $("#gridControlAsistencia thead [data-field=Dia19TA] .k-link").html(datas.LetraD19 + "<br />" + " 19")
        $("#gridControlAsistencia thead [data-field=Dia20TA] .k-link").html(datas.LetraD20 + "<br />" + " 20")
        $("#gridControlAsistencia thead [data-field=Dia21TA] .k-link").html(datas.LetraD21 + "<br />" + " 21")
        $("#gridControlAsistencia thead [data-field=Dia22TA] .k-link").html(datas.LetraD22 + "<br />" + " 22")
        $("#gridControlAsistencia thead [data-field=Dia23TA] .k-link").html(datas.LetraD23 + "<br />" + " 23")
        $("#gridControlAsistencia thead [data-field=Dia24TA] .k-link").html(datas.LetraD24 + "<br />" + " 24")
        $("#gridControlAsistencia thead [data-field=Dia25TA] .k-link").html(datas.LetraD25 + "<br />" + " 25")
        $("#gridControlAsistencia thead [data-field=Dia26TA] .k-link").html(datas.LetraD26 + "<br />" + " 26")
        $("#gridControlAsistencia thead [data-field=Dia27TA] .k-link").html(datas.LetraD27 + "<br />" + " 27")
        $("#gridControlAsistencia thead [data-field=Dia28TA] .k-link").html(datas.LetraD28 + "<br />" + " 28")
        $("#gridControlAsistencia thead [data-field=Dia29TA] .k-link").html(datas.LetraD29 + "<br />" + " 29")
        $("#gridControlAsistencia thead [data-field=Dia30TA] .k-link").html(datas.LetraD30 + "<br />" + " 30")
        $("#gridControlAsistencia thead [data-field=Dia31TA] .k-link").html(datas.LetraD31 + "<br />" + " 31")
        $("#gridControlAsistencia thead [data-field=LlegadasTarde] .k-link").html("Llegadas" + "<br />" + " Tarde")
        $("#gridControlAsistencia thead [data-field=DiasLaborales] .k-link").html("Días" + "<br />" + "Laborales")
        $("#gridControlAsistencia thead [data-field=PorcentajeLlegadasTarde] .k-link").html("% de Llegadas" + "<br />" + " Tarde")
    }

    function CargadoData() {
        debugger;
        kendo.ui.progress($("#gridControlAsistencia"), true);
        setTimeout(function () {
            kendo.ui.progress($("#gridControlAsistencia"), false);
        }, 1000);

    }

    function OcultarColumnaFecha() {
        var datepikerselect = $("#monthpicker").getKendoDatePicker().value().toJSON()
        var datePikerarray = datepikerselect.split("-");
        //console.log(datePikerarray + " Piker")
        var yearPiker = datePikerarray[0];
        var monthpiker = datePikerarray[1];
        var daypiker = datePikerarray[2].substring(0, 2); // datepiker
        var primero = ("01" + "-" + monthpiker + "-" + yearPiker)
        var fechadatepiker = parseFloat(yearPiker + monthpiker + daypiker)
        console.log(fechadatepiker)

        var _UltimoMes = new Date(yearPiker, monthpiker, 0).getDate();
        console.log(_UltimoMes);
        var grids = $("#gridControlAsistencia").data("kendoGrid");

        if (_UltimoMes == 28) {
            grids.hideColumn(29);
            grids.hideColumn(30);
            grids.hideColumn(31);
            grids.showColumn(32);
        } else if (_UltimoMes == 29) {
            grids.showColumn(30);
            grids.hideColumn(31);
            grids.hideColumn(32);
        } else if (_UltimoMes == 30) {
            grids.showColumn(30);
            grids.showColumn(31);
            grids.hideColumn(32);
        } if (_UltimoMes == 31) {
            //alert("Rock");
            grids.showColumn(30);
            grids.showColumn(31);
            grids.showColumn(32);
         }


    }

    function DataBoundEnabled() {

        var datepikerselect = $("#monthpicker").getKendoDatePicker().value().toJSON()
        var datePikerarray = datepikerselect.split("-");
        //console.log(datePikerarray + " Piker")
        var yearPiker = datePikerarray[0];
        var monthpiker = datePikerarray[1];
        var daypiker = datePikerarray[2].substring(0, 2); // datepiker
        var primero = ("01" + "-" + monthpiker + "-" + yearPiker)
        var fechadatepiker = parseFloat(yearPiker + monthpiker + daypiker)

        var inputToday = $("#FechaActual").val();
        var inputrarray = inputToday.split("/");
        //console.log(inputrarray + " inputToday")
        var yearInput = inputrarray[2].substring(0, 4);
        var monthInput = inputrarray[1];
        var dayInput = inputrarray[0];
        var actual = (yearInput + "-" + monthInput + "-" + dayInput)
        var fechainput = parseFloat(yearInput + monthInput + dayInput)

        
        if (parseInt(fechadatepiker) == parseInt(fechainput)) {

            enables()
            InicialesLetras()
            OcultarColumnaFecha
        }
        else {
            

        }



    }


    function enables() {
        debugger;
        var datepikerselect = $("#monthpicker").getKendoDatePicker().value().toJSON()
        var datePikerarray = datepikerselect.split("-");
        //console.log(datePikerarray + " Piker")
        var yearPiker = datePikerarray[0];
        var monthpiker = datePikerarray[1];
        var daypiker = datePikerarray[2].substring(0, 2); // datepiker
        var primero = ("01" + "-" + monthpiker + "-" + yearPiker)
        var fechadatepiker = parseFloat(yearPiker + monthpiker + daypiker)
        
        var inputToday = $("#FechaActual").val();
        var inputrarray = inputToday.split("/");
        //console.log(inputrarray + " inputToday")
        var yearInput = inputrarray[2].substring(0, 4);
        var monthInput = inputrarray[1];
        var dayInput = inputrarray[0];
        var actual = (yearInput + "-" + monthInput + "-" + dayInput)
        var fechainput = parseFloat(yearInput + monthInput + dayInput)
        
        var columndisable = 0;
        if (parseInt(fechadatepiker) > parseInt(fechainput)) {
          
            columndisable = 31
        }
        else {
            columndisable = parseInt(dayInput)
           
        }

        
        
        var noEdit = false;
        var siEdit = true;
        var grid = $("#gridControlAsistencia").data("kendoGrid");

        var len = $("#gridControlAsistencia").length;
        for (var i = 0; i <= len; i++) {
            var model = $("#gridControlAsistencia").data("kendoGrid").dataSource.at(i);
            if (model) {

                var ncolumn = columndisable;

                if (ncolumn == 1) {
                    model.fields["Dia1TA"].editable = siEdit;
                }
                if (ncolumn == 2) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit;
                }              
                if (ncolumn == 3) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                }
                if (ncolumn == 4) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                                        model.fields["Dia4TA"].editable = siEdit;}
                if (ncolumn == 5) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit;
                }
                if (ncolumn == 6) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                }
                if (ncolumn == 7) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit;
                }
                if (ncolumn == 8) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit;
                }
                if (ncolumn == 9) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                }
                if (ncolumn == 10) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit;
                }
                if (ncolumn == 11) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit;
                }
                if (ncolumn == 12) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                }
                if (ncolumn == 13) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                    model.fields["Dia13TA"].editable = siEdit;
                }
                if (ncolumn == 14) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                    model.fields["Dia13TA"].editable = siEdit; model.fields["Dia14TA"].editable = siEdit;
                }
                if (ncolumn == 15) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                    model.fields["Dia13TA"].editable = siEdit; model.fields["Dia14TA"].editable = siEdit; model.fields["Dia15TA"].editable = siEdit;
                }
                if (ncolumn == 16) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                    model.fields["Dia13TA"].editable = siEdit; model.fields["Dia14TA"].editable = siEdit; model.fields["Dia15TA"].editable = siEdit;
                    model.fields["Dia16TA"].editable = siEdit;
                }
                if (ncolumn == 17) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                    model.fields["Dia13TA"].editable = siEdit; model.fields["Dia14TA"].editable = siEdit; model.fields["Dia15TA"].editable = siEdit;
                    model.fields["Dia16TA"].editable = siEdit; model.fields["Dia17TA"].editable = siEdit;
                }
                if (ncolumn == 18) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                    model.fields["Dia13TA"].editable = siEdit; model.fields["Dia14TA"].editable = siEdit; model.fields["Dia15TA"].editable = siEdit;
                    model.fields["Dia16TA"].editable = siEdit; model.fields["Dia17TA"].editable = siEdit; model.fields["Dia18TA"].editable = siEdit;
                }
                if (ncolumn == 19) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                    model.fields["Dia13TA"].editable = siEdit; model.fields["Dia14TA"].editable = siEdit; model.fields["Dia15TA"].editable = siEdit;
                    model.fields["Dia16TA"].editable = siEdit; model.fields["Dia17TA"].editable = siEdit; model.fields["Dia18TA"].editable = siEdit;
                    model.fields["Dia19TA"].editable = siEdit;
                }
                if (ncolumn == 20) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                    model.fields["Dia13TA"].editable = siEdit; model.fields["Dia14TA"].editable = siEdit; model.fields["Dia15TA"].editable = siEdit;
                    model.fields["Dia16TA"].editable = siEdit; model.fields["Dia17TA"].editable = siEdit; model.fields["Dia18TA"].editable = siEdit;
                    model.fields["Dia19TA"].editable = siEdit; model.fields["Dia20TA"].editable = siEdit;
                }
                if (ncolumn == 21) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                    model.fields["Dia13TA"].editable = siEdit; model.fields["Dia14TA"].editable = siEdit; model.fields["Dia15TA"].editable = siEdit;
                    model.fields["Dia16TA"].editable = siEdit; model.fields["Dia17TA"].editable = siEdit; model.fields["Dia18TA"].editable = siEdit;
                    model.fields["Dia19TA"].editable = siEdit; model.fields["Dia20TA"].editable = siEdit; model.fields["Dia21TA"].editable = siEdit;
                }
                if (ncolumn == 22) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                    model.fields["Dia13TA"].editable = siEdit; model.fields["Dia14TA"].editable = siEdit; model.fields["Dia15TA"].editable = siEdit;
                    model.fields["Dia16TA"].editable = siEdit; model.fields["Dia17TA"].editable = siEdit; model.fields["Dia18TA"].editable = siEdit;
                    model.fields["Dia19TA"].editable = siEdit; model.fields["Dia20TA"].editable = siEdit; model.fields["Dia21TA"].editable = siEdit;
                    model.fields["Dia22TA"].editable = siEdit;
                }
                if (ncolumn == 23) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                    model.fields["Dia13TA"].editable = siEdit; model.fields["Dia14TA"].editable = siEdit; model.fields["Dia15TA"].editable = siEdit;
                    model.fields["Dia16TA"].editable = siEdit; model.fields["Dia17TA"].editable = siEdit; model.fields["Dia18TA"].editable = siEdit;
                    model.fields["Dia19TA"].editable = siEdit; model.fields["Dia20TA"].editable = siEdit; model.fields["Dia21TA"].editable = siEdit;
                    model.fields["Dia22TA"].editable = siEdit; model.fields["Dia23TA"].editable = siEdit;
                }
                if (ncolumn == 24) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                    model.fields["Dia13TA"].editable = siEdit; model.fields["Dia14TA"].editable = siEdit; model.fields["Dia15TA"].editable = siEdit;
                    model.fields["Dia16TA"].editable = siEdit; model.fields["Dia17TA"].editable = siEdit; model.fields["Dia18TA"].editable = siEdit;
                    model.fields["Dia19TA"].editable = siEdit; model.fields["Dia20TA"].editable = siEdit; model.fields["Dia21TA"].editable = siEdit;
                    model.fields["Dia22TA"].editable = siEdit; model.fields["Dia23TA"].editable = siEdit; model.fields["Dia24TA"].editable = siEdit;
                }
                if (ncolumn == 25) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                    model.fields["Dia13TA"].editable = siEdit; model.fields["Dia14TA"].editable = siEdit; model.fields["Dia15TA"].editable = siEdit;
                    model.fields["Dia16TA"].editable = siEdit; model.fields["Dia17TA"].editable = siEdit; model.fields["Dia18TA"].editable = siEdit;
                    model.fields["Dia19TA"].editable = siEdit; model.fields["Dia20TA"].editable = siEdit; model.fields["Dia21TA"].editable = siEdit;
                    model.fields["Dia22TA"].editable = siEdit; model.fields["Dia23TA"].editable = siEdit; model.fields["Dia24TA"].editable = siEdit;
                    model.fields["Dia25TA"].editable = siEdit; 
                }
                if (ncolumn == 26) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                    model.fields["Dia13TA"].editable = siEdit; model.fields["Dia14TA"].editable = siEdit; model.fields["Dia15TA"].editable = siEdit;
                    model.fields["Dia16TA"].editable = siEdit; model.fields["Dia17TA"].editable = siEdit; model.fields["Dia18TA"].editable = siEdit;
                    model.fields["Dia19TA"].editable = siEdit; model.fields["Dia20TA"].editable = siEdit; model.fields["Dia21TA"].editable = siEdit;
                    model.fields["Dia22TA"].editable = siEdit; model.fields["Dia23TA"].editable = siEdit; model.fields["Dia24TA"].editable = siEdit;
                    model.fields["Dia25TA"].editable = siEdit; model.fields["Dia26TA"].editable = siEdit;
                }
                if (ncolumn == 27) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                    model.fields["Dia13TA"].editable = siEdit; model.fields["Dia14TA"].editable = siEdit; model.fields["Dia15TA"].editable = siEdit;
                    model.fields["Dia16TA"].editable = siEdit; model.fields["Dia17TA"].editable = siEdit; model.fields["Dia18TA"].editable = siEdit;
                    model.fields["Dia19TA"].editable = siEdit; model.fields["Dia20TA"].editable = siEdit; model.fields["Dia21TA"].editable = siEdit;
                    model.fields["Dia22TA"].editable = siEdit; model.fields["Dia23TA"].editable = siEdit; model.fields["Dia24TA"].editable = siEdit;
                    model.fields["Dia25TA"].editable = siEdit; model.fields["Dia26TA"].editable = siEdit; model.fields["Dia27TA"].editable = siEdit;
                }
                if (ncolumn == 28) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                    model.fields["Dia13TA"].editable = siEdit; model.fields["Dia14TA"].editable = siEdit; model.fields["Dia15TA"].editable = siEdit;
                    model.fields["Dia16TA"].editable = siEdit; model.fields["Dia17TA"].editable = siEdit; model.fields["Dia18TA"].editable = siEdit;
                    model.fields["Dia19TA"].editable = siEdit; model.fields["Dia20TA"].editable = siEdit; model.fields["Dia21TA"].editable = siEdit;
                    model.fields["Dia22TA"].editable = siEdit; model.fields["Dia23TA"].editable = siEdit; model.fields["Dia24TA"].editable = siEdit;
                    model.fields["Dia25TA"].editable = siEdit; model.fields["Dia26TA"].editable = siEdit; model.fields["Dia27TA"].editable = siEdit;
                    model.fields["Dia28TA"].editable = siEdit;
                }
                if (ncolumn == 29) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                    model.fields["Dia13TA"].editable = siEdit; model.fields["Dia14TA"].editable = siEdit; model.fields["Dia15TA"].editable = siEdit;
                    model.fields["Dia16TA"].editable = siEdit; model.fields["Dia17TA"].editable = siEdit; model.fields["Dia18TA"].editable = siEdit;
                    model.fields["Dia19TA"].editable = siEdit; model.fields["Dia20TA"].editable = siEdit; model.fields["Dia21TA"].editable = siEdit;
                    model.fields["Dia22TA"].editable = siEdit; model.fields["Dia23TA"].editable = siEdit; model.fields["Dia24TA"].editable = siEdit;
                    model.fields["Dia25TA"].editable = siEdit; model.fields["Dia26TA"].editable = siEdit; model.fields["Dia27TA"].editable = siEdit;
                    model.fields["Dia28TA"].editable = siEdit; model.fields["Dia29TA"].editable = siEdit;
                }
                if (ncolumn == 30) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                    model.fields["Dia13TA"].editable = siEdit; model.fields["Dia14TA"].editable = siEdit; model.fields["Dia15TA"].editable = siEdit;
                    model.fields["Dia16TA"].editable = siEdit; model.fields["Dia17TA"].editable = siEdit; model.fields["Dia18TA"].editable = siEdit;
                    model.fields["Dia19TA"].editable = siEdit; model.fields["Dia20TA"].editable = siEdit; model.fields["Dia21TA"].editable = siEdit;
                    model.fields["Dia22TA"].editable = siEdit; model.fields["Dia23TA"].editable = siEdit; model.fields["Dia24TA"].editable = siEdit;
                    model.fields["Dia25TA"].editable = siEdit; model.fields["Dia26TA"].editable = siEdit; model.fields["Dia27TA"].editable = siEdit;
                    model.fields["Dia28TA"].editable = siEdit; model.fields["Dia29TA"].editable = siEdit; model.fields["Dia30TA"].editable = siEdit;
                }
                if (ncolumn == 31) {
                    model.fields["Dia1TA"].editable = siEdit; model.fields["Dia2TA"].editable = siEdit; model.fields["Dia3TA"].editable = siEdit;
                    model.fields["Dia4TA"].editable = siEdit; model.fields["Dia5TA"].editable = siEdit; model.fields["Dia6TA"].editable = siEdit;
                    model.fields["Dia7TA"].editable = siEdit; model.fields["Dia8TA"].editable = siEdit; model.fields["Dia9TA"].editable = siEdit;
                    model.fields["Dia10TA"].editable = siEdit; model.fields["Dia11TA"].editable = siEdit; model.fields["Dia12TA"].editable = siEdit;
                    model.fields["Dia13TA"].editable = siEdit; model.fields["Dia14TA"].editable = siEdit; model.fields["Dia15TA"].editable = siEdit;
                    model.fields["Dia16TA"].editable = siEdit; model.fields["Dia17TA"].editable = siEdit; model.fields["Dia18TA"].editable = siEdit;
                    model.fields["Dia19TA"].editable = siEdit; model.fields["Dia20TA"].editable = siEdit; model.fields["Dia21TA"].editable = siEdit;
                    model.fields["Dia22TA"].editable = siEdit; model.fields["Dia23TA"].editable = siEdit; model.fields["Dia24TA"].editable = siEdit;
                    model.fields["Dia25TA"].editable = siEdit; model.fields["Dia26TA"].editable = siEdit; model.fields["Dia27TA"].editable = siEdit;
                    model.fields["Dia28TA"].editable = siEdit; model.fields["Dia29TA"].editable = siEdit; model.fields["Dia30TA"].editable = siEdit;
                    model.fields["Dia31TA"].editable = siEdit;
                }




                







                
            }
        }

    }


</script>





<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="TituloControl" class="modal-title"> </h4>
        </div>
        <div class="modal-body">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label style="width:100%">Seleccione Mes y Año </label>
                            @(Html.Kendo().DatePicker()
                                                                                  .Name("monthpicker")
                                                                                  .Start(CalendarView.Year)
                                                                                  .Depth(CalendarView.Year)
                                                                                  .Format("MMMM yyyy")
                                                                                  .Value(@today)
                                                                                  .DateInput()
                                                                                  .HtmlAttributes(new { style = "width: 100%", title = "monthpicker" })

                                    /*.Events(e => e.Change("monthpicker_change"))*/

                            )
                            <input id="FechaActual" type="text" value="@today" style="visibility:hidden" />

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label style="width:100%"></label>
                            <button type="button" id="GetAsistencias" class="form-control btn-miboton" onclick="AsistenciasGet(); CargadoData();">Listar Asistencia</button>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="text-themecolor"></h3>

            @* Grid *@

            @(Html.Kendo().Grid<ERPMVC.DTO.ControlAsistenciasDTO>()
                                                                                  .Name("gridControlAsistencia")
                                                                                  .Columns(columns =>
                                                                                  {
                                                                                      columns.Command(command =>
                                                                                      {
                                                                                      //   command.Custom("Ver detalles").Click("Detalles");
                                                                                      command.Edit().Text(" ").IconClass("fa fa-edit").UpdateText(" ").CancelText(" ");
                                                                                      //command.Destroy().Text(" ").IconClass("fa fa-trash");
                                                                                  }).Locked(true).Lockable(false).Width(150).Locked(true).Title("Acciones");
                                                                                      columns.Bound(p => p.EmployeesId).Width(100).Visible(false);
                                                                                      columns.Bound(p => p.Empleado.NombreEmpleado).Title("Nombre del Empleado").Locked(true).Lockable(false).Width(250);
                                                                                      columns.ForeignKey(p => p.Dia1TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("1").Width(50).HtmlAttributes(new { @style = "background:#=ColorD1#;color:black;" })/*.Editable("cabo")*/;
                                                                                      columns.ForeignKey(p => p.Dia2TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("2").Width(50).HtmlAttributes(new { @style = "background:#=ColorD2#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia3TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("3").Width(50).HtmlAttributes(new { @style = "background:#=ColorD3#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia4TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("4").Width(50).HtmlAttributes(new { @style = "background:#=ColorD4#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia5TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("5").Width(50).HtmlAttributes(new { @style = "background:#=ColorD5#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia6TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("6").Width(50).HtmlAttributes(new { @style = "background:#=ColorD6#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia7TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("7").Width(50).HtmlAttributes(new { @style = "background:#=ColorD7#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia8TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("8").Width(50).HtmlAttributes(new { @style = "background:#=ColorD8#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia9TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("9").Width(50).HtmlAttributes(new { @style = "background:#=ColorD9#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia10TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("10").Width(50).HtmlAttributes(new { @style = "background:#=ColorD10#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia11TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("11").Width(50).HtmlAttributes(new { @style = "background:#=ColorD11#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia12TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("12").Width(50).HtmlAttributes(new { @style = "background:#=ColorD12#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia13TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("13").Width(50).HtmlAttributes(new { @style = "background:#=ColorD13#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia14TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("14").Width(50).HtmlAttributes(new { @style = "background:#=ColorD14#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia15TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("15").Width(50).HtmlAttributes(new { @style = "background:#=ColorD15#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia16TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("16").Width(50).HtmlAttributes(new { @style = "background:#=ColorD16#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia17TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("17").Width(50).HtmlAttributes(new { @style = "background:#=ColorD17#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia18TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("18").Width(50).HtmlAttributes(new { @style = "background:#=ColorD18#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia19TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("19").Width(50).HtmlAttributes(new { @style = "background:#=ColorD19#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia20TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("20").Width(50).HtmlAttributes(new { @style = "background:#=ColorD20#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia21TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("21").Width(50).HtmlAttributes(new { @style = "background:#=ColorD21#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia22TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("22").Width(50).HtmlAttributes(new { @style = "background:#=ColorD22#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia23TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("23").Width(50).HtmlAttributes(new { @style = "background:#=ColorD23#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia24TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("24").Width(50).HtmlAttributes(new { @style = "background:#=ColorD24#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia25TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("25").Width(50).HtmlAttributes(new { @style = "background:#=ColorD25#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia26TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("26").Width(50).HtmlAttributes(new { @style = "background:#=ColorD26#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia27TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("27").Width(50).HtmlAttributes(new { @style = "background:#=ColorD27#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia28TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("28").Width(50).HtmlAttributes(new { @style = "background:#=ColorD28#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia29TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("29").Width(50).HtmlAttributes(new { @style = "background:#=ColorD29#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia30TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("30").Width(50).HtmlAttributes(new { @style = "background:#=ColorD30#;color:black;" });
                                                                                      columns.ForeignKey(p => p.Dia31TA, (System.Collections.IEnumerable)ViewData["ElementoConfiguracion"], "Id", "Valorstring").Title("31").Width(50).HtmlAttributes(new { @style = "background:#=ColorD31#;color:black;" });
                                                                                  //Letras dias
                                                                                  columns.Bound(p => p.LetraD1).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD2).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD3).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD4).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD5).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD6).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD7).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD8).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD9).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD10).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD11).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD12).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD13).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD14).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD15).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD16).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD17).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD18).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD19).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD20).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD21).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD22).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD23).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD24).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD25).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD26).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD27).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD28).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD29).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD30).Width(150).Hidden();
                                                                                      columns.Bound(p => p.LetraD31).Width(150).Hidden();
                                                                                  //Columnas para Color
                                                                                  columns.Bound(p => p.ColorD1).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD2).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD3).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD4).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD5).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD6).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD7).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD8).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD9).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD10).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD11).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD12).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD13).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD14).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD15).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD16).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD17).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD18).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD19).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD20).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD21).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD22).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD23).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD24).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD25).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD26).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD27).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD28).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD29).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD20).Width(150).Hidden();
                                                                                      columns.Bound(p => p.ColorD31).Width(150).Hidden();
                                                                                  //Calculos
                                                                                  columns.Bound(p => p.LlegadasTarde).Width(150).Title("Llegadas Tarde");
                                                                                      columns.Bound(p => p.DiasLaborales).Width(150).Title("Dias Laborales");
                                                                                      columns.Bound(p => p.PorcentajeLlegadasTarde).Width(200).Title("%Llgadas Tarde");



                                                                                  })
                                                                                  .Events(events => events.DataBound("DataBoundEnabled"))
                                                                                  //.Events(e => e.DataBinding("loadGrid"))
                                                                                  //.Filterable(f => f.Operators(o => o.ForString(s => s
                                                                                  //                 .Clear()
                                                                                  //                 .Contains("Contiene")
                                                                                  //                 .DoesNotContain("No contiene")
                                                                                  //                 .EndsWith("Termina con")
                                                                                  //                 .IsEqualTo("Es igual a")
                                                                                  //                 .IsNotEqualTo("No es igual a")
                                                                                  //                 .IsNull("Es nulo")
                                                                                  //                 .StartsWith("Inicia con")


                                                                                  //           )
                                                                                  //           .ForNumber(n => n
                                                                                  //             .Clear()
                                                                                  //             .IsEqualTo("Es igual a")
                                                                                  //             .IsGreaterThan("Es mayor que")
                                                                                  //             .IsLessThan("Es menor que")
                                                                                  //             .IsNull("Es nulo")
                                                                                  //             .IsLessThanOrEqualTo("Es menor o igual que")
                                                                                  //             .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                                                                  //           )
                                                                                  //           .ForDate(d => d
                                                                                  //           .Clear()
                                                                                  //           .IsEqualTo("Es igual que")
                                                                                  //           .IsGreaterThan("Es mayor que")
                                                                                  //           .IsLessThan("Es menor que")
                                                                                  //           .IsLessThanOrEqualTo("Es menor o igual que")
                                                                                  //           .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                                                                  //           .IsNotEqualTo("No es igual que")
                                                                                  //            )
                                                                                  //         ))
                                                                                  .ToolBar(tools =>
                                                                                  {
                                                                                  //tools.Create().Text("Agregar");
                                                                                  tools.Excel().Text("Exportar a excel").HtmlAttributes(new { @class = "toolbar-field" }).Text("Exportar a excel");
                                                                                      tools.Pdf().Text("Exportar a pdf").HtmlAttributes(new { @class = "toolbar-field" }).Text("Exportar a pdf");


                                                                                  })

                                                                                   .Editable(e => e.Mode(GridEditMode.InLine))
                                                                                   .Sortable()
                                                                                   .Pageable()
                                                                                   //.Filterable()
                                                                                   .Scrollable()
                                                                                   .Pdf(pdf => pdf.FileName("ControldeAsistenciasReporte" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                                                                                   + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".pdf")
                                                                                   .ProxyURL(Url.Action("Export", "Home")).AllPages())
                                                                                     .Excel(excel => excel.FileName("ControldeAsistenciasReporte" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                                                                                   + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".xlsx").Filterable(true)
                                                                                   .ProxyURL(Url.Action("Export", "Home")).AllPages(true))
                                                                                   .DataSource(dataSource =>
                                                                                      dataSource

                                                                                        .WebApi()
                                                                                        .ServerOperation(true)
                                                                                        .Model(model =>
                                                                                        {
                                                                                            model.Id(p => p.EmployeesId);
                                                                                            model.Field(p => p.Empleado.NombreEmpleado).Editable(false);
                                                                                            model.Field(p => p.Dia1TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia2TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia3TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia4TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia5TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia6TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia7TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia8TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia9TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia10TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia11TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia12TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia13TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia14TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia15TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia16TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia17TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia18TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia19TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia20TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia21TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia22TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia23TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia24TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia25TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia26TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia27TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia28TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia29TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia30TA).DefaultValue(1).Editable(false);
                                                                                            model.Field(p => p.Dia31TA).DefaultValue(1).Editable(false);
                                                                                        // dia letras
                                                                                        model.Field(p => p.LetraD1);
                                                                                            model.Field(p => p.LetraD2);
                                                                                            model.Field(p => p.LetraD3);
                                                                                            model.Field(p => p.LetraD4);
                                                                                            model.Field(p => p.LetraD5);
                                                                                            model.Field(p => p.LetraD6);
                                                                                            model.Field(p => p.LetraD7);
                                                                                            model.Field(p => p.LetraD8);
                                                                                            model.Field(p => p.LetraD9);
                                                                                            model.Field(p => p.LetraD10);
                                                                                            model.Field(p => p.LetraD11);
                                                                                            model.Field(p => p.LetraD12);
                                                                                            model.Field(p => p.LetraD13);
                                                                                            model.Field(p => p.LetraD14);
                                                                                            model.Field(p => p.LetraD15);
                                                                                            model.Field(p => p.LetraD16);
                                                                                            model.Field(p => p.LetraD17);
                                                                                            model.Field(p => p.LetraD18);
                                                                                            model.Field(p => p.LetraD19);
                                                                                            model.Field(p => p.LetraD20);
                                                                                            model.Field(p => p.LetraD21);
                                                                                            model.Field(p => p.LetraD22);
                                                                                            model.Field(p => p.LetraD23);
                                                                                            model.Field(p => p.LetraD24);
                                                                                            model.Field(p => p.LetraD25);
                                                                                            model.Field(p => p.LetraD26);
                                                                                            model.Field(p => p.LetraD27);
                                                                                            model.Field(p => p.LetraD28);
                                                                                            model.Field(p => p.LetraD29);
                                                                                            model.Field(p => p.LetraD30);
                                                                                            model.Field(p => p.LetraD31);
                                                                                        // Color
                                                                                        model.Field(p => p.ColorD1);
                                                                                            model.Field(p => p.ColorD2);
                                                                                            model.Field(p => p.ColorD3);
                                                                                            model.Field(p => p.ColorD4);
                                                                                            model.Field(p => p.ColorD5);
                                                                                            model.Field(p => p.ColorD6);
                                                                                            model.Field(p => p.ColorD7);
                                                                                            model.Field(p => p.ColorD8);
                                                                                            model.Field(p => p.ColorD9);
                                                                                            model.Field(p => p.ColorD10);
                                                                                            model.Field(p => p.ColorD11);
                                                                                            model.Field(p => p.ColorD12);
                                                                                            model.Field(p => p.ColorD13);
                                                                                            model.Field(p => p.ColorD14);
                                                                                            model.Field(p => p.ColorD15);
                                                                                            model.Field(p => p.ColorD16);
                                                                                            model.Field(p => p.ColorD17);
                                                                                            model.Field(p => p.ColorD18);
                                                                                            model.Field(p => p.ColorD19);
                                                                                            model.Field(p => p.ColorD20);
                                                                                            model.Field(p => p.ColorD21);
                                                                                            model.Field(p => p.ColorD22);
                                                                                            model.Field(p => p.ColorD23);
                                                                                            model.Field(p => p.ColorD24);
                                                                                            model.Field(p => p.ColorD25);
                                                                                            model.Field(p => p.ColorD26);
                                                                                            model.Field(p => p.ColorD27);
                                                                                            model.Field(p => p.ColorD28);
                                                                                            model.Field(p => p.ColorD29);
                                                                                            model.Field(p => p.ColorD30);
                                                                                            model.Field(p => p.ColorD31);
                                                                                        //Calculos
                                                                                        model.Field(p => p.LlegadasTarde).Editable(false);
                                                                                            model.Field(p => p.DiasLaborales).Editable(false);
                                                                                            model.Field(p => p.PorcentajeLlegadasTarde).Editable(false);


                                                                                        })
                                                                                        .Events(events => events.Error("error_handler"))
                                                                                        .Read(read => read.Action("GetGetControlAsistencias", "ControlAsistencias"))
                                                                                  //.Create(create => create.Action("PostUsuario", "ControlAsistencias"))
                                                                                  .Update(update => update.Action("PostControlAsistencias", "ControlAsistencias", new { id = "{0}" }).Type(HttpVerbs.Post))
                                                                                  //.Destroy(destroy => destroy.Action("DeleteUsuario", "ControlAsistencias", new { id = "{0}" }))
                                                                                  ).Resizable(resize => resize.Columns(true))
            )

            @* fin Grid *@



            <script>
                //function productNameEditable(dataItem) {
                //    // do not allow editing for product with ProductID=3
                //    return dataItem.Dia1TA < 0;
                //}
            </script>

            <script type="text/javascript">



                function edit(e) {
                    // InicialesLetras()

                    $('[name="Dia1TA"]').attr("readonly", true);


                    //var grid = $("#gridControlAsistencia").data("kendoGrid"),
                    //    e = grid.dataItem(this.element.closest("tr"));


                    //for (var i = 0; i < grid.length; i++) {
                    //    alert("p")
                    //    if (grid.dataItem(i).EmployeesId > 0) {
                    //        var item = grid.dataItem(i);

                    //       alert(item)
                    //         }
                    //}


                    //console.log($("#gridControlAsistencia").data("kendoGrid")._data[i].Dia1TA)



                    //var grids = $("#gridControlAsistencia").data("kendoGrid");
                    //console.log(grids.dataItem(5))


                    //alert(1234)


                    //$("#gridControlAsistencia").kendoGrid({

                    //    columns = [
                    //        { field: "Dia1TA", editable: false },

                    //        ]
                    //});



                    //var archGrid = $("#gridControlAsistencia").data("kendoGrid");
                    //var impGrid = $("#gridControlAsistencia").data("kendoGrid");
                    //var archRow = archGrid.select();
                    //var impRow = impGrid.select();
                    //archRow[5].edit = false;
                    //var impRowIndex = impRow[0].rowIndex;

                    // 'k-disabled': args.dataItem.UnitsOnOrder === 0

                    //$("#Dia1TA").closeCell();


                    // var grids = $("#gridControlAsistencia").data("kendoGrid");
                    // var allowEdit = false;
                    //// grids.dataItem("td:eq(5)").attr("disabled", "disabled");
                    // var len = $("#sampleGrid").find("tbody tr").length;
                    // var model = $("#gridControlAsistencia").data("kendoGrid").dataSource.at(len);
                    // model.fields[Dia2TA].editable = allowEdit;




                    //var grid = $("#gridControlAsistencia").data("kendoGrid");

                    //var len = $("#gridControlAsistencia").find("tbody tr").length;
                    //console.log(len)

                    //for (var i = 0; i <= len; i++) {
                    //    var model = $("#gridControlAsistencia").data("kendoGrid").dataSource.at(i);
                    //    if (model) {
                    //        for (i = 0; i <= (grid.columns.length - 1); i++) {


                    //            model.dataSource.at(i).fields["Dia2TA"].editable = false;


                    //        }
                    //    }
                    //}


                    //var entityGrid = $("#gridControlAsistencia").data("kendoGrid");
                    //var rows = entityGrid.select();
                    //rows.each(function (index, row) {
                    //    var selectedItem = entityGrid.dataItem(row);
                    //    console.log(selectedItem)
                    //    // selectedItem has EntityVersionId and the rest of your model
                    //});


                    //var grid = $("#gridControlAsistencia").getKendoGrid();
                    //var datasource = grid.dataSource;
                    //var raw = datasource._data;
                    //for (var i = 0; i < data.Data.length; i++) {
                    //    datasource.insert(data.Data[i]);

                    //}


                    //var grid = $("#gridControlAsistencia").data("kendoGrid");
                    //grid.datasource.fields.Dia1TA.editable = false;


                    //console.log("PRUEBA")

                    //$("#Dia1TA").attr("readonly", true);





                    //e.model.fields["Dia1TA"].editable = false;
                    //var model = $("#gridControlAsistencia").data("kendoGrid").dataSource.getByEmployeesId(Employees.EmployeesId);
                    //if (model) {
                    //    model.fields["Dia2TA"].editable = false;
                    //}

                    //var grid = $("#gridControlAsistencia").getKendoGrid();
                    //var datasource = grid.dataSource;
                    //grid.dataSource.at(i).fields["Dia2TA"].editable = false;


                    //e.container.find("DropDownListFor[name='Dia1TA']").each(function () { $(this).attr("disabled", "disabled") });




                    //var grid = $("#gridControlAsistencia").data("kendoGrid");
                    //var dataSource = $("#gridControlAsistencia").data("kendoGrid").dataSource;
                    //var allData = dataSource.data();
                    //var code = this.value;

                    //$.each(allData, function (index, item) {
                    //    if (item.ArticleID == code) {
                    //        console.log("index :" + index);
                    //        grid.editCell("tr:eq(" + index + ") td:eq(" + (5) + ")");

                    //    }
                    //})




                    // alert($("#monthpicker").getKendoDatePicker().value().toJSON())





                    //$("#gridControlAsistencia").kendoGrid({
                    //    columns: [
                    //        { field: "Dia1TA" },
                    //        {
                    //            field: "Dia2TA",

                    //        }
                    //    ],
                    //    editable: true,
                    //   // dataSource: [{ name: "Jane", salary: 2000 }, { name: "Bill", salary: 2000 }]
                    //});


                }
            </script>



            <br />

            <div class="col-xs-12 col-sm-6">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    @*<h5>Observaciones </h5>*@
                                </div>
                                <div class="ibox-content">
                                    <div class="table-responsive">
                                        <table class="table-bordered" style="border-color:black">
                                            <thead>
                                                <tr>
                                                    <td colspan="2" ; style="background-color:#007bff;color:black;border-collapse:separate;border-spacing:2px;border-color:black" align="center">
                                                        Obcervaciones
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in (ViewData["ElementoConfiguracion"] as IEnumerable<ERPMVC.Models.ElementoConfiguracion>))
                                                {
                                                    <tr>
                                                        <td style="background-color: @item.Formula; color:black;border:5px;" align="center">
                                                            @Html.DisplayFor(modelItem => item.Valorstring)
                                                        </td>
                                                        <td style="color:black;border-collapse:separate;border-spacing:5px;border-color:black">
                                                            @Html.DisplayFor(modelItem => item.Descripcion)
                                                        </td>
                                                    </tr>


                                                }



                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

<script>


    function setToolbarTooltip(btn_cl, btn_tooltip) {
        $("#gridControlAsistencia").kendoTooltip({
            filter: btn_cl,
            content: btn_tooltip
        });
    }

    function setRowButtonTooltip(btn_cl, btn_tooltip) {
        $("#gridControlAsistencia").kendoTooltip({
            filter: btn_cl,
            content: btn_tooltip
        });
    }
    setRowButtonTooltip(".k-grid-edit", "Editar Registro");
    //setRowButtonTooltip(".k-grid-delete", "Eliminar");
    setRowButtonTooltip(".k-grid-update", "Guardar Registro");
    setRowButtonTooltip(".k-grid-cancel", "Cancelar");

</script>

