@model ERPMVC.Models.InventarioFisico
@using System.Security.Claims

@{
    Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                {"required","Valor requerido" }
                            };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };

    string mostrar = "block";
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];
    bool editar = Model.Id == 0;
    string lectura = editar ? "" : "readonly";
    bool editable = Model.FechaCompletado == null;
}





<script>

    


    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }


        if (input.attr('name') === "NoCD" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }



        return true;
    }
</script>

<div id="myModalInventarioFisico" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Inventario Fisico</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div class="card" id="formulario">
                    <div class="card-body">

                        <form id="frmInventarioFisico" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                              data-ajax="true"
                              data-ajax-method="post"
                              method="post">



                            <div class="row">
                                <div class=" col-md-2">
                                    <div class="form-group">
                                        <label asp-for="Id" class="control-label">Id</label>
                                        <input class="k-textbox" type="number" name="Id" value="@Model.Id" asp-for="Id" style="min-width: 100%;" required readonly />
                                        <span asp-validation-for="Id" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                        <div class="form-group">
                                            <label class="control-label">Control</label>
                                            <kendo-switch checked="Model.Control" name="ProductoPesado"  for="Control" enabled="@editar">
                                                <messages checked="Si" unchecked="No" />
                                            </kendo-switch>

                                        </div>
                                    </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Fecha" class="control-label" style="min-width: 100%;">Fecha</label>
                                        <kendo-datepicker for="Fecha"
                                                          style="min-width: 93%;"
                                                          format="dd/MM/yyyy "
                                                          lectura
                                                          max=@DateTime.Now
                                                          data-val-required="La fecha es requerida"
                                                          value="Model.Fecha" />
                                        <span asp-validation-for="Fecha" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="FechaCompletado" class="control-label" style="min-width: 100%;">Fecha Cierre</label>
                                        <kendo-datepicker for="FechaCompletado"
                                                          style="min-width: 93%; background-color: #f0f0f0; cursor: not-allowed;"
                                                          format="dd/MM/yyyy "
                                                          min="@Model.Fecha"
                                                          value="Model.FechaCompletado"
                                                          readonly />
                                        <span asp-validation-for="FechaCompletado" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="CustomerId" class="control-label">Cliente</label>

                                        <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            option-label="Todos"
                                                            datatextfield="CustomerName"
                                                            datavaluefield="CustomerId"
                                                            auto-bind=true
                                                            enable="editar"
                                                            on-change="RefrescarGridDetalle"
                                                            style="min-width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999999">
                                                <transport>
                                                    <read url="@Url.Action("GetCustomerActivos", "Common")" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                    </div>
                                </div>                               
                                                             
                            </div>
                                
                           


                            <script>     
                                function RefrescarGridDetalle() {
                                    var grid = $("#gridInventarioFisicoLine").getKendoGrid();
                                    grid.dataSource.read();

                                    CargarSucursales();
                                }

                            </script>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="ProductId" class="control-label" style="width:100%">Servicio</label>

                                        <kendo-dropdownlist name="ProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            for="ProductId"
                                                            option-label="Seleccione el servicio"
                                                            datatextfield="ProductName"
                                                            datavaluefield="ProductId"
                                                            enable="editar"
                                                            on-change="mostrarDetalle"
                                                            on-data-bound="mostrarDetalle"
                                                            data-val-required="El servicio es requerido"
                                                            required
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="999999999">
                                                <transport>
                                                    <read url="@Url.Action("GetProduct", "Common")" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                        <span asp-validation-for="ProductId" class="text-danger"></span>
                                    </div>
                                </div>
                               <div class="col-md-3">
                                    <div class="form-group">
                                        <script>

                                            function FillWareHouse(e) {
                                                var dataItem = e.dataItem;
                                                $("#warehousesetid").val(dataItem.BranchId);
                                                $("#WarehouseId").data("kendoDropDownList").dataSource.read();
                                            }

                                            function DataSucursal() {
                                                return {
                                                    BranchId: $("#BranchId").val(),
                                                     CustomerId: $("#CustomerId").val(),

                                                }
                                            }

                                            function GetCliente() {
                                                return {
                                                  
                                                     CustomerId: $("#CustomerId").val(),

                                                }
                                            }


                                            function ClienteServicio() {
                                                           return {
                                                                CustomerId: $("#CustomerId").val() ,
                                                                Servicio: $("#ProductId").val() ,
                                                           };
                                                        }

                                                        function CargarSucursales()
                                                        {
                                                            $("#BranchId").data("kendoDropDownList").dataSource.read();
                                                        }


                                        </script>
                                        <label asp-for="BranchId" class="control-label">Sucursal</label>
                                        <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            option-label="Seleccione Sucursal"
                                                            datatextfield="BranchName"
                                                            datavaluefield="BranchId"
                                                            on-change="RefrescarGridDetalle"
                                                            enable=editar
                                                            required
                                                            auto-bind="true"
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="99999999999">
                                                <transport>
                                                    <read url="@Url.Action("GetBranchByServiceCustomer", "Branch")" data="ClienteServicio"  />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                        <span asp-validation-for="BranchId" class="text-danger"></span>
                                    </div>
                                </div>   
                                
                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Comentario</label>
                                        <textarea class="k-textarea" asp-for="Comentarios" rows="2" style="min-width:100%">@Model.Comentarios</textarea>
                                    </div>
                                </div>
                               <input class="k-textbox" type="text" name="EstadoId" id="EstadoId" value="@Model.EstadoId" asp-for="EstadoId" style="min-width: 100%;" required readonly hidden/>
                               <input class="k-textbox" type="text" name="EstadoName" id="EstadoName" value="@Model.EstadoName" asp-for="EstadoName" style="min-width: 100%;" required readonly hidden/>
                                
                                <script>
                                    function RefrescarRecibosDetalle() {
                                        RefrescarGridDetalle();
                                    }

                                    function mostrarDetalle(){
                                        var servicio = $("#ProductId").val();
                                        if(servicio == 3 ){
                                            $("#salesorderdetail").hide();
                                            $("#salesorderdetailbh").show();
                                             var grid = $("#gridInventarioFisicoLine").getKendoGrid();  
                                        }else{
                                            $("#salesorderdetailbh").hide();
                                            $("#salesorderdetail").show();
                                            var grid = $("#gridInventarioBodegaHabilitadaLine").getKendoGrid();
                                        }
                                        RefrescarGridDetalle();
                                    }    
                                </script>
                            </div>

                           
                        </form>
                    </div>


                    <div class="card">
                        <div class="card-body">
                            <div id="salesorderdetail">
                                @await Html.PartialAsync("pvwInventarioFisicoDetail",Model);
                            </div>

                            <div id="salesorderdetailbh" style = "display:none">
                                @await Html.PartialAsync("pvwInventarioBodegaHabilitada",Model);
                            </div>



                            <div class="clearfix">&nbsp;</div>
                            <div class="clearfix">&nbsp;</div>

                            @if (editable){
                                <div class="row">
                                    <button id="btnSaveInventarioFisico" type="submit" class="form-control btn-miboton " onclick="SaveInventarioFisico(this);">Guardar</button>                                 
                                </div>
                            }
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    function totalColumnas(tiporesultado, moneda) {
        var data = $("#gridInventarioFisicoLine").getKendoGrid().dataSource.data();
        var total = 0;

        switch (tiporesultado) {
            case 1: ///////Calcular el Total FOB
                data.forEach(r => total += r.CantidadDisponible);
                break;
            case 2: /// Calcular el total CIB
                data.forEach(r => total += r.Quantity);
                break;
            case 3: ////Calcular el total CIF LPS
                data.forEach(r => total += r.Price);
                break;
            case 4://///Calcular el total de Valor de derechos importacion
                data.forEach(r => total += r.Price * r.Quantity);
                break;
            case 5:
                data.forEach(r => total += r.ValorUnitarioDerechos);
                break;
            case 6:
                data.forEach(r => total += r.DerechosFiscales);
                break;

            default:
                break;
        }
        var formatter = new Intl.NumberFormat('es-HN', {
            style: 'currency',
            currency: 'LPS',
            minimumFractionDigits: 2
        });
        if (moneda == 1) {
            return formatter.format(total);
        }
        if (moneda == 2) {
            formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD',
                minimumFractionDigits: 2
            });
            return formatter.format(total);
        }
        if (moneda == 0) {
            formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'LPS',
                minimumFractionDigits: 2
            });
            return formatter.format(total).replace(/[a-z]{3}/i, "").trim();
        }
        return total;
    }

    function TotalColumnaTotal( moneda) {
        var data = $("#gridInventarioFisicoDetail").getKendoGrid().dataSource.data();
        debugger


        var total = 0;
        data.forEach(r => total += r.Amount);
        var formatter = new Intl.NumberFormat('es-HN', {
            style: 'currency',
            currency: 'LPS',
            minimumFractionDigits: 2
        });
        if (moneda == 1) {
            return formatter.format(total);
        }
        if (moneda == 2) {
            formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD',
                minimumFractionDigits: 2
            });
            return formatter.format(total);
        }
        if (moneda == 0) {
            formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'LPS',
                minimumFractionDigits: 2
            });
            return formatter.format(total).replace(/[a-z]{3}/i, "").trim();
        }
        return total;

    }



    function RefreshInventarioFisico() {
        var grid = $("#gridInventarioFisico").getKendoGrid();
        grid.dataSource.read();
    }

    function GetparamDetalle(){
            debugger;
            var customerid = $("#CustomerId").val();
          return{
              BranchId:$("#BranchId").val(),
              CustomerId:customerid == null ? 0 :customerid,
              ProductId : $("#ProductId").val(),
              Id:$("#Id").val()

          }
    
    }

     function SaveInventarioFisico(e) {        
         $("#btnSaveInventarioFisico").hide();
         $("#btnSaveInventarioFisico").prop("disabled", true);
         var displayedData = $("#gridInventarioFisicoLine").data().kendoGrid.dataSource.data();
         var displayedDatabh = $("#gridInventarioBodegaHabilitadaLine").data().kendoGrid.dataSource.data();
         var valido = true;
         var servicio = $("#ProductId").val();
        if (displayedData.length <= 0  && servicio != 3) {

                 $.toast({
                     heading: 'Validación',
                     text: 'Debe agregar los productos!',
                     position: 'top-right',
                     loaderBg: '#ff6849',
                     icon: 'error',
                     hideAfter: 3000,
                     stack: 6
                 });
                  habilitarbotones();
                 return;

             }
             if (displayedDatabh.length <= 0  && servicio == 3) {

                 $.toast({
                     heading: 'Validación',
                     text: 'Debe agregar los productos!',
                     position: 'top-right',
                     loaderBg: '#ff6849',
                     icon: 'error',
                     hideAfter: 3000,
                     stack: 6
                 });
                  habilitarbotones();
                 return;

             }
            if (!valido ) {

                     $.toast({
                         heading: 'Validación',
                         text: 'Hay campos no validos en el formulario!',
                         position: 'top-right',
                         loaderBg: '#ff6849',
                         icon: 'error',
                         hideAfter: 3000,
                         stack: 6
                     });
                      habilitarbotones();
                     return;
                 }
                 var fechacompletado =  $("#FechaCompletado").val();
                  var Control = $("#Control").data("kendoSwitch").check();
                 var dataObject = {
                         'Id': $("#Id").val(),                         
                         'CustomerId': $("#CustomerId").val()=="" ? null: $("#CustomerId").val(),
                         'Cliente': $("#CustomerId").data("kendoDropDownList").text(),
                         'BranchId': $("#BranchId").val(),
                         'Sucursal': $("#BranchId").data("kendoDropDownList").text(),
                         'Control': Control,
                         'Comentarios' : $("#Comentarios").val(),
                         'EstadoName' : $("#EstadoName").val(),
                         'EstadoId' : $("#EstadoId").val(),
                         'Fecha': $("#Fecha").data("kendoDatePicker").value().toJSON(),
                         'FechaCompletado': fechacompletado==""?null:  $("#FechaCompletado").data("kendoDatePicker").value().toJSON(),
                         'ProductId': $("#ProductId").val(),
                         'Servicio': $("#ProductId").data("kendoDropDownList").text(),
                         'InventarioFisicoLines': displayedData,
                         'InventarioBodegaHabilitadaLines':  displayedDatabh,
                     };
                     $.ajax({
                         url: '@Url.Action("Save", "InventarioFisico")',
                         method: 'POST',
                         datatype: "json",
                         contentType: 'application/json',
                         async: false,
                         data: JSON.stringify(dataObject),
                         success: function (data) {

                             $.toast({
                                 heading: 'Satisfactorio',
                                 text: 'Datos guardados correctamente.',
                                 position: 'top-right',
                                 loaderBg: '#ff6849',
                                 icon: 'success',
                                 hideAfter: 3000,
                                 stack: 6
                             });
                             RefreshInventarioFisico();
                             $('#myModalInventarioFisico').modal('hide');

                         },
                         error: function (XMLHttpRequest, textStatus, errorThrown) {

                             $("#btnSaveInventarioFisico").show();
                             $("#btnSaveInventarioFisico").prop("disabled", false);
                             $.toast({
                                 heading: 'Validación',
                                 text: textStatus + ": " + XMLHttpRequest.responseText,
                                 position: 'top-right',
                                 loaderBg: '#ff6849',
                                 icon: 'error',
                                 hideAfter: 3000,
                                 stack: 6
                             });


                         }
                     });

            habilitarbotones();
             
         
    }

    function habilitarbotones(){
             $("#btnSaveInventarioFisico").show();
             $("#btnSaveInventarioFisico").prop("disabled", false);
    }
</script>
