@model ERPMVC.Models.InventarioFisico
@using System.Security.Claims

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                {"required","Valor requerido" }
                            };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };

    string mostrar = "block";
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];
    bool editar = Model.Id == 0;
    string lectura = editar ? "" : "readonly";
}





<script>

    


    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }


        if (input.attr('name') === "NoCD" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }



        return true;
    }
</script>

@*@await  Html.PartialAsync("~/Views/OFAC/Index.cshtml")*@


<div id="myModalInventarioFisico" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Inventario Fisico</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div class="card" id="formulario">
                    <div class="card-body">

                        <form id="frmInventarioFisico" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                              data-ajax="true"
                              data-ajax-method="post"
                              method="post">



                            <div class="row">
                                <div class=" col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Id" class="control-label">Id</label>
                                        <input class="k-textbox" type="number" name="Id" value="@Model.Id" asp-for="Id" style="min-width: 100%;" required readonly />
                                        <span asp-validation-for="Id" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Fecha" class="control-label" style="min-width: 100%;">Fecha</label>
                                        <kendo-datepicker for="Fecha"
                                                          style="min-width: 93%;"
                                                          format="dd/MM/yyyy "
                                                          lectura
                                                          data-val-required="La fecha es requerida"
                                                          value="Model.Fecha" />
                                        <span asp-validation-for="Fecha" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <script>

                                            function FillWareHouse(e) {
                                                var dataItem = e.dataItem;
                                                $("#warehousesetid").val(dataItem.BranchId);
                                                $("#WarehouseId").data("kendoDropDownList").dataSource.read();
                                            }

                                            function DataSucursal() {
                                                return {
                                                    BranchId: $("#BranchId").val(),

                                                }
                                            }


                                        </script>
                                        <label asp-for="BranchId" class="control-label">Sucursal</label>
                                        <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            option-label="Seleccione Sucursal"
                                                            datatextfield="BranchName"
                                                            datavaluefield="BranchId"
                                                            
                                                            enable=editar
                                                            required
                                                            auto-bind="true"
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="99999999999">
                                                <transport>
                                                    <read url="@Url.Action("GetBranch", "Branch")"  />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                        <span asp-validation-for="BranchId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="WarehouseId" class="control-label">Bodega</label>
                                        <kendo-dropdownlist name="WarehouseId" for="WarehouseId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            option-label="Seleccione Bodega"
                                                            datatextfield="WarehouseName"
                                                            datavaluefield="WarehouseId"
                                                            enable=editar
                                                            cascade-from="BranchId"
                                                            required
                                                            on-change="RefrescarGridDetalle"
                                                            auto-bind="true"
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="99999999999">
                                                <transport>
                                                    <read url="@Url.Action("Get", "Warehouse")" data="DataSucursal" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                        <span asp-validation-for="WarehouseId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                                
                           


                            <script>     
                                function RefrescarGridDetalle() {
                                    var grid = $("#gridInventarioFisicoLine").getKendoGrid();
                                    grid.dataSource.read();
                                }

                            </script>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="ProductId" class="control-label" style="width:100%"></label>

                                        <kendo-dropdownlist name="ProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            for="ProductId"
                                                            option-label="Seleccione el servicio"
                                                            datatextfield="ProductName"
                                                            datavaluefield="ProductId"
                                                            enable="editar"
                                                            required
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="999999999">
                                                <transport>
                                                    <read url="@Url.Action("GetProduct", "Common")" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                        <span asp-validation-for="ProductId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="CustomerId" class="control-label">Cliente</label>

                                        <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            option-label="N/A"
                                                            datatextfield="CustomerName"
                                                            datavaluefield="CustomerId"
                                                            enable="false"
                                                            cascade-from="BranchId"
                                                            auto-bind=true
                                                            class="form-control-line"
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999999">
                                                <transport>
                                                    <read url="@Url.Action("GetCustomerByBranch", "Branch")" data="DataSucursal"/>
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Comentario</label>
                                        <textarea class="k-textarea" asp-for="Comentarios" rows="2" style="min-width:100%">@Model.Comentarios</textarea>
                                    </div>
                                </div>
                               
                                
                                <script>
                                    function RefrescarRecibosDetalle() {
                                        RefrescarGridDetalle();
                                    }
                                </script>
                            </div>

                           
                        </form>
                    </div>


                    <div class="card">
                        <div class="card-body">
                            <div id="salesorderdetail">
                                @await Html.PartialAsync("pvwInventarioFisicoDetail",Model);
                            </div>



                            <div class="clearfix">&nbsp;</div>
                            <div class="clearfix">&nbsp;</div>


                            <div class="row">
                                    <button id="btnSaveInventarioFisico" type="submit" class="form-control btn-miboton " onclick="SaveInventarioFisico(this);">Guardar</button>                                 
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    function totalColumnas(tiporesultado, moneda) {
        var data = $("#gridInventarioFisicoLine").getKendoGrid().dataSource.data();
        var total = 0;

        switch (tiporesultado) {
            case 1: ///////Calcular el Total FOB
                data.forEach(r => total += r.CantidadDisponible);
                break;
            case 2: /// Calcular el total CIB
                data.forEach(r => total += r.Quantity);
                break;
            case 3: ////Calcular el total CIF LPS
                data.forEach(r => total += r.Price);
                break;
            case 4://///Calcular el total de Valor de derechos importacion
                data.forEach(r => total += r.Price * r.Quantity);
                break;
            case 5:
                data.forEach(r => total += r.ValorUnitarioDerechos);
                break;
            case 6:
                data.forEach(r => total += r.DerechosFiscales);
                break;

            default:
                break;
        }
        var formatter = new Intl.NumberFormat('es-HN', {
            style: 'currency',
            currency: 'LPS',
            minimumFractionDigits: 2
        });
        if (moneda == 1) {
            return formatter.format(total);
        }
        if (moneda == 2) {
            formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD',
                minimumFractionDigits: 2
            });
            return formatter.format(total);
        }
        if (moneda == 0) {
            formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'LPS',
                minimumFractionDigits: 2
            });
            return formatter.format(total).replace(/[a-z]{3}/i, "").trim();
        }
        return total;
    }

    function TotalColumnaTotal( moneda) {
        var data = $("#gridInventarioFisicoDetail").getKendoGrid().dataSource.data();
        debugger


        var total = 0;
        data.forEach(r => total += r.Amount);
        var formatter = new Intl.NumberFormat('es-HN', {
            style: 'currency',
            currency: 'LPS',
            minimumFractionDigits: 2
        });
        if (moneda == 1) {
            return formatter.format(total);
        }
        if (moneda == 2) {
            formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD',
                minimumFractionDigits: 2
            });
            return formatter.format(total);
        }
        if (moneda == 0) {
            formatter = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'LPS',
                minimumFractionDigits: 2
            });
            return formatter.format(total).replace(/[a-z]{3}/i, "").trim();
        }
        return total;

    }



    function RefreshInventarioFisico() {
        var grid = $("#gridInventarioFisico").getKendoGrid();
        grid.dataSource.read();
    }

    function GetparamDetalle(){
          return{
              BranchId:$("#BranchId").val(),
              WarehouseId:$("#WarehouseId").val(),
              Id:$("#Id").val()

          }
    
    }

     function SaveInventarioFisico(e) {
        debugger
         $("#btnSaveInventarioFisico").hide();
         $("#btnSaveInventarioFisico").prop("disabled", true);
         var displayedData = $("#gridInventarioFisicoLine").data().kendoGrid.dataSource.data();
         var valido = true;
        if (displayedData.length <= 0) {

                 $.toast({
                     heading: 'Validación',
                     text: 'Debe agregar los productos!',
                     position: 'top-right',
                     loaderBg: '#ff6849',
                     icon: 'error',
                     hideAfter: 3000,
                     stack: 6
                 });

             }
         if (!valido ) {

                     $.toast({
                         heading: 'Validación',
                         text: 'Hay campos no validos en el formulario!',
                         position: 'top-right',
                         loaderBg: '#ff6849',
                         icon: 'error',
                         hideAfter: 3000,
                         stack: 6
                     });
                     $("#btnSaveInventarioFisico").show();
                     $("#btnSaveInventarioFisico").prop("disabled", false);
                 }

             var dataObject = {
                         'Id': $("#Id").val(),                         
                         'CustomerId': $("#CustomerId").val()=="" ? null: $("#CustomerId").val(),
                         'Cliente': $("#CustomerId").data("kendoDropDownList").text(),
                         'BranchId': $("#BranchId").val(),
                         'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                         'WarehouseId': $("#WarehouseId").val(),        
                         'Bodega': $("#WarehouseId").data("kendoDropDownList").text(),
                         'Comentarios' : $("#Comentarios").val(),
                         'Fecha': $("#Fecha").data("kendoDatePicker").value().toJSON(),
                         'ProductId': $("#ProductId").val(),
                         'Servicio': $("#ProductId").data("kendoDropDownList").text(),
                         'InventarioFisicoLines': displayedData,
                     };
                     $.ajax({
                         url: '@Url.Action("Save", "InventarioFisico")',
                         method: 'POST',
                         datatype: "json",
                         contentType: 'application/json',
                         async: false,
                         data: JSON.stringify(dataObject),
                         success: function (data) {

                             $.toast({
                                 heading: 'Satisfactorio',
                                 text: 'Datos guardados correctamente.',
                                 position: 'top-right',
                                 loaderBg: '#ff6849',
                                 icon: 'success',
                                 hideAfter: 3000,
                                 stack: 6
                             });
                             RefreshInventarioFisico();
                             $('#myModalInventarioFisico').modal('hide');

                         },
                         error: function (XMLHttpRequest, textStatus, errorThrown) {

                             $("#btnSaveInventarioFisico").show();
                             $("#btnSaveInventarioFisico").prop("disabled", false);
                             $.toast({
                                 heading: 'Validación',
                                 text: textStatus + ": " + XMLHttpRequest.responseText,
                                 position: 'top-right',
                                 loaderBg: '#ff6849',
                                 icon: 'error',
                                 hideAfter: 3000,
                                 stack: 6
                             });


                         }
                     });

         
             $("#btnSaveInventarioFisico").show();
             $("#btnSaveInventarioFisico").prop("disabled", false);
         
    }
</script>
