@model ERPMVC.DTO.ProductDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                   // {"required","Valor requerido" }
                };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

        function customFunction(input) {

            if (input.attr('name') === "BranchId" && input.val() === "0") {
                return false;
            }

        }


</script>



<div id="ModalProduct" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Producto</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmProduct" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveProduct"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Producto</h3>
                                        <hr>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ProductId" class=" control-label" style="width:100%">Id Producto</label>
                                                    <input type="text" asp-for="ProductId" name="IdProduct" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="ProductId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ProductName" class=" control-label" style="width:100%">Nombre Producto</label>
                                                    <input type="text" asp-for="ProductName" name="ProductName" class="form-control" style="width:100%" />
                                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Description" class=" control-label" style="width:100%">Descripción</label>
                                                    <input type="text" asp-for="Description" name="Description" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ProductCode" class=" control-label" style="width:100%">Código Producto</label>
                                                    <input type="text" asp-for="ProductCode" name="ProductCode" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CurrencyId" class="control-label"></label>
                                                    <kendo-dropdownlist name="CurrencyId"
                                                                        for="@Model.CurrencyId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Moneda"
                                                                        datatextfield="CurrencyName"
                                                                        datavaluefield="CurrencyId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetCurrency", "Currency")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>





                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Barcode" class=" control-label" style="width:100%">Código de barra</label>
                                                    <input type="text" asp-for="Barcode" name="Barcode" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Barcode" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Estado" class="control-label"></label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="BranchId" class="control-label"></label>
                                                    <kendo-dropdownlist name="BranchId"
                                                                        for="@Model.BranchId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Sucursal"
                                                                        datatextfield="BranchName"
                                                                        datavaluefield="BranchId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetBranch", "Branch")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="UnitOfMeasureId" class="control-label">Unidad de medida</label>
                                                    <kendo-dropdownlist name="UnitOfMeasureId"
                                                                        for="@Model.UnitOfMeasureId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar unidad de medida"
                                                                        datatextfield="UnitOfMeasureName"
                                                                        datavaluefield="UnitOfMeasureId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetUnitOfMeasure", "UnitOfMeasure")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DefaultBuyingPrice" class=" control-label" style="width:100%">Precio de compra</label>
                                                    <input type="text" asp-for="DefaultBuyingPrice" name="DefaultBuyingPrice" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="DefaultBuyingPrice" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DefaultSellingPrice" class=" control-label" style="width:100%">Precio de venta</label>
                                                    <input type="text" asp-for="DefaultSellingPrice" name="DefaultSellingPrice" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="DefaultSellingPrice" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnProduct" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
        function SaveProduct(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnProduct").hide();
            $("#btnProduct").prop("disabled", true);

            var displayedData = $("#gridProduct").data().kendoGrid.dataSource.view();

            var dataObject = {
                'ProductId': $("#ProductId").val() === "" ? "0" : $("#ProductId").val(),
                'ProductName': $("#ProductName").val(),
                'ProductCode': $("#ProductCode").val(),
                'Barcode': $("#Barcode").val(),
                'Description': $("#Description").val(),

                'UnitOfMeasureId': $("#UnitOfMeasureId").val(),


                'DefaultBuyingPrice': $("#DefaultBuyingPrice").val(),
                'DefaultSellingPrice': $("#DefaultSellingPrice").val(),
                'BranchId': $("#BranchId").val(),
                'IdEstado': $("#IdEstado").val(),
                'Estado': $("#IdEstado").data("kendoDropDownList").text(),

                'CurrencyId': $("#CurrencyId").val(),

                           //'FechaCreacion': $("#FechaCreacion").val(),
                           //'FechaModificacion':$("#FechaModificacion").val(),
                           //'UsuarioCreacion':$("#UsuarioCreacion").val(),
                           //'UsuarioModificacion':$("#UsuarioModificacion").val(),
                           '_Product': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

            var validator = $("#frmProduct").data("kendoValidator");
                 var status = $(".status");
            console.log(validator)
            console.log('VERIFICAR',displayedData.length)
            if (displayedData.length > 0) {
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveProduct", "Product")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                            RefreshCotizaciones();

                            $('#ModalProduct').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log('VERIFICAR')

                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }
            }
            else {
                notification.show({
                    title: "Validacion",
                    message: "Debe agregar los productos!"
                }, "error");
               // notification.show("New E-mail","Debe agregar los productos", "info");
                //alert('Debe agregar los productos!!');
            }

            $("#btnProduct").show();
            $("#btnProduct").prop("disabled", false);
    }
</script>
