@model ERPMVC.DTO.ProductDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
           // {"required","Valor requerido" }
        };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

    }


</script>



<div id="ModalProduct" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Servicios</h4>
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmProduct" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveProduct"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <hr>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ProductId" class=" control-label" style="width:100%">Id Servicio</label>
                                                    <input type="text" asp-for="ProductId" name="IdProduct" class="form-control" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="ProductId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ProductName" class=" control-label" style="width:100%">Nombre Servicio</label>
                                                    <input type="text" asp-for="ProductName" data-val-required="Nombre Servicio es requerido" name="ProductName" class="form-control" style="min-width:100%" />
                                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Description" class=" control-label" style="width:100%">Descripción</label>
                                                    <input type="text" asp-for="Description" data-val-required="Descripción es requerido" name="Description" class="form-control" autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ProductCode" class=" control-label" style="width:100%">Código Servicio</label>
                                                    <input type="text" asp-for="ProductCode" data-val-required="Código Servicio es requerido" name="ProductCode" class="form-control" autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="ProductCode" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CurrencyId" class="control-label"></label>
                                                    <kendo-dropdownlist name="CurrencyId"
                                                                        data-val-required="Moneda es requerido"
                                                                        for="@Model.CurrencyId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Moneda"
                                                                        datatextfield="CurrencyName"
                                                                        datavaluefield="CurrencyId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetCurrency", "Currency")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CurrencyId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            @*<div class="col-md-4">
            <div class="form-group">
                <label asp-for="Barcode" class=" control-label" style="width:100%">Código de barra</label>
                <input type="text" asp-for="Barcode" name="Barcode" class="form-control" autocomplete="off" style="min-width:100%" />
                <span asp-validation-for="Barcode" class="text-danger"></span>
            </div>
        </div>*@

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Estado" class="control-label"></label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        data-val-required="Estado es requerido"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="IdEstado" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="BranchId" class="control-label"></label>
                                                    <kendo-dropdownlist name="BranchId"
                                                                        data-val-required="Sucursal es requerido"
                                                                        for="@Model.BranchId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Sucursal"
                                                                        datatextfield="BranchName"
                                                                        datavaluefield="BranchId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="99999999">
                                                            <transport>
                                                                <read url="@Url.Action("GetBranch", "Branch")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                          

                                        </div>



                                        @*<div class="row">
                                   <div class="col-md-4">
                                     <div class="form-group">
                                         <label asp-for="UnitOfMeasureId" class="control-label">Unidad de medida</label>
                                         <kendo-dropdownlist name="UnitOfMeasureId"
                                                             for="@Model.UnitOfMeasureId"
                                                             filter="Kendo.Mvc.UI.FilterType.Contains"
                                                             option-label="Seleccionar unidad de medida"
                                                             datatextfield="UnitOfMeasureName"
                                                             datavaluefield="UnitOfMeasureId"
                                                             style="width: 100%;">
                                             <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                 <transport>
                                                     <read url="@Url.Action("GetUnitOfMeasure", "UnitOfMeasure")" />
                                                 </transport>
                                             </datasource>
                                         </kendo-dropdownlist>
                                     </div>
                                 </div>
                                 <div class="col-md-4">
                                     <div class="form-group">
                                         <label asp-for="DefaultBuyingPrice" class=" control-label" style="width:100%">Precio de compra</label>
                                         <input type="text" asp-for="DefaultBuyingPrice" name="DefaultBuyingPrice" class="form-control" autocomplete="off" style="min-width:100%" />
                                         <span asp-validation-for="DefaultBuyingPrice" class="text-danger"></span>
                                     </div>
                                 </div>
                                 <div class="col-md-4">
                                     <div class="form-group">
                                         <label asp-for="DefaultSellingPrice" class=" control-label" style="width:100%">Precio de venta</label>
                                         <input type="text" asp-for="DefaultSellingPrice" name="DefaultSellingPrice" class="form-control" autocomplete="off" style="min-width:100%" />
                                         <span asp-validation-for="DefaultSellingPrice" class="text-danger"></span>
                                     </div>
                                      </div>
                                       </div>*@

                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnProduct" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function RefrescarGrid() {
        var grid = $("#gridProduct").getKendoGrid();
        grid.dataSource.read();
    }
        function SaveProduct(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnProduct").hide();
            $("#btnProduct").prop("disabled", true);

            var displayedData = $("#gridProduct").data().kendoGrid.dataSource.view();

            var dataObject = {
                'ProductId': $("#ProductId").val() === "" ? "0" : $("#ProductId").val(),
                'ProductName': $("#ProductName").val(),
                'ProductCode': $("#ProductCode").val(),
                'Barcode': $("#Barcode").val(),
                'Description': $("#Description").val(),
                'UnitOfMeasureId': $("#UnitOfMeasureId").val(),
                'DefaultBuyingPrice': $("#DefaultBuyingPrice").val(),
                'DefaultSellingPrice': $("#DefaultSellingPrice").val(),
                'BranchId': $("#BranchId").val(),
                'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                'IdEstado': $("#IdEstado").val(),
                'Estado': $("#IdEstado").data("kendoDropDownList").text(),
                'CurrencyId': $("#CurrencyId").val(),      
                'CurrencyName': $("#CurrencyId").data("kendoDropDownList").text(), 
                //'FechaCreacion': $("#FechaCreacion").val(),
                //'FechaModificacion':$("#FechaModificacion").val(),
                //'UsuarioCreacion':$("#UsuarioCreacion").val(),
                //'UsuarioModificacion':$("#UsuarioModificacion").val(),
                '_Product': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

            var validator = $("#frmProduct").data("kendoValidator");
                 var status = $(".status");
          //  console.log(validator)
           // console.log('VERIFICAR',displayedData.length)
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveProduct", "Product")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 3000,
                                stack: 6
                            });

                            RefrescarGrid();

                            $('#ModalProduct').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log('VERIFICAR')

                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }


            $("#btnProduct").show();
            $("#btnProduct").prop("disabled", false);
    }
</script>
