@model ERPMVC.DTO.HorarioDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
           // {"required","Valor requerido" }
        };
}

<div id="ModalHorario" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Horario</h4>
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmHorario"
                                      kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveHorario"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Horario</h3>
                                        <hr>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Id" class="control-label" style="width:100%">ID</label>
                                                    <input type="text" asp-for="Id" name="Id" class="form-control" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="Id" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Nombre" class="control-label" style="width:100%">Nombre</label>
                                                    <input type="text" asp-for="Nombre" name="SortName" class="form-control" maxlength="150" autocomplete="off" style="min-width:100%" onkeypress="return SoloLetras(event)" />
                                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="HoraInicio" class="control-label" style="width:100%">Hora de Inicio</label>
                                                    <input type="time" asp-for="HoraInicio" name="Name" class="form-control" autocomplete="off" required data-required-msg="La Hora de Inicio es requerida." style="min-width:100%" />
                                                    <span asp-validation-for="HoraInicio" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="HoraFinal" class="control-label" style="width:100%">Hora Final</label>
                                                    <input type="time" asp-for="HoraFinal" name="Name" class="form-control" autocomplete="off" required data-required-msg="La Hora final es requerida." style="min-width:100%" />
                                                    <span asp-validation-for="HoraFinal" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdEstado" class="control-label">Estado</label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="IdEstado" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group custom-checkbox-group">
                                                    <label class="control-label custom-checkbox-label">Días:</label>
                                                    <div class="d-flex align-items-center">
                                                        <div class="form-check form-switch me-3">
                                                            <label asp-for="Lunes" class="control-label custom-checkbox-label">Lunes</label>
                                                            @(Html.Kendo().SwitchFor(model => model.Lunes).Name("LunesSwitch"))
                                                        </div>
                                                        <div class="form-check form-switch me-3">
                                                            <label asp-for="Martes" class="control-label custom-checkbox-label">Martes</label>
                                                            @(Html.Kendo().SwitchFor(model => model.Martes).Name("MartesSwitch"))
                                                        </div>
                                                        <div class="form-check form-switch me-3">
                                                            <label asp-for="Miercoles" class="control-label custom-checkbox-label">Miércoles</label>
                                                            @(Html.Kendo().SwitchFor(model => model.Miercoles).Name("MiercolesSwitch"))
                                                        </div>
                                                        <div class="form-check form-switch me-3">
                                                            <label asp-for="Jueves" class="control-label custom-checkbox-label">Jueves</label>
                                                            @(Html.Kendo().SwitchFor(model => model.Jueves).Name("JuevesSwitch"))
                                                        </div>
                                                        <div class="form-check form-switch me-3">
                                                            <label asp-for="Viernes" class="control-label custom-checkbox-label">Viernes</label>
                                                            @(Html.Kendo().SwitchFor(model => model.Viernes).Name("ViernesSwitch"))
                                                        </div>
                                                        <div class="form-check form-switch me-3">
                                                            <label asp-for="Sabado" class="control-label custom-checkbox-label">Sábado</label>
                                                            @(Html.Kendo().SwitchFor(model => model.Sabado).Name("SabadoSwitch"))
                                                        </div>
                                                        <div class="form-check form-switch">
                                                            <label asp-for="Domingo" class="control-label custom-checkbox-label">Domingo</label>
                                                            @(Html.Kendo().SwitchFor(model => model.Domingo).Name("DomingoSwitch"))
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnHorario" class="form-control btn-miboton" type="submit">Guardar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    function SaveHorario(e) {
        debugger;
        var notification = $("#notification").data("kendoNotification");
        // e.preventDefault();
        $("#btnHorario").hide();
        $("#btnHorario").prop("disabled", true);

        // Obtener el valor de los switches usando variables
        var lunes = $("#LunesSwitch").data("kendoSwitch").check();
        var martes = $("#MartesSwitch").data("kendoSwitch").check();
        var miercoles = $("#MiercolesSwitch").data("kendoSwitch").check();
        var jueves = $("#JuevesSwitch").data("kendoSwitch").check();
        var viernes = $("#ViernesSwitch").data("kendoSwitch").check();
        var sabado = $("#SabadoSwitch").data("kendoSwitch").check();
        var domingo = $("#DomingoSwitch").data("kendoSwitch").check();
        var dataObject = {
            'Id': $("#Id").val() === "" ? "0" : $("#Id").val(),
            'Nombre': $("#Nombre").val(),
            'HoraInicio': $("#HoraInicio").val(),
            'HoraFinal': $("#HoraFinal").val(),
            'IdEstado': 1,
            'Estado': $("#IdEstado").data("kendoDropDownList").text(),
            'Lunes': lunes,
            'Martes': martes,
            'Miercoles': miercoles,
            'Jueves': jueves,
            'Viernes': viernes,
            'Sabado': sabado,
            'Domingo': domingo,
            'Factor': 0,
            // Agrega aquí las propiedades de tu modelo de horario
        };


        var validator = $("#frmHorario").data("kendoValidator");
        var status = $(".status");

        if (validator.validate()) {
            debugger;
            $.ajax({
                url: '@Url.Action("SaveHorario", "Horario")', // Ajusta la URL y el controlador adecuados
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (data) {
                    $.toast({
                        heading: 'Satisfactorio',
                        text: 'Horario guardado correctamente.',
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 30000,
                        stack: 6
                    });
                    $('#ModalHorario').modal('hide');
                    // Actualizar el grid después de que se haya completado la operación de guardado
                    var grid = $("#grdConfiguracion").data("kendoGrid");
                    grid.dataSource.read();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    notification.show({
                        title: "Validación",
                        message: textStatus + ": " + XMLHttpRequest.responseText
                    }, "error");
                }
            });
        } else {
            status.text("Oops! Hay datos inválidos en el formulario.")
                .removeClass("valid")
                .addClass("invalid");
        }

        $("#btnHorario").show();
        $("#btnHorario").prop("disabled", false);
    }
</script>
<style>
    .custom-checkbox-group {
        text-align: center; /* Center-align the text */
        margin-right: 10px; /* Adjust the margin between checkboxes as needed */
    }

    .custom-checkbox-label {
        display: block;
        margin-top: 5px; /* Adjust the margin between text and checkbox as needed */
    }

    .custom-checkbox {
        display: block;
        margin: 0 auto; /* Center-align the checkbox */
        width: 15px; /* Adjust the width as needed */
        height: 15px; /* Adjust the height as needed */
    }
</style>