@model ERPMVC.DTO.AccountingFatherDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
// {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "AccountId" && input.val() === "0") {
            return false;
        }

    }

    //$('#btnprueba').val("");
</script>



<div id="ModalAccountingFather" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Catálogo de Cuentas</h4>
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form id="frmAccountingFather" kendo-validator="true"
                  data-ajax="true"
                  data-ajax-method="post"
                  data-ajax-begin="SaveAccountingFather"
                  class="validation-wizard wizard-circle">
                <div class="modal-body">
                    <div class="row" id="validation">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">

                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="AccountId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="AccountId" name="AccountId" class="form-control" readonly="readonly" style="min-width:100%" />
                                                    @*       <span asp-validation-for="AccountId" class="text-danger"></span>
                                                    *@
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="AccountCodePadre" class="control-label" style="width: 100%;"></label>
                                                    <input type="text" asp-for="AccountCodePadre" name="AccountCodePadre" class="form-control" autocomplete="off" style="min-width:100%" />
                                                    @*      <span asp-validation-for="AccountCode" class="text-danger"></span>
                                            for="@Model.ParentAccountId"

                                                    *@
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ParentAccountId" class=" control-label" style="width:100%"></label>
                                                    <kendo-dropdownlist name="ParentAccountIdPadre"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Cuenta Contable"
                                                                        datatextfield="AccountName"
                                                                        datavaluefield="AccountId"
                                                                        style="min-width: 100%;"
                                                                        readonly="readonly">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999999">
                                                            <transport>
                                                                <read url="@Url.Action("GetAccount", "Accounting")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            @*  <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="HierarchyAccount" class="control-label" style="width: 100%;">Nivel de Cuenta:</label>
                                            <input type="text" asp-for="HierarchyAccount" name="HierarchyAccount" class="form-control" autocomplete="off" style="width:100%" />
                                            <span asp-validation-for="HierarchyAccount" class="text-danger"></span>

                                        </div>


                                    </div>
                                            *@  <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="AccountNamePadre" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="AccountNamePadre" name="AccountchNamePadre" class="form-control" autocomplete="off" style="min-width:100%" />
                                                    @*        <span asp-validation-for="AccountName" class="text-danger"></span>
                                                    *@
                                                </div>
                                            </div>
                                            @*
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="CompanyInfoId" class="control-label" style="width: 100%;"></label>
                                            <kendo-dropdownlist name="CompanyInfoId"
                                                                for="@Model.CompanyInfoId"
                                                                filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                option-label="Seleccionar Compañia"
                                                                datatextfield="Company_Name"
                                                                datavaluefield="CompanyInfoId"
                                                                style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                    <transport>
                                                        <read url="@Url.Action("Get", "CompanyInfo")" />
                                                    </transport>
                                                </datasource>
                                            </kendo-dropdownlist>

                                        </div>


                                    </div>
                                            *@
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="TypeAccountIdPadre" class="control-label" style="width: 100%;"></label>
                                                    <kendo-dropdownlist name="TypeAccountIdPadre"
                                                                        for="@Model.TypeAccountIdPadre"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Tipo"
                                                                        datatextfield="TypeAccountName"
                                                                        datavaluefield="TypeAccountId"
                                                                        style="min-width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetTypeAccount", "TypeAccount")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>

                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="BlockedInJournalPadre" class=" control-label" style="width:100%"></label>
                                                    @*Html.Kendo().CheckBoxFor(m => m.)
                                            <input type="checkbox" asp-for="BlockedInJournal" name="BlockedInJournal" class="k-checkbox" value="@Model.BlockedInJournal" />

                                                    *@
                                                    @(Html.Kendo().SwitchFor(m => m.BlockedInJournalPadre)
                                                    )

                                                    @*
                                                                                     <input type="text" asp-for="BlockedInJournal" name="BlockedInJournal" class="form-control" autocomplete="off" style="width:100%" />

                                            <span asp-validation-for="BlockedInJournal" class="text-danger k-invalid-msg" data-for="BlockedInJournal"></span>
                                                    *@
                                                </div>

                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="IsCashPadre" class="control-label" style="width: 100%;"></label>


                                                    @(Html.Kendo().SwitchFor(m => m.IsCashPadre)

                                                            // .Name("IsCash")
                                                            //.Events(ev => ev.Change("onChange"))

                                                    )


                                                    @*     <span asp-validation-for="IsCash" class="text-danger k-invalid-msg" data-for="IsCash"></span>
                                                    *@
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label asp-for="DescriptionPadre" class=" control-label" style="width:100%"></label>
                                                    <textarea asp-for="DescriptionPadre" name="DescriptionPadre" required class="form-control required " style="min-width: 100% !important;"></textarea>

                                                    @* <input type ="text" asp-for="Description" name="Description" class="form-control" autocomplete="off" style="width:100%"/>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                                                                      for="@Model.IdEstado"

                                                    *@
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="EstadoPadre" class="control-label" style="width:100%"></label>
                                                    <kendo-dropdownlist name="IdEstadoPadre"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        style="min-width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnGrupo" class="btn btn-success" type="button" onclick="SaveAccountingFather(this);"> Guardar </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>

   

     /*   if ($("#ProveedorMenor").data("kendoDropDownList").text() === "Activo") {
            document.getElementById('LabelQtyMonth').innerHTML = "Menor";
            // $("#LabelQtyMonth").val() = ;
            var mensual = 10000.00;
            setearvalor("QtyMonth", mensual);

        }
        else {
            // $("#LabelQtyMonth").val() = "Mayor";
            document.getElementById('LabelQtyMonth').innerHTML = "Mayor";

            var mensual = 10000.00 + 0.01;

            setearvalor("QtyMonth", mensual);

        }*/
    //};
    function setearvalor(nombrenumerico, valor) {
        var numeric = $("#" + nombrenumerico).data("kendoNumericTextBox");
        numeric.value(valor);
        numeric.trigger('change');
        numeric = null;
    }

    
    
    function SaveAccountingFather(e)
    {
        debugger;

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
        $("#btnAccountingFather").hide();
        $("#btnAccountingFather").prop("disabled", true);

       // var displayedData = $("#gridNumeracionAccount").data().kendoGrid.dataSource.view();

        var dataObject = { 'AccountId': $("#AccountId").val(),
                          'AccountName': $("#AccountNamePadre").val(),
                         'Description': $("#DescriptionPadre").val(),
                         'ParentAccountId': $("#ParentAccountIdPadre").val(),
                               'AccountCode': $("#AccountCodePadre").val(),
                          'IsCash': $("#IsCashPadre").is(':checked'),
                         'BlockedInJournal': $("#BlockedInJournalPadre").is(':checked'),
                          'TypeAccountId': $("#TypeAccountIdPadre").val(),
                           'IdEstado': $("#IdEstadoPadre").val(),
                          'Estado': $("#IdEstadoPadre").data("kendoDropDownList").text(),

                                //'CompanyInfoId': $("#CompanyInfoId").val(),
                           // 'HierarchyAccount': $("#HierarchyAccount").val(),
                           // 'FechaCreacion': $("#FechaCreacion").val(),
                            //'FechaModificacion':$("#FechaModificacion").val(),
                            //'UsuarioCreacion':$("#UsuarioCreacion").val(),
                            //'UsuarioModificacion':$("#UsuarioModificacion").val(),
                            //'_Accounting': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

        var validator = $("#frmAccountingFather").data("kendoValidator");
                 var status = $(".status");


                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveAccounting", "Accounting")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            //  return (data);
                                $.toast({
                                    heading: 'Satisfactorio',
                                    text: '<br/><br/>Datos guardados correctamente.',
                                    position: 'top-right',
                                    loaderBg: '#ff6849',
                                    icon: 'success',
                                    hideAfter: 30000,
                                    stack: 6
                                });
                           

                          //  RefrescarGrid();
                            RefreshTreeList();
                            $('#ModalAccountingFather').modal('hide');

                            //ModalAccount
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {


                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");
                          //  console.log(XMLHttpRequest.responseText);


                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }


        $("#btnAccountingFather").show();
        $("#btnAccountingFather").prop("disabled", false);
    }
</script>