@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
// {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>
    function AddAccounting() {



        $('#ModalAccounting').find(':input').not(':submit').val('');

        $('#ModalAccounting').modal('show');
        $("#AccountId").val('0');





    }


       function EditAccount(e) {
             e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
             var dataObject = {
                 AccountId: dataItem.AccountId,
                editar : 0
            };

            $.ajax({
                url: '@Url.Action("pvwAddAccounting", "Accounting")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (result) {
                    $("#NumAccounting").html('');
                    $("#NumAccounting").html(result);


                    //$("#btnCAI").hide();
                    $('#ModalAccounting').modal('show');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
            });
         }



    var TypeAccountId = 0;
    function TypeAccounting(TypeAccountIdv) {
        kendo.ui.progress($("#divClasificacionCuentas"), true);

        TypeAccountId = TypeAccountIdv;

        var treelist = $("#AccountingTreelist").data("kendoTreeList");
        treelist.dataSource.read();


    }

    function DataTypeAccounting() {
        return { 'TypeAccountId': TypeAccountId }
    }

    function onBound() {
        kendo.ui.progress($("#divClasificacionCuentas"), false);
    }
</script>


@(Html.Kendo().TreeList<ERPMVC.DTO.AccountingDTO>()
                    .Name("AccountingTreelist")
                    .Toolbar(toolbar => toolbar.Create().Text("Padre"))
                    .Columns(columns =>
                    {
                        columns.Add().Width(300).Command(c =>
                        {
                            c.CreateChild().Text(" ");
                            c.Edit().Text(" ");  //.IconClass("fa fa-edit").Click("EditAccount");

                        });
                        columns.Add().Field(f => f.AccountName).Width(550);
                        columns.Add().Field(f => f.AccountBalance).Width(200);
                        columns.Add().Field(f => f.AccountCode).Width(200);
                        columns.Add().Field(f => f.BlockedInJournal).Width(200);
                        columns.Add().Field(f => f.IsCash).Width(200);
                        columns.Add().Field(f => f.TypeAccountId).Width(200) ;
                        columns.Add().Field(f => f.ParentAccountId).Width(200);

                    })

                    //.Toolbar(toolbar => toolbar.Create())



                    .Events(e =>
                    {
                        e.DataBound("onBound");
                    })
                    .Editable()
                    .DataSource(dataSource => dataSource
                        .Create(create => create.Action("SaveAccounting", "Accounting").Type(HttpVerbs.Post))
                    .Read(read => read.Action("AccountingRes", "Accounting").Data("DataTypeAccounting"))
                    .Update(update => update.Action("Update", "Accounting", new { AccountId = "{0}" }).Type(HttpVerbs.Put))
                    .Model(m =>
                    {
                        m.Id(f => f.AccountId);
                        m.ParentId(f => f.ParentAccountId).Editable(false);
                        m.Field(f => f.BlockedInJournal).Editable(true);
                        m.Field(f => f.AccountCode).Editable(true);
                        m.Field(f => f.IsCash).Editable(true);
                        m.Field(f => f.TypeAccountId).Editable(true);
                        m.Field(f => f.AccountName).Editable(true);
                        m.Field(f => f.AccountBalance).Editable(false);
                        m.Expanded(true);


                    })

                ).Height(540)
)


@*@foreach (ERPMVC.Models.TypeAccount Tipo in ViewBag.ListTypeAccount)

    {
        if(Tipo.TypeAccountId == ViewBag.AccountingParameter)
        {
        <div id="@Tipo.TypeAccountId" >
        <h4>@Tipo.TypeAccountName</h4>
        @(
                              Html.Kendo().TreeView()
                              .Name("TreeViewTemplateBiding")
                              .TemplateId("TreeViewTemplate")

                                   .BindTo((List<ERPMVC.Models.NodeViewModel>)ViewBag.Tree, (Kendo.Mvc.UI.Fluent.NavigationBindingFactory<TreeViewItem> mappings) =>
                                   {
                                       mappings.For<ERPMVC.Models.NodeViewModel>(binding => binding.ItemDataBound((item, node) =>
                                           {
                                               item.Id = node.Id.ToString();
                                               item.Text = node.Title;
                                               item.Expanded = node.Expanded;
                                           })
                                     .Children(node => node.Children));
                                   }).Checkboxes(true)
        )
        </div>
        }
    }*@
@*
*@

<script>


    $(function () {
        $('ul.k-reset.k-tabstrip-items li').click(function (e) {
            alert("Seleccionaste: " + '#@ViewBag.AccountingParameter');
        @* //  div = document.getElementById('@ViewBag.AccountingParameter');*@
            //div.style.display = '';
            // $( "#resultado" ).text( "Seleccionaste: "+this.id);
            /* Aquí si quieres lanzar más acciones de acuerdo al li
                seleccionado puedes implementar un if then else
                u otra estructura de condicionales */
        });
    });
</script>