@model ERPMVC.DTO.RetentionReceiptDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
   // {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<style>
    .readonly {
        pointer-events: none;
    }
</style>

<div id="ModalComprobanteRetencion" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Comprobante de Retención</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmComprobanteRetencion" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveComprobanteRetencion"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="RetentionReceiptId" class=" control-label" style="min-width:100%">No Ref</label>
                                                    <input type="text" asp-for="RetentionReceiptId" name="RetentionReceiptId" class="k-textbox" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="RetentionReceiptId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <script>
                                                    function GetPuntoEmision() {
                                                        $("#IdPuntoEmision").data("kendoDropDownList").dataSource.read();
                                                    }
                                                </script>
                                                <div class="form-group">
                                                    <label asp-for="BranchId" class="control-label"></label>
                                                    <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione la Sucursal!"
                                                                        datatextfield="BranchName"
                                                                        datavaluefield="BranchId"
                                                                        onchange="GetPuntoEmision();" data-val-required="La Sucursal es requerida."
                                                                        style="width: 100%;"
                                                                        auto-bind="true">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                            <sorts>
                                                                <sort field="BranchName" direction="asc" />
                                                            </sorts>
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Branch")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="FechaEmision" class="control-label"></label>
                                                    <kendo-datepicker name="FechaEmision"  
                                                                      format="dd/MM/yyyy"
                                                                      data-val-required="La Fecha de Emisión es requerida." min="@DateTime.Now"
                                                                      value="@Model.FechaEmision" />
                                                    <span asp-validation-for="FechaEmision" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="VendorId" class=" control-label" style="min-width:100%"></label>
                                                    <kendo-dropdownlist name="VendorId" required data-required-msg="El Proveedor es requerido."
                                                                        for="@Model.VendorId"
                                                                        on-data-bound="databoundRetencion"

                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el Proveedor!"
                                                                        datatextfield="VendorName"
                                                                        datavaluefield="VendorId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <sorts>
                                                                <sort field="VendorName" direction="asc" />
                                                            </sorts>
                                                            <transport>
                                                                <read url="@Url.Action("GetVendor", "Vendor")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="VendorId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            </div>
                                                <div class="row" id="datosfiscales">

                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label asp-for="NumeroDEI" class=" control-label" style="min-width:100%">No Retencion</label>
                                                            <input type="text" asp-for="NumeroDEI" name="NumeroDEI" class="k-textbox" autocomplete="off" style="min-width:100%" />
                                                            <span asp-validation-for="NumeroDEI" class="text-danger"></span>
                                                            <span id="CorrelativoAlert" class="text-danger"><span role="alert" class="k-icon k-i-warning"></span> Complete el número de la Factura del Proveedor.</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label asp-for="CAI" class=" control-label" style="min-width:100%">CAI</label>
                                                            <input type="text" maxlength="40" asp-for="CAI" readonly name="VendorCAI" class="k-textbox" autocomplete="off" style="min-width:100%" />
                                                            <span asp-validation-for="CAI" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label asp-for="FechaLimiteEmision" class="control-label">Fecha Limite Emision</label>
                                                            <kendo-datepicker name="FechaLimiteEmision"
                                                                              format="dd/MM/yyyy"
                                                                              value="@Model.FechaLimiteEmision" />
                                                            <span asp-validation-for="FechaLimiteEmision" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label asp-for="RangoEmision" class=" control-label" style="min-width:100%">Rango de Emisión</label>
                                                            <input type="text" maxlength="40" asp-for="RangoEmision" readonly name="RangoEmision" class="k-textbox" autocomplete="off" style="min-width:100%" />
                                                            <span asp-validation-for="RangoEmision" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>



                                            <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="RTN" class=" control-label" style="min-width:100%"></label>
                                                    <input type="text" maxlength="14" asp-for="RTN" name="RTN" required data-required-msg="El RTN es requerido." class="k-textbox" autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="RTN" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <label class=" control-label" style="min-width:100%">Factura de Proveedor</label>
                                                   
                                                        <kendo-dropdownlist name="VendorInvoiceId" required data-required-msg="La Factura de Proveedor es requerida."
                                                                            filter="Kendo.Mvc.UI.FilterType.Contains" enable="false"
                                                                            option-label="Seleccione la Factura de Proveedor!"
                                                                            datatextfield="VendorInvoiceName"
                                                                            datavaluefield="VendorInvoiceId"
                                                                            style="min-width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                                <sorts>
                                                                    <sort field="VendorInvoiceName" direction="asc" />
                                                                </sorts>
                                                                <transport>
                                                                    <read url="@Url.Action("GetVendorInvoiceByVendorId", "VendorInvoice")" data="GetVendorId" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    
                                                    <span class="text-danger"></span>
                                                </div>
                                            </div>
                                            
                                               
                                            
                                        </div>

                                        
                                        <div class="row">
                                         <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="RetentionTaxDescription" class=" control-label" style="min-width:100%"></label>
                                                    <input type="text" maxlength="150" asp-for="RetentionTaxDescription" name="RetentionTaxDescription" required data-required-msg="La Descripción del Impuesto Retenido es requerida." class="k-textbox" autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="RetentionTaxDescription" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                           
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Percentage" class=" control-label" style="min-width:100%">Impuesto de Retención</label>
                                                    @(Html.Kendo().DropDownList()
                                                        .Name("Percentage")
                                                        .OptionLabel("Seleccione el Impuesto de Retención!")
                                                        .Value(Convert.ToString(Model.Percentage))
                                                        .DataTextField("Text")
                                                        .DataValueField("Value")
                                                        .BindTo(new List<SelectListItem>() {
                                                              new SelectListItem() {
                                                                  Text = "1%",
                                                                  Value = "1"
                                                              },
                                                              new SelectListItem() {
                                                                  Text = "12.5%",
                                                                  Value = "12.5"
                                                              }
                                                          })
                                                        .HtmlAttributes(new { style = "width: 100%" })
                                                    )
                                                    <span asp-validation-for="Percentage" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3" >
                                                <div class="form-group">
                                                    <label asp-for="TaxableBase" class=" control-label" style="min-width:100%">Base Imponible</label>
                                                    <kendo-numerictextbox name="TaxableBase"
                                                                          format="c2" spinners="false" decimals="2" tabindex="-1"
                                                                          min="0" data-val-required="La Base Imponible es requerida." data-min-msg="La Base Imponible no puede ser negativo."
                                                                          style="min-width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999"
                                                                          step="1"
                                                                          value="Model.TaxableBase" />
                                                    <span asp-validation-for="TaxableBase" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="TotalAmount" class=" control-label" style="min-width:100%"></label>
                                                    <kendo-numerictextbox name="TotalAmount" 
                                                                          format="c2" spinners="false" decimals="2" tabindex="-1"
                                                                          min="0" data-val-required="El Monto Total es requerido." data-min-msg="El Monto Total no puede ser negativo."
                                                                          style="min-width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999"
                                                                          step="1"
                                                                          value="Model.TotalAmount" />
                                                    <span asp-validation-for="TotalAmount" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        @if (Model.RetentionReceiptId == 0)
                                        {
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button id="btnComprobanteRetencion" class="form-control btn-miboton" type="submit"> Guardar </button>
                                                </div>
                                            </div>
                                        
                                        }
                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        

        $("#IdEstado").data('kendoDropDownList').value(5);

        $("#Percentage").attr("required", "required");
        $("#Percentage").attr("data-required-msg", "El Porcentaje Retención es requerido.");

        $("#CorrelativoAlert").hide();
    });


    function databoundRetencion(){
        var id = $("#RetentionReceiptId").val();
        if(id == 0){
            $("#datosfiscales").hide();

            }else{
            $("#datosfiscales").show()
        }
        
    
    }

    function GetVendorId() {
        return {
            'VendorId': $("#VendorId").data("kendoDropDownList").value(),
        }
    }

    $("#VendorId").change(function () {
        $("#VendorInvoiceId").data("kendoDropDownList").dataSource.read();
        if ($("#VendorId").val() > 0) {
            var VendorId = $("#VendorId").data("kendoDropDownList").value();
            $.ajax({
                url: '@Url.Action("GetVendorById", "Vendor")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: { VendorId: VendorId },
                success: function (result) {
                    if (result != undefined) {
                        $("#VendorInvoiceId").data("kendoDropDownList").enable(true);
                        $("#RTN").val(result.RTN);
                    }
                    else {
                        $.toast({
                            heading: 'Validación',
                            text: "Este proveedor no tiene ninguna factura registrada!",
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'error',
                            hideAfter: 30000,
                            stack: 6
                        });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
            });
        }
        else {
            $("#RTN").val(null);
            $("#VendorInvoiceId").data("kendoDropDownList").value(0);
            $("#VendorInvoiceId").data("kendoDropDownList").enable(false);
            $("#VendorCAIdiv").prop("hidden", true);
            $("#VendorCAI").val(null);
            $("#TaxableBase").data("kendoNumericTextBox").value(null);
            $("#DocumentId").val("0");
        }
    });

    $("#VendorInvoiceId").change(function () {
        if ($("#VendorInvoiceId").data("kendoDropDownList").value() > 0) {
            var VendorInvoiceId = $("#VendorInvoiceId").val();
            var dataObject = {
                VendorInvoiceId: VendorInvoiceId,
                editar: 1
            };
            $.ajax({
                url: '@Url.Action("VendorInvoiceById", "VendorInvoice")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (result) {
                    if (result.InvoiceId == 0) {
                        $.toast({
                            heading: 'Validación',
                            text: "No se encontraron los datos de la factura.",
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'error',
                            hideAfter: 30000,
                            stack: 6
                        });
                    }
                    else {
                        if (result.CAI == "" || result.CAI == null || result.CAI == undefined) {
                            $.toast({
                                heading: 'Validación',
                                text: "La Factura de Proveedor no contiene un CAI asignado.",
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'error',
                                hideAfter: 30000,
                                stack: 6
                            });
                            $("#VendorCAI").val(result.CAI);
                            
                            $("#VendorCAIdiv").prop("hidden", false);
                            $("#VendorCAI").focus();
                        }
                        else {
                            $("#VendorCAI").val(result.CAI);
                            $("#VendorCAIdiv").prop("hidden", true);
                        }

                       
                        
                        $("#DocumentId").val(result.VendorInvoiceId);
                        $("#TaxableBase").data("kendoNumericTextBox").value(result.Total);
                        CalcularTotalImporte();
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
            });
        }
        else {
            $("#VendorCAIdiv").prop("hidden", true);
            $("#VendorCAI").val(null);
            $("#TaxableBase").data("kendoNumericTextBox").value(null);
            $("#TotalAmount").data("kendoNumericTextBox").value(0);
            $("#DocumentId").val("0");
        }
    });

    $("#Percentage").change(function () {
        CalcularTotalImporte();
    });

    $("#TotalAmount").change(function () {
        CalcularTotalImporte();
    });

    $("#FechaEmision").change(function () {
        var _fechaEmision = "";
        var _fechaVencimiento = "";
        if ($("#FechaEmision").getKendoDatePicker().value() != null || $("#FechaEmision").getKendoDatePicker().value() != undefined || $("#FechaEmision").val() != "") {
            _fechaEmision = $("#FechaEmision").getKendoDatePicker().value().toJSON()

            $("#DueDate").kendoDatePicker("min", _fechaEmision)

            if ($("#DueDate").getKendoDatePicker().value() != null || $("#DueDate").getKendoDatePicker().value() != undefined || $("#DueDate").val() != "") {
                _fechaVencimiento = $("#DueDate").getKendoDatePicker().value().toJSON()
                if (_fechaEmision > _fechaVencimiento) {
                    $("#DueDate").val(null);
                }
            }
        }
    });

    $("#btnComprobanteRetencion").click(function () {
        validarNoCorrelativo();
        if ($('#CorrelativoAlert').is(':hidden')) {
            return true;
        }
        else {
            return false;
        }
    });

    $("#NoCorrelativo").change(function () {
        validarNoCorrelativo();
    })

    function SaveComprobanteRetencion() {
        debugger;
        var validator = $("#frmComprobanteRetencion").data("kendoValidator");
        var status = $(".status");
        
        if (!validator.validate()) {
            status.text("Oops! There is invalid data in the form.")
                .removeClass("valid")
                .addClass("invalid");
            return;
        }

        try{
            $("#btnComprobanteRetencion").hide();
            $("#btnComprobanteRetencion").prop("disabled", true);

            var fechalimite = $("#FechaLimiteEmision").getKendoDatePicker().value() == null? null:  $("#FechaLimiteEmision").getKendoDatePicker().value().toJSON();

            var dataObject = {
                'RetentionReceiptId': $("#RetentionReceiptId").val() === "" ? "0" : $("#RetentionReceiptId").val(),
                'FechaEmision': $("#FechaEmision").getKendoDatePicker().value().toJSON(),
                'VendorCAI': $("#VendorCAI").val(),
                'RTN': $("#RTN").val(),
                'VendorId': $("#VendorId").data("kendoDropDownList").value(),
                'BranchId': $("#BranchId").data("kendoDropDownList").value(),
                'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                'RetentionTaxDescription': $("#RetentionTaxDescription").val(),
                'TaxableBase': $("#TaxableBase").val(),
                'Percentage': $("#Percentage").val(),
                'TotalAmount': $("#TotalAmount").val(),
                'NumeroDEI': $("#NumeroDEI").val(),
                'CAI': $("#CAI").val(),
                'FechaLimiteEmision': fechalimite,
                'RangoEmision': $("#RangoEmision").val(),
                'VendorInvoiceId': $("#VendorInvoiceId").val(),

                




            };


            $.ajax({
                url: '@Url.Action("SaveComprobanteRetencion", "RetentionReceipt")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (data) {
                    $.toast({
                        heading: 'Satisfactorio',
                        text: 'Datos guardados correctamente.',
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 30000,
                        stack: 6
                    });

                    RefrescarGrid();
                    $('#ModalComprobanteRetencion').modal('hide');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.toast({
                        heading: 'Validación',
                        text: textStatus + ": " + XMLHttpRequest.responseText,
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 30000,
                        stack: 6
                    });
                }
            });

        
        }catch(e){
            MostrarMensaje(e, "Error", "Error", 6000);
        }finally{
             $("#btnComprobanteRetencion").show();
            $("#btnComprobanteRetencion").prop("disabled", false);
        }
        
    }

    function CalcularTotalImporte() {
        var ImpuestoValue = 0;
        var ImpuestoText = "";
        var BaseImponible = $("#TaxableBase").data("kendoNumericTextBox").value();
        var ImporteTotal = 0;
        ImpuestoValue = $("#Percentage").data("kendoDropDownList").value();
        if (ImpuestoValue > 0) {
            ImpuestoText = $("#Percentage").data("kendoDropDownList").text();
            if (ImpuestoText == "1%") {
                ImporteTotal = BaseImponible * (1 / 100);
                $("#TotalAmount").data("kendoNumericTextBox").value(ImporteTotal);
            }
            else if (ImpuestoText == "12.5%") {
                ImporteTotal = BaseImponible * (12.5 / 100);
                $("#TotalAmount").data("kendoNumericTextBox").value(ImporteTotal);
            }
        }
        else {
            $("#TotalAmount").data("kendoNumericTextBox").value(0);
        }
    }

    function validarNoCorrelativo() {
        debugger;
        var cadena = $("#NoCorrelativo").val();
        if (cadena.indexOf("_") > -1 == true) {
            $("#CorrelativoAlert").show();
        }
        else {
            $("#CorrelativoAlert").hide();
        }
    }
</script>