@model ERPMVC.Models.BoletaDeSalida

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                        {"required"," El campo {0} es requerido" }
                                    };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}



<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Largo" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "UsedArea" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Ancho" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Alto" && input.val() == 0) {
            return false;
        }



        return true;
    }


    function closeCustomer() {
        $('#myModalBoletaDeSalida').find(':input').not(':submit').val('0');     
        $("#BranchId").data("kendoDropDownList").value(0);
        $("#CustomerId").data("kendoDropDownList").value(0);
        RefreshGridBoletaDeSalida();
        $("#myModalBoletaDeSalida").modal('hide');


       // $("#TypeId").data("kendoDropDownList").value(0);
          // $('#myModalBoletaDeSalida').find(':select').not(':submit').val('0');
     //   $("#ProductId").data("kendoDropDownList").value(0);
      
    }

    function RefreshGridBoletaDeSalida() {
        var grid = $("#gridBoletaDeSalida").getKendoGrid();
        grid.dataSource.read();
    }
</script>


<div id="myModalBoletaDeSalida" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Información Boleta de Salida</h4>
                <button type="button" class="close" onclick="closeCustomer();">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <form id="frmBoletaDeSalida" kendo-validator="true" kendo-messages="messages" kendo-rules="rules" data-val-required="El campo C/E No. es requerido"
                                          data-ajax="true"
                                          data-ajax-method="post"
                                          method="post" class="validation-wizard wizard-circle">


                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="BoletaDeSalidaId" class="  control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="BoletaDeSalidaId"
                                                                          format="n"
                                                                          enable="false"
                                                                          min="0"
                                                                          style="width:100%"
                                                                          step="1"
                                                                          value="Model.BoletaDeSalidaId" />

                                                    <span asp-validation-for="BoletaDeSalidaId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="DocumentDate" class=" control-label" style="width: 100%;"></label>
                                                    <kendo-datetimepicker name="DocumentDate"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.DocumentDate" />
                                                    <span asp-validation-for="DocumentDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <script>
                                                         function valueMapper(options) {
                                                            $.ajax({
                                                                url: "@Url.Action("Orders_ValueMapper", "GoodsDelivered")",
                                                                data: convertValues(options.value),
                                                                success: function (data) {
                                                                    options.success(data);
                                                                }
                                                            });
                                                        }

                                                        function convertValues(value) {
                                                            var data = {};
                                                            value = $.isArray(value) ? value : [value];

                                                            for (var idx = 0; idx < value.length; idx++) {
                                                                data["values[" + idx + "]"] = value[idx];
                                                            }

                                                            return data;
                                                        }

                                                        function changesetearvalues() {
                                                            var dataObject = { 'GoodsDeliveredId' : $("#GoodsDeliveredId").val() };
                                                            var notification = $("#notification").data("kendoNotification");
                                                            var subproductid = 0;
                                                            $.ajax({
                                                                url: '@Url.Action("GetGoodsDeliveredById", "GoodsDelivered")',
                                                                method: 'POST',
                                                                datatype: "json",
                                                                contentType: 'application/json',
                                                                async: false,
                                                                data: JSON.stringify(dataObject),
                                                                success: function (data) {
                                                                    //console.log(data);
                                                                    $("#Placa").val(data.Placa);
                                                                    $("#Motorista").val(data.Name);
                                                                    $("#Marca").val(data.Marca);
                                                                    $("#Quantity").data("kendoNumericTextBox").value(data._GoodsDeliveredLine[0].QuantitySacos);
                                                                    $("#CustomerId").data("kendoDropDownList").value(data.CustomerId);
                                                                    $("#SubProductId").data("kendoDropDownList").dataSource.read();
                                                                    $("#UnitOfMeasureId").data("kendoDropDownList").value(data._GoodsDeliveredLine[0].UnitOfMeasureId);
                                                                    $("#BranchId").data("kendoDropDownList").value(data.BranchId);
                                                                    subproductid = data._GoodsDeliveredLine[0].SubProductId;
                                                                },
                                                                error: function (XMLHttpRequest, textStatus, errorThrown) {

                                                                    //notification.show({
                                                                    //    title: "Validacion",
                                                                    //    message: textStatus + ": " + XMLHttpRequest.responseText
                                                                    //}, "error");
                                                                     MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Validación", 30000);
                                                                }
                                                            });

                                                            $("#SubProductId").data("kendoDropDownList").value(subproductid);
                                                        }
                                                    </script>
                                                    <label asp-for="GoodsDeliveredId" class="  control-label" style="width:100%">Documento No.</label>

                                                    <input type="text" asp-for="GoodsDeliveredId" class="k-textbox" style="min-width:100%" readonly />

                                                    <span asp-validation-for="GoodsDeliveredId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="CargadoId" class="  control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="CargadoId"
                                                                        for="CargadoId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Cargado/Vacio"
                                                                        datatextfield="Nombre"
                                                                        datavaluefield="Id"
                                                                        data-val-required="El campo Cargado/Vacio es requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion",new {Id = 7 })" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CargadoId" class="text-danger"></span>
                                                </div>
                                            </div>


                                        </div>




                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="WeightBallot" class="control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="WeightBallot"
                                                                          format="n"
                                                                          data-val-required="El campo Boleta de peso es requerido"
                                                                          min="0"
                                                                          spinners="false"
                                                                          max="99999999"
                                                                          onchange="return GetBoletaPeso()"
                                                                          step="1"
                                                                          style="width: 100%;"
                                                                          value="Model.WeightBallot" />
                                                    <span asp-validation-for="WeightBallot" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <script>

                                                        function FillWareHouse(e) {
                                                            //var WarehouseId = $("#WarehouseId").getkendoDropDownList();
                                                            //WarehouseId.dataSource.read();
                                                            //$("#SubProductId").data("kendoDropDownList").dataSource.read();
                                                            var dataItem = e.dataItem;
                                                            $("#warehousesetid").val(dataItem.BranchId);
                                                            $("#WarehouseId").data("kendoDropDownList").dataSource.read();

                                                        }


                                                    </script>

                                                    <input type="hidden" id="warehousesetid" />
                                                    <label asp-for="BranchId" class="control-label"></label>
                                                    <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Sucursal"
                                                                        datatextfield="BranchName"
                                                                        datavaluefield="BranchId"
                                                                        data-val-required="El campo Sucursal es requerido"
                                                                        auto-bind="true"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetBranchActivos", "Branch")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <script>
                                                        function GetSubProduct(e) {
                                                            hcustom = this.value();
                                                            // console.log(this.value());
                                                            //console.log(e);
                                                            $("#SubProductId").data("kendoDropDownList").dataSource.read();
                                                        }
                                                    </script>
                                                    <label asp-for="CustomerId" class="  control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el Cliente"
                                                                        on-change="GetSubProduct"
                                                                        data-val-required="El campo Cliente es requerido"
                                                                        datatextfield="CustomerName"
                                                                        datavaluefield="CustomerId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="20000">
                                                            <transport>
                                                                <read url="@Url.Action("GetCustomerActivos", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <script>
                                                        function setsubproductname(e) {
                                                            // console.log(e);
                                                            var dataItem = e.dataItem;
                                                            if (dataItem != null)
                                                                $("#subproductname").val(dataItem.ProductName);
                                                        }

                                                        var hcustom = 0;
                                                        function GetProductTypeIdS() {
                                                            ////debugger;
                                                            return {
                                                                'CustomerId': $("#CustomerId").val(),

                                                            }
                                                        }

                                                    </script>
                                                    <label asp-for="SubProductId" class="control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="SubProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        for="SubProductId"
                                                                        option-label="Seleccione el Producto"
                                                                        datatextfield="ProductName"
                                                                        datavaluefield="SubproductId"
                                                                        data-val-required="El campo Producto es requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetSubProductoByTipoByCustomerActivos", "SubProduct")" data="GetProductTypeIdS" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="SubProductId" class="text-danger"></span>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Placa" class="control-label" style="width: 100%;"></label>
                                                    <input type="text" id="Placa" required class="k-textbox" style="min-width:100%;" asp-for="Placa" />
                                                </div>
                                            </div>



                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Marca" class="control-label" style="width: 100%;"></label>
                                                    <input type="text" id="Marca" required class="k-textbox" style="min-width: 100%;" asp-for="Marca" />
                                                </div>
                                            </div>


                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Motorista" class="control-label" style="width: 100%;"></label>
                                                    <input type="text" id="Motorista" required class="k-textbox" style="min-width: 100%;" asp-for="Motorista" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Vigilante" class="control-label" style="width: 100%;"></label>
                                                    <input type="text" id="Vigilante" data-val-required="El campo Vigilante es requerido" class="k-textbox" style="min-width:100%;" asp-for="Vigilante" />
                                                </div>
                                            </div>
                                        </div>

                                        <script>
                                            function CalcularArea() {
                                                var UsedArea = $("#Ancho").val() * $("#Alto").val() * $("#Largo").val();
                                                var numeric = $("#UsedArea").data("kendoNumericTextBox");
                                                numeric.value(UsedArea);
                                                numeric.trigger('change');
                                                //$("#UsedArea").val(UsedArea);
                                            }
                                            function GrupoConfiguracionCargado() {
                                                return { Id: 18 };
                                            }
                                        </script>

                                        
                                    </form>

                                    <div class="row">
                                        @(Html.Kendo().Grid<ERPMVC.Models.BoletaDeSalidaLine>()
                          .Name("gridBoletaDeSalidaLines")
                          .Columns(columns =>
                          {

                              columns.Command(command =>
                              {
                              }).Title("Acciones").Width(120).Visible(Model.BoletaDeSalidaId == 0);
                              columns.Bound(p => p.BoletaSalidaLineId).Width(150).Hidden(true);
                              columns.Bound(p => p.SubProductId).Hidden(true).Width(150);
                              columns.Bound(p => p.SubProductName).Width(150);
                              columns.Bound(p => p.UnitOfMeasureName).Width(180);
                              columns.Bound(p => p.Quantity).Width(150);
                              columns.Bound(p => p.UnitOfMeasureId).Width(180).Hidden(true);
                              columns.Bound(p => p.WarehouseName).Width(200).Title("Bodega");
                              columns.Bound(p => p.Warehouseid).Visible(false);


                          })

                              .Filterable(f => f.Operators(o => o.ForString(s => s
                                                   .Clear()
                                                   .Contains("Contiene")
                                                   .DoesNotContain("No contiene")
                                                   .EndsWith("Termina con")
                                                   .IsEqualTo("Es igual a")
                                                   .IsNotEqualTo("No es igual a")
                                                   .IsNull("Es nulo")
                                                   .StartsWith("Inicia con")


                                             )
                                             .ForNumber(n => n
                                               .Clear()
                                               .IsEqualTo("Es igual a")
                                               .IsGreaterThan("Es mayor que")
                                               .IsLessThan("Es menor que")
                                               .IsNull("Es nulo")
                                               .IsLessThanOrEqualTo("Es menor o igual que")
                                               .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                             )

                                             .ForDate(d => d
                                             .Clear()
                                             .IsEqualTo("Es igual que")
                                             .IsGreaterThan("Es mayor que")
                                             .IsLessThan("Es menor que")
                                             .IsLessThanOrEqualTo("Es menor o igual que")
                                             .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                             .IsNotEqualTo("No es igual que")
                                              )
                                           ))

                          .Editable(e => e.Mode(GridEditMode.PopUp))
                          .Sortable()
                          .Filterable()
                          .Scrollable()
                          .Pdf(pdf => pdf.FileName("BoletaDeSalidaReport" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                           + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".pdf")
                           .ProxyURL(Url.Action("Export", "Home")).AllPages())
                             .Excel(excel => excel.FileName("BoletaDeSalidaReport_" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                           + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".xlsx").Filterable(true)
                           .ProxyURL(Url.Action("Export", "Home")).AllPages(true))
                          .DataSource(dataSource =>
                              dataSource
                                .WebApi()
                                .ServerOperation(true)
                                .Model(model =>
                                {
                                    model.Id(p => p.BoletaSalidaLineId);
                                    model.Field(p => p.SubProductId).Editable(false);
                                })
                                .Events(events => events.Error("error_handler"))
                                .Read(read => read.Action("GetBoletaLines", "BoletaDeSalida", new { BoletaId = Model.BoletaDeSalidaId }))
                                .Create(create => create.Action("Post", "BoletaDeSalida"))
                                .Update(update => update.Action("Put", "BoletaDeSalida", new { id = "{0}" }))
                                .Destroy(destroy => destroy.Action("Delete", "BoletaDeSalida", new { id = "{0}" }))
                                .Sort(s => s.Add(m => m.BoletaSalidaLineId).Descending())
                          )
                            .Events(e =>
                            {
                                //e.Save("onsave");
                            })
)
                                    </div>

                                    <div class="row">
                                      
                                            <button id="btnSaveBoletaDeSalida" type="submit" class="form-control btn-miboton" onclick="SaveBoletaDeSalida(this);">Guardar</button>
                                      
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SaveBoletaDeSalida(e) {

        //var notification = $("#notification").data("kendoNotification");
       // e.preventDefault();
        $("#btnSaveBoletaDeSalida").hide();
        $("#btnSaveBoletaDeSalida").prop("disabled", true);

        //var displayedData = $("#gridControlPalletsDetail").data().kendoGrid.dataSource.view();

        var dataObject = {                    
            'BoletaDeSalidaId': $("#BoletaDeSalidaId").val(),
            'GoodsDeliveredId': $("#GoodsDeliveredId").val(),
            'GoodsDeliveryAuthorizationId': $("#GoodsDeliveryAuthorizationId").val(),
            'Vigilante': $("#Vigilante").val(),
            'DocumentDate': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),
            'BranchId': $("#BranchId").val(),
            'BranchName': $("#BranchId").data("kendoDropDownList").text(),
            'CustomerId': $("#CustomerId").val(),
            'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
            'VigilanteId': $("#VigilanteId").data("kendoDropDownList").value(),
            'VigilanteName': $("#VigilanteId").data("kendoDropDownList").text(),
            'Placa': $("#Placa").val(),
            'Marca': $("#Marca").val(),
            'Motorista': $("#Motorista").val(),
            'CargadoId': $("#CargadoId").val(),
            'Cargadoname': $("#CargadoId").data("kendoDropDownList").text(),
            'SubProductId': $("#SubProductId").val(),
            'SubProductName': $("#SubProductId").data("kendoDropDownList").text(),
            'UnitOfMeasureId': $("#UnitOfMeasureId").val(),
            'UnitOfMeasureName': $("#UnitOfMeasureId").data("kendoDropDownList").text(),
            'Quantity': $("#Quantity").val(),       
            'WeightBallot': $("#WeightBallot").val(),
           
        }; 

        var validator = $("#frmBoletaDeSalida").data("kendoValidator");
        //var validator2 = $("#TotalesDocumento").data("kendoValidator");
        var status = $(".status");

       // if (displayedData.length > 0) {
            if (validator.validate()) {

                $.ajax({
                    url: '@Url.Action("SaveBoletaDeSalida", "BoletaDeSalida")',
                    method: 'POST',
                    datatype: "json",
                    //contentType: "application/x-www-form-urlencoded; charset=UTF-8", 
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify( dataObject),
                    success: function (data) {

                        //$.toast({
                        //    heading: 'Satisfactorio',
                        //    text: 'Datos guardados correctamente.',
                        //    position: 'top-right',
                        //    loaderBg: '#ff6849',
                        //    icon: 'success',
                        //    hideAfter: 7000,
                        //    stack: 6
                        //});
                         MostrarMensaje('Datos guardados correctamente.', "success", "Satisfactorio", 7000);
                        RefreshGridBoletaSalida();                        
                        //$('#myModalSalesOrder').modal('hide');

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#btnSaveBoletaDeSalida").show();
                        $("#btnSaveBoletaDeSalida").prop("disabled", false);
                      
                        //notification.show({
                        //    title: "Validacion",
                        //    message: textStatus + ": " + XMLHttpRequest.responseText
                        //}, "error");
                         MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 30000);
                    }
                });

            }
            else {
                $("#btnSaveBoletaDeSalida").show();
                $("#btnSaveBoletaDeSalida").prop("disabled", false);
            
            }
        //}
        //else {
        //    $("#btnSaveControlEstiba").show();
        //    $("#btnSaveControlEstiba").prop("disabled", false);
        //    notification.show({
        //        title: "Validacion",
        //        message: "Debe agregar los productos!"
        //    }, "error");
   
       // }


       
    }
</script>