@model ERPMVC.Models.BoletaDeSalida

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                        {"required"," El campo {0} es requerido" }
                                    };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}



<script>


                                                         function valueMapper(options) {
                                                            $.ajax({
                                                                url: "@Url.Action("Orders_ValueMapper", "GoodsDelivered")",
                                                                data: convertValues(options.value),
                                                                success: function (data) {
                                                                    options.success(data);
                                                                }
                                                            });
                                                        }

                                                        function convertValues(value) {
                                                            var data = {};
                                                            value = $.isArray(value) ? value : [value];

                                                            for (var idx = 0; idx < value.length; idx++) {
                                                                data["values[" + idx + "]"] = value[idx];
                                                            }

                                                            return data;
                                                        }

                                                        function changesetearvalues() {
                                                            var dataObject = { 'GoodsDeliveredId' : $("#GoodsDeliveredId").val() };
                                                            var notification = $("#notification").data("kendoNotification");
                                                            var subproductid = 0;
                                                            kendo.ui.progress($("#myModalBoletaDeSalida"), true);
                                                            $.ajax({
                                                                url: '@Url.Action("GetGoodsDeliveredById", "GoodsDelivered")',
                                                                method: 'POST',
                                                                datatype: "json",
                                                                contentType: 'application/json',
                                                                async: false,
                                                                data: JSON.stringify(dataObject),
                                                                success: function (data) {
                                                                    debugger;
                                                                    $("#Placa").val(data.Placa);
                                                                    $("#Motorista").val(data.Name);
                                                                    $("#Marca").val(data.Marca);
                                                                    $("#Quantity").data("kendoNumericTextBox").value(data._GoodsDeliveredLine[0].QuantitySacos);
                                                                    $("#CustomerId").data("kendoDropDownList").value(data.CustomerId);
                                                                    $("#SubProductId").data("kendoDropDownList").dataSource.read();
                                                                    $("#UnitOfMeasureId").data("kendoDropDownList").value(data._GoodsDeliveredLine[0].UnitOfMeasureId);
                                                                    $("#BranchId").data("kendoDropDownList").value(data.BranchId);
                                                                    subproductid = data._GoodsDeliveredLine[0].SubProductId;
                                                                },
                                                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                                     MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Validación", 30000);
                                                                }
                                                            });

                                                            $("#SubProductId").data("kendoDropDownList").value(subproductid);
                                                        }

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Largo" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "UsedArea" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Ancho" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Alto" && input.val() == 0) {
            return false;
        }



        return true;
    }


    function closeCustomer() {
        $('#myModalBoletaDeSalida').find(':input').not(':submit').val('0');     
        $("#BranchId").data("kendoDropDownList").value(0);
        $("#CustomerId").data("kendoDropDownList").value(0);
        RefreshGridBoletaDeSalida();
        $("#myModalBoletaDeSalida").modal('hide');


       // $("#TypeId").data("kendoDropDownList").value(0);
          // $('#myModalBoletaDeSalida').find(':select').not(':submit').val('0');
     //   $("#ProductId").data("kendoDropDownList").value(0);
      
    }

    function RefreshGridBoletaDeSalida() {
        var grid = $("#gridBoletaDeSalida").getKendoGrid();
        grid.dataSource.read();
    }
</script>



<div id="myModalBoletaDeSalida" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Información Boleta de Salida</h4>
                <button type="button" class="close" onclick="closeCustomer();">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <form id="frmBoletaDeSalida" kendo-validator="true" kendo-messages="messages" kendo-rules="rules" data-val-required="El campo C/E No. es requerido"
                                          data-ajax="true"
                                          data-ajax-method="post"
                                          method="post" class="validation-wizard wizard-circle">


                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="BoletaDeSalidaId" class="  control-label" style="width:100%"></label>
                                                    
                                                    <input type="text" id="BoletaDeSalidaId" required class="k-textbox" style="min-width:100%;" asp-for="BoletaDeSalidaId"  readonly/>

                                                    <span asp-validation-for="BoletaDeSalidaId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label asp-for="DocumentoId" class="control-label" style="width: 100%;">Documento Origen</label>
                                                    <input type="text" id="DocumentoId" required class="k-textbox" style="min-width:100%;" asp-for="DocumentoId"  readonly/>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="DocumentDate" class=" control-label" style="width: 100%;"></label>
                                                    <kendo-datetimepicker name="DocumentDate"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.DocumentDate" />
                                                    <span asp-validation-for="DocumentDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                             <div class="col-md-3">
                                                <div class="form-group">
                                                    <script>

                                                        function FillWareHouse(e) {
                                                            //var WarehouseId = $("#WarehouseId").getkendoDropDownList();
                                                            //WarehouseId.dataSource.read();
                                                            //$("#SubProductId").data("kendoDropDownList").dataSource.read();
                                                            var dataItem = e.dataItem;
                                                            $("#warehousesetid").val(dataItem.BranchId);
                                                            $("#WarehouseId").data("kendoDropDownList").dataSource.read();

                                                        }
                                                        function onbound() {
                                                            kendo.ui.progress($("#myModalBoletaDeSalida"), false);
                                                        }

                                                        function GetEsIngreso()
                                                            {
                                                                var cargado = $("#CargadoId").val();
                                                                var esIngreso = cargado ==14;
                                                                return { CustomerTypeId: 1, CustomerId: $("#CustomerId").val(), esIngreso: esIngreso, completo:true }
                                                            }

                                                    </script>

                                                    <input type="hidden" id="warehousesetid" />
                                                    <label asp-for="BranchId" class="control-label"></label>
                                                    <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Sucursal"
                                                                        datatextfield="BranchName"
                                                                        datavaluefield="BranchId"
                                                                        data-val-required="El campo Sucursal es requerido"
                                                                        auto-bind="true"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetBranchActivos", "Branch")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                                </div>
                                            </div>

                                           
                                            

                                        </div>




                                        <div class="row">
                                            
                                            
                                           
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <script>
                                                    </script>
                                                    <label asp-for="Producto" class="control-label" style="width:100%">Servicio</label>
                                                    <kendo-dropdownlist name="Producto" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        for="Producto"
                                                                        option-label="Seleccione el Servicio"
                                                                        datatextfield="ProductName"
                                                                        datavaluefield="ProductId"
                                                                        auto-bind=true
                                                                        required data-required-msg="Servicio es requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="999999999">
                                                            <transport>
                                                                <read url="@Url.Action("GetProductActivos", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="Producto" class="text-danger"></span>
                                                </div>
                                            </div>
                                             <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="CargadoId" class="  control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="CargadoId"
                                                                        for="CargadoId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Cargado/Vacio"
                                                                        datatextfield="Nombre"
                                                                        on-change="GetSubProduct"
                                                                        datavaluefield="Id"
                                                                        data-val-required="El campo Cargado/Vacio es requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion",new {Id = 7 })" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CargadoId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <script>
                                                        function GetSubProduct(e) {
                                                            limpiarvalores();
                                                            hcustom = this.value();
                                                            // console.log(this.value());
                                                            //console.log(e);
                                                            $("#SubProductId").data("kendoDropDownList").dataSource.read();
                                                            
                                                            $("#WeightBallotddl").data("kendoDropDownList").enable(true);
                                                            var datasource = $("#WeightBallotddl").data("kendoDropDownList").dataSource;
                                                            datasource.async = false;
                                                            datasource.read();
                                                            $("#WeightBallotddl").data("kendoDropDownList").refresh();
                                                             kendo.ui.progress($("#myModalBoletaDeSalida"), true);

                                                            
                                                        }

                                                        
                                                    </script>
                                                    <label asp-for="CustomerId" class="  control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el Cliente"
                                                                        on-change="GetSubProduct"
                                                                        data-val-required="El campo Cliente es requerido"
                                                                        datatextfield="CustomerName"
                                                                        datavaluefield="CustomerId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="20000">
                                                            <transport>
                                                                <read url="@Url.Action("GetCustomerActivos", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <script>
                                                        function setsubproductname(e) {
                                                            // console.log(e);
                                                            var dataItem = e.dataItem;
                                                            if (dataItem != null)
                                                                $("#subproductname").val(dataItem.ProductName);
                                                        }

                                                        function GetCliente() {
                                                            var customerid = $("#CustomerId").val();
                                                            return {
                                                                CustomerId : customerid,
                                                            }
                                                    
                                                        }

                                                        function limpiarvalores(){
                                                             var grid = $("#gridBoletaDeSalidaLines").data("kendoGrid");
                                                             var datasource = grid.dataSource;
                                                             var raw = datasource._data;
                                                             for (i = datasource._data.length - 1; i >= 0; i--) {
                                                               item = raw[i];
                                                               datasource.remove(item);
                                                            }
                                                    $(".k-grid-add", "#gridBoletaDeSalidaLines").show();
                                                                            

                                                            $("#Motorista").val(null);
                                                    $("#DNIMotorista").val(null);
                                                            $("#Placa").val(null);
                                                            $("#Marca").val(null);
                                                            $("#Barco").val(null);
                                                            $("#OrdenNo").val(null);
                                                            $("#Transportista").val(null);
                                                            $("#RTNTransportista").val(null);
                                                            $("#TonPuerto").val(0);
                                                            $("#PesoBruto").val(0);
                                                            $("#Tara").val(0);
                                                            $("#PNInglesas").val(0);
                                                            $("#QQInglesas").val(0);
                                                            $("#DireccionDestion").val(null);
                                                            $("#PlacaContenedor").val(null);
                                                            $("#Observaciones").val(null);
                                                        
                                                        }

                                                        var hcustom = 0;
                                                        function GetProductTypeIdS() {
                                                            return {
                                                                'CustomerId': $("#CustomerId").val(),

                                                            }
                                                        }
                                                        function setRequiredAttr(evt) {
                                                            if (evt.sender.dataSource.data().length < 1) {
                                                                evt.sender.element.removeAttr("data-val-required");
                                                            }
                                                            else {
                                                                evt.sender.element.attr("data-val-required", "La boleta de peso es requerida.");
                                                            }
                                                        }

                                                        function onboundBoletas(){
                                                            kendo.ui.progress($("#myModalControlPallets"), false);
                                                        
                                                        }
                                                    </script>
                                            
                                            
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="WeightBallot" class="control-label" style="width: 100%;"></label>

                                                    @if (Model.BoletaDeSalidaId == 0)
                                                    {
                                                        <kendo-dropdownlist option-label="Sin Boleta de Peso" 
                                                                            datavaluefield="clave_e"
                                                                            datatextfield="observa_e"
                                                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            id="WeightBallotddl"
                                                                            on-change="CallPesaje"
                                                                            on-data-bound="onboundBoletas"
                                                                            enable="true"
                                                                            style="min-width:100%">
                                                            <datasource type="DataSourceTagHelperType.Ajax" on-request-end="onbound" page-size="99999">
                                                                <transport>
                                                                    <read url="@Url.Action("GetBoletasPeso_BoletasSalidas", "Boleto_Ent")" data="GetEsIngreso" />
                                                                </transport>
                                                            </datasource>

                                                        </kendo-dropdownlist>

                                                        <div hidden>
                                                            <kendo-numerictextbox name="WeightBallot"
                                                                          format="N"
                                                                          min="0"
                                                                          spinners="false"
                                                                          max="99999999"
                                                                          step="1"
                                                                          style="width: 100%;"
                                                                          value="Model.WeightBallot" />
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                       
                                                        <input type="text" id="WeightBallot" required class="k-textbox" style="min-width:100%;" asp-for="WeightBallot" />
                                                    }
                                                    
                                                </div>

                                         </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="VigilanteId" class="  control-label" style="width:100%"></label>

                                                <kendo-dropdownlist name="VigilanteId"
                                                                    for="VigilanteId"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione Vigilante"
                                                                    datatextfield="Nombre"
                                                                    datavaluefield="Id"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi">
                                                        <transport>
                                                            <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GrupoConfiguracionCargado" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="VigilanteId" class="text-danger"></span>
                                            </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="Placa" class="control-label" style="width: 100%;"></label>
                                                    <input type="text" id="Placa" required class="k-textbox" style="min-width:100%;" asp-for="Placa" />
                                                </div>
                                            </div>



                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="Marca" class="control-label" style="width: 100%;"></label>
                                                    <input type="text" id="Marca" required class="k-textbox" style="min-width: 100%;" asp-for="Marca" />
                                                </div>
                                            </div>


                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Motorista" class="control-label" style="width: 100%;"></label>
                                                    <input type="text" id="Motorista" required class="k-textbox" style="min-width: 100%;" asp-for="Motorista" />
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="DNIMotorista" class="control-label" style="width: 100%;">DNI Motorista </label>
                                                    <input type="text" id="DNIMotorista" required class="k-textbox" style="min-width: 100%;" asp-for="DNIMotorista" />
                                                </div>
                                            </div>
                                           
                                    

                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                        <label asp-for="DireccionDestion" class="control-label" style="width: 100%;">Destino</label>
                                                        <input type="text" id="DireccionDestion" required class="k-textbox" style="min-width: 100%;" asp-for="DireccionDestion" />
                                                    </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="PlacaContenedor" class="control-label" style="width: 100%;">Placa Contenedor</label>
                                                    <input type="text" id="PlacaContenedor"  class="k-textbox" style="min-width:100%;" asp-for="PlacaContenedor" />
                                                </div>
                                            </div>
                                             <div class="col-md-3">
                                                <div class="form-group">
                                                        <label asp-for="RTNTransportista" class="control-label" style="width: 100%;">RTN Transportista</label>
                                                        <input type="text" id="RTNTransportista" required class="k-textbox" style="min-width: 100%;" asp-for="RTNTransportista" />
                                                    </div>
                                            </div>
                                             <div class="col-md-3">
                                                <div class="form-group">
                                                        <label asp-for="Transportista" class="control-label" style="width: 100%;">Transportista</label>
                                                        <input type="text" id="Transportista" required class="k-textbox" style="min-width: 100%;" asp-for="Transportista" />
                                                    </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                    <label asp-for="Barco" class="control-label" style="width: 100%;"></label>
                                                    <input type="text" id="Barco" required class="k-textbox" style="min-width: 100%;" asp-for="Barco" />
                                                </div>
                                        </div>
                                         <div class="col-md-3">
                                            <div class="form-group">
                                                    <label asp-for="OrdenNo" class="control-label" style="width: 100%;">Orden No</label>
                                                    <input type="text" id="OrdenNo" required class="k-textbox" style="min-width: 100%;" asp-for="OrdenNo" maxlength="150" />
                                                </div>
                                        </div>
                                         
                                         
                                    </div>

                                    <div class="row" id="pesado" style="display:none">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                    <label asp-for="TonPuerto" class="control-label" style="width: 100%;">Toneladas Puerto</label>
                                                    <input type="number" id="TonPuerto"  class="k-textbox" style="min-width: 100%;" asp-for="TonPuerto" />
                                                </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                    <label asp-for="PesoBruto" class="control-label" style="width: 100%;">Peso Bruto</label>
                                                    <input type="number" id="PesoBruto"  class="k-textbox" style="min-width: 100%;" asp-for="PesoBruto" />
                                                </div>
                                        </div>
                                         <div class="col-md-2">
                                            <div class="form-group">
                                                    <label asp-for="Tara" class="control-label" style="width: 100%;">Tara Camion</label>
                                                    <input type="number" id="Tara"  class="k-textbox" style="min-width: 100%;" asp-for="Tara" />
                                                </div>
                                        </div>
                                         <div class="col-md-2">
                                            <div class="form-group">
                                                    <label asp-for="PNInglesas" class="control-label" style="width: 100%;">PN LBI</label>
                                                    <input type="number" id="PNInglesas"  class="k-textbox" style="min-width: 100%;" asp-for="PNInglesas" />
                                                </div>
                                        </div>
                                         <div class="col-md-2">
                                            <div class="form-group">
                                                    <label asp-for="QQInglesas" class="control-label" style="width: 100%;">QQ Inglesas</label>
                                                    <input type="number" id="QQInglesas"   class="k-textbox" style="min-width: 100%;" asp-for="QQInglesas" />
                                                </div>
                                        </div>
                                        <div hidden>
                                            <kendo-dropdownlist name="SubProductId" filter="Kendo.Mvc.UI.FilterType.Contains" 
                                                                        for="SubProductId"
                                                                        option-label="Productos Varios"
                                                                        datatextfield="ProductName"
                                                                        datavaluefield="SubproductId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetSubProductoByTipoByCustomerActivos", "SubProduct")" data="GetProductTypeIdS" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                         <kendo-dropdownlist name="UnitOfMeasureId" for="UnitOfMeasureId"  
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione la unidad de medida"                                                                    
                                                                    auto-bind="true"
                                                                    datatextfield="UnitOfMeasureName"
                                                                    datavaluefield="UnitOfMeasureId"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" page-size="30000">
                                                        <transport>
                                                            <read url="@Url.Action("GetUnitOfMeasureJsonActivos", "UnitOfMeasure")" data="GetUnitOfMeasureId" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                        </div>
                                        
                                    </div>

                                        <script>
                                            function GetUnitOfMeasureId() {
                                                        return { 'SubProductId': $("#SubProductId").val() }
                                                    }
                                            function CalcularArea() {
                                                var UsedArea = $("#Ancho").val() * $("#Alto").val() * $("#Largo").val();
                                                var numeric = $("#UsedArea").data("kendoNumericTextBox");
                                                numeric.value(UsedArea);
                                                numeric.trigger('change');
                                                //$("#UsedArea").val(UsedArea);
                                            }
                                            function GrupoConfiguracionCargado() {
                                                return { Id: 18 };
                                            }

                                            function DataSucursal() {
                                                return {
                                                    BranchId: $("#BranchId").val(),
                                                     CustomerId: $("#CustomerId").val(),

                                                }
                                            }

                                            function GetBoletaPeso() {

                                                        var notification = $("#notification").data("kendoNotification");
                                                        var dataObject = { 'clave_e': $("#WeightBallot").val(), 'Customer': $("#CustomerId").val() };

                                                        if (Number($("#WeightBallot").val()) > 0) {
                                                            $.ajax({
                                                                url: '@Url.Action("GetBoleto_EntByWithPreferedUOMId", "Boleto_Ent")',
                                                                method: 'GET',
                                                                datatype: "json",
                                                                contentType: 'application/json',
                                                                async: false,
                                                                data: dataObject,
                                                                success: function (result) {
                                                                   

                                                                    var resultados = result;                                                                    
                                                                    $("#pesado").show();
                                                                    $("#Motorista").val(resultados.conductor);
                                                                    $("#Placa").val(resultados.placas);
                                                                    $("#Marca").val(resultados.MarcaVehiculo);
                                                                    $("#Barco").val(resultados.Barco);
                                                                    $("#OrdenNo").val(resultados.Orden);
                                                                    $("#Transportista").val(resultados.Tranportista);
                                                                    $("#RTNTransportista").val(resultados.RTNTransportista);
                                                                    $("#TonPuerto").val(resultados.PesoPuerto);
                                                                    
                                                                    $("#Tara").val(resultados.Boleto_Sal.peso_s);
                                                                    $("#PNInglesas").val(resultados.PesoLBSI);
                                                                    $("#QQInglesas").val(resultados.PesoQQI);
                                                                    $("#DireccionDestion").val(resultados.Destino);
                                                                    $("#DNIMotorista").val(resultados.DNIConductor);
                                                                    $("#PlacaContenedor").val(resultados.PlacaContenedor);
                                                                    $("#Observaciones").val(resultados.observa_e);


                                                                    if(resultados.Ingreso == 1){
                                                                        $("#Tara").val(resultados.Boleto_Sal.peso_s);
                                                                        $("#PesoBruto").val(resultados.peso_e);
                                                                    }else{
                                                                        $("#Tara").val(resultados.peso_e);
                                                                        $("#PesoBruto").val(resultados.Boleto_Sal.peso_s);
                                                                    }

                                                                    
                                                                    $("#SubProductId").data("kendoDropDownList").value(resultados.ProductId);
                                                                    var uom = $("#UnitOfMeasureId").val();
                                                                    if (resultados.UnitOfMeasureId!=null && (uom == null || uom == "")) {
                                                                        $("#UnitOfMeasureId").data("kendoDropDownList").value(resultados.UnitOfMeasureId);

                                                                    }
                                                                    var grid = $("#gridBoletaDeSalidaLines").data("kendoGrid");
                                                                        var datasource = grid.dataSource;
                                                                    
                                                                            var raw = datasource._data;
                                                                            for (i = datasource._data.length - 1; i >= 0; i--) {
                                                                                item = raw[i];
                                                                                datasource.remove(item);
                                                                            }
                                                                            console.log(resultados);
                                                                            datasource.insert({
                                                                                BoletaDeSalidaId: 0
                                                                                //, UnitOfMeasure: { UnitOfMeasureId: resultados.UnidadPreferidaId, UnitOfMeasureName: resultados.UnidadPreferida }
                                                                                , UnitOfMeasureName: resultados.UnidadPreferida
                                                                                , UnitOfMeasureId: resultados.UnidadPreferidaId
                                                                                //, SubProduct: { SubProductId: resultados.SubProductId, SubProductName:resultados.SubProductName  }
                                                                                , SubProductName: resultados.SubProductName
                                                                                , SubProductId: resultados.SubProductId
                                                                                , Quantity: resultados.PesoUnidadPreferidaNeto
                                                                                , WarehouseName : ''
                                                                                , Warehouseid: null
                                                                            });



                                                            $(".k-grid-add", "#gridBoletaDeSalidaLines").hide();


                                                                    $("#SubProductId").data("kendoDropDownList").enable(false);
                                                                    if ($("#EsIngreso").val() == 1) {
                                                                        if (resultados.Boleto_Sal != null) {
                                                                            if (resultados.Boleto_Sal.peso_s > resultados.peso_e) {
                                                                                $.toast({
                                                                                    heading: 'Validación',
                                                                                    text: 'La boleta de peso es una salida de mercancía',
                                                                                    position: 'top-right',
                                                                                    loaderBg: '#ff6849',
                                                                                    icon: 'error',
                                                                                    hideAfter: 30000,
                                                                                    stack: 6
                                                                                });

                                                                                $("#btnSaveControlEstiba").prop("disabled", true);
                                                                                return false;
                                                                            }
                                                                            else {
                                                                                $("#btnSaveControlEstiba").prop("disabled", false);
                                                                            }
                                                                        }

                                                                    }
                                                                    else if ($("#EsIngreso").val() == 0) {

                                                                        if (resultados.Boleto_Sal.peso_s < resultados.peso_e) {
                                                                            $.toast({
                                                                                heading: 'Validación',
                                                                                text: 'La boleta de peso es una entrada de mercancía',
                                                                                position: 'top-right',
                                                                                loaderBg: '#ff6849',
                                                                                icon: 'error',
                                                                                hideAfter: 30000,
                                                                                stack: 6
                                                                            });

                                                                            $("#btnSaveControlEstiba").prop("disabled", true);
                                                                            return false;
                                                                        } else {
                                                                            $("#btnSaveControlEstiba").prop("disabled", false);
                                                                        }


                                                                    }


                                                                },
                                                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                                                                }
                                                            });
                                                        }else{
                                                    $("#pesado").hide();
                                                    limpiarvalores();
                                                        }
                                                    }


                                                    function CallPesaje() {
                                                        $("#WeightBallot").data("kendoNumericTextBox").value($("#WeightBallotddl").val());
                                                        
                                                        GetBoletaPeso();
                                                    }

                                        </script>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="Observaciones" class="control-label" style="width: 100%;">Observaciones</label>
                                                    <input type="text" id="Observaciones" class="k-textbox" style="min-width: 100%;" asp-for="Observaciones" />
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </form>

                                    <div class="row">
                                        @(Html.Kendo().Grid<ERPMVC.Models.BoletaDeSalidaLine>()
                          .Name("gridBoletaDeSalidaLines")
                          .Columns(columns =>
                          {

                              columns.Command(command =>
                              {
                                  command.Destroy().Text(" ").IconClass("fa fa-trash-alt");
                              }).Title("Acciones").Width(120).Visible(Model.BoletaDeSalidaId == 0);

                              columns.Bound(p => p.SubProduct).Title("Producto")
                                                .ClientTemplate("#=typeof SubProduct === 'undefined'  || SubProduct === null ?SubProductName:SubProduct.SubProductName#").Width(150);
                                                columns.Bound(p => p.UnitOfMeasure).Title("Unidad de Medida")
                                .ClientTemplate("#=typeof UnitOfMeasure === 'undefined' ||UnitOfMeasure ===null?UnitOfMeasureName:UnitOfMeasure.UnitOfMeasureName#").Width(150);

                                                columns.Bound(p => p.Quantity).Width(150).Format("{0:N2}")
                                                .HtmlAttributes(new Dictionary<string, object> { ["style"] = " text-align: right;" });
                              columns.Bound(p => p.Warehouse).Title("Bodega")
                                                .ClientTemplate("#=typeof Warehouse === 'undefined'|| Warehouse ===null?WarehouseName:Warehouse.WarehouseName#").Width(150);


                          })

                              .Filterable(f => f.Operators(o => o.ForString(s => s
                                                   .Clear()
                                                   .Contains("Contiene")
                                                   .DoesNotContain("No contiene")
                                                   .EndsWith("Termina con")
                                                   .IsEqualTo("Es igual a")
                                                   .IsNotEqualTo("No es igual a")
                                                   .IsNull("Es nulo")
                                                   .StartsWith("Inicia con")


                                             )
                                             .ForNumber(n => n
                                               .Clear()
                                               .IsEqualTo("Es igual a")
                                               .IsGreaterThan("Es mayor que")
                                               .IsLessThan("Es menor que")
                                               .IsNull("Es nulo")
                                               .IsLessThanOrEqualTo("Es menor o igual que")
                                               .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                             )

                                             .ForDate(d => d
                                             .Clear()
                                             .IsEqualTo("Es igual que")
                                             .IsGreaterThan("Es mayor que")
                                             .IsLessThan("Es menor que")
                                             .IsLessThanOrEqualTo("Es menor o igual que")
                                             .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                             .IsNotEqualTo("No es igual que")
                                              )
                                           ))
                          .ToolBar(tools =>
                          {
                              if(@Model.BoletaDeSalidaId == 0 ){
                                tools.Create().Text("Agregar").HtmlAttributes(new { @style = "toolbar-field"});
                              
                              }

                             // tools.Custom().Text("Agregar").IconClass("k-icon k-i-plus")
                              //                         .HtmlAttributes(new { @class = "k-i-plus-sm", onclick = "AddBoletaDeSalida();" });


                          })
                          .Editable(e => e.Mode(GridEditMode.InCell))
                          .Sortable()
                          .Filterable()
                          .Scrollable()
                          .Pdf(pdf => pdf.FileName("BoletaDeSalidaReport" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                           + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".pdf")
                           .ProxyURL(Url.Action("Export", "Home")).AllPages())
                             .Excel(excel => excel.FileName("BoletaDeSalidaReport_" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                           + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".xlsx").Filterable(true)
                           .ProxyURL(Url.Action("Export", "Home")).AllPages(true))
                          .DataSource(dataSource =>
                              dataSource
                                .WebApi()
                                .ServerOperation(true)
                                .Model(model =>
                                {
                                    model.Id(p => p.BoletaSalidaLineId);
                                    model.Field(p => p.SubProductId).Editable(false);
                                    model.Field(p => p.SubProduct).Editable(Model.BoletaDeSalidaId == 0);
                                    model.Field(p => p.UnitOfMeasure).Editable(Model.BoletaDeSalidaId == 0);
                                })
                                .Events(events => events.Error("error_handler"))
                                .Read(read => read.Action("GetBoletaLines", "BoletaDeSalida", new { BoletaId = Model.BoletaDeSalidaId }))
                                //.Create(create => create.Action("Post", "BoletaDeSalida"))
                                //.Update(update => update.Action("Put", "BoletaDeSalida", new { id = "{0}" }))
                                //.Destroy(destroy => destroy.Action("Delete", "BoletaDeSalida", new { id = "{0}" }))
                                .Sort(s => s.Add(m => m.BoletaSalidaLineId).Descending())
                          )
                            .Events(e =>
                            {
                                //e.Save("onsave");
                            })
)
                                    </div>
                                    @if (Model.BoletaDeSalidaId == 0)
                                    {
                                        <div class="row">

                                            <button id="btnSaveBoletaDeSalida" type="submit" class="form-control btn-miboton" onclick="SaveBoletaDeSalida(this);">Guardar</button>

                                        </div>
                                    
                                    }
                                    

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SaveBoletaDeSalida(e) {
        debugger;
        $("#btnSaveBoletaDeSalida").hide();
        $("#btnSaveBoletaDeSalida").prop("disabled", true);
        var detallevalido = true;

        var displayedData = $("#gridBoletaDeSalidaLines").data().kendoGrid.dataSource.view();
        if(displayedData.length<=0){
            MostrarMensaje("Debe agregar productos al detalle o seleccionar una boleta de peso", "Error", "Error", 30000);
            detallevalido = false;
        }
         for (var i = 0; i < displayedData.length; i++) {          
            
            if (displayedData[i].Warehouse == null && displayedData[i].WarehouseName=="" ) {

                MostrarMensaje('Ingrese al detalle todos los datos requeridos', 'Error', 'Error', 6000);
                detallevalido = false;
                continue;

            }
        }

        var dataObject = {                    
            'BoletaDeSalidaId': $("#BoletaDeSalidaId").val(),
            'GoodsDeliveredId': $("#GoodsDeliveredId").val(),
            'GoodsDeliveryAuthorizationId': $("#GoodsDeliveryAuthorizationId").val(),
            'DocumentDate': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),
            'FechaSalida': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),
            'BranchId': $("#BranchId").val(),
            'BranchName': $("#BranchId").data("kendoDropDownList").text(),
            'CustomerId': $("#CustomerId").val(),
            'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
            'VigilanteId': $("#VigilanteId").data("kendoDropDownList").value(),
            'Vigilante': $("#VigilanteId").data("kendoDropDownList").text(),
            'Placa': $("#Placa").val(),
            'Marca': $("#Marca").val(),
            'Motorista': $("#Motorista").val(),
            'CargadoId': $("#CargadoId").val(),
            'Cargadoname': $("#CargadoId").data("kendoDropDownList").text(),
            'SubProductId': $("#SubProductId").val(),
            'SubProductName': $("#SubProductId").data("kendoDropDownList").text(),     
            'WeightBallot': $("#WeightBallot").val(),
            'BoletaDeSalidaLines' : displayedData,            
            'Barco' : $("#Barco").val(),
            'OrdenNo' : $("#OrdenNo").val(),
            'TonPuerto' : $("#TonPuerto").val(),
            //'QQPuerto' : $("#QQPuerto").val(),
            'PesoBruto' : $("#PesoBruto").val(),
            'Tara' : $("#Tara").val(),
            'PNInglesas' : $("#PNInglesas").val(),
            'QQInglesas' : $("#QQInglesas").val(),
            'Producto': $("#Producto").val(),
            'ProductName': $("#Producto").data("kendoDropDownList").text(),
            'UnitOfMeasureId': $("#UnitOfMeasureId").val(),
            'UnitOfMeasureName': $("#UnitOfMeasureId").data("kendoDropDownList").text(),
            'DireccionDestion' : $("#DireccionDestion").val(),
            'Transportista' : $("#Transportista").val(),
            'RTNTransportista' : $("#RTNTransportista").val(),
            'DNIMotorista': $("#DNIMotorista").val(),
            'PlacaContenedor': $("#PlacaContenedor").val(),
            'Observaciones': $("#Observaciones").val(),
                       
        }; 

        var validator = $("#frmBoletaDeSalida").data("kendoValidator");
        var status = $(".status");

            if (!validator.validate()||!detallevalido) {
                console.log(validator);
                console.log(detallevalido);
                MostrarMensaje("Ha ocurrido un error al validar los datos del formalario", "Error", "Error", 30000);
                $("#btnSaveBoletaDeSalida").show();
                $("#btnSaveBoletaDeSalida").prop("disabled", false);
                return;
            }

             $.ajax({
                    url: '@Url.Action("SaveBoletaDeSalida", "BoletaDeSalida")',
                    method: 'POST',
                    datatype: "json",
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify( dataObject),
                    success: function (data) {
                         MostrarMensaje('Datos guardados correctamente.', "success", "Satisfactorio", 7000);
                        RefreshGridBoletaSalida();                        
                        $('#myModalBoletaDeSalida').modal('hide');

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#btnSaveBoletaDeSalida").show();
                        $("#btnSaveBoletaDeSalida").prop("disabled", false);
                         MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 30000);
                    }
                });
                $("#btnSaveBoletaDeSalida").show();
                $("#btnSaveBoletaDeSalida").prop("disabled", false);
    }
</script>