

<script>

    $(document).ready(function () {
             $.ajax({
                url: '@Url.Action("GetQuantityUsuario", "Usuario")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                success: function (result) {
                    // console.log(result);
                     $("#cantidadusuarios").text(result);


                },
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus + ": " + XMLHttpRequest.responseText);
                  }
        });


              $.ajax({
                url: '@Url.Action("GetQuantitySalesOrders", "DashBoard")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
               // data: dataObject,
                 success: function (result) {
                     //console.log('Cotizaciones'+result);
                     $("#totalcotizaciones").text(result);


                  },
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus + ": " + XMLHttpRequest.responseText);
                  }
               });

            $.ajax({
                url: '@Url.Action("GetQuantityInvoices", "DashBoard")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
               // data: dataObject,
                 success: function (result) {
                     console.log('Cotizaciones' +result);
                     $("#totalfacturas").text(result);


                  },
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus + ": " + XMLHttpRequest.responseText);
                  }
               });

           $.ajax({
                url: '@Url.Action("GetQuantityCertificadoDeposito", "DashBoard")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
               // data: dataObject,
                 success: function (result) {
                    // console.log('Cotizaciones' +result);
                     $("#totalcertificados").text(result);


                  },
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus + ": " + XMLHttpRequest.responseText);
                  }
           });

        $.ajax({
                url: '@Url.Action("GetQuantityJournalEntriesAprovement", "DashBoard")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
               // data: dataObject,
                 success: function (result) {
                    // console.log('Cotizaciones' +result);
                     $("#totalasientos").text(result);


                  },
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus + ": " + XMLHttpRequest.responseText);
                  }
               });

    });

    function error_handler(e) {
        var errors = $.parseJSON(e.xhr.responseText);

        if (errors) {
            alert("Errors:\n" + errors.join("\n"));
        }
    }

    function onAverageSalesDataBound(e) {
        var data = this.dataSource.aggregates()
        // console.log(data);
        if (data.Facturacion) {
            $("#EmployeeAverageSalesLabel").text(kendo.toString(data.Facturacion.average, "c2"));
        } else {
            $("#EmployeeAverageSalesLabel").text(kendo.toString(0, "c2"));
        }
    }


    function paramtersfindchartFactMensual() {
        return parameters = {
            'FechaInicio': $("#FechaInicio2").val(),
            'FechaFin': $("#FechaFin2").val(),

        }
    }

</script>

@*<div class="row" permiso="Contabilidad.Dashboard">*@
<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total Cotizaciones</h4>
                <div class="d-flex">
                    <div class="align-self-center">
                        <h4 class="font-medium m-b-0"><i class="ti-angle-up text-success"></i><p id="totalcotizaciones">12456</p> </h4>
                    </div>
                    <div class="ml-auto">
                        <div id="spark8"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total Facturas </h4>
                <div class="d-flex">
                    <div class="align-self-center">
                        <h4 class="font-medium m-b-0"><i class="ti-angle-down text-danger"></i><p id="totalfacturas">  456</p></h4>
                    </div>
                    <div class="ml-auto">
                        <div id="spark9"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total Certificados de deposito</h4>
                <div class="d-flex">
                    <div class="align-self-center">
                        <h4 class="font-medium m-b-0"><i class="ti-angle-up text-success"></i><p id="totalcertificados"> 2456</p></h4>
                    </div>
                    <div class="ml-auto">
                        <div id="spark10"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>
                <div class="d-flex">
                    <div class="align-self-center">
                        <h4 class="font-medium m-b-0"><i class="ti-angle-up text-success"></i><p id="cantidadusuarios"> 2456</p></h4>
                    </div>
                    <div class="ml-auto">
                        <div id="spark10"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total Asientos </h4>
                <div class="d-flex">
                    <div class="align-self-center">
                        <h4 class="font-medium m-b-0"><i class="ti-angle-down text-danger"></i><p id="totalasientos">  456</p></h4>
                    </div>
                    <div class="ml-auto">
                        <div id="spark9"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
