@model ERPMVC.DTO.VendorInvoiceDTO
@using System.Security.Claims

@{
    Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                        {"required","Valor requerido" }
                    };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];

    bool editable = Model.VendorInvoiceId == 0;
}





<script>

    $(document).ready(function () {
        $("#TefonoAlert").hide();

        $("#Tefono").on('paste', function (e) {
            e.preventDefault();
        })
    })

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        //if (input.attr('name') === "SubProductId" && input.val() === "0") {
        //    return false;
        //}

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }



        return true;
    }
</script>

@*await Html.PartialAsync("~/Views/OFAC/Index.cshtml")*@


<div id="myModalSalesOrder" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Información Factura de Proveedor</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">

                        <form id="frmSalesOrder" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                              data-ajax="true"
                              data-ajax-method="post"
                               class="validation-wizard wizard-circle">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="VendorInvoiceId" class="control-label"></label>

                                        <input type="text" asp-for="VendorInvoiceId" name="VendorInvoiceId" class="k-textbox" readonly style="min-width:100%" />
                                        <span asp-validation-for="VendorInvoiceId" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="BranchId" class="control-label"></label>
                                        
                                            <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                option-label="Seleccione la sucursal"
                                                                datatextfield="BranchName"
                                                                data-val-required="La Sucursal es requerida."
                                                                datavaluefield="BranchId"
                                                                enable="editable"
                                                                style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                    <sorts>
                                                        <sort field="BranchName" direction="asc" />
                                                    </sorts>
                                                    <transport>
                                                        <read url="@Url.Action("Get", "Branch")" />
                                                    </transport>
                                                </datasource>
                                            </kendo-dropdownlist>
                                        
                                        <span asp-validation-for="BranchId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="SalesTypeId" class="control-label" style="width:100%">Tipo de Compra</label>
                                       
                                            <kendo-dropdownlist name="SalesTypeId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                for="SalesTypeId"
                                                                option-label="Seleccione el tipo de ventas"
                                                                datatextfield="SalesTypeName"
                                                                data-val-required="El Tipo de Venta es requerido."
                                                                datavaluefield="SalesTypeId"
                                                                enable="editable"
                                                                style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                    <sorts>
                                                        <sort field="SalesTypeName" direction="asc" />
                                                    </sorts>
                                                    <transport>
                                                        <read url="@Url.Action("Get", "SalesType")" />
                                                    </transport>
                                                </datasource>
                                            </kendo-dropdownlist>
                                        
                                        <span asp-validation-for="SalesTypeId" class="text-danger"></span>
                                    </div>
                                </div>
                                
                                 <div class="col-md-3">
                                    <div class="form-group">
                                        
                                        <label asp-for="VendorId" class="control-label">Proveedor</label>
                                       
                                            <kendo-dropdownlist name="VendorId" for="@Model.VendorId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                option-label="Seleccione el Proveedor"
                                                                datatextfield="VendorName"
                                                                data-val-required="El Proveedor es requerido."
                                                                datavaluefield="VendorId"
                                                                class="form-control-line"
                                                                 enable="editable"
                                                                style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                    <sorts>
                                                        <sort field="VendorName" direction="asc" />
                                                    </sorts>
                                                    <transport>
                                                        <read url="@Url.Action("GetVendorActivos", "Vendor")" />
                                                    </transport>
                                                </datasource>
                                            </kendo-dropdownlist>
                                        
                                        <span asp-validation-for="VendorId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="VendorInvoiceDate" class="control-label" style="width: 100%;"></label>

                                        <kendo-datetimepicker name="VendorInvoiceDate"
                                                              style="min-width: 86%;"
                                                              format="dd/MM/yyyy hh:mm:ss"
                                                              time-format="hh:mm:ss"
                                                              enable="editable"
                                                              data-val-required="La Fecha de Factura es requerida."
                                                              value="Model.VendorInvoiceDate" />

                                        <span asp-validation-for="VendorInvoiceDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="ExpirationDate" class="control-label" style="width: 100%;"></label>

                                        <kendo-datepicker name="ExpirationDate"
                                                          style="min-width: 86%;"
                                                          format="dd/MM/yyyy " data-val-required="La Fecha de Vencimiento es requerida."
                                                          time-format="hh:mm:ss"
                                                          enable="editable"
                                                          value="Model.ExpirationDate" />

                                        <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="NumeroDEI" class="control-label"></label>
                                        <input type="text" asp-for="NumeroDEI" maxlength="20" enable="editable" data-val-required="El Numero de Factura es requerido." class="k-textbox" style="min-width: 100%" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="CAI" class="control-label" style="width:100%">CAI</label>

                                        <input asp-for="CAI" class="k-textbox" enable="editable" style="min-width: 100%" maxlength="30" />


                                        <span asp-validation-for="CAI" class="text-danger"></span>
                                    </div>

                                </div>

                                
                                

                                <script>
                                    function GetBranchId() {
                                        return {
                                            'BranchId': $("#BranchId").data("kendoDropDownList").value()
                                        }
                                    }
                                    function GetAccountId() {
                                        return {
                                            'AccountId': $("#AccountId").data("kendoDropDownList").value()
                                        }
                                    }
                                </script>
                                
                            </div>
                            <div class="row">
                                

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="VendorInvoiceName"  class="control-label" style="width:100%">Concepto</label>

                                        <input asp-for="VendorInvoiceName" enable="editable" data-val-required="Descripcion es requerida." class="k-textbox" style="min-width: 100%" maxlength="50" />


                                        @*</span>*@
                                        <span asp-validation-for="VendorInvoiceName" class="text-danger"></span>
                                    </div>
                                </div>

                                
                                
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="AccountIdGasto" class="control-label" style="width:100%">Cuenta Cargo</label>
                                        <kendo-dropdownlist name="AccountIdGasto" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            id="AccountIdGasto"
                                                        option-label="Seleccione la cuenta"
                                                            for="AccountIdGasto"
                                                        datatextfield="AccountName"
                                                        datavaluefield="AccountId"
                                                        data-val-required="La Cuenta es requerida."
                                                        style="width: 100%;">
                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                            <sorts>
                                                <sort field="AccountName" direction="asc" />
                                            </sorts>
                                            <transport>
                                                <read url="@Url.Action("GetAccountingDiaryActivos", "Accounting")" />
                                            </transport>
                                        </datasource>
                                    </kendo-dropdownlist>

                                        <span asp-validation-for="AccountIdGasto" class="text-danger"></span>
                            </div>
                        </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="AccountIdCredito" class="control-label">Cuenta Crédito</label>

                                        <kendo-dropdownlist name="AccountIdCredito" for="AccountIdCredito" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            id="AccountIdCredito"
                                                            option-label="Seleccione la cuenta"
                                                            datatextfield="AccountName"
                                                            data-val-required="La Cuenta es requerida."
                                                            datavaluefield="AccountId"
                                                            enable="editable"
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                <sorts>
                                                    <sort field="AccountName" direction="asc" />
                                                </sorts>
                                                <transport>
                                                    <read url="@Url.Action("GetAccountingDiaryActivos", "Accounting")" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>

                                        <span asp-validation-for="AccountIdCredito" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="CostCenterId">Centro de Costos</label>
                                        <kendo-dropdownlist name="CostCenterId" filter="Kendo.Mvc.UI.FilterType.Contains" for="CostCenterId" value="@Model.CostCenterId"
                                                            option-label="Seleccione centro de costos"
                                                            datatextfield="CostCenterName"
                                                            datavaluefield="CostCenterId"
                                                            data-val-required="El Centro de Costo es requerido"
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                <transport>
                                                    <read url="@Url.Action("GetActivos", "CostCenter")" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                        <span asp-validation-for="CostCenterId" class="text-danger"></span>
                                    </div>
                                </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                <label class="control-label" style="min-width:100%">Aplica Retencion</label>
                                                    <kendo-switch name="AplicaRetencion" for="AplicaRetencion" checked="@Model.AplicaRetencion" >
                                                        <messages checked="Si" unchecked="No" />
                                                    </kendo-switch>
                                                </div>
                                            </div>
                                
                               

                            </div>

                               <div class="row">                                                
                                                <div class="col-md-3">
                                                     <label asp-for="TotalGravado" class="control-label">Importe Gravado</label>
                                                            <kendo-numerictextbox name="TotalGravado"
                                                                                  format="n2" spinners="false"
                                                          min="0" enable="editable"
                                                          on-change="CalcularTotal"
                                                                                  required class="control-label right bold"
                                                                                  style="min-width: 100%;text-align:right;padding-right: 3px;color:black;font-weight:500"
                                                                                  max="999999999"
                                                                                  step="1"
                                                                                  value="Model.TotalGravado" />
                                                            <span asp-validation-for="TotalGravado" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-3">
                                                     <label asp-for="TotalExento" class="control-label">Importe Exento</label>
                                                            <kendo-numerictextbox name="TotalExento"
                                                                                  format="n2" spinners="false"
                                                                                    min="0" enable="editable"
                                                          on-change="CalcularTotal"
                                                                                  required class="control-label right bold"
                                                                                  style="min-width: 100%;text-align:right;padding-right: 3px;color:black;font-weight:500"
                                                                                  max="999999999"
                                                                                  step="1"
                                                                                  value="Model.TotalExento" />
                                                            <span asp-validation-for="TotalExento" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-3">
                                                     <label asp-for="Tax" class="control-label">Impuesto</label>
                                                            <kendo-numerictextbox name="Tax"
                                                                                  format="n2" spinners="false"
                                                                                    min="0" enable="editable"
                                                          on-change="CalcularTotal"
                                                                                   class="control-label right bold"
                                                                                  style="min-width: 100%;text-align:right;padding-right: 3px;color:black;font-weight:500"
                                                                                  max="999999999"
                                                                                  step="1"
                                                                                  value="Model.Tax" />
                                                            <span asp-validation-for="Tax" class="text-danger"></span>
                                                </div>

                                                <div class="col-md-3">
                                                     <label asp-for="Total" class="control-label">Total Factura</label>
                                                            <kendo-numerictextbox name="Total"
                                                                                  format="n2" spinners="false"
                                                                                  min="0"  enable="false"
                                                                                  
                                                                                  required class="control-label right bold"
                                                                                  style="min-width: 100%;text-align:right;padding-right: 3px;color:black;font-weight:500"
                                                                                  max="999999999"
                                                                                  step="1"
                                                                                  value="Model.Total" />
                                                            <span asp-validation-for="Total" class="text-danger"></span>
                                                </div>
                                                
                                                <div class="col-md-12">
                                                     <label asp-for="Remarks" class="control-label"></label>
                                                        <textarea asp-for="Remarks" class="form-control required " style="min-width: 100%;"></textarea>
                                                    <span asp-validation-for="Remarks" class="text-danger"></span>
                                                </div>                                               
                                            </div>

                                            <div class="row">
                                                @if (Model.VendorInvoiceId == 0)
                                                {
                                                    <button id="btnSaveVendorInvoice" type="submit" class="form-control btn-miboton " onclick="SaveFacturaProveedores(this);">Guardar</button>
                                                }
                                            </div>

                        </form>
                    </div>

                   
                </div>

            </div>
        </div>
    </div>
</div>



<script>
    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return ((key >= 48 && key <= 57) || (key == 8))
    }

    function CalcularTotal(){
        var tax = parseFloat($("#Tax").val(),2);
        
        var totalExento = parseFloat( $("#TotalExento").val(),2);
        var totalGravado = parseFloat($("#TotalGravado").val(), 2);

        var total = tax + totalExento + totalGravado;

        $("#Total").data("kendoNumericTextBox").value(total);
    
    
    
    }


    function RefreshCotizaciones() {
        var grid = $("#gridInvoices").getKendoGrid();
        grid.dataSource.read();
    }

     function SaveFacturaProveedores(e) {
        debugger;
       try{
            $("#btnSaveVendorInvoice").hide();
            $("#btnSaveVendorInvoice").prop("disabled", true);
            
            var ret = $("#AplicaRetencion").data("kendoSwitch");
            var retencion =  ret.check();
            var validator = $("#frmSalesOrder").data("kendoValidator");
            var total = $("#Total").val();
            var cai = $("#CAI").val();
            if(retencion && (cai == null || cai == "")){
                MostrarMensaje('El CAI es obligatorio.', "Error", "Validación", 6000);
                $("#btnSaveInvoice").show();
                $("#btnSaveInvoice").prop("disabled", false);
                return;
            }
            if(total<=0){
                MostrarMensaje('El valor total de la factura no puede ser 0', "Error", "Validación", 6000);
                $("#btnSaveInvoice").show();
                $("#btnSaveInvoice").prop("disabled", false);
                return;
            }
            if (!validator.validate()) {
                MostrarMensaje('Datos incorrectos en el formulario!', "Error", "Validación", 6000);
                return;
            }


            var dataObject = {
                'VendorInvoiceId': $("#VendorInvoiceId").val() === "" ? "0" : $("#VendorInvoiceId").val(),
                'VendorInvoiceName': $("#VendorInvoiceName").val(),
                'BranchId': $("#BranchId").val(),
                'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                'VendorId': $("#VendorId").val(),
                'VendorName': $("#VendorId").data("kendoDropDownList").text(),
                'OrderDate': $("#VendorInvoiceDate").getKendoDateTimePicker().value().toJSON(),
                'VendorInvoiceDate': $("#VendorInvoiceDate").getKendoDateTimePicker().value().toJSON(),
                'ExpirationDate': $("#ExpirationDate").getKendoDatePicker().value().toJSON(),
               
                'SalesTypeId': $("#SalesTypeId").val(),
                'NumeroDEI': $("#NumeroDEI").val(),
                'CAI': $("#CAI").val(),
                'Remarks': $("#Remarks").val(),
                'Tax': $("#Tax").val(),
                'Total': $("#Total").val(),
                'TotalExento': $("#TotalExento").val(),
                'TotalGravado': $("#TotalGravado").val(),
                'AccountIdCredito': $("#AccountIdCredito").val(),
                'AccountNameCredito': $("#AccountIdCredito").data("kendoDropDownList").text(),
                'CostCenterId': $("#CostCenterId").val(),
                'CostCenterName': $("#CostCenterId").data("kendoDropDownList").text(),
                'AccountIdGasto': $("#AccountIdGasto").val(),
                'AccountNameGasto': $("#AccountIdGasto").data("kendoDropDownList").text(),
                'AplicaRetencion': retencion,



            };
            

            $.ajax({
                url: '@Url.Action("SaveVendorInvoice", "VendorInvoice")',
                method: 'POST',
                datatype: "json",
                //  contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (data) {
                    
                    MostrarMensaje("Datos guardados correctamente", "success", "Satisfactorio", 6000);
                    RefreshCotizaciones();
                    $('#myModalSalesOrder').modal('hide');

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                    $("#btnSaveVendorInvoice").show();
                    $("#btnSaveVendorInvoice").prop("", false);
                    MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 6000);
                }
            });
       }catch(e){
            MostrarMensaje( e , "Error", "Error", 6000);
       
       }finally{
            $("#btnSaveVendorInvoice").show();
            $("#btnSaveVendorInvoice").prop("disabled", false);
       
       }


         

    }


</script>
