@model ERPMVC.Models.BankAccountTransfers
@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
           {"required","Valor requerido" }
        };

}


<div id="Modal" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Transferencias Bancarias</h4>
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmBankAccountTransfers" kendo-validator="true" kendo-messages="messages"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveTransfer"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Id" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Id" name="Id" class="k-textbox" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="Id" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Fecha Registro</label>
                                                    <kendo-datetimepicker for="FechaCreacion" value="@Model.FechaCreacion" readonly />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Fecha de Transaccion</label>
                                                    <kendo-datepicker for="TransactionDate" data-val-required="La fecha de Transaccion es requerida " />
                                                </div>

                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Estado</label>
                                                <kendo-dropdownlist name="EstadoId" datatextfield="NombreEstado" datavaluefield="IdEstado" style="min-width:100%"
                                                                    option-label="Seleccione Estado">
                                                    <datasource page-size="999" type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                        <transport>
                                                            <read url="@Url.Action("GetporGrupoEstado","Estados",new { GrupoId = 1})" />
                                                        </transport>
                                                    </datasource>

                                                </kendo-dropdownlist>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label" style="min-width:100%">Banco Orgien</label>
                                                    <kendo-dropdownlist  style="min-width:100%" name="bancoorigen" datatextfield="BankName" datavaluefield="BankId" 
                                                                        option-label="Seleccione Banco">
                                                        <datasource page-size="999" type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetBank","Bank")" />
                                                            </transport>
                                                        </datasource>

                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label"  style="min-width:100%">Moneda</label>
                                                    <kendo-dropdownlist class="control-label"   style="min-width:100%" 
                                                                        name="monedaorigen" 
                                                                        datatextfield="CurrencyName" 
                                                                        datavaluefield="CurrencyId"
                                                                        option-label="Seleccione Moneda">
                                                        <datasource page-size="999" type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetCurrency","Currency")" />
                                                            </transport>
                                                        </datasource>

                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label"  style="min-width:100%">Cuenta Orgien</label>
                                                    <kendo-dropdownlist for="SourceAccountManagementId"  style="min-width:100%"
                                                                        datatextfield="AccountNumber" datavaluefield="AccountManagementId" option-label="Seleccione la Cuenta">
                                                        <datasource page-size="999" type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetAccountManagement","AccountManagement")" />
                                                            </transport>
                                                        </datasource>

                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label"  style="min-width:100%">Monto </label>
                                                <kendo-numerictextbox for="SourceAmount" spinners="false" min="0" style="min-width:100%"  />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label" style="min-width:100%">Banco Destino</label>
                                                    <kendo-dropdownlist name="bancodestino" datatextfield="BankName" datavaluefield="BankId" style="min-width:100%"
                                                                        option-label="Selcciione Banco">
                                                        <datasource page-size="999" type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetBank","Bank")" />
                                                            </transport>
                                                        </datasource>

                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label" style="min-width:100%">Moneda Destino</label>
                                                    <kendo-dropdownlist name="monedadestino" datatextfield="CurrencyName"
                                                                        option-label="Seleccione Moneda"
                                                                        value="@Model.DestinationAccountManagement" datavaluefield="CurrencyId" style="min-width:100%">
                                                        <datasource page-size="999" type="DataSourceTagHelperType.WebApi" server-operation="true"
                                                                    >
                                                            <transport>
                                                                <read url="@Url.Action("GetCurrency","Currency")" />
                                                            </transport>
                                                        </datasource>

                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label  style="min-width:100%">Cuenta Destino</label>
                                                    <kendo-dropdownlist for="DestinationAccountManagementId"
                                                                        datatextfield="AccountNumber" 
                                                                        datavaluefield="AccountManagementId"
                                                                        style="min-width:100%"
                                                                        option-label="Seleccione la cuenta">
                                                        <datasource page-size="999" type="DataSourceTagHelperType.WebApi" server-operation="true"
                                                                    >
                                                            <transport>
                                                                <read url="@Url.Action("GetAccountManagement","AccountManagement")" />
                                                            </transport>
                                                        </datasource>

                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label"  style="min-width:100%">Monto </label>
                                                <kendo-numerictextbox for="DestinationAmount"  spinners="false" min="0" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label" style="min-width:100%">Tasa de Cambio</label>
                                                    <kendo-numerictextbox style="min-width:100%" for="Rate" min="0" spinners="false" />
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <label class="control-label" style="min-width:100%">Observacciones</label>
                                                <textarea class="k-textarea" style="min-width:100%" asp-for="Notes"></textarea>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnBank" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function RefrescarGrid() {
        var grid = $("#gridBank").getKendoGrid();
        grid.dataSource.read();
    }
        function SaveTransfer(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnBank").hide();
            $("#btnBank").prop("disabled", true);

            var displayedData = $("#gridBank").data().kendoGrid.dataSource.view();

            var dataObject = {
                'Id': $("#Id").val() === "" ? "0" : $("#Id").val(),
                'TransactionDate': $("#TransactionDate").getKendoDatePicker().value().toJSON(),
                'SourceAccountManagementId': $("#SourceAccountManagementId").val(),
                'DestinationAccountManagementId': $("#SourceAccountManagementId").val(),
                'SourceAmount': $("#SourceAmount").val(),
                'DestinationAmount': $("#DestinationAmount").val(),
                'Rate': $("#Rate").val(),
                'Notes': $("#Notes").val(),
            };

            console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

            var validator = $("#frmBankAccountTransfers").data("kendoValidator");
                 var status = $(".status");


                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveBankAccountTransfers", "BankAccountTransfers")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                           RefrescarGrid();

                            $('#Modal').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }


            $("#btnBank").show();
            $("#btnBank").prop("disabled", false);
    }
</script>
