@model ERPMVC.Models.ControlPalletsLine

@{
    var messages1 = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                                            {"required","Valor requerido" }

                                                         };
    var rules1 = new Dictionary<string, string>() { { "custom", "customFunction" }

                    };
}




<script>

    completedorderlinemant = function (xhr) {

        $('#myModalControlPalletsLine').find(':input').not('#ControlPalletsId :submit').val('0');
        CalcularTotalDocumento();
        $("#btnActualizarCotizacionLinea").prop("disabled", false);
        GetBoletaPeso();
       closesaleorderline();
    };


    function closesaleorderline() {
        $("#myModalControlPalletsLine").modal('hide');

    }

    function CalcularTotal() {
       // debugger;
        var Ancho = Number($("#Ancho").val());
        var Alto = Number($("#Alto").val());
        var Otros = Number($("#Otros").val());
        var Totallinea = (Ancho * Alto) + Otros;

        setearvalor("Totallinea", Totallinea);

    }

    $(function () {
        debugger;
        var pesado = $("#pesado").data("kendoSwitch").check();
        if (!pesado) {
            $("#productopesadodet2").hide();
            $("#inputalto").hide();
            $("#inputancho").hide();
            $("#inputotros").hide();
            $("#ddproducto").show();
            $("#dduom").show();
            $("#ddbranch").show();
            $("#total").show();
            $("#Alto").removeAttr("required");
            $("#Ancho").removeAttr("required");
            $("#cantidadYute").removeAttr("required");
            $("#cantidadPolietileno").removeAttr("required");
            $("#TotalLinea").removeAttr("required");
            $("#Otros").removeAttr("required");


        } else {
            $("#ddproducto").hide();
            $("#dduom").hide();
            $("#ddbranch").hide();
            $("#total").hide();
            $("#ddproducto").hide();
            $("#dduom").hide();
            $("#ddbranch").hide();
            $("#WarehouseIddet").removeAttr("required");
            $("#SubProductIddet").removeAttr("required");
            $("#UnitofMeasureIddet").removeAttr("required");
            $("#Observacion").removeAttr("required");
            $("#Cantidad").removeAttr("required");
        }
       
    });

    function CalcularTotalDocumento() {
      //  var freight = $("#Freight").val()===""?0:$("#Freight").val();

        var notification = $("#notification").data("kendoNotification");
        var displayedData = $("#gridControlPalletsDetail").data().kendoGrid.dataSource.view();
        var total = 0, TotalSacosPolietileno = 0, TotalSacosYute=0;

            //totaldescuento = 0, totalimpuesto = 0, totalimpuesto18 = 0, totalmonto = 0;
        //var TotalExento = 0, TotalExonerado = 0, TotalGravado = 0,TotalGravado18=0;
       // console.log(displayedData);
        $(displayedData).each(function (index, element) {
            var t = JSON.parse(JSON.stringify(element));

            total = total + t["Totallinea"];
            TotalSacosPolietileno += t["cantidadPoliEtileno"];
            TotalSacosYute += t["cantidadYute"];

       });

       // setearvalor('SubTotal', TotalExento);
        setearvalor('TotalSacos', total);
        setearvalor('TotalSacosPolietileno', TotalSacosPolietileno);
        setearvalor('TotalSacosYute', TotalSacosYute);

    }

    function AddControlPalletsDetail(e) {
        // e.preventDefault();
        debugger;
        $("#btnActualizarCotizacionLinea").prop("disabled", true);

        var notification = $("#notification").data("kendoNotification");
        var validator = $("#frmControlPalletsLine").data("kendoValidator");

        var totaltipo = Number($("#cantidadYute").val()) + Number($("#cantidadPoliEtileno").val());
        var Totallinea = Number($("#Totallinea").val());

      //console.log(totaltipo);
      //console.log(Totallinea);
        if (validator.validate()) {
            if (totaltipo == Totallinea) {
                RefreshControlPalletsDetail();
               // completedorderlinemant();

            }
            else {
                $("#btnActualizarCotizacionLinea").prop("disabled", false);
                notification.show({
                    title: "Validación",
                    message: "Haga coincidir el total con la suma de cantidades de sacos.!"
                }, "error");

                return false;
            }
        }


    }

    function setearvalor(nombrenumerico,valor) {
        var numeric = $("#" + nombrenumerico).data("kendoNumericTextBox");
        numeric.value(valor);
        numeric.trigger('change');
        //numeric = null;
    }



    function GetPercentage() {
        var dataObject = { TaxId: $("#TaxCode").val()};
         $.ajax({
            url: '@Url.Action("GetTaxById","Tax")',
            method: 'GET',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: dataObject,
             success: function (result) {
                 setearvalor("TaxPercentage", result.TaxPercentage);
                 CalcularTotal();
            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
              }
         });

    }


    function SetTotalLinea() {
        var totallinea = $("#Totallinea").data("kendoNumericTextBox");
       // totallinea.value($("#Cantidad").val());
    }


    function cargarloader() {
       $("#btnActualizarCotizacionLinea").prop("disabled", true);
    }

    function agregarcondicionpopup() {
        var dataObject = { 'ConditionId': $("#ConditionId").val() };

           $.ajax({
            url: '@Url.Action("pvwConditions","Conditions")',
            method: 'GET',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: dataObject,
               success: function (result) {
                   //console.log(result);
                   //debugger;
                   $("#ConditionView").html('');
                   $("#ConditionView").html(result);

            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
              }
         });

        $('#myModalConditions').modal('show');

    }

    function AgregarCustomerCondition() {
        var notification = $("#notification").data("kendoNotification");

        if ($("#SalesOrderId").val() > 0) {
            $('#myModalCustomerConditions').modal('show');
        }
        else {
            notification.show({
                title: "Validación",
                message: "Para agregar una condición debe generar el documento!"
            }, "info");
        }
    }

</script>
<script>
    $(".k-button").on('click', function () {
        //   $('#Alto').data("kendoNumericTextBox").value(null);
        // $('#text').html('reset clicked');
        $("#myModalControlPalletsLine").find('[data-role="numerictextbox"]').each(function () {
            var $textbox = $(this);
            console.log($($textbox).id);
            //$textbox.data("kendoNumericTextBox").value(null);
        });

    });

</script>
<span id="spinner" style="display:none;"><i class="fas fa-spinner fa-spin"></i></span>
<div id="loading"></div>

<div id="myModalControlPalletsLine" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <script>
                    $("#EsIngreso").val() == 1 ? $("#titulo").text("Detalle de control de Ingresos ") : $("#titulo").text("Detalle de control de salidas ");
                </script>
                <h4 class="modal-title" id="titulo">Detalle de control de  </h4>
                <button type="button" class="close" onclick="closesaleorderline();">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmControlPalletsLine"
                                      kendo-validator="true" kendo-messages="messages1" kendo-rules="rules1"
                                      data-ajax-method="post"
                                      method="post"
                                      data-ajax-complete="completedorderlinemant"
                                      data-ajax-begin="return AddControlPalletsDetail();"
                                      data-ajax="true"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="ControlPalletsLineId" class="control-label"></label>
                                                    <input type="number" asp-for="ControlPalletsLineId" class="k-textbox" style="min-width:100%" readonly />

                                                </div>
                                            </div>
                                            <div class="col-md-3" id="ddproducto">
                                                <div class="form-group">
                                                    <label  class="control-label" style="width:100%">Producto</label>
                                                    <kendo-dropdownlist name="SubProductIddet" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el Producto del cliente"
                                                                        onchange="GetProductTypeIdS()"
                                                                        datatextfield="ProductName"
                                                                        datavaluefield="SubproductId"
                                                                        auto-bind="false"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-filtering="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetSubProductoByTipoByCustomer", "SubProduct")" data="GetProductTypeIdS" />
                                                            </transport>
                                                        </datasource>

                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>


                                            <div class="col-md-3" id="dduom">
                                                <div class="form-group">
                                                    <label class="control-label">Unidad de Medida</label>
                                                    <kendo-dropdownlist name="UnitofMeasureIddet"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione la unidad de medida"
                                                                        required
                                                                        auto-bind="true"
                                                                        datatextfield="UnitOfMeasureName"
                                                                        datavaluefield="UnitOfMeasureId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="30000">
                                                            <transport>
                                                                <read url="@Url.Action("GetUnitOfMeasureJson", "UnitOfMeasure")" data="GetUnitOfMeasureId" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                            <div class="col-md-3" id="ddbranch">
                                                <div class="form-group">
                                                    <label  class="control-label">Bodega</label>
                                                    <kendo-dropdownlist name="WarehouseIddet"  filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Bodega"
                                                                        cascade-from="BranchId"
                                                                        required
                                                                        auto-bind="false"
                                                                        datatextfield="WarehouseName"
                                                                        datavaluefield="WarehouseId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-filtering="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Warehouse")" data="GetBranchId" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    
                                                </div>
                                            </div>


                                            <div class="col-md-3" id="inputalto">
                                                <div class="form-group">

                                                    <label asp-for="Alto" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="Alto"
                                                                          format="##"
                                                                          min="0"
                                                                          decimals="0"
                                                                          step="1"
                                                                          spinners="false"
                                                                          required
                                                                          onchange="CalcularTotal();"
                                                                          style="width:100%"
                                                                          value="0" />
                                                    <span asp-validation-for="Alto" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3" id="inputancho">
                                                <div class="form-group">
                                                    <label asp-for="Ancho" class="control-label" style="width:100%"></label>
                                                    @*<input type="text" id="Ancho" asp-for="Ancho" class="form-control" style="width:100%" />*@
                                                    <kendo-numerictextbox name="Ancho"
                                                                          format="##"
                                                                          step="1"
                                                                          spinners="false"
                                                                          required
                                                                          onchange="CalcularTotal();"
                                                                          style="width:100%"
                                                                          value="0" />
                                                    <span asp-validation-for="Ancho" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3" id="inputotros">
                                                <div class="form-group">
                                                    <label asp-for="Otros" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="Otros"
                                                                          format="n2"
                                                                          spinners="false"
                                                                          min="0"
                                                                          step="1"
                                                                          required
                                                                          onchange="CalcularTotal();"
                                                                          style="width:100%"
                                                                          value="0" />
                                                    <span asp-validation-for="Otros" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="total">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label" style="width:100%">Cantidad</label>
                                                    <kendo-numerictextbox name="Cantidad"
                                                                          format="n2"
                                                                          id="Cantidad"
                                                                          spinners="false"
                                                                          min="0"
                                                                          required
                                                                          decimals="2"
                                                                          style="min-width:100%"
                                                                          value="0" />
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <label class="control-label" style="min-width:100%">Observacion</label>
                                                    <textarea name="Observacion" rows="2" id="Observacion" class="k-textarea" style="min-width:100%"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" id="productopesadodet2">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="cantidadYute" class="control-label" style="width:100%"></label>

                                                    @*<input type="number" min="0" asp-for="cantidadYute" onkeyup="CalcularTotal();" class="form-control" style="min-width:100%" />*@
                                                    <kendo-numerictextbox name="cantidadYute"
                                                        format="n2"
                                                        min="0"
                                                        decimals="0"
                                                        step="1"
                                                        spinners="false"
                                                        required
                                                        onkeyup="CalcularTotal()"
                                                        style="width:100%"
                                                        for="cantidadYute"/>
                                                    <span asp-validation-for="cantidadYute" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="cantidadPoliEtileno" class="control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="cantidadPoliEtileno"
                                                                          format="n2"
                                                                          decimals="0"
                                                                          min="0"
                                                                          step="1"
                                                                          spinners="false"
                                                                          required
                                                                          onchange="CalcularTotal();"
                                                                          style="width:100%"
                                                                          value="0"/>
                                                    <span asp-validation-for="cantidadPoliEtileno" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Totallinea" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="Totallinea"
                                                                          format="n2"
                                                                          id="Totallinea"
                                                                          spinners="false"
                                                                          min="0"
                                                                          required
                                                                          decimals="0"
                                                                          disabled
                                                                          step="1"
                                                                          style="width:100%"
                                                                          value="Model.Totallinea"/>

                                                    <span asp-validation-for="Totallinea" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <button id="btnActualizarCotizacionLinea" type="submit" class="form-control btn-miboton">Actualizar</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
