@model ERPMVC.DTO.ControlPalletsDTO
@using System.Security.Claims

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                        {"required","Valor requerido" },

                                    };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" }

    };
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];
    bool habilitadosinboleta = (Model.ControlPalletsId == 0 || (Model.WeightBallot == 0 && Model.ControlPalletsId != 0));
}

<style>
    span.k-loading-text {
        z-index: -99999999;
    }

    .k-numerictextbox .k-input {
        width: 96%;
        text-align: right;
        padding-right: 5px !important;
    }
</style>



<script>

    function validacionesFunction(input) {
        if (input.attr('name') === "cantidadPoliEtileno") {
            var totaltipo = Number($("#cantidadYute").val()) + Number($("#cantidadPoliEtileno").val());
            var Totallinea = $("#Totallinea").val();
            if (Number(totaltipo) != Number(Totallinea)) {
                return false;
            }

        }
    }

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "WeightBallot" && input.val() == 0) {
            return false;
        }


        return true;
    }


    function closeGoodsDelivered() {
        $("#myModalControlPallets").modal('hide');
        var grid = $("#gridEstibas").getKendoGrid();
        grid.dataSource.read();
    }


    function GetSubProduct(e) {
        var dataItem = e.dataItem;
        $("#hcustomerid").val(dataItem.CustomerId);
        hcustom = dataItem.CustomerId;
        $("#SubProductId").data("kendoDropDownList").dataSource.read();

    }

    function customerchange() {
        debugger;
        kendo.ui.progress($("#myModalControlPallets"), true);
        GetProductTypeIdS();
        //kendo.ui.progress.messages = {
        //    loading: "Processing..."
        //};

        var esPesado = $("#ProductoPesado").data("kendoSwitch").check();
        if (!esPesado) {
            kendo.ui.progress($("#myModalControlPallets"), false);
            return;
        }
        $("#WeightBallotddl").data("kendoDropDownList").enable(true);
        var datasource = $("#WeightBallotddl").data("kendoDropDownList").dataSource;
        datasource.async = false;
        datasource.read();
        $("#WeightBallotddl").data("kendoDropDownList").refresh();
    }


    function CallPesaje() {
        $("#WeightBallot").data("kendoNumericTextBox").value($("#WeightBallotddl").val());
        GetBoletaPeso();
        //esPesado();
        GetProductTypeIdS();
    }

    function esPesado() {
        debugger;
        var esPesado = $("#ProductoPesado").data("kendoSwitch").check();
        var boletapeso = $("#WeightBallotddl").val();
        var grid = $("#gridControlPalletsDetail").getKendoGrid();
        grid.dataSource.read();
        //var grilla = $("#gridControlPalletsDetail").data("kendoGrid");
        if (esPesado == false) {
            $("#productoboleta").hide();
            $("#WeightBallotddl").data("kendoDropDownList").enable(false);
            $("#Motorista").removeAttr("readonly");
            $("#Placa").removeAttr("readonly");
            $("#Marca").removeAttr("readonly");
            $("#totales").hide();   
            $("#grantotal").show();   
            grid.hideColumn("Alto");
            grid.hideColumn("Ancho");
            grid.hideColumn("Otros"); 
            grid.hideColumn("cantidadPoliEtileno");
            grid.hideColumn("cantidadYute");
            var btn = $("#btnlinea");
            btn[0].innerText = 'Agregar Producto';
        } else {
            $("#productoboleta").show();
            $("#productopesadodet").show();
            $("#productopesadodet").show();
            $("#grantotal").hide();
            $("#Motorista").attr("readonly", "true");
            $("#Placa").attr("readonly", "true");
            $("#totales").show();
            grid.showColumn("Alto");
            grid.showColumn("Ancho");
            grid.showColumn("Otros");
            grid.showColumn("cantidadPoliEtileno");
            grid.showColumn("cantidadYute");

            var btn = $("#btnlinea");
            btn[0].innerText = 'Agregar Linea';
        }
    }

    function GetEsIngreso()
    {
        var esIngreso = Boolean( @Model.EsIngreso)
        return { CustomerTypeId: 1, CustomerId: $("#CustomerId").val(), esIngreso: esIngreso }
    }


    function onbound() {
        kendo.ui.progress($("#myModalControlPallets"), false);
    }

    function setRequiredAttr(evt) {
        esPesado();
        if (evt.sender.dataSource.data().length < 1) {
            evt.sender.element.removeAttr("data-val-required");
        }
        else {
            evt.sender.element.attr("data-val-required", "La boleta de peso es requerida.");
        }
    }
</script>


<script>
                                                    function GetBoletaPeso() {

                                                        var notification = $("#notification").data("kendoNotification");
                                                        var dataObject = { 'clave_e': $("#WeightBallot").val(), 'Customer': $("#CustomerId").val() };

                                                        if (Number($("#WeightBallot").val()) > 0) {
                                                            $.ajax({
                                                                url: '@Url.Action("GetBoleto_EntById", "Boleto_Ent")',
                                                                method: 'GET',
                                                                datatype: "json",
                                                                contentType: 'application/json',
                                                                async: false,
                                                                data: dataObject,
                                                                success: function (result) {
                                                                    //console.log('Restful API:');
                                                                    //console.log(result);
                                                                    // debugger;


                                                                    if (result == 0) {
                                                                        $.toast({
                                                                            heading: 'Error',
                                                                            text: 'El producto que contiene la boleta no esta asignado a este Cliente.',
                                                                            position: 'top-right',
                                                                            loaderBg: '#ff6849',
                                                                            icon: 'error',
                                                                            hideAfter: 30000,
                                                                            stack: 6
                                                                        });
                                                                        $("#btnSaveControlEstiba").prop("disabled", "disabled");
                                                                    }
                                                                    else if (result == "NoContienProducto") {
                                                                        $.toast({
                                                                            heading: 'Error',
                                                                            text: 'No se encontro ningun Producto asociado en el sistema con el codigo de producto en la boleta',
                                                                            position: 'top-right',
                                                                            loaderBg: '#ff6849',
                                                                            icon: 'error',
                                                                            hideAfter: 30000,
                                                                            stack: 6
                                                                        });
                                                                        $("#btnSaveControlEstiba").prop("disabled", "disabled");
                                                                    }
                                                                    else {
                                                                        $("#btnSaveControlEstiba").prop("disabled", false);
                                                                    }



                                                                    var resultados = result;


                                                                           if (resultados.clave_e == 0) {
                                                                        //Web api local
                                                                        var urlbase = "http://localhost:9200/api/code"
                                                                        var dataObject2 = { 'id': $("#WeightBallot").val() };

                                                                        //$.get(urlbase + '/' + $("#WeightBallot").val(), function (responseText) {
                                                                        //    alert(responseText);
                                                                        //});

                                                                        $.ajax({
                                                                            url: urlbase,
                                                                            type: 'GET',
                                                                            method: 'GET',
                                                                            cache: 'true',
                                                                            dataType: 'jsonp',
                                                                            // contentType: 'application/json',
                                                                            data: dataObject2,
                                                                            async: false,
                                                                            success: function (json) {
                                                                                //  console.log(json);
                                                                                resultados = json;
                                                                                $.ajax({
                                                                                    url: '@Url.Action("SaveBoleto_Ent", "Boleto_Ent")',
                                                                                    type: 'POST',
                                                                                    method: 'POST',
                                                                                    dataType: 'json',
                                                                                    // contentType: 'application/json',
                                                                                    data: JSON.stringify(resultados),
                                                                                    async: false,
                                                                                    success: function (json) {
                                                                                        //  console.log(json);
                                                                                        //resultados = json;

                                                                                    },
                                                                                    error: function (parsedjson, textStatus, errorThrown) {

                                                                                        $('body').append(
                                                                                            "parsedJson status: " + parsedjson.status + '</br>' +
                                                                                            "errorStatus: " + textStatus + '</br>' +
                                                                                            "errorThrown: " + errorThrown);

                                                                                    }
                                                                                });



                                                                            },
                                                                            error: function (parsedjson, textStatus, errorThrown) {

                                                                                $('body').append(
                                                                                    "parsedJson status: " + parsedjson.status + '</br>' +
                                                                                    "errorStatus: " + textStatus + '</br>' +
                                                                                    "errorThrown: " + errorThrown);

                                                                            }
                                                                        });

                                                                    }
                                                                    $("#Motorista").val(resultados.conductor);
                                                                    $("#Placa").val(resultados.placas);
                                                                    $("#SubProductId").data("kendoDropDownList").value(resultados.ProductId);
                                                                    var uom = $("#UnitOfMeasureId").val();
                                                                    if (resultados.UnitOfMeasureId!=null && uom == null) {
                                                                        $("#UnitOfMeasureId").data("kendoDropDownList").value(resultados.UnitOfMeasureId);

                                                                    }

                                                                    $("#SubProductId").data("kendoDropDownList").enable(false);
                                                                    if ($("#EsIngreso").val() == 1) {
                                                                        if (resultados.Boleto_Sal != null) {
                                                                            if (resultados.Boleto_Sal.peso_s > resultados.peso_e) {
                                                                                $.toast({
                                                                                    heading: 'Validación',
                                                                                    text: 'La boleta de peso es una salida de mercancía',
                                                                                    position: 'top-right',
                                                                                    loaderBg: '#ff6849',
                                                                                    icon: 'error',
                                                                                    hideAfter: 30000,
                                                                                    stack: 6
                                                                                });

                                                                                $("#btnSaveControlEstiba").prop("disabled", true);
                                                                                return false;
                                                                            }
                                                                            else {
                                                                                $("#btnSaveControlEstiba").prop("disabled", false);
                                                                            }
                                                                        }

                                                                    }
                                                                    else if ($("#EsIngreso").val() == 0) {

                                                                        if (resultados.Boleto_Sal.peso_s < resultados.peso_e) {
                                                                            $.toast({
                                                                                heading: 'Validación',
                                                                                text: 'La boleta de peso es una entrada de mercancía',
                                                                                position: 'top-right',
                                                                                loaderBg: '#ff6849',
                                                                                icon: 'error',
                                                                                hideAfter: 30000,
                                                                                stack: 6
                                                                            });

                                                                            $("#btnSaveControlEstiba").prop("disabled", true);
                                                                            return false;
                                                                        } else {
                                                                            $("#btnSaveControlEstiba").prop("disabled", false);
                                                                        }


                                                                    }


                                                                },
                                                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                                                                }
                                                            });
                                                        }
                                                    }
</script>



<div id="myModalControlPallets" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.EsIngreso == 1)
                {
                    <h4 class="modal-title">
                        Información Control de ingresos
                        @if (Model.ControlPalletsId != 0)
                        {
                            <button class="btn btn-miboton" onclick="ImprimirControlPallet(null,'@Model.ControlPalletsId')"><i class="fa fa-print"></i></button>
                        }
                    </h4>
                }

                @if (Model.EsSalida == 1)
                {
                    <h4 class="modal-title">
                        Información Control de Salida
                        @if (Model.ControlPalletsId != 0)
                        {
                            <button class="btn btn-miboton" onclick="ImprimirControlPallet(null,'@Model.ControlPalletsId')"><i class="fa fa-print"></i></button>
                        }
                    </h4>
                }
                <button type="button" class="close" onclick="closeGoodsDelivered();">&times;</button>

            </div>
            <div class="modal-body">

                <div class="card">
                    <div class="card-body">
                        <form id="frmControlPallets" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                              method="post" class="validation-wizard wizard-circle">
                            <div class="form-body">
                                <input type="hidden" id="hcustomerid" value="0" asp-for="CustomerId" />
                                <div class="row">
                                    <div class="col-md-2">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="ControlPalletsId" class="control-label" style="width:100%"></label>
                                            <input type="text" asp-for="ControlPalletsId" name="ControlPalletsId" class="k-textbox" readonly style="min-width:100%" />


                                        </div>

                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="DocumentDate" class=" control-label" style="width: 100%;"></label>
                                            <kendo-datetimepicker name="DocumentDate"
                                                                  style="min-width:93%"
                                                                  
                                                                  format="dd/MM/yyyy hh:mm:ss"
                                                                  time-format="hh:mm:ss"
                                                                  data-val-required="La fecha es requerida"
                                                                  value="Model.DocumentDate" />
                                            <span asp-validation-for="DocumentDate" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <script>

                                                function FillWareHouse(e) {
                                                    var dataItem = e.dataItem;
                                                    $("#warehousesetid").val(dataItem.BranchId);
                                                    $("#WarehouseId").data("kendoDropDownList").dataSource.read();

                                                }


                                            </script>

                                            <input type="hidden" id="warehousesetid" />
                                            <label asp-for="BranchId" class="control-label"></label>
                                            <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                option-label="Seleccione Sucursal"
                                                                datatextfield="BranchName"
                                                                datavaluefield="BranchId"
                                                                required
                                                                enable="false"
                                                                auto-bind="true"
                                                                style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi" page-size="200000">
                                                    <transport>
                                                        <read url="@Url.Action("GetBranchActivos", "Branch")" />
                                                    </transport>
                                                </datasource>
                                            </kendo-dropdownlist>
                                            <span asp-validation-for="BranchId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Producto Pesado</label>
                                            <kendo-switch checked="Model.ProductoPesado" name="ProductoPesado" on-change="esPesado" for="ProductoPesado" enabled="Model.ControlPalletsId == 0 ">
                                                <messages checked="Si" unchecked="No" />
                                            </kendo-switch>

                                        </div>
                                    </div>

                                    <div class="chart-wrap" style="position: relative;z-index:-99999999">
                                        <div id="chart"></div>
                                        <div class="chart-loading"></div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <script>

                                            </script>
                                            <label asp-for="ProductId" class="control-label" style="width:100%"></label>

                                            <kendo-dropdownlist name="ProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                for="ProductId"
                                                                option-label="Seleccione el Servicio"
                                                                datatextfield="ProductName"
                                                                datavaluefield="ProductId"
                                                                enable="habilitadosinboleta"
                                                                required
                                                                style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi">
                                                    <transport>
                                                        <read url="@Url.Action("GetProductActivos", "Common")" />
                                                    </transport>
                                                </datasource>
                                            </kendo-dropdownlist>
                                            <span asp-validation-for="ProductId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="CustomerId" class="control-label" style="width:100%"></label>
                                            <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                option-label="Seleccione el Cliente"
                                                                required
                                                                onchange="customerchange();"
                                                                datatextfield="CustomerName"
                                                                datavaluefield="CustomerId"
                                                                
                                                                enable="habilitadosinboleta"
                                                                on-select="GetSubProduct"
                                                                style="width: 100%">
                                                <datasource type="DataSourceTagHelperType.WebApi" page-size="990000">
                                                    <transport >
                                                        <read url="@Url.Action("GetCustomerActivos", "Common")" />
                                                    </transport>
                                                </datasource>
                                            </kendo-dropdownlist>
                                            <span asp-validation-for="CustomerId" class="text-danger"></span>
                                        </div>
                                    </div>




                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="WeightBallot" class="control-label" style="width: 100%;"></label>

                                            @if (Model.WeightBallot == 0)
                                            {
                                                <kendo-dropdownlist option-label="Sin Boleta de Peso"
                                                                    datavaluefield="clave_e"
                                                                    datatextfield="observa_e"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    id="WeightBallotddl"
                                                                    on-data-bound="setRequiredAttr"
                                                                    on-change="CallPesaje"
                                                                    enable="false"
                                                                    required data-required-msg="La Boleta de peso es requerida."
                                                                    style="min-width:100%">
                                                    <datasource type="DataSourceTagHelperType.Ajax" on-request-end="onbound" page-size="99999">
                                                        <transport>
                                                            <read url="@Url.Action("Virtualization_Read", "Boleto_Ent")" data="GetEsIngreso" />
                                                        </transport>
                                                    </datasource>

                                                </kendo-dropdownlist>

                                                <div hidden>
                                                    <kendo-numerictextbox name="WeightBallot"
                                                                          format="#"
                                                                          required data-required-msg="La Boleta de peso es requerida."
                                                                          enable="false"
                                                                          min="0"
                                                                          spinners="false"
                                                                          max="99999999"
                                                                          onchange="return GetBoletaPeso()"
                                                                          step="1"
                                                                          decimals="0"
                                                                          value="Model.WeightBallot"
                                                                          style="min-width:100%" />
                                                </div>
                                            }
                                            else
                                            {
                                                <kendo-numerictextbox name="WeightBallot"
                                                                      format="#"
                                                                      required data-required-msg="La Boleta de peso es requerida."
                                                                      enable="false"
                                                                      min="0"
                                                                      spinners="false"
                                                                      max="99999999"
                                                                      onchange="return GetBoletaPeso()"
                                                                      step="1"
                                                                      decimals="0"
                                                                      style="min-width: 100%;"
                                                                      value="Model.WeightBallot" />
                                            }
                                            <span asp-validation-for="WeightBallot" class="text-danger"></span>
                                        </div>

                                    </div>





                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="Motorista" class="control-label" style="width: 100%;"></label>
                                            <input type="text" id="Motorista" required readonly class="k-textbox" style="min-width:100%;" asp-for="Motorista" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="Marca" class="control-label" style="width: 100%;"></label>
                                            <input type="text" id="Marca" required class="k-textbox" style="min-width:100%;" asp-for="Marca"  />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="Placa" class="control-label" style="width: 100%;"></label>
                                            <input type="text" id="Placa" required readonly class="k-textbox" style="min-width:100%;" asp-for="Placa" />
                                        </div>
                                    </div>

                                    <div class="col-md-4" hidden>
                                        <div class="form-group">
                                            <label asp-for="EsIngreso" class="control-label" style="min-width: 100%;"></label>
                                            <kendo-switch name="EsIngereso" enabled="true" for="EsIngreso" checked="@Convert.ToBoolean(Model.EsIngreso)">
                                                <messages checked="Si" unchecked="No" />
                                            </kendo-switch>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Observacion</label>
                                            <textarea class="k-textarea" asp-for="Observaciones" name="Observaciones" style="min-width:100%">@Model.Observaciones</textarea>



                                        </div>
                                    </div>
                                </div>
                                <div id="productoboleta">
                                    <h5>Producto Boleta de Peso</h5>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="SubProductId" class="control-label" style="width:100%"></label>
                                                <script>

                                                        var hcustom = 0;
                                                                function GetProductTypeIdS() {
                                                                    //debugger;
                                                                    var dto = { 'SubProductId': $("#SubProductId").val(), 'CustomerId': $("#CustomerId").val() };
                                                                    console.log(dto)
                                                                    

                                                                    $.ajax({
                                                                        url: '@Url.Action("GetProductoUnitOfMeasure", "SubProduct")',
                                                                        method: 'GET',
                                                                        datatype: "json",
                                                                        contentType: 'application/json',
                                                                        async: false,
                                                                        data:dto,
                                                                        success: function (result) {
                                                                            // console.log(result);
                                                                            debugger;
                                                                            var uom = $("#UnitOfMeasureId").val();
                                                                            if (result && result.UnitOfMeasureId &&  uom !=null ) {
                                                                                $("#UnitOfMeasureId").data("kendoDropDownList").value(result.UnitOfMeasureId);
                                                                            } 
                                                                        },
                                                                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                                            alert(textStatus + ": " + XMLHttpRequest.responseText);
                                                                        }
                                                                    })

                                                                    return {
                                                                        'CustomerId': hcustom,
                                                                    }
                                                                }

                                                </script>


                                                <kendo-dropdownlist name="SubProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione el Producto del cliente"
                                                                    for="SubProductId"
                                                                    on-change="GetProductTypeIdS()"
                                                                    datatextfield="ProductName"
                                                                    datavaluefield="SubproductId"
                                                                    auto-bind="false"
                                                                    required
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-filtering="true">
                                                        <transport>
                                                            <read url="@Url.Action("GetSubProductoByTipoByCustomerActivos", "SubProduct")" data="GetProductTypeIdS" />
                                                        </transport>
                                                    </datasource>

                                                </kendo-dropdownlist>
                                                <span asp-validation-for="SubProductId" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <script>
                                                    function GetUnitOfMeasureId() {
                                                        return { 'SubProductId': $("#SubProductId").val() }
                                                    }

                                                </script>
                                                <label asp-for="UnitOfMeasureId" class="control-label"></label>

                                                <kendo-dropdownlist name="UnitOfMeasureId" for="UnitOfMeasureId"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione la unidad de medida"
                                                                    required
                                                                    auto-bind="true"
                                                                    datatextfield="UnitOfMeasureName"
                                                                    datavaluefield="UnitOfMeasureId"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" page-size="30000">
                                                        <transport>
                                                            <read url="@Url.Action("GetUnitOfMeasureJsonActivos", "UnitOfMeasure")" data="GetUnitOfMeasureId" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="UnitOfMeasureId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label  class="control-label" style="width: 300px;">Estiba</label>
                                                <kendo-numerictextbox name="Estiba"
                                                                      format="##"
                                                                      min="0"
                                                                      decimals="0"
                                                                      max="99999999"
                                                                      step="1"
                                                                      style="min-width: 97%;" />
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <script>
                                                    function GetBranchId() {

                                                        return { 'BranchId': $("#BranchId").val() }
                                                    }

                                                </script>
                                                <label asp-for="WarehouseId" class="control-label"></label>
                                                @if (Model.ControlPalletsId == 0)
                                                {
                                                    <kendo-dropdownlist name="WareHouseId" for="WarehouseId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Bodega"
                                                                        cascade-from="BranchId"
                                                                        required
                                                                        auto-bind="false"
                                                                        datatextfield="WarehouseName"
                                                                        datavaluefield="WarehouseId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-filtering="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetActivos", "Warehouse")" data="GetBranchId" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="WarehouseId" class="text-danger"></span>
                                                }
                                                else
                                                {
                                                    <kendo-dropdownlist name="WareHouseId" for="WarehouseId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Bodega"
                                                                        enable="false"
                                                                        required
                                                                        auto-bind="true"
                                                                        datatextfield="WarehouseName"
                                                                        datavaluefield="WarehouseId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-filtering="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetActivos", "Warehouse")" data="GetBranchId" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="WarehouseId" class="text-danger"></span>
                                                }


                                            </div>
                                        </div>


                                    </div>


                                </div>



                            </div>
                            <div hidden>
                                <kendo-numerictextbox for=PalletId 
                                                                      format="##"
                                                                      min="0"
                                                                      decimals="0"
                                                                      max="99999999"
                                                                      step="1"
                                                                      value=Model.PalletId
                                                                      style="min-width: 97%;" />
                            </div>
                        </form>

                        <div id="salesorderdetail">
                            @await Html.PartialAsync("pvwControlPalletsDetail", Model, new ViewDataDictionary(ViewData) { { "permisosControlPallets", permisos } })
                        </div>

                        <div id="ControlPalletsLineMant">
                            @await Html.PartialAsync("pvwControlPalletsDetailMant", new ERPMVC.Models.ControlPalletsLine { ControlPalletsLineId = 0, ControlPalletsId = Model.ControlPalletsId, cantidadYute = 0 })
                        </div>

                        <form id="TotalesDocumento" kendo-validator="true" kendo-messages="messages" kendo-rules="rules">
                            <div class="box" id="TotalesDocumento">
                                <div class="box-body">
                                    <div class="content-container-fluid">
                                        <div class="row">
                                            @*<div class="col-md-10"></div>*@

                                            <div class="col-md-4">
                                                <label asp-for="TotalSacosYute" class=" control-label"></label>
                                                        <kendo-numerictextbox name="TotalSacosYute"
                                                                              format="n2"
                                                                              style="width: 100%;"
                                                                              min="0" disabled
                                                                              decimals="0"
                                                                              max="999999999"
                                                                              step="1"
                                                                              spinners="false"
                                                                              value="Model.TotalSacosYute" />
                                                        <span asp-validation-for="TotalSacosYute" class="text-danger"></span>
                                            </div>
                                             <div class="col-md-4">
                                                 <label asp-for="TotalSacosPolietileno" class=" control-label"></label>
                                                        <kendo-numerictextbox name="TotalSacosPolietileno"
                                                                              format="n2"
                                                                              style="width: 100%;"
                                                                              min="0" disabled
                                                                              decimals="0"
                                                                              max="999999999"
                                                                              step="1"
                                                                              spinners="false"
                                                                              value="Model.TotalSacosPolietileno" />
                                                        <span asp-validation-for="TotalSacosPolietileno" class="text-danger"></span>
                                             </div>
                                             <div class="col-md-4">
                                                  <label asp-for="QQPesoBruto" class=" control-label"></label>
                                                        <kendo-numerictextbox name="QQPesoBruto"
                                                                              format="n2"
                                                                              style="width: 100%;"
                                                                              min="0" disabled
                                                                              max="999999999"
                                                                              step="1"
                                                                              spinners="false"
                                                                              value="Model.QQPesoBruto" />
                                                        <span asp-validation-for="QQPesoBruto" class="text-danger"></span>
                                             </div>

                                             <div class="col-md-4">
                                                 <label asp-for="Tara" class=" control-label"></label>
                                                        <kendo-numerictextbox name="Tara"
                                                                              format="n2"
                                                                              style="width: 100%;"
                                                                              min="0" disabled
                                                                              max="999999999"
                                                                              step="1"
                                                                              spinners="false"
                                                                              value="Model.Tara" />
                                                        <span asp-validation-for="Tara" class="text-danger"></span>
                                             </div>
                                             <div class="col-md-4">
                                                  <label asp-for="QQPesoNeto" class=" control-label"></label>
                                                        <kendo-numerictextbox name="QQPesoNeto"
                                                                              format="n2"
                                                                              style="width: 100%;"
                                                                              required
                                                                              min="0" disabled
                                                                              max="999999999"
                                                                              step="1"
                                                                              spinners="false"
                                                                              value="@Model.QQPesoNeto" />
                                                        <span asp-validation-for="QQPesoNeto" class="text-danger"></span>
                                             </div>
                                             <div class="col-md-4">
                                                  <label asp-for="TotalSacos" class="control-label"></label>
                                                        <kendo-numerictextbox name="TotalSacos"
                                                                              format="n2"
                                                                              min="0"
                                                                              disabled
                                                                              required
                                                                              on-change="mostrarTotal"
                                                                              style="width: 100%;"
                                                                              max="999999999"
                                                                              step="1"
                                                                              spinners="false"
                                                                              value="@Model.TotalSacos" />
                                                        <span asp-validation-for="TotalSacos" class="text-danger"></span>
                                             </div>

                                            <div class="col-md-4">
                                                <label  class=" control-label">Total</label>
                                                        <kendo-numerictextbox name="Totalcant"
                                                                              format="n2"
                                                                              style="width: 100%;"
                                                                              min="0"  disabled
                                                                              decimals="2"
                                                                              max="999999999"
                                                                              step="1"
                                                                              value="@Model.TotalSacos"
                                                                              spinners="false" />
                                            </div>
                                            <div class="col-md-4"> </div>
                                            <div class="col-md-4"> </div>

                                           
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                        @if (Model.Estado!="Recibido")
                        {
                            <div class="row">                            
                                <button id="btnSaveControlEstiba" type="submit" class="form-control btn-miboton" onclick="SaveControlPallets(this);">Guardar</button>                            
                            </div>

                        }
                        


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function mostrarTotal() {
        var total = $("#Totalcant").data("kendoNumericTextBox");
        total.value($("#TotalSacos").val());
    }

    function RefreshGridEstibas() {
        var grid = $("#gridEstibas").getKendoGrid();
        grid.dataSource.read();

    }

    function GetPesoEntrada(){
         $.ajax({
                    url: '@Url.Action("SaveControlPallets", "ControlPallets")',
                    method: 'GET',
                    datatype: "json",
                    //contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify(dataObject),
                    success: function (data) {

                       // $("#ControlPalletsId").data("kendoNumericTextBox").value(data.ControlPalletsId);
                        $("#ControlPalletsId").val(data.ControlPalletsId);

                        $.toast({
                            heading: 'Satisfactorio',
                            text: 'Datos guardados correctamente.',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'success',
                            hideAfter: 30000,
                            stack: 6
                        });

                        //ImprimirControlPallet(null, data.ControlPalletsId);

                        //notification.show({
                        //    message: "Guardado correctamente!"
                        //}, "upload-success");

                        RefreshGridEstibas();
                        $('#myModalControlPallets').modal('hide');

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#btnSaveControlEstiba").show();
                        $("#btnSaveControlEstiba").prop("disabled", false);
                        $("#btngenerarfactura").show();
                        notification.show({
                            title: "Validacion",
                            message: textStatus + ": " + XMLHttpRequest.responseText
                        }, "error");

                    }
                });
    
    
    }

    function SaveControlPallets(e) {
        debugger;
        var notification = $("#notification").data("kendoNotification");
         //e.preventDefault();
        $("#btnSaveControlEstiba").hide();
        $("#btnSaveControlEstiba").prop("disabled", true);

        var displayedData = $("#gridControlPalletsDetail").data().kendoGrid.dataSource.view();

        if ($("#EsIngreso").val() == 0) {
            if ($("#cbxBuscar").val() === 0 || $("#cbxBuscar").val() === '') {
                $.toast({
                    heading: 'Autorización de mercadería',
                    text: 'Ud debe seleccionar la autorización de mercadería.',
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'warning',
                    hideAfter: 30000,
                    stack: 6
                });

                $("#btnSaveControlEstiba").show();
                $("#btnSaveControlEstiba").prop("disabled", false);

                return false;
            }
        }
        var checkesingreso = $("#EsIngreso").data("kendoSwitch");
        var esingreso = checkesingreso.check();
        var checkpesado = $("#ProductoPesado").data("kendoSwitch");
        var pesado = checkpesado.check();

        var dataObject = {
            'ControlPalletsId': $("#ControlPalletsId").val() === "" ? "0" : $("#ControlPalletsId").val(),
            'Motorista': $("#Motorista").val(),
            'WarehouseId': $("#WarehouseId").val() === "" ? null : $("#WarehouseId").val(),
            'WarehouseName': $("#WarehouseId").data("kendoDropDownList").text(),
            'DocumentDate': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),
            'ProductId': $("#ProductId").val(),
            'ProductName': $("#ProductId").data("kendoDropDownList").text(),
            'DescriptionProduct': $("#ProductId").data("kendoDropDownList").text(),
            'SubProductId': $("#SubProductId").val() === "" ? null : $("#SubProductId").val(),
            'SubProductName': $("#SubProductId").data("kendoDropDownList").text(),
            'Placa': $("#Placa").val(),
            'Marca': $("#Marca").val(),
            'PalletId': $("#PalletId").val(),
            'EsIngreso': esingreso ? 1 : 0,
            'EsSalida': !esingreso ? 1 : 0,
            'SubTotal': $("#SubTotal").val(),
            'TotalSacos': $("#TotalSacos").val(),
            //'SacosDevueltos': $("#SacosDevueltos").val(),
            'QQPesoBruto': $("#QQPesoBruto").val(),
            'Tara': $("#Tara").val(),
            'QQPesoNeto': $("#QQPesoNeto").val(),
            //'QQPesoFinal': $("#QQPesoFinal").val(),
            'CustomerId': $("#CustomerId").val(),
            'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
            'BranchId': $("#BranchId").val(),
            'BranchName': $("#BranchId").data("kendoDropDownList").text(),
            'WeightBallot': $("#WeightBallot").val(),
            'TotalSacosPolietileno': $("#TotalSacosPolietileno").val(),
            'TotalSacosYute': $("#TotalSacosYute").val(),
            'GoodsDeliveryAuthorizationId': $("#cbxBuscar").val(),
            'UnitOfMeasureId': $("#UnitOfMeasureId").val() === "" ? null : $("#UnitOfMeasureId").val(),
            'UnitOfMeasureName': $("#UnitOfMeasureId").data("kendoDropDownList").text(),
            'Observaciones': $('#Observaciones').val(),
            'ProductoPesado': pesado ,
            '_ControlPalletsLine': displayedData
        };
        console.log(dataObject);
        
        var validator = $("#frmControlPallets").data("kendoValidator");
        var validator2 = $("#TotalesDocumento").data("kendoValidator");
        var status = $(".status");

        var validadetalle = true;
        var displayedData = $("#gridControlPalletsDetail").data().kendoGrid.dataSource.data();
        for (var i = 0; i < displayedData.length; i++) {
            displayedData[i].ControlPalletsLineId = 0;
        }

        if (displayedData.length > 0) {
            //if (validator.validate() && validator2.validate()) {
            if (true ) {

                $.ajax({
                    url: '@Url.Action("SaveControlPallets", "ControlPallets")',
                    method: 'POST',
                    datatype: "json",
                    //contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify(dataObject),
                    success: function (data) {

                       // $("#ControlPalletsId").data("kendoNumericTextBox").value(data.ControlPalletsId);
                        $("#ControlPalletsId").val(data.ControlPalletsId);

                        $.toast({
                            heading: 'Satisfactorio',
                            text: 'Datos guardados correctamente.',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'success',
                            hideAfter: 30000,
                            stack: 6
                        });

                        //ImprimirControlPallet(null, data.ControlPalletsId);

                        //notification.show({
                        //    message: "Guardado correctamente!"
                        //}, "upload-success");

                        RefreshGridEstibas();
                        $('#myModalControlPallets').modal('hide');

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#btnSaveControlEstiba").show();
                        $("#btnSaveControlEstiba").prop("disabled", false);
                        $("#btngenerarfactura").show();
                        notification.show({
                            title: "Validacion",
                            message: textStatus + ": " + XMLHttpRequest.responseText
                        }, "error");

                    }
                });

            }
            else {
                debugger;
                $("#btnSaveControlEstiba").show();
                $("#btnSaveControlEstiba").prop("disabled", false);
                //status.text("Oops! There is invalid data in the form.")
                //    .removeClass("valid")
                //    .addClass("invalid");
            }
        }
        else {
            $("#btnSaveControlEstiba").show();
            $("#btnSaveControlEstiba").prop("disabled", false);
            //notification.show({
            //    title: "Validacion",
            //    //message: "Debe agregar los productos!"
            //    message: "Debe agregar el detalle!"
            //}, "error");
            $.toast({
                heading: 'Validación',
                text: 'Debe agregar el detalle!',
                position: 'top-right',
                loaderBg: '#ff6849',
                icon: 'error',
                hideAfter: 30000,
                stack: 6
            });

        }

        //  $("#btnSaveControlEstiba").show();

    }
</script>