@model ERPMVC.DTO.CostListItemDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
 {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "CostListItemId" && input.val() === "0") {
            return false;
        }

    }
    //$('#btnprueba').val("");
</script>

<div id="ModalCostListItem" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Datos de Calculo de Precio</h4>
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">

                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmCostListItem" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveCostListItem"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Calculo de Precio</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CostListItemId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="CostListItemId" name="CostListItemId" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="CostListItemId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="SubproductId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="SubproductId" name="SubproductId" class="form-control" data-val-required="Id de Subproducto es requerido" style="width:100%" />

                                                    @*<kendo-dropdownlist name="SubproductId"
                            for="@Model.SubproductId"
                            filter="Kendo.Mvc.UI.FilterType.Contains"
                            option-label="Seleccionar Sub Producto"
                            datatextfield="ProductName"
                            datavaluefield="SubproductId">
            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                <transport>
                    <read url="@Url.Action("GetSubProductoByTipoGrid", "Subproduct",)" />
                </transport>
            </datasource>
        </kendo-dropdownlist>*@
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ExchangeRateId" class=" control-label" style="width:100%"></label>
                                                    <kendo-dropdownlist name="ExchangeRateId"
                                                                        for="@Model.ExchangeRateId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                     
                                                                        data-val-required=" Id de tipo de cambio es requerido"
                                                                        datatextfield="ExchangeRateValue"
                                                                        datavaluefield="ExchangeRateId">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetExchangeRate", "ExchangeRate")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>

                                                </div>
                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DayofCalcule" class=" control-label" style="width:100%">Fecha Recepción</label>
                                                    <kendo-datetimepicker name="DayofCalcule" style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.DayofCalcule"></kendo-datetimepicker>
                                                    @* <input type="date" asp-for="DayofRate" name="DayofRate" class="form-control" autocomplete="off" style="width:100%" />*@
                                                    <span asp-validation-for="DayofCalcule" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="PriceBagValue" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="PriceBagValue"
                                                                          format="n2" spinners="false"
                                                                          min="0.00"
                                                                           class="control-label right bold"

                                                                        data-val-required="Precio de la bolsa es requerido"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999.99"
                                                                          step="1"
                                                                          value="Model.PriceBagValue" />

                                                    <span asp-validation-for="PriceBagValue" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DifferencyPriceBagValue" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="DifferencyPriceBagValue"
                                                                          format="n2" spinners="false"
                                                                          min="0.00"
                                                                           class="control-label right bold"
                                                                        data-val-required="Monto de diferencia es requerido"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999.99"
                                                                          step="1"
                                                                          value="Model.DifferencyPriceBagValue" />

                                                    <span asp-validation-for="DifferencyPriceBagValue" class="text-danger"></span>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="TotalPriceBagValue" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="TotalPriceBagValue"
                                                                          format="n2" spinners="false"
                                                                          min="0.00"
                                                                          required class="control-label right bold"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"

                                                                        data-val-required="Total de la bolsa de precios es requerido"
                                                                          max="999999999.99"
                                                                          step="1"
                                                                          value="Model.TotalPriceBagValue" />

                                                    <span asp-validation-for="TotalPriceBagValue" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="PriceBagValueCurrency" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="PriceBagValueCurrency"
                                                                          format="n2" spinners="false"
                                                                          min="0.00"
                                                                           class="control-label right bold"
  
                                                                        data-val-required="Ingreso de precio es requerido"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999.99"
                                                                          step="1"
                                                                          value="Model.PriceBagValueCurrency" />

                                                    <span asp-validation-for="PriceBagValueCurrency" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="PorcentagePriceBagValue" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="PorcentagePriceBagValue"
                                                                          format="n2" spinners="false"
                                                                          min="0.00"
                                                                           class="control-label right bold"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
  
                                                                        data-val-required="Porcentaje de precio es requerido"
                                                                          max="999999999.99"
                                                                          step="1"
                                                                          value="Model.PorcentagePriceBagValue" />

                                                    <span asp-validation-for="PorcentagePriceBagValue" class="text-danger"></span>
                                                </div>

                                            </div>



                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">

                                                    <label asp-for="RealBagValueCurrency" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="RealBagValueCurrency"
                                                                          format="n2" spinners="false"
                                                                          min="0.00"
                                                                           class="control-label right bold"
                                                                        data-val-required="Precio neto es requerido"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999.99"
                                                                          step="1"
                                                                          value="Model.RealBagValueCurrency" />

                                                    <span asp-validation-for="RealBagValueCurrency" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">

                                                    <label asp-for="ConRealBagValueInside" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="ConRealBagValueInside"
                                                                          format="n2" spinners="false"
                                                                          min="0.00"
                                                                           class="control-label right bold"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
      
                                                                        data-val-required="Consumo interno neto es requerido"
                                                                          max="999999999.99"
                                                                          step="1"
                                                                          value="Model.ConRealBagValueInside" />

                                                    <span asp-validation-for="ConRealBagValueInside" class="text-danger"></span>
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">

                                                    <label asp-for="PCRealBagValueInside" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="PCRealBagValueInside"
                                                                          format="n2" spinners="false"
                                                                          min="0.00"
                                                                           class="control-label right bold"
     
                                                                        data-val-required="Porcentaje Consumo interno neto es requerido"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999.99"
                                                                          step="1"
                                                                          value="Model.PCRealBagValueInside" />

                                                    <span asp-validation-for="PCRealBagValueInside" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">

                                                    <label asp-for="RealBagValueInside" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="RealBagValueInside"
                                                                          format="n2" spinners="false"
                                                                          min="0"
                                                                           class="control-label right bold"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                        data-val-required="Real consumo interno neto es requerido"
                                                                          max="999999999"
                                                                          step="1"
                                                                          value="Model.RealBagValueInside"></kendo-numerictextbox>
                                                    <span asp-validation-for="RealBagValueInside" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">

                                                    <label asp-for="TotalIncomes" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="TotalIncomes"
                                                                          format="n2" spinners="false"
                                                                          min="0"
                                                                           class="control-label right bold"
  
                                                                        data-val-required="Total ingresos es requerido"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999"
                                                                          step="1"
                                                                          value="Model.TotalIncomes"></kendo-numerictextbox>
                                                    <span asp-validation-for="TotalIncomes" class="text-danger"></span>
                                                </div>



                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="RecipientExpenses" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="RecipientExpenses"
                                                                          format="n2" spinners="false"
                                                                          min="0"
                                                                           class="control-label right bold"

                                                                        data-val-required="Egresos beneficiario es requerido"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999"
                                                                          step="1"
                                                                          value="Model.RecipientExpenses"></kendo-numerictextbox>
                                                    <span asp-validation-for="RecipientExpenses" class="text-danger"></span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="EscrowExpenses" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="EscrowExpenses"
                                                                          format="n2" spinners="false"
                                                                          min="0"
                                                                                
                                                                        data-val-required="Egresos fidelcomiso es requerido"
class="control-label right bold"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999"
                                                                          step="1"
                                                                          value="Model.EscrowExpenses"></kendo-numerictextbox>
                                                    <span asp-validation-for="EscrowExpenses" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="UtilityExpenses" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="UtilityExpenses"
                                                                          format="n2" spinners="false"
                                                                          min="0"
                                                                                 
                                                                        data-val-required="Egresos utilidad es requerido"  class="control-label right bold"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999"
                                                                          step="1"
                                                                          value="Model.UtilityExpenses"></kendo-numerictextbox>
                                                    <span asp-validation-for="UtilityExpenses" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="PermiseExportExpenses" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="PermiseExportExpenses"
                                                                          format="n2" spinners="false"
                                                                          min="0"
                                                                                
                                                                        data-val-required="Egresos Permiso de Exportacion es requerido"class="control-label right bold"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999"
                                                                          step="1"
                                                                          value="Model.PermiseExportExpenses"></kendo-numerictextbox>
                                                    <span asp-validation-for="PermiseExportExpenses" class="text-danger"></span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="TaxesExpenses" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="TaxesExpenses"
                                                                          format="n2" spinners="false"
                                                                          min="0"
                                                                              
                                                                        data-val-required="Egresos inpuestos es requerido" class="control-label right bold"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999"
                                                                          step="1"
                                                                          value="Model.TaxesExpenses"></kendo-numerictextbox>
                                                    <span asp-validation-for="TaxesExpenses" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="TotalExpenses" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="TotalExpenses"
                                                                          format="n2" spinners="false"
                                                                          min="0"
                                                                                
                                                                        data-val-required="Total de egresos Dolares es requerido" class="control-label right bold"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999"
                                                                          step="1"
                                                                          value="Model.TotalExpenses"></kendo-numerictextbox>
                                                    <span asp-validation-for="TotalExpenses" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="TotalExpensesCurrency" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="TotalExpensesCurrency"
                                                                          format="n2" spinners="false"
                                                                          min="0"
                                                                                 
                                                                        data-val-required="Total de egresos Lempiras requerido" class="control-label right bold"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999"
                                                                          step="1"
                                                                          value="Model.TotalExpensesCurrency"></kendo-numerictextbox>
                                                    <span asp-validation-for="TotalExpensesCurrency" class="text-danger"></span>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-12">
                                                <button id="btnCostListItem" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
            function RefrescarGrid() {
                debugger;
                var grid = $("#gridNumeracionCostListItem").getKendoGrid();
                grid.dataSource.read();
            }
    function SaveCostListItem(e) {

                    var notification = $("#notification").data("kendoNotification");
                   // e.preventDefault();
                debugger;
        $("#btnCostListItem").hide();
        $("#btnCostListItem").prop("disabled", true);
        var validadetalle = true;


        var displayedData = $("#gridNumeracionCostListItem").data().kendoGrid.dataSource.view();
            
                    var dataObject = {
                        'CostListItemId': $("CostListItemId").val() === "" ? "0" : $("#CostListItemId").val(),
                        'SubproductId': $("#SubproductId").val(),
                        'ExchangeRateId': $("#ExchangeRateId").val(),
                        'DayofCalcule': $("#DayofCalcule").getKendoDateTimePicker().value().toJSON(),
                        'PriceBagValue': $("#PriceBagValue").val(),
                        'DifferencyPriceBagValue': $("#DifferencyPriceBagValue").val(),
                        'TotalPriceBagValue': $("#TotalPriceBagValue").val(),
                        'PriceBagValueCurrency': $("#PriceBagValueCurrency").val(),
                        'PorcentagePriceBagValue': $("#PorcentagePriceBagValue").val(),
                        'RealBagValueCurrency': $("#RealBagValueCurrency").val(),
                        'ConRealBagValueInside': $("#ConRealBagValueInside").val(),
                        'PCRealBagValueInside': $("#PCRealBagValueInside").val(),
                        'RealBagValueInside': $("#RealBagValueInside").val(),
                        'TotalIncomes': $("#TotalIncomes").val(),
                        'RecipientExpenses': $("#RecipientExpenses").val(),
                        'EscrowExpenses': $("#EscrowExpenses").val(),
                        'UtilityExpenses': $("#UtilityExpenses").val(),
                        'PermiseExportExpenses': $("#PermiseExportExpenses").val(),
                        'TaxesExpenses': $("#TaxesExpenses").val(),
                        'TotalExpenses': $("#TotalExpenses").val(),
                        'TotalExpensesCurrency': $("#TotalExpensesCurrency").val(),
                        'CreatedDate': $("#CreatedDate").val(),
                        'ModifiedDate': $("#ModifiedDate").val(),
                        'CreatedUser': $("#CreatedUser").val(),
                        'ModifiedUser': $("#ModifiedUser").val(),
                        '_CostListItem': displayedData
                    };

                   // console.log(JSON.stringify(dataObject));
                    //var form = $("#frmNumeracion");
                   // form.validate();
        var validator = $("#frmCostListItem").data("kendoValidator");
                    var status = $(".status");
                    if (validator.validate()) {

                            $.ajax({
                                url: '@Url.Action("SaveCostListItem", "CostListItem")',
                                method: 'POST',
                                datatype: "json",
                                contentType: 'application/json',
                                async: false,
                                data: JSON.stringify(dataObject),
                                success: function (data) {

                                    //notification.show({
                                    //    message: "Guardado correctamente!"
                                    //}, "upload-success");
                                    $.toast({
                                        heading: 'Satisfactorio',
                                        text: '<br/><br/> Datos guardados correctamente.',
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'success',
                                        hideAfter: 30000,
                                        stack: 6
                                    });

                                    RefrescarGrid();

                                    $('#ModalCostListItem').modal('hide');


                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {

                                    notification.show({
                                        title: "Validación",
                                        message: textStatus + ": " + XMLHttpRequest.responseText
                                    }, "error");

                                }
                            });

                        }
                    else {
                        $("#btnCostListItem").show();
                        $("#btnCostListItem").prop("disabled", false);
                            status.text("Oops! Hay datos invalidos en el formulario.")
                                .removeClass("valid")
                                .addClass("invalid");
                        }



                
        $("#btnCostListItem").show();
        $("#btnCostListItem").prop("disabled", false);

                
            }
</script>

