@using Kendo.Mvc.UI
@using System.Security.Claims
@{
    ViewData["Title"] = "Tipo de Deducciones";
}
@{
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];
}
<h3 class="text-themecolor">Tipos de Deducciones</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div id="grdTipos"></div>
        </div>
    </div>
</div>
<div id="ModalTipoDeduccion"></div>

<script>
    function agregar_click() {
        var parametros = {
            TipoDeduccion: 0,
            Editar: 1
        };

        $.ajax({
            url: '@Url.Action("VistaDetalle", "TipoDeduccion")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(parametros),
            success: function (result) {
                $("#ModalTipoDeduccion").html('');
                $("#ModalTipoDeduccion").html(result);
                
                $('#ModalTipoDeduccionUpload').modal('show');
                
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus + ": " + XMLHttpRequest.responseText);
            }
        });
        window.RefrescarGridDetalle();
    }

    function RefrescarGridDetalle() {
        debugger;
        var grid = $("#gridDeductionQty").getKendoGrid();
        grid.dataSource.read();
    }

    function RefreshTipoDeduccion() {
        $("#grdTipos").getKendoGrid().dataSource.read();
    }

    function crearGrid() {
        $("#grdTipos").kendoGrid({
            dataSource: {
                type:"WebApi",
                transport: {
                    read:"@Url.Action("GetDeducciones", "TipoDeduccion")"
                },
                schema: {
                    model: {
                        fields: {
                            Id: { name: "Id", type: "number", editable: false },
                            Description: { name: "Description", type: "string", editable: false },
                            DeductionType: { name: "DeductionType", type: "string", editable: false },
                            Cantidad: { name: "Cantidad", type: "string", editable: false },
                            NombreEstado: { name: "NombreEstado", type: "string", editable: false }
                        }
                    }
                }
            },
            toolbar: [
                PermisoAgregar()
            ],
            columns: [
                {
                    command: [
                        PermisoEditar()
                    ],
                    width:100
                },
                { field: "Id", title: "Id", width: 80 },
                { field: "Description", title: "Descripción", width: 200},
                { field: "DeductionType", title: "Tipo", width: 100 },
                { field: "Cantidad", title: "Quincena", width: 100 },
                { field: "NombreEstado", title: "Estado", width: 100 },
                { field: "CuentaContableIngresosNombre", title: "CC Ingresos", width: 100 },
                { field: "CuentaContablePorCobrarNombre", title: "CC por Cobrar", width: 100 }
                    
    

            ],
            height: 400,
            scrollable: true,
            editable: false
        });
    }

    function editar_click(e) {
        var registro = this.dataItem($(e.currentTarget).closest('tr'));
        var parametros = {
            DeductionId: registro.Id
        };
        $.ajax({
            url: '@Url.Action("EditarDeduccion", "TipoDeduccion")',
            method: 'POST',
            datatype: "json",
            async: false,
            data: parametros,//JSON.stringify(parametros),
            success: function (result) {
                $("#ModalTipoDeduccion").html('');
                $("#ModalTipoDeduccion").html(result);
                $('#ModalTipoDeduccionUpload').modal('show');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus + ": " + XMLHttpRequest.responseText);
            }
        });
    }

    function detalle_click(e) {
        var registro = this.dataItem($(e.currentTarget).closest('tr'));

        var parametros = {
            DeductionId: registro.DeductionId
        };
        $.ajax({
            url: '@Url.Action("VerDeduccion", "TipoDeduccion")',
            method: 'POST',
            datatype: "json",
            async: false,
            data: parametros,//JSON.stringify(parametros),
            success: function (result) {
                $("#ModalTipoDeduccion").html('');
                $("#ModalTipoDeduccion").html(result);
                $('#ModalTipoDeduccionUpload').modal('show');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus + ": " + XMLHttpRequest.responseText);
            }
        });
    }

    $(document).ready(function() {
        crearGrid();
    });
</script>
<script type="text/javascript">
    function PermisoAgregar() {
        var permisos = '@ViewData["permisos"]';
            AgregarTipoDeduccion = {
                template: '<a class="k-button" href="\\#" onclick="return agregar_click()">Agregar</a>'
            }
            return AgregarTipoDeduccion

    }

    function PermisoEditar() {

            EditarTipoDeduccion = {
                name: "editar", click: editar_click, iconClass: "fa fa-edit", text: ""
            }
            return EditarTipoDeduccion

    }

    function PermisoVerDetalle() {

            VerDetalleTipoDeduccion = {
               name: "detalle", click: detalle_click, iconClass: "fa fa-list-alt", text: ""
            }
            return VerDetalleTipoDeduccion

    }
</script>