@model ERPMVC.DTO.DeduccionDTO
@{
    var editable = (int)ViewData["Editar"] != 1;
}
<div id="ModalTipoDeduccionUpload" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tipo de Deducción</h4>
                <button type="button" class="close" onclick="CerrarTipoDeduccion();">&times;</button>
            </div>
                <form id="frmTipoDeduccion" asp-action="GuardarDeduccion" asp-controller="TipoDeduccion" kendo-validator="true" method="post" onsubmit="Guardar(event)">
                    <div class="modal-body" kendo-validator="true" name="mdlCuerpo">
                        <div class="row">
                            <div class="col-md-4">
                                <label asp-for="DeductionId"></label><br />
                                <input style="min-width:100%" class="k-textbox" asp-for="DeductionId" readonly="readonly" />
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Description"></label><br />
                                <input style="min-width:100%" class="k-textbox" asp-for="Description" readonly="@editable" />
                            </div>
                            <div class="col-md-4">
                                <label></label>
                                <br />
                                <input id="EsPorcentaje" type="checkbox" style="position: relative; left: 0px; opacity: 100;" disabled="@editable" />Es % de sueldo bruto<br />
                            </div>
                            
                        </div>
                        <br />
                        <div class="row">

                            <div class="col-md-4">
                                <label for="Fortnight">Quincena</label><br />
                                <input type="radio" id="Fortnight" name="Fortnight" value="1" checked="checked" style="position: relative; left: 0px; opacity: 100;" disabled="@editable" /> 1era
                                <input type="radio" id="Fortnight2" name="Fortnight" value="2" style="position: relative; left: 0px; opacity: 100;" disabled="@editable" /> 2da<br />
                            </div>
                            <div class="col-md-4">
                                <label for="DeductionTypeId">Tipo </label><br />
                                <input type="radio" id="DeductionTypeId" name="DeductionTypeId" value="1" checked="checked" style="position: relative; left: 0px; opacity: 100;" disabled="@editable" /> Por Ley
                                <input type="radio" name="DeductionTypeId" value="2" style="position: relative; left: 0px; opacity: 100;" disabled="@editable" /> Eventual<br />
                                <input type="radio" name="DeductionTypeId" value="3" style="position: relative; left: 0px; opacity: 100;" disabled="@editable" /> Colegiación<br />
                                <input type="radio" name="DeductionTypeId" value="4" style="position: relative; left: 0px; opacity: 100;" disabled="@editable" /> Fondo Pensión/AFP<br />
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Formula">Valor Porcentaje</label><br />
                                <input style="min-width:100%" class="k-textbox" asp-for="Formula" readonly="@editable" />
                            </div>

                        </div>
                        @if (!editable)
                        {
                            <br />
                            <div class="row">
                                <hr />
                                <button class="form-control btn-miboton" type="submit">Guardar</button>

                            </div>

                        }
                    </div>
                </form>
        </div>
    </div>
</div>
<span id="notificacion"></span>

<script>

    $(document).ready(function () {
        //debugger;
        if (@Model.DeductionId !== 0) {
            var $tipos = $('input:radio[name=DeductionTypeId]');
            var $quincenas = $('input:radio[name=Fortnight]');
            if (@Model.DeductionTypeId === 1) {
                $tipos.filter('[value=1]').prop('checked', true);
                $tipos.filter('[value=2]').prop('checked', false);
                $tipos.filter('[value=3]').prop('checked', false);
                $tipos.filter('[value=4]').prop('checked', false);
            } else if (@Model.DeductionTypeId === 2) {
                $tipos.filter('[value=1]').prop('checked', false);
                $tipos.filter('[value=2]').prop('checked', true);
                $tipos.filter('[value=3]').prop('checked', false);
                $tipos.filter('[value=4]').prop('checked', false);
            }else if (@Model.DeductionTypeId === 3) {
                $tipos.filter('[value=1]').prop('checked', false);
                $tipos.filter('[value=2]').prop('checked', false);
                $tipos.filter('[value=3]').prop('checked', true);
                $tipos.filter('[value=4]').prop('checked', false);
            }else {
                $tipos.filter('[value=1]').prop('checked', false);
                $tipos.filter('[value=2]').prop('checked', false);
                $tipos.filter('[value=3]').prop('checked', false);
                $tipos.filter('[value=4]').prop('checked', true);
            }

            if (@Model.Fortnight === 1) {
                $quincenas.filter('[value=1]').prop('checked', true);
                $quincenas.filter('[value=2]').prop('checked', false);
            } else {
                $quincenas.filter('[value=1]').prop('checked', false);
                $quincenas.filter('[value=2]').prop('checked', true);
            }

            if (@Model.EsPorcentaje.ToString().ToLower()===true) {
                $("#EsPorcentaje").prop('checked', true);
            }
        }

        
    });

    function CerrarTipoDeduccion() {
        window.RefreshTipoDeduccion();
        $("#ModalTipoDeduccionUpload").modal('hide');
    }

    function Guardar(e) {
        e.preventDefault();
        var deduccion = {
            DeductionId: Number($("#DeductionId").val()),
            Description: $("#Description").val(),
            DeductionTypeId: Number($("input[name='DeductionTypeId']:checked").val()),
            DeductionType: "",
            Formula: Number($("#Formula").val()),
            Fortnight: Number($("input[name='Fortnight']:checked").val()),
            EsPorcentaje: $("#EsPorcentaje").is(":checked")
        };
        var validator = $("#frmTipoDeduccion").data("kendoValidator");
        var notificacion = $("#notificacion").kendoNotification().data("kendoNotification");
        if (validator.validate()) {

            $.ajax({
                url: '@Url.Action("GetTipoDeduccionPorNombre", "TipoDeduccion")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: {nombre : deduccion.Description},
                success: function (data) {
                    if (typeof data === 'undefined') {
                         $.ajax({
                            url: '@Url.Action("GuardarDeduccion", "TipoDeduccion")',
                            method: 'POST',
                            datatype: "json",
                            contentType: 'application/json',
                            async: false,
                            data: JSON.stringify(deduccion),
                            success: function (data) {
                                $.toast({
                                    heading: 'Satisfactorio',
                                    text: 'Datos guardados correctamente.',
                                    position: 'top-right',
                                    loaderBg: '#ff6849',
                                    icon: 'success',
                                    hideAfter: 3000,
                                    stack: 6
                                });
                                window.RefreshTipoDeduccion();
                                $("#ModalTipoDeduccionUpload").modal('hide');

                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                notificacion.show({
                                    title: "Validación",
                                    message: textStatus + ": " + XMLHttpRequest.responseText
                                }, "error");
                            }
                        });
                    } else {
                        $.toast({
                            heading: 'Error',
                            text: ' Ya existe un tipo de deducción llamado ' + data.Description,
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'error',
                            hideAfter: 2000,
                            stack: 6
                        });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.toast({
                        heading: 'Error',
                        text: ' ' + textStatus + ": " + XMLHttpRequest.responseText,
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 2000,
                        stack: 6
                    });
                }
            });

            
        }
        return false;
    }
</script>