@model ERPMVC.DTO.DeduccionDTO
@{
    var editable = (int)ViewData["Editar"] != 1;
}
<div id="ModalTipoDeduccionUpload" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tipo de Deducción</h4>
                <button type="button" class="close" onclick="CerrarTipoDeduccion();">&times;</button>
            </div>
            <form id="frmTipoDeduccion" asp-action="GuardarDeduccion" asp-controller="TipoDeduccion" kendo-validator="true" method="post" onsubmit="Guardar(event)">
                <div class="modal-body" kendo-validator="true" name="mdlCuerpo">
                    <div class="row">
                        <div class="col-md-3">
                            <label asp-for="DeductionId"></label><br />
                            <input style="min-width:100%" class="k-textbox" asp-for="DeductionId" readonly="readonly" />
                        </div>
                        <div class="col-md-4">
                            <label asp-for="Description"></label><br />
                            <input style="min-width:100%" class="k-textbox" asp-for="Description" required data-required-msg="La descripción es requerida."
                                   readonly="@editable" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <label for="Fortnight">Deducir en Quincena</label><br />
                            <select id="Fortnight" name="Fortnight" disabled="@editable">
                                <option value="1" selected>1era</option>
                                <option value="2">2da</option>
                                <option value="3">Ambas</option>
                                <option value="4">Mas de Una</option>
                            </select>
                            <input type="number" id="CustomAmount" name="CustomAmount" style="display: none;" placeholder="Cantidad" />
                        </div>
                        <div class="col-md-4">
                            <label for="DeductionTypeId">Tipo </label><br />
                            <select id="DeductionTypeId" name="DeductionTypeId" disabled="@editable">
                                <option value="1" selected>Por Ley</option>
                                <option value="2">Eventual</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="IdEstado" class="control-label">Estado</label>
                                <kendo-dropdownlist name="IdEstado"
                                                    for="@Model.IdEstado"
                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                    option-label="Seleccionar Estado"
                                                    datatextfield="NombreEstado"
                                                    required data-required-msg="El estado es requerido."
                                                    datavaluefield="IdEstado"
                                                    style="width: 100%;">
                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                        <transport>
                                            <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                        </transport>
                                    </datasource>
                                </kendo-dropdownlist>
                                <span asp-validation-for="IdEstado" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    @if (!editable)
                    {
                        <br />
                        <div class="row">
                            <hr />
                            <button class="form-control btn-miboton" type="submit">Guardar</button>
                        </div>
                    }
                </div>
            </form>
        </div>

    </div>
</div>
<span id="notificacion"></span>
<script>
    function RefrescarGrid() {
        var grid = $("#grdTipos").getKendoGrid();
        grid.dataSource.read();
    }
        var fortnightInput = document.getElementById("Fortnight");
        var customAmountInput = document.getElementById("CustomAmount");
        fortnightInput.addEventListener("change", function () {
        debugger;
        if (this.value >= "4") {
            customAmountInput.style.display = "block";
            customAmountInput.removeAttribute("disabled");

        } else {
            customAmountInput.style.display = "none";
            customAmountInput.setAttribute("disabled", "disabled");
        }
    });
    customAmountInput.addEventListener("change", function () {
        debugger;
            fortnightInput.value = customAmountInput.value;
    });

    function CerrarTipoDeduccion() {
        window.RefreshTipoDeduccion();
        $("#ModalTipoDeduccionUpload").modal('hide');
    }

    function Guardar(e) {
        e.preventDefault();
        debugger;
        var deduccion = {
            DeductionId: Number($("#DeductionId").val()),
            Description: $("#Description").val(),
            DeductionTypeId: Number($("#DeductionTypeId").val()),
            DeductionType: $("#DeductionTypeId option:selected").text(), // Obtener el nombre del valor seleccionado
            Fortnight: Number($("#Fortnight").val()),
            IdEstado: $("#IdEstado").val()
            //Estado: $("#IdEstado").data("kendoDropDownList").value()
        };
        var validator = $("#frmTipoDeduccion").data("kendoValidator");
        var notificacion = $("#notificacion").kendoNotification().data("kendoNotification");

        if (validator.validate()) {
            $.ajax({
                url: '@Url.Action("GuardarDeduccion", "TipoDeduccion")',
                method: 'POST',
                dataType: "json", // Corregido dataType
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(deduccion),
                success: function (data) {
                    $.toast({
                        heading: 'Satisfactorio',
                        text: 'Datos guardados correctamente.',
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 3000,
                        stack: 6
                    });

                    RefrescarGrid();
                    CerrarTipoDeduccion();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    window.RefreshTipoDeduccion();
                    notificacion.show({
                        title: "Validación",
                        message: textStatus + ": " + XMLHttpRequest.responseText
                    }, "error");
                }
            });
        }
        return false;
    }
</script>