@model ERPMVC.DTO.ConciliacionDTO

@{ 
    Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." } };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<div id="myModalConciliacionUpload" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeConciliacionBancaria();">&times;</button>
                <h4 class="modal-title">Conciliación bancaria</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label for="IdConciliacion">Número Conciliación:</label><br />
                        <input class="form-control" type="text" readonly id="IdConciliacion" name="IdConciliacion" value="@Model.ConciliacionId" style="width: 100%" />
                    </div>
                    <div class="col">
                        <label for="IdBanco">Cuenta de Mayor:</label>
                        <kendo-dropdownlist name="IdCuentaMayor"
                                            for="@Model.AccountId"
                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                            option-label="Seleccioné una cuenta de mayor"
                                            datatextfield="AccountName"
                                            datavaluefield="AccountId"
                                            style="width: 100%">
                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                <transport>
                                    <read url="@Url.Action("GetBank","Bank")" />
                                </transport>
                            </datasource>
                        </kendo-dropdownlist>
                    </div>
                    <div class="col">
                        <label for="IdBanco">Banco:</label>
                        <kendo-dropdownlist name="IdBanco"
                                            for="@Model.BankId"
                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                            option-label="Seleccioné un banco"
                                            datatextfield="BankName"
                                            datavaluefield="BankId"
                                            style="width: 100%">
                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                <transport>
                                    <read url="@Url.Action("GetBank","Bank")" />
                                </transport>
                            </datasource>
                        </kendo-dropdownlist>
                    </div>
                    <div class="col">
                        <label for="IdCuenta">Cuenta a conciliar:</label>
                        <kendo-dropdownlist name="IdCuenta"
                                            for="@Model.AccountId"
                                            filter="Kendo.Mvc.UI.FilterType.Contains"
                                            option-label="Seleccioné una cuenta"
                                            datatextfield="BankName"
                                            datavaluefield="BankId"
                                            cascade-from="IdBanco"
                                            style="width: 100%">
                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                <transport>
                                    <read url="@Url.Action("GetBank","Bank")" />
                                </transport>
                            </datasource>
                        </kendo-dropdownlist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function closeConciliacionBancaria() {
        window.RefreshConciliacion();
        $("#myModalConciliacionUpload").modal('hide');
    }
</script>