@model ERPMVC.DTO.ConciliacionDTO

<script>
    function SaveConciliacion(e) {


        //var formdata = new FormData($('#CustomerDocument').get(0));

        var dataObject = {
            'ConciliacionId': $("#ConciliacionId").val(),
            'AccountId': $("#AccountId").val(),
            'AccountName': $("#AccountId").data("kendoDropDownList").text(),

        };

        e.data = dataObject;


    }

    function closeConciliacionBancaria() {

        RefreshConciliacion();
        $("#myModalConciliacionUpload").modal('hide');
    }

</script>


<div id="myModalConciliacionUpload" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeConciliacionBancaria();">&times;</button>
                <h4 class="modal-title">Conciliación bancaria</h4>
            </div>
            <div class="modal-body">
                @*<div class="box">
                        Extensiones Permitidas: .xls, .xlsx
                    </div>
                *@
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">

                            @*data-ajax-method="post"
                                method="post"
                                data-ajax-begin="return SaveCustomerDocument();"
                                data-ajax="true"*@

                            <div class="card-body">
                                @* method="post"
                                    action='@Url.Action("Submit")' enctype="multipart/form-data"
                                *@
                                <form id="ConciliacionBancaria"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveConciliacion"
                                      data-ajax="true">
                                    <div class="row">
                                        <div class="col-md-4 ">
                                            <div class="form-group">
                                                <label asp-for="ConciliacionId" class="control-label" style="width: 100%;"></label>
                                                <input type="text" name="ConciliacionId" required class="form-control" style="min-width:100%;" asp-for="ConciliacionId" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="BankId" class="control-label"></label>
                                                <kendo-dropdownlist name="BankId"
                                                                    for="BankId"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccionar Banco"
                                                                    datatextfield="BankName"
                                                                    datavaluefield="BankId"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                        <transport>
                                                            <read url="@Url.Action("GetBank", "Bank")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="FechaConciliacion" class=" control-label" style="width:100%"></label>
                                                <kendo-datetimepicker name="FechaConciliacion"
                                                                      style="width: 100%;"
                                                                      format="dd/MM/yyyy hh:mm:ss"
                                                                      time-format="hh:mm:ss"
                                                                      data-val-required="La fecha es requerida"
                                                                      for="FechaConciliacion"></kendo-datetimepicker>
                                                <span asp-validation-for="FechaConciliacion" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="AccountId" class="control-label"></label>
                                                <kendo-dropdownlist name="AccountId"
                                                                    for="AccountId"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccionar Cuenta"
                                                                    datatextfield="Description"
                                                                    datavaluefield="AccountId"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                        <transport>
                                                            <read url="@Url.Action("GetAccountingDiary", "Accounting")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="DateBeginReconciled" class="control-label" style="width: 100%;">Fecha de inicio</label>
                                                <kendo-datetimepicker name="DateBeginReconciled"
                                                                      for="DateBeginReconciled"
                                                                      style="width: 100%;"
                                                                      format="yyyy-MM-dd"
                                                                      data-val-required="La fecha es requerida" required></kendo-datetimepicker>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="DateEndReconciled" class="control-label" style="width: 100%;">Fecha Final</label>
                                                <kendo-datetimepicker name="DateEndReconciled"
                                                                      for="DateEndReconciled"
                                                                      style="width: 100%;"
                                                                      format="yyyy-MM-dd"
                                                                      data-val-required="La fecha es requerida" required></kendo-datetimepicker>
                                            </div>
                                        </div>
                                    </div>@*

        <div class="demo-section k-content">
            <input id="files" name="files" type="file" data-role="upload" multiple="multiple" autocomplete="off" required>

            <button>submit</button>
        </div>
                                    *@
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="CheckAccountId" class=" control-label" style="width:100%"></label>
                                                @*<input asp-for="State" name="State" class="form-control" autocomplete="off" style="width:100%" />
                                                *@<kendo-dropdownlist name="CheckAccountId"
                                                                      for="@Model.CheckAccountId"
                                                                      filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                      option-label="Seleccionar Numero de Cuenta"
                                                                      datatextfield="CheckAccountNo"
                                                                      datavaluefield="CheckAccountId"
                                                                      style="min-width:100%;"
                                                                      readonly="readonly">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                        <transport>
                                                            <read url="@Url.Action("GetCheckAccount", "CheckAccount")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>

                                                <span asp-validation-for="CheckAccountId" class="text-danger k-invalid-msg" data-for="RTN"></span>
                                            </div>

                                        </div>
                                    </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnConciliacion" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
function SaveConciliacion(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
    $("#btnConciliacion").hide();
    $("#btnConciliacion").prop("disabled", true);

           // var displayedData = $("#gridCountry").data().kendoGrid.dataSource.view();

            var dataObject = {
                'ConciliacionId': $("#ConciliacionId").val() === "" ? "0" : $("#ConciliacionId").val(),
                'SaldoConciliado': $("#SaldoConciliado").val(),
                'FechaConciliacion': $("#FechaConciliacion").getKendoDateTimePicker().value().toJSON(),
                'DateBeginReconciled': $("#DateBeginReconciled").getKendoDateTimePicker().value().toJSON(),
                'DateEndReconciled': $("#DateEndReconciled").getKendoDateTimePicker().value().toJSON(),
                'CheckAccountIde': $("#CheckAccountId").val(),
                'BankId': $("#BankId").val(),
                'BankName': $("#BankId").data("kendoDropDownList").text(),
                'AccountId': $("#AccountId").val(),
                // '_Country': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
            // form.validate();

        var validator = $("#frmConciliacionLinea").data("kendoValidator");
                 var status = $(".status");

                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveConciliacionLinea", "ConciliacionLinea")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                        //notification.show({
                        //    message: "Guardado correctamente!"
                        //}, "upload-success");
                        $.toast({
                        heading: 'Satisfactorio',
                        text: 'Datos guardados correctamente.',
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 30000,
                        stack: 6
                        });

                        RefrescarGrid();

                        $('#ModalConciliacionLinea').modal('hide');





                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                        notification.show({
                        title: "Validación",
                        message: textStatus + ": " + XMLHttpRequest.responseText
                        }, "error");

                        }
                        });

                        }
                        else {
                        status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                        }


                        $("#btnConciliacionLinea").show();
                        $("#btnConciliacionLinea").prop("disabled", false);
                        }
                        </script>