@model ERPMVC.Models.Boleto_Ent

@{
    Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                        {"required"," El campo {0} es requerido" }
                                    };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };

    bool permisoManual = User.HasClaim("Inventarios.Boleta Peso.Manual","true");
}



<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Largo" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "UsedArea" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Ancho" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Alto" && input.val() == 0) {
            return false;
        }



        return true;
    }


    function closeCustomer() {
        
        $("#myModalBoletaDeSalida").modal('hide');
    }

    function RefreshGridBoletaDeSalida() {
        var grid = $("#gridBoletaDeSalida").getKendoGrid();
        grid.dataSource.read();
    }
</script>




<div id="myModalBoletaDeSalida" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Boleta de Peso</h4>
                <button type="button" class="close" onclick="closeCustomer();">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">

                                    <form id="frmBoletaDeSalida" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                          data-ajax="true"
                                          data-ajax-method="post"
                                          method="post" class="validation-wizard wizard-circle">


                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="clave_e" class="  control-label" style="width:100%">Boleta No</label>
                                                    
                                                    <input type="text" id="clave_e" required class="k-textbox" style="min-width:100%;" asp-for="clave_e"  readonly/>

                                                    <span asp-validation-for="clave_e" class="text-danger"></span>
                                                </div>
                                            </div>
                                            
                                            
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="fecha_e" class=" control-label" style="width: 100%;">Fecha</label>
                                                    <kendo-datetimepicker name="fecha_e"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          readonly
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.fecha_e" />
                                                    <span asp-validation-for="fecha_e" class="text-danger"></span>
                                                </div>
                                            </div> 
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="CustomerId" class="  control-label" style="width:100%">Cliente</label>

                                                    <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el Cliente"
                                                                        on-change="GetSubProduct"
                                                                        data-val-required="El campo Cliente es requerido"
                                                                        datatextfield="CustomerName"
                                                                        datavaluefield="CustomerId"
                                                                        on-data-bound="habilitarCapturaManual"
                                                                        enable="Model.clave_e == 0 "
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="20000">
                                                            <transport>
                                                                <read url="@Url.Action("GetCustomerActivos", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Producto</label>
                                                <kendo-dropdownlist name="SubProductId" filter="Kendo.Mvc.UI.FilterType.Contains" 
                                                                            for="SubProductId"
                                                                            option-label="Seleccione un Producto"
                                                                            datatextfield="ProductName"
                                                                            datavaluefield="SubproductId"
                                                                            on-data-bound="OnProdutrctBound"
                                                                            enable="Model.clave_e == 0 "
                                                                            data-val-required="El producto es requerido"
                                                                            style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi">
                                                                <transport>
                                                                    <read url="@Url.Action("GetSubProductoByTipoByCustomerActivos", "SubProduct")" data="GetProductTypeIdS" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                         <span asp-validation-for="SubProductId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            

                                        </div>
                                   
                                            

                                        
                                        <script>
                                            function OnProdutrctBound(e) {
                                                             kendo.ui.progress($("#myModalBoletaDeSalida"), false);
                                                        }
                                                function GetSubProduct(e) {
                                                            hcustom = this.value();
                                                            // console.log(this.value());
                                                            //console.log(e);
                                                            $("#SubProductId").data("kendoDropDownList").dataSource.read();
                                                            
                                                             kendo.ui.progress($("#myModalBoletaDeSalida"), true);
                                                        }
                                                        function setsubproductname(e) {
                                                            // console.log(e);
                                                            var dataItem = e.dataItem;
                                                            if (dataItem != null)
                                                                $("#subproductname").val(dataItem.ProductName);
                                                        }

                                                        var hcustom = 0;
                                                        function GetProductTypeIdS() {
                                                            return {
                                                                'CustomerId': $("#CustomerId").val(),

                                                            }
                                                        }
                                                        function setRequiredAttr(evt) {
                                                            if (evt.sender.dataSource.data().length < 1) {
                                                                evt.sender.element.removeAttr("data-val-required");
                                                            }
                                                            else {
                                                                evt.sender.element.attr("data-val-required", "La boleta de peso es requerida.");
                                                            }
                                                        }

                                                        function onboundBoletas(){
                                                            kendo.ui.progress($("#myModalControlPallets"), false);
                                                        
                                                        }
                                                    </script>

                                            

                                        <div class="row">

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="placas" class="control-label" style="width: 100%;">Placa</label>
                                                    <input type="text" id="placas" required class="k-textbox" style="min-width:100%;" asp-for="placas" />
                                                </div>
                                            </div>



                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="MarcaVehiculo" class="control-label" style="width: 100%;">Marca Vehiculo</label>
                                                    <input type="text" id="MarcaVehiculo" required class="k-textbox" style="min-width: 100%;" asp-for="MarcaVehiculo" />
                                                </div>
                                            </div>
                                            

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="conductor" class="control-label" style="width: 100%;">Motorista</label>
                                                    <input type="text" id="conductor" required class="k-textbox" style="min-width: 100%;" asp-for="conductor" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="DNIConductor" class="control-label" style="width: 100%;">DNI Motorista</label>
                                                    <input type="text" id="DNIConductor"  class="k-textbox" style="min-width: 100%;" asp-for="DNIConductor" />
                                                </div>
                                            </div>
                                                                                      
                                            
                                             <div class="col-md-2">
                                                <div class="form-group">
                                                        <label asp-for="Orden" class="control-label" style="width: 100%;">Orden No</label>
                                                        <input type="text" id="Orden"  class="k-textbox" style="min-width: 100%;" asp-for="Orden" />
                                                    </div>
                                            </div>

                                            
                                            
                                        
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                        <label asp-for="Barco" class="control-label" style="width: 100%;"></label>
                                                        <input type="text" id="Barco"  class="k-textbox" style="min-width: 100%;" asp-for="Barco" />
                                                    </div>
                                            </div>

                                             <div class="col-md-2">
                                                <div class="form-group">
                                                        <label asp-for="PesoPuerto" class="control-label" style="width: 100%; ">Peso Puerto</label>
                                                        <input type="number" id="PesoPuerto"  class="k-textbox" style="min-width: 100%; text-align:right;" asp-for="PesoPuerto" pattern="^\d*(\.\d{0,3})?$" />
                                                    </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                        <label asp-for="Destino" class="control-label" style="width: 100%;">Destino</label>
                                                        <input type="text" id="Destino"  class="k-textbox" style="min-width: 100%;" asp-for="Destino" />
                                                    </div>
                                            </div>                                           
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Tranportista" class="control-label" style="width: 100%;">Transportista</label>
                                                    <input type="text" id="Tranportista"  class="k-textbox" style="min-width: 100%;" asp-for="Tranportista" />
                                                </div>
                                            </div>
                                            
                                             <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="RTNTransportista" class="control-label" style="width: 100%;">RTN Transportista</label>
                                                    <input type="text" id="RTNTransportista"  class="k-textbox" style="min-width: 100%;" asp-for="RTNTransportista" />
                                                </div>
                                            </div>
                                         
                                         </div>
                                        <div class="row">
                                           <div class ="col-md-3"></div>
                                            <div class="col-md-2">
                                                <h5>Primera Pesada LBE  </h5>
                                                @if(Model.clave_e != 0){
                                                    <h6>@Model.fecha_e </h6>
                                                }
                                            </div>
                                            <div class="col-md-1">
                                                @if(Model.clave_e == 0){
                                                    <button class="btn btn-primary btn-sm" style="" onclick="GetPesoBascula(1)" type="button"  id="btnprimerapesada">Capturar</button>
                                                }
                                            </div>
                                             <div class="col-md-2">
                                                <h5>Segunda Pesada LBE  </h5>
                                                @if (Model.clave_e > 0 && Model.completo && Model.Boleto_Sal != null)
                                                    {
                                                        <h6>@Model.Boleto_Sal.fecha_s</h6>
                                                    }
                                            </div>
                                            <div class="col-md-1">
                                                @if(Model.clave_e > 0 && !Model.completo) {
                                                    <button class="btn btn-primary btn-sm" style="" onclick="GetPesoBascula(0)" type="button"  id= "btnsegundapesada">Capturar</button>
                                                }
                                            </div>

                                             <div class="col-md-2">
                                                <h5>Peso Neto LBE</h5>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Peso Automatico</label>
                                                    <kendo-switch checked="true" name="CapturaAutomatica"  for="CapturaAutomatica" enabled="permisoManual"  on-change="habilitarCapturaManual" >
                                                        <messages checked="Si" unchecked="No" />
                                                    </kendo-switch>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                       
                                                        <input type="number" id="peso_e" required class="form-control form-control-lg" style="min-width: 100%; text-align:right; font-weight: bold; color:black" asp-for="peso_e" readonly/>
                                                    </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                        <input type="number" id="peso_s" required class="form-control form-control-lg" style="min-width: 100%; text-align:right; font-weight: bold; color:black" asp-for="Boleto_Sal.peso_s" onchange="calcularPesoNeto()" readonly/>
                                                    </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                        <input type="number" id="peso_n" required class="form-control form-control-lg" style="min-width: 100%; text-align:right; font-weight: bold; color:black" asp-for="Boleto_Sal.peso_n"   readonly/>
                                                    </div>
                                            </div>
                                            
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label">Es Ingreso</label>
                                                    <kendo-switch checked="Model.Ingreso" name="Ingreso"  for="Ingreso"  >
                                                        <messages checked="Si" unchecked="No" />
                                                    </kendo-switch>
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                        <label asp-for="PesoKG" class="control-label" style="width: 100%;">Peso KG</label>
                                                        <input type="number" id="PesoKG" required class="k-textbox" style="min-width: 100%; text-align:right;" asp-for="PesoKG" readonly/>
                                                    </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                        <label asp-for="PesoQQ" class="control-label" style="width: 100%;">Peso QQ</label>
                                                        <input type="number" id="PesoQQ" required class="k-textbox" style="min-width: 100%; text-align:right;" asp-for="PesoQQ" readonly />
                                                    </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                        <label asp-for="PesoTM" class="control-label" style="width: 100%;">Peso TM</label>
                                                        <input type="number" id="PesoTM" required class="k-textbox" style="min-width: 100%; text-align:right;" asp-for="PesoTM"  readonly/>
                                                    </div>
                                            </div>
                                            

                                         </div>
                                         <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                        <label asp-for="PesoLBSI" class="control-label" style="width: 100%;">Peso Neto LBI</label>
                                                        <input type="number" id="PesoLBSI" required class="k-textbox" style="min-width: 100%; text-align:right;" asp-for="PesoLBSI" readonly/>
                                                    </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                        <label asp-for="PesoKGI" class="control-label" style="width: 100%;">Peso KGI</label>
                                                        <input type="number" id="PesoKGI" required class="k-textbox" style="min-width: 100%; text-align:right;" asp-for="PesoKGI" readonly/>
                                                    </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                        <label asp-for="PesoQQI" class="control-label" style="width: 100%;">Peso QQI</label>
                                                        <input type="number" id="PesoQQI" required class="k-textbox" style="min-width: 100%; text-align:right;" asp-for="PesoQQI" readonly />
                                                    </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                        <label asp-for="PesoTMI" class="control-label" style="width: 100%;">Peso TMI</label>
                                                        <input type="number"  id="PesoTMI" required class="k-textbox" style="min-width: 100%; text-align:right;" asp-for="PesoTMI"  readonly/>
                                                    </div>
                                            </div>
                                            

                                         </div>

                                        

                                        

                                         <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                        <label asp-for="observa_e" class="control-label" style="width: 100%;">Observaciones</label>
                                                        <input type="text" id="observa_e"  class="k-textbox" style="min-width: 100%;" asp-for="observa_e" />
                                                    </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label  class="control-label" style="width: 100%;">Diferencia Pesos TMI</label>
                                                    <input type="text" id="DiferenciaTMI" class="k-textbox" style="min-width: 100%;"  />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="PlacaContenedor" class="control-label" style="width: 100%;">Placa Contenedor</label>
                                                    <input type="text" id="PlacaContenedor"  class="k-textbox" style="min-width: 100%;" asp-for="PlacaContenedor" />
                                                </div>
                                            </div>
                                         </div>


                                        <script>
                                            function GetUnitOfMeasureId() {
                                                        return { 'SubProductId': $("#SubProductId").val() }
                                                    }
                                            function CalcularArea() {
                                                var UsedArea = $("#Ancho").val() * $("#Alto").val() * $("#Largo").val();
                                                var numeric = $("#UsedArea").data("kendoNumericTextBox");
                                                numeric.value(UsedArea);
                                                numeric.trigger('change');
                                                //$("#UsedArea").val(UsedArea);
                                            }
                                            function GrupoConfiguracionCargado() {
                                                return { Id: 18 };
                                            }

                                            function DataSucursal() {
                                                return {
                                                    BranchId: $("#BranchId").val(),
                                                     CustomerId: $("#CustomerId").val(),

                                                }
                                            }

                                           


                                                    function CallPesaje() {
                                                        $("#WeightBallot").data("kendoNumericTextBox").value($("#WeightBallotddl").val());
                                                        GetBoletaPeso();
                                                    }

                                        </script>

                                        
                                    </form>                                
                                    </div>
                                @if (!Model.completo) {
                                    <div class="row">
                                      
                                            <button id="btnSaveBoletaDeSalida" type="submit" class="form-control btn-miboton" onclick="SaveBoletaDeSalida(this);">Guardar</button>
                                      
                                    </div>
                                
                                }
                                

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    

    function habilitarCapturaManual(){
        debugger;
        var auto = $("#CapturaAutomatica").data("kendoSwitch");
        var capturaautomatica = auto.check();
        var clave =  $('#peso_e').val();

        if(capturaautomatica){
            $('#btnprimerapesada').show();
            $('#btnsegundapesada').show();
        }else{
            $('#btnprimerapesada').hide();
            $('#btnsegundapesada').hide();
        
        }


        


        if(!capturaautomatica && clave == 0){
            $('#peso_e').prop('readonly', false);  
             
        }else{
            $('#peso_e').prop('readonly', true);
            
        }

        if(!capturaautomatica && clave != 0){
            $('#peso_s').prop('readonly', false);  
             
              
        }else{
            $('#peso_s').prop('readonly', true);
            
        }
    
    }

    function calcularPesoNeto(){
        debugger;
        var peso1 =  $("#peso_e").val();
        var peso2 =  $("#peso_s").val();
        var peson = Math.abs(peso1 - peso2);
         $("#peso_n").val(peson);
         Conversiones();
        
    
    }

   

    function Conversiones(){
        debugger
        var pesonetoLBE = $("#peso_n").val();
        

        var pesonetoLBI = (pesonetoLBE*460)/453.59;
        var qq = parseFloat(pesonetoLBE /100).toFixed(2);
        var tm = parseFloat(pesonetoLBE / 2204.62).toFixed(3);
        var kg = parseFloat(pesonetoLBE / 2.20462).toFixed(2);

        var qqi = parseFloat(pesonetoLBI /100).toFixed(2);
        var tmi = parseFloat(pesonetoLBI / 2204.62).toFixed(3);
        var kgi = parseFloat(pesonetoLBI / 2.20462).toFixed(2);


        


        $("#PesoKG").val(kg);
        $("#PesoQQ").val(qq);
        $("#PesoTM").val(tm);

        $("#PesoKGI").val(kgi);
        $("#PesoQQI").val(qqi);
        $("#PesoTMI").val(tmi);
        $("#PesoLBSI").val(parseFloat(pesonetoLBI).toFixed(2));

        
        var pesopuerto = $("#PesoPuerto").val();
        var diferenciaTMI = tmi - pesopuerto;
        $("#DiferenciaTMI").val(parseFloat(diferenciaTMI).toFixed(3));


    }

    function GetPesoBascula(origen){
        kendo.ui.progress($("#myModalBoletaDeSalida"), true);
        $.ajax({
                    url: '@Url.Action("GetPesoBascula", "Boleto_Ent")',
                    method: 'GET',
                    datatype: "json",
                    contentType: 'application/json',
                    async: true,
                    success: function (data) {
                        debugger
                        var peso = parseFloat(data).toFixed(2);
                        MostrarMensaje('Se ha capturado el peso de la báscula LBE ' + peso , "success", "Satisfactorio", 7000);
                        peso = data;
                         if(origen ==1)  {
                             $("#peso_e").val(peso);
                             if(peso>0){
                                $("#btnsegundapesada").prop('disabled', false);

                             }
                         }else{
                             var peso1  =  $("#peso_e").val();
                             if(peso1 <=0){
                                 MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "El peso capturado en la salida es menor o igual que cero", 30000);
                                 return;
                             }
                             if(peso>0){
                                $("#btnprimerapesada").prop('disabled', true);
                                var peson = Math.abs(peso1 - peso);
                                $("#peso_n").val(peson);
                             }

                              $("#peso_s").val(peso);
                              Conversiones();
                         }
                         kendo.ui.progress($("#myModalBoletaDeSalida"), false);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#btnSaveBoletaDeSalida").show();
                        $("#btnSaveBoletaDeSalida").prop("disabled", false);
                         MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 30000);
                         kendo.ui.progress($("#myModalBoletaDeSalida"), false);
                    }
                });
                kendo.ui.progress($("#myModalBoletaDeSalida"), false);
    
    }

    
    function SaveBoletaDeSalida(e) {
        debugger;
        $("#btnSaveBoletaDeSalida").hide();
        $("#btnSaveBoletaDeSalida").prop("disabled", true);       
        var peso1 = $("#peso_e").val();
        var peso2 = $("#peso_s").val();
        if(peso1 <=0){
             MostrarMensaje("No se puede guardar una boleta de peso sin la primera pesada", "Error", "Error", 30000);
              $("#btnSaveBoletaDeSalida").show();
                $("#btnSaveBoletaDeSalida").prop("disabled", false);
             return;
        
        }
        var boleto_sal = {
            peso_s:  $("#peso_s").val(),
            peso_n:  $("#peso_n").val(),
        }

         var auto = $("#CapturaAutomatica").data("kendoSwitch");
        var capturaautomatica = auto.check();

        var Ingreso = $("#Ingreso").data("kendoSwitch");
        var esingreso = Ingreso.check();

        var dataObject = {   
            'clave_e' : $("#clave_e").val(),
            'fecha_e' : $("#fecha_e").getKendoDateTimePicker().value().toJSON(),
            'CustomerId' : $("#CustomerId").val(),
            'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
            'SubProductId' : $("#SubProductId").val(),
            'placas' : $("#placas").val(),
            'MarcaVehiculo' : $("#MarcaVehiculo").val(),
            'Tranportista' : $("#Tranportista").val(),
            'conductor' : $("#conductor").val(),
            'CapturaAutomatica':capturaautomatica,
            'peso_e' : $("#peso_e").val(),
            'PesoKG' : $("#PesoKG").val(),
            'PesoQQ' : $("#PesoQQ").val(),
            'PesoTM' : $("#PesoTM").val(),
            //'Boleto_Sal.peso_s' : $("Boleto_Sal.peso_s").val(),
            'PesoKG' : $("#PesoKG").val(),
            'PesoQQ' : $("#PesoQQ").val(),
            'PesoTM' : $("#PesoTM").val(),
            'Barco' : $("#Barco").val(),
            'Orden' : $("#Orden").val(),
            'PesoKGI':$("#PesoKGI").val(),
            'PesoQQI':$("#PesoQQI").val(),
            'PesoTMI':$("#PesoTMI").val(),
            'PesoLBSI':$("#PesoLBSI").val(),
            'Boleto_Sal' : boleto_sal,
            'PesoPuerto' : $("#PesoPuerto").val(),
            'Destino' : $("#Destino").val(),
            'DNIConductor':$("#DNIConductor").val(),
            'RTNTransportista': $("#RTNTransportista").val(),
            'observa_e' : $("#observa_e").val(),
            'PlacaContenedor' : $("#PlacaContenedor").val(),
            'Ingreso': esingreso
        }; 
        console.log(dataObject)
        var validator = $("#frmBoletaDeSalida").data("kendoValidator");
        var status = $(".status");

            if (!validator.validate()) {
                MostrarMensaje("Ha ocurrido un error al validar los datos del formalario", "Error", "Error", 30000);
                $("#btnSaveBoletaDeSalida").show();
                $("#btnSaveBoletaDeSalida").prop("disabled", false);
                return;
            }

             $.ajax({
                    url: '@Url.Action("SaveBoleto_Ent", "Boleto_Ent")',
                    method: 'POST',
                    datatype: "json",
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify(dataObject),
                    success: function (data) {
                         MostrarMensaje('Datos guardados correctamente.', "success", "Satisfactorio", 7000);
                        RefreshGridBoletaSalida();                        
                        $('#myModalBoletaDeSalida').modal('hide');

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        $("#btnSaveBoletaDeSalida").show();
                        $("#btnSaveBoletaDeSalida").prop("disabled", false);
                         MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 30000);
                    }
                });
                $("#btnSaveBoletaDeSalida").show();
                $("#btnSaveBoletaDeSalida").prop("disabled", false);
    }
</script>