@model ERPMVC.Models.CustomerConditions


<script>

    function ParametersForm() {
        return { 'CustomerConditionId': $("#CustomerConditionId").val(),
            'ConditionId': $("#ConditionId").val(),
            'CustomerId': $("#CustomerId").val(),
            'SubProductId': $("#SubProductId").val(),
            'ProductId': $("#ProductId").val(),
            'IdTipoDocumento': $("#IdTipoDocumento").val(),
            'CustomerConditionName': $("#CustomerConditionName").val(),
            'LogicalCondition': $("#LogicalCondition").val(),
            'ValueToEvaluate': $("#ValueToEvaluate").val(),
            'ValueDecimal': $("#ValueDecimal").val(),
            'ValueString': $("#ValueString").val(),
            'DocumentId': $("#SalesOrderId").val()
            //'FechaCreacion': $("#FechaCreacion").val(),
            //'FechaModificacion': $("#FechaModificacion").val(),
            //'UsuarioCreacion': $("#UsuarioCreacion").val(),
            //'UsuarioModificacion': $("#UsuarioModificacion").val()

        }
    }

    function RefreshCustomerConditionsDetail() {
        var grid = $("#gridCustomerCondition").getKendoGrid();
        grid.dataSource.read();
    }


    function SaveCustomerCondition(e) {

        if ($("#ConditionId").val() > 0) {
            $("#btnGuardarCustomerCondition").prop("disabled", true);
            //RefreshCotizacionesDetail();
            var notification = $("#notification").data("kendoNotification");

            $.ajax({
                url: '@Url.Action("SaveCustomerConditions", "CustomerConditions")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(ParametersForm()),
                success: function (result) {

                    notification.show({
                        title: "Satisfactorio",
                        message: "Condicion agregada correctamente!"
                    }, "success");
                    RefreshCustomerConditionsDetail();

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#btnGuardarCustomerCondition").prop("disabled", false);
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
            });
        }
        else {

        }
    }

    function customFunctionCC(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }
    }
</script>

<div id="myModalCustomerConditionsMant" class="modal fade" role="dialog" style="z-index:999999999999">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closecustomerconditionMant();">&times;</button>
                <h4 class="modal-title">Detalle de condición de cliente</h4>
            </div>
            <div class="modal-body">

       
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            @*<div class="card-header bg-info">
                        <h4 class="m-b-0 text-white">CustomerConditions</h4>
                    </div>*@
                            <div class="card-body">
                                <form id="frmCustomerConditions"
                                    
                                      data-ajax-method="post"
                                      data-ajax-loading="#loading"
                                      data-ajax-begin="SaveCustomerCondition"
                                      data-ajax="true"
                                      method="post" class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        @*<h3 class="card-title">Información CustomerConditions</h3>*@
                                        <hr>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="CustomerConditionId" class="col-md-2 control-label" style="width:100%"></label>
                                                <kendo-numerictextbox name="ClientConditionId"
                                                                      format="n"
                                                                      min="0"
                                                                      disabled
                                                                      style="width:100%"
                                                                      step="1"
                                                                      value="Model.CustomerConditionId"></kendo-numerictextbox>

                                                <span asp-validation-for="CustomerConditionId" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="ConditionId" class="col-md-2 control-label" style="width:100%"></label>
                                           
                                                <kendo-combobox name="ConditionId"
                                                                for="ConditionId"
                                                                filter="FilterType.Contains"
                                                                placeholder="Select ConditionId"
                                                                datatextfield="ConditionName"
                                                                   required
                                                                datavaluefield="ConditionId"
                                                                style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi">
                                                        <transport>
                                                            <read url="@Url.Action("GetJson", "Conditions")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-combobox>
                                                <span asp-validation-for="ConditionId" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="CustomerId" class="col-md-2 control-label" style="width:100%"></label>                                            

                                                <kendo-dropdownlist id="CustomerId_CC"
                                                                    filter="FilterType.Contains"
                                                                    placeholder="Select CustomerId"
                                                                    datatextfield="CustomerName"
                                                                    datavaluefield="CustomerId"
                                                                    enable="false"
                                                                        required
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi">
                                                        <transport>
                                                            <read url="@Url.Action("GetCustomer", "Common")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="CustomerId" class="text-danger"></span>
                                            </div>
                                        </div>




                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="ProductId" class="col-md-2 control-label" style="width:100%"></label>
                                                @*<kendo-numerictextbox name="ProductId"
                                        id="ProductId_CC"
                                        format="n"
                                        min="0"
                                        style="width:100%"
                                        step="1"
                                        value="Model.ProductId"></kendo-numerictextbox>*@
                                                <kendo-dropdownlist id="ProductId_CC"
                                                                    filter="FilterType.Contains"
                                                                    placeholder="Select ProductId"
                                                                    datatextfield="ProductName"
                                                                    datavaluefield="ProductId"
                                                                    enable="false"
                                                                    required
                                                                    auto-bind="false"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi">
                                                        <transport>
                                                            <read url="@Url.Action("GetProduct", "Common")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="ProductId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="IdTipoDocumento" class="col-md-2 control-label" style="width:100%"></label>
                                           
                                                <kendo-dropdownlist name="IdTipoDocumento"
                                                                    for="IdTipoDocumento"
                                                                    enable="false"
                                                                    filter="FilterType.Contains"
                                                                    placeholder="Select IdTipoDocumento"
                                                                            required
                                                                    datatextfield="Descripcion"
                                                                    datavaluefield="IdTipoDocumento"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi">
                                                        <transport>
                                                            <read url="@Url.Action("GetTiposDocumento", "TiposDocumento")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="IdTipoDocumento" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="CustomerConditionName" class="col-md-2 control-label" style="width:100%"></label>
                                                <input type="text" asp-for="CustomerConditionName" required class="form-control " style="width:100%" />
                                                @*<textarea asp-for="CustomerConditionName" required class="form-control " style="width:100%"></textarea>*@
                                                <span asp-validation-for="CustomerConditionName" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="LogicalCondition" class="col-md-2 control-label" style="width:100%"></label>
                                                <input type="text" asp-for="LogicalCondition" required class="form-control " style="width:100%" />
                                                @*<textarea asp-for="LogicalCondition" required class="form-control  " style="width:100%"></textarea>*@
                                                <span asp-validation-for="LogicalCondition" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="ValueToEvaluate" class="col-md-2 control-label" style="width:100%"></label>
                                                <input type="text" asp-for="ValueToEvaluate" required class="form-control " style="width:100%" />
                                                @*<textarea asp-for="ValueToEvaluate" required class="form-control required " style="width:100%"></textarea>*@
                                                <span asp-validation-for="ValueToEvaluate" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="ValueDecimal" class="col-md-2 control-label" style="width:100%"></label>
                                                <kendo-numerictextbox name="ValueDecimal"
                                                                      format="n2"
                                                                      min="0"
                                                                      step="1"
                                                                      style="width:100%"
                                                                      value="Model.ValueDecimal"></kendo-numerictextbox>
                                                <span asp-validation-for="ValueDecimal" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="ValueString" class="col-md-2 control-label" style="width:100%"></label>
                                                <textarea asp-for="ValueString"  class="form-control  " style="width:100%"></textarea>
                                                <span asp-validation-for="ValueString" class="text-danger"></span>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row">
                                        <button id="btnGuardarCustomerCondition" type="submit" class="form-control">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>
