@model ERPMVC.Models.CustomerContractTerms

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
 {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "CustomerContractTermsId" && input.val() === "0") {
            return false;
        }

    }

    //$('#btnprueba').val("");
</script>





<div id="ModalCustomerContractTerms" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Centro de Costo</h4>
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmCustomerContractTerms" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveCustomerContractTerms"
                                      class="validation-wizard wizard-circle">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="Id" class=" control-label" style="width:100%">Id</label>
                                                <input type="text" asp-for="Id" name="CustomerContractTermsId" class="k-textbox" readonly="readonly" autocomplete="off" style="min-width:100%" />
                                                <span asp-validation-for="Id" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="Position" class=" control-label" style="width:100%">No</label>
                                                <input type="text" asp-for="Position" name="Position" class="k-textbox" autocomplete="off" style="min-width:100%" />
                                                <span asp-validation-for="Position" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="TermTitle" class=" control-label" style="width:100%">Titulo</label>
                                                <input type="text" asp-for="TermTitle" name="CustomerContractTermsName" class="k-textbox" required data-required-msg="Centro de costo es requerido." autocomplete="off" style="min-width:100%" />
                                                @*  <span asp-validation-for="CustomerContractTermsName" class="text-danger"></span>*@
                                            </div>
                                        </div>
                                        @*<div class="col-md-3">
        <div class="form-group">
            <label asp-for="IdEstado" class="control-label" style="min-width:100%">Estado</label>
            <kendo-dropdownlist name="IdEstado"
                                for="@Model.IdEstado"
                                filter="Kendo.Mvc.UI.FilterType.Contains"
                                required data-required-msg="El estado es requerido."
                                option-label="Seleccionar Estado"
                                datatextfield="NombreEstado"
                                datavaluefield="IdEstado"
                                style="min-width:100%">
                <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                    <transport>
                        <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                    </transport>
                </datasource>
            </kendo-dropdownlist>
        </div>*@
                                        <div class="col-md-4">
                                            <div class="form-group">

                                                <label asp-for="TypeInvoiceId" class="control-label" style="width:100%">Tipo de Facturación</label>

                                                <kendo-dropdownlist name="TypeInvoiceId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    for="TypeInvoiceId" data-required-msg="El Tipo de Facturación es requerido."
                                                                    datatextfield="Nombre"
                                                                    datavaluefield="Id"
                                                                    required
                                                                    option-label="Seleccione el tipo de Facturación"
                                                                    value="@Model.TypeInvoiceId"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi">
                                                        <transport>
                                                            <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion" , new { Id= 32 })" />

                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="TypeInvoiceId" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="ProductId" class="control-label" style="width:100%">Servicio</label>

                                                <kendo-dropdownlist name="ProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    for="ProductId" data-required-msg="El Servicio es requerido."
                                                                    option-label="Seleccione el servicio"
                                                                    datatextfield="ProductName"
                                                                    datavaluefield="ProductId"
                                                                    required
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi">
                                                        <transport>
                                                            <read url="@Url.Action("GetProduct", "Common")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="ProductId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        @*<div class="col-md-9">
                                            <div class="form-group">
                                                <label asp-for="Term">Clausula</label>
                                                <textarea class="k-textarea" asp-for="Term" style="min-width:100%" required>@Model.Term</textarea>
                                                <span asp-validation-for="Term" class="text-danger"></span>
                                            </div>
                                        </div>*@
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="Term">Clausula</label>
                                                @(Html.Kendo().Editor()
                                              .Name("editor")
                                              .Encoded(true)
                                              .HtmlAttributes(new { style = "width: 100%; height:470px" })
                                              .StyleSheets(css => css
                                                .Add(Url.Content("~/shared/web/editor/editorStyles.css"))
                                              )
                                              .Value(Model.Term)
                                        )

                                            </div>

                                        </div>
                                        
                                    </div>
                                        


                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnCustomerContractTerms" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>

                                    

                                   
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function RefrescarGrid() {

        var grid = $("#gridNumeracionCustomerContractTerms").getKendoGrid();
        grid.dataSource.read();
    }
    function SaveCustomerContractTerms(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
        $("#btnCustomerContractTerms").hide();
        $("#btnCustomerContractTerms").prop("disabled", true);

        var displayedData = $("#gridNumeracionCustomerContractTerms").data().kendoGrid.dataSource.view();
        let id = $("#Id").val();
        var editor = $("#editor").data("kendoEditor");
        var dataObject = {
            'Id': id === "" ? "0" : $("#Id").val(),
            'Position': $("#Position").val(),
            'TermTitle': $("#TermTitle").val(),
           // 'Term': $("#Term").val(),
            'Term': editor.value(),
                         // 'IdEstado': $("#IdEstado").val(),
                          //'Estado': $("#IdEstado").data("kendoDropDownList").text(),
            'ProductId': $("#ProductId").val(),
            'Servicio': $("#ProductId").data("kendoDropDownList").text(),
            'TypeInvoiceId': $("#TypeInvoiceId").val(),
            'TypeInvoiceName': $("#TypeInvoiceId").data("kendoDropDownList").text()
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

        var validator = $("#frmCustomerContractTerms").data("kendoValidator");
                 var status = $(".status");


                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveCustomerContractTerms", "CustomerContractTerms")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (result) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");

                            console.log(result);
                            if (result.Errors === null ||
                                result.dataObject!==null) {

                            $.toast({
                                heading: 'Satisfactorio',
                                text: ' Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 7000,
                                stack: 6
                                });
                            }
                            else {
                                if (result.ReasonPhrase === "Bad Request") { 
                                $.toast({
                                    heading: 'Error',
                                    text: '' + result.Errors,
                                    position: 'top-right',
                                    showHideTransition: 'fade',
                                    loaderBg: '#ff6849',
                                    icon: 'error',
                                    hideAfter: 30000,
                                    stack: 6
                                    });
                                }
                            }


                            RefrescarGrid();

                            $('#ModalCustomerContractTerms').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validación",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }


        $("#btnCustomerContractTerms").show();
        $("#btnCustomerContractTerms").prop("disabled", false);
    }
</script>