@model ERPMVC.Models.GoodsDeliveryAuthorization
@using System.Security.Claims
@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                {"required","Valor requerido" }
                            };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };

    string mostrar = "block";
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];
}



<script>


    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "NoCertificadoDeposito" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        //if (input.attr('name') === "Price" && input.val() == 0) {
        //    return false;
        //}

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }



        return true;
    }


    function closesGoodsDeliveryAuthorization() {
        $("#myModalGoodsDeliveryAuthorization").modal('hide');
        var grid = $("#gridGoodsDeliveryAuthorization").getKendoGrid();
        grid.dataSource.read();
    }






</script>

<div id="myModalGoodsDeliveryAuthorization" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Información Autorización entrega de mercadería</h4>
                <button type="button" class="close" onclick="closesGoodsDeliveryAuthorization();">&times;</button>
            </div>

            <!-- Asociar Certificados Wizrd-->
            <div class="modal-body">   
                <!-- Formulario-->

                <div id="formulario" >
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmGoodsDeliveryAuthorization" 
                                      kendo-validator="true" 
                                      kendo-messages="messages" 
                                      kendo-rules="rules"
                                      method="post" class="wizard-circle">
                                    <div class="form-body">
                                        <input type="hidden" id="hcustomerid" value="0" asp-for="CustomerId" />


                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="GoodsDeliveryAuthorizationId" class="control-label" style="width:100%">No. </label>
                                                    <input type="number" asp-for="GoodsDeliveryAuthorizationId" class="k-textbox" style="min-width: 100%;" readonly />

                                                    <span asp-validation-for="GoodsDeliveryAuthorizationId" class="text-danger"></span>
                                                </div>

                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="AuthorizationDate" class=" control-label" style="width: 100%;"></label>
                                                    <kendo-datetimepicker name="AuthorizationDate"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.AuthorizationDate" />
                                                    <span asp-validation-for="AuthorizationDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="BankId" class="control-label" style="width:100%">Banco</label>
                                                    <kendo-dropdownlist name="BankId" for="@Model.BankId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="N/A"
                                                                        datatextfield="BankName"
                                                                        datavaluefield="BankId"
                                                                        auto-bind="true"
                                                                        enable="false"
                                                                        style="min-width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetJson", "Bank")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>

                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <input type="hidden" id="warehousesetid" />
                                                    <label asp-for="BranchId" class="control-label"></label>
                                                    <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Sucursal"
                                                                        datatextfield="BranchName"
                                                                        datavaluefield="BranchId"
                                                                        required
                                                                        enable="false"
                                                                        auto-bind="true"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetBranch", "Branch")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                                </div>
                                            </div>






                                        </div>



                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="CustomerId" class="control-label"></label>
                                                    <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Selecccione Cliente"
                                                                        required
                                                                        on-change="RefrescarCertificados"
                                                                        datatextfield="CustomerName"
                                                                        datavaluefield="CustomerId"
                                                                        enable="Model.GoodsDeliveryAuthorizationId==0"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="12000">
                                                            <transport>
                                                                <read url="@Url.Action("GetCustomer", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    @*<span asp-validation-for="CustomerId" class="text-danger"></span>*@
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <script>
                                                        function fiscal() {
                                                            RefrescarCertificados();
                                                            if ($("#ProductId").val() == 2) {
                                                                $("#importacion").show();
                                                            }
                                                            else {
                                                                $("#importacion").hide();
                                                            }

                                                        }
                                                    </script>
                                                    <label asp-for="ProductId" class="control-label" style="width:100%">Servicio</label>

                                                    <kendo-dropdownlist name="ProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        for="ProductId"
                                                                        option-label="Seleccione el Servicio"
                                                                        datatextfield="ProductName"
                                                                        datavaluefield="ProductId"
                                                                        on-change="fiscal"
                                                                        enable="Model.GoodsDeliveryAuthorizationId==0"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetProduct", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="ProductId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" style="min-width:100%">Certificados de Deposito</label>

                                                    @if (Model.GoodsDeliveryAuthorizationId == 0)
                                                    {
                                                        <kendo-multiselect name="AsociarRecibos" id="AsociarRecibos" style="min-width:100%"
                                                                           no-data-template="No se encontraron certificados el cliente y el servicio seleccionado"
                                                                           required data-required-msg="Seleccione un Certificados" on-change="RefrescarGridDetalle"
                                                                           datatextfield="Comentario" datavaluefield="IdCD" option-label="Seleccione los recibos">
                                                            <datasource page-size="999" type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                                <transport >
                                                                    <read url="@Url.Action("GetCertificadosCustomerService","CertificadoDeposito")" data="GetCustomerService"  />
                                                                </transport>
                                                            </datasource>

                                                        </kendo-multiselect>
                                                    }
                                                    else
                                                    {
                                                        <input type="text" asp-for="Certificados" class="k-textbox" readonly style="min-width:100%" />
                                                    }

                                                    <span asp-validation-for="Certificados"></span>
                                                </div>
                                            </div>


                                        </div>
                                        <script>
                                            function GetCustomerService() {
                                                var customer = $("#CustomerId").val();
                                                var servicio = $("#ProductId").val();
                                                var dataobject = {
                                                    'servicioid': servicio,
                                                    'clienteid': customer,
                                                    'pendienteliquidacion': 0,
                                                }
                                                //console.log(dataobject);
                                                return dataobject
                                            }
                                            function GetCertificados() {
                                                debugger;
                                                record = 0;
                                                var recibosselect = $("#AsociarRecibos").data("kendoMultiSelect");
                                                var recibos = recibosselect == undefined ? [] : recibosselect.value();
                                                var dataobject = {
                                                    'recibos': recibos,
                                                    'Id': $('#GoodsDeliveryAuthorizationId').val()
                                                };

                                                console.log(dataobject);
                                                return dataobject;

                                            }
                                            function RefrescarCertificados() {
                                                debugger;
                                                var multiselect = $("#AsociarRecibos").data("kendoMultiSelect");
                                                if (multiselect) {
                                                    multiselect.dataSource.read();
                                                }



                                            }
                                            function RefrescarGridDetalle() {
                                                var grid = $("#gridGoodsDeliveredAuthorizationLine").getKendoGrid();
                                                grid.dataSource.read();
                                            }

                                        </script>




                                        <div class="row">
                                            <div class="col-md-4" hidden>
                                                <div class="form-group">
                                                    <label asp-for="NoCD" class="control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="NoCD"
                                                                          format="n"
                                                                          min="0"
                                                                          max="99999999"
                                                                          step="1"
                                                                          spinners="false"
                                                                          style="min-width: 100%;"
                                                                          value="Model.NoCD" />
                                                    <span asp-validation-for="NoCD" class="text-danger"></span>
                                                </div>

                                            </div>


                                        </div>

                                        <div id="importacion" style="display:none">
                                            <h3> Información de Poliza de Importación</h3>
                                            <hr />
                                            <div class="row">
                                                <div class="col-sm-4 col-md-3">
                                                    <div class="form-group">
                                                        <label asp-for="EmpresaSeguro" class="control-label" style="width:100%"></label>
                                                        <input type="text" asp-for="EmpresaSeguro" class="k-textbox " style="min-width: 100%" />
                                                        <span asp-validation-for="EmpresaSeguro" class="text-danger"></span>
                                                    </div>

                                                </div>
                                                <div class="col-sm-4 col-md-3">
                                                    <div class="form-group">
                                                        <label asp-for="Aduana" class="control-label" style="width:100%"></label>
                                                        <input type="text" asp-for="Aduana" class="k-textbox " style="min-width: 100%" />
                                                        <span asp-validation-for="Aduana" class="text-danger"></span>
                                                    </div>


                                                </div>
                                                <div class="col-sm-4 col-md-3">
                                                    <div class="form-group">
                                                        <label asp-for="ManifiestoNo" class="control-label" style="width:100%"></label>
                                                        <input type="text" asp-for="ManifiestoNo" class="k-textbox " style="min-width: 100%" />
                                                        <span asp-validation-for="ManifiestoNo" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 col-md-3">
                                                    <div class="form-group">
                                                        <label asp-for="NoTraslado" class="control-label" style="width:100%"></label>
                                                        <input type="number" asp-for="NoTraslado" class="k-textbox " style="min-width: 100%" />
                                                        <span asp-validation-for="NoTraslado" class="text-danger"></span>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="Comments" class="control-label" style="width: 100%;"></label>
                                                    <input type="text" id="Comments" required class="form-control" style="min-width: 100%;" asp-for="Comments" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div id="salesorderdetail">
                                    @await Html.PartialAsync("pvwGoodsDeliveryAuthorizationDetail", Model, new ViewDataDictionary(ViewData) { { "permisosDeliveryAuthorization", permisos } })
                                </div>

                                <div class="row">
                                    @if (Model.GoodsDeliveryAuthorizationId ==0)
                                    {
                                        <button id="btnSaveControlEstiba" type="submit" class="form-control btn-miboton" onclick="SaveGoodsDelivered(this);">Guardar</button>
                                    }
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>


    function RefreshGridGoodsDelivered() {
        var grid = $("#gridGoodsDeliveryAuthorization ").getKendoGrid();
        grid.dataSource.read();
    }

    function SaveGoodsDelivered(e) {

        //CalcularTotalDocumento();
        var notification = $("#notification").data("kendoNotification");
       // e.preventDefault();
        $("#btnSaveControlEstiba").hide();
        $("#btnSaveControlEstiba").prop("disabled", true);

        var validadetalle = true;
        var displayedData = $("#gridGoodsDeliveredAuthorizationLine").data().kendoGrid.dataSource.data();
        for (var i = 0; i < displayedData.length; i++) {
            displayedData[i].GoodsDeliveryAuthorizationLineId = 0;
           // console.log(displayedData[i].WarehouseId);
            if (displayedData[i].NoCertificadoDeposito === '' || displayedData[i].NoCertificadoDeposito === '0'
                || displayedData[i].WarehouseId === '' || displayedData[i].Quantity === 0
                || displayedData[i].WarehouseId === null || displayedData[i].WarehouseId === 0) {

                $.toast({
                    heading: 'Validación',
                    text: 'Ingrese al detalle los datos requeridos',
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'error',
                    hideAfter: 3000,
                    stack: 6
                });

                validadetalle = false;

            }
        }


        if (!validadetalle) {
            HabilitarControles();
            return;
        }

        var list = [];
            $("#ddlRecibosAsociados > option").each(function () {
                list.push(this.value);
            });

            var dataObject = {
                'GoodsDeliveryAuthorizationId': $("#GoodsDeliveryAuthorizationId").val(),
                'AuthorizationName': $("#AuthorizationName").val(),
                'DocumentDate': $("#AuthorizationDate").getKendoDateTimePicker().value().toJSON(),
                'AuthorizationDate': $("#AuthorizationDate").getKendoDateTimePicker().value().toJSON(),
                'NoCD': $("#NoCD").val(),
                'BankId': $("#BankId").val(),
                'BankName': $("#BankId").data("kendoDropDownList").text(),
                'ProductId': $("#ProductId").val(),
                'ProductName': $("#ProductId").data("kendoDropDownList").text(),
                'BranchId': $("#BranchId").val(),
                'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                //'WareHouseId': $("#WarehouseId").val(),
                //'WareHouseName': $("#WarehouseId").data("kendoDropDownList").text(),
                'TotalCertificado': $("#TotalCertificado").val(),
                'TotalFinanciado': $("#TotalFinanciado").val(),
                'CustomerId': $("#CustomerId").val(),
                'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
                'DerechoLps': $("#DerechoLps").val(),
                'NoPoliza': $("#NoPoliza").val(),
                'DelegadoFiscal': $("#DelegadoFiscal").val(),
                'GoodsDeliveryAuthorizationLine': displayedData,
                'Comments': $("#Comments").val(),
                'EmpresaSeguro': $("#EmpresaSeguro").val(),
                'Aduana': $("#Aduana").val(),
                'ManifiestoNo': $("#ManifiestoNo").val(),
                'NoTraslado': $("#NoTraslado").val(),


                'CertificadosAsociados': list
            };

            var validator = $("#frmGoodsDeliveryAuthorization").data("kendoValidator");

            if (displayedData.length < 0) {                
                notification.show({
                    title: "Validación",
                    message: "Debe agregar los productos!"
                }, "error");
                HabilitarControles();
                return;
            }
             if (!validator.validate() ) {
                    $.toast({
                        heading: 'Validación',
                        text: "Complete los datos en el formulario!",
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 3000,
                        stack: 6
                    });
                 HabilitarControles();
                 return;
            }
            $.ajax({
                        url: '@Url.Action("SaveGoodsDeliveryAuthorization", "GoodsDeliveryAuthorization")',
                        method: 'POST',
                        datatype: "json",
                        //contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 3000,
                                stack: 6
                            });

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");

                            RefreshGridGoodsDelivered();
                            $('#myModalGoodsDeliveryAuthorization').modal('hide');

                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $("#btnSaveControlEstiba").show();
                            $("#btnSaveControlEstiba").prop("disabled", false);
                            $("#btngenerarfactura").show();

                            $.toast({
                                heading: 'Validación',
                                text: textStatus + ": " + XMLHttpRequest.responseText,
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'error',
                                hideAfter: 3000,
                                stack: 6
                            });

                        }
                    });


        function HabilitarControles() {
            $("#btnSaveControlEstiba").show();
            $("#btnSaveControlEstiba").prop("disabled", false);
        }

    }
</script>