@model ERPMVC.DTO.CityDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
           // {"required","Valor requerido" }
        };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

        function customFunction(input) {

            if (input.attr('name') === "BranchId" && input.val() === "0") {
                return false;
            }

        }


</script>



<div id="ModalCity" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Municipio</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmCity" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveCity"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Ciudad</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Id" class=" control-label" style="width:100%">Id Ciudad</label>
                                                    <input type="text" asp-for="Id" name="Id" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="Id" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Name" class=" control-label" style="width:100%">Descripción</label>
                                                    <input type="text" asp-for="Name" name="Description" class="form-control" required autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Name" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <script>
                                                    function refreshdepartamento() {
                                                        $("#StateId").data("kendoDropDownList").dataSource.read();
                                                    }
                                                </script>
                                                <div class="form-group">

                                                    <label asp-for="CountryId" class="control-label"></label>
                                                    <kendo-dropdownlist name="CountryId"
                                                                        for="@Model.CountryId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar País"
                                                                        datatextfield="Name"
                                                                        onchange="refreshdepartamento();"
                                                                        datavaluefield="Id"
                                                                        required
                                                                        auto-bind="true"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Country")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <script>
                                                    function GetCountryId() {

                                                        return { 'CountryId': $("#CountryId").val() }
                                                    }

                                                    function refreshmunicipio() {
                                                        $("#CityId").data("kendoDropDownList").dataSource.read();
                                                    }
                                                </script>
                                                <div class="form-group">
                                                    <label asp-for="StateId" class="control-label">Departamento</label>
                                                    <kendo-dropdownlist name="State_Id"
                                                                        required
                                                                        for="@Model.StateId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Departamento"
                                                                        datatextfield="Name"
                                                                        datavaluefield="Id"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="990000">
                                                            <transport>
                                                                <read url="@Url.Action("GetJson", "State")" data="GetCountryId" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>

                                  



                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnCity" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
        function SaveCity(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnCity").hide();
            $("#btnCity").prop("disabled", true);

            var displayedData = $("#gridCity").data().kendoGrid.dataSource.view();

            var dataObject = {
                'Id': $("#Id").val() === "" ? "0" : $("#Id").val(),
                'Name': $("#Name").val(),
                'StateId': $("#StateId").val(),
                'CountryId': $("#CountryId").val(),
             
            };

            //console.log('DATAOBJECTS',dataObject);
            //console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
            // form.validate();

            var validator = $("#frmCity").data("kendoValidator");
                 var status = $(".status");

               // console.log(validator)
              //console.log('VERIFICAR',displayedData.length)
            
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveCity", "City")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/>Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 5000,
                                stack: 6
                            });

                            RefrescarGrid();

                            $('#ModalCity').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                        //    console.log('VERIFICAR')

                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    notification.show({
                        title: "Validacion",
                        message: "Datos invalidos en el formulario!"
                    }, "error");
                }
          

            $("#btnCity").show();
            $("#btnCity").prop("disabled", false);
    }
</script>
