@model ERPMVC.Models.InsurancePolicy
@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
   {"required","Requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}
<script>
    //Retornar solo numeros
    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return ((key >= 48 && key <= 57) || (key == 8))
    }
    //Validación de Fechas
    $("#PolicyDueDate").change(function () {
        var FechaInicio = $("#PolicyDate").getKendoDateTimePicker().value().toJSON();
        var FechaVencimiento = $("#PolicyDueDate").getKendoDateTimePicker().value().toJSON();
        if (Date.parse(FechaInicio) >= Date.parse(FechaVencimiento)) {
            alert("Fecha de Vencimiento no puede ser menor que la fecha de emisión.")
            $("#PolicyDueDate").val('');
        }
    });
    

    function SaveInsurancePolicy(e) {

        var displayedData = $("#gridInsurancePolicy").data().kendoGrid.dataSource.view();

        //var formdata = new FormData($('#CustomerDocument').get(0));

        var dataObject = {
            'InsurancePolicyId': $("#InsurancePolicyId").val(),
            'PolicyNumber': $("#PolicyNumber").val(),
            'PolicyDate': $("#PolicyDate").getKendoDateTimePicker().value().toJSON(),
            'PolicyDueDate': $("#PolicyDueDate").getKendoDateTimePicker().value().toJSON(),
            'InsurancesId': $("#InsurancesId").val(),
            'InsurancesName': $("#InsurancesId").data("kendoDropDownList").text(),
            'CustomerId': $("#CustomerId").val(),
            'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
            'LpsAmount': $("#LpsAmount").val(),
            'DollarAmount': $("#DollarAmount").val(),
            'AttachmentURL': $("#AttachmentURL").val(),
            'Status': $("#Status").val(),
            '_InsurancePolicy': displayedData

        };

        e.data = dataObject;
        RefrescarGrid();
       
    }
    function RefrescarGrid() {
        var grid = $("#gridInsurancePolicy").getKendoGrid();
        grid.dataSource.read();
        
    }

    function closeInsurancePolicy() {
        RefrescarGrid();
        $("#myModalInsurancePolicy").modal('hide');



    }
    
</script>


<div id="myModalInsurancePolicy" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Póliza</h4>
                <button type="button" class="close" onclick="closeInsurancePolicy();">&times;</button>
            </div>
            <div class="modal-body">
                <div class="box">
                    Extensiones Permitidas: .pdf, .jpeg, .png y .txt
                </div>
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="InsuracesDocument" kendo-validator="true" kendo-messages="messages" asp-action="SaveInsurancePolicy" asp-controller="InsurancePolicy"
                                      data-ajax="true"
                                      data-ajax-method="post" enctype="multipart/form-data"
                                      data-ajax-begin="onBegin" data-ajax-complete="onComplete"
                                      data-ajax-failure="onFailed" data-ajax-success="onSuccess"
                                      >
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="InsurancePolicyId" class="control-label" style="min-width:100%">Id Póliza</label>
                                                <input readonly class="form-control" asp-for="InsurancePolicyId" name="InsurancePolicyId" style="min-width:100%" />
                                                <span asp-validation-for="InsurancePolicyId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="PolicyDate" class="control-label" style="width: 100%;">Fecha de Emisión</label>
                                                <kendo-datetimepicker name="PolicyDate"
                                                                      style="width: 100%;"
                                                                      id="PolicyDate"
                                                                      format="dd/MM/yyyy"
                                                                      required                                                                      
                                                                      data-val-required="La fecha es requerida"
                                                                      value="Model.PolicyDate" />
                                                <span asp-validation-for="PolicyDate" class="text-danger k-invalid-msg" data-for="PolicyDate"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="PolicyDueDate" class="control-label" style="width: 100%;">Fecha de Vencimiento</label>
                                                <kendo-datetimepicker name="PolicyDueDate"
                                                                      style="min-width: 100%;"
                                                                      id="PolicyDueDate"
                                                                      format="dd/MM/yyyy"
                                                                      required
                                                                      data-val-required="La fecha es requerida"
                                                                      value="Model.PolicyDueDate" />
                                                <span asp-validation-for="PolicyDueDate" class="text-danger k-invalid-msg" data-for="PolicyDueDate"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="PolicyNumber" class="control-label" style="min-width: 100%;">Número de Póliza</label>
                                                <input type="text" name="PolicyNumber" min="0" required maxlength="30" asp-for="PolicyNumber" class="form-control" style="min-width:100%" data-val-required="La Poliza es requerida" onKeyPress="return soloNumeros(event)" />
                                                <span asp-validation-for="PolicyNumber"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="InsurancesId" class="control-label" style="min-width: 100%;">Aseguradora</label>
                                                <input type="text" asp-for="InsurancesName" name="InsurancesName" hidden />
                                                <kendo-dropdownlist name="InsurancesId" for="@Model.InsurancesId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione la aseguradora"
                                                                    datatextfield="InsurancesName"
                                                                    datavaluefield="InsurancesId"
                                                                    required
                                                                    data-val-required="La Aseguradora es requerida"
                                                                    onchange="SetInsuranceName()"
                                                                    class="form-control-line"
                                                                    style="min-width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                        <transport>
                                                            <read url="@Url.Action("Get", "Insurances")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="InsurancesId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        @*<div class="col-md-4">
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"> Cliente</label>
                <input type="text" asp-for="CustomerName" name="CustomerName" hidden  />
                <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                    option-label="Seleccione el cliente"
                                    datatextfield="CustomerName"
                                    datavaluefield="CustomerId"
                                    class="form-control-line"
                                    onchange="SetCustomerName()"
                                    required
                                    style="width: 100%;">
                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                        <transport>
                            <read url="@Url.Action("GetCustomer", "Common")" />
                        </transport>
                    </datasource>
                </kendo-dropdownlist>
            </div>
        </div>*@
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Status" class=" control-label" style="width:100%">Estado</label>
                                                <kendo-dropdownlist name="Status" for="@Model.Status"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccionar Estado"
                                                                    datatextfield="NombreEstado"
                                                                    datavaluefield="IdEstado"
                                                                    data-val-required="El Estado es requerido"
                                                                    required
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                        <transport>
                                                            <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="Status" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="LpsAmount" class="control-label" style="width:100%">Monto Lempiras</label>
                                                <kendo-numerictextbox name="LpsAmount"
                                                                      format="c2"
                                                                      min="0"
                                                                      spinners="false"
                                                                      required
                                                                      decimals="2"
                                                                      maxlength="9"
                                                                      style="width:100%"
                                                                      value="Model.LpsAmount" />
                                                <span asp-validation-for="LpsAmount" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="DollarAmount" class="control-label" style="width:100%">Monto Dolares</label>
                                                <kendo-numerictextbox name="DollarAmount"
                                                                      format="c2"
                                                                      min="0"
culture="en-US"
                                                                      spinners="false"
                                                                      decimals="2"
                                                                      required
                                                                      maxlength="20"
                                                                      style="width:100%"
                                                                      value="Model.DollarAmount" />
                                                <span asp-validation-for="DollarAmount" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <kendo-upload drop-zone="drop-zone1" name="files" on-upload="SaveInsurancePolicy" multiple="false" accept=".pdf,.doc,.docx,.jpg,.jpeg,.png,.gif">
                                                <localization select="Adjuntar Archivo" cancel="Cancelar" drop-files-here="Soltar Archivo aquí" invalid-file-extension="Extensión de Archivo Invalido" retry="Reintentar" />
                                                <files />
                                                <validation  max-file-size="10485760" />
                                            </kendo-upload>
                                        </div>
                                        @if (Model.AttachementFileName != null)
                                        {
                                        <div class="col-md-8">
                                            <label class="control-label" asp-for="AttachementFileName">Archivo Adjunto</label>
                                            <input type="text" asp-for="AttachementFileName" class="form-control" readonly />
                                            <button type="button" onclick="DescargarAdjunto()" class="btn btn-success">Descargar Adjunto</button>
                                        </div>
                                           
                                        }

                                        <input type="text" asp-for="AttachmentURL" hidden />
                                    </div>

                                    <div class="modal-footer">
                                        <div class="col-md-12">
                                            <button  id="btnInsurancePolicy" class="form-control btn-miboton" type="submit" > Guardar </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function DescargarAdjunto() {       
         var dataObject = {             
             'tpath': '@Model.AttachmentURL'
        };


        console.log(dataObject.Path);
        debugger;
          var ajax = new XMLHttpRequest();
         ajax.open("Post", '@Url.Action("DownloadFile", "Download")' , true);
          ajax.responseType = "blob";
          ajax.setRequestHeader("Content-Type", "application/json");
                            ajax.onreadystatechange = function () {
                                if (this.readyState == 4) {
                                    //debugger;
                                   // var blob = new Blob([this.response]);
                                    var blob = new Blob([this.response], { type: "application/octet-stream" });
                                    //var fileName = dataItem.DocumentName;
                                    var fileName = '@Model.AttachementFileName';
                                    saveAs(blob, fileName);
                                    //application/octet-stream
                                }
        };
        ajax.send(JSON.stringify(dataObject));


        

    }

    function SetInsuranceName() { $('#InsurancesName').val($('#InsurancesId').data("kendoDropDownList").text()) }

    function SetCustomerName() { $('#CustomerName').val($('#CustomerId').data("kendoDropDownList").text()) }

    var onBegin = function () {
        //alert("Begin");
        $("#btnInsurancePolicy").attr("disabled", true);
    };

    var onComplete = function () {
        var grid = $("#gridInsurancePolicy").getKendoGrid();
        grid.dataSource.read();
    };

    

    var onSuccess = function (context) {
        console.log(context);
        $.toast({
            heading: 'Satisfactorio',
            text: '<br/><br/> Datos guardados correctamente.',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'success',
            hideAfter: 30000,
            stack: 6
        });
        $('#myModalInsurancePolicy').modal('hide');
    };

    var onFailed = function (context) {
        console.log(context);
        $.toast({
            heading: 'Error',
            text: '<br/><br/> Error al Crear Empleado',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'error',
            hideAfter: 30000,
            stack: 6
        });
        $("#btnInsurancePolicy").attr("disabled", false);
    };
</script>