@model ERPMVC.DTO.InsurancePolicyDTO
@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
{"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };


}



<script src="~/admp/assets/plugins/dropify/dist/js/dropify.min.js"></script>

<link rel="stylesheet" href="~/admp/assets/plugins/dropify/dist/css/dropify.min.css">

<script>
    //Retornar solo numeros
    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return ((key >= 48 && key <= 57) || (key == 8))
    }
    //Validación de Fechas
    $("#PolicyDueDate").change(function () {
        var FechaInicio = $("#PolicyDate").getKendoDateTimePicker().value().toJSON();
        var FechaVencimiento = $("#PolicyDueDate").getKendoDateTimePicker().value().toJSON();
        if (Date.parse(FechaInicio) >= Date.parse(FechaVencimiento)) {
            alert("Fecha de Vencimiento no puede ser menor que la fecha de emisión.")
            $("#PolicyDueDate").val('');
        }
    });


    function SaveInsurancePolicy(e) {

        var displayedData = $("#gridInsurancePolicy").data().kendoGrid.dataSource.view();

        //var formdata = new FormData($('#CustomerDocument').get(0));

        var dataObject = {
            'InsurancePolicyId': $("#InsurancePolicyId").val(),
            'PolicyNumber': $("#PolicyNumber").val(),
            'PolicyDate': $("#PolicyDate").getKendoDateTimePicker().value().toJSON(),
            'PolicyDueDate': $("#PolicyDueDate").getKendoDateTimePicker().value().toJSON(),
            'InsurancesId': $("#InsurancesId").val(),
            'InsurancesName': $("#InsurancesId").data("kendoDropDownList").text(),
            'CustomerId': $("#CustomerId").val(),
            'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
            'LpsAmount': $("#LpsAmount").val(),
            'DollarAmount': $("#DollarAmount").val(),
            'AttachmentURL': $("#AttachmentURL").val(),
            'Status': $("#Status").val(),
            '_InsurancePolicy': displayedData

        };

        e.data = dataObject;
        RefrescarGrid();

    }
    function RefrescarGrid() {
        var grid = $("#gridInsurancePolicy").getKendoGrid();
        grid.dataSource.read();

    }

    function closeInsurancePolicy() {
        RefrescarGrid();
        $("#myModalInsurancePolicy").modal('hide');



    }

    var onBegin = function () {
        //alert("Begin");

    };

    var onComplete = function () {
        RefrescarGrid();
    };

    var onSuccess = function (context) {
        //alert(context);
        console.log(context);
        $.toast({
            heading: 'Satisfactorio',
            text: '<br/><br/> Datos guardados correctamente.',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'success',
            hideAfter: 30000,
            stack: 6
        });
        closeInsurancePolicy();
    };

    var onFailed = function (context) {
        // alert(context);
        console.log(context);
        $.toast({
            heading: 'Error',
            text: '<br/><br/> Error ',// + context.error,
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'error',
            hideAfter: 30000,
            stack: 6
        });
    };

</script>


<div id="myModalInsurancePolicy" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeInsurancePolicy();">&times;</button>
                <h4 class="modal-title">Póliza</h4>
            </div>
            <div class="modal-body">
                <div class="box">
                    Extensiones Permitidas: .pdf, .jpeg, .png y .txt
                </div>
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="InsuracesDocument" kendo-validator="true" kendo-messages="messages" asp-controller="InsurancePolicy" asp-action="SaveInsurancePolicy"
                                      data-ajax="true"
                                      data-ajax-method="post" enctype="multipart/form-data"
                                      data-ajax-begin="onBegin" data-ajax-complete="onComplete"
                                      data-ajax-failure="onFailed" data-ajax-success="onSuccess">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label asp-for="InsurancePolicyId" class="control-label">Id Póliza</label>
                                            @*<kendo-numerictextbox name="InsurancePolicyId"
                                                format="n"
                                                min="0"
                                                enable="false"
                                                readonly
                                                max="99999999"
                                                step="1"
                                                style="width: 100%;"
                                                value="Model.InsurancePolicyId" />*@
                                            <input asp-for="InsurancePolicyId" readonly class="form-control" />
                                            <span asp-validation-for="InsurancePolicyId" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="PolicyDate" class="control-label" style="width: 100%;">Fecha de Emisión</label>
                                                <kendo-datetimepicker name="PolicyDate"
                                                                      style="width: 100%;"
                                                                      id="PolicyDate"
                                                                      format="dd/MM/yyyy"
                                                                      required
                                                                      data-val-required="La fecha es requerida"
                                                                      value="Model.PolicyDate" />
                                                <span asp-validation-for="PolicyDate" class="text-danger k-invalid-msg" data-for="PolicyDate"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="PolicyDueDate" class="control-label" style="width: 100%;">Fecha de Vencimiento</label>
                                                <kendo-datetimepicker name="PolicyDueDate"
                                                                      style="width: 100%;"
                                                                      id="PolicyDueDate"
                                                                      format="dd/MM/yyyy"
                                                                      required
                                                                      data-val-required="La fecha es requerida"
                                                                      value="Model.PolicyDueDate" />
                                                <span asp-validation-for="PolicyDueDate" class="text-danger k-invalid-msg" data-for="PolicyDueDate"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="PolicyNumber" class="control-label" style="width: 100%;">Número de Póliza</label>
                                                <input type="text" name="PolicyNumber" min="0" required maxlength="30" asp-for="PolicyNumber" class="form-control" style="min-width:100%" onKeyPress="return soloNumeros(event)" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input name="InsurancesName" id="InsurancesName" asp-for="InsurancesName" hidden />
                                                <label asp-for="InsurancesId" class="control-label">Aseguradora</label>
                                                <kendo-dropdownlist name="InsurancesId" for="@Model.InsurancesId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione la aseguradora"
                                                                    datatextfield="InsurancesName"
                                                                    datavaluefield="InsurancesId"
                                                                    on-change="function () { $('#InsurancesName').val(this.text()) }"
                                                                    required
                                                                    class="form-control-line"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                        <transport>
                                                            <read url="@Url.Action("Get", "Insurances")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input asp-for="CustomerName" hidden />
                                                <label asp-for="CustomerId" class="control-label"> Cliente</label>
                                                <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione el cliente"
                                                                    datatextfield="CustomerName"
                                                                    datavaluefield="CustomerId"
                                                                    on-change="function () { $('#CustomerName').val(this.text()) }"
                                                                    class="form-control-line"
                                                                    required
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                        <transport>
                                                            <read url="@Url.Action("GetCustomer", "Common")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Status" class=" control-label" style="width:100%">Estado</label>
                                                <kendo-dropdownlist name="Status" for="@Model.Status"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccionar Estado"
                                                                    datatextfield="NombreEstado"
                                                                    datavaluefield="IdEstado"
                                                                    required
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                        <transport>
                                                            <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="Status" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="LpsAmount" class="control-label" style="width:100%">Monto Lempiras</label>
                                                <kendo-numerictextbox name="LpsAmount"
                                                                      format="c2"
                                                                      min="0"
                                                                      spinners="false"
                                                                      required
                                                                      decimals="2"
                                                                      maxlength="9"
                                                                      style="width:100%"
                                                                      value="Model.LpsAmount" />
                                                <span asp-validation-for="LpsAmount" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="DollarAmount" class="control-label" style="width:100%">Monto Dolares</label>
                                                <kendo-numerictextbox name="DollarAmount"
                                                                      format="'$.' #.## "
                                                                      min="0"
                                                                      spinners="false"
                                                                      required
                                                                      maxlength="20"
                                                                      style="width:100%"
                                                                      value="Model.DollarAmount" />
                                                <span asp-validation-for="DollarAmount" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" hidden>
                                        <div class="col-md-5">
                                            <kendo-upload show-file-list="true" drop-zone="drop-zone1" name="files" on-upload="SaveInsurancePolicy" multiple="false" accept=".jpg,.jpeg,.png,.gif,.pdf">
                                                <localization select="Seleccionar Archivos" cancel="Cancelar" drop-files-here="Soltar Archivo aquí" invalid-file-extension="Extensión de Archivo Invalido" retry="Reintentar" />
                                                <files />

                                                @*<async save-url="@Url.Action("SaveInsurancePolicy","InsurancePolicy")" auto-upload="false" />*@
                                                <validation allowed-extensions='@new string[] { ".jpg",".png",".jpeg" ,".gif",".pdf"}' max-file-size="10485760" />
                                            </kendo-upload>
                                        </div>

                                        <script>
                                            //function OnChange(e, target) {
                                            //    console.log(e);
                                            //    target.val( e.sender.data("kendoDropDownList").text());

                                            //}
                                                function GetDocumentName(dataName) {
                                                    var fileName = "@Model.AttachementFileName";
                                                    return fileName
                                                }
                                                function GetDocumentExtension(dataExtension) {
                                                    var fileName = "@Model.AttachementFileName";
                                                    var fileExtension = fileName.substring(fileName.lastIndexOf('.') + 1);
                                                    return fileExtension
                                                }
                                        </script>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Foto Empleado</h4>
                                                <input type="file" asp-for="AttachementFileName" id="files" name="files" class="dropify" data-max-file-size="2M" accept=".jpg,.jpeg,.png,.gif,.pdf" />
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <button id="btnInsurancePolicy" class="form-control btn-miboton" type="submit"> Guardar </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Basic
        $('.dropify-std').dropify();

        // Translated
        $('.dropify').dropify({
            messages: {
                default: 'Arrastre un archivo de Imagen o click para cagar archivo',
                replace: 'Click para Reemplazar',
                remove: 'Quitar',
                error: 'Error'

            }
        });

        // Used events
        var drEvent = $('#input-file-events').dropify();

        drEvent.on('dropify.beforeClear', function (event, element) {
            return confirm("Esta seguro que desea eliminar el archivo \"" + element.file.name + "\" ?");
        });

        drEvent.on('dropify.afterClear', function (event, element) {
            alert('Archivo eliminado');
        });

        drEvent.on('dropify.errors', function (event, element) {
            console.log('Has Errors');
        });

        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function (e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });

</script>
