@model ERPMVC.Models.InsuranceEndorsement

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                        //{"required","Valor requerido" }
                    };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}
<script>
    function ReemplazarArchivoEndoso() {
        debugger;
        var archivo = '@Model.AttachmentURL';

        if ($("#AttachementFileName").val() != '') {
            alert("Esta accion reemplazara su archivo anterior");

        }
    }
    function DescargarArchivoEndoso() {
        var dataObject = {
            'tpath': '@Model.AttachmentURL'
        };


        console.log(dataObject.Path);
        debugger;
        var ajax = new XMLHttpRequest();
        ajax.open("Post", '@Url.Action("DownloadFile", "Download")', true);
        ajax.responseType = "blob";
        ajax.setRequestHeader("Content-Type", "application/json");
        ajax.onreadystatechange = function () {
            if (this.readyState == 4) {
                //debugger;
                // var blob = new Blob([this.response]);
                var blob = new Blob([this.response], { type: "application/octet-stream" });
                //var fileName = dataItem.DocumentName;
                var fileName = '@Model.AttachementFileName';
                saveAs(blob, fileName);
                //application/octet-stream
            }
        };
        ajax.send(JSON.stringify(dataObject));




    }
    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }   
        return true;
    }

    function CerrarModal() {
        $('#myModalSalesOrder').modal('hide');
    }

    function SaveCotizacion(e) {
        debugger;
        var notification = $("#notification").data("kendoNotification");
        // e.preventDefault();
        //$("#btnSaveVendorInvoice").hide();
        $("#btnSaveVendorInvoice").prop("disabled", true);

        var validadetalle = true;
        //var displayedData = $("#gridInvoiceDetail").data().kendoGrid.dataSource.view();
        //for (var i = 0; i < displayedData.length; i++) {
        //    displayedData[i].InsuranceEndorsementLineId = 0;

        //}

        if (validadetalle) {
            var dataObject = {
                'InsuranceEndorsementId': $("#InsuranceEndorsementId").val() === "" ? "0" : $("#InsuranceEndorsementId").val(),
                //'WarehouseId': $("#WarehouseId").val(),
                //'WarehouseName': $("#WarehouseId").data("kendoDropDownList").text(),
                'CostCenterId': $("#CostCenterId").val(),
                'CustomerId': $("#CustomerId").val(),
                'ProductdId': $("#ProductdId").val(),
                'ProductName': $("#ProductdId").data("kendoDropDownList").text(),
                'InsurancePolicyId': $("#InsurancePolicyId").val(),
                'DateGenerated': $("#DateGenerated").getKendoDatePicker().value().toJSON(),
                'TotalAmountLp': $("#TotalAmountLp").val(),
                'TotalAmountDl': $("#TotalAmountDl").val(),
                'TotalCertificateBalalnce': $("#TotalCertificateBalalnce").val(),
                'TotalAssuredDifernce': $("#TotalAssuredDifernce").val(),
                'AttachmentURL': $("#AttachmentURL").val()
                //'EstadoId': $("#EstadoId").val(),
            };

            var validator = $("#frmSalesOrder").data("kendoValidator");
            //var validator2 = $("#TotalesDocumento").data("kendoValidator");
            var status = $(".status");

            //if (displayedData.length > 0) {
            if (validator.validate()) {

                $.ajax({
                    url: '@Url.Action("SaveInsuranceEndorsement", "InsuranceEndorsement")',
                    method: 'POST',
                    datatype: "json",
                    //  contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify(dataObject),
                    success: function (data) {
                        RefreshCotizaciones();
                        $.toast({
                            heading: 'Satisfactorio',
                            text: 'Datos guardados correctamente.',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'success',
                            hideAfter: 7000,
                            stack: 6
                        });
                        RefreshCotizaciones();
                        $('#myModalSalesOrder').modal('hide');

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                        $("#btnSaveVendorInvoice").show();
                        $("#btnSaveVendorInvoice").prop("disabled", false);
                        notification.show({
                            title: "Validación",
                            message: textStatus + ": " + XMLHttpRequest.responseText
                        }, "error");

                    }
                });

            }
            else {
                notification.show({
                    title: "Validación",
                    message: "Datos incorrectos en el formulario!"
                }, "error");

                $("#btnSaveVendorInvoice").show();
                $("#btnSaveVendorInvoice").prop("disabled", false);
            }
            //}
            //else {
            //    notification.show({
            //        title: "Validación",
            //        message: "Debe ingresar una bodega!"
            //    }, "error");

            //    $("#btnSaveVendorInvoice").show();
            //    $("#btnSaveVendorInvoice").prop("disabled", false);

            //}
        }

    }
</script>

<div id="myModalSalesOrder" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Seguros Endosados </h4>
                <button type="button" class="close" onclick="CerrarModal()">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="singuardar" value="0" />
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <form id="frmSalesOrder" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                          data-ajax="true"
                                          asp-action="SaveInsuranceEndorsement"
                                          asp-controller="InsuranceEndorsement"
                                          enctype="multipart/form-data"
                                          data-ajax-method="post"
                                          method="post" class="validation-wizard wizard-circle">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="InsuranceEndorsementId" class=" control-label" style="width:100%">Id</label>
                                                    <input type="text" asp-for="InsuranceEndorsementId" name="InsuranceEndorsementId" class="form-control" readonly style="min-width:100%" />
                                                    <span asp-validation-for="InsuranceEndorsementId" class="text-danger"></span>
                                                </div>
                                            </div>



                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DateGenerated" class="control-label" style="width: 100%;">Fecha</label>
                                                    <kendo-datepicker name="DateGenerated"
                                                                          style="min-width: 86%;" class="form-control"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La Fecha es requerida."
                                                                          value="Model.DateGenerated" />
                                                    <span asp-validation-for="DateGenerated" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ProductdId" class="control-label">Servicio</label>
                                                    <kendo-dropdownlist name="ProductdId" for="@Model.ProductdId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el Servicio"
                                                                        datatextfield="ProductName"
                                                                        required data-required-msg="El Producto es requerido."
                                                                        datavaluefield="ProductId"
                                                                        class="form-control-line"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                            <sorts>
                                                                <sort field="ProductName" direction="asc" />
                                                            </sorts>
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Product")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="ProductdId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CostCenterId" class="control-label">Centro de costos</label>
                                                    <kendo-dropdownlist name="CostCenterId" for="@Model.CostCenterId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el centro de costos"
                                                                        datatextfield="CostCenterName"
                                                                        required data-required-msg="El Centro de costos es requerido."
                                                                        datavaluefield="CostCenterId"
                                                                        class="form-control-line"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                            <sorts>
                                                                <sort field="CostCenterName" direction="asc" />
                                                            </sorts>
                                                            <transport>
                                                                <read url="@Url.Action("Get", "CostCenter")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CostCenterId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="TotalAmountLp" class="control-label" style="width:100%">Monto Lps</label>
                                                    <kendo-numerictextbox name="TotalAmountLp"
                                                                          format="c2"
                                                                          min="0"
                                                                          decimals="2"
                                                                          spinners="false"
                                                                          required data-required-msg="El Monto Lps es requerido."
                                                                          max="1000000000"
                                                                          style="width:100%"
                                                                          value="Model.TotalAmountLp"  />
                                                    <span asp-validation-for="TotalAmountLp" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="TotalAmountDl" class="control-label" style="width:100%">Monto $</label>
                                                    <kendo-numerictextbox name="TotalAmountDl"
                                                                          format="c2" culture="en-US" decimals="2"
                                                                          min="0"
                                                                          max="1000000000"
                                                                          spinners="false"
                                                                          required data-required-msg="El Monto $ es requerido."
                                                                          style="width:100%"
                                                                          value="Model.TotalAmountDl" />
                                                    <span asp-validation-for="TotalAmountDl" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label"> Extensiones Permitidas: .pdf, .jpeg, .png y .txt</label>
                                                        <kendo-upload drop-zone="drop-zone1" name="files" on-upload="SaveCotizacion" multiple="false" accept=".pdf,.doc,.docx,.jpg,.jpeg,.png,.gif" on-select="ReemplazarArchivoEndoso">
                                                            <localization select="Adjuntar Archivo" cancel="Cancelar" drop-files-here="Soltar Archivo aquí" invalid-file-extension="Extensión de Archivo Invalido" retry="Reintentar" />
                                                            <files />
                                                            <validation max-file-size="10485760" />
                                                        </kendo-upload>
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    @if (Model.AttachmentURL != null)
                                                    {
                                                        <div class="form-group">
                                                            <label class="control-label" style="min-width:100%">Archivo Adjunto</label>
                                                            <input type="text" asp-for="AttachementFileName" id="AttachementFileName" class="k-textbox" style="min-width:80%" readonly />
                                                            <button type="button" onclick="DescargarArchivoEndoso()" class="btn btn-success">Descargar</button>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div style="display: none;">
                                                            <div class="form-group">
                                                                <label class="control-label" style="min-width:100%">Archivo Adjunto</label>
                                                                <input type="text" asp-for="AttachementFileName" id="AttachementFileName" class="k-textbox" style="min-width:80%" readonly />
                                                                <button type="button" onclick="DescargarArchivoEndoso()" class="btn btn-success" disabled>Descargar</button>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                           
                                        </div>
                                            <div class="row">
                                                @*@if (Convert.ToBoolean(Model.editar))
                                                {*@
                                                <button id="btnSaveVendorInvoice" type="submit" class="form-control btn-miboton">Guardar</button>
                                                @*}*@
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return ((key >= 48 && key <= 57) || (key == 8))
    }
    function GetProductIdS() {
        return { 'ProductId': $("#ProductId").val() }
    }


    function RefreshCotizaciones() {
        var grid = $("#gridInsurances").getKendoGrid();
        grid.dataSource.read();
    }

   

</script>
