@model ERPMVC.Models.InsuredAssets

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                        //{"required","Valor requerido" }
                    };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };

    List<Object> TipoAsegurado = new List<Object>();

    TipoAsegurado.Add(new {id = 1 , Tipo = "Bodega" });
    TipoAsegurado.Add(new { id = 2, Tipo = "Activo Digitado" });


}
<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }   
        return true;
    }
</script>

<div id="ModalAddAsset" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Activo </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="singuardar" value="0" />
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <form id="frmSalesOrder" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                          data-ajax="true"
                                          data-ajax-method="post"
                                          method="post" class="validation-wizard wizard-circle">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Id" class=" control-label" style="width:100%">Id</label>
                                                    <input type="text" asp-for="Id" name="InsuranceEndorsementId" class="form-control" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="Id" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <input type="text" asp-for="InsurancePolicyId" name="InsurancePolicyId" value="@Model.InsurancePolicyId" hidden />


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaCreacion" class="control-label" style="width: 100%;">Fecha</label>
                                                    <kendo-datetimepicker name="DateGenerated"
                                                                          style="min-width: 86%;" class="form-control"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La Fecha es requerida."
                                                                          value="Model.FechaCreacion" />
                                                    <span asp-validation-for="FechaCreacion" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Tipo Activo</label>
                                                    <kendo-dropdownlist name="TipoActivo" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el Producto"
                                                                        datatextfield="Tipo"
                                                                        required data-required-msg="El Tipo de Activo es requerido."
                                                                        datavaluefield="id"
                                                                        class="form-control-line"
                                                                        style="width: 100%;"
                                                                        bind-to="TipoAsegurado">
                                                    </kendo-dropdownlist>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="WarehouseId" class="control-label">Centro de costos</label>
                                                    <kendo-dropdownlist name="CostCenterId" for="WarehouseId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el centro de costos"
                                                                        datatextfield="WarehouseName"
                                                                        required data-required-msg="El Centro de costos es requerido."
                                                                        datavaluefield="WarehouseId"
                                                                        class="form-control-line"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                            <transport>
                                                                <read url="@Url.Action("GetWarehouse", "Warehouse")" />

                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="WarehouseId" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" asp-for="AssetName" name="AssetName" class="k-textbox" value="" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="AssetInsuredValue" class="control-label" style="width:100%">Monto Lps</label>
                                                    <kendo-numerictextbox name="TotalAmountLp"
                                                                          format="c2"
                                                                          min="0"
                                                                          decimals="2"
                                                                          spinners="false"
                                                                          required data-required-msg="El Monto Lps es requerido."
                                                                          max="1000000000"
                                                                          style="width:100%"
                                                                          value="Model.AssetInsuredValue" />
                                                    <span asp-validation-for="AssetInsuredValue" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="AssetDeductible" class="control-label" style="width:100%">Monto $</label>
                                                    <kendo-numerictextbox name="TotalAmountDl"
                                                                          format="c2" culture="en-US" decimals="2"
                                                                          min="0"
                                                                          max="1000000000"
                                                                          spinners="false"
                                                                          required data-required-msg="El Monto $ es requerido."
                                                                          style="width:100%"
                                                                          value="Model.AssetDeductible" />
                                                    <span asp-validation-for="AssetDeductible" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="MerchadiseTotalValue" class="control-label" style="width:100%">Saldo Certificado</label>
                                                    <kendo-numerictextbox name="TotalCertificateBalalnce"
                                                                          format="c2"
                                                                          min="0"
                                                                          spinners="false"
                                                                          required data-required-msg="El Saldo Certificado es requerido."
                                                                          maxlength="9"
                                                                          style="width:100%"
                                                                          value="Model.MerchadiseTotalValue" />
                                                    <span asp-validation-for="MerchadiseTotalValue" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="MerchandiseInsuredValue" class="control-label" style="width:100%">Diferencia Asegurada</label>
                                                    <kendo-numerictextbox name="TotalAssuredDifernce"
                                                                          format="c2"
                                                                          min="0"
                                                                          spinners="false"
                                                                          required data-required-msg="La Diferencia Asegurada es requerida."
                                                                          maxlength="20"
                                                                          style="width:100%"
                                                                          value="Model.MerchandiseInsuredValue" />
                                                    <span asp-validation-for="MerchandiseInsuredValue" class="text-danger"></span>
                                                </div>
                                            </div>
                                            @*<div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="EstadoId" class="control-label" style="width:100%">Estado</label>
                                                    <kendo-dropdownlist name="EstadoId"
                                                                        for="@Model.EstadoId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        required data-required-msg="El Estado es requerido." style="min-width:100%">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <sorts>
                                                                <sort field="NombreEstado" direction="asc" />
                                                            </sorts>
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="EstadoId" class="text-danger"></span>
                                                </div>
                                            </div>*@
                                        </div>
                                    </form>
                                </div>

                                <div class="row">
                                    <button id="btnSaveVendorInvoice" type="submit" class="form-control btn-miboton " onclick="SaveCotizacion(this);">Guardar</button>                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return ((key >= 48 && key <= 57) || (key == 8))
    }
    function GetProductIdS() {
        return { 'ProductId': $("#ProductId").val() }
    }


    function RefreshCotizaciones() {
        var grid = $("#gridInsurances").getKendoGrid();
        grid.dataSource.read();
    }

    function SaveCotizacion(e) {
        debugger;
        var notification = $("#notification").data("kendoNotification");
        // e.preventDefault();
        //$("#btnSaveVendorInvoice").hide();
        $("#btnSaveVendorInvoice").prop("disabled", true);

        var validadetalle = true;
        //var displayedData = $("#gridInvoiceDetail").data().kendoGrid.dataSource.view();
        //for (var i = 0; i < displayedData.length; i++) {
        //    displayedData[i].InsuranceEndorsementLineId = 0;            
           
        //}

        if (validadetalle) {
            var dataObject = {
                'InsuranceEndorsementId': $("#InsuranceEndorsementId").val() === "" ? "0" : $("#InsuranceEndorsementId").val(),                
                //'WarehouseId': $("#WarehouseId").val(),
                //'WarehouseName': $("#WarehouseId").data("kendoDropDownList").text(),
                'CostCenterId': $("#CostCenterId").val(),
                'CustomerId': $("#CustomerId").val(),
                'Customername': $("#CustomerId").data("kendoDropDownList").text(),
                'ProductdId': $("#ProductdId").val(),
                'ProductName': $("#ProductdId").data("kendoDropDownList").text(),
                'InsurancePolicyId': $("#InsurancePolicyId").val(),
                'DateGenerated': $("#DateGenerated").getKendoDateTimePicker().value().toJSON(),
                'TotalAmountLp': $("#TotalAmountLp").val(),
                'TotalAmountDl': $("#TotalAmountDl").val(),
                'TotalCertificateBalalnce': $("#TotalCertificateBalalnce").val(),
                'TotalAssuredDifernce': $("#TotalAssuredDifernce").val(),      
                'EstadoId': $("#EstadoId").val(),
                //'InsuranceEndorsementLines': displayedData,
            };
            console.log('AQUI', dataObject);
            var validator = $("#frmSalesOrder").data("kendoValidator");
            //var validator2 = $("#TotalesDocumento").data("kendoValidator");
            var status = $(".status");

            //if (displayedData.length > 0) {
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveInsuranceEndorsement", "InsuranceEndorsement")',
                        method: 'POST',
                        datatype: "json",
                        //  contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {
                            //$("#InsuranceEndorsementId").data("kendoNumericTextBox").value(data.InsuranceEndorsementId);
                            
                            RefreshCotizaciones();

                            $.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/>Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 7000,
                                stack: 6
                            });
                            RefreshCotizaciones();
                            $('#myModalSalesOrder').modal('hide');

                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            $("#btnSaveVendorInvoice").show();
                            $("#btnSaveVendorInvoice").prop("disabled", false);
                            notification.show({
                                title: "Validación",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    notification.show({
                        title: "Validación",
                        message: "Datos incorrectos en el formulario!"
                    }, "error");

                    $("#btnSaveVendorInvoice").show();
                    $("#btnSaveVendorInvoice").prop("disabled", false);
                }
            //}
            //else {
            //    notification.show({
            //        title: "Validación",
            //        message: "Debe ingresar una bodega!"
            //    }, "error");

            //    $("#btnSaveVendorInvoice").show();
            //    $("#btnSaveVendorInvoice").prop("disabled", false);

            //}
        }

    }





</script>
