@model ERPMVC.Models.InsurancePolicy

<script>
    $(document).ready(function () {
       
    });
    //SaveInsurancePolicyDocument
    function SaveInsurancePolicyDocument(e) {


        $("#btnInsurancePolicy").hide();
        $("#btnInsurancePolicy").prop("disabled", true);

        var displayedData = $("#gridInsurancePolicyDocument").data().kendoGrid.dataSource.view();

        var dataObject = {
            'InsurancePolicyId': $("#InsurancePolicyId").val() === "" ? "0" : $("#InsurancePolicyId").val(),
            'PolicyNumber': $("#PolicyNumber").val(),
            'PolicyDate': $("#PolicyDate").val(),
            'PolicyDueDate': $("#PolicyDueDate").val(),
            'InsurancesId': $("#InsurancesId").val(),
            'InsurancesName': $("#InsurancesName").val(),
            'CustomerId': $("#CustomerId").val(),
            'CustomerName': $("#CustomerName").val(),
            'LpsAmount': $("#LpsAmount").val(),
            'DollarAmount': $("#DollarAmount").val(),
            'AttachmentURL': $("#AttachmentURL").val(),
            'Status': $("#Status").val(),
            '_InsurancePolicy': displayedData
            
        };
        var validator = $("#InsuracesDocument").data("kendoValidator");
                 var status = $(".status");

            
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveInsurancePolicyDocument", "InsurancePolicy")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                           RefrescarGrid();

                            $('#myModalInsurancePolicyDocumentUpload').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! La data es invalida en el formulario.")
                        .removeClass("valid")
                        .addClass("invalid");
                }
           

        $("#btnInsurancePolicy").show();
        $("#btnInsurancePolicy").prop("disabled", false);
    }
    function RefrescarGrid() {

        var grid = $("#gridInsurancePolicyDocument").getKendoGrid();
        grid.dataSource.read();
    }

    function closeInsurancePolicyDocument() {
        //$('#myModalCustomerAuthorizedSignature').find(':input').not(':submit').val('0');
        //   RefreshGridCustomerAuthorizedSignature();
        RefrescarGrid();
        $("#myModalInsurancePolicyDocumentUpload").modal('hide');
       

        
    }
    function disabledUpload() {
        if ($("#DocumentTypeId").data("kendoDropDownList").value() == 0 || $("#InsurancePolicyName").val() == "") {
            $("#files").data("kendoUpload").disable();
        }
        else {
            $("#files").data("kendoUpload").enable();
        }
    }
    $("#InsurancePolicyName").keyup(function (e) {
        if ($("#DocumentTypeId").data("kendoDropDownList").value() == 0 || $("#InsurancePolicyName").val() == "") {
            $("#files").data("kendoUpload").disable();
        }
        else {
            $("#files").data("kendoUpload").enable();
        }
    });
</script>


<div id="myModalInsurancePolicyDocumentUpload" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeInsurancePolicyDocument();">&times;</button>
                <h4 class="modal-title">Póliza</h4>
            </div>
            <div class="modal-body">
                <div class="box">
                    Extensiones Permitidas: .pdf, .jpeg, .png y .txt
                </div>
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="InsuracesDocument"
                                      data-ajax="true">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label asp-for="InsurancePolicyId" class="control-label" style="width: 100%;">Póliza</label>
                                            <input type="number" readonly name="InsurancePolicyId" asp-for="InsurancePolicyId" class="form-control" style="min-width:100%" />
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="PolicyDate" class="control-label" style="width: 100%;">Fecha de Emisión</label>
                                                <kendo-datetimepicker name="PolicyDate"
                                                                      style="width: 100%;"
                                                                      format="dd/MM/yyyy hh:mm:ss"
                                                                      time-format="hh:mm:ss"
                                                                      data-val-required="La fecha es requerida"
                                                                      value="Model.PolicyDate" />
                                                <span asp-validation-for="PolicyDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="PolicyDueDate" class="control-label" style="width: 100%;">Fecha de Vencimiento</label>
                                                <kendo-datetimepicker name="PolicyDueDate"
                                                                      style="width: 100%;"
                                                                      format="dd/MM/yyyy hh:mm:ss"
                                                                      time-format="hh:mm:ss"
                                                                      data-val-required="La fecha es requerida"
                                                                      value="Model.PolicyDueDate" />
                                                <span asp-validation-for="PolicyDueDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="PolicyNumber" class="control-label" style="width: 100%;">Número de Póliza</label>
                                                <input type="number"  name="PolicyNumber" maxlength="30" asp-for="PolicyNumber" class="form-control" style="min-width:100%" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="InsurancesId" class="control-label">Aseguradora</label>
                                                <kendo-dropdownlist name="InsurancesId" for="@Model.InsurancesId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione la aseguradora"
                                                                    datatextfield="InsurancesName"
                                                                    datavaluefield="InsurancesId"
                                                                    class="form-control-line"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                        <transport>
                                                            <read url="@Url.Action("Get", "Insurances")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="CustomerId" class="control-label"> Cliente</label>
                                                <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione el cliente"
                                                                    datatextfield="CustomerName"
                                                                    datavaluefield="CustomerId"
                                                                    class="form-control-line"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                        <transport>
                                                            <read url="@Url.Action("GetCustomer", "Common")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Status" class=" control-label" style="width:100%">Estado</label>
                                                <kendo-dropdownlist name="Status" for="@Model.Status"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccionar Estado"
                                                                    datatextfield="NombreEstado"
                                                                    datavaluefield="IdEstado"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                        <transport>
                                                            <read url="@Url.Action("Get", "Estados")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="Status" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="LpsAmount" class="control-label" style="width:100%">Monto Lempiras</label>
                                                <kendo-numerictextbox name="LpsAmount"
                                                                      format="c2"
                                                                      min="0"
                                                                      spinners="false"
                                                                      required
                                                                      maxlength="9"
                                                                      style="width:100%"
                                                                      value="Model.LpsAmount" />
                                                <span asp-validation-for="LpsAmount" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="DollarAmount" class="control-label" style="width:100%">Monto Dolares</label>
                                                <kendo-numerictextbox name="DollarAmount"
                                                                      format="c2"
                                                                      min="0"
                                                                      spinners="false"
                                                                      required
                                                                      maxlength="20"
                                                                      style="width:100%"
                                                                      value="Model.DollarAmount" />
                                                <span asp-validation-for="DollarAmount" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <kendo-upload drop-zone="drop-zone1" name="files" on-upload="SaveInsurancePolicyDocument">
                                                <localization select="Seleccionar Archivos" cancel="Cancelar" drop-files-here="Soltar Archivo aquí" invalid-file-extension="Extensión de Archivo Invalido" retry="Reintentar" />
                                                <files />
                                                <async save-url="@Url.Action("SaveInsurancePolicyDocument","InsurancePolicy")" />
                                                <validation allowed-extensions='@new string[] { ".jpg",".png",".jpeg" }' max-file-size="10485760" />
                                            </kendo-upload>
                                        </div>

                                        <script>
                                                function GetDocumentName(dataName) {
                                                    var fileName = "@Model.AttachmentURL";
                                                    return fileName
                                                }
                                                function GetDocumentExtension(dataExtension) {
                                                    var fileName = "@Model.AttachmentURL";
                                                    var fileExtension = fileName.substring(fileName.lastIndexOf('.') + 1);
                                                    return fileExtension
                                                }
                                        </script>

                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <button id="btnInsurancePolicy" class="form-control btn-miboton" type="submit"> Guardar </button>
                                        </div>
                                    </div>

                                </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
