@model ERPMVC.DTO.InvoiceDTO
@using System.Security.Claims
@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                {"required","Valor requerido" }
                            };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];
}

<style>
    hr.solid {
        border-top: 1px solid #bbb;
        width: 100%;
    }
</style>



<script>
    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        //if (input.attr('name') === "SubProductId" && input.val() === "0") {
        //    return false;
        //}

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }
        return true;
    }
</script>
<script>
    function QuitarModal() {
        $('#myModalSalesOrder').modal('hide');
    }
</script>

@await Html.PartialAsync("~/Views/OFAC/Index.cshtml")


<div id="myModalSalesOrder" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Información Factura </h4>
                @*<button type="button" class="close" data-dismiss="modal" onclick="QuitarModal(this);">&times;</button>*@
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">             

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <form id="frmSalesOrder" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                          data-ajax="true"
                                          data-ajax-method="post"
                                          method="post" class="validation-wizard wizard-circle">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="InvoiceId" class=" control-label" style="width:100%">No Referencia</label>
                                                    <input type="text" asp-for="InvoiceId" name="InvoiceId" disabled="disabled" class="k-textbox" style="min-width:100%" />
                                                    <span asp-validation-for="InvoiceId" class="text-danger"></span>
                                                </div>
                                            </div>
                                             <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="OrderDate" class="control-label" style="width: 100%;"></label>
                                                    
                                                        <kendo-datetimepicker name="OrderDate"
                                                                              style="width: 100%;"
                                                                              format="dd/MM/yyyy hh:mm:ss"
                                                                              time-format="hh:mm:ss"
                                                                              data-val-required="Fecha factura es requerido"
                                                                              value="Model.OrderDate"></kendo-datetimepicker>
                                                    

                                                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="ExpirationDate" class="control-label" style="width: 100%;"></label>
                                                    
                                                    
                                                        <kendo-datetimepicker name="ExpirationDate"
                                                                              style="width: 100%;"
                                                                              format="dd/MM/yyyy hh:mm:ss"
                                                                              time-format="hh:mm:ss"
                                                                              data-val-required="Fecha de vencimiento es requerido"
                                                                              value="Model.ExpirationDate"></kendo-datetimepicker>
                                                    
                                                    <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="NumeroDEIString" class="control-label"></label>
                                                    <input type="text" asp-for="NumeroDEIString" disabled class="k-textbox" style="min-width: 100%;color:black;font-weight:400" />
                                                </div>
                                            </div>
                                            
                                        </div>

                                            

                                        <div class="row"> 
                                            <div class="col-md-3">
                                                <div class="form-group">

                                                    <label asp-for="CustomerId" class="control-label"></label>
                                                    <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el cliente"
                                                                        datatextfield="CustomerName"
                                                                        datavaluefield="CustomerId"
                                                                        class="form-control-line"
                                                                        onchange="SetCustomerName();"
                                                                        required data-required-msg="El Cliente es requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                            <transport>
                                                                <read url="@Url.Action("GetCustomerActivos", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>

                                            </div>
                                            <div class=" col-md-3" hidden>
                                                <script>
                                                    function buscarofacNombre() {
                                                        var dataObject = {
                                                            firstName: $("#SalesOrderName").val(),
                                                            lastName: $("#SalesOrderName").val()
                                                        };



                                                        var notification = $("#notification").data("kendoNotification");
                                                        $.ajax({
                                                            url: '@Url.Action("GetPersonByName", "OFAC")',
                                                            method: 'POST',
                                                            datatype: "json",
                                                            contentType: 'application/json',
                                                            async: false,
                                                            data: JSON.stringify(dataObject),
                                                            success: function (result) {
                                                                MostrarMensaje("Se encuentra en los listados de OFAC", "Error", "Validación", 6000);

                                                            },
                                                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                                
                                                                 MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 6000);
                                                            }
                                                        });
                                                    }
                                                </script>
                                                <div class="form-group">
                                                    <label asp-for="InvoiceName" class="control-label" style="width:100%"></label>
                                                     <span>
                                                            <input asp-for="InvoiceName" class="k-textbox" style="min-width: 75%" required data-required-msg="El Nombre es requerido" />
                                                           
                                                     </span>
                                                    <span asp-validation-for="InvoiceName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="RTN" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="RTN" class="k-textbox" style="min-width: 100%" onKeyPress="return Numeros(event)" maxlength="40" required data-required-msg="El RTN es requerido" />

                                                    <span asp-validation-for="RTN" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class=" col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Correo" class="control-label" style="width:100%"></label>
                                                        <input type="text" asp-for="Correo" class="form-control" style="min-width: 100%" placeholder="email@ejemplo.com" data-required-msg="El Correo es requerido" maxlength="40" />   
                                                    <span asp-validation-for="Correo" class="text-danger"></span>
                                                </div>
                                            </div>
                                            

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Tefono" class="control-label" style="width:100%">Teléfono</label>
                                                        <input type="text" asp-for="Tefono" class="k-textbox" style="min-width: 100%" onchange="validar()" />
                                                    <span asp-validation-for="Tefono" class="text-danger"></span>
                                                    <span id="telefono" class="text-danger">Complete el número de teléfono!</span>
                                                </div>
                                            </div>
                                            <script>
                                                        function SetCustomerName(e) {
                                                           // console.log(e);
                                                           RefreshContracts();
                                                            if ($("#CustomerId").val() > 0) {
                                                                $("#SalesOrderName").prop('disabled', true);
                                                                $("#SalesOrderName").val($("#CustomerId").data("kendoDropDownList").text());
                                                                var dataObject = { CustomerId: $("#CustomerId").val()};
                                                                  $.ajax({
                                                                     url: '@Url.Action("GetCustomerById", "Customer")',
                                                                     method: 'GET',
                                                                     datatype: "json",
                                                                     contentType: 'application/json',
                                                                     async: false,
                                                                     data: dataObject,
                                                                      success: function (result) {
                                                                          //console.log(result);
                                                                          // setearvalor("TaxPercentage", result.TaxPercentage);
                                                                          $("#InvoiceName").val(result.CustomerName);
                                                                          $("#Direccion").val(result.Address);
                                                                          $("#RTN").val(result.RTN);
                                                                          $("#Correo").val(result.Email);
                                                                          $("#Tefono").val(result.Phone);
                                                                          $("#CustomerRefNumber").val(result.CustomerRefNumber);
                                                                     },
                                                                      error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                                          
                                                                           MostrarMensaje("Error al seleccionar al cliente.", "Error", "Error", 6000);
                                                                       }
                                                                  });
                                                            }
                                                            else {
                                                                $("#SalesOrderName").prop('disabled', false);
                                                            }
                                                        }
                                                    </script>
                                            
                                        </div>
                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="Direccion" class="control-label" style="width:100%">Dirección</label>

                                                    <textarea asp-for="Direccion" class="form-control required" style="min-width: 100% !important;" required data-required-msg="Dirección es requerido" maxlength="200"></textarea>

                                                    <span asp-validation-for="Direccion" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            
                                            
                                            <div class="col-md-3">
                                                <script>
                                                    function GetPuntoEmision() {
                                                        $("#IdPuntoEmision").data("kendoDropDownList").dataSource.read();
                                                    }


                                                    function RefreshContracts() {
                                                        $("#CustomerContractId").data("kendoDropDownList").dataSource.read();
                                                    }

                                                    function GetCliente() {
                                                        return {
                                                            CustomerId: $("#CustomerId").val(),
                                                        };
                                                    }
                                                </script>
                                                <div class="form-group">
                                                    <label asp-for="BranchId" class="control-label"></label>
                                                    <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione la sucursal"
                                                                        datatextfield="BranchName"
                                                                        datavaluefield="BranchId"
                                                                        required data-required-msg="La Sucursal es requerida" readonly
                                                                        onchange="GetPuntoEmision();"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                            <transport>
                                                                <read url="@Url.Action("GetBranchActivos", "Branch")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="BranchId" class="text-danger" ></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="ProductId" class="control-label" style="width:100%">Servicio</label>

                                                    <kendo-dropdownlist name="ProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        for="ProductId"
                                                                        option-label="Seleccione el  producto"
                                                                        datatextfield="ProductName"
                                                                        datavaluefield="ProductId"
                                                                        required data-required-msg="El Producto es requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                            <transport>
                                                                <read url="@Url.Action("GetProductActivos", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>

                                                    <span asp-validation-for="ProductId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="CustomerContractId" class="control-label" style="width:100%">Contrato No</label>

                                                    <kendo-dropdownlist name="CustomerContractId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        for="CustomerContractId"
                                                                        option-label="Seleccione el contrato"
                                                                        datatextfield="ProductName"
                                                                        datavaluefield="CustomerContractId"                                                                      
                                                                        style="width: 100%;"
                                                                        required data-required-msg="Tipo de ventas es requerido">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999" >
                                                            <transport>
                                                                <read url="@Url.Action("GetCustomerActiveContractByCustomerId", "CustomerContract")" data="GetCliente" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>

                                                    <span asp-validation-for="CustomerContractId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            
                                             <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="SalesTypeId" class="control-label" style="width:100%"></label>
                                                                                                     
                                                        <kendo-dropdownlist name="SalesTypeId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            for="SalesTypeId"
                                                                            option-label="Seleccione el tipo de ventas"
                                                                            datatextfield="SalesTypeName"
                                                                            datavaluefield="SalesTypeId"
                                                                            style="width: 100%;"
                                                                            required data-required-msg="Tipo de ventas es requerido">
                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                                <transport>
                                                                    <read url="@Url.Action("Get", "SalesType")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    
                                                    <span asp-validation-for="SalesTypeId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        
                                           

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="NoOCExenta" class="control-label">No. OC Exenta</label>
                                                   
                                                        <input type="text" asp-for="NoOCExenta" class="k-textbox" style="min-width: 100%" maxlength="50" />
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="NoConstanciadeRegistro" class="control-label">No. Constancia Registro Exoneracion</label>
                                                    
                                                        <input type="text" asp-for="NoConstanciadeRegistro" class="k-textbox" style="min-width: 100%" maxlength="50" />
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="NoSAG" class="control-label">No Registro SAG</label>
                                                    
                                                        <input type="text" asp-for="NoSAG" class="k-textbox" style="min-width: 100%" maxlength="50" />
                                                    
                                                </div>
                                            </div>
                                        </div>

                                        
                                    </form>
                                </div>

                                <div class="card">
                                    <div class="card-body">
                                        <div id="salesorderdetail">
                                            @await Html.PartialAsync("pvwInvoiceDetail", Model, new ViewDataDictionary(ViewData) { { "permisosInvoice", permisos } })
                                        </div>

                                        <div id="SalesOrderLineMant">
                                            @await Html.PartialAsync("pvwInvoiceDetailMant", new ERPMVC.Models.InvoiceLine { InvoiceLineId = 0, InvoiceId = Model.InvoiceId })
                                        </div>



                                        <div class="clearfix">&nbsp;</div>
                                        <div class="clearfix">&nbsp;</div>

                                        <form id="TotalesDocumento" kendo-validator="true" kendo-messages="messages" kendo-rules="rules">
                                            <div class="box" id="TotalesDocumento">
                                                <div class="box-body">
                                                    <div class="content-container-fluid">
                                                        <div class="row">
                                                            <hr class="solid">
                                                            <div class="col-md-2">
                                                                <label asp-for="Amount" class="control-label"></label>
                                                                        <kendo-numerictextbox name="Amount"
                                                                                              format="n2"
                                                                                              spinners="false"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                              min="0" disabled class="control-label right bold"
                                                                                              max="999999999"
                                                                                              value="Model.Amount"></kendo-numerictextbox>
                                                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-2">
                                                                 <label asp-for="Discount" class="control-label"></label>
                                                                        <kendo-numerictextbox name="Discount"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                              max="999999999"
                                                                                              disabled class=" control-label right bold"
                                                                                              value="Model.Discount"></kendo-numerictextbox>
                                                                        <span asp-validation-for="Discount" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-2">
                                                                 <label asp-for="SubTotal" class="control-label"></label>
                                                                        <kendo-numerictextbox name="SubTotal"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              required
                                                                                              disabled class="control-label right bold"
                                                                                              style="width: 100%;text-align:right;"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.SubTotal"></kendo-numerictextbox>
                                                                        <span asp-validation-for="SubTotal" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label asp-for="Tax" class="control-label"></label>
                                                                        <kendo-numerictextbox name="Tax"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled class="control-label right bold"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.Tax"></kendo-numerictextbox>
                                                                        <span asp-validation-for="Tax" class="text-danger"></span>
                                                            </div> 
                                                            <div class="col-md-2">
                                                                <label asp-for="Tax18" class="control-label"></label>
                                                                        <kendo-numerictextbox name="Tax18"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled
                                                                                              class="control-label right bold"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.Tax18"></kendo-numerictextbox>
                                                                        <span asp-validation-for="Tax18" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label asp-for="Freight" class="control-label"></label>
                                                                        @if (Model.InvoiceId > 0)
                                                                        {
                                                                            <kendo-numerictextbox name="Freight"
                                                                                                  format="n2" spinners="false"
                                                                                                  style="width: 100%;text-align:right;padding-right:3px"
                                                                                                  min="0"
                                                                                                  required class="control-label right bold"
                                                                                                  onchange="CalcularTotalDocumento();"
                                                                                                  enable="false"
                                                                                                  max="999999999"
                                                                                                  step="1"
                                                                                                  value="Model.Freight"></kendo-numerictextbox>
                                                                        }
                                                                        else
                                                                        {
                                                                            <kendo-numerictextbox name="Freight"
                                                                                                  format="n2" spinners="false"
                                                                                                  style="width: 100%;text-align:right;padding-right:3px"
                                                                                                  min="0"
                                                                                                  required class="control-label right bold"
                                                                                                  onchange="CalcularTotalDocumento();"
                                                                                                  max="999999999"
                                                                                                  step="1"
                                                                                                  value="Model.Freight"></kendo-numerictextbox>
                                                                        }
                                                                        <span asp-validation-for="Freight" class="text-danger"></span>
                                                            </div>


                                                            <hr class="solid">

                                                            <div class="col-md-2">
                                                                <label asp-for="TotalExento" class="control-label"></label>
                                                                        <kendo-numerictextbox name="TotalExento"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled
                                                                                              required class="control-label right bold"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.TotalExento"></kendo-numerictextbox>
                                                                        <span asp-validation-for="TotalExento" class="text-danger"></span>
                                                            </div> 
                                                            <div class="col-md-2">
                                                                 <label asp-for="TotalExonerado" class="control-label"></label>
                                                                        <kendo-numerictextbox name="TotalExonerado"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled
                                                                                              required class="control-label right bold"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.TotalExonerado"></kendo-numerictextbox>
                                                                        <span asp-validation-for="TotalExonerado" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label asp-for="TotalGravado" class="control-label"></label>
                                                                        <kendo-numerictextbox name="TotalGravado"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled
                                                                                              required class="control-label right bold"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.TotalGravado"></kendo-numerictextbox>
                                                                        <span asp-validation-for="TotalGravado" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label asp-for="TotalGravado18" class="control-label"></label>
                                                                        <kendo-numerictextbox name="TotalGravado18"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled
                                                                                              required class="control-label right bold"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.TotalGravado18"></kendo-numerictextbox>
                                                                        <span asp-validation-for="TotalGravado18" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label asp-for="Total" class="control-label"></label>
                                                                        <kendo-numerictextbox name="Total"
                                                                                              format="n2" spinners="false"
                                                                                              min="0"
                                                                                              disabled
                                                                                              required class="control-label right bold"
                                                                                              style="width: 100%;text-align:right;padding-right: 3px;"
                                                                                              max="999999999"
                                                                                              step="1"
                                                                                              value="Model.Total"></kendo-numerictextbox>
                                                                        <span asp-validation-for="Total" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-md-2"></div>
                                                            
                                                            <hr class="solid">
                                                            <div class="col-md-12">
                                                                <label asp-for="Remarks" class="control-label"></label>
                                                                        @if (Model.InvoiceId > 0)
                                                                        {
                                                                            <textarea asp-for="Remarks" class="form-control required " style="min-width: 100%;" disabled></textarea>
                                                                        }
                                                                        else
                                                                        {
                                                                            <textarea asp-for="Remarks" class="form-control required " style="min-width: 100%;"></textarea>
                                                                        }
                                                                        <span asp-validation-for="Remarks" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                        <div class="row">
                                            @if (Model.InvoiceId > 0)
                                            {
                                                @if (Convert.ToBoolean(Model.editar))
                                                {
                                                    <button id="btnSaveInvoice" type="submit" class="form-control btn-miboton " onclick="SaveCotizacion(this);" hidden>Guardar</button>
                                                }
                                            }
                                            else
                                            {
                                                @if (Convert.ToBoolean(Model.editar))
                                                {
                                                    <button id="btnSaveInvoice" type="submit" class="form-control btn-miboton " onclick="SaveCotizacion(this);">Guardar</button>
                                                }
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function validar() {
        var cadena = $("#Tefono").val();
        if (cadena.indexOf("_") > -1 == true) {
            $("#telefono").show();
        }
        else {
            $("#telefono").hide();
        }
    }
</script>

<script>
    function Numeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return (key >= 48 && key <= 57)
    }

    $(document).ready(function () {
        $("#Tefono").kendoMaskedTextBox({
            mask: "(999) 0000-0000"
        });

        $("#telefono").hide();
    });
    function SoloNumeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "1234567890.";
        especiales = "8-37-39-46";
        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }
        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }


    function GetProductIdS() {
        return { 'ProductId': $("#ProductId").val() }
    }


    function RefreshCotizaciones() {
        var grid = $("#gridInvoices").getKendoGrid();
        grid.dataSource.read();
    }

    function SaveCotizacion(e) {
            // e.preventDefault();
            $("#btnSaveInvoice").hide();
            $("#btnSaveInvoice").prop("disabled", true);
            var validadetalle = true;
            var displayedData = $("#gridInvoiceDetail").data().kendoGrid.dataSource.view();
            for (var i = 0; i < displayedData.length; i++) {
                //displayedData[i].InvoiceLineId = 0;
                if (displayedData[i].TaxCode === '' || displayedData[i].TaxCode === null
                    || displayedData[i].Total === 0) {
                    //notification.show({
                    //    title: "Validación",
                    //    message: "No Ingreso el codigo de impuesto"
                    //}, "error");
                    //$.toast({
                    //    heading: 'Validación',
                    //    text: ' No ingreso el código de impuesto',
                    //    position: 'top-right',
                    //    loaderBg: '#ff6849',
                    //    icon: 'error',
                    //    hideAfter: 30000,
                    //    stack: 6
                    //});
                    MostrarMensaje(' No ingreso el código de impuesto', "Error", "EValidaciónrror", 6000);
                    validadetalle = false;
                }
            }
        var displayedData = $("#gridInvoiceDetail").data().kendoGrid.dataSource.view();
        var id = 0;
        if ($("#InvoiceId").val() == 0) {
            if (displayedData.length > 0) {
                for (var i = 0; i < displayedData.length; i++) {
                    if (displayedData[i].InvoiceLineId > id)
                        displayedData[i].InvoiceLineId = 0;



                }
            }
        }
            if (validadetalle) {
                var dataObject = {
                    'InvoiceId': $("#InvoiceId").val() === "" ? "0" : $("#InvoiceId").val(),
                    'InvoiceName': $("#InvoiceName").val(),
                    'BranchId': $("#BranchId").val(),
                    'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                    'IdPuntoEmision': $("#IdPuntoEmision").val(),
                    'Caja': $("#IdPuntoEmision").data("kendoDropDownList").text(),
                    'CustomerId': $("#CustomerId").val(),
                    'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
                    'ProductId': $("#ProductId").val(),
                    'ProductName': $("#ProductId").data("kendoDropDownList").text(),
                    'OrderDate': $("#OrderDate").getKendoDateTimePicker().value().toJSON(),
                    'InvoiceDate': $("#OrderDate").getKendoDateTimePicker().value().toJSON(),
                    // 'DeliveryDate': $("#DeliveryDate").getKendoDateTimePicker().value().toJSON(),
                    'ExpirationDate': $("#ExpirationDate").getKendoDateTimePicker().value().toJSON(),
                    'CurrencyId': Number($("#CurrencyId").val()),
                    'CurrencyName': $("#CurrencyId").data("kendoDropDownList").text(),
                    'CustomerRefNumber': $("#CustomerRefNumber").val(),
                    'SalesTypeId': $("#SalesTypeId").val(),
                    'NoOCExenta': $("#NoOCExenta").val(),
                    'NoSAG': $("#NoSAG").val(),
                    'NoConstanciadeRegistro': $("#NoConstanciadeRegistro").val(),
                    'Remarks': $("#Remarks").val(),
                    'Amount': $("#Amount").val(),
                    'SubTotal': $("#SubTotal").val(),
                    'Discount': $("#Discount").val(),
                    'Tax': $("#Tax").val(),
                    'Tax18': $("#Tax18").val(),
                    'Freight': $("#Freight").val(),
                    'Total': $("#Total").val(),
                    'Correo': $("#Correo").val(),
                    'Direccion': $("#Direccion").val(),
                    'RTN': $("#RTN").val(),
                    'Tefono': $("#Tefono").val(),
                    'TotalExento': $("#TotalExento").val(),
                    'TotalExonerado': $("#TotalExonerado").val(),
                    'TotalGravado': $("#TotalGravado").val(),
                    'TotalGravado18': $("#TotalGravado18").val(),
                    'SalesOrderId': ($("#cbxBuscarCotizaciones").val() === '' ? 0 : $("#cbxBuscarCotizaciones").val()),
                    'CertificadoDepositoId': $("#cbxBuscarFacturaProforma").val() === '' ? 0 : $("#cbxBuscarFacturaProforma").val(),
                    'CustomerAreaId': $("#cbxBuscarCustomerArea").val() === '' ? 0 : $("#cbxBuscarCustomerArea").val(),
                    'ProformaInvoiceId': $("#cbxBuscarFacturaProforma").val() === '' ? 0 : $("#cbxBuscarFacturaProforma").val(),
                    'InvoiceLine': displayedData,

                };


                //if (Number($("#Total").val()) <= 0 || Number($("#SubTotal").val()) <= 0) {
                //    $.toast({
                //        heading: 'Validación',
                //        text: ' No se estan calculando correctamente los totales',
                //        position: 'top-right',
                //        loaderBg: '#ff6849',
                //        icon: 'error',
                //        hideAfter: 30000,
                //        stack: 6
                //    });
                //    $("#btnSaveInvoice").show();
                //    $("#btnSaveInvoice").prop("disabled", false);
                //    return;

                //}

                var validator = $("#frmSalesOrder").data("kendoValidator");
                var validator2 = $("#TotalesDocumento").data("kendoValidator");
                var status = $(".status");

                if (displayedData.length > 0) {
                    if (validator.validate() && validator2.validate()) {

                        $.ajax({
                            url: '@Url.Action("SaveInvoice", "Invoice")',
                            method: 'POST',
                            datatype: "json",
                            //  contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                            contentType: 'application/json',
                            async: false,
                            data: JSON.stringify(dataObject),
                            success: function (data) {

                                $("#InvoiceId").val(data.InvoiceId);
                                $("#NumeroDEIString").val(data.NumeroDEIString);

                                //$.toast({
                                //    heading: 'Satisfactorio',
                                //    text: 'Datos guardados correctamente.',
                                //    position: 'top-right',
                                //    loaderBg: '#ff6849',
                                //    icon: 'success',
                                //    hideAfter: 7000,
                                //    stack: 6
                                //});
                                 MostrarMensaje('Datos guardados correctamente.', "success", "Satisfactorio", 6000);
                                //notification.show({
                                //    message: "Guardado correctamente!"
                                //}, "upload-success");
                                $('#myModalSalesOrder').modal('hide');

                                RefreshCotizaciones();
                                //  $('#myModalSalesOrder').modal('hide');

                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {

                                //notification.show({
                                //    title: "Validacion",
                                //    message: textStatus + ": " + XMLHttpRequest.responseText
                                //}, "error");

                                //$.toast({
                                //    heading: 'Validación',
                                //    text: textStatus + ": " + XMLHttpRequest.responseText,
                                //    position: 'top-right',
                                //    loaderBg: '#ff6849',
                                //    icon: 'error',
                                //    hideAfter: 30000,
                                //    stack: 6
                                //});
                                 MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 6000);
                                $("#btnSaveInvoice").show();
                                $("#btnSaveInvoice").prop("disabled", false);
                                //$.toast({
                                //    heading: 'Validación',
                                //    text: ''+  textStatus ,
                                //    position: 'top-right',
                                //    loaderBg: '#ff6849',
                                //    icon: 'error',
                                //    hideAfter: 30000,
                                //    stack: 6
                                //});
                                //notification.show({
                                //    title: "Validación",
                                //    message: textStatus + ": " + XMLHttpRequest.responseText
                                //}, "error");
                            }
                        });
                    }
                    else {
                        //notification.show({
                        //    title: "Validación",
                        //    message: "Datos incorrectos en el formulario!"
                        //}, "error");

                        //$.toast({
                        //    heading: 'Validación',
                        //    text: 'Datos incorrectos en el formulario!',
                        //    position: 'top-right',
                        //    loaderBg: '#ff6849',
                        //    icon: 'error',
                        //    hideAfter: 30000,
                        //    stack: 6
                        //});
                         MostrarMensaje( 'Datos incorrectos en el formulario!', "Error", "Validación", 6000);
                        $("#btnSaveInvoice").show();
                        $("#btnSaveInvoice").prop("disabled", false);
                    }
                }
                else {
                    //notification.show({
                    //    title: "Validación",
                    //    message: "Debe agregar los productos!"
                    //}, "error");
                    //$.toast({
                    //    heading: 'Validación',
                    //    text: 'Debe agregar los productos!',
                    //    position: 'top-right',
                    //    loaderBg: '#ff6849',
                    //    icon: 'error',
                    //    hideAfter: 30000,
                    //    stack: 6
                    //});
                    MostrarMensaje('Debe agregar los productos!', "Error", "Validación", 6000);
                    $("#btnSaveInvoice").show();
                    $("#btnSaveInvoice").prop("disabled", false);
                }

            }
            else {
                $("#btnSaveInvoice").show();
                $("#btnSaveInvoice").prop("disabled", false);
            }
    }

    $("#cbxBuscarCotizaciones").change(function () {
        BloquearDropDownListAsociacion();
    })

    $("#cbxBuscarFacturaProforma").change(function () {
        BloquearDropDownListAsociacion();
    })

    function BloquearDropDownListAsociacion() {
       //debugger;
        var BuscarCotizacion = $("#cbxBuscarCotizaciones").data("kendoDropDownList").value();
        var BuscarFacturaProforma = $("#cbxBuscarFacturaProforma").data("kendoDropDownList").value();
        if (BuscarCotizacion == "" && BuscarFacturaProforma == "") {
            //$("#cbxBuscarCotizaciones").enable(true);
            $("#cbxBuscarCotizaciones").data("kendoDropDownList").enable(true);
            $("#cbxBuscarFacturaProforma").data("kendoDropDownList").enable(true);
            //$("#cbxBuscarFacturaProforma").enable(true);
        }
        else if (BuscarCotizacion > 0 && BuscarFacturaProforma == "") {
            $("#cbxBuscarFacturaProforma").data("kendoDropDownList").value("");
            $("#cbxBuscarFacturaProforma").data("kendoDropDownList").enable(false);
        }
        else if (BuscarFacturaProforma > 0 && BuscarCotizacion == "") {
            $("#cbxBuscarCotizaciones").data("kendoDropDownList").value("");
            $("#cbxBuscarCotizaciones").data("kendoDropDownList").enable(false);
        }
    }

</script>
