@model ERPMVC.DTO.InvoiceDTO
@using System.Security.Claims
@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                {"required","Valor requerido" }
                            };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];
}

<style>
    hr.solid {
        border-top: 1px solid #bbb;
        width: 100%;
    }
</style>



<script>
    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        //if (input.attr('name') === "SubProductId" && input.val() === "0") {
        //    return false;
        //}

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }
        return true;
    }

    function SetCustomerName(e) {
        if ($("#CustomerId").val() > 0) {
            $("#SalesOrderName").prop('disabled', true);
            $("#SalesOrderName").val($("#CustomerId").data("kendoDropDownList").text());
            var dataObject = { CustomerId: $("#CustomerId").val() };
            $.ajax({
                url: '@Url.Action("GetCustomerById", "Customer")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: dataObject,
                success: function (result) {
                    $("#InvoiceName").val(result.CustomerName);
                    $("#Direccion").val(result.Address);
                    $("#RTN").val(result.RTN);
                    $("#Correo").val(result.Email);
                    $("#Tefono").val(result.Phone);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                    MostrarMensaje("Error al seleccionar al cliente.", "Error", "Error", 6000);
                }
            });
        }
        else {
            $("#SalesOrderName").prop('disabled', false);
        }
    }
    function GetPuntoEmision() {
        $("#IdPuntoEmision").data("kendoDropDownList").dataSource.read();
    }


    function RefreshContracts() {
        $("#CustomerContractId").data("kendoDropDownList").dataSource.read();
        RefreshInvoiceDetail();
    }

    function GetClienteService() {
        return {
            CustomerId: $("#CustomerId").val(),
            Service: $("#ProductId").val(),
        };
    }
    function QuitarModal() {
        $('#myModalSalesOrder').modal('hide');
    }
</script>


<div id="myModalSalesOrder" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Facturación</h4>
                
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">             

                <div class="container-fluid">
                    <div class="card">
                                <div class="card-body">
                                    <form id="frmSalesOrder" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                          data-ajax="true"
                                          data-ajax-method="post"
                                          method="post" class="validation-wizard wizard-circle">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="InvoiceId" class=" control-label" style="width:100%">No Proforma</label>
                                                    <input type="text" asp-for="InvoiceId" name="InvoiceId" disabled="disabled" class="k-textbox" style="min-width:100%" />
                                                    <span asp-validation-for="InvoiceId" class="text-danger"></span>
                                                </div>
                                            </div>
                                             <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="OrderDate" class="control-label" style="width: 100%;">Fecha</label>
                                                    
                                                        <kendo-datetimepicker name="OrderDate"
                                                                              style="width: 100%;"
                                                                              format="dd/MM/yyyy hh:mm:ss"
                                                                              time-format="hh:mm:ss"
                                                                              data-val-required="Fecha factura es requerido"
                                                                              value="Model.OrderDate"></kendo-datetimepicker>

                                                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="SalesTypeId" class="control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="SalesTypeId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        for="SalesTypeId"
                                                                        option-label="Seleccione el tipo de ventas"
                                                                        datatextfield="SalesTypeName"
                                                                        datavaluefield="SalesTypeId"
                                                                on-change="onChangeTipoVentas"
                                                                        style="width: 100%;"
                                                                        required data-required-msg="Tipo de ventas es requerido">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "SalesType")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>

                                                    <span asp-validation-for="SalesTypeId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <script>
                                                function onChangeTipoVentas(){
                                                    var tipoventas = $("#SalesTypeId").data("kendoDropDownList").text();
                                                    if(tipoventas == 'Contado'){
                                                        $("#DiasVencimiento").attr("readonly", true);
                                                        $("#DiasVencimiento").val(0);
                                                    }else{
                                                        $("#DiasVencimiento").attr("readonly", false);
                                                        $("#DiasVencimiento").val(30);
                                                    }
                                                
                                                }
                                            </script>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="DiasVencimiento" class=" control-label" style="width:100%">Dias Vencimiento</label>
                                            <input type="number" asp-for="DiasVencimiento" name="DiasVencimiento" id="DiasVencimiento" class="k-textbox" style="min-width:100%" />
                                                    <span asp-validation-for="DiasVencimiento" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3" hidden>
                                                <div class="form-group">
                                                    <label asp-for="ExpirationDate" class="control-label" style="width: 100%;">Vencimiento</label>
                                                    
                                                    
                                                        <kendo-datetimepicker name="ExpirationDate"
                                                                              style="width: 100%;"
                                                                              format="dd/MM/yyyy hh:mm:ss"
                                                                              time-format="hh:mm:ss"
                                                                              data-val-required="Fecha de vencimiento es requerido"
                                                                              value="Model.ExpirationDate"></kendo-datetimepicker>
                                                    
                                                    <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                            
                                        </div>

                                        <div class="row" id="datosfiscales" style="display:none">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="NumeroDEI" class="control-label">Factura No</label>
                                                    <input type="text" asp-for="NumeroDEI" readonly class="k-textbox" style="min-width: 100%;color:black;font-weight:400" />
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="CAI" class="control-label">CAI</label>
                                                    <input type="text" readonly asp-for="CAI" class="k-textbox" style="min-width: 100%;color:black;font-weight:400" />
                                                </div>
                                            </div>

                                            <div class="col-md-2" hidden>
                                                <div class="form-group">
                                                    <label asp-for="NoInicio" class="control-label">No Inicio</label>
                                                    <input type="text" readonly asp-for="NoInicio"  class="k-textbox" style="min-width: 100%;color:black;font-weight:400" />
                                                </div>
                                            </div>

                                            <div class="col-md-2" hidden>
                                                <div class="form-group">
                                                    <label asp-for="NoFin" class="control-label">No Final</label>
                                                    <input type="text" readonly asp-for="NoFin" class="k-textbox"  style="min-width: 100%;color:black;font-weight:400" />
                                                </div>
                                            </div>

                                            <div class="col-md-3" >
                                                <div class="form-group">
                                                    <label asp-for="Rango" class="control-label">Rango</label>
                                                    <input type="text" readonly asp-for="Rango" class="k-textbox" style="min-width: 100%;color:black;font-weight:400" />
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="FechaLimiteEmision" class="control-label">Fecha Limite Emision</label>
                                                    <kendo-datetimepicker name="FechaLimiteEmision" readonly
                                                                              style="width: 100%;"
                                                                              format="dd/MM/yyyy hh:mm:ss"
                                                                              time-format="hh:mm:ss"
                                                                              data-val-required="Fecha factura es requerido"
                                                                          value="Model.FechaLimiteEmision"></kendo-datetimepicker>
                                                </div>
                                            </div>
                                        </div>

                                            

                                        <div class="row" hidden>                                             
                                            <div class=" col-md-3" >                                                
                                                <div class="form-group">
                                                    <label asp-for="InvoiceName" class="control-label" style="width:100%"></label>
                                                     <span>
                                                            <input asp-for="InvoiceName" class="k-textbox" style="min-width: 75%" required data-required-msg="El Nombre es requerido" />                                                          
                                                     </span>
                                                    <span asp-validation-for="InvoiceName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="RTN" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="RTN" class="k-textbox" style="min-width: 100%" onKeyPress="return Numeros(event)" maxlength="40" required data-required-msg="El RTN es requerido" />

                                                    <span asp-validation-for="RTN" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class=" col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Correo" class="control-label" style="width:100%"></label>
                                                        <input type="text" asp-for="Correo" class="form-control" style="min-width: 100%" placeholder="email@ejemplo.com" data-required-msg="El Correo es requerido" maxlength="40" />   
                                                    <span asp-validation-for="Correo" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Tefono" class="control-label" style="width:100%">Teléfono</label>
                                                        <input type="text" asp-for="Tefono" class="k-textbox" style="min-width: 100%" onchange="validar()" />
                                                    <span asp-validation-for="Tefono" class="text-danger"></span>
                                                    <span id="telefono" class="text-danger">Complete el número de teléfono!</span>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="Direccion" class="control-label" style="width:100%">Dirección</label>

                                                    <textarea asp-for="Direccion" class="form-control required" style="min-width: 100% !important;" required data-required-msg="Dirección es requerido" maxlength="200"></textarea>

                                                    <span asp-validation-for="Direccion" class="text-danger"></span>
                                                </div>
                                            </div>
                                            
                                            
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="BranchId" class="control-label"></label>
                                                    <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione la sucursal"
                                                                        datatextfield="BranchName"
                                                                        datavaluefield="BranchId"
                                                                        required data-required-msg="La Sucursal es requerida"
                                                                        onchange="GetPuntoEmision();"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                            <transport>
                                                                <read url="@Url.Action("GetBranchActivos", "Branch")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">

                                                    <label asp-for="CustomerId" class="control-label">Cliente</label>
                                                    <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el cliente"
                                                                        datatextfield="CustomerName"
                                                                        datavaluefield="CustomerId"
                                                                        on-change="RefreshInvoiceDetail"
                                                                        class="form-control-line"
                                                                        onchange="SetCustomerName();"
                                                                        required data-required-msg="El Cliente es requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                            <transport>
                                                                <read url="@Url.Action("GetCustomerActivos", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="ProductId" class="control-label" style="width:100%">Servicio</label>

                                                    <kendo-dropdownlist name="ProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        for="ProductId"
                                                                        option-label="Seleccione el  producto"
                                                                        datatextfield="ProductName"
                                                                        datavaluefield="ProductId"
                                                                        on-change="RefreshContracts"
                                                                        required data-required-msg="El Producto es requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                            <transport>
                                                                <read url="@Url.Action("GetProductActivos", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>

                                                    <span asp-validation-for="ProductId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="CustomerContractId" class="control-label" style="width:100%">Contrato No</label>
                                                    @if (Model.InvoiceId == 0)
                                                    {
                                                        <kendo-dropdownlist name="CustomerContractId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        for="CustomerContractId"
                                                                        option-label="Contrato Pendiente"
                                                                        datatextfield="CustomerContractId"
                                                                        datavaluefield="CustomerContractId"
                                                                        on-change="RefreshInvoiceDetail"
                                                                        cascade-from="CustomerId"
                                                                        cascade-from-parent-field="ProductId"
                                                                        style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                                <transport>
                                                                    <read url="@Url.Action("GetByCustomerService", "CustomerContract")" data="GetClienteService" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    }else{
                                                <input type="number" readonly asp-for="CustomerContractId" class="k-textbox" style="min-width: 100%" maxlength="50" />
                                                    }
                                                    

                                                </div>
                                            </div>
                                            
                                        </div>  
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                <label class="control-label" style="min-width:100%">Exonerado</label>
                                            <kendo-switch name="Exonerado" for="Exonerado" checked="@Model.Exonerado" on-change="onChangeExonerado">
                                                        <messages checked="Si" unchecked="No" />
                                                    </kendo-switch>
                                                </div>
                                            </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label" style="min-width:100%">Exento</label>
                                            <kendo-switch name="Exento" for="Exento" checked="@Model.Exento" on-change="onChangeExonerado">
                                                <messages checked="Si" unchecked="No" />
                                            </kendo-switch>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <label asp-for="Sinopsis" class="control-label"></label>

                                        <textarea asp-for="Sinopsis" class="form-control required " style="min-width: 100%;"></textarea>

                                        <span asp-validation-for="Sinopsis" class="text-danger"></span>
                                    </div>
                                           
                                            
                                        </div>
                                         <div id="datosexonerado" class="row" >
                                                <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="NoOCExenta" class="control-label">No. OC Exenta</label>
                                                   
                                                        <input type="text" asp-for="NoOCExenta" class="k-textbox" style="min-width: 100%" maxlength="50" />
                                                    
                                                </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label asp-for="NoConstanciadeRegistro" class="control-label">No. Constancia Registro Exoneracion</label>
                                                    
                                                            <input type="text" asp-for="NoConstanciadeRegistro" class="k-textbox" style="min-width: 100%" maxlength="50" />
                                                    
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label asp-for="NoSAG" class="control-label">No Registro SAG</label>
                                                    
                                                            <input type="text" asp-for="NoSAG" class="k-textbox" style="min-width: 100%" maxlength="50" />
                                                        <input type="text" asp-for="Estado" hidden class="k-textbox" style="min-width: 100%" maxlength="50" />
                                                    </div>
                                                </div>
                                            </div>
                               
                                       
                                    </form>

                                <div class="row">
                                    <div class="col-md-12">
                                        <label asp-for="Remarks" class="control-label"></label>

                                        <textarea asp-for="Remarks" class="form-control required " style="min-width: 100%;"></textarea>

                                        <span asp-validation-for="Remarks" class="text-danger"></span>
                                    </div>
                                </div>
                                

                                <div id="salesorderdetail">
                                    @await Html.PartialAsync("pvwInvoiceDetail", Model, new ViewDataDictionary(ViewData) { { "permisosInvoice", permisos } })
                                </div>
                                <div class="row" style="display:none">


                                    <div class="col-md-2">
                                        <label asp-for="TotalExento" class="control-label"></label>
                                        <kendo-numerictextbox name="TotalExento"
                                                              format="n2" spinners="false"
                                                              min="0"
                                                              disabled
                                                              required class="control-label right bold"
                                                              style="width: 100%;text-align:right;padding-right: 3px"
                                                              max="999999999"
                                                              step="1"
                                                              value="Model.TotalExento"></kendo-numerictextbox>
                                        <span asp-validation-for="TotalExento" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <label asp-for="TotalExonerado" class="control-label"></label>
                                        <kendo-numerictextbox name="TotalExonerado"
                                                              format="n2" spinners="false"
                                                              min="0"
                                                              disabled
                                                              required class="control-label right bold"
                                                              style="width: 100%;text-align:right;padding-right: 3px;"
                                                              max="999999999"
                                                              step="1"
                                                              value="Model.TotalExonerado"></kendo-numerictextbox>
                                        <span asp-validation-for="TotalExonerado" class="text-danger"></span>
                                    </div>


                                </div>




                                <div class="row">
                                    @if (Model.InvoiceId == 0 || ( Model.Estado != "Emitido" && Model.Estado != "Anulado" ) )
                                    {
                                        <button id="btnSaveInvoice" type="submit" class="form-control btn-miboton " onclick="SaveCotizacion(this);">Guardar</button>
                                    }
                                </div>
                        </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function validar() {
        var cadena = $("#Tefono").val();
        if (cadena.indexOf("_") > -1 == true) {
            $("#telefono").show();
        }
        else {
            $("#telefono").hide();
        }
    }
</script>

<script>

    function GetClienteService() {
        return {
            CustomerId: $("#CustomerId").val(),
            Service: $("#ProductId").val(),
        };
    }
    function Numeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return (key >= 48 && key <= 57)
    }

    function GetProductType(){
        return { ProductType:1}
    }

    $(document).ready(function () {
        $("#Tefono").kendoMaskedTextBox({
            mask: "(999) 0000-0000"
        });

        $("#telefono").hide();

        var cai = $("#CAI").val();
        if (cai === null || cai === ''){
            $("#datosfiscales").hide();
            //$("#datosExonerado").hide();
            
        }else{
            $("#datosExonerado").show();
            $("#datosfiscales").show();
        }
        var exo = $("#Exonerado").data("kendoSwitch");
        var exonerado = exo.check();
        
    });
    function SoloNumeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "1234567890.";
        especiales = "8-37-39-46";
        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }
        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }


    function GetProductIdS() {
        return { 'ProductId': $("#ProductId").val() }
    }


    function RefreshCotizaciones() {
        var grid = $("#gridInvoices").getKendoGrid();
        grid.dataSource.read();
    }

    function SaveCotizacion(e) {
        try {
            $("#btnSaveInvoice").prop("disabled", true);
            var validadetalle = true;
            var displayedData = $("#gridInvoiceDetail").data().kendoGrid.dataSource.view();
            if (displayedData.length <= 0) {
                MostrarMensaje('Debe agregar los productos!', "Error", "Validación", 6000);
            }
            for (var i = 0; i < displayedData.length; i++) {
                if (displayedData[i].Total == 0) {
                    MostrarMensaje('No pueden ir datos vacios en el detalle la factura', "Error", "EValidaciónrror", 6000);
                    return;
                }
            }
            var id = 0;
            var validator = $("#frmSalesOrder").data("kendoValidator");
            var status = $(".status");

            if (!validator.validate()) {
                MostrarMensaje('Datos incorrectos en el formulario!', "Error", "Validación", 6000);
                $("#btnSaveInvoice").show();
                $("#btnSaveInvoice").prop("disabled", false);
            }

            var exo = $("#Exonerado").data("kendoSwitch");
            var exonerado =  exo.check();

            var exe = $("#Exento").data("kendoSwitch");
            var exento =  exe.check();

            var dataObject = {
                'InvoiceId': $("#InvoiceId").val() === "" ? "0" : $("#InvoiceId").val(),
                'InvoiceName': $("#InvoiceName").val(),
                'BranchId': $("#BranchId").val(),
                'CustomerContractId': $("#CustomerContractId").val(),
                'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                'CustomerId': $("#CustomerId").val(),
                'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
                'ProductId': $("#ProductId").val(),
                'ProductName': $("#ProductId").data("kendoDropDownList").text(),
                'OrderDate': $("#OrderDate").getKendoDateTimePicker().value().toJSON(),
                'InvoiceDate': $("#OrderDate").getKendoDateTimePicker().value().toJSON(),
                'ExpirationDate': $("#ExpirationDate").getKendoDateTimePicker().value().toJSON(),
                'SalesTypeId': $("#SalesTypeId").val(),
                'NoOCExenta': $("#NoOCExenta").val(),
                'NoSAG': $("#NoSAG").val(),
                'NoConstanciadeRegistro': $("#NoConstanciadeRegistro").val(),
                'Remarks': $("#Remarks").val(),
                'Correo': $("#Correo").val(),
                'Direccion': $("#Direccion").val(),
                'RTN': $("#RTN").val(),
                'Estado': $("#Estado").val(),
                'Tefono': $("#Tefono").val(),
                'TotalExento': $("#TotalExento").val(),
                'TotalExonerado': $("#TotalExonerado").val(),
                'NumeroDEI': $('#NumeroDEI').val(),
                'CAI': $('#CAI').val(),
                'Sinopsis': $('#Sinopsis').val(),
                'NoInicio': $('#NoInicio').val(),
                'NoFin': $('#NoFin').val(),
                'FechaLimiteEmision': $("#FechaLimiteEmision").getKendoDateTimePicker().value().toJSON(),
                'Rango': $('#Rango').val(),
                'DiasVencimiento': $('#DiasVencimiento').val(),
                'Exonerado': exonerado,
                'Exento': exento,
                'InvoiceLine': displayedData,

            };

            $.ajax({
                url: '@Url.Action("SaveInvoice", "Invoice")',
                method: 'POST',
                datatype: "json",
                //  contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (data) {

                    MostrarMensaje('Datos guardados correctamente.', "success", "Satisfactorio", 6000);
                    $('#myModalSalesOrder').modal('hide');

                    RefreshCotizaciones();

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 6000);
                    $("#btnSaveInvoice").show();
                    $("#btnSaveInvoice").prop("disabled", false);
                }
            });
        } catch (ex) {
            console.log(ex);
        } finally {
            $("#btnSaveInvoice").show();
            $("#btnSaveInvoice").prop("disabled", false);
        }
            

        

    }


</script>
