@model ERPMVC.DTO.EndososDTO
@using System.Security.Claims

@{
    Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                        {"required","Valor requerido" }
                                    };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];

    bool editar = Model.EndososCertificadosId == 0;
    string cascadacliente = editar ? "CustomerId" : "";

    DateTime? fechacancelacion = Model.editar == 1 ? null : Model.FechaCancelacion; 
}



<script>


    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }



        return true;
    }

    function closeEndosos() {
        $("#myModalEndosos").modal('hide');
        var grid = $("#gridEndosos").getKendoGrid();
        grid.dataSource.read();
    }



</script>

<script>
    function valueMapper(options) {
    $.ajax({
        url: "@Url.Action("Orders_ValueMapper", "CertificadoDeposito")",
        data: convertValues(options.value),
        success: function (data) {
            options.success(data);
        }
    });
    }

    function convertValues(value) {
    var data = {};
    value = $.isArray(value) ? value : [value];

    for (var idx = 0; idx < value.length; idx++) {
        data["values[" + idx + "]"] = value[idx];
    }

    return data;
    }
    function changesetearvalues() {
        var IdCD = $("#IdCD").val();
        IdCD = IdCD > 0 ? IdCD : 0 ;
        var dataObject = { 'IdCD': IdCD };
        $.ajax({
                            url: '@Url.Action("GetCertificadoDepositoById", "CertificadoDeposito")',
                            method: 'POST',
                            datatype: "json",
                            contentType: 'application/json',
                            async: false,
                            data: JSON.stringify(dataObject),
                            success: function (data) {
                                $("#BankId").data("kendoDropDownList").value(data.BankId);
                                $("#ProductId").data("kendoDropDownList").value(data.ServicioId);    
                                $("#FirmadoEn").val(data.SituadoEn);
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {                                
                                notification.show({
                                    title: "Validacion",
                                    message: textStatus + ": " + XMLHttpRequest.responseText
                                }, "error");

                            }
                        });
        var grid = $("#gridEndososDetail").getKendoGrid();
        grid.dataSource.read();

        
       
    }



</script>

<div id="myModalEndosos" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Información Endosos</h4>
                <button type="button" class="close" onclick="closeEndosos();">&times;</button>
            </div>
            <div class="modal-body">


                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">


                            <div class="card-body">
                                <form id="frmEndosos" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                      method="post" class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-3" >
                                                <div class="form-group">
                                                    <label asp-for="EndososCertificadosId" class="control-label" style="width:100%">No Endoso</label>
                                                    <input type="text" id="EndososCertificadosId" name="EndososCertificadosId" class="k-textbox" readonly style="min-width:100%" asp-for="EndososCertificadosId" hidden/>
                                                    <input type="text"  name="NoCD" class="k-textbox" readonly style="min-width:100%" asp-for="NoCD" />
                                                    <span asp-validation-for="EndososCertificadosId" class="text-danger"></span>
                                                </div>

                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="DocumentDate" class=" control-label" style="width: 100%;">Fecha de Registro</label>
                                                    <kendo-datetimepicker name="DocumentDate"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.DocumentDate" />

                                                    <span asp-validation-for="DocumentDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="FechaOtorgado" class=" control-label" style="width: 100%;"></label>
                                                    <kendo-datetimepicker name="FechaOtorgado" 
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          date-input="false"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.FechaOtorgado" />

                                                    <span asp-validation-for="FechaOtorgado" class="text-danger"></span>
                                                 </div>
                                            </div>


                                            <div class=" col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="BankId" class="control-label" style="width:100%">Banco Beneficiario</label>
                                                    <kendo-dropdownlist name="BankId" for="@Model.BankId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el banco"
                                                                        datatextfield="BankName"
                                                                        datavaluefield="BankId"
                                                                        auto-bind="true"
                                                                        required enable="Model.EndososCertificadosId== 0"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetJsonActivos", "Bank")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <script>

                                                    function GetSubProduct(e) {
                                                        var dataItem = e.dataItem;
                                                        $("#hcustomerid").val(dataItem.CustomerId);
                                                        hcustom = dataItem.CustomerId;
                                                        $("#SubProductId").data("kendoDropDownList").dataSource.read();

                                                    }

                                                    function GetCustomer(e) {
                                                        return {
                                                            CustomerId: $("#CustomerId").val()
                                                        }

                                                    }



                                                </script>


                                                <label asp-for="CustomerId" class="control-label"></label>
                                                <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione el cliente"
                                                                    required
                                                                    enable="Model.EndososCertificadosId==0"
                                                                    datatextfield="CustomerName"
                                                                    datavaluefield="CustomerId"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" page-size="100000">
                                                        <transport>
                                                            <read url="@Url.Action("GetCustomerActivos", "Common")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                @*<span asp-validation-for="CustomerId" class="text-danger"></span>*@
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label asp-for="IdCD" class="control-label" style="width:100%">Certificado de deposito</label>

                                                <input type="hidden" id="singuardar" value="0" />
                                                @if(Model.EndososCertificadosId != 0)
                                                {
                                                    <input type="text"  name="IdCD" class="k-textbox" readonly style="min-width:100%" asp-for="IdCD" />


                                                }
                                                else
                                                {
                                                    <kendo-dropdownlist name="IdCD" for="@Model.IdCD" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione el Certificado"
                                                                    datatextfield="Comentario"
                                                                    datavaluefield="IdCD"
                                                                    cascade-from="@cascadacliente"
                                                                    on-change="changesetearvalues"
                                                                    enable="editar"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" page-size="100000">
                                                        <transport>
                                                            <read url="@Url.Action("GetCertificadosNoEndosados", "CertificadoDeposito")" data="GetCustomer" />
                                                        </transport>
                                                    </datasource>
                                                    </kendo-dropdownlist>
                                                }

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="ProductId" class="control-label" style="width:100%">Servicio</label>
                                                <kendo-dropdownlist name="ProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    for="ProductId"
                                                                    option-label="Seleccione el Servicio"
                                                                    datatextfield="ProductName"
                                                                    datavaluefield="ProductId"
                                                                    required enable="false"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi">
                                                        <transport>
                                                            <read url="@Url.Action("GetProductActivos", "Common")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                                <span asp-validation-for="ProductId" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="TasaDeInteres" class="control-label" style="width:100%"></label>
                                                <kendo-numerictextbox name="TasaDeInteres"
                                                                      format="n"
                                                                      min="0" 
                                                                      enable="@Model.EndososCertificadosId == 0"
                                                                      max="100"
                                                                      spinners="false"
                                                                      step="1"
                                                                      style="width: 100%;"
                                                                      value="Model.TasaDeInteres" />
                                                <span asp-validation-for="TasaDeInteres" class="text-danger"></span>
                                            </div>

                                        </div>
                                         <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label" style="min-width:100%">Moneda</label>
                                                    <kendo-dropdownlist class="control-label" style="min-width:100%" value="@Model.CurrencyId" for="CurrencyId"
                                                                        name="CurrencyId"
                                                                        datatextfield="CurrencyName"
                                                                        datavaluefield="CurrencyId"
                                                                        enable="editar"
                                                                        option-label="Seleccione Moneda">
                                                        <datasource page-size="999" type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetCurrency","Currency")" />
                                                            </transport>
                                                        </datasource>

                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="ValorEndosar" class="control-label" style="width:100%"></label>
                                                <kendo-numerictextbox name="ValorEndosar"
                                                                      format="n"
                                                                      min="0"
                                                                      max="999" 
                                                                      enable="@Model.EndososCertificadosId == 0"
                                                                      step="1"
                                                                      spinners="false"
                                                                      style="min-width: 100%;"
                                                                      value="@Model.ValorEndosar" />
                                                <span asp-validation-for="ValorEndosar" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-3" hidden>
                                            <div class="form-group">
                                                <label asp-for="FirmadoEn" class="control-label" style="width: 100%;"></label>
                                                <input type="text" id="FirmadoEn" required class="k-textbox" style="min-width:100%;" asp-for="FirmadoEn" />
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="TipoEndoso" class="control-label" style="width:100%"></label>
                                                <kendo-dropdownlist name="TipoEndoso" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    for="TipoEndoso"
                                                                    option-label="Seleccione el Tipo de Endoso"
                                                                    datatextfield="Nombre"
                                                                    datavaluefield="Id" enable="Model.EndososCertificadosId == 0"
                                                                    required
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi">
                                                        <transport>
                                                            <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion",new {Id=3 })" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>

                                                <span asp-validation-for="TipoEndoso" class="text-danger"></span>
                                            </div>
                                        </div>




                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="ExpirationDate" class=" control-label" style="width: 100%;">Fecha de Pago</label>
                                                    <kendo-datetimepicker name="ExpirationDate"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss" 
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.ExpirationDate" />
                                                    <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                                                </div>
                                            </div>

                                        
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="FechaCancelacion" class=" control-label" style="width: 100%;">Fecha de Cancelación</label>
                                                @if (Model.EndososCertificadosId >0) { 
                                                    <kendo-datetimepicker name="FechaCancelacion"
                                                                      style="width: 100%;"
                                                                      date-input="false"
                                                                      
                                                                      format="dd/MM/yyyy hh:mm:ss"
                                                                      time-format="hh:mm:ss"
                                                                      value="@fechacancelacion" />

                                                }
                                                else
                                                {
                                                    <input type="text" readonly  class="k-textbox" style="min-width:100%;"  />                         

                                                }


                                                                       

                                            </div>
                                        </div>

                                        <div class="col-md-3" hidden>
                                            <div class="form-group">
                                                <label asp-for="CantidadEndosar" class="control-label" style="width:100%">Cantidad Endosada</label>
                                                <kendo-numerictextbox name="CantidadEndosada"
                                                                      format="n"
                                                                      min="0"
                                                                      spinners="false"
                                                                      max="99999999" enable="false"
                                                                      step="1"
                                                                      style="width: 100%;"
                                                                      value="Model.CantidadEndosar" />
                                                <span asp-validation-for="CantidadEndosar" class="text-danger"></span>

                                            </div>
                                            <input asp-for="ProductoEndosado"/>
                                        </div>
                                    </div>
                                </form>

                                <div id="salesorderdetail">
                                    @await Html.PartialAsync("pvwEndososDetail", Model, new ViewDataDictionary(ViewData) { { "permisosEndosos", permisos } })
                                </div>

                                @if (Model.EndososCertificadosId == 0 )
                                {
                                    <div class="row">
                                        <button id="btnSaveControlEstiba" type="submit" class="form-control btn-miboton" onclick="SaveEndosos(this);">Guardar</button>
                                    </div>
                                }
                                @if(Model.editar == 1 && Model.EndososCertificadosId != 0)    {
                                
                                    <div class="row">
                                        <button id="btnSaveControlEstiba" type="submit" class="form-control btn-miboton" onclick="SaveEndosos(this);">Liberar</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>


    function RefreshGridEndosos() {
        var grid = $("#gridEndosos").getKendoGrid();
        grid.dataSource.read();
    }

    function SaveEndosos(e) {
        if (!confirm('¿Esta seguro que desea guardar la información de este Endoso?')) {
            return;
            }
            var notification = $("#notification").data("kendoNotification");
            // e.preventDefault();
            $("#btnSaveControlEstiba").hide();
            $("#btnSaveControlEstiba").prop("disabled", true);

            var displayedData = $("#gridEndososDetail").data().kendoGrid.dataSource.view();
            var validator = $("#frmEndosos").data("kendoValidator");
            var validator2 = $("#TotalesDocumento").data("kendoValidator");
            var status = $(".status");
            var id = 0;
            var CantidadEndosadaLinea = 0;
            var fechaCancelacion = null;
            
            if ($("#EndososCertificadosId").val() > 0) {
                fechaCancelacion = $("#FechaCancelacion").getKendoDateTimePicker().value() != null? $("#FechaCancelacion").getKendoDateTimePicker().value().toJSON() :null;
            }
            
                
                var dataObject = {
                    'EndososCertificadosId': $("#EndososCertificadosId").val(),
                    'IdCD': $("#IdCD").val(),
                    'NoCD': $("#IdCD").val(),
                    'DocumentDate': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),
                    'CustomerId': $("#CustomerId").val(),
                    'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
                    'BankId': $("#BankId").val(),
                    'BankName': $("#BankId").data("kendoDropDownList").text(),
                    'ProductId': $("#ProductId").val(),
                    'ProductName': $("#ProductId").data("kendoDropDownList").text(),
                    'ProductoEndosado': $("#ProductoEndosado").val(),
                    'CantidadEndosar': $("#CantidadEndosar").val(),
                    'CurrencyId': $("#CurrencyId").val(),
                    'CurrencyName': $("#CurrencyId").data("kendoDropDownList").text(),
                    'ValorEndosar': $("#ValorEndosar").val(),
                    'FirmadoEn': $("#FirmadoEn").val(),
                    'TipoEndoso': $("#TipoEndoso").val(),
                    'CantidadEndosar': $("#CantidadEndosar").val(),
                    'NombreEndoso': $("#TipoEndoso").data("kendoDropDownList").text(),
                    'ExpirationDate': $("#ExpirationDate").getKendoDateTimePicker().value().toJSON(),
                    'FechaOtorgado': $("#FechaOtorgado").getKendoDateTimePicker().value().toJSON(),
                    'FechaCancelacion':fechaCancelacion,
                    'TasaDeInteres': $("#TasaDeInteres").val(),
                    'TotalEndoso': $("#TotalEndoso").val(),
                    'EndososCertificadosLine': displayedData
                };


                if (displayedData.length > 0) {
                    if (validator.validate() ) {

                        $.ajax({
                            url: '@Url.Action("SaveEndososCertificados", "EndososCertificados")',
                            method: 'POST',
                            datatype: "json",
                            //contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                            contentType: 'application/json',
                            async: false,
                            data: JSON.stringify(dataObject),
                            success: function (data) {

                                $.toast({
                                    heading: 'Satisfactorio',
                                    text: 'Datos guardados correctamente.',
                                    position: 'top-right',
                                    loaderBg: '#ff6849',
                                    icon: 'success',
                                    hideAfter: 7000,
                                    stack: 6
                                });

                                //notification.show({
                                //    message: "Guardado correctamente!"
                                //}, "upload-success");

                                RefreshGridEndosos();
                                $('#myModalEndosos').modal('hide');

                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                $("#btnSaveControlEstiba").show();
                                $("#btnSaveControlEstiba").prop("disabled", false);
                                $("#btngenerarfactura").show();
                                notification.show({
                                    title: "Validacion",
                                    message: textStatus + ": " + XMLHttpRequest.responseText
                                }, "error");

                            }
                        });

                    }
                    else {
                        $("#btnSaveControlEstiba").show();
                        $("#btnSaveControlEstiba").prop("disabled", false);
                        //status.text("Oops! There is invalid data in the form.")
                        //    .removeClass("valid")
                        //    .addClass("invalid");
                    }
                }
                else {
                    $("#btnSaveControlEstiba").show();
                    $("#btnSaveControlEstiba").prop("disabled", false);
                    notification.show({
                        title: "Validacion",
                        message: "Debe agregar los productos!"
                    }, "error");

                }

                //  $("#btnSaveControlEstiba").show();
    }
</script>