@model ERPMVC.Models.EndososCertificadosLine


<script>

    completedorderlinemant = function (xhr) {

        $('#myModalEndososCertificadosLine').find(':input').not('#EndososCertificadosId :submit').val('');
       // setearvalor('ValorEndoso', 0);
       // setearvalor('Price', 0);
        $("#SubProductId").data("kendoDropDownList").value(0);
        $("#UnitOfMeasureId").data("kendoDropDownList").value(0);

        CalcularTotalDocumento();
        $("#btnActualizarCotizacionLinea").prop("disabled", false);
       closesaleorderline();
    };


    function closesaleorderline() {
        $("#myModalEndososCertificadosLine").modal('hide');
        $("#EndososCertificadosLineId").val(0);
        $("#SubProductId").data("kendoDropDownList").value(0);
        $("#UnitOfMeasureId").data("kendoDropDownList").value(0);
        $("#QuantityEndosoLine").data("kendoNumericTextBox").value(null);
        $("#Price").data("kendoNumericTextBox").value(null);
        $("#ValorEndoso").data("kendoNumericTextBox").value(null);
    }

    function CalcularTotal() {
        debugger;      
        var Price = Number($("#Price").val());
       //var Totallinea = (Quantity * Price);
       //var Quantity = Number($("#Quantity").val());
       // var QuantitySacos = Number($("#QuantitySacos").val());
       // setearvalor("Total", Totallinea);      
      
    }


    function CalcularTotalDocumento() {
      

        var displayedData = $("#gridEndososDetail").data().kendoGrid.dataSource.view();
        var total = 0;
        // var freight = $("#Freight").val()===""?0:$("#Freight").val();
        //totaldescuento = 0, totalimpuesto = 0, totalimpuesto18 = 0, totalmonto = 0;
        //var TotalExento = 0, TotalExonerado = 0, TotalGravado = 0,TotalGravado18=0;

       // $(displayedData).each(function (index, element) {
       //     var t = JSON.parse(JSON.stringify(element));
       //     total = total + t["Totallinea"];       
       //});      

       // setearvalor('SubTotal', TotalExento);
       // setearvalor('TotalSacos', total);     

    }

    function AddControlPalletsDetail(e) {
       // e.preventDefault();
        var notification = $("#notification").data("kendoNotification");
        //var form1 = $("#frmEndososLine").data("kendoValidator");
        //if (form1.validate() && $("#SubProductId").val() > '0' && $("#UnitOfMeasureId").val() > '0') {
          
            //$('#myModalEndososCertificadosLine').modal('hide');
            RefreshEndososDetail();
        //}
        //else {
        //            notification.show({
        //        title: "Validación",
        //        message: "Seleccione los datos obligatorios!"
        //    }, "error");

        //   // break;
        //    return 0;
        //}

       
        //if ($("#SubProductId").val() > 0) {
        //    try {
        //        $("#btnActualizarCotizacionLinea").prop("disabled", true);
        //        RefreshCotizacionesDetail();

        //    } catch (e) {
        //        $("#btnActualizarCotizacionLinea").prop("disabled", false);
        //    }
        //}
        //else {
        //    notification.show({
        //        title: "Validación",
        //        message: "Seleccion el SubProducto!"
        //    }, "error");

        //    return;
        //}


    }

    function setearvalor(nombrenumerico,valor) {
        var numeric = $("#" + nombrenumerico).data("kendoNumericTextBox");
        numeric.value(valor);
        numeric.trigger('change');
        numeric = null;
    }



    function GetPercentage() {
        var dataObject = { TaxId: $("#TaxCode").val()};
         $.ajax({
            url: '@Url.Action("GetTaxById","Tax")',
            method: 'GET',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: dataObject,
             success: function (result) {
                 setearvalor("TaxPercentage", result.TaxPercentage);
                 CalcularTotal();
            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
              }
         });

    }

  

    function cargarloader() {
       $("#btnActualizarCotizacionLinea").prop("disabled", true);
    }

    function agregarcondicionpopup() {
        var dataObject = { 'ConditionId': $("#ConditionId").val() };

           $.ajax({
            url: '@Url.Action("pvwConditions","Conditions")',
            method: 'GET',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: dataObject,
               success: function (result) {
                   //console.log(result);
                   //debugger;
                   $("#ConditionView").html('');
                   $("#ConditionView").html(result);

            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
              }
         });

        $('#myModalConditions').modal('show');

    }

    function AgregarCustomerCondition() {
        var notification = $("#notification").data("kendoNotification");
               

        if ($("#SalesOrderId").val() > 0) {
            $('#myModalCustomerConditions').modal('show');
        }
        else {
            notification.show({
                title: "Validación",
                message: "Para agregar una condición debe generar el documento!"
            }, "info");
        }
    }

</script>

<span id="spinner" style="display:none;"><i class="fas fa-spinner fa-spin"></i></span>
<div id="loading"></div>

<div id="myModalEndososCertificadosLine" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closesaleorderline();">&times;</button>
                <h4 class="modal-title">Detalle Endosos</h4>
            </div>
            <div class="modal-body">

                @{
              var messages1 = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                                            {"required","Valor requerido" }
                                                         };
              var rules1 = new Dictionary<string, string>() { { "custom", "customFunction" } };
                }

             

                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">      
                            <div class="card-body">
                                <div class="row">
                                    <script>
                                        function ActualizarEndoso() {
                                            var notification = $("#notification").data("kendoNotification");
                                            var dataItem = {
                                                'EndososCertificadosLineId': $("#EndososCertificadosLineId").val(),
                                                'EndososCertificadosId': $("#EndososCertificadosId").val(),
                                            }

                                               $.ajax({
                                                  url: '@Url.Action("GetEndososSaldoByLineByIdCD", "EndososCertificados")',
                                                  method: 'POST',
                                                  datatype: "json",
                                                  contentType: 'application/json',
                                                  async: false,
                                                  data: JSON.stringify(dataItem),
                                                  success: function (data) {
                                                      $("#Saldo").data("kendoNumericTextBox").value(data.Saldo);
                                                      $("#myModalActualizarEndososLine").modal('show');
                                                  },
                                                  error: function (XMLHttpRequest, textStatus, errorThrown) {

                                                      //  $("#btngenerarfactura").show();
                                                      notification.show({
                                                          title: "Validacion",
                                                          message: textStatus + ": " + XMLHttpRequest.responseText
                                                      }, "error");

                                                  }
                                              });


                                            
                                        }
                                    </script>
                                    <button id="btnActualizarEndosos" class="btn-primary btn-info" onclick="ActualizarEndoso()">Actualizar endoso</button>
                                </div>
                                @await Html.PartialAsync("~/Views/EndososCertificados/pvwActualizarEndoso.cshtml", new ERPMVC.Models.EndososLiberacion { FechaLiberacion = DateTime.Now })

                                <form id="frmEndososLine"
                                      kendo-validator="true" kendo-messages="messages1" kendo-rules="rules1"
                                      data-ajax-method="post"
                                      data-ajax-complete="completedorderlinemant"
                                      data-ajax-begin="AddControlPalletsDetail"
                                      data-ajax="true"
                                      method="post" class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <hr>
                                       
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="EndososCertificadosLineId" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="EndososCertificadosLineId" class="form-control disabled" style="min-width:100%" readonly disabled />

                                                </div>
                                            </div>

                                            <div class="col-md-4">

                                                <div class="form-group">

                                                    <script>
                                                        function setsubproductname(e) {
                                                            // console.log(e);
                                                            var dataItem = e.dataItem;
                                                            if (dataItem != null)
                                                                $("#subproductname").val(dataItem.ProductName);
                                                        }

                                                        var hcustom = 0;
                                                        function GetProductTypeIdS() {
                                                            debugger;
                                                            // console.log($("#hcustomerid").val());
                                                            return {
                                                                'CustomerId': hcustom,
                                                                // 'CustomerId': $("#CustomerId").val(),
                                                                // 'ProductTypeId': 2

                                                            }
                                                        }

                                                    </script>
                                                    <label asp-for="SubProductId" class="control-label" style="width:100%"></label>
                                                    <input type="hidden" id="subproductname" />
                                                    <kendo-dropdownlist name="SubProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        id="SubProductId"
                                                                        option-label="Seleccione el producto de cliente"
                                                                        for="SubProductId"
                                                                        datatextfield="ProductName"
                                                                        datavaluefield="SubproductId"
                                                                        auto-bind="false"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-filtering="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetSubProductoByTipoByCustomer", "SubProduct")" data="GetProductTypeIdS" />
                                                            </transport>
                                                        </datasource>

                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="SubProductId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="UnitOfMeasureId" class="control-label" style="width:100%"></label>
                                                    <kendo-dropdownlist name="UnitOfMeasureId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        id="UnitOfMeasureId"
                                                                        option-label="Seleccione la unidad de medida"
                                                                        for="UnitOfMeasureId"
                                                                        datatextfield="UnitOfMeasureName"
                                                                        datavaluefield="UnitOfMeasureId"
                                                                        auto-bind="true"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetUnitOfMeasure", "UnitOfMeasure")" />
                                                            </transport>
                                                        </datasource>

                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="UnitOfMeasureId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Quantity" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="Quantity"
                                                                          id="QuantityEndosoLine"
                                                                          format="n2"
                                                                          for="Quantity"
                                                                          min="0"
                                                                          step="1"
                                                                          required
                                                                          style="width:100%"
                                                                          value="Model.Quantity"></kendo-numerictextbox>
                                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Price" class="control-label" style="width:100%"></label>
                                                    @*<input type="text" id="Ancho" asp-for="Ancho" class="form-control" style="width:100%" />*@
                                                    <kendo-numerictextbox name="Price"
                                                                          format="n2"
                                                                          min="0"
                                                                          step="1"
                                                                          required
                                                                          onchange="CalcularTotal();"
                                                                          style="width:100%"
                                                                          value="Model.Price"></kendo-numerictextbox>
                                                    <span asp-validation-for="Price" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ValorEndoso" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="ValorEndoso"
                                                                          format="n2"
                                                                          for="ValorEndoso"
                                                                          min="0"
                                                                          step="1"
                                                                          required
                                                                          style="width:100%"
                                                                          value="Model.ValorEndoso"></kendo-numerictextbox>
                                                    <span asp-validation-for="ValorEndoso" class="text-danger"></span>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">



                                      
                                        </div>




                                    </div>
                                    <div class="row">
                                        <button id="btnActualizarCotizacionLinea" type="submit" class="form-control">Actualizar</button>
                                        @*<input id="btnActualizarCotizacionLinea" type="submit" class="form-control" />*@
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
