
@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "Sucursales por Usuaio";


}


    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sucursales por Usuario</h4>
              
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmUserBracnh" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="UserBranch"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                      
                                        <div class="form-group">
                                            <kendo-dropdownlist name="GetUsuarios"
                                                                option-label="Seleccionar el Usuario"
                                                                datatextfield="UserName"
                                                                datavaluefield="Id"
                                                                onchange="readlisbox();"
                                                                style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                    <transport>
                                                        <read url="@Url.Action("GetUsuarios", "UserBranch")" />
                                                    </transport>
                                                </datasource>
                                            </kendo-dropdownlist>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            

                                            <div class="col-md-4">
                                                <div id="example">
                                                    <div class="demo-section k-content">
                                                        <label style="width:100%">Sucursales no Asignadas </label>
                                                        @(Html.Kendo().ListBox()
                                                                                              .Name("listbox1")
                                                                                              .DataValueField("BranchId")
                                                                                              .DataTextField("BranchName")
                                                                                              .Draggable(true)
                                                                                              .DropSources("listbox2")
                                                                                              //.Events(ev => ev
                                                                                              //.Add("function(e){setDiscontinued(e, true)}")
                                                                                              //.Remove("function(e){setDiscontinued(e, false)}"))
                                                                                              .DataSource(source => source
                                                                                          .Custom()
                                                                                          .Transport(transport => transport
                                                                                              .Read(read => read.Action("SucursalesNo", "UserBranch").Data("CargarPermisos"))
                                                                                          )
                                                                                          .PageSize(99999999)
                                                                                          )



                                                                                             .ConnectWith("listbox2")
                                                                                             .BindTo(new List<string>())
                                                                                             .Selectable(ListBoxSelectable.Single))


                                                    </div>
                                                </div>
                                            </div>



                                            <div class="col-md-4">
                                                <div class="col-md-4">
                                                    <div id="example" role="application">
                                                        <div class="demo-section k-content">
                                                            <label style="width:100%">Sucursales Asignadas </label>
                                                            @(Html.Kendo().ListBox()
                                                                                  .Name("listbox2")
                                                                                  .Draggable(true)
                                                                                  .DropSources("listbox1")
                                                                                  .DataValueField("BranchId")
                                                                                  .DataTextField("BranchName")
                                                                                  .DataSource(source => source
                                                                                  .Custom()
                                                                                  .Transport(transport => transport
                                                                                      .Read(read => read.Action("Sucursales", "UserBranch").Data("CargarPermisos"))
                                                                                  )
                                                                                  .PageSize(99999999)
                                                                                  )
                                                                                  .ConnectWith("listbox1")
                                                                                  .BindTo(new List<string>())
                                                                                  .Selectable(ListBoxSelectable.Single))

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                @*//<button id="btnTax" onclick="opnertneritems();" class="form-control btn-miboton" type="submit"> Guardar </button>*@
                                                <button id="btnUserBrach" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






<script>

    function opnertneritems() {

        UserBranch()
    }



    function UserBranch() {

        var SucursalesNoAsignadas = $("#listbox1").data("kendoListBox").dataSource;        
        var ArrayNoAsignadas = [];       
        var raw = SucursalesNoAsignadas._data;       

        for (i = SucursalesNoAsignadas._data.length - 1; i >= 0; i--) {
            var NoAsignadasId = raw[i].BranchId;
            var NoAsignadasName = raw[i].BranchName;

            var item = {
                NoAsignadasId, NoAsignadasName
            }
            ArrayNoAsignadas.push(item);
        }
        console.log(ArrayNoAsignadas)



        var SucursalesAsignadas = $("#listbox2").data("kendoListBox").dataSource;
        var ArrayAsignadas = [];
        var rawsi = SucursalesAsignadas._data;

        for (i = SucursalesAsignadas._data.length - 1; i >= 0; i--) {
            var AsignadasId = rawsi[i].BranchId;
            var AsignadasName = rawsi[i].BranchName;
                       
            var item = { AsignadasId, AsignadasName }
            ArrayAsignadas.push(item);
        }
        console.log(ArrayAsignadas)


        //var procesoData = "rock";
        //var cabo = 123;

        $.ajax({
            url: '@Url.Action("SaveUserBranch", "UserBranch")', 
            method: 'POST',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ ArrayAsignadas: ArrayAsignadas, ArrayNoAsignadas: ArrayNoAsignadas}),
        })
            .done(function (data) {
                if (data == 'Error') {
                    alert('No Enviado');

                }
                else {


                }

            });






                    @*$.ajax({
                        url: '@Url.Action("Save", "UserBranch")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: { ArrayAsignadas: ArrayAsignadas},
                        success: function (data) {

                            //console.log(data)

                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            notification.show({
                               title: "Validación",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");
                        }
                    });*@









       


         @*$.ajax({
                url: '@Url.Action("Save_Delete", "UserBranch")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json; charset=utf-8',
                async: false,
                data: JSON.stringify(ArrayNoAsignadas, ArrayAsignadas),
                success: function (result) {
                    
                    
                    alert(result + " Listo")
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
            });*@
               
    }


    function readlisbox() {
        var listBox = $("#listbox2").getKendoListBox();
        listBox.dataSource.read();


        var listBox1 = $("#listbox1").getKendoListBox();
        listBox1.dataSource.read();

    }


    function CargarPermisos() {                     

        var UserParametrp =  $("#GetUsuarios").data("kendoDropDownList").value();
        //alert(UserParametrp)
        return {
            'UserParametrp': UserParametrp,

        }

        //test()
    }





   



    //var dataSource;

    //function test() {
    //    var UserParametro = $("#GetUsuarios").val();
    //    String(UserParametro)
    //    alert(UserParametro)

    //    var n = 2;
    //    console.log(UserParametro)

    //    $("#button").kendoButton({
    //        click: function (e) {
    //            dataSource.sync();
    //        }
    //    });

    //    var dataObject = {
    //        'UserParametrp': UserParametro

    //    }

    //    dataSource = new kendo.data.DataSource({
    //        serverFiltering: false,
    //        transport: {
    //            read: {
                    
    //                url: '/UserBranch/Sucursales',
                    
                    
    //                //method: 'POST',
    //                dataType: "json",
    //                //contentType: 'application/json',

                    
                    
    //                //data: JSON.stringify(dataObject),                  
                    
    //            },
    //            //update: {
    //            //    url: crudServiceBaseUrl + "/Products/Update",
    //            //    dataType: "jsonp"
    //            //},
    //            parameterMap: function (options, operation) {
    //                if (operation !== "read" && options.models) {
    //                    return { models: kendo.stringify(options.models) };
    //                }
    //            }
    //        },
    //        requestStart: function () {
    //            kendo.ui.progress($(".demo-section"), true);
    //        },
    //        requestEnd: function () {
    //            kendo.ui.progress($(".demo-section"), false);
    //        },
    //        batch: false,
    //        schema: {
               
    //            model: {
    //                id: "BranchId",
    //                fields: {
    //                    BranchId: { editable: false, nullable: true },
    //                    BranchName: { validation: { required: true } },                        
    //                    regitrado: { type: "boolean" },                       
    //                }
    //            }
    //        }
    //    });


    //    console.log(dataSource)

    //    dataSource.fetch(function () {
    //        var data = this.data();
    //        var listbox1 = $("#listbox1").data("kendoListBox");
    //        var listbox2 = $("#listbox2").data("kendoListBox");
    //        for (var i = 0; i < data.length; i++) {
    //            if (data[i]["regitrado"]) {
    //                listbox1.add(data[i]);
    //            }
    //            else {
    //                listbox2.add(data[i]);
    //            }
    //        }
    //    });
    //};

    //function setDiscontinued(ev, flag) {
    //    var removedItems = ev.dataItems;
    //    for (var i = 0; i < removedItems.length; i++) {
    //        var item = dataSource.getByUid(removedItems[i].uid);
    //        item["regitrado"] = flag;
    //        item.dirty = !item.dirty;
    //    }
    //}
</script>


<style>
    #example .k-listbox .k-item {
        cursor: move;
    }

    #example .arrow {
        padding: 8px 0 5px 238px;
    }

    #button {
        float: right;
        margin-top: 20px;
    }

    #example .demo-section {
        max-width: none;
        width: 555px;
    }

    #example .k-listbox {
        width: 275px;
        height: 310px;
    }
</style>
