@model ERPMVC.DTO.CertificadoDepositoDTO
@using System.Security.Claims

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                {"required","Valor requerido" }
                            };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };

    string mostrar = "block";
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];
}





<script>



    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        //if (input.attr('name') === "SubProductId" && input.val() === "0") {
        //    return false;
        //}

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }


        if (input.attr('name') === "NoCD" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }



        return true;
    }
</script>

@*@await  Html.PartialAsync("~/Views/OFAC/Index.cshtml")*@


<div id="myModalCertificadoDeposito" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Información Certificado</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="wizard-asociarrecibos">
                    @if (Model.IdCD == 0)
                    {
                        mostrar = "none";
                        <script src="~/js/stepsCertificadoDeposito.js"></script>
                        @await Html.PartialAsync("pvwAsociarRecibos")

                    }
                </div>


                <div class="card" id="formulario" style="display: @mostrar;">
                    <div class="card-body">

                        <form id="frmCertificadoDeposito" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                              data-ajax="true"
                              data-ajax-method="post"
                              method="post">



                            <div class="row">
                                <div class="col-sm-4 col-md-3">
                                    <div class="form-group">
                                        <label asp-for="IdCD" class="control-label">No. Certificado</label>
                                        <input class="k-textbox" type="number" name="name" value="@Model.IdCD" asp-for="IdCD" style="min-width: 100%;" required readonly />
                                        <span asp-validation-for="IdCD" class="text-danger"></span>
                                    </div>


                                </div>

                                <div class="col-sm-4 col-md-3">
                                    <div class="form-group">
                                        <label asp-for="NoCD" class="control-label">No. Solicitud</label>
                                        <input class="k-textbox" type="number" name="name" value="@Model.NoCD" asp-for="NoCD" style="min-width: 100%;" required readonly />
                                        <span asp-validation-for="NoCD" class="text-danger"></span>
                                    </div>

                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <script>
                                                        function SetCustomerName(e) {
                                                           // console.log(e);
                                                            if ($("#CustomerId").val() > 0) {
                                                                $("#SalesOrderName").prop('disabled', true);
                                                                $("#SalesOrderName").val($("#CustomerId").data("kendoDropDownList").text());
                                                                var dataObject = { CustomerId: $("#CustomerId").val()};
                                                                  $.ajax({
                                                                     url: '@Url.Action("GetCustomerById", "Customer")',
                                                                     method: 'GET',
                                                                     datatype: "json",
                                                                     contentType: 'application/json',
                                                                     async: false,
                                                                     data: dataObject,
                                                                      success: function (result) {
                                                                          //console.log(result);
                                                                          // setearvalor("TaxPercentage", result.TaxPercentage);
                                                                          $("#RTN").val(result.RTN);
                                                                          $("#Correo").val(result.Email);
                                                                          $("#Tefono").val(result.Phone);

                                                                     },
                                                                      error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                                             alert(textStatus + ": " + XMLHttpRequest.responseText);
                                                                       }
                                                                  });
                                                            }
                                                            else {
                                                                $("#SalesOrderName").prop('disabled', false);
                                                            }
                                                        }
                                        </script>
                                        <label asp-for="CustomerId" class="control-label"></label>

                                        <kendo-dropdownlist name="CustomerId" for="@Model.CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            option-label="Seleccione el cliente" enable="false"
                                                            datatextfield="CustomerName"
                                                            datavaluefield="CustomerId"
                                                            class="form-control-line"
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999999">
                                                <transport>
                                                    <read url="@Url.Action("GetCustomer", "Common")" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <script>
                                            function changeServicio() {
                                                debugger;
                                                var servicio = $("#ServicioId").val();
                                                if ( servicio== 2) {  
                                                    
                                                    $("#importacion").show();
                                                    $("#BranchId").data("kendoDropDownList").dataSource.read();
                                                    $("#BranchId").data("kendoDropDownList").enable(true);

                                                }
                                                else {
                                                    $("#importacion").hide();
                                                }
                                                if (servicio == 3) {
                                                    $("#bodegahabilitada").show();
                                                } else {
                                                    $("#bodegahabilitada").hide();
                                                }

                                            }
                                        </script>
                                        <label asp-for="ServicioId" class="control-label" style="width:100%"></label>

                                        <kendo-dropdownlist name="ServicioId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            for="ServicioId"
                                                            on-change="changeServicio()"
                                                            option-label="Seleccione el servicio"
                                                            datatextfield="ProductName"
                                                            datavaluefield="ProductId" enable="false"
                                                            required
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="999999999">
                                                <transport>
                                                    <read url="@Url.Action("GetProduct", "Common")" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                        <span asp-validation-for="ServicioId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <script>

                                            function FillWareHouse(e) {
                                                var dataItem = e.dataItem;
                                                $("#warehousesetid").val(dataItem.BranchId);
                                                $("#WarehouseId").data("kendoDropDownList").dataSource.read();
                                            }

                                            function DataSucursal() {
                                                return {
                                                    ServicioId: $("#ServicioId").val(),
                                                    CustomerId: $("#CustomerId").val()
                                                }
                                            }


                                        </script>
                                        @*on-select="FillWareHouse"*@
                                        <input type="hidden" id="warehousesetid" />
                                        <label asp-for="BranchId" class="control-label"></label>
                                        <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            option-label="Seleccione Sucursal"
                                                            datatextfield="BranchName"
                                                            datavaluefield="BranchId"
                                                            enable="false"
                                                            required
                                                            auto-bind="true"
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="99999999999">
                                                <transport>
                                                    <read url="@Url.Action("GetBranch", "Branch")" data="DataSucursal" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                        <span asp-validation-for="BranchId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="FechaCertificado" class="control-label" style="width: 100%;"></label>
                                        <kendo-datepicker name="FechaCertificado"
                                                              style="min-width: 93%;"
                                                              format="dd/MM/yyyy "
                                                              data-val-required="La fecha es requerida"
                                                              value="Model.FechaCertificado" />
                                        <span asp-validation-for="FechaCertificado" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="FechaVencimientoDeposito" class="control-label" style="width: 100%;"></label>
                                        <kendo-datepicker name="FechaVencimientoDeposito"
                                                              style="width: 100%;"
                                                              format="dd/MM/yyyy "
                                                              time-format=""
                                                              data-val-required="La fecha es requerida"
                                                              value="Model.FechaVencimientoDeposito" />
                                        <span asp-validation-for="FechaVencimientoDeposito" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="CurrencyId" class="control-label"></label>
                                        <kendo-dropdownlist name="CurrencyId" for="CurrencyId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            option-label="Seleccione la moneda"
                                                            datatextfield="CurrencyName"
                                                            datavaluefield="CurrencyId"
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="999999999">
                                                <transport>
                                                    <read url="@Url.Action("GetCurrency", "Currency")" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                        <span asp-validation-for="CurrencyId" class="text-danger"></span>
                                    </div>
                                </div>



                            </div>




                            <div class="row">


                                @*<div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="InsuranceId" class="control-label" style="min-width: 100%;">Aseguradora</label>
                                        <kendo-dropdownlist name="InsurancesId" for="InsuranceId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            option-label="Seleccione la aseguradora"
                                                            datatextfield="InsurancesName"
                                                            datavaluefield="InsurancesId"
                                                            required
                                                            data-val-required="La Aseguradora es requerida"
                                                            onchange="RefreshPolicies()"
                                                            class="form-control-line"
                                                            style="min-width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                <transport>
                                                    <read url="@Url.Action("Get", "Insurances")" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                        <span asp-validation-for="InsuranceId" class="text-danger"></span>
                                    </div>
                                </div>*@
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Póliza Propia</label>
                                        <kendo-switch name="PolizaPropia" enabled="true" for="PolizaPropia" on-change="RefreshPolicies" checked="@Model.PolizaPropia">
                                            <messages checked="Si" unchecked="No" />
                                        </kendo-switch>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="InsurancePolicyId" class="control-label" style="min-width: 100%;">Póliza </label>
                                        <script>
                                            function GetInsurance() {
                                                console.log($('#PolizaPropia').val());
                                                var propia = $("#PolizaPropia").data("kendoSwitch");
                                                return {

                                                    'PolizaPropia': propia.check(),
                                                    'CustomerId':$('#CustomerId').val()
                                                }
                                            }

                                            function RefreshPolicies() {
                                                $("#InsurancePolicyId").data("kendoDropDownList").dataSource.read();
                                            }
                                        </script>
                                        <kendo-dropdownlist name="InsurancePolicyId" for="InsurancePolicyId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            option-label="Seleccione la Póliza"
                                                            datatextfield="PolicyNumber"
                                                            datavaluefield="InsurancePolicyId"
                                                            required
                                                            data-val-required="La Póliza es requerida"
                                                            class="form-control-line"
                                                            style="min-width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                <transport>
                                                    <read url="@Url.Action("GetInsuracesPoliciesByProperty", "InsurancePolicy")" data="GetInsurance" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                        <span asp-validation-for="InsuranceId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class=" col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Direccion" class="control-label" style="width:100%"></label>
                                        <textarea id="Direccion" name="Direccion" asp-for="Direccion" required class="k-textbox " style="min-width: 100% !important;"></textarea>
                                        <span asp-validation-for="Direccion" class="text-danger"></span>
                                    </div>
                                </div>



                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Seguro</label>
                                        <input class="k-textbox" type="text" asp-for="Seguro" value="@Model.Seguro" style="min-width: 100%" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Almacenaje</label>
                                        <input class="k-textbox" type="text" asp-for="Almacenaje" value="@Model.Almacenaje" style="min-width:100%" />
                                    </div>

                                </div>
                                <div class="col-md-3" id="bodegahabilitada">
                                    <div class="form-group">
                                        <label class="control-label">Situado en </label>
                                        <input class="k-textbox" type="text" asp-for="Almacenaje" value="@Model.Almacenaje" style="min-width:100%" />
                                    </div>

                                </div>
                            </div>
                            @if (Model.Endoso != null) //// Seccion donde se muestran los datos del endoso se muestran solo si el certificado esta endosado
                            {
                                @await Html.PartialAsync("pvwEndoso", Model.Endoso, new ViewDataDictionary(ViewData) { { "permisosCertificadoDeposito", permisos } })
                            }




                        <div id="importacion">
                            <h3> Información de Poliza de Importación</h3> <h4>almacenaje Fiscal</h4>
                            <hr />
                            <div class="row">
                                <div class="col-sm-4 col-md-3">
                                    <div class="form-group">
                                        <label asp-for="NombreEmpresa" class="control-label" style="width:100%"></label>
                                        <input type="text" asp-for="NombreEmpresa" required class="k-textbox " style="min-width: 100%" />
                                        <span asp-validation-for="NombreEmpresa" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Aduana" class="control-label" style="width:100%"></label>
                                        <input type="text" asp-for="Aduana" required class="k-textbox " style="min-width: 100%" />
                                        <span asp-validation-for="Aduana" class="text-danger"></span>
                                    </div>


                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <div class="form-group">
                                        <label asp-for="ManifiestoNo" class="control-label" style="width:100%"></label>
                                        <input type="text" asp-for="ManifiestoNo" required class="k-textbox " style="min-width: 100%" />
                                        <span asp-validation-for="ManifiestoNo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <div class="form-group">
                                        <label asp-for="NoTraslado" class="control-label" style="width:100%"></label>
                                        <input type="text" asp-for="NoTraslado" required class="k-textbox " style="min-width: 100%" />
                                        <span asp-validation-for="NoTraslado" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <div class="form-group">
                                        <label asp-for="OtrosCargos" class="control-label" style="width:100%"></label>
                                        <input type="text" asp-for="OtrosCargos" required class="k-textbox " style="min-width: 100%" />
                                        <span asp-validation-for="OtrosCargos" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="PorcentajeDeudas" class="control-label" style="width:100%">Porcentaje morosidad</label>
                                        <input type="text" asp-for="PorcentajeDeudas" required class="k-textbox " style="min-width: 100%" />
                                        <span asp-validation-for="PorcentajeDeudas" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" style="display:none">
                                <label asp-for="SujetasAPago" class="control-label" style="width:100%"></label>
                                <kendo-numerictextbox for="SujetasAPago"
                                                      format="n"
                                                      enable="false"
                                                      min="0"
                                                      max="99999999"
                                                      step="1"
                                                      style="width: 100%;"
                                                      value="Model.SujetasAPago" />

                            </div>

                        </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Comentarios Certificado</label>
                                        <textarea class="k-textarea" asp-for="Comentario" rows="2" style="min-width:100%"></textarea>
                                    </div>                                    
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div id="salesorderdetail">
                                @await Html.PartialAsync("pvwCertificadoDepositoDetail", Model, new ViewDataDictionary(ViewData) { { "permisosCertificadoDeposito", permisos } })
                            </div>

                            <div id="SalesOrderLineMant">
                                @await Html.PartialAsync("pvwCertificadoDepositoDetailMant", new ERPMVC.Models.CertificadoLine { CertificadoLineId = 0, IdCD = Model.IdCD })
                            </div>



                            <div class="clearfix">&nbsp;</div>
                            <div class="clearfix">&nbsp;</div>

                            <form id="TotalesDocumento" kendo-validator="true" kendo-messages="messages" kendo-rules="rules">                                
                                <div class="row" id="TotalesDocumento">
                                    <div class="col-md-10">

                                    </div>
                                    <div class="col-md-2">
                                        <dl class="dl-horizontal">
                                            <dt>
                                                <label asp-for="Quantitysum" class="control-label">Total Cantidad</label>
                                            </dt>
                                            <dd>
                                                <kendo-numerictextbox name="Quantitysum"
                                                                      format="n2"
                                                                      spinners="false"
                                                                      style="min-width: 100%;text-align:right;padding-right: 3px;"
                                                                      min="0" enable="false" class="control-label right bold"
                                                                      max="999999999"
                                                                      value="Model.Quantitysum" />
                                                <span asp-validation-for="Quantitysum" class="text-danger"></span>
                                            </dd>


                                            <dt>
                                                <label asp-for="Total" class="control-label">Total Valor</label>
                                            </dt>

                                            <dd>
                                                <kendo-numerictextbox name="Total"
                                                                      format="n2" spinners="false"
                                                                      min="0"
                                                                      enable="false"
                                                                      required class="control-label right bold"
                                                                      style="min-width: 100%;text-align:right;padding-right: 3px;"
                                                                      max="999999999"
                                                                      step="1"
                                                                      value="Model.Total" />
                                                <span asp-validation-for="Total" class="text-danger"></span>
                                            </dd>

                                        </dl>
                                    </div>
                                </div>
                            </form>

                            <div class="row">
                                @if (Convert.ToBoolean(Model.editar))
                                {
                                    <button id="btnSaveCertificadoDeposito" type="submit" class="form-control btn-miboton " onclick="SaveCertificadoDeposito(this);">Guardar</button>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    function GetProductIdS() {
        return { 'ProductId': $("#ProductId").val() }
    }


    function RefreshCertificadoDeposito() {
        var grid = $("#gridCertificadoDeposito").getKendoGrid();
        grid.dataSource.read();
    }

     function SaveCertificadoDeposito(e) {
        // e.preventDefault();
        CalcularTotalDocumento();
        var notification = $("#notification").data("kendoNotification");
         $("#btnSaveCertificadoDeposito").hide();
         $("#btnSaveCertificadoDeposito").prop("disabled", true);

      //  debugger;
        var validadetalle = true;
         var displayedData = $("#gridCertificadoDepositoDetail").data().kendoGrid.dataSource.data();
         if (displayedData.length >5 ) {
             $.toast({
                 heading: 'Error',
                 text: 'El certificado no puede tener mas de 5 Partidas',
                 position: 'top-right',
                 loaderBg: '#ff6849',
                 icon: 'error',
                 hideAfter: 3000,
                 stack: 6
             });
             return;
         }
        for (var i = 0; i < displayedData.length; i++) {
            displayedData[i].CertificadoLineId = 0;
            if (
                displayedData[i].Quantity === 0
                || displayedData[i].Price === 0
                || displayedData[i].Amount === 0
                || displayedData[i].SubProductId === null || displayedData[i].SubProductId === 0
                || displayedData[i].UnitMeasureId === null || displayedData[i].UnitMeasureId === 0
            ) {
                notification.show({
                    title: "Validación",
                    message: "Ingrese al detalle todos los datos requeridos"
                }, "error");
                validadetalle = false;
            }

            if ($("#ServicioId").val() == 2 && (displayedData[i].ValorImpuestos == '' || displayedData[i].ValorImpuestos == 0)) {
                validadetalle = false;
                
                $.toast({
                    heading: 'Error',
                    text: 'Ingresar los valores de impuestos!',
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'error',
                    hideAfter: 3000,
                    stack: 6
                });
            }
         }

         if ($("#ServicioId").val() == 2 && ($("#SujetasAPago").val() == '' || $("#SujetasAPago").val() == 0)) {
             validadetalle = false;
             
             $.toast({
                 heading: 'Error',
                 text: 'Ingresar los valores de impuestos!',
                 position: 'top-right',
                 loaderBg: '#ff6849',
                 icon: 'error',
                 hideAfter: 3000,
                 stack: 6
             });
         }


         if (validadetalle) {

             var list = [];
             $("#ddlRecibosAsociados > option").each(function () {
                 list.push(this.value);
             });
             var validator = $("#frmCertificadoDeposito").data("kendoValidator");
             var validator2 = $("#TotalesDocumento").data("kendoValidator");
             var status = $(".status");
            //var aseguradora = 
             if (displayedData.length > 0) {
                 if (validator.validate() && validator2.validate()) {
                     var dataObject = {
                         'IdCD': $("#IdCD").val(),
                         'CustomerId': $("#CustomerId").val(),
                         'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
                         'BranchId': $("#BranchId").val(),
                         'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                         'WarehouseId': $("#WarehouseId").val(),
                         'ServicioId': $("#ServicioId").val(),
                         'ServicioName': $("#ServicioId").data("kendoDropDownList").text(),
                         'IdEstado': $("#IdEstado").val(),
                         'Direccion': $("#Direccion").val(),
                         'FechaCertificado': $("#FechaCertificado").getKendodatepicker().value().toJSON(),
                         'NombreEmpresa': $("#NombreEmpresa").val(),
                         'EmpresaSeguro': $("#InsuranceId").data("kendoDropDownList").text(),
                         'NoPoliza': $("#InsurancePolicyId").data("kendoDropDownList").text(),
                         'FechaVencimientoCertificado': $("#FechaVencimientoCertificado").getKendodatepicker().value().toJSON(),
                         'Almacenaje': $("#Almacenaje").val(),
                         'Comentario': $("#Comentario").val(),
                         'PorcentajeDeudas': $("#PorcentajeDeudas").val(),
                         //'BankId': $("#BankId").val(),
                         //'BankName': $("#BankId").data("kendoDropDownList").text(),
                         'PolizaPropia': $("#PolizaPropia").val(),
                         'CurrencyId': $("#CurrencyId").val(),
                         'CurrencyName': $("#CurrencyId").data("kendoDropDownList").text(),
                         //'FechaFirma': $("#FechaFirma").getKendodatepicker().value().toJSON(),
                         //'FechaInicioComputo': $("#FechaInicioComputo").getKendodatepicker().value().toJSON(),
                         //'FechaPagoBanco': $("#FechaPagoBanco").getKendodatepicker().value().toJSON(),
                         'FechaVencimientoDeposito': $("#FechaVencimientoDeposito").getKendodatepicker().value().toJSON(),
                         //'LugarFirma': $("#LugarFirma").val(),
                         //'MontoGarantia': $("#MontoGarantia").val(),
                         'NoCD': $("#NoCD").val(),
                         'NoTraslado': $("#NoTraslado").val(),
                         'NombrePrestatario': $("#NombrePrestatario").val(),
                         'OtrosCargos': $("#OtrosCargos").val(),
                         'PorcentajeInteresesInsolutos': $("#PorcentajeInteresesInsolutos").val(),
                         'Quantitysum': $("#Quantitysum").val(),
                         'Seguro': $("#Seguro").val(),
                         'SujetasAPago': $("#SujetasAPago").val(),
                         'Total': $("#Total").val(),
                         'Aduana': $("#Aduana").val(),
                         'ManifiestoNo': $("#ManifiestoNo").val(),
                         'InsurancePolicyId': $("InsurancePolicyId").val(),
                         'InsuranceId': $("InsuranceId").val(),
                         '_CertificadoLine': displayedData,
                         'RecibosAsociados': list
                     };
                     $.ajax({
                         url: '@Url.Action("SaveCertificadoDeposito", "CertificadoDeposito")',
                         method: 'POST',
                         datatype: "json",
                         contentType: 'application/json',
                         async: false,
                         data: JSON.stringify(dataObject),
                         success: function (data) {

                             $.toast({
                                 heading: 'Satisfactorio',
                                 text: 'Datos guardados correctamente.',
                                 position: 'top-right',
                                 loaderBg: '#ff6849',
                                 icon: 'success',
                                 hideAfter: 3000,
                                 stack: 6
                             });
                             RefreshCertificadoDeposito();
                             $('#myModalCertificadoDeposito').modal('hide');

                         },
                         error: function (XMLHttpRequest, textStatus, errorThrown) {

                             $("#btnSaveCertificadoDeposito").show();
                             $("#btnSaveCertificadoDeposito").prop("disabled", false);
                             notification.show({
                                 title: "Validacion",
                                 message: textStatus + ": " + XMLHttpRequest.responseText
                             }, "error");

                         }
                     });

                 }
                 else {
                     notification.show({
                         title: "Validación",
                         message: "Hay campos no validos en el formulario!"
                     }, "error");
                     $("#btnSaveCertificadoDeposito").show();
                     $("#btnSaveCertificadoDeposito").prop("disabled", false);
                 }
             }
             else {
                 notification.show({
                     title: "Validación",
                     message: "Debe agregar los productos!"
                 }, "error");

             }


         }
         else {
             $("#btnSaveCertificadoDeposito").show();
             $("#btnSaveCertificadoDeposito").prop("disabled", false);
         }
    }
</script>
