@model ERPMVC.DTO.InsurancesCertificateDTO


@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
// {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "InsurancesCertificateId" && input.val() === "0") {
            return false;
        }

        //dropdownlist3.selected

        // Dropchange();

    }




</script>
@*<div id="NumAccounting">
            @await Html.PartialAsync("pvwAddAccounting", new ERPMVC.DTO.AccountDTO { AccountId = 0 })
        </div>

    <div id="divOFACFind">
        @await Html.PartialAsync("~/Views/OFAC/Index.cshtml")
    </div>

    <div id="divOFACFindIdentity">
        @await Html.PartialAsync("~/Views/OFAC/ListOfacIdentity.cshtml")
    </div>*@


<div id="ModalInsurancesCertificate" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Datos de Poliza de Seguro</h4>
            </div>
            <div class="modal-body">

                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmInsurancesCertificate" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveInsurancesCertificate"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Poliza de Seguro</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="InsurancesCertificateId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="InsurancesCertificateId" name="InsurancesCertificateId" class="form-control" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="InsurancesCertificateId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="InsurancesId" class="control-label" style="width:100%"></label>
                                                    <kendo-dropdownlist name="VendorTypeId"
                                                                        for="@Model.InsurancesId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Aseguradora"
                                                                        auto-bind="true"
                                                                        datatextfield="InsurancesName"
                                                                        datavaluefield="InsurancesId" style="min-width:100%">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Insurances")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    @*  <span asp-validation-for="VendorName" class="text-danger"></span>
                                                    *@
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="NoPoliza" class=" control-label" style="width:100%"></label>
                                                    <input asp-for="NoPoliza" name="NoPoliza" class="form-control" autocomplete="off" style="min-width:100%" onkeypress="return SoloNumeros(event)" />
                                                    <span asp-validation-for="NoPoliza" class="text-danger k-invalid-msg" data-for="RTN"></span>


                                                </div>

                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="BeginDateofInsurance" class=" control-label" style="width:100%"></label>
                                                    <kendo-datetimepicker name="BeginDateofInsurance"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.BeginDateofInsurance"></kendo-datetimepicker>
                                                    <span asp-validation-for="BeginDateofInsurance" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="EndDateofInsurance" class=" control-label" style="width:100%"></label>
                                                    <kendo-datetimepicker name="EndDateofInsurance"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.EndDateofInsurance"></kendo-datetimepicker>
                                                    <span asp-validation-for="EndDateofInsurance" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DateofInsurance" class=" control-label" style="width:100%"></label>
                                                    <kendo-datetimepicker name="DateofInsurance"
                                                                          style="min-width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.DateofInsurance"></kendo-datetimepicker>
                                                    <span asp-validation-for="DateofInsurance" class="text-danger"></span>
                                                </div>
                                            </div>







                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Ratedeductible" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="Ratedeductible"
                                                                          for="@Model.Ratedeductible"
                                                                          format="n4" spinners="false"
                                                                          min="0"
                                                                          auto-bind="true"
                                                                          required class="control-label right bold"
                                                                          style="min-width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999"></kendo-numerictextbox>
                                                    <span asp-validation-for="Ratedeductible" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="RateInsurance" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="RateInsurance"
                                                                          format="n4" spinners="false"
                                                                          min="0"
                                                                          required class="control-label right bold"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999"
                                                                          for="@Model.RateInsurance"></kendo-numerictextbox>
                                                    <span asp-validation-for="RateInsurance" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="RateofProduct" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="RateofProduct"
                                                                          format="n4" spinners="false"
                                                                          min="0"
                                                                          required class="control-label right bold"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999"
                                                                          for="@Model.RateofProduct"></kendo-numerictextbox>
                                                    <span asp-validation-for="RateofProduct" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="QtyofMonths" class=" control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="QtyofMonths"
                                                                          format="n0" spinners="false"
                                                                          min="0"
                                                                          required class="control-label right bold"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999"
                                                                          for="@Model.QtyofMonths"></kendo-numerictextbox>
                                                    <span asp-validation-for="QtyofMonths" class="text-danger"></span>

                                                </div>
                                            </div>

                                        </div>
                                        <div id="insurancesdetail">
                                            @await Html.PartialAsync("pvwInsurancesCertificateDetail", Model)
                                        </div>
                                        <div id="insurancesdetailLineMant">
                                            @await Html.PartialAsync("pvwInsurancesCertificateDetailMant", new ERPMVC.DTO.InsurancesCertificateLineDTO { InsurancesCertificateLineId = 0, InsurancesCertificateId = Model.InsurancesCertificateId })
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnInsurancesCertificate" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>



                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SoloNumeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "1234567890";
        especiales = "8-37-39-46";



        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }



        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }
    function setearvalor(nombrenumerico, valor) {
        var numeric = $("#" + nombrenumerico).data("kendoNumericTextBox");
        numeric.value(valor);
        numeric.trigger('change');
        numeric = null;
    }

            function RefrescarGrid() {
                debugger;
                var grid = $("#gridInsurancesCertificate").getKendoGrid();
                grid.dataSource.read();
            }
    function SaveInsurancesCertificate(e) {

                    var notification = $("#notification").data("kendoNotification");
                   // e.preventDefault();
                debugger;
      // debugger;
                //$("#Identidad").val() = ;
                    var dataObject = {
                        'InsurancesCertificateId': $("#InsurancesCertificateId").val(),
                        'InsurancesId': $("#InsurancesId").val(),
                        'NoPoliza': $("#NoPoliza").val(),
                        'BeginDateofInsurance': $("#BeginDateofInsurance").getKendoDateTimePicker().value().toJSON(),
                        'EndDateofInsurance': $("#EndDateofInsurance").getKendoDateTimePicker().value().toJSON(),
                        'DateofInsurance': $("#DateofInsurance").getKendoDateTimePicker().value().toJSON(),
                        'Ratedeductible': $("#Ratedeductible").val(),
                        'RateInsurance': $("#RateInsurance").val(),
                        'RateofProduct': $("#RateofProduct").val(),
                        'QtyofMonths': $("#QtyofMonths").val(),
                    /*     'IdEstadoVendorConfi': $("#IdEstadoVendorConfi").val(),
                        'EstadoVendorConfi': $("#IdEstadoVendorConfi").data("kendoDropDownList").text(),
                        'Phone': $("#Phone").val(),
                        //'Identidad': $("#Identidad").val('0'),
                        'Email': $("#Email").val(),
                        'CurrencyId': $("#CurrencyId").val(),
                        'IdEstado': $("#IdEstado").val(),
                        'Estado': $("#IdEstado").data("kendoDropDownList").text(),
                        'CompanyReferenceone': $("#CompanyReferenceone").val(),
                        'CompanyReferencetwo': $("#CompanyReferencetwo").val(),
                        'CreatedDate': $("#CreatedDate").val(),
                        'ModifiedDate': $("#ModifiedDate").val(),
                        'CreatedUser': $("#CreatedUser").val(),
                        'ModifiedUser': $("#ModifiedUser").val(),
                        'RepresentativeName': $("#RepresentativeName").val(),
                        'IdentityRepresentative': $("#IdentityRepresentative").val(),
                        'RTNRepresentative': $("#RTNRepresentative").val(),
                        */
                       // '_InsurancesCertificate': displayedData
                    };

                   // console.log(JSON.stringify(dataObject));
                    //var form = $("#frmNumeracion");
                   // form.validate();
            var validator = $("#frmInsurancesCertificate").data("kendoValidator");
                    var status = $(".status");
                    if (validator.validate()) {

                            $.ajax({
                                url: '@Url.Action("SaveInsurancesCertificate", "InsurancesCertificate")',
                                method: 'POST',
                                datatype: "json",
                                contentType: 'application/json',
                                async: false,
                                data: JSON.stringify(dataObject),
                                success: function (data) {

                                    //notification.show({
                                    //    message: "Guardado correctamente!"
                                    //}, "upload-success");
                                    $.toast({
                                        heading: 'Satisfactorio',
                                        text: '<br/><br/> Datos guardados correctamente.',
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'success',
                                        hideAfter: 30000,
                                        stack: 6
                                    });

                                    RefrescarGrid();

                                    $('#ModalInsurancesCertificate').modal('hide');


                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {

                                    notification.show({
                                        title: "Validación",
                                        message: textStatus + ": " + XMLHttpRequest.responseText
                                    }, "error");

                                }
                            });

                        }
                    else {
                        $("#btnInsurancesCertificate").show();
                        $("#btnInsurancesCertificate").prop("disabled", false);
                            status.text("Oops! Hay datos invalidos en el formulario.")
                                .removeClass("valid")
                                .addClass("invalid");
                        }



           
       // }
       // $("#btnInsurancesCertificate").show();
       // $("#btnInsurancesCertificate").prop("disabled", false);
    }




    
</script>

