@model ERPMVC.DTO.JournalEntryLineDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
// {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "JournalEntryId" && input.val() === "0") {
            return false;
        }

    }

    //$('#btnprueba').val("");
</script>



<div id="ModalJournalEntryLine" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalle de diario</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmJournalEntryLine" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveJournalEntryLine"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Linea de Diario</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="JournalEntryLineId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="JournalEntryLineId" name="JournalEntryLine" class="form-control" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="JournalEntryLineId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="Num" class=" control-label" style="width:100%"></label>

                                                    <kendo-dropdownlist name="Num"
                                                                        for="@Model.Num"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Centro de Costo"
                                                                        datatextfield="Description"
                                                                        datavaluefield="Num"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Dimensions")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist><span asp-validation-for="Num" class="text-danger"></span>
                                                    <span asp-validation-for="Num" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label asp-for="AccountId" class=" control-label" style="width:100%"></label>
                                                    <kendo-dropdownlist name="ParentAccountId"
                                                                        for="@Model.AccountId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Cuenta Contable"
                                                                        datatextfield="AccountName"
                                                                        datavaluefield="AccountId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetAccountingDiary", "Accounting")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist><span asp-validation-for="AccountId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        @*<div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <script>
                                                        function GetDocumentos() {
                                                            return { 'Id': 12 }
                                                        }
                                                    </script>
                                                    <label asp-for="DrCr" class="control-label" style="width:100%"></label>
                                                    <kendo-dropdownlist name="DrCr" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Lado Contable"
                                                                        for="DrCr"
                                                                        datatextfield="Nombre"
                                                                        datavaluefield="Id"
                                                                        auto-bind="false"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-filtering="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GetDocumentos" />
                                                            </transport>
                                                        </datasource>

                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="DrCr" class="text-danger"></span>

                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="Amount" class="control-label"></label>
                                                    <kendo-numerictextbox name="Amount"
                                                                          format="n4" spinners="false"
                                                                          min="0.00"
                                                                          required class="control-label right bold"
                                                                          style="width: 100%;text-align:right;padding-right: 3px"
                                                                          max="999999999.9999"
                                                                          step="1"
                                                                          value="Model.Amount" />


                                                </div>
                                            </div>
                                        </div>*@


                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnJournalEntryLine" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SaveJournalEntryLine(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
        $("#btnJournalEntryLine").hide();
        $("#btnJournalEntryLine").prop("disabled", true);

        var displayedData = $("#gridJournalEntryLine").data().kendoGrid.dataSource.view();

        var dataObject = {
            'JournalEntryLineId': $("#JournalEntryLineId").val() === "" ? "0" : $("#JournalEntryLineId").val(),
            'JournalEntryId': $("#JournalEntryId").val(),
            'Num': $("#Num").val(),
            'AccountId': $("#AccountId").val(),
            'DrCr': $("#DrCr").val(),
            'Amount': $("#Amount").val(),

            'JournalEntryLine': displayedData
            };

         //   console.log(dataObject);

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

        var validator = $("#frmJournalEntryLine").data("kendoValidator");
                 var status = $(".status");
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveJournalEntryLine", "JournalEntryLine")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/> Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                            RefrescarGrid();

                            $('#ModalJournalEntryLine').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }


        $("#btnJournalEntryLine").show();
        $("#btnJournalEntryLine").prop("disabled", false);
    }
</script>
