@model ERPMVC.DTO.BlackListCustomersDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
   // {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

        function customFunction(input) {

            if (input.attr('name') === "BranchId" && input.val() === "0") {
                return false;
            }

        }

        //$('#btnprueba').val("");
</script>



<div id="ModalBlackListCustomers" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Lista Negra de Clientes</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmBlackListCustomers" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveBlackListCustomers"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Lista Negra de Clientes</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="BlackListId" class=" control-label" style="width:100%">Id Lista Negra</label>
                                                    <input type="text" asp-for="BlackListId" name="BlackListId" class="form-control" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="BlackListId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CustomerId" class="control-label">Nombre de Cliente</label>
                                                    <kendo-dropdownlist name="CustomerId"
                                                                        for="@Model.CustomerId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Nombre"
                                                                        datatextfield="CustomerName"
                                                                        datavaluefield="CustomerId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetUsuario", "Customer")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CustomerReference" class=" control-label" style="width:100%">Referencia de cliente</label>
                                                    <input type="text" asp-for="CustomerReference" name="CustomerReference" class="form-control" autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="CustomerReference" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DocumentDate" class=" control-label" style="width:100%">Fecha del documento</label>
                                                    <kendo-datetimepicker name="DocumentDate"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.DocumentDate"></kendo-datetimepicker>
                                                    <span asp-validation-for="DocumentDate" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Alias" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Alias" name="Alias" class="form-control" autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="Alias" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Identidad" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Identidad" name="Identidad" class="form-control" autocomplete="off" style="min-width:100%" required/>
                                                    <span asp-validation-for="Identidad" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="RTN" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="RTN" name="ZipCode" class="form-control" autocomplete="off" style="min-width:100%" required />
                                                    <span asp-validation-for="RTN" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Referencia" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Referencia" name="Phone" class="form-control" autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="Referencia" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Origen" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Origen" name="Email" class="form-control" autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="Origen" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Estado" class="control-label"></label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnBlackListCustomers" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function RefrescarGrid() {

        var grid = $("#gridBlackListCustomers").getKendoGrid();
        grid.dataSource.read();

    }

    function SaveBlackListCustomers(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnBlackListCustomers").hide();
            $("#btnBlackListCustomers").prop("disabled", true);

        var displayedData = $("#gridBlackListCustomers").data().kendoGrid.dataSource.view();

        var dataObject = {  'BlackListId': $("#BlackListId").val()===""?"0":$("#BlackListId").val(),
                           'CustomerId': $("#CustomerId").val(),
                           'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
                           'CustomerReference': $("#CustomerReference").val(),
                            'DocumentDate': $("#DocumentDate").getKendoDateTimePicker().value().toJSON(),

                           'Alias': $("#Alias").val(),
                           'Identidad': $("#Identidad").val(),
                           'RTN': $("#RTN").val(),
                           'Referencia': $("#Referencia").val(),
                           'Origen': $("#Origen").val(),
                           'IdEstado': $("#IdEstado").val(),
                           'Estado': $("#IdEstado").data("kendoDropDownList").text(),
        };

        console.log('VALIDAR', dataObject);

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

        var validator = $("#frmBlackListCustomers").data("kendoValidator");
                 var status = $(".status");

           
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveBlackListCustomers", "BlackListCustomers")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                            RefrescarGrid();

                            $('#ModalBlackListCustomers').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }
            

            $("#btnBlackListCustomers").show();
            $("#btnBlackListCustomers").prop("disabled", false);
    }
</script>
