@model ERPMVC.DTO.IncomeAndExpensesAccountDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                        {"required","Valor requerido" }
                                    };
}



<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

    }


    function closes() {
        //habilitarcampos();
        $("#ModalIncomeAndExpensesAccount").modal('hide');
        var grid = $("#gridIncomeAndExpensesAccount").getKendoGrid();
        grid.dataSource.read();
    }


</script>

<div id="ModalIncomeAndExpensesAccount" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closes();">&times;</button>
                <h4 class="modal-title">Cuenta de Gasto de Ingresos</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmgridIncomeAndExpensesAccount" name="frmgridIncomeAndExpensesAccount"
                                      kendo-validator="true" 
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveGoodsReceived"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IncomeAndExpensesAccountId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="IncomeAndExpensesAccountId" name="IncomeAndExpensesAccountId" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="IncomeAndExpensesAccountId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="AccountDescription" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="AccountDescription" name="AccountDescription" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="AccountDescription" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="BankId" class="control-label">Banco</label>
                                                    <kendo-dropdownlist name="IdBank"
                                                                        for="@Model.BankId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar banco"
                                                                        datatextfield="BankName"
                                                                        datavaluefield="BankId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetBank", "Bank")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="TypeAccountId" class="control-label">Tipo Cuenta</label>
                                                    <kendo-dropdownlist name="TypeAccountId"
                                                                        for="@Model.TypeAccountId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar banco"
                                                                        datatextfield="TypeAccountName"
                                                                        datavaluefield="TypeAccountId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetTypeAccount", "TypeAccount")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="EstadoId" class="control-label"></label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        for="@Model.EstadoId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CurrencyId" class="control-label"></label>
                                                    <kendo-dropdownlist name="CurrencyId" for="CurrencyId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione la moneda"
                                                                        datatextfield="CurrencyName"
                                                                        datavaluefield="CurrencyId"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetCurrency", "Currency")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CurrencyId" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            @*@if (Model.editar == 1)*@
                                            @* { *@
                                                <button id="btnSaveControlEstiba" type="submit" class="form-control btn-miboton" >Guardar</button>
                                            @* } *@
                                        </div>

                                    </div>
                                </form>
                                <div id="salesorderdetail">
                                    @await Html.PartialAsync("pvwIncomeAndExpensesAccountDetail", Model)
                                </div>

                                <div id="divIncomeAndExpenseAccountLineMant">
                                    @await Html.PartialAsync("pvwIncomeAndExpensesAccountDetailMant", new ERPMVC.Models.IncomeAndExpenseAccountLine { IncomeAndExpenseAccountLineId = 0, IncomeAndExpensesAccountId = Model.IncomeAndExpensesAccountId,DocumentDate=DateTime.Now })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    function RefrescarGrid() {

        var grid = $("#gridIncomeAndExpensesAccount").getKendoGrid();
        grid.dataSource.read();
    }
    function SaveGoodsReceived(e) {
        debugger
        var notification = $("#notification").data("kendoNotification");

        var displayedData = $("#gridIncomeAndExpensesAccount").data().kendoGrid.dataSource.view();

        var dataObject = {
            'IncomeAndExpensesAccountId': $("#IncomeAndExpensesAccountId").val() === "" ? "0" : $("#IncomeAndExpensesAccountId").val(),
            'BankId': $("#BankId").val(),
            'BankName': $("#BankId").data("kendoDropDownList").text(),
            'TypeAccountId': $("#TypeAccountId").val(),
            'TypeAccountName': $("#TypeAccountId").data("kendoDropDownList").text(),
            'AccountDescription': $("#AccountDescription").val(),
            'EstadoId': $("#EstadoId").val(),
            'EstadoName': $("#EstadoId").data("kendoDropDownList").text(),
            'CurrencyId': $("#CurrencyId").val(),
            'CurrencyName': $("#CurrencyId").data("kendoDropDownList").text(),
            '_IncomeAndExpensesAccount': displayedData
        };
        console.log(dataObject)
           var validator = $("#frmgridIncomeAndExpensesAccount").data("kendoValidator");
            var status = $(".status");


                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveIncomeAndExpensesAccount", "IncomeAndExpensesAccount")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                            RefrescarGrid();

                            //$('#ModalIncomeAndExpensesAccount').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validación",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    notification.show({
                        title: "Validación",
                        message:"Datos invalidos"
                    }, "error");
                }


            $("#btnBranch").show();
            $("#btnBranch").prop("disabled", false);
    }
</script>