@model ERPMVC.DTO.CheckAccountLinesDTO
@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." }};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

    <script>
        function AddComprobanteRetencion() {
        var dataObject = {
            RetentionReceiptId: 0,
            editar : 1
        };
        $.ajax({
            url: '@Url.Action("pvwAddRetentionReceipt", "RetentionReceipt")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(dataObject),
            success: function (result) {
                $("#numComprobanteRetencion").html('');
                $("#numComprobanteRetencion").html(result);
                $('#ModalComprobanteRetencion').modal('show');
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.toast({
                    heading: 'Validación',
                    text: textStatus + ": " + XMLHttpRequest.responseText,
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'error',
                    hideAfter: 30000,
                    stack: 6
                });
            }
        });
    }
    </script>


    <div id="ModalCheck" class="modal fade" role="dialog">
        <!-- Modal content-->
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nuevo Cheque</h4>
                    <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <form id="frmCheck" kendo-validator="true" kendo-messages="messages" 
                          data-ajax="true"
                          data-ajax-method="post" enctype="multipart/form-data"
                          data-ajax-begin="onBegin" data-ajax-complete="onComplete"
                          data-ajax-failure="onFailed" data-ajax-success="onSuccess"
                          class="validation-wizard wizard-circle">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="CheckAccountId" class="control-label" style="min-width:100%">Id Chequera</label>
                                    <input type="text" asp-for="CheckAccountId" name="CheckAccountId" class="k-textbox" readonly style="min-width:100%" />
                                    <span asp-validation-for="CheckAccountId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4" hidden>
                                <div class="form-group">
                                    <label asp-for="Id" class=" control-label" style="min-width:100%"></label>
                                    <input type="text" asp-for="Id" name="Id" class="k-textbox" readonly style="min-width:100%" />
                                    <span asp-validation-for="Id" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="CheckNumber" class=" control-label" style="min-width:100%">Número de Cheque</label>
                                    <input type="text" asp-for="CheckNumber" name="CheckNumber" class="k-textbox" style="min-width:100%" data-val-required="Número de Cheque es requerido" required   />
                                    <span asp-validation-for="CheckNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Date" class=" control-label" style="min-width:100%">Fecha</label>
                                    <kendo-datepicker name="Date" for="Date"
                                                      style="min-width:100%"
                                                      format="dd/MM/yyyy"
                                                      time-format="hh:mm:ss"                                                     
                                                       />
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="  control-label" style="width:100%">Tipo de Beneficiario</label>
                                    <kendo-dropdownlist name="PartyTypeId" for="PartyTypeId"
                                                        id="IdPartyType"
                                                        data-val-required="El Tipo Beneficiario es requerido."
                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                        style="min-width: 100%;">
                                    </kendo-dropdownlist>
                                    <span asp-validation-for="PartyTypeId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="form-group" id="party">
                                    <label class="  control-label" style="width:100%">Beneficiario</label>
                                    <kendo-dropdownlist name="PartyId"
                                                        id="IdParty"
                                                        enable="false"
                                                        option-label="Seleccionar beneficiario"
                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                        style="width: 100%;">
                                    </kendo-dropdownlist>
                                    
                                </div>
                                <div class="form-group" id="employe">
                                    <label class="  control-label" style="width:100%">Beneficiario</label>
                                    <kendo-dropdownlist name="PartyId"
                                                        id="idemploye"
                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                        option-label="Seleccionar Empleado"
                                                        datatextfield="NombreEmpleado"
                                                        datavaluefield="IdEmpleado"
                                                        style="width: 100%;">
                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999999">
                                            <sorts>
                                                <sort field="NombreEmpleado" direction="asc" />
                                            </sorts>
                                            <transport>
                                                <read url="@Url.Action("Get", "Employees")" />
                                            </transport>
                                        </datasource>
                                    </kendo-dropdownlist>
                                </div>
                                <div class="form-group" id="vendor">
                                    <label class="  control-label" style="width:100%">Beneficiario</label>
                                    <kendo-dropdownlist name="PartyId"
                                                        id="IdVendor"
                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                        option-label="Seleccionar Proveedor"
                                                        datatextfield="VendorName"
                                                        datavaluefield="VendorId"
                                                        style="width: 100%;">
                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999999">
                                            <sorts>
                                                <sort field="VendorName" direction="asc" />
                                            </sorts>
                                            <transport>
                                                <read url="@Url.Action("GetVendor", "Vendor")" />
                                            </transport>
                                        </datasource>
                                    </kendo-dropdownlist>
                                </div>
                                <div class="form-group" id="customer">
                                    <label class="  control-label" style="width:100%">Beneficiario</label>
                                    <kendo-dropdownlist name="VoucheType"
                                                        id="IdCustomer"
                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                        option-label="Seleccionar Cliente"
                                                        datatextfield="CustomerName"
                                                        datavaluefield="CustomerId"
                                                        style="width: 100%;">
                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999999">
                                            <sorts>
                                                <sort field="CustomerName" direction="asc" />
                                            </sorts>
                                            <transport>
                                                <read url="@Url.Action("Get", "Customer")" />
                                            </transport>
                                        </datasource>
                                    </kendo-dropdownlist>
                                </div>

                                <div class="form-group" id="notype">
                                    <label asp-for="PaytoOrderOf" class=" control-label" style="min-width:100%">Pagar a la Orden de</label>
                                    <input type="text" asp-for="PaytoOrderOf" name="PaytoOrderOf" class="k-textbox" style="min-width:100%"  />
                                    
                                </div>

                            </div>
                        </div>




                        <div class="row">

                            <div class="col-md-8">
                                <div class="form-group">
                                    <label asp-for="Place" class=" control-label" style="min-width:100%">Lugar</label>
                                    <input type="text" asp-for="Place" name="Date" class="k-textbox" style="min-width:100%"  data-val-required="El Lugar es requerido." />
                                    <span asp-validation-for="Place" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Ammount" class=" control-label" style="min-width:100%">Monto</label>
                                    <kendo-numerictextbox for="Ammount" name="Ammount"
                                                          format="n2"
                                                          min="0"
                                                          spinners="false"                                                          
                                                          maxlength="20"
                                                          style="min-width:100%" />
                                    <span asp-validation-for="Ammount" class="text-danger"></span>
                                </div>
                            </div>

                            
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label asp-for="Sinopsis" class=" control-label" style="min-width:100%">Sinopsis</label>
                                    <input type="text" asp-for="Sinopsis" name="Date" class="k-textbox" style="min-width:100%" data-val-required="La Sinopsis es Requerida" />
                                    <span asp-validation-for="Sinopsis" class="text-danger"></span>
                                </div>
                            </div>
                            @*<div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="RetencionId" class="k-label" style="min-width:100%">Retencion</label>
                                    <input type="text" asp-for="RetencionId" name="Date" class="form-control"  />
                                    <button class="btn btn-primary" onclick="AddComprobanteRetencion()" type="button">Asociar Retención</button>
                                </div>
                            </div>*@

                        </div>
                        <div class="row">
                            
                        </div>

                            @await Html.PartialAsync("JournalEntryLine", new ERPMVC.DTO.JournalEntryLineDTO { JournalEntryId = 0, AccountId = Convert.ToInt32( Model.AccountManagement==null? 0:Model.AccountManagement.AccountId) })

                    </form>
                    <div class="row">
                        
                            <button id="Guardar" class="form-control btn-miboton" type="button" onclick="SaveJournalEntry()"> Guardar </button>
                       
                        
                    </div>
                </div>
                    <div class="modal-footer">
                        
                    </div>
                
                    
                    

                
            </div>
        </div>
       
    </div>
    @*<div id="numComprobanteRetencion">
        @await Html.PartialAsync("pvwAddRetentionReceipt", new ERPMVC.DTO.RetentionReceiptDTO { RetentionReceiptId = 0, FechaEmision = DateTime.Now, DueDate = DateTime.Now })
    </div>*@



<script>

function customFunction(input) {

        if (input.attr('name') === "Ammount" && input.val() == "0.00") {
            return false;
        }

        return true;
    }


    var onBegin = function () {
        //alert("Begin");

    };

    var onComplete = function () {
        //alert("Complete");
        //$('#ModalEmployees').modal('hide');
    };

    var onSuccess = function (context) {
        //alert(context);
        console.log(context);
        $.toast({
            heading: 'Satisfactorio',
            text: '<br/><br/> Datos guardados correctamente.',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'success',
            hideAfter: 30000,
            stack: 6
        });

        RefrescarGrid();
        $('#frmCheckAccount').modal('hide');
        $('#ModalCheck').modal('hide');
    };

    var onFailed = function (context) {
        // alert(context);
        console.log(context);
        $.toast({
            heading: 'Error',
            text: '<br/><br/> Error al Guardar',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'error',
            hideAfter: 30000,
            stack: 6
        });
    };
    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return (key >= 48 && key <= 57)
    }

    function RefrescarGrid() {
        var grid = $("#gridCheckAccount").getKendoGrid();
        grid.dataSource.read();
    }
    $(document).ready(function () {  
        $("#customer").hide();
        $("#party").show();
        $("#vendor").hide();
        $("#employe").hide();
        $("#notype").hide();
        $("#IdPartyType").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            optionLabel: {
                text: "Seleccione tipo de  beneficiario",
                value: null
            },
            dataSource: [
                { text: "Digitar", value: 0 },
                { text: "Cliente", value: 1 },
                { text: "Empleado", value: 2 },
                { text: "Proveedor", value: 3 },
            ],
            filter: "contains",
            suggest: true,
        });
        $("#IdParty").kendoDropDownList({
            optionLabel: "Seleccione beneficiario",
            enable: false
        });

        $('#IdPartyType').on("change", function () {
            var party = $("#IdPartyType").data("kendoDropDownList").text();
            var Id = $("#IdPartyType").data("kendoDropDownList").value();
            debugger;
            if (Id == 1) {
                if ($("#customer").is(':hidden')) {
                    $("#IdCustomer").data("kendoDropDownList").value(0);
                }
                $("#customer").show();
                //$("#IdCustomer").attr("required", "required");
                $("#party").hide();
                $("#vendor").hide();
                //$("#IdVendor").removeAttr("required");
                $("#employe").hide();
                 $("#notype").hide();
                //$("#idemploye").removeAttr("required");
            }
            else if (Id == 2) {
                $("#customer").hide();
                //$("#IdCustomer").removeAttr("required");
                $("#party").hide();
                $("#vendor").hide();
                //$("#IdVendor").removeAttr("required");
                if ($("#employe").is(':hidden')) {
                    $("#idemploye").data("kendoDropDownList").value(0);
                }
                $("#employe").show();
                 $("#notype").hide();
                //$("#idemploye").attr("required", "required");
            }
            else if (Id == 3) {
                $("#customer").hide();
                //$("#IdCustomer").removeAttr("required");
                $("#party").hide();
                if ($("#vendor").is(':hidden')) {
                    $("#IdVendor").data("kendoDropDownList").value(0);
                }
                $("#vendor").show();
                //$("#IdVendor").attr("required", "required");
                $("#employe").hide();
                 $("#notype").hide();
                //$("#idemploye").removeAttr("required");
            }
            else if (Id == 0) {
                $("#customer").hide();
                //$("#IdCustomer").removeAttr("required");
                $("#party").hide();
                
                $("#notype").show();
                //$("#IdVendor").attr("required", "required");
                $("#employe").hide();
                //$("#idemploye").removeAttr("required");
            }
            else {
                $("#customer").hide();
                //$("#IdCustomer").removeAttr("required");
                $("#party").hide();
                $("#vendor").hide();
                //$("#IdVendor").removeAttr("required");
                $("#employe").hide();
                 $("#notype").hide();
                $("#PartyName").val(null);
                //$("#idemploye").removeAttr("required");
            }
        });
    });


    function SaveJournalEntry() {
        debugger;
        //console.log(e);
       // e.preventDefault();
         $("#Guardar").prop("disabled", true);
        if ($("#Ammount").val()<1) {
            $.toast({
                                heading: 'Error',
                                text: 'Monto no puede ser cero',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'error',
                                hideAfter: 30000,
                                stack: 6
            });
             $("#Guardar").prop("disabled", false);
            return;
        }

        if ($("#Place").val()=='') {
            $.toast({
                                heading: 'Error',
                                text: 'Debe Colocarl el lugar de emision del Cheque',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'error',
                                hideAfter: 30000,
                                stack: 6
            });
             $("#Guardar").prop("disabled", false);
            return;
        }
        var IdTipoBeneficiario = $("#IdPartyType").data("kendoDropDownList").value();
        if (IdTipoBeneficiario == '') {
             $.toast({
                                heading: 'Error',
                                text: 'Debe de seleccionar el beneficiario',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'error',
                                hideAfter: 30000,
                                stack: 6
             });
            $("#Guardar").prop("disabled", false);
            return;
        }
        
        var Debito = $("#TotalDebito").val();
        var Credito = $("#TotalCredito").val();
        if (Number(Credito) != Number(Debito)) {
            alert("La partida contable no esta cuadrada");
                 $("#Guardar").prop("disabled", false);
            return;
            } 
        else if (Number(Credito) == 0 && Number(Debito)==0) {
            alert("No se puede  guardar la partida contable sin  las líneas contables");
            $("#Guardar").prop("disabled", false);
            return;
        };

        debugger;           
        $("#Guardar").hide();
        $("#Guardar").prop("disabled", true);

        var displayedData = $("#gridNumeracionJournalEntryLine").data().kendoGrid.dataSource.data();
        for (var i = 0; i < displayedData.length; i++) {
            displayedData[i].JournalEntryLineId = 0;
        }
        document.getElementById('btnCheckAccount').click();

        
        beneficiario = '';
        switch (IdTipoBeneficiario) {
            case '0':
                beneficiario = $("#PaytoOrderOf").val();
                break;
            case '1':
                beneficiario = $("#IdCustomer").data("kendoDropDownList").text();
                break;
            case '2':
                beneficiario = $("#idemploye").data("kendoDropDownList").text();
                break;
            case '3':
                beneficiario = $("#IdVendor").data("kendoDropDownList").text();
                break;
            
            
        }

        var dataObject = {
            'CheckAccountId':$("#CheckAccountId").val(),
            'CheckNumber':$("#CheckNumber").val(),
            'Date':$("#Date").getKendoDatePicker().value().toJSON(),
            'Place':$("#Place").val(),
            'PaytoOrderOf':beneficiario,
            'RTN':$("#RTN").val(),
            'Ammount':$("#Ammount").val(),
            'Adress': $("#Adress").val(),
            'Sinopsis':$("#Sinopsis").val(),
            'JournalEntryLines': displayedData
            };

           console.log(displayedData);
           console.log(JSON.stringify(dataObject));
           
                    $.ajax({
                        url: '@Url.Action("SaveCheck", "CheckAccount")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {
                            $("#JournalEntryId").val(data.JournalEntryId);
                            //Imprimir(null, data.JournalEntryId);
                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });
                            RefrescarGrid();
                            $('#ModalCheck').modal('hide');

                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                           $.toast({
                                heading: 'Error',
                                text: 'Error al Registrar el Cheque',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'error',
                                hideAfter: 30000,
                                stack: 6
                            });
                            RefrescarGrid();
                            $("#Guardar").prop("disabled", false);
                           // $('#ModalCheck').modal('hide');
                        }
                    });
                
        //$("#Guardar").show();
        //$("#btnJournalEntry").prop("disabled", true);
        //$("#Guardar").prop("disabled", false);
    }    

</script>
