@model ERPMVC.DTO.SeveridadRiesgoDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
           // {"required","Valor requerido" }
        };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<div id="ModalSeveridadRiesgo" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Severidad de Riesgo</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmSeveridadRiesgo" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveSeveridadRiesgo"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Severidad de Riesgo</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdSeveridad" class=" control-label" style="min-width:100%"></label>
                                                    <input type="text" asp-for="IdSeveridad" name="IdSeveridad" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="IdSeveridad" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Impacto" class=" control-label" style="min-width:100%"></label>
                                                    <input type="number" asp-for="Impacto" name="Impacto" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Impacto" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Probabilidad" class=" control-label" style="min-width:100%"></label>
                                                    <input type="text" asp-for="Probabilidad" name="Probabilidad" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Probabilidad" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="LimiteCalidadInferior" class=" control-label" style="min-width:100%"></label>
                                                    <input type="number" min="0" asp-for="LimiteCalidadInferior" name="LimiteCalidadInferior" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="LimiteCalidadInferior" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="LimeteCalidadSuperir" class=" control-label" style="min-width:100%"></label>
                                                    <input type="number" asp-for="LimeteCalidadSuperir" name="LimeteCalidadSuperir" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="LimeteCalidadSuperir" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="RangoInferiorSeveridad" class=" control-label" style="min-width:100%"></label>
                                                    <input type="number" asp-for="RangoInferiorSeveridad" name="RangoInferiorSeveridad" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="RangoInferiorSeveridad" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="RangoSuperiorSeveridad" class=" control-label" style="min-width:100%"></label>
                                                    <input type="number" asp-for="RangoSuperiorSeveridad" name="RangoSuperiorSeveridad" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="RangoSuperiorSeveridad" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <script>
                                                    function GetNiveles() {
                                                        return { 'Id': 14 }
                                                    }
                                                </script>
                                                <div class="form-group">
                                                    <label asp-for="Nivel" class="control-label">Nivel</label>
                                                    <kendo-dropdownlist name="Nivel"
                                                                        for="@Model.Nivel"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione"
                                                                        datatextfield="Nombre"
                                                                        datavaluefield="Id"
                                                                        disabled
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GetNiveles" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnSeveridadRiesgo" class="form-control btn-miboton" onclick="SaveSeveridadRiesgo(this)" type="button"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if (@Model.IdSeveridad == 0) {
            console.log(@Model.LimeteCalidadSuperir);
            $("#LimeteCalidadSuperir").prop("disabled", true);
        }
    });

    function customFunction(input) {
        if (input.attr('name') === "IdSeveridad" && input.val() === "0") {
            return false;
        }
    }

    function SaveSeveridadRiesgo(e) {
        debugger;
        var displayedData = $("#gridSeveridadRiesgo").data().kendoGrid.dataSource.view();
        if (displayedData.length > 0) {

        }
        var notification = $("#notification").data("kendoNotification");

            $("#btnSeveridadRiesgo").hide();
            $("#btnSeveridadRiesgo").prop("disabled", true);

        var setColorHexadecimal = "";
        if ($("#Nivel").data("kendoDropDownList").text() == "Bajo") {
            setColorHexadecimal = "#008F39";
        }
        else if ($("#Nivel").data("kendoDropDownList").text() == "Medio") {
            setColorHexadecimal = "#FFFF00";
        }
        else if ($("#Nivel").data("kendoDropDownList").text() == "Alto") {
            setColorHexadecimal = "#FF8000";
        }
        else if ($("#Nivel").data("kendoDropDownList").text() == "Muy Alto") {
            setColorHexadecimal = "#FF0000";
        }
            

            var dataObject = {
                'IdSeveridad': $("#IdSeveridad").val() === "" ? "0" : $("#IdSeveridad").val(),
                'Impacto': $("#Impacto").val(),
                'Probabilidad': $("#Probabilidad").val(),
                'LimiteCalidadInferior': $("#LimiteCalidadInferior").val(),
                'LimeteCalidadSuperir': $("#LimeteCalidadSuperir").val(),
                'RangoInferiorSeveridad': $("#RangoInferiorSeveridad").val(),
                'RangoSuperiorSeveridad': $("#RangoSuperiorSeveridad").val(),
                'Nivel': $("#Nivel").data("kendoDropDownList").text(),
                'ColorHexadecimal': setColorHexadecimal,
            };

        var validator = $("#frmSeveridadRiesgo").data("kendoValidator");
        var status = $(".status");

                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveSeveridadRiesgo", "SeveridadRiesgo")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {
                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });
                            RefrescarGrid();
                            $('#ModalSeveridadRiesgo').modal('hide');
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            notification.show({
                                title: "Validación",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");
                        }
                    });
                }
                else {
                    notification.show({
                        title: "Validación",
                        message: "Ingrese todos los datos en el formulario!"
                    }, "error");
                }
        
            $("#btnSeveridadRiesgo").show();
            $("#btnSeveridadRiesgo").prop("disabled", false);
    }

    function SetNivelRiesgo() {
        var displayedData = $("#gridSeveridadRiesgo").data().kendoGrid.dataSource.view();
        if (displayedData.length == 0) {
            $("#Nivel").data("kendoDropDownList").text('Bajo');
        }
        else if (displayedData.length == 1) {
            $("#Nivel").data("kendoDropDownList").text('Medio');
        }
        else if (displayedData.length == 2) {
            $("#Nivel").data("kendoDropDownList").text('Alto');
        }
        else if (displayedData.length == 3) {
            $("#Nivel").data("kendoDropDownList").text('Muy Alto');
        }
    }

    $("#LimiteCalidadInferior").keyup(function (e) {
        if ($("#LimiteCalidadInferior").val() == 0) {
            $("#LimeteCalidadSuperir").prop("disabled", true);
        }
        else {
            $("#LimeteCalidadSuperir").prop("disabled", false);
            var LimeteCalidadSuperirActual = Number($("#LimiteCalidadInferior").val());
            $("#LimeteCalidadSuperir").attr({
                "min": Number(LimeteCalidadSuperirActual) + 1
            });
            if (LimeteCalidadSuperirActual >= $("#LimeteCalidadSuperir").val()) {
                $("#LimeteCalidadSuperir").val("")
            }
        }
    });

    $("#LimiteCalidadInferior").change(function (e) {
        if ($("#LimiteCalidadInferior").val() == 0) {
            $("#LimeteCalidadSuperir").prop("disabled", true);
        }
        else {
            $("#LimeteCalidadSuperir").prop("disabled", false);
            var LimeteCalidadSuperirActual = $("#LimiteCalidadInferior").val();
            $("#LimeteCalidadSuperir").attr({
                "min": Number(LimeteCalidadSuperirActual) + 1
            });
            if (LimeteCalidadSuperirActual >= $("#LimeteCalidadSuperir").val()) {
                $("#LimeteCalidadSuperir").val("")
            }
        }
    });
</script>