@model IEnumerable<ERPMVC.Models.Purch>

<p>
    <a asp-action="Create" class="k-button">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PurchCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RTN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.taxGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneReferenceone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyReferenceone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneReferencetwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyReferencetwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrupoEconomico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RTN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taxGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneReferenceone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyReferenceone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneReferencetwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyReferencetwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrupoEconomico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PurchId" class="k-button k-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PurchId" class="k-button">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PurchId" class="k-button">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
