@model ERPMVC.Models.Purch

<script>

    //console.log($.fn.jquery);

    function GetPurchId() {
        return { PurchId: $("#PurchId").val() }
    }
    function BackPurch() {
        // e.preventDefault();
        //  var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = "@Url.Action("Index", "Purch")";
        //update => update.Action("Update", "Purch", new { TypeAccountId = "{0}" }).Type(HttpVerbs.Put)
    }
</script>

<div class="container-fluid">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="modal-header">
                    <button type="button" name="btnprueba" class="close" onclick="BackPurch();"><i class="fas fa-arrow-alt-circle-left"></i></button>
                    <h4
                       class="modal-title">Datos de Proveedores</h4>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label asp-for="PurchId" class="control-label" style="width: 100%;"></label>
                            <input id="PurchId" required class="form-control" style="min-width:100%;" asp-for="PurchId" disabled="disabled" />
                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="form-group">
                            <label asp-for="PurchCode" class="control-label" style="width: 100%;"></label>
                            <input type="text" id="PurchCode" required class="form-control" style="min-width:100%;" asp-for="PurchCode" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PurchName" class="control-label" style="width: 100%;"></label>
                            <input type="text" id="PurchName" required class="form-control" style="min-width:100%;" asp-for="PurchName" />

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class=" col-md-4">
                        <div class="form-group">
                            <label asp-for="RTN" class="control-label" style="width: 100%;"></label>
                            <input type="text" id="RTN" required class="form-control" style="min-width:100%;" asp-for="RTN" />
                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="form-group">
                            <label asp-for="Address" class="control-label" style="width: 100%;"></label>
                            <input type="text" id="Address" required class="form-control" style="min-width:100%;" asp-for="Address" />
                        </div>
                    </div>

                    <div class=" col-md-4">
                        <div class="form-group">
                            <label asp-for="City" class="control-label" style="width: 100%;"></label>
                            <input type="text" id="City" required class="form-control" style="min-width:100%;" asp-for="City" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class=" col-md-4">
                        <div class="form-group">
                            <label asp-for="ZipCode" class="control-label" style="width: 100%;"></label>
                            <input type="text" id="ZipCode" required class="form-control" style="min-width:100%;" asp-for="ZipCode" />
                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="form-group">
                            <label asp-for="Phone" class="control-label" style="width: 100%;"></label>
                            <input type="text" id="Phone" required class="form-control" style="min-width:100%;" asp-for="Phone" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="State" class="control-label" style="width: 100%;"></label>
                            <input type="text" id="State" required class="form-control" style="min-width:100%;" asp-for="State" />
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="ContactPerson" class="control-label" style="width: 100%;"></label>
                            <input type="text" id="ContactPerson" required class="form-control" style="min-width:100%;" asp-for="ContactPerson" />
                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="form-group">
                            <label asp-for="Identidad" class="control-label" style="width: 100%;"></label>
                            <input type="text" id="Identidad" required class="form-control" style="min-width:100%;" asp-for="Identidad" />
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="IdEstado" class="control-label"></label>
                            <kendo-dropdownlist name="IdEstadoCliente" style="width:100%;"
                                                for="IdEstado"
                                                id="IdEstadoCliente"
                                                filter="Kendo.Mvc.UI.FilterType.Contains"
                                                datatextfield="NombreEstado"
                                                datavaluefield="IdEstado">
                                <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                    <transport>
                                        <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                    </transport>
                                </datasource>
                            </kendo-dropdownlist>
                        </div>
                    </div>



                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="Email" class="control-label" style="width: 100%;"></label>
                        <input type="text" id="Email" required class="form-control" style="min-width:100%;" asp-for="Email" />
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button id="btnGuardarPurch" type="submit" onclick="SavePurch();" class="form-control  btn-miboton">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    function SavePurch() {

          //console.log($("#ClienteRecoger").val());
          //console.log($("#EnviarlaMensajero").val());


          $("#btnGuardarPurch").hide();
        $("#btnGuardarPurch").prop("disabled", true);

          var dataObject = {
              'PurchId': $("#PurchId").val(),
              'PurchName': $("#PurchName").val(),
              'RTN': $("#RTN").val(),
              'Address': $("#Address").val(),
              'City': $("#City").val(),
              'State': $("#State").val(),
              'ZipCode': $("#ZipCode").val() == null ? 0 : $("#ZipCode").val(),
              'Phone': $("#Phone").val(),
              'Identidad': $("#Identidad").val(),
              'Email': $("#Email").val(),
              'ContactPerson': $("#ContactPerson").val(),
              'IdEstado': $("#IdEstadoCliente").val(),
              'Estado': $("#IdEstadoCliente").data("kendoDropDownList").text(),


          };

      //    console.log(dataObject);

           $.ajax({
                url: '@Url.Action("SavePurch", "Purch")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (data) {
                    $("#PurchId").val(data.PurchId);

                    $.toast({
                        heading: 'Satisfactorio',
                        text: '<br/><br/> Datos guardados correctamente.',
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        showHideTransition: 'slide',
                        hideAfter: 3000,
                        stack: 6
                    });

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(textStatus + ": " + XMLHttpRequest.responseText);
                    $("#btnGuardarPurch").show();
                    $("#btnGuardarPurch").prop("disabled", false);
                    //  $("#btngenerarfactura").show();
                    notification.show({
                        title: "Validación",
                        message: textStatus + ": " + XMLHttpRequest.responseText
                    }, "error");

                }
            });



      }
</script>

<style>
    /*.modal-backdrop {

        display: none;
    }

    .modal-dialog {
        margin: 2px auto;
        z-index: 1100 !important;
    }

    .modal-open .modal {
        overflow: hidden;
    }

    .modal-body {
        overflow: auto;
        min-height:1700;
    }

    .fixed-div {
        width: 100%;
        position: fixed;
        z-index: 1051;
        background: #fff;
        box-shadow: 0 5px 20px 4px rgba(0,0,0,.1);
    }*/

    /*#tabFirmasAutorizadas .k-tabstrip ul li.k-item {
        width: 190px;
    }*/

    /*.k-tabstrip ul li.k-item, li.k-tabstrip-items {
        width: 140px;
    }


    .k-link {
        width: 185px;
    }*/
</style>



<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    @(Html.Kendo().TabStrip()

                                                                                               .Name("tabDetalleProveedor")
                                                                                               .Items(tabstrip =>
                                                                                               {
                                                                                                   tabstrip.Add().Text("Documentos").HtmlAttributes(new { @id = "tabDocuments" })
                                                                                                  .LoadContentFrom("PurchDocument", "PurchDocument");


                                                                                                   tabstrip.Add().Text("Escritura").HtmlAttributes(new { @id = "tabEscritura" })
                                                                                                  .LoadContentFrom("Index", "CustomerPartners");
                                                                                                   tabstrip.Add().Text("Apoderado Legal").HtmlAttributes(new { @id = "tabApodlegal" })
                                                                                                  .LoadContentFrom("Index", "CustomerPartners");


                                                                                                   tabstrip.Add().Text("Identidad")
                                                                                                    .LoadContentFrom(@Url.Action("", "Customer"));


                                                                                                   tabstrip.Add().Text("RTN")
                                                                                                  .LoadContentFrom(@Url.Action("Index", "CustomerPhones"));


                                                                                                   tabstrip.Add().Text("Socios")
                                                                                                    .LoadContentFrom("CustomerDocument", "CustomerDocument");


                                                                                                   tabstrip.Add().Text("Referencias")
                                                                                                   .LoadContentFrom(@Url.Action("ProformaInvoiceCustomer", "Customer"));





                                                                                               })
                                                                                               .SelectedIndex(0)
                    )
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $("#tabDetalleProveedor").kendoTabStrip({
        collapsible: true
    });

    $("#tabDetalleProveedor").width($("#tabDetalleProveedor").innerWidth());

    console.log($("#tabDetalleProveedor").innerWidth());
</script>
