@model ERPMVC.DTO.FormulasAplicadasDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
           // {"required","Valor requerido" }
        };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

        function customFunction(input) {

            if (input.attr('name') === "IdFormulaAplicada" && input.val() === "0") {
                return false;
            }

        }
    //function TipoFormulasAplicadas() {
    //    return { Id: 24 };
    //} 
        //$('#btnprueba').val("");
</script>



<div id="ModalFormulasAplicadas" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">FormulasAplicadas</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmFormulasAplicadas" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveFormulasAplicadas"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">FormulasAplicadas</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdFormulaAplicada" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="IdFormulaAplicada" name="IdFormulaAplicada" class="form-control" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="IdFormulaAplicada" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdFormula" class="control-label"></label>
                                                    <kendo-dropdownlist name="IdFormula"
                                                                        for="IdFormula"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Formula"
                                                                        datatextfield="NombreFormula"
                                                                        datavaluefield="IdFormula"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Formula")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdEstado" class="control-label"></label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdEmpleado" class="control-label"></label>
                                                    <kendo-dropdownlist name="IdEmpleado"
                                                                        for="IdEmpleado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Empleado"
                                                                        datatextfield="NombreEmpleado"
                                                                        datavaluefield="IdEmpleado"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Employees")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>


                                            <div class="col-md-4">

                                                <div class="form-group">
                                                    <label asp-for="FormulaEmpleada" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="FormulaEmpleada" name="NombreFormulasAplicadas" class="form-control" autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="FormulaEmpleada" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="MultiplicarPor" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="MultiplicarPor" name="TipoFormulasAplicadas" class="form-control" autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="MultiplicarPor" class="text-danger"></span>
                                                </div>
                                            </div>

                                            @*<div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdCalculo" class="  control-label" style="width:100%"></label>
                                                    <kendo-dropdownlist name="IdCalculo"
                                                                        for="IdCalculo"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el Tipo Fórmula"
                                                                        datatextfield="Nombre"
                                                                        datavaluefield="Id"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="TipoFormulasAplicadas" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="IdCalculo" class="text-danger"></span>
                                                </div>
                                            </div>*@

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnFormulasAplicadas" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SaveFormulasAplicadas(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnFormulasAplicadas").hide();
            $("#btnFormulasAplicadas").prop("disabled", true);

            var displayedData = $("#grIdFormulaAplicada").data().kendoGrid.dataSource.view();

        var dataObject = {
            'IdFormulaAplicada': $("#IdFormulaAplicada").val() === "" ? "0" : $("#IdFormulaAplicada").val(),
            'NombreFormulasAplicadas': $("#NombreFormulasAplicadas").val(),
            'CalculoFormulasAplicadas': $("#CalculoFormulasAplicadas").val(),
            'IdEstado': $("#IdEstado").val(),
            'NombreEstado': $("#IdEstado").data("kendoDropDownList").text(),
            'IdTipoFormulasAplicadas': $("#IdTipoFormulasAplicadas").val(),
            'NombreTipoFormulasAplicadas': $("#IdTipoFormulasAplicadas").data("kendoDropDownList").text(),
        };
 

        var validator = $("#frmFormulasAplicadas").data("kendoValidator");
                 var status = $(".status");

                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveFormulasAplicadas", "FormulasAplicadas")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/>Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 3000,
                                stack: 6
                            });

                            RefreshGrIdFormulaAplicada();

                            $('#ModalFormulasAplicadas').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validación",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }


            $("#btnFormulasAplicadas").show();
            $("#btnFormulasAplicadas").prop("disabled", false);
    }
</script>
