@using System.Security.Claims
@{
    ViewData["Title"] = "Nota de Débito";
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];
}
<script>
    $(document).ready(function () {
        ClearSession();
    });

    function ClearSession() {
        var dataObject = ["listadoproductosdebitnote"];
         $.ajax({
            url: '@Url.Action("ClearSession","Common")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(dataObject),
            success: function (result) {
                  //  $('#myModalSalesOrder').modal('show');
            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
              }
         });
    }

    function AddCotizacion() {
       // $('#myModalSalesOrder').find(':input').not(':submit').val('');
         //$('#myModalSalesOrder').modal('show');

        ClearSession();

         var dataObject = {
             DebitNoteId: 0,
            editar : 1
        };

        $.ajax({
            url: '@Url.Action("pvwDebitNote","DebitNote")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(dataObject),
            success: function (result) {
              //  console.log(result);
                $("#divDebitNote").html('');
                $("#divDebitNote").html(result);
                $("#Tefono").kendoMaskedTextBox({
                    mask: "(999) 0000-0000"
                });
                $("#TefonoAlert").hide();
                //document.getElementById('FacturaInterna').style.display = 'none';
                //RefreshDebitNoteDetail();
                 $("#btnSaveDebitNote").show();
                 $('#myModalSalesOrder').modal('show');
            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
              }
        });


    }

    function EditCotizacion(e) {
        e.preventDefault();

        ClearSession();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var dataObject = {
            DebitNoteId: dataItem.DebitNoteId,
            editar : 0
        };

        var IdPuntoEmision = 0;
        $.ajax({
            url: '@Url.Action("pvwDebitNote", "DebitNote")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(dataObject),
            success: function (result) {
                $("#divDebitNote").html('');
                $("#divDebitNote").html(result);
                $("#Tefono").kendoMaskedTextBox({
                    mask: "(999) 0000-0000"
                });
                $("#TefonoAlert").hide();
                var txt = $(result);
                var found = $("#IdPuntoEmision", txt);
                IdPuntoEmision = $(found).val();

                 $("#IdPuntoEmision").data("kendoDropDownList").value(IdPuntoEmision);

                 //RefreshDebitNoteDetail();
                 $("#btnSaveDebitNote").hide();
                 $('#myModalSalesOrder').modal('show');
            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
              }
        });
    }

    function ImprimirCotizacion(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var url = '@Url.Action("SFDebitNote", "DebitNote")/' + dataItem.DebitNoteId;
                    var win = window.open(url, '_blank');
                    win.focus();
    }

    function GenerarFactura(e) {
        if (confirm('Esta seguro de generar una factura?')) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var dataObject = {
                DebitNoteId: dataItem.DebitNoteId,
                editar: 0
            };

            $.ajax({
                url: '@Url.Action("GenerarFactura", "DebitNote")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (result) {

                    $("#divDebitNote").html('');
                    $("#divDebitNote").html(result);

                    //  RefreshDebitNoteDetail();
                    $("#btnSaveDebitNote").hide();
                    $('#myModalSalesOrder').modal('show');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
            });
        }
    }



    function closecondition() {
        $('#myModalConditions').modal('hide');
    }


</script>

<h3 class="text-themecolor">Nota Débito</h3>

@(Html.Kendo().Grid<ERPMVC.Models.DebitNote>()
                                      .Name("gridDebitNotes")
                                      .Columns(columns =>
                                      {
                                          if (permisos.HasClaim("Ventas.Nota de Debito.Ver Detalle Nota de Debito", "true")
                                          || permisos.HasClaim("Ventas.Nota de Debito.Imprimir Nota de Debito", "true"))
                                          {
                                              columns.Command(command =>
                                              {
                                                  if (permisos.HasClaim("Ventas.Nota de Debito.Ver Detalle Nota de Debito", "true"))
                                                  {
                                                      command.Custom("Editar").Text(" ").IconClass("far fa-list-alt").Click("EditCotizacion");
                                                  }
                                                  if (permisos.HasClaim("Ventas.Nota de Debito.Imprimir Nota de Debito", "true"))
                                                  {
                                                      command.Custom("Imprimir").Text(" ").IconClass("fa fa-print").Click("ImprimirCotizacion");
                                                  }
                                                  //command.Custom("GenerarFactura").Text(" ").IconClass("fa fa-file-import").Click("GenerarFactura");

                                                  //  command.Edit(); command.Destroy();
                                              }).Title("Acciones").Width(130);
                                          }
                                          columns.Bound(p => p.DebitNoteId).Title("Id").Width(100).Visible(false);
                                          columns.Bound(p => p.FechaCreacion).Format("{0:dd/MM/yyyy}").Title("Fecha de Creación").Width(210);
                                          columns.Bound(p => p.NoSAG).Title("Numeración SAR").Width(200);
                                          columns.Bound(p => p.DebitNoteName).Title("Nota Débito").Width(250);
                                          columns.Bound(p => p.DebitNoteDate).Format("{0:dd/MM/yyyy}").Title("Fecha de Nota Débito").Width(250);
                                          columns.Bound(p => p.ExpirationDate).Format("{0:dd/MM/yyyy}").Title("Fecha de Expiración").Width(250);

                                          //columns.Bound(p => p.ShipmentId).Title("Envio Id").Width(150);
                                          //columns.Bound(p => p.SalesOrderId).Title("Cotización").Width(150);
                                          //columns.Bound(p => p.BranchId).Title("Branch Id").Width(150);
                                          columns.Bound(p => p.BranchName).Title("Sucursal").Width(250);
                                          //columns.Bound(p => p.Freight).Format("{0:n2}").Title("Flete").Width(150);
                                          //columns.Bound(p => p.SubTotal).Format("{0:n2}").Title("Sub Total").Width(150);
                                          //columns.Bound(p => p.Tax).Format("{0:n2}").Title("Total Impuesto").Width(150);
                                          //columns.Bound(p => p.Total).Format("{0:n2}").Title("Total").Width(150);
                                      })
                                          .Filterable(f => f.Operators(o => o.ForString(s => s
                                                   .Clear()
                                                   .Contains("Contiene")
                                                   .DoesNotContain("No contiene")
                                                   .EndsWith("Termina con")
                                                   .IsEqualTo("Es igual a")
                                                   .IsNotEqualTo("No es igual a")
                                                   .IsNull("Es nulo")
                                                   .StartsWith("Inicia con")


                                             )
                                             .ForNumber(n => n
                                               .Clear()
                                               .IsEqualTo("Es igual a")
                                               .IsGreaterThan("Es mayor que")
                                               .IsLessThan("Es menor que")
                                               .IsNull("Es nulo")
                                               .IsLessThanOrEqualTo("Es menor o igual que")
                                               .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                             )
                                             .ForDate(d => d
                                             .Clear()
                                             .IsEqualTo("Es igual que")
                                             .IsGreaterThan("Es mayor que")
                                             .IsLessThan("Es menor que")
                                             .IsLessThanOrEqualTo("Es menor o igual que")
                                             .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                             .IsNotEqualTo("No es igual que")
                                              )
                                           ))
                                      .ToolBar(tools =>
                                      {
                                          // tools.Create();
                                          if (permisos.HasClaim("Ventas.Nota de Debito.Agregar Nota de Debito", "true"))
                                          {
                                              tools.Custom().Text("Agregar").IconClass("k-icon k-i-plus")
                                                                                 .HtmlAttributes(new { @class = "k-i-plus-sm", onclick = "AddCotizacion();" });
                                          }
                                              tools.Excel().Text("Exportar a excel").HtmlAttributes(new { @class = "toolbar-field" });
                                              tools.Pdf().Text("Exportar a pdf").HtmlAttributes(new { @class = "toolbar-field" });
                                          

                                      })
                                       .Editable(e => e.Mode(GridEditMode.PopUp))
                                        .Sortable()
                                        .AutoBind(true)
                                        .Pageable(s => s
                                        .Messages(m => m.Display("Elementos mostrados {0} - {1} de {2}")
                                        .Empty("No hay datos."))
                                        )
                                        .Filterable()
                                        .Scrollable()
                                        // .ClientDetailTemplateId("template")
                                        .Pdf(pdf => pdf.FileName("Nota_Débito_Reporte" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                                        + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".pdf")
                                        .ProxyURL(Url.Action("Export", "Home")).AllPages())
                                          .Excel(excel => excel.FileName("Nota_Débito_Reporte_" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                                        + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".xlsx").Filterable(true)
                                        .ProxyURL(Url.Action("Export", "Home")).AllPages(true))
                                        //.Events(e => e.DataBound("dataBound"))
                                        .DataSource(dataSource =>

                                       dataSource
                                       //.Ajax()
                                       .WebApi()
                                        .ServerOperation(true)
                                        .Model(model =>
                                        {
                                            model.Id(p => p.DebitNoteId);
                                            model.Field(p => p.DebitNoteName).Editable(true);
                                            model.Field(p => p.DebitNoteId).Editable(true);


                                        })
                                        .Sort(s => s.Add(m => m.FechaCreacion).Descending())
                                        .Events(events =>
                                        {
                                            events.Error("error_handler");
                                            //events.upda("EditHandler");

                                        })
                                        .Read(read => read.Action("Get", "DebitNote"))
                                        .Create(create => create.Action("Insert", "DebitNote"))
                                        .Update(update => update.Action("Update", "DebitNote", new { id = "{0}" }))
                                        .Destroy(destroy => destroy.Action("Delete", "DebitNote", new { id = "{0}" }))
                                  )
)

<div id="divDebitNote">
    @await Html.PartialAsync("pvwDebitNote", new ERPMVC.DTO.DebitNoteDTO { DebitNoteId = 0, DebitNoteDate = DateTime.Now, DeliveryDate = DateTime.Now, ExpirationDate = DateTime.Now.AddDays(30) })
</div>


<script>

    function setToolbarTooltip(btn_cl, btn_tooltip) {
        $("#gridDebitNotes").kendoTooltip({
            filter: btn_cl,
            content: btn_tooltip
        });
    }

    function setRowButtonTooltip(btn_cl, btn_tooltip) {
        $("#gridDebitNotes").kendoTooltip({
            filter: btn_cl,
            content: btn_tooltip
        });
    }

    setToolbarTooltip(".k-grid-Agregar", "Agregar nuevo registro");
    //setRowButtonTooltip(".k-grid-edit", "Tooltip for Edit button");
    setRowButtonTooltip(".k-grid-GenerarFactura", "Generar una factura fiscal!");
    setRowButtonTooltip(".k-grid-Imprimir", "Imprimir registro");
    setRowButtonTooltip(".k-grid-Editar", "Ver Detalle");

</script>



<div id="ConditionView">
    @*@await Html.PartialAsync("~/Views/Conditions/pvwConditions.cshtml", new ERPMVC.Models.Conditions { ConditionId = 0 });*@
</div>

<div id="CustomerConditionView">
</div>
