@model ERPMVC.DTO.DebitNoteDTO
@using System.Security.Claims
@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                        {"required","Valor requerido" }
                    };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];
}





<script>



    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

        //if (input.attr('name') === "SubProductId" && input.val() === "0") {
        //    return false;
        //}

        if (input.attr('name') === "CurrencyId" && input.val() === "0") {
            return false;
        }

        if (input.attr('name') === "Quantity" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "Price" && input.val() == 0) {
            return false;
        }

        if (input.attr('name') === "TotalLine" && input.val() == 0) {
            return false;
        }



        return true;
    }

</script>

@await Html.PartialAsync("~/Views/OFAC/Index.cshtml")


<script>


    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return (key >= 48 && key <= 57)
    }
    function onChange(e) {
        
    }


</script>

 <script>

                                                function onChangeTipoVentas(){
                                                    var tipoventas = $("#SalesTypeId").data("kendoDropDownList").text();
                                                    if(tipoventas == 'Contado'){
                                                        $("#DiasVencimiento").attr("readonly", true);
                                                        $("#DiasVencimiento").val(0);
                                                    }else{
                                                        $("#DiasVencimiento").attr("readonly", false);
                                                        $("#DiasVencimiento").val(30);
                                                    }
                                                
                                                }
                                                    function GetBranchId() {
                                                        return {
                                                            'IdTipoDocumento': 9,
                                                            'BranchId': $("#BranchId").data("kendoDropDownList").value(),
                                                        }
                                                    }

                                                    function GetCustomerId(){
                                                            return {
                                                                CustomerId:$("#CustomerId").val(),
                                                            
                                                            }
                                                        
                                                        }

                                                        function SubProductByProductoId() {
                                                            return {
                                                                'ProductId': $("#ProductId").val()
                                                            }
                                                        }
                                                     function SetCustomerName(e) {
                                                           // console.log(e);
                                                            if ($("#CustomerId").val() > 0) {
                                                                $("#SalesOrderName").prop('disabled', true);
                                                                $("#SalesOrderName").val($("#CustomerId").data("kendoDropDownList").text());
                                                                var dataObject = { CustomerId: $("#CustomerId").val()};
                                                                  $.ajax({
                                                                     url: '@Url.Action("GetCustomerById", "Customer")',
                                                                     method: 'GET',
                                                                     datatype: "json",
                                                                     contentType: 'application/json',
                                                                     async: false,
                                                                     data: dataObject,
                                                                      success: function (result) {
                                                                          //console.log(result);
                                                                          // setearvalor("TaxPercentage", result.TaxPercentage);
                                                                          $("#DebitNoteName").val(result.CustomerName);
                                                                          $("#Direccion").val(result.Address);
                                                                          $("#RTN").val(result.RTN);
                                                                          $("#Correo").val(result.Email);
                                                                          $("#Tefono").val(result.Phone);
                                                                          var maskedtextbox = $("#Tefono").data("kendoMaskedTextBox");
                                                                          maskedtextbox.value($("#Tefono").val());
                                                                          $("#CustomerRefNumber").val(result.CustomerRefNumber);

                                                                     },
                                                                      error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                                          //alert(textStatus + ": " + XMLHttpRequest.responseText);
                                                                           MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Error", 6000);
                                                                       }
                                                                  });
                                                            }
                                                            else {
                                                                $("#SalesOrderName").prop('disabled', false);
                                                            }
                                                        }
                                                </script>
                                            
<div id="myModalSalesOrder" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nota de Débito </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="card">
                                <div class="card-body">
                                    <form id="frmSalesOrder" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                          data-ajax="true"
                                          data-ajax-method="post"
                                          method="post" class="validation-wizard wizard-circle">
                                        @*<div class="form-body">*@
                                        <div class="row">
                                            <div class=" col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="DebitNoteId" class="control-label">No Ref</label>
                                                    <input type="text" asp-for="DebitNoteId" class="form-control" style="min-width: 100%" disabled />
                                                    @*<span asp-validation-for="DebitNoteId" class="text-danger"></span>*@
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="DebitNoteDate" class="control-label" style="width: 100%;">Fecha</label>
                                                    <kendo-datetimepicker name="DebitNoteDate"
                                                                              style="min-width: 86%;color:black;font-weight:600" class="form-control"
                                                                              format="dd/MM/yyyy hh:mm:ss" disabled
                                                                              time-format="hh:mm:ss" data-val-required="La Fecha Orden es requerida."
                                                                              value="Model.DebitNoteDate"></kendo-datetimepicker>
                                                    <span asp-validation-for="DebitNoteDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="SalesTypeId" class="control-label" style="width:100%"></label>
                                                    
                                                        <kendo-dropdownlist name="SalesTypeId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            for="SalesTypeId"
                                                                            option-label="Seleccione Tipo Venta"
                                                                            on-change="onChangeTipoVentas"
                                                                            datatextfield="SalesTypeName"
                                                                            datavaluefield="SalesTypeId" 
                                                                            style="width: 100%;color:black;font-weight:600" data-val-required="El Tipo de Venta es requerido.">

                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                                <transport>
                                                                    <read url="@Url.Action("Get", "SalesType")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    
                                                    <span asp-validation-for="SalesTypeId" class="text-danger"></span>
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label asp-for="DiasVencimiento" class=" control-label" style="width:100%">Dias Vencimiento</label>
                                                        <input type="number" asp-for="DiasVencimiento" name="DiasVencimiento" id="DiasVencimiento" class="k-textbox" style="min-width:100%" />
                                                        <span asp-validation-for="DiasVencimiento" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="BranchId" class="control-label"></label>
                                                    <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Seleccione la sucursal"
                                                                            datatextfield="BranchName"
                                                                            datavaluefield="BranchId"
                                                                            data-val-required="La Sucursal es requerida."
                                                                            style="width: 100%;"
                                                                            auto-bind="true">
                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                                <sorts>
                                                                    <sort field="BranchName" direction="asc" />
                                                                </sorts>
                                                                <transport>
                                                                    <read url="@Url.Action("GetBranchActivos", "Branch")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="CustomerId" class="control-label">Cliente</label>
                                                    
                                                        <kendo-dropdownlist name="CustomerId" for="CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Seleccione Cliente"
                                                                            datatextfield="CustomerName"
                                                                            data-val-required="El Cliente es requerido."
                                                                            datavaluefield="CustomerId" 
                                                                            onchange="SetCustomerName();"
                                                                            style="width: 100%;color:black;font-weight:600">
                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                                <transport>
                                                                    <read url="@Url.Action("GetCustomerActivos", "Common")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                    
                                                    
                                                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3" >
                                               <div class="form-group">
                                                        <label asp-for="InvoiceId" class="control-label" style="width:100%">Factura No.</label>                                                    
                                                        @if ( Model.DebitNoteId == 0)
                                                        {
                                                        <kendo-dropdownlist name="InvoiceId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            for="InvoiceId"
                                                                            option-label="Seleccione la Factura"
                                                                            datatextfield="NumeroDEI"
                                                                            datavaluefield="InvoiceId"
                                                                            cascade-from="CustomerId"
                                                                            data-val-required="La Factura es requerida"
                                                                            style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                                <sorts>
                                                                    <sort field="NumeroDEI" direction="asc" />
                                                                </sorts>
                                                                <transport>
                                                                    <read url="@Url.Action("GetFacturasByCustomer", "Invoice")" data="GetCustomerId" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                        }else{ 
                                                            <input type="text" asp-for="NumeroDEIString" disabled class="form-control" style="min-width: 100%;color:black;font-weight:500" />
                                                        }
                                                    <span asp-validation-for="InvoiceId" class="text-danger"></span>
                                                        
                                                    </div>
                                                   
                                            </div>
                                            <div class="col-md-3">
                                                                 <label asp-for="Amount" class="control-label">Monto</label>
                                                                     <kendo-numerictextbox name="Amount"
                                                                                              format="n2"
                                                                                              spinners="false"
                                                                                              style="min-width: 100%;text-align:right;padding-right: 3px;color:black;font-weight:500"
                                                                                              min="0"  class="control-label right bold"
                                                                                              max="999999999"
                                                                                              ></kendo-numerictextbox>   
                                                                        @*<span asp-validation-for="Amount" class="text-danger"></span>*@
                                                 </div>
                                          
                                        </div>
                                        <div class="row"> 
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Cuenta Contable Ingresos</label>
                                                    <kendo-dropdownlist name="CuentaContableIngresosId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        for="CuentaContableIngresosId"
                                                                        option-label="Seleccione la cuenta "
                                                                        datatextfield="AccountName"
                                                                        datavaluefield="AccountId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                            <transport>
                                                                <read url="@Url.Action("GetAccountingDiaryActivos", "Accounting")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span id="Span" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Cuenta Contable por Cobrar</label>
                                                    <kendo-dropdownlist name="CuentaContableDebitoId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        for="CuentaContableDebitoId"
                                                                        option-label="Seleccione la cuenta "
                                                                        datatextfield="AccountName"
                                                                        datavaluefield="AccountId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                            <transport>
                                                                <read url="@Url.Action("GetAccountingDiaryActivos", "Accounting")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span id="Span" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                                 <label asp-for="Remarks" class="control-label"></label>
                                                                        
                                                                            <textarea asp-for="Remarks" class="form-control required "  style="min-width: 100%;color:black;font-weight:500"></textarea>
                                                                        
                                                                       
                                                                        <span asp-validation-for="Remarks" class="text-danger"></span>
                                          </div>
                                            
                                       </div>
                                         
                                         

                                          <div class="row" style="display:none">
                                                             <div class="col-md-3">
                                                                <div class="form-group">
                                                                <label asp-for="DebitNoteName" class="control-label" style="width:100%">Nombre Nota Débito</label>
                                                                <span>
                                                        
                                                                        <input asp-for="DebitNoteName" disabled id="DebitNoteName" maxlength="20" data-val-required="El Nombre de la Nota de Debito es requerido." class="form-control form-control-line" style="min-width: 100%;color:black;font-weight:500" />
                                                        
                                                                </span>
                                                                <span asp-validation-for="DebitNoteName" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label asp-for="Correo" class="control-label" style="width:100%"></label>
                                                    
                                                                    <input type="email" disabled asp-for="Correo" id="Correo" name="Correo" placeholder="nombre@ejemplo.com" maxlength="150" data-email-msg="Formato del Correo no valido" class="form-control" autocomplete="off" style="min-width:100%;color:black;font-weight:500" />
                                                    
                                                    
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label asp-for="RTN" class="control-label" style="width:100%"></label>                                                    
                                                                    <input type="text" asp-for="RTN" id="RTN" onkeypress="return SoloNumeros(event)" maxlength="20" data-val-required="El RTN es requerido." class="form-control required " style="min-width: 100%" />

                                                                <span asp-validation-for="RTN" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label asp-for="Tefono" class="control-label" style="width:100%"></label>
                                                                
                                                                    <input type="text" asp-for="Tefono" disabled name="Tefono" data-val-required="El Telefono es requerido." class="form-control required " style="min-width:100%;color:black;font-weight:bold;border-width:2px" onchange="validarTefono()" />
                                                                
                                                                <span asp-validation-for="Tefono" class="text-danger"></span>
                                                                <span id="TefonoAlert" class="text-danger"><span role="alert" class="k-icon k-i-warning"></span> Complete el número de teléfono.</span>
                                                            </div>
                                                        </div>
                                           
                                                        <div class=" col-sm-12 col-md-12">
                                                            <div class="form-group">
                                                                <label asp-for="Direccion" class="control-label" style="width:100%"></label>
                                                    
                                                                    <textarea asp-for="Direccion" data-val-required="La Dirección es requerida." class="form-control required " style="min-width: 100% !important;"></textarea>

                                                    
                                                                <span asp-validation-for="Direccion" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                          </div>
                                          @if (Convert.ToBoolean(Model.editar))
                                        {<div class="row">
                                                <button id="btnSaveCreditNote" type="submit" class="form-control btn-miboton " onclick="SaveCotizacion(this);">Guardar</button>
                                            </div>
                                        }
                                    </form>           
                                </div>
                                        
                                </div>

                               
            </div>
            </div>
        </div>
    </div>


<script>
    function validarTefono() {
        var cadena = $("#Tefono").val();
        if (cadena.indexOf("_") > -1 == true) {
            $("#TefonoAlert").show();
        }
        else {
            $("#TefonoAlert").hide();
        }
    }
</script>
<script>

    ///validar solo acepte numeros///
    function SoloNumeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "1234567890";
        especiales = "8-37-39-46";

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }
    ///validar not copy paste///
    $(document).ready(function () {
        //llenarsubproduct();
        $("#TefonoAlert").hide();

        $("#FacturaId").on('paste', function (e) {
            e.preventDefault();
        })
        $("#Tefono").on('paste', function (e) {
            e.preventDefault();
        })
        $("#DebitNoteName").on('paste', function (e) {
            e.preventDefault();
        })
        $("#RTN").on('paste', function (e) {
            e.preventDefault();
        })
        $("#Correo").on('paste', function (e) {
            e.preventDefault();
        })
    });


    

    function SaveCotizacion(e) {
        var validator = $("#frmSalesOrder").data("kendoValidator");
            if (!validator.validate() ) {
                    MostrarMensaje("Datos incorrectos en el formulario!", "Error", "Validación", 6000);
                }
            if ($("#Amount").val() == 0) {   
                         MostrarMensaje("El Monto no puede ser igual a 0!", "Error", "Validación", 6000);
                         return;
                    }
        

        var dataObject = {
                'DebitNoteId': $("#DebitNoteId").val() === "" ? "0" : $("#DebitNoteId").val(),
                'DebitNoteName': $("#DebitNoteName").val(),
                'BranchId': $("#BranchId").val(),
                'InvoiceId': $("#InvoiceId").val(),
                'BranchName': $("#BranchId").data("kendoDropDownList").text(),
                'CustomerId': $("#CustomerId").val(),
                'CustomerName': $("#CustomerId").data("kendoDropDownList").text(),
                'DebitNoteDate': $("#DebitNoteDate").getKendoDateTimePicker().value().toJSON(),
                //'ExpirationDate': $("#ExpirationDate").getKendoDateTimePicker().value().toJSON(),
                'SalesTypeId': $("#SalesTypeId").val(),
                'Remarks': $("#Remarks").val(),
                'Amount': $("#Amount").val(),
                'Correo': $("#Correo").val(),

                'CuentaContableIngresosId': $("#CuentaContableIngresosId").val(),
                'CuentaContableIngresosNombre': $("#CuentaContableIngresosId").data("kendoDropDownList").text(),
                'CuentaContableDebitoId': $("#CuentaContableDebitoId").val(),
                'CuentaContableDebitoNombre': $("#CuentaContableDebitoId").data("kendoDropDownList").text(),
                
                



                'Direccion': $("#Direccion").val(),
                'RTN': $("#RTN").val(),
                'Tefono': $("#Tefono").val(),

            };

             $.ajax({
                                url: '@Url.Action("SaveDebitNote", "DebitNote")',
                                method: 'POST',
                                datatype: "json",
                                //  contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                contentType: 'application/json',
                                async: false,
                                data: JSON.stringify(dataObject),
                                success: function (data) {

                                     MostrarMensaje('Datos guardados correctamente.', "success", "Satisfacorio", 6000);                                   
                                    RefreshCotizaciones();
                                    $('#myModalSalesOrder').modal('hide');
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {

                                    $("#btnSaveDebitNote").show();
                                     MostrarMensaje(textStatus + ": " + XMLHttpRequest.responseText, "Error", "Validación", 6000);
                                }
                            });

            

       

    }



</script>
